<ul id="genre-menu"></ul>
<section class="layout">
	<div id="drama"></div>
	<div id="anime"></div>
	<div id="variety"></div>
	<div id="documentaly"></div>
	<div id="youtube"></div>
	<div id="other"></div>
</section>

<h2 class="vidp-h2 fluid busy">急いでる人向けシンプルリスト＆出演者名で絞り込み</h2>
<details class="vidp-details" name="accordion">
  <summary>諸々説明</summary>
  <div>
    <ul class="vidp-ul">
      <li>上記詳細カードリストからデータを省略した「シンプルリスト」にしてあります。</li>

      <li>リスト内は、期限ステータスで<span class="!text-base list-badge status-deadline">期限があるもの</span>｜<span class="!text-base list-badge status-unknown">期限不明</span>｜<span class="!text-base list-badge status-expired">期限終了</span>とソートしてあります。</li>
    </ul>
  </div>
</details>
<details class="vidp-details" name="accordion">
  <summary>絞り込み検索</summary>
  <div>
    <ul>
      <li>下記インプット欄に調べたい出演者名を入れるとページ内の「出演している番組」が<b>あれば</b>絞り込めます。
      <ul>
        <li>アニメリストでは「姓/名の間にスペースを入れている」ので姓/名いずれかで検索すると良いと思います</li>
        <li>キャスト一覧から絞っているので<u>出演者情報がない番組については絞れません</u>。</li>
      </ul>
      </li>
    </ul>
  </div>
</details>

<input type="text" id="cast-search" placeholder="出演者名で絞り込む">
<section>
  <div class="search-and-list">
  <div class="list drama"></div>
  <div class="list anime"></div>
  <div class="list variety"></div>
  <div class="list youtube"></div>
  <div class="list documentaly"></div>
  <div class="list other"></div>
  </div>
</section>
