<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
  <meta name="description" content="{{ description or site.description }}">

	<link rel="alternate" type="application/atom+xml" title="{{ site.name }} Atom Feed" href="/feed.xml" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicons/favicon.svg" />
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png" />

    <!-- Open Graph -->
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if title %}{{ title }}{% else %}VidPick{% endif %}">
	<meta property="og:image" content="{% if cover %}{{ site.name }}{{ page.url | url }}{{ cover }}{% else %}{{ site.url }}/opengraph-cover.jpg{% endif %}" />
	<meta property="og:description" content="{% if description %}{{ description }}{% else %}VidPickはTVerやYoutubeからピックアップした動画をまとめたサイトです。11tyで作りました。{% endif %}" />
	<meta property="og:site_name" content="{{ site.name }}">
	<meta property="og:locale" content="ja_JP">

	<!-- Twitter -->
	<meta property="twitter:image" content="{% if cover %}{{ site.name }}{{ page.url | url }}{{ cover }}{% else %}{{ site.url }}/opengraph-cover.jpg{% endif %}" />
	<meta name="twitter:card" content="summary_large_image" />
</head>
{% if category == "vidpick" %}
<body class="vidpick">
{% else %}
<body>
{% endif %}
<div class="back-to-top-text" title="トップへ戻る" alt="return to top">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --><path fill="currentColor" d="M4 22v-2h16v2zm5-4v-7H5l7-9l7 9h-4v7z"/></svg>
</div>

  {% include "components/header.njk" %}

  <main class="main-content">
    {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}

  <script type="module" src="/assets/js/scripts.js"></script>
</body>
</html>
