---
title: YoutubeのOngoing
description: 期限未記載の動画集。画像の読み込みを終えてからリスト表示の変更をしているのでちょっとモタツキます
date: 2026-08-27
tags:
  - Youtube
category: vidpick
layout: post.njk
eleventyExcludeFromCollections: true
---

<p class="yt">
  予想以上に簡単で楽しい! AKB48の新井彩永さん&奥本カイリさんと最新の自作パソコンを組み立ててみた｜2026/6/30配信｜Real Sound Tech｜31:48
※ グループ内で結成しているバンドのメンバーの二人が、音楽を制作できるスペックの新たなパソコンを買わずに“作る”企画に挑戦！

  AKB48(新井彩永、奥本カイリ) らが出演しています

  https://youtu.be/q3EMMgR-x8E
</p>

<p class="yt">
  なるたおから見たAKB相関図を作ってみた!｜2026/6/16配信｜なるたおちゃんねる｜14:39
※ 終了期日未記載

  ※ 【AKB48】なるたおから見たAKB相関図を作ってみた！私たち目線ではありますがメンバーの人間関係が一目で分かる相関図を作ってみました👀✨

  倉野尾成美、下尾みう らが出演しています

  https://youtu.be/Ou2Jgf4Vsj0
</p>

<p class="yt">
  荒尾出身のなるが地元を本気で案内!｜2026/6/7配信｜なるたおちゃんねる｜19:29

  ※ 荒尾出身のなるが地元を本気で案内！念願の！！！地元でなるたおvlogです☺️✨嬉しい、楽しい、最高！あらお観光大使としてもご紹介したい場所はたくさんあったのでご協力いただいた、荒尾の皆さんに感謝でいっぱいです！

  AKB48(倉野尾成美、下尾みう) らが出演しています

  https://youtu.be/d5wiALxX4jo
</p>

<p class="yt">
  AKB48だけの島を作ってみた!｜2026/6/4配信｜なるたおちゃんねる｜30:31
  ※ AKB48だけの島を作ろうと思ったのですが…こだわりすぎて…😂顔のパーツや雰囲気など、細かいところまで再現しようとした結果、想像以上に時間がかかることに…！

  倉野尾成美、下尾みう らが出演しています

  https://youtu.be/qnX-qNn7ZfM
</p>

<p class="yt">
  一瞬で分かる!?メンバーのレッスン着クイズ!｜2026/5/30配信｜なるたおちゃんねる｜15:27

  ※ 【AKB48】一瞬で分かる！？メンバーのレッスン着クイズ！普段のレッスン着姿だけでメンバーを当てるクイズをやってみました！

倉野尾成美、下尾みう らが出演しています

  https://youtu.be/4A17j5UOOdU
</p>


<p class="yt">
  おもしろすぎて眠れなくなる深海の話｜2026/5/30配信｜VAIENCE バイエンス｜38:37

  ※ 長沼 毅 - 広島大学名誉教授、安田女子大学教授

  長沼毅 らが出演しています

  https://youtu.be/UYEStSZQUx0
</p>

<p class="yt">
  【公式】芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜10:13

  ※ 〈生〉旅YouTube登録者数100万人突破ありがとう記念特別篇!

  芳根京子 らが出演しています

  https://youtu.be/oLWzvxEG4Gc
</p>

<p class="yt">
  臼田あさ美、杉咲花と名所だらけの鋸山へ｜2026/6/23配信｜GINZA Magazine｜10:58

※ ドラマの共演を機に意気投合した俳優の杉咲花さんとともに、千葉・内房に鎮座する鋸山へと向かいました。

臼田あさ美、杉咲花 らが出演しています

  https://youtu.be/pXIjiihy3Kc
</p>

<p class="yt">
  SILENT HILL f #20 ☆ 2周目 加藤小夏｜2026/7/25配信｜SILENT HILL f を本人がやります｜1:52:26

  加藤小夏 らが出演しています

  https://youtu.be/hVpkYZQve4Y
</p>

<p class="yt">
  SILENT HILL f #19 ☆ 2周目 加藤小夏｜2026/6/25配信｜SILENT HILL f を本人がやります｜47:44
※ がんばります。6/26にSILENT HILL fにアップデートがあったと聞きますがそれらは適用されたのか気になる所。

加藤小夏 らが出演しています

  https://youtu.be/TiP_zmPfBGI
</p>
