---
title: 2026年8月のOngoing
date: 2026-08-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ おちたらおわり(2026) 1話の配信がTVerで始まりました。
  9/9 23:59まで

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード) らが出演しています

  https://tver.jp/episodes/epi2624m0j
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 1話の配信がTVerで始まりました。
  10/8 00:29まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、工藤莉奈、杉本愛里 らが出演しています

  https://tver.jp/episodes/ep9uvsj1uq
</p>

<p class="tver">
  ドラマSP 恋は50を過ぎてから(2022) の配信がTVerで始まりました。
  8/31 23:59まで

  ※ 2023年日本民間放送連盟賞 番組部門テレビドラマ優秀賞作品

  鶴見辰吾、鈴木杏樹、大田路、岩上隼也 らが出演しています

  https://tver.jp/episodes/epe9v2er2g
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 1話の配信がTVerで始まりました。
  9/23 23:59まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epvepeb7zn
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epmcbf7heg
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也 らが出演しています

  https://tver.jp/episodes/ep00etqal0
</p>

<p class="tver">
  ドラマ デスノート(2015) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/eprh061ljq
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉 らが出演しています

  https://tver.jp/episodes/epm5uuehpj
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 1話の配信がTVerで始まりました。
  9/30 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、大西武志、上田航平、飯田基祐、樋口日奈、小島藤子、戸田昌宏 らが出演しています

  https://tver.jp/episodes/epwgi3odiw
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 1話の配信がTVerで始まりました。
  8/7 23:59まで

  ※ 3日毎に最新話配信

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/eptow4y5xw
</p>

<p class="tver">
  バラエティ 2026FNS歌謡祭 夏(2026) の配信がTVerで始まりました。
  8/1 23:59まで

  Part1：https://tver.jp/episodes/epdpkmlkae
  Part2：https://tver.jp/episodes/epyndwbwt9
  Part3：https://tver.jp/episodes/epf6o5zpvo
  Part4：https://tver.jp/episodes/epwy5vw8lv

  相葉雅紀、井上清華、アイナ・ジ・エンド、あいみょん、ILLIT、Aぇ! group、池田エライザ、柿澤勇人、ウエンツ瑛士、木南晴夏、Kis-My-Ft2、CUTIE STREET、郷ひろみ、JI BLUE、島袋寛子、Juice=Juice、SUPER EIGHT、SUPER BEAVER、DIAMOND☆YUKAI、DISH//、TWS、TREASURE、Number_i、NEWS、NiziU、のん、HANA、BE:FIRST、日向坂46、ふぉ〜ゆ〜、ふみの、FRUITS ZIPPER、ME:I、M!LK、モナキ、緑黄色社会、礼真琴 らが出演しています
</p>

<p class="yt">
  予想以上に簡単で楽しい! AKB48の新井彩永さん&奥本カイリさんと最新の自作パソコンを組み立ててみた｜2026/6/30配信｜Real Sound Tech｜31:48
※ グループ内で結成しているバンドのメンバーの二人が、音楽を制作できるスペックの新たなパソコンを買わずに“作る”企画に挑戦！

  AKB48(新井彩永、奥本カイリ) らが出演しています

  https://youtu.be/q3EMMgR-x8E
</p>
