---
title: 2026年10月のOngoing
date: 2026-09-28
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  ドラマ グレイトギフト(2024) 1～3話の配信がTVerで始まりました。 51分
  11/8 23:59まで

  反町隆史、波瑠、明日海りお、小野花梨、盛山晋太郎(見取り図)、片山萌美、市川知宏、藤野涼子、濱正悟、中島瑠菜、坂東彌十郎、津田健次郎、倉科カナ、筒井道隆、尾上松也、佐々木蔵之介、山田明郷 らが出演しています

  https://tver.jp/episodes/eprad8rbme
</p>

<p class="tver">
  ドラマ 恋する警護24時(2024) 1～3話の配信がTVerで始まりました。
  11/8 23:59まで

  岩本照(Snow Man)、白石麻衣、藤原丈一郎(なにわ男子)、吉谷彩子、今野浩喜、小野武彦、松下由樹、溝端淳平 らが出演しています

  https://tver.jp/episodes/epi5ogwaxk
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2025) 1～3話の配信がTVerで始まりました。
  11/8 23:59まで

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、中村俊介、浜野謙太 らが出演しています

  https://tver.jp/episodes/epzhcp6bvj9
</p>

<p class="tver">
  ドラマ スカイキャッスル(2024) 1～3話の配信がTVerで始まりました。
  11/8 23:59まで

  松下奈緒、木村文乃、高橋メアリージュン、田辺誠一、鈴木浩介、本多力、大谷亮平、戸田菜穂、橋本じゅん、藤真利子、小野武彦、比嘉愛未、小雪 らが出演しています

  https://tver.jp/episodes/epvlpg3um8
</p>

<p class="tver">
  ドラマSP 花の冠(2012) 2012話の配信がTVerで始まりました。 48分
  11/15 23:59まで

  蓮佛美沙子、中川大志、斉藤由貴、眞島秀和、矢柴俊博、飯豊まりえ らが出演しています

  https://tver.jp/episodes/epdwt4anwb
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書17　おはようマドンナ(2022) の配信がTVerで始まりました。
  11/30 23:59まで

  濱田龍臣、浅川梨奈、山中柔太朗(M!LK)、柳美稀、佐久本宝、岩田陽菜、中山ひなの、紺野まひる、水橋研二 らが出演しています

  https://tver.jp/episodes/ep3ld05f5n
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 山形庄内 湯野浜温泉殺人事件の配信がTVerで始まりました。
  12/3 23:59まで

  内藤剛志、中山忍、山田純大、入江甚儀、金山一彦、紫吹淳 らが出演しています

  https://tver.jp/episodes/epxw72bdkc
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 鹿児島県・指宿温泉殺人事件の配信がTVerで始まりました。
  12/10 23:59まで

  内藤剛志、財前直見、村田雄浩、池田努、西堀文、堀川太陽、南翔太、藤重政孝 らが出演しています

  https://tver.jp/episodes/epw6jxx0dd
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 富山県 庄川温泉郷殺人事件の配信がTVerで始まりました。
  12/17 23:59まで

  内藤剛志、水野真紀、国広富之、生田智子、高杉亘、小越勇輝、冨手麻妙、華優希、加瀬信行、青木健、宮崎大和、平田雄也 らが出演しています

  https://tver.jp/episodes/epmbyybo25
</p>

<p class="tver">
  ドラマ VIVANT(2026) 11～13話の配信がTVerで始まりました。
  2027/1/17 20:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、山中崇、富栄ドラム、林原めぐみ、花岡すみれ、市川笑三郎、平山祐介、珠城りょう、内村遥、井上肇、西山潤、木幡竜、本間さえ、田中俊介、内野謙太、谷口翔太、藤本ルナ、花江夏樹、鬼頭明里、関智一、中山孟、原布助、二宮和也、橋爪功、井上順、市川猿弥、小林勝也、森田順平、池田成志、林泰文、吉原光夫、坂東彌十郎、濱田岳、キムラ緑子、小日向文世、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/ep9g9yncsv
</p>

<p class="tver">
  ドラマ 寺西一浩ミステリー・SPELL～第5章～ 正しい呪い(2026) 1話の配信がTVerで始まりました。
  2027/1/11 01:29まで

  寺西優真、泉ピン子、上野勇希、大関れいか、丹羽貞仁 らが出演しています

  https://tver.jp/episodes/epmqelwiml
</p>

<p class="tver">
  ドラマ 寺西一浩ミステリー・SPELL～第5章～ 正しい呪い(2026) 2話の配信がTVerで始まりました。
  2027/1/18 01:29まで

  寺西優真、泉ピン子、沙央くらま、上野勇希、大関れいか、丹羽貞仁 らが出演しています

  https://tver.jp/episodes/eptbjv1h22
</p>

<p class="tver">
  ドラマ 寺西一浩ミステリー・SPELL～第5章～ 正しい呪い(2026) 3話の配信がTVerで始まりました。
  2027/1/25 01:29まで

  寺西優真、泉ピン子、沙央くらま、上野勇希、大関れいか、丹羽貞仁 らが出演しています

  https://tver.jp/episodes/ep1ujdopc8
</p>

<p class="tver">
  ドラマ 寺西一浩ミステリー・SPELL～第5章～ 正しい呪い(2026) 4話の配信がTVerで始まりました。
  2027/2/1 01:29まで

  寺西優真、泉ピン子、沙央くらま、上野勇希、大関れいか、丹羽貞仁 らが出演しています

  https://tver.jp/episodes/ep83beoq8a
</p>

<p class="tver">
  ドラマ 夜空に預けたもの 前編(2026) の配信がTVerで始まりました。
  2027/2/6 01:59まで

  星咲花那、三橋加奈子、中井りか、美燈みなみ、宮崎あみさ、菅原りこ、北原里英 らが出演しています

  https://tver.jp/episodes/epvwa62hp4
</p>

<p class="tver">
  ドラマ オーバー30(2009) 1話の配信がTVerで始まりました。
  2027/2/8 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epmpvapl4i
</p>

<p class="tver">
  ドラマ オーバー30(2009) 2～4話の配信がTVerで始まりました。
  2027/2/9 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epxa0ypfyy
</p>

<p class="tver">
  ドラマ オーバー30(2009) 5～7話の配信がTVerで始まりました。
  2027/2/10 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep11ktt1gj
</p>

<p class="tver">
  ドラマ オーバー30(2009) 8～10話の配信がTVerで始まりました。
  2027/2/11 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep02p088ja
</p>

<p class="tver">
  ドラマ オーバー30(2009) 11～13話の配信がTVerで始まりました。
  2027/2/12 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epr48tt82l
</p>

<p class="tver">
  ドラマ オーバー30(2009) 17話の配信がTVerで始まりました。 24分
  2027/2/14 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ、松尾青龍、佐藤晨 らが出演しています

  https://tver.jp/episodes/ep796dji4g
</p>

<p class="tver">
  ドラマ オーバー30(2009) 20～22話の配信がTVerで始まりました。
  2027/2/15 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep3wep1fb2
</p>

<p class="tver">
  ドラマ オーバー30(2009) 23～25話の配信がTVerで始まりました。
  2027/2/16 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epvg15pqqi
</p>

<p class="tver">
  ドラマ オーバー30(2009) 26～28話の配信がTVerで始まりました。
  2027/2/17 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epnq22i90m
</p>

<p class="tver">
  ドラマ オーバー30(2009) 29～31話の配信がTVerで始まりました。
  2027/2/18 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep5izphix6
</p>

<p class="tver">
  ドラマ オーバー30(2009) 32～34話の配信がTVerで始まりました。
  2027/2/19 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep45bkq91r
</p>

<p class="tver">
  ドラマ オーバー30(2009) 35～37話の配信がTVerで始まりました。
  2027/2/20 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/eplzlharmt
</p>

<p class="tver">
  ドラマ オーバー30(2009) 38～40話の配信がTVerで始まりました。
  2027/2/21 12:00まで

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep0k6qlnur
</p>


<p class="tver">
  アニメ メイドインアビス(2019) 1話の配信がTVerで始まりました。
  11/11 21:00まで

  富田美憂、伊瀬茉莉也、井澤詩織、大原さやか、豊崎愛生、田村睦心、沼倉愛美、塙真奈美、村田太志、坂本真綾 らが出演しています

  https://tver.jp/episodes/epanvd0e2q
</p>

<p class="tver">
  アニメ 劇場版 魔法少女まどか☆マギカ［新編］叛逆の物語(2026) の配信がTVerで始まりました。
  11/12 18:59まで
  ※ 【狩野英孝解説付き】Part1～2

  Part1：https://tver.jp/episodes/epa984dxax
  Part2：https://tver.jp/episodes/epxzwdj39o
  Part3：https://tver.jp/episodes/ep3ub6ptfi

  悠木碧、斎藤千和、水橋かおり、喜多村英梨、野中藍、加藤英美里、阿澄佳奈、狩野英孝 らが出演しています
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 1話の配信がTVerで始まりました。
  11/17 09:00まで

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epek9fqeo1
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 1話の配信がTVerで始まりました。
  12/2 08:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/eppigzet3c
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 1話の配信がTVerで始まりました。
  12/22 00:00まで

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/eplyzwku1k
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 1(1～2)話の配信がTVerで始まりました。
  12/25 08:30まで

  ※ 既に配信継続中の同作の1話が配信されていました。

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epbl1sj275
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026・2期) 13話の配信がTVerで始まりました。
  2027/1/1 01:30まで

  ※ 2期の1話です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epqu77necv
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026) 1話の配信がTVerで始まりました。
  2027/1/1 01:30まで

  ※ 1期です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之 らが出演しています

  https://tver.jp/episodes/epfhv3q24h
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 1話の配信がTVerで始まりました。
  2027/1/4 00:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/ep3eam1kd5
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 1話の配信がTVerで始まりました。
  2027/1/6 23:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epb33juzss
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 25話の配信がTVerで始まりました。
  2027/1/8 00:00まで

  ※ 3期の1話です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epz0fqdfr0
</p>

<p class="tver">
  アニメ あたしンち(2002・1期) 1話の配信がTVerで始まりました。
  2027/1/11 00:00まで

  ※ TVでは1回で2話入っていましたが、こちらは3話構成です

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epo3ejwczt
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 1話の配信がTVerで始まりました。
  2027/2/3 08:30まで

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/ep06rd0b8h
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 1話の配信がTVerで始まりました。
  2027/2/5 12:00まで

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/eptw9isv5a
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 1話の配信がTVerで始まりました。
  2027/2/18 08:30まで

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/epn0mmcgnl
</p>


<p class="tver">
  バラエティ 今井翼 タイ縦断鉄道の旅(2023) 1～20回の配信がTVerで始まりました。
  12/28 23:59まで

  ※ 旅のスタートはタイ第2の都市・チェンマイ。
  日本とは違った雰囲気の駅舎や鉄道を眺め、異国の地を身をもって感じる今井翼

  今井翼、鈴夏あや らが出演しています

  https://tver.jp/episodes/epbyu00r19
</p>

<p class="tver">
  バラエティ 映画「口に関するアンケート」に関するアンケートに関する番組(2026) 1～5回の配信がTVerで始まりました。
  12/31 23:59まで

  ※ [7分の番組です]202606071342

  板垣李光人、綱啓永、吉川愛、MOMONA(ME:I)、森愁斗(BUDDiiS)、西山智樹、柄本時生、中村獅童、上垣皓太朗 らが出演しています

  https://tver.jp/episodes/epqmtiqcsz
</p>

<p class="tver">
  バラエティ アメリカ横断ウルトラクイズ(2026) の配信がTVerで始まりました。
  12/31 23:59まで

  ※ アメリカ横断ウルトラクイズ伝説の名場面を櫻井翔と見ようSP

  櫻井翔、福澤朗 らが出演しています

  https://tver.jp/episodes/epderimjm6
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 3回の配信がTVerで始まりました。
  2027/1/8 19:29まで

  ※ メタルを扱い伝統工芸からハイテクへ

  磯田道史、佐藤彩加 らが出演しています

  https://tver.jp/episodes/epee2u6a21
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 1～2回の配信がTVerで始まりました。
  2027/1/1 19:59まで

  ※ M&Aで440年歴史つなぐ老舗呉服店。映画に欠かせない道具を商いに

  老舗呉服店：https://tver.jp/episodes/epuoq9vbv3
  映画道具：https://tver.jp/episodes/ep4t5tn22o

  磯田道史、佐藤彩加 らが出演しています
</p>

<p class="tver">
  バラエティ コワイハナシ(2026) の配信がTVerで始まりました。
  2027/1/6 01:20まで

  ※ 好井まさおのコワイハナシ「北海道にて」

  好井まさお、大村杏(SKE48) らが出演しています

  https://tver.jp/episodes/epiu0qchu5
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 1～2回の配信がTVerで始まりました。
  2027/1/10 21:00まで

  ※ (配信限定)別班、公安に復讐するため、今宵もTBSラジオの電波をジャックする…日曜の夜は、終わらない――。

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/epti5vox2v
</p>

<p class="tver">
  バラエティ VIVANT 初回直前生放送 SP(2026) の配信がTVerで始まりました。
  2027/1/10 21:00まで

  ※ 堺×阿部×二宮×松坂が集結！今からでも間に合うSPダイジェスト★

  堺雅人、阿部寛、二宮和也、松坂桃李、竜星涼、迫田孝也、富栄ドラム、川島明(麒麟)、田村真子、長嶋一茂、チョコレートプラネット(長田庄平、松尾駿)、高木菜那、尾形貴弘(パンサー) らが出演しています

  https://tver.jp/episodes/epl73txtxx
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) の配信がTVerで始まりました。
  2027/1/11 20:29まで

  ※ 今回のテーマは、納涼キャンプ！日も暮れて、夏と言えば…『怪談』。キャンピングカーの中でタケト、シークエンスはやともの語る「本当にあった怖い話」。はやともが家の内件で体験した〇〇…タケトが町中華で出会った〇〇…で車内絶叫！

  田村淳、オダウエダ、タケト、シークエンスはやとも らが出演しています

  https://tver.jp/episodes/ep6oq8oyzs
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) 29回の配信がTVerで始まりました。
  2027/1/4 20:29まで

  ※ 今回のテーマは『納涼キャンプ』淳がオダウエダの2人と共に避暑地へ！

  田村淳、オダウエダ、タケト、シークエンスはやとも らが出演しています

  https://tver.jp/episodes/ephpq223rc
</p>

<p class="tver">
  バラエティ スナックコットン(2026) の配信がTVerで始まりました。
  2027/1/17 23:59まで

  ※ 島谷ひとみ緊急来店　耳に残るご当地ストアソングをメンバーが調査

  コットン(西村真二、きょん)、島谷ひとみ、メンバー(山口提樹、潮圭太) らが出演しています

  https://tver.jp/episodes/epkp14wz0j
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 3～6回の配信がTVerで始まりました。
  2027/1/17 20:59まで

  ※ 野崎は敵か！味方か！？衝撃の裏切りに山本、ワニズ、ゴビが大混乱！

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/epry0n9d6n
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) の配信がTVerで始まりました。
  2027/2/1 20:29まで

  ※ キャンプ初心者・朝日奈央と軽キャンで行く秦野の旅

  田村淳、ナダル、朝日奈央、しずちゃん(南海キャンディーズ) らが出演しています

  https://tver.jp/episodes/ep81lpfc0x
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) の配信がTVerで始まりました。
  2027/2/8 20:29まで

  ※ 朝日さんの夢の「おにぎり」を作るため、創業70年以上の歴史を誇るお米の専門店へ

  田村淳、朝日奈央、ナダル、しずちゃん(南海キャンディーズ) らが出演しています

  https://tver.jp/episodes/ep6cq44zbl
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 4回の配信がTVerで始まりました。
  2027/2/12 19:29まで

  ※ 国内唯一生き残る木版出版 芸艸堂

  磯田道史、佐藤彩加 らが出演しています

  https://tver.jp/episodes/epg2bllqy7
</p>

<p class="tver">
  バラエティ トニふる～トニセンのふるさと応援隊～(2026) 4回の配信がTVerで始まりました。
  2027/2/16 20:54まで

  ※ 笑顔と発見があふれる“福井県の旅”を、トニセンが元気に駆け巡ります

  20th Century(坂本昌行、長野博、井ノ原快彦) らが出演しています

  https://tver.jp/episodes/epaxmwb7mj
</p>

<p class="tver">
  ドキュメンタリー Creators' Anthem(2026) の配信がTVerで始まりました。
  2027/1/25 00:00まで

  ※ 元AKB48のメンバーが制作チームに電撃加入！？

  川本紗矢 らが出演しています

  https://tver.jp/episodes/epljge1tkw
</p>




<p class="tver">
  その他 京都画報(2026) 57回の配信がTVerで始まりました。
  2027/2/11 20:52まで

  ※ 祇園祭を彩る名宝拝見

  常盤貴子、笹岡隆甫、岸本吉博 らが出演しています

  https://tver.jp/episodes/epd7jwt9a2
</p>

<p class="tver">
  その他 ナインティナイン岡村隆史の花の駐在さん(2026) の配信がTVerで始まりました。
  2027/2/16 13:29まで

  ※ ナインティナイン岡村隆史の花の駐在さん～駐在さんと赤い糸～

  岡村隆史(ナインティナイン)、ジミー大西、川畑泰史、島田一の介、原西孝幸(FUJIWARA)、おいでやす小田、ちょんまげラーメン(田渕章裕、きむ)、守谷日和、エルフ(荒川、はる)、生田衣梨奈、くっきー!(野性爆弾)、たくろう(赤木裕、きむらバンド) らが出演しています

  https://tver.jp/episodes/eps7jfo9lf
</p>


<p class="yt">
  劇場版 誰ガ為のアルケミスト｜2026/9/1配信｜アニメタイムズ公式｜1:57:54
  ※ 2026/11/30(月) 23:59まで

  水瀬いのり：カスミ
  逢坂良太：エドガー
  降幡愛：リズベット
  花江夏樹：ロギ
  石川界人：ディオス
  堀江由衣：ウロボロス
  生天目仁美：ティナ
  内田雄馬：ザイン
  今井麻美：セツナ
  早見沙織：クロエ
  江口拓也：オーティマ
  Lynn：メラ
  福山潤：ニクス

  https://youtu.be/triVh29NeYI
</p>

<p class="yt">
  アニメ「ゲキドル」1～12話｜2026/6/19配信｜アニメタイムズ公式｜4:41:55
※  2028/3/31(金) 23:59まで

赤尾ひかる：守野せりあ
持田千妃来：各務あいり
諏訪　彩花：雛咲いずみ
花澤　香菜：榊原かをる
Ｍ・Ａ・Ｏ：ドール
山本　希望：浅葱 晃
髙野　麻美：藤田愛美
秋吉　あや：山本和春
佐藤亜美菜：中村繭璃
鳥海　浩輔：竹崎宏和
八島さらら：樋口真琴
水橋かおり：日向智子

  https://youtu.be/UxwfaQgAQos
</p>

<p class="yt">
  アニメ「KITE LIBERATOR」｜2026/8/21配信｜アニメタイムズ公式｜58:05
  ※ 2028/3/31(金) 23:59まで

  井上麻里奈：野口百南花
  小山力也：野口折外
  佐藤せつじ：土井光一
  乃村健次：野口一象
  真堂圭：野口愛月
  森田成一：我賀倫
  麦人：雨津都呂九郎
  岡村明美：向井万夏
  ヤスヒロ：追音貴知&香衣

  https://youtu.be/UAtvrruHC1E
</p>

<p class="yt">
  アニメ「A KITE INTERNATIONAL VERSION」｜2026/5/29配信｜アニメタイムズ公式｜47:17
※ 2028/3/31(金) 23:59まで。インターナショナルバージョンとは、アダルトシーンを削除して、アクション要素を強めたR指定バージョン。日本語吹き替え(?)音声は日本語でした。

鳴瀬　琴美：砂羽
小山田慎吾：音不利
渋沢　五郎：赤井
的場　辰夫：蟹江

  https://youtu.be/ssOcffgEAFM
</p>

<p class="yt">
  アニメ「Z/X Code reunion」1話～12話｜2026/5/8配信｜アニメタイムズ公式｜4:44:08
※ 2028/3/31(金) 23:59まで。各務原(かがみはら)、鬼神野(きじの)、東雲(しののめ)、天ノ川(そらのかわ)です

小倉　　唯：各務原あづみ
内田　　彩：リゲル
水瀬いのり：天ノ川衣奈
長縄まりあ：東雲纏
鈴木　愛奈：鬼神野シュリ
富田　美憂：月形由仁
白井　悠介：ネフライト
星谷　美緒：ゾンネ
山口　　愛：ムラマサ
春村　奈々：アムリタ
祖山　桃子：イラ

  https://youtu.be/MUtP6_D02gk
</p>

<p class="yt">
  アニメ「ロケットガール」1～12話｜2026/6/5配信｜アニメタイムズ公式｜4:45:43
  ※ 2028/3/31 23:59まで。と書いてありましたが2028年は怪しい

  仙台　エリ：森田ゆかり
  生天目仁美：マツリ
  長谷川静香：三浦茜
  菅生　隆之：那須田勲
  柳沢真由美：旭川さつき
  豊嶋真千子：三原素子

  https://youtu.be/WjFuUQ2WYHI
</p>

<p class="yt">
  アニメ「最後の召喚師 -The Last Summoner-」1～12話｜2026/6/12配信｜アニメタイムズ公式｜4:36:13
※ 2028/3/31(金) 23:59まで

岡本　信彦：アジェ
種﨑　敦美：ドラ
礒部　花凜：ミャウ
相羽あいな：ハナ
河野ひより：スタン

  https://youtu.be/789zYZmARA0
</p>

<p class="yt">
  アニメ「ソラとウミのアイダ」1～12話｜2026/7/3配信｜アニメタイムズ公式｜4:44:25
※ 2028/3/31(金) 23:59まで

高橋　花林：空町春
立花　理香：村上波乃
井上ほの花：ルビー・安曇
すずきももこ：櫻舞湖
米野　真織：薪真紀子
神坂　みお：美剣真

  https://youtu.be/ktMPsnNXsvg
</p>

<p class="yt">
  アニメ「レガリア The Three Sacred Stars」1～13話｜2026/7/10配信｜アニメタイムズ公式｜5:07:47
※ 2028/3/31(金) 23:59まで

本渡　楓　：ユイ
佐倉　綾音：レナ
久保ユリカ：サラ
小倉　唯　：ティア
瀬戸麻沙美：イングリッド
東山　奈央：ケイ
金元　寿子：レツ
緒方　恵美：ヨハン
浅倉　杏美：アオイ
井口　裕香：ナル
勝生真沙子：マーガレット
家中　宏　：マーシャル
宇垣　秀成：テオドア

  https://youtu.be/p7y5a3VBijE
</p>

<p class="yt">
  アニメ「COBRA THE ANIMATION タイム・ドライブ」1～2話｜2026/7/31配信｜アニメタイムズ公式｜57:46
  ※ 2028/3/31(金) 23:59まで

  野沢　那智：コブラ
  榊原　良子：アーマロイド・レディ
  内田　直哉：過去のコブラ
  高山みなみ：エメラルダ
  小杉十郎太：魔二童
  楠見　尚己：ギロス
  宮澤　正：奴婆
  ちふゆ：シェラザード
  東條加那子：レイラ
  牛田　裕子：パロマ

  https://youtu.be/KIgDkJx1GwM
</p>

<p class="yt">
  アニメ「奏光のストレイン」第1〜第13話｜2026/8/28配信｜アニメタイムズ公式｜5:09:04
  ※ 2028/3/31(金) 23:59まで

  川澄綾子：セーラ・ウィーレック
  近藤隆：ラルフ・ウィーレック
  野中藍：エミリィ
  ゆかな：ロッティ・ゲラー
  松来未祐：ジェッシィ・アイジェス
  保志総一朗：カリスフォド・ラドフリックス
  谷山紀章：ディコン・シドノック
  花井なお：マーサ・シュビーパウエル
  阪田佳代：アーメンガァド・ヨハニッツ
  野中藍：ラヴィニア・リベルス
  皆川純子：メルチセデック
  谷井あすか：マリエット、カアマイクル

  https://youtu.be/-iT7z5oCRFY
</p>
