---
title: 2026年6～7月のOngoing
date: 2026-06-29
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  映画「Mr.ホームズ 名探偵最後の事件」(2016)｜2026/6/5配信｜ギャガ公式チャンネル｜1:44:00
  ※ 期間限定ですが期限が書いてないのでお早めに

  坂部　文昭｜シャーロック・ホームズ：イアン・マッケラン
  小平　有希｜ロジャー：マイロ・パーカー
  棟方真梨子｜マンロー夫人：ローラ・リニー
  内田　有夜｜タミキ・ウメザキ：真田広之

  吹替版：https://youtu.be/Whd3mk_xBvU
 字幕版：https://youtu.be/jz2pJe9dSM4
</p>

<p class="yt">
  映画「ダイアナ(2013)」｜2026/6/12配信｜ギャガ公式チャンネル｜1:52:54
  ※ 期間限定ですが期限の記載がないのでお早めに

  米倉涼子｜ダイアナ：ナオミ・ワッツ
  てらそままさき｜ハスナット・カーン：ナヴィーン・アンドリュース
  飛田展男｜ポール・バレル：ダグラス・ホッジ

  吹替版：https://youtu.be/FWRu0WDPHT4
  字幕版：https://youtu.be/J840Z_fPAL4
</p>

<p class="yt">
  映画「ロイヤル・ナイト 英国王女の秘密の外出(2016)」｜2026/6/19配信｜ギャガ公式チャンネル｜1:37:06
※ 期間限定ですが期限がないのでお早めに

下山田綾華｜エリザベス王女：サラ・ガドン
竹内恵美子｜マーガレット王女：ベル・パウリー
喜代原まり｜エリザベス王妃：エミリー・ワトソン
各務　立基｜国王ジョージ６世：ルパート・エヴェレット
日野　　聡｜ジャック・ホッジス：ジャック・レイナー

  吹替版：https://youtu.be/zpRuSoMDRKk
</p>

<p class="yt">
  アニメ「ゲキドル」1～12話｜2026/6/19配信｜アニメタイムズ公式｜4:41:55
※  2028/3/31(金) 23:59まで

赤尾ひかる：守野せりあ
持田千妃来：各務あいり
諏訪　彩花：雛咲いずみ
花澤　香菜：榊原かをる
Ｍ・Ａ・Ｏ：ドール
山本　希望：浅葱 晃
髙野　麻美：藤田愛美
秋吉　あや：山本和春
佐藤亜美菜：中村繭璃
鳥海　浩輔：竹崎宏和
八島さらら：樋口真琴
水橋かおり：日向智子

  https://youtu.be/UxwfaQgAQos
</p>

<p class="tver">
  ドラマ ヤンキー激戦区の四天王がアイドルグループに転生したら？(2026) 1～3話の配信がTVerで始まりました。
  8/20 00:58まで

  ≠ME(冨田菜々風、櫻井もも、鈴木瞳美、蟹沢萌子、谷崎早耶、本田珠由記、落合希来里、尾木波菜、永田詩央里、河口夏音、川中子奈月心)、=LOVE(野口衣織、大場花菜)、味方良介、のせりん、塚地武雅(ドランクドラゴン) らが出演しています

  https://tver.jp/episodes/ep5zk6ficr
</p>

<p class="tver">
  ドラマSP 山村美紗サスペンス 狩矢父娘シリーズ(2002) 2・4・8～10話の配信がTVerで始まりました。
  8/23 23:59まで

  藤谷美紀、田村亮、田中健、相田翔子、山村紅葉、大沢健、中野良子、深江卓次、田中千代、北原佐和子、竜川剛、小林勝彦、佐川満男 らが出演しています

  https://tver.jp/episodes/epxk65fmzg
</p>

<p class="tver">
  ドラマSP おかしな刑事(2007) 4～10話の配信がTVerで始まりました。
  8/23 23:59まで

  伊東四朗、羽田美智子、石井正則、戸田恵子、山口果林、下條アトム、石田太郎、小倉久寛、矢島健一、青山勝、佐渡稔、林家しん平、メイサツキ らが出演しています

  https://tver.jp/episodes/eprcx4y113
</p>

<p class="yt">
  なるたおから見たAKB相関図を作ってみた!｜2026/6/16配信｜なるたおちゃんねる｜14:39
※ 終了期日未記載

  ※ 【AKB48】なるたおから見たAKB相関図を作ってみた！私たち目線ではありますがメンバーの人間関係が一目で分かる相関図を作ってみました👀✨

  倉野尾成美、下尾みう らが出演しています

  https://youtu.be/Ou2Jgf4Vsj0
</p>

<p class="yt">
  荒尾出身のなるが地元を本気で案内!｜2026/6/7配信｜なるたおちゃんねる｜19:29

  ※ 荒尾出身のなるが地元を本気で案内！念願の！！！地元でなるたおvlogです☺️✨嬉しい、楽しい、最高！あらお観光大使としてもご紹介したい場所はたくさんあったのでご協力いただいた、荒尾の皆さんに感謝でいっぱいです！

  AKB48(倉野尾成美、下尾みう) らが出演しています

  https://youtu.be/d5wiALxX4jo
</p>

<p class="yt">
  アニメ「Z/X Code reunion」1話～12話｜2026/5/8配信｜アニメタイムズ公式｜4:44:08
※ 2028/3/31(金) 23:59まで。各務原(かがみはら)、鬼神野(きじの)、東雲(しののめ)、天ノ川(そらのかわ)です

小倉　　唯：各務原あづみ
内田　　彩：リゲル
水瀬いのり：天ノ川衣奈
長縄まりあ：東雲纏
鈴木　愛奈：鬼神野シュリ
富田　美憂：月形由仁
白井　悠介：ネフライト
星谷　美緒：ゾンネ
山口　　愛：ムラマサ
春村　奈々：アムリタ
祖山　桃子：イラ

  https://youtu.be/MUtP6_D02gk
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 山形庄内 湯野浜温泉殺人事件の配信がTVerで始まりました。
  12/3 23:59まで

  内藤剛志、中山忍、山田純大、入江甚儀、金山一彦、紫吹淳 らが出演しています

  https://tver.jp/episodes/epxw72bdkc
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep3aaf78q3
</p>

<p class="tver">
  ドラマ 昔の男(2001) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  藤原紀香、富田靖子、阿部寛、鈴木一真、黒谷友香、加藤貴子、林美智子、清水綋治、藤田弓子、石倉三郎、大沢たかお らが出演しています

  https://tver.jp/episodes/epka43105s
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、高橋洋、葉山奨之、古畑星夏、オクイシュージ、佐々木一平、清水優、新井郁、真野恵里菜、古舘寛治、宇梶剛士、富田靖子、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep6aw0at0a
</p>

<p class="tver">
  ドラマ 週末婚(1999) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、神山繁、織本順吉、戸川京子、根岸季衣、中原ひとみ、仲村トオル らが出演しています

  https://tver.jp/episodes/epebtlkdiy
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、酒向芳、野間口徹、絃瀬聡一、清乃あさ姫、成田凌、酒井敏也、藤本隆宏、西田尚美、仙道敦子、原日出子、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epa1s0v05d
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、佐藤二朗、中村豪、やるせなす、兵頭有紀、酒井敏也、恵俊彰、黒田知永子、山本圭、勝村政信、竹中直人 らが出演しています

  https://tver.jp/episodes/ep8n4bx0dv
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、駿河太郎、原田夏希、生稲晃子、吉倉あおい、岩井秀人、段田安則、小日向文世、内藤剛志、麻生祐未 らが出演しています

  https://tver.jp/episodes/ep3kyj12bn
</p>

<p class="tver">
  ドラマ ケイジとケンジ、時々ハンジ。(2023) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  桐谷健太、比嘉愛未、磯村勇斗、中村アン、岡崎紗絵、長井短、西村元貴、古田新太、峯村リエ、奥貫薫、伊藤淳史、吉瀬美智子、北村有起哉 らが出演しています

  https://tver.jp/episodes/epieeov4f5
</p>

<p class="tver">
  ドラマSP 不協和音 炎の刑事 VS 氷の検事(2020) の配信がTVerで始まりました。
  8/23 23:59まで

  田中圭、中村倫也、趣里、相島一之、木下ほうか、杉本哲太、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epc25i5aub
</p>

<p class="tver">
  ドラマ VIVANT(2023) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、迫田孝也、山中崇、飯沼愛、バルサラハガバ・バタボルド、渡辺邦斗、古屋呂敏、真凛、富栄ドラム、岩本樹起、中山孟、原布助、マーティン・スター、二宮和也、高梨臨、林原めぐみ、橋本さとし、市川猿弥、林遣都、小日向文世、役所広司 らが出演しています

  https://tver.jp/episodes/ep0u2t31b9
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、チェ・ジウ、田中みな実、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/eprur62f1d
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、山田優、上野樹里、佐藤江梨子、岡あゆみ、小西真奈美、小日向文世、風吹ジュン らが出演しています

  https://tver.jp/episodes/ept15wey91
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、中村倫也、阿部進之介、竹内涼真、佐野岳、大石吾朗、阿藤快、ルー大柴、真矢ミキ、新井浩文、木下ほうか、橋本さとし、春風亭昇太、東国原英夫、池畑慎之介、恵俊彰、倍賞美津子、吉川晃司、杉良太郎、松平定知 らが出演しています

  https://tver.jp/episodes/epqw8639b0
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、音月桂、堀内敬子、杉咲花、生瀬勝久、吉田鋼太郎、奥貫薫、田中要次、有村架純、田口浩正、小日向文世、篠田三郎、瑳川哲朗、長谷川博己、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epp4wnixwz
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、吉田鋼太郎、伊藤淳史、有村架純、池松壮亮、阿部力、平山祐介、深水元基、村杉蝉之介、有福正志、奥貫薫、戸田昌宏、鶴見辰吾、染谷将太、田口浩正、田中要次、音月桂、瑳川哲朗、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epnq6s3jwh
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、古畑星夏、清塚信也、白石糸、小林きな子、吉田悟郎、赤澤ムック、泉春花、浅野和之、志田未来、泉澤祐希、高橋メアリージュン、ナオト・インティライミ、菅原大吉、土村芳、松本穂香、安藤輪子、毎熊克哉、戸田昌宏、奥貫薫、佐々木蔵之介、江口のりこ、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epk0lj9xbl
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、平山祐介、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、高村佳偉人、綾戸智恵、浅野和之、要潤、臼田あさ美、川村ゆきえ、大島蓉子、西慶子、梅舟惟永、千眼美子(清水富美加)、小栗旬、江口のりこ、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epc3sow8zn
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 1～4話の配信がTVerで始まりました。
  7/26 20:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、濱田マリ、浜田学、崎山凛、でんでん、山口美也子、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/ep7z1886me
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG(2PM)、相葉裕樹、菊田大輔、永瀬匡、峰竜太、佐々木希、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/ep54d9omyq
</p>

<p class="tver">
  ドラマ 新参者(2010) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、内海桂子、小林隆、小泉深雪、沢木ルカ、香川照之、杏、市原悦子、夏川結衣、石黒英雄、紺野まひる、柴本幸、津田寛治、阿南健治、麻生祐未、原田芳雄、木村祐一、草刈民代、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/ep2q18x77q
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2025) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、中村俊介、浜野謙太 らが出演しています

  https://tver.jp/episodes/epzhcp6bvj9
</p>

<p class="yt">
  アニメ「ロケットガール」1～12話｜2026/6/5配信｜アニメタイムズ公式｜4:45:43
  ※ 2028/3/31 23:59まで。と書いてありましたが2028年は怪しい

  仙台　エリ：森田ゆかり
  生天目仁美：マツリ
  長谷川静香：三浦茜
  菅生　隆之：那須田勲
  柳沢真由美：旭川さつき
  豊嶋真千子：三原素子

  https://youtu.be/WjFuUQ2WYHI
</p>

<p class="tver">
  ドラマSP ダブルフェイス 潜入捜査編(2012) の配信がTVerで始まりました。
  7/26 20:59まで

  西島秀俊、香川照之、和久井映見、伊藤淳史、伊藤かずえ、堀部圭亮、高橋光臣、平田満、小日向文世、角野卓造 らが出演しています

  https://tver.jp/episodes/epsdz8s6z7
</p>

<p class="tver">
  ドラマSP ダブルフェイス 偽装警察編(2013) の配信がTVerで始まりました。
  7/26 20:59まで

  香川照之、西島秀俊、蒼井優、和久井映見、伊藤かずえ、堀部圭亮、高橋光臣、田中要次、伊藤淳史、角野卓造、北見敏之、平田満、小日向文世 らが出演しています

  https://tver.jp/episodes/ep6y1ro1qg
</p>

<p class="tver">
  ドラマ GTO(1998) 1～12話の配信がTVerで始まりました。
  7/31 23:59まで

  反町隆史、松嶋菜々子、希良梨、池内博之、山崎裕太、徳山秀典、窪塚洋介、中村愛美、黒田美樹、小栗旬、白川みなみ、林知花、藤木直人、馬渕英里何、立石涼子、ガダルカナル・タカ、近藤芳正、円城寺あや、小林正寛、井田國彦、三又又三、山崎まさや、中尾彬、白川由美 らが出演しています

  https://tver.jp/episodes/epma069d5m
</p>

<p class="tver">
  ドラマ セミオトコ(2019) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  山田涼介(Hey! Say! JUMP)、木南晴夏、今田美桜、三宅健、しずちゃん(南海キャンディーズ)、やついいちろう、北村有起哉、佐藤仁美、田中美奈子、阿川佐和子、檀ふみ らが出演しています

  https://tver.jp/episodes/epzw6hj3nf
</p>

<p class="tver">
  ドラマ 離婚しない男―サレ夫と悪嫁の騙し愛―(2024) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  伊藤淳史、小池徹平、佐藤大樹、篠田麻里子、玉田志織、水野美紀 らが出演しています

  https://tver.jp/episodes/epjlg63wd6
</p>

<p class="tver">
  ドラマ サイン—法医学者 柚木貴志の事件—(2019) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  大森南朋、松雪泰子、飯豊まりえ、高杉真宙、佐津川愛美、森川葵、淵上泰史、利重剛、木下ほうか、西田敏行、仲村トオル らが出演しています

  https://tver.jp/episodes/epismbvaur
</p>

<p class="tver">
  ドラマSP BORDER 贖罪(2017) の配信がTVerで始まりました。
  8/23 23:59まで

  小栗旬、青木崇高、波瑠、遠藤憲一、古田新太、滝藤賢一、野間口徹、浜野謙太、満島真之介、中村ゆりか、大森南朋、國村隼 らが出演しています

  https://tver.jp/episodes/epsubxruxh
</p>

<p class="tver">
  ドラマSP 名探偵・明智小五郎(2019) 2(最終)話の配信がTVerで始まりました。
  8/23 23:59まで

  西島秀俊、伊藤淳史、石田ゆり子、岸井ゆきの、香川照之 らが出演しています

  https://tver.jp/episodes/epo2xcg3bd
</p>

<p class="tver">
  ドラマSP 名探偵・明智小五郎(2019) 1話の配信がTVerで始まりました。
  8/23 23:59まで

  西島秀俊、伊藤淳史、石田ゆり子、岸井ゆきの、香川照之 らが出演しています

  https://tver.jp/episodes/ephun88esr
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、ホラン千秋、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、木村祐一、烏丸せつこ、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epxacq8j82
</p>

<p class="tver">
  ドラマ 六月のタイムマシン(2025) 1～8話の配信がTVerで始まりました。
  8/31 23:59まで

  ICEx(志賀李玖、八神遼介)、小浜桃奈、佐藤京、矢嶋由菜、松本大輝 らが出演しています

  https://tver.jp/episodes/ep2wqpnorg
</p>

<p class="tver">
  ドラマ その結婚、正気ですか？(2023) 1～3話の配信がTVerで始まりました。
  8/5 00:00まで

  岡本玲、長妻怜央、和田雅成、押田岳、薄幸(納言)、向里祐香、堀口紗奈、まりあ、林ゆめ、冨手麻妙、佐野岳 らが出演しています

  https://tver.jp/episodes/epk8wrswhr
</p>

<p class="tver">
  ドラマ セレブ男子は手に負えません(2024) 6～8話の配信がTVerで始まりました。
  7/27 23:59まで

  若月佑美、鈴木康介、本田響矢、井手上漠、中尾暢樹 らが出演しています

  https://tver.jp/episodes/eppguw59hz
</p>

<p class="tver">
  ドラマ ケイジとケンジ 所轄と地検の24時(2020) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  桐谷健太、東出昌大、比嘉愛未、磯村勇斗、今田美桜、峯村リエ、渋谷謙人、奥山かずさ、西村元貴、矢柴俊博、菅原大吉、奥貫薫、柳葉敏郎、風間杜夫 らが出演しています

  https://tver.jp/episodes/epldtwui8h
</p>

<p class="tver">
  ドラマSP ドラマSP 事件救命医～IMATの奇跡～(2014) の配信がTVerで始まりました。
  8/16 23:59まで

  玉木宏、田中圭、貫地谷しほり、大東駿介、小野了、山崎一、杉咲花、伊武雅刀、森口瑤子、水野美紀、高橋克典 らが出演しています

  https://tver.jp/episodes/ep9ont0zdg
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2021) 1～3話の配信がTVerで始まりました。
  8/16 23:59まで

  米倉涼子、野村萬斎、内田有紀、勝村政信、今田美桜、小籔千豊、杉田かおる、岸部一徳、要潤、遠藤憲一、西田敏行 らが出演しています

  https://tver.jp/episodes/ep6bhubgj1
</p>

<p class="tver">
  ドラマ 三カ国な王道LOVE(2026) 1～4(最終)話の配信がTVerで始まりました。
  8/2 0:30まで

  紺野彩夏、別府由来、コ・テジン、マイルス・ロボ、坂東工 らが出演しています

  https://tver.jp/episodes/ep656gpoas
</p>

<p class="yt">
  ふしぎな島のフローネ 19～21話｜2026/6/22配信｜日本アニメーション・シアター｜1:16:56
※ 2026/9/20 23:59まで

松尾佳子：フローネ
高坂真琴：ジャック
小林　修：エルンスト
古谷　徹：フランツ
平井道子：アンナ

  https://youtu.be/FjewL8GvaDk
</p>

<p class="yt">
  ふしぎな島のフローネ 10~18話｜2026/6/1配信｜日本アニメーション・シアター｜1:16:58
※ 2026/9/20 23:59まで。終了時間は予想

松尾佳子：フローネ
高坂真琴：ジャック
小林勝彦：エルンスト(10話以降 小林修)
古谷　徹：フランツ
平井道子：アンナ

  https://youtu.be/p2BpaVF_c94
</p>

<p class="yt">
  映画『キングダム 魂の決戦』豪華キャスト紹介 ー合従軍ー｜2026/5/30配信｜東宝MOVIEチャンネル｜1:42
※ 2026/10/16 23:59まで。2026/7/17(金) 公開。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

  https://youtu.be/uatOd9lfbuw
</p>

<p class="yt">
  映画「キングダム 魂の決戦」6月2日(火)ワールドプレミア｜2026/6/2配信｜東宝MOVIEチャンネル｜1:09:00
※ 2026/10/16(金) 23:59まで。2026年7月17日（金）公開。主題歌は米津玄師「夜鷹」。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

  山﨑賢人、吉沢亮、橋本環奈、志尊淳、神尾楓珠、三吉彩花、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、要潤、佐久間由衣、玉木宏、佐藤浩市、小栗旬、佐藤信介(監督) らが出演しています

  https://youtu.be/Qlv7zFoZH_4
</p>

<p class="yt">
  AKB48だけの島を作ってみた!｜2026/6/4配信｜なるたおちゃんねる｜30:31
  ※ AKB48だけの島を作ろうと思ったのですが…こだわりすぎて…😂顔のパーツや雰囲気など、細かいところまで再現しようとした結果、想像以上に時間がかかることに…！

  https://youtu.be/qnX-qNn7ZfM
</p>

<p class="yt">
  一瞬で分かる!?メンバーのレッスン着クイズ!｜2026/5/30配信｜なるたおちゃんねる｜15:27

  ※ 【AKB48】一瞬で分かる！？メンバーのレッスン着クイズ！普段のレッスン着姿だけでメンバーを当てるクイズをやってみました！

倉野尾成美、下尾みう らが出演しています

  https://youtu.be/4A17j5UOOdU
</p>


<p class="yt">
  おもしろすぎて眠れなくなる深海の話｜2026/5/30配信｜VAIENCE バイエンス｜38:37

  ※ 長沼 毅 - 広島大学名誉教授、安田女子大学教授

  https://youtu.be/UYEStSZQUx0
</p>

<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 10/16 23:59まで。7/17(金) 公開。米津玄師「夜鷹」に決定!

	山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>

<p class="yt">
  【公式】芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜10:13

  ※ 〈生〉旅YouTube登録者数100万人突破ありがとう記念特別篇!

  https://youtu.be/oLWzvxEG4Gc
</p>


<p class="tver">
  ドラマ 探偵・由利麟太郎(2020) 全5話の配信がTVerで始まりました。
  7/31 23:59まで

  吉川晃司、志尊淳、新川優愛、長田成哉、佐戸井けん太、中村育二、木本武宏、竹原芳子、田辺誠一、水上京香、赤楚衛二、尾上寛之、村川絵梨、島居香奈、阿部純子、高岡早紀、吉谷彩子、水沢林太郎、佐野岳、大鶴義丹 らが出演しています

  https://tver.jp/episodes/ep6fwc3olj8
</p>

<p class="yt">
  アニメ「最後の召喚師 -The Last Summoner-」1～12話｜2026/6/12配信｜アニメタイムズ公式｜4:36:13
※ 2028/3/31(金) 23:59まで

岡本　信彦：アジェ
種﨑　敦美：ドラ
礒部　花凜：ミャウ
相羽あいな：ハナ
河野ひより：スタン

  https://youtu.be/789zYZmARA0
</p>

<p class="yt">
  ふらいんぐうぃっち 全12話｜2026/6/12配信｜フル☆アニメTV｜4:37:20
  ※ 2026/8/12(水)まで

  篠田みなみ：木幡真琴
  鈴木　絵理：倉本千夏
  菅原　慎介：倉本圭
  三上　枝織：石渡なお
  葵井　歌菜：木幡茜
  日野　まり：犬養
  井口　裕香：椎名杏子
  茅野　愛衣：チト
  佐倉　綾音：ケニー
  小澤　亜李：アル

  https://youtu.be/eAUsbAJVgVA
</p>

<p class="tver">
  ドラマ 桜蘭高校ホスト部(2011) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  川口春奈、山本裕典、竜星涼、中村昌也、千葉雄大、高木心平、高木万平、鈴木亜美、大川藍、坂本真綾、大東駿介 らが出演しています

  https://tver.jp/episodes/epnpl7jgxo
</p>

<p class="tver">
  ドラマSP 新年早々 不適切にもほどがある！(2026) ～真面目な話、しちゃダメですか？～の配信がTVerで始まりました。
  7/26 20:59まで

  阿部サダヲ、仲里依紗、磯村勇斗、河合優実、坂元愛登、三宅弘城、袴田吉彦、中島歩、沼田爆、秋山竜次(ロバート)、板倉俊之(インパルス)、イワクラ(蛙亭)、ファーストサマーウイカ、成田昭次、鈴木こころ、福室莉音、中田理智、江口のりこ、みのすけ、井上肇、錦戸亮、八嶋智人、小野武彦、彦摩呂、山本耕史、古田新太、吉田羊 らが出演しています

  https://tver.jp/episodes/epscnb4xs1
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、柴本幸、モロ師岡、美保純、葉山奨之、光石研、山本未來、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/ep4beaz854
</p>

<p class="tver">
  ドラマ ドラゴン桜(2005) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、長谷川京子、山下智久、長澤まさみ、中尾明慶、小池徹平、新垣結衣、紗栄子、斎藤洋介、デビット伊東、安藤亮司、築山万有美、青山勝、矢沢心、石野真子、美保純、あいはら友子、小野寺昭、野際陽子 らが出演しています

  https://tver.jp/episodes/epiqflr0b3
</p>

<p class="tver">
  ドラマ ドラゴン桜(2005) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、長谷川京子、山下智久、長澤まさみ、中尾明慶、小池徹平、新垣結衣、紗栄子、斎藤洋介、デビット伊東、安藤亮司、築山万有美、青山勝、矢沢心、石野真子、美保純、あいはら友子、小野寺昭、野際陽子 らが出演しています

  https://tver.jp/episodes/epiqflr0b3
</p>

<p class="tver">
  ドラマ キャスター(2025) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、木村達成、キム・ムジュン、佐々木舞香(＝LOVE)、ヒコロヒー、堀越麗禾、黒沢あすか、内村遥、緋田康人、原田夏希、黒田大輔、TAKAHIRO、宮舘涼太(Snow Man)、相原未来、高崎俊吾、鈴木貴之、馬場律樹、山口馬木也、谷田歩、宮澤エマ、北大路欣也、加藤晴彦、加治将樹、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/epsa2c7xwp
</p>

<p class="tver">
  ドラマ 恋愛ニート～忘れた恋のはじめ方～(2012) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  仲間由紀恵、佐々木蔵之介、市川実日子、永山絢斗、橋本じゅん、岡田浩暉、森山栄治、能世あんな、本田翼、西山潤、夕輝壽太、永瀬匡、佐々木卓馬、南周平、オオニシ、室井滋、竹財輝之助、伊藤正之、加賀まりこ、田中裕二、爆笑問題、りょう らが出演しています

  https://tver.jp/episodes/epctdznisp
</p>

<p class="tver">
  ドラマSP 逃げるは恥だが役に立つ(2021) ガンバレ人類! 新春スペシャル!!の配信がTVerで始まりました。
  9/27 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、真野恵里菜、成田凌、古舘寛治、細田善彦、西田尚美、青木崇高、伊藤修子、滝沢カレン、冨手麻妙、ナオト・インティライミ、池谷のぶえ、前野朋哉、金子昇、山里亮太(南海キャンディーズ)、YOU、小林きな子、橋本一郎、うらじぬの、浅川梨奈、前原滉、Kaito、横内亜弓、井上依吏子、モロ師岡、高橋ひとみ、宇梶剛士、富田靖子、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epeb2vdn4n
</p>

<p class="tver">
  ドラマ ＧＩＦＴ(2026) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  堤真一、山田裕貴、有村架純、本田響矢、細田善彦、細田佳央太、円井わん、越山敬達、VOKSY DAYS、八村倫太郎、やす(ずん)、水間ロン、冨手麻妙、ノボせもんなべ、枝元萌、ゆいかれん、真飛聖、西尾まり、杢代和人(原因は自分にある。)、宮崎優、岩男海史、麻生祐未、菅原大吉、町田悠宇、澤井一希、中山脩悟、生越千晴、岡安泰樹、今藤洋子、土橋竜太、新原ミナミ、大島美優、吉田帆乃華、フェルナンデス直行、白石朋也、阿佐辰美、櫻井翔、吉瀬美智子、玉森裕太(Kis-My-Ft2)、安田顕、山口智子 らが出演しています

  https://tver.jp/episodes/epldfnv3ho
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 鹿児島県・指宿温泉殺人事件の配信がTVerで始まりました。
  12/10 23:59まで

  内藤剛志、財前直見、村田雄浩、池田努、西堀文、堀川太陽、南翔太、藤重政孝 らが出演しています

  https://tver.jp/episodes/epw6jxx0dd
</p>

<p class="tver">
  バラエティ 祓除(2023) の配信がTVerで始まりました。
  9/4 23:59まで

  事前番組：https://tver.jp/episodes/ep628woves
  事後番組：https://tver.jp/episodes/epsondigx8

  出演者不明 らが出演しています
</p>

<p class="tver">
  ドラマ TXQ FICTION / 飯沼一家に謝罪します(2024) 1～4(最終?)話の配信がTVerで始まりました。
  9/4 23:59まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/ep3au46m8l
</p>

<p class="tver">
  ドラマ TXQ FICTION / イシナガキクエを探しています(2024) 1～4話の配信がTVerで始まりました。
  9/4 23:59まで

  安東弘樹、サーヤ(ラランド) らが出演しています

  https://tver.jp/episodes/eprafnhkri
</p>

<p class="tver">
  ドラマ TXQ FICTION / 魔法少女山田(2025) 1～3(最終)話の配信がTVerで始まりました。
  9/4 23:59まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/epdwt0ve4p
</p>

<p class="tver">
  ドラマ TXQ FICTION / UFO山(2025) 1～4(最終?)話の配信がTVerで始まりました。
  9/4 23:59まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/eply6ni0cq
</p>

<p class="tver">
  アニメ 悲劇の元凶となる最強外道ラスボス女王は民の為に尽くします。(2026・2期) 1～11話の配信がTVerで始まりました。
  7/26 23:59まで

  ファイルーズあい、内山昂輝、戸松遥、榎木淳弥、立花慎之介、緑川光、遊佐浩二、諏訪部順一 らが出演しています

  https://tver.jp/episodes/epus8mu8yw
</p>

<p class="tver">
  バラエティ テレビ放送開始６９年 このテープもってないですか？(2022) の配信がTVerで始まりました。
  9/4 23:59まで

  ※ かつて放送された伝説の番組も、今や処分されてしまってどこでも見ることができない！そこで今回視聴者の皆さまから、それを録画したビデオテープを大募集！超貴重な映像を次々とお届け

  第一夜：https://tver.jp/episodes/epeon0ym9n
  第二夜：https://tver.jp/episodes/ep7dsj0lnw
  第三夜：https://tver.jp/episodes/eplng73lkq

  いとうせいこう、井桁弘恵、水原恵理 らが出演しています
</p>

<p class="tver">
  ドラマ チーム・バチスタの栄光(2008) 全11話の配信がTVerで始まりました。
  7/31 23:59まで

  伊藤淳史、仲村トオル、城田優、鶴見辰吾、鈴木裕樹、戸田昌宏、奥貫薫、朝加真由美、田中要次、名取裕子、林隆三、宮川大輔、釈由美子、伊原剛志 らが出演しています

  https://tver.jp/episodes/epnk6kn6hx
</p>

<p class="tver">
  ドラマ 鬼嫁日記 いい湯だな(2007) 全11話の配信がTVerで始まりました。
  7/31 23:59まで

  観月ありさ、ゴリ、ガレッジセール、蛯原友里、山本裕典、高知東生、鈴木砂羽、川島なお美、野際陽子、加藤茶、ザ・ドリフターズ らが出演しています

  https://tver.jp/episodes/epy106yzod
</p>

<p class="tver">
  ドラマ 鬼嫁日記(2005) 全11話の配信がTVerで始まりました。
  7/31 23:59まで

  観月ありさ、ゴリ、ガレッジセール、永井大、滝沢沙織、小池徹平、井上和香、川田、田山涼成、木内みどり、東幹久 らが出演しています

  https://tver.jp/episodes/epmj76qerf
</p>

<p class="tver">
  ドラマ 北くんがかわいすぎて手に余るので、３人でシェアすることにしました。(2025) 全12話の配信がTVerで始まりました。
  7/31 23:59まで

  本田翼、志田未来、岩瀬洋志、増子敦貴、おいでやす小田、高塚大夢、こがけん、小沢真珠、中村静香、鈴木ゆうか、鈴木秀人、マギー、羽野晶紀 らが出演しています

  https://tver.jp/episodes/epb64uba8pf
</p>

<p class="tver">
  ドラマ 秘密～THE TOP SECRET～(2025) 全11話の配信がTVerで始まりました。
  7/31 23:59まで

  板垣李光人、中島裕翔、門脇麦、高橋努、近藤頌利、渕野右登、夏子、光石研、黒川想矢、相島一之、利重剛、眞島秀和、國村隼 らが出演しています

  https://tver.jp/episodes/ep1bqr0oed
</p>

<p class="tver">
  ドラマ 恋仲(2015) 1話の配信がTVerで始まりました。
  7/28 23:59まで
※ 3日毎に最新話追加

  福士蒼汰、本田翼、野村周平、仲野太賀、大原櫻子、大友花恋、市川由衣、山本美月、馬場園梓、前野朋哉、永井大、吉田羊、小林薫 らが出演しています

  https://tver.jp/episodes/epn761f6uq
</p>

<p class="tver">
  ドラマ ブラックペアンと言いたくて…～万年ヒラ医局員の憂鬱な日常～ 日曜劇場『ブラックペアン 』サイドストーリ―(2024・2期) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  ※ 11分のドラマです

  今野浩喜、内村遥、キム・ムジュン、森田ブラックペアンと甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ らが出演しています

  https://tver.jp/episodes/ep1cihr6uz
</p>

<p class="tver">
  ドラマ 職員室(1997) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  浅野温子、仲村トオル、的場浩司、益岡徹、水野美紀、田岡美也子、山下容莉枝、松澤一之、那須佐代子、信実一徳、小日向文世、山本龍二、松井範雄、伊集院光、九太朗、クノ真季子、加賀谷純一、塚本高史、横山めぐみ、野際陽子 らが出演しています

  https://tver.jp/episodes/ep4nr770hu
</p>

<p class="tver">
  ドラマ 夢中さ、きみに。(2021) 1話の配信がTVerで始まりました。
  8/2 23:59まで

  大西流星(なにわ男子)、高橋文哉、福本莉子、坂東龍汰、楽駆、前田旺志郎、望月歩、河合優実、伊藤万理華、横田真悠 らが出演しています

  https://tver.jp/episodes/epwhnuv4z6
</p>

<p class="tver">
  ドラマ ピーナッツバターサンドウィッチ(2020) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  矢作穂香、伊藤健太郎、伊藤修子、堀田茜、瀧本美織、筧美和子、Niki、奥野壮、佐藤流司、吉田仁人(M!LK)、濱正悟、濱尾ノリタカ、一ノ瀬竜、忍成修吾 らが出演しています

  https://tver.jp/episodes/epwgtqm60d
</p>

<p class="tver">
  ドラマ 熱愛プリンス(2025) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  原因は自分にある。(杢代和人、大倉空人、小泉光咲)、松井奏(IMP.)、林芽亜里、大東立樹、芳賀柊斗、増子敦貴 らが出演しています

  https://tver.jp/episodes/epo6njimr5
</p>

<p class="tver">
  ドラマ 凛子さんはシてみたい(2021) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  高田夏帆、戸塚祥太(A.B.C-Z)、筧美和子、飯島寛騎、猪塚健太 らが出演しています

  https://tver.jp/episodes/epltfg9lws
</p>

<p class="tver">
  ドラマ 完璧ワイフによる完璧な復讐計画(2024) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  中村ゆりか、犬飼貴丈、中村海人(Travis Japan)、三原羽衣 らが出演しています

  https://tver.jp/episodes/epjmwbqhvj
</p>

<p class="tver">
  ドラマ あせとせっけん(2022) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  佐藤寛太、大原優乃、工藤遥、杢代和人(原因は自分にある。)、大平修蔵、中田絢千、森優作、池内万作 らが出演しています

  https://tver.jp/episodes/epi6rx17kr
</p>

<p class="tver">
  ドラマ 墜落JKと廃人教師(2023) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  橋本涼(B&ZAI)、高石あかり らが出演しています

  https://tver.jp/episodes/epo87atibl
</p>

<p class="tver">
  ドラマ カカフカカ－こじらせ大人のシェアハウス－(2019) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  森川葵、中尾暢樹、結木滉星、中村里砂 らが出演しています

  https://tver.jp/episodes/epdcjfziw4
</p>

<p class="tver">
  ドラマ 年の差婚(2020) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  葵わかな、竹財輝之助、松本若菜、小野寺晃良、吉野北人、河井青葉、徳井優、吹越満 らが出演しています

  https://tver.jp/episodes/epr3qbn22h
</p>

<p class="tver">
  ドラマ 結婚予定日(2023) 1～2話の配信がTVerで始まりました。
  8/2 23:59まで

  松田元太(Travis Japan)、大原櫻子、柾木玲弥、大原優乃、小島梨里杏、宮澤美保、野崎智子、佐藤友祐、古屋呂敏 らが出演しています

  https://tver.jp/episodes/ep61krfctp
</p>

<p class="tver">
  ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 富山県 庄川温泉郷殺人事件の配信がTVerで始まりました。
  12/17 23:59まで

  内藤剛志、水野真紀、国広富之、生田智子、高杉亘、小越勇輝、冨手麻妙、華優希、加瀬信行、青木健、宮崎大和、平田雄也 らが出演しています

  https://tver.jp/episodes/epmbyybo25
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、新谷真弓、戸田昌宏、斉藤陽一郎、三遊亭遊三、滝沢沙織、櫻庭博道、塩澤英真、田村たがめ、山崎めぐみ、櫻井淳子、温水洋一、遠山俊也、陣内孝則、野際陽子 らが出演しています

  https://tver.jp/episodes/epy3n6as8o
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、東幹久、佐戸井けん太、芹澤名人、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、中丸新将、泉晶子、佐々木勝彦、大林丈史、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/epbrzf5el4
</p>

<p class="tver">
  ドラマSP 下町ロケット(2019) 新春ドラマ特別編の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、立石涼子、朝倉あき、宮尾俊太郎、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、丸一太、菅野莉央、原アンナ、根本美緒、ぼくもとさきこ、イモトアヤコ、森崎博之、福澤朗、品川徹、岡田浩暉、高橋努、古川雄大、モロ師岡、恵俊彰、池畑慎之介、古舘伊知郎、甲本雅裕、木下ほうか、工藤夕貴、山本學、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎、松平定知 らが出演しています

  https://tver.jp/episodes/epxl1w6kca
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 1～3話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、朝倉あき、立石涼子、山本圭祐、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、菅野莉央、原アンナ、ぼくもとさきこ、イモトアヤコ、真矢ミキ、六角精児、内場勝則、品川徹、今田耕司、恵俊彰、池畑慎之介、古舘伊知郎、木下ほうか、工藤夕貴、山本學、中村梅雀、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎 らが出演しています

  https://tver.jp/episodes/ep73ay24yf
</p>

<p class="tver">
  ドラマSP 私があなたといる理由 特別編〜グアムがくれた、あの日の続き〜(2026) の配信がTVerで始まりました。
  10/8 00:59まで

  前田公輝、宮内ひとみ(桜庭ななみ)、前田花、藤代太一 らが出演しています

  https://tver.jp/episodes/ep60029c2p
</p>
