---
title: 2026年8月のOngoing
date: 2026-08-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 1～2話の配信がTVerで始まりました。
  9/7 23:59まで

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/epwy9q5s8w
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 1～2話の配信がTVerで始まりました。
  9/8 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/ep6q9y33zb
</p>

<p class="tver">
  ドラマ おちたらおわり(2026) 1～3話の配信がTVerで始まりました。
  9/9 23:59まで

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード) らが出演しています

  https://tver.jp/episodes/epi2624m0j
</p>

<p class="tver">
  ドラマ 東京ラブストーリー(1991) 1話の配信がTVerで始まりました。
  9/9 23:59まで

  鈴木保奈美、織田裕二、有森也実、江口洋介、中山秀征 らが出演しています

  https://tver.jp/episodes/epdm7qnrn2
</p>

<p class="tver">
  ドラマ 翼をください！(1996) 1～2話の配信がTVerで始まりました。
  9/9 23:59まで

  内田有紀、反町隆史、水野美紀、細川直美、矢田亜希子、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep8ghnpd58
</p>

<p class="tver">
  ドラマ 未婚詐欺 私の知らない彼の顔(2026) 1～3話の配信がTVerで始まりました。
  9/11 01:28まで

  北乃きい、藤原樹、島崎遥香、和内璃乃、押田岳 らが出演しています

  https://tver.jp/episodes/ep8s52zl2x
</p>

<p class="tver">
  ドラマ ミッドナイト屋台２～ル・モンドゥ～(2026) 1～3話の配信がTVerで始まりました。
  9/12 23:40まで

  神山智洋(WEST.)、中村海人(Travis Japan)、剛力彩芽、小手伸也、矢花黎(B&ZAI)、竹中直人、浅野ゆう子、勝村政信、石田ひかり、橋本マナミ らが出演しています

  https://tver.jp/episodes/epksxts7wn
</p>

<p class="tver">
  ドラマ 一次元の挿し木(2026) 1～3話の配信がTVerで始まりました。
  9/13 22:29まで

  山田涼介(Hey! Say! JUMP)、白石聖、木戸大聖、土居志央梨、和田正人、笠原秀幸、猪塚健太、小橋めぐみ、藤井美菜、田畑志真、堀田真由、松下由樹、吉原光夫、正名僕蔵、小手伸也、鈴木保奈美、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/ep5t53ed4q
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 1～2話の配信がTVerで始まりました。
  9/15 01:20まで

  ※ 14分のドラマです

  石黒英雄、入来茉里 らが出演しています

  https://tver.jp/episodes/ep1pb3bync
</p>

<p class="tver">
  ドラマ スピナーベイト(2026) 1～3話の配信がTVerで始まりました。
  9/16 02:15まで

  加藤清史郎、駿河太郎、萩原護、南琴奈、奥野壮、高橋侃、吉田晴登、吉澤要人(原因は自分にある。)、伊藤あさひ、仲野温、吉村界人、山中聡、中村梅雀 らが出演しています

  https://tver.jp/episodes/ep2p7rmtob
</p>

<p class="tver">
  ドラマ ファーストクライ 母子救命救急班(2026) 1～3話の配信がTVerで始まりました。
  9/16 21:59まで

  比嘉愛未、松島聡(timelesz)、徳永えり、濱正悟、川西賢志郎、優希美青、遠山俊也、前田敦子、山村紅葉、岡部たかし、真矢ミキ、白鳥玉季、寺本莉緒、團遥香、紺野彩夏 らが出演しています

  https://tver.jp/episodes/epxqdyttmd
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 1～3話の配信がTVerで始まりました。
  9/17 23:59まで

  菅井友香、入山法子、稲葉友、濱田龍臣 らが出演しています

  https://tver.jp/episodes/epc01sbbhl
</p>

<p class="tver">
  ドラマ 踊る大捜査線(1997) 1～2話の配信がTVerで始まりました。
  9/18 23:59まで

  織田裕二、柳葉敏郎、深津絵里、水野美紀、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/eptu39ouhe
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 1～3話の配信がTVerで始まりました。
  9/18 00:29まで

  かたせ梨乃、豆原一成、JO1、岡田結実、林芽亜里、平埜生成、北村優衣、西山繭子 らが出演しています

  https://tver.jp/episodes/ep1l4imu64
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 1話の配信がTVerで始まりました。
  9/18 20:59まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、相武紗季、橋本淳、河内大和、綾乃彩、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/epnkivmf0h
</p>

<p class="tver">
  ドラマ 夫に不倫をお願いされました(2026) 1～3話の配信がTVerで始まりました。
  9/25 00:29まで

  中村ゆりか、佐野玲於、葉山奨之、ハシヤスメ・アツコ、横野すみれ、こばやし元樹、希歩、堀井新太、阿久根温世(ICEx)、久保田悠来、南雲奨馬、山野海、濱津隆之 らが出演しています

  https://tver.jp/episodes/ep1vv1os6h
</p>

<p class="tver">
  ドラマ ドラマ「永久少年 Eternal Boys」(2026) 1話の配信がTVerで始まりました。
  9/26 21:29まで

  松本岳、中塚皓平、反橋宗一郎、鈴木祐大、輝山立、細貝圭、田中美奈子 らが出演しています

  https://tver.jp/episodes/ep6vuao2w4
</p>

<p class="tver">
  ドラマ 告白―25年目の秘密―(2026) 1～3話の配信がTVerで始まりました。
  9/26 20:59まで

  松村北斗(SixTONES)、岡崎紗絵、塩野瑛久、佐々木希、久保史緒里、山下幸輝、谷恭輔、石山順征、水野美紀、丸山智己、夙川アトム、丘みつ子、田中要次、石黒賢、玉山鉄二 らが出演しています

  https://tver.jp/episodes/ep5u2nnxbp
</p>

<p class="tver">
  ドラマSP 逃げるは恥だが役に立つ(2021) ガンバレ人類! 新春スペシャル!!の配信がTVerで始まりました。
  9/27 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、真野恵里菜、成田凌、古舘寛治、細田善彦、西田尚美、青木崇高、伊藤修子、滝沢カレン、冨手麻妙、ナオト・インティライミ、池谷のぶえ、前野朋哉、金子昇、山里亮太(南海キャンディーズ)、YOU、小林きな子、橋本一郎、うらじぬの、浅川梨奈、前原滉、Kaito、横内亜弓、井上依吏子、モロ師岡、高橋ひとみ、宇梶剛士、富田靖子、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epeb2vdn4n
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、チェ・ジウ、田中みな実、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/eprur62f1d
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、中田喜子、笹野高史、相島一之、映美くらら、浅利陽介、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/eps1m9zacc
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、滝沢沙織、銀粉蝶、岡田浩暉、江守徹、三船美佳、螢雪次朗、小林隆、村松利史、五王四郎、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/ep8ebh4rfu
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 1～4話の配信がTVerで始まりました。
  9/27 23:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、石橋杏奈、森岡龍、鈴木亮平、武田鉄矢、伊藤英明、郷ひろみ、麻生祐未、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epywbklive
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 1～6話の配信がTVerで始まりました。
  9/27 23:59まで

  ※ 4～6話は 8/2 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大河内浩、大塚露那、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/epbwo9c26b
</p>

<p class="tver">
  ドラマSP 宮部みゆき原作｢レベル7｣(2012) の配信がTVerで始まりました。
  9/27 23:59まで

  玉木宏、杏、瀧本美織、田中哲司、長内美那子、渡辺邦斗、橋本麗香、アンガールズ(田中卓志、山根良顕)、竜雷太、白井晃、佐野史郎、伊原剛志 らが出演しています

  https://tver.jp/episodes/epzon3k1a2
</p>

<p class="tver">
  ドラマ 婚姻届に判を捺しただけですが(2021) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  清野菜名、坂口健太郎、倉科カナ、高杉真宙、前野朋哉、中川翔子、笠原秀幸、小林涼子、森永悠希、深川麻衣、岡田圭右、ますだおかだ、長見玲亜、村松利史、桜井聖、吉田悟郎、菜月、佐藤遥、簑輪裕太、羽田将大、杉本彩、ルー大柴、小倉久寛、朝加真由美、木野花、田辺誠一 らが出演しています

  https://tver.jp/episodes/epveluugrm
</p>

<p class="tver">
  ドラマ ハヤブサ消防団(2023) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  中村倫也、川口春奈、満島真之介、古川雄大、岡部たかし、梶原善、橋本じゅん、山本耕史、生瀬勝久 らが出演しています

  https://tver.jp/episodes/eptq2s4rs8
</p>

<p class="tver">
  ドラマSP TOKYO MER～隅田川ミッション～(2023) の配信がTVerで始まりました。
  9/27 23:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、猪塚健太、工藤美桜、菜々緒、伊藤淳史、鶴見辰吾、鴻上尚史、橋本さとし、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epo20qi614
</p>

<p class="tver">
  ドラマSP 劇場版「TOKYO MER～走る緊急救命室～」(2025) の配信がTVerで始まりました。
  9/27 23:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、ジェシー(SixTONES)、フォンチー、佐藤栞里、今野浩喜、新井恵理那、猪塚健太、工藤美桜、信太昌之、谷遼、湯川尚樹、三宅亮輔、谷風作、青山めぐ、森麻里百、梅田脩平、駒水健、菜々緒、杏、徳重聡、古川雄大、渡辺真起子、橋本さとし、鶴見辰吾、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2pxni1tv
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、国仲涼子、上地雄輔、柴咲コウ、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epwz3a4ke9
</p>

<p class="tver">
  ドラマ リバース(2017) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、市原隼人、YOU、志賀廣太郎、村井國夫、山崎銀之丞、趣里、古田結凪、山口まゆ、鈴木仁、藤本泉、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epyelmie7o
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 1～3話の配信がTVerで始まりました。
  9/28 23:05まで

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epyzwhi0gk
</p>

<p class="tver">
  ドラマ たかほー日和。 ～鷹とごはんと時々、恋～(2025) 1～3話の配信がTVerで始まりました。
  9/28 23:59まで

  坂口理子、戸塚有輝、福田愛依 らが出演しています

  https://tver.jp/episodes/ep0ospzq4y
</p>

<p class="tver">
  ドラマSP ザ・ドライバー～親子再会への６千キロ～(2015) の配信がTVerで始まりました。
  9/30 23:59まで

  内野聖陽、塚本高史、若村麻由美、南沢奈央、渡邉このみ、中越典子、北村有起哉、中村俊介、平幹二朗 らが出演しています

  https://tver.jp/episodes/eplprrswe7
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書(2020) 消えない恋の火花の配信がTVerで始まりました。
  9/30 23:59まで

  石川恋、岩永徹也、落合モトキ、金井美樹、渡邊菜々、田口浩正、岩谷健司 らが出演しています

  https://tver.jp/episodes/ep7q4ovlc9
</p>

<p class="tver">
  ドラマSP 越境捜査(2008) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  柴田恭兵、寺島進、大塚寧々、夏八木勲、平泉成、高橋ひとみ、田中実、照英、鶴田忍、安藤一夫、村上連、太田浩介 らが出演しています

  https://tver.jp/episodes/epik2eb2cq
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  吉川愛、綱啓永、髙松アロハ(超特急)、勝村政信、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epkfi8505z
</p>

<p class="tver">
  ドラマ タイムトラベルダディ(2026) 1話の配信がTVerで始まりました。
  9/30 23:59まで

  津田篤宏(ダイアン)、橋本マナミ、藤谷理子、三浦健人、横溝菜帆、前山こうが、土佐和成、中川晴樹、上原佑太(ダウ90000)、山下永玖、阪口珠美、フルーツポンチ、櫻田佑(トンツカタン)、ニッチェ らが出演しています

  https://tver.jp/episodes/epjqpredri
</p>

<p class="tver">
  ドラマ 夏色の雲が恋と嵐をまきおこす(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  ACEes(深田竜生、浮所飛貴)、田辺桃子、羽田美智子、井上肇、濱田マリ、原沙知絵、モト冬樹、猪俣玲音、山口まゆ らが出演しています

  https://tver.jp/episodes/ep3azte7nt
</p>

<p class="tver">
  ドラマ こんなところで裏切り飯～嵐を呼ぶ七人の役員～(2024) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  志田彩良、伊武雅刀、前田拳太郎、守屋茜、吉田有希、大熊杏優、川島潤哉、中野英雄、小沢真珠、勝村政信、マイケル富岡、磯野貴理子、田山涼成 らが出演しています

  https://tver.jp/episodes/epor1bdkll
</p>

<p class="tver">
  ドラマ 大空港～GATE24～(2026) 1～2話の配信がTVerで始まりました。
  9/30 23:59まで

  趣里、眞栄田郷敦、板垣李光人、齊藤京子、奥貫薫、秋元才加、加治将樹、街田しおん、嘉島陸、西村直人、椿原愛、田辺誠一、吹越満、柳葉敏郎、松雪泰子 らが出演しています

  https://tver.jp/episodes/epsm7tcsyq
</p>

<p class="tver">
  ドラマ ラストノート(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、中島亜梨沙、淵上泰史、嶋崎斗亜 らが出演しています

  https://tver.jp/episodes/ep7kzalm7v
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 1話の配信がTVerで始まりました。
  9/30 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、大西武志、上田航平、飯田基祐、樋口日奈、小島藤子、戸田昌宏 らが出演しています

  https://tver.jp/episodes/epwgi3odiw
</p>

<p class="tver">
  ドラマ クロスロード ～救命救急の約束～(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  今田美桜、磯村勇斗、寛一郎、泉澤祐希、小雪、戸次重幸、船越英一郎 らが出演しています

  https://tver.jp/episodes/epsc88nzew
</p>

<p class="tver">
  ドラマ さよならノワール(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  小池栄子、北香那、岡山天音、荒川良々、味方良介、濱尾ノリタカ、眞島秀和、戸田恵子、渡部篤郎、北乃きい、柳下大、村山彩希、花王おさむ、木村八重子 らが出演しています

  https://tver.jp/episodes/ep1utxj9kl
</p>

<p class="tver">
  ドラマ ブラックトリック～裁きを操る弁護人～(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  GACKT、加治将樹、矢野聖人 らが出演しています

  https://tver.jp/episodes/epgwiuoi9b
</p>

<p class="tver">
  ドラマ Tokyo middle 30(2026) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  仲里依紗、のん、深川麻衣、渡辺大知、朝井大智、中島颯太、風間俊介 らが出演しています

  https://tver.jp/episodes/epov7rzl0h
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2026・2期) 1～3話の配信がTVerで始まりました。
  9/30 23:59まで

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、笠松将、福士誠治、内博貴 らが出演しています

  https://tver.jp/episodes/eps5t1wpwt
</p>


<p class="yt">
  大自然の魔獣 バギ 高画質版｜2026/7/18配信｜手塚プロダクション公式チャンネル｜1:24:46
  ※ 2026/9/12 14:00まで。夏休み特別配信

  島津　冴子：バギ
  井上　和彦：リョウ
  鈴木　一輝：チコ
  キートン山田：店長
  片岡　富枝：叔母さん
  富田　耕生：所長
  池田　　勝：サドー大佐
  森　　功至：セメン・ボンド
  藤木　　譲：大統領

  https://youtu.be/sWAfGpnUfzM
</p>

<p class="tver">
  アニメ 天幕のジャードゥーガル(2026) 1～3話の配信がTVerで始まりました。
  9/19 23:59まで

  関根明良、小清水亜美、桑島法子、齋藤潤、下野紘、鈴木崚汰、入野自由、浪川大輔、野島健児 らが出演しています

  https://tver.jp/episodes/ep3gzpe9x7
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 1話の配信がTVerで始まりました。
  9/23 23:59まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epvepeb7zn
</p>

<p class="tver">
  アニメ バンドリ！ ゆめ∞みた(2026) 1～4話の配信がTVerで始まりました。
  9/24 23:30まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/epl5d1qarl
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 1話の配信がTVerで始まりました。
  9/25 01:00まで

  夏吉ゆうこ、清水彩香、本泉莉奈、稲田徹 らが出演しています

  https://tver.jp/episodes/ep4n3kmnwc
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 1話の配信がTVerで始まりました。
  9/25 02:00まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epqlk58qwk
</p>

<p class="tver">
  アニメ さよならララ(2026) 1話の配信がTVerで始まりました。
  9/28 00:29まで

  菱川花菜、深見梨加、村瀬歩、大野智敬、真殿光昭、住友七絵、てらそままさき らが出演しています

  https://tver.jp/episodes/epy1k0yqwi
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 1話の配信がTVerで始まりました。
  9/29 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/eppx0zi1nr
</p>

<p class="tver">
  アニメ 岩元先輩ノ推薦(2026) 1話の配信がTVerで始まりました。
  9/29 23:00まで

  坂泰斗、榊原優希、伊東健人、石田彰、福西勝也、永塚拓馬、佐藤元、徳留慎乃佑 らが出演しています

  https://tver.jp/episodes/ep5magrfw5
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 1話の配信がTVerで始まりました。
  9/30 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep1jx8ul5s
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのは EXCEEDS Gun Blaze Vengeance(2026) 1話の配信がTVerで始まりました。
  9/30 00:59まで

  橘杏咲、日高里菜、田村ゆかり、水樹奈々、植田佳奈、ゆかな、結川あさき、千春、小林愛香、伊藤彩沙、青木陽菜、上坂すみれ らが出演しています

  https://tver.jp/episodes/epn1b452sx
</p>



<p class="tver">
  バラエティ 「ピクサーの世界展」風間俊介と五感フル回転で大満喫スペシャル(2026) の配信がTVerで始まりました。
  9/6 23:59まで

  ※ 風間俊介の案内で巡る「ピクサーの世界展」

  風間俊介、平子祐希(アルコ&ピース)、塩﨑太智(M!LK)、蓼沼優衣 らが出演しています

  https://tver.jp/episodes/ep9t6soo0u
</p>

<p class="tver">
  バラエティ 映画『ミニオンズ＆モンスターズ』公開記念特番！バッテリィズ夢の映画出演大作戦！(2026) の配信がTVerで始まりました。
  9/30 23:59まで

  ※ 8/7公開！ミニオンズ最新作の魅力を大放出！

  バッテリィズ(エース、寺家)、松平健、千葉雄大、鈴木愛理、山寺宏一、杉原千尋 らが出演しています

  https://tver.jp/episodes/epheo23y00
</p>

<p class="tver">
  バラエティ MXグランプリ～異端芸人決定戦～(2026) の配信がTVerで始まりました。
  9/30 23:59まで

  ※ 準決勝【Bブロック】

  ハリウッドザコシショウ、小栗有以(AKB48)、藤本敏史(FUJIWARA)、くっきー!(野性爆弾)、周平魂(ツートライブ)、井口浩之(ウエストランド)、イチキップリン、鎌、虹の黄昏、三村ロンド らが出演しています

  https://tver.jp/episodes/ep1k53au9e
</p>

<p class="yt">
  アニメ ブレーメン4 - 地獄の中の天使たち - 高画質版｜2026/7/25配信｜手塚プロダクション公式チャンネル｜1:30:28
  ※ 2026/9/12 14:00まで。夏休み特別配信

  岡本茉利：コーダ
  富山敬：ラルゴ
  京田尚子：メヌエット
  石丸博也：アレグロ
  野沢那智：ブラック・ジャック
  富田耕生：アダジオ
  菅谷政子：トリオ
  井上真樹夫：ブレスト
  谷口節：リーダー
  大塚周夫：老ブレスト
  弥永和子：ロンド
  宗形智子：トリオの母
  辻村真人：レント

  https://youtu.be/5gb7ZXLdWHQ
</p>

<p class="yt">
  ふしぎな島のフローネ 1~39話｜2026/6/1配信｜日本アニメーション・シアター｜1:16:58
※ 2026/9/20 23:59まで。終了時間は予想

松尾佳子：フローネ
高坂真琴：ジャック
小林勝彦：エルンスト(10話以降 小林修)
古谷　徹：フランツ
平井道子：アンナ

https://youtu.be/W0AizRxPDZk
</p>

<p class="yt">
  アニメ 悟空の大冒険 1～12話｜2026/7/28配信｜手塚プロダクション公式チャンネル｜1:46:45
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/eGR1OXsmC-o
</p>





<p class="yt">
  「映画 猫侍」北村一輝主演!猫好きは、必見!!白猫・玉之丞に萌える!!｜2026/7/3配信｜AMG公式チャンネル｜1:40:05
※ 期間限定とも期限も書いていませんが、お早めに

  北村一輝、寺脇康文、蓮佛美沙子、浅利陽介、戸次重幸、温水洋一、洞口依子、斎藤洋介 らが出演しています

  https://youtu.be/v_8rYGokYdc
</p>



<p class="yt">
映画 「オーシャンズ」(2010)｜2026/7/17配信｜ギャガ公式チャンネル｜1:44:15

吹替版：https://youtu.be/0Xpuw3uEr_4
字幕版：https://youtu.be/PFf78dxQuZE

ナビゲーター：宮沢りえ
</p>

<p class="yt">
  映画「ワイルドガン」(2015)｜2026/7/24配信｜ギャガ公式チャンネル｜1:30:07
※ 期間限定ですが期限がないのでお早めに

  小山　力也｜ジョン・ヘンリー・クレイトン：キーファー・サザーランド
  糸　博｜ウィリアム・クレイトン牧師：ドナルド・サザーランド
  辻　親八｜ジェームズ・マッカーデイ：ブライアン・コックス
  五十嵐　麗｜メアリー＝アリス・ワトソン：デミ・ムーア
  伊東　健人｜フランク・ティルマン：アーロン・プール

  吹替版：https://youtu.be/stuitCr_25Y
  字幕版：https://youtu.be/CkaBnCJjTO0
</p>


<p class="tver">
  その他 ダンダダン快進撃SP アニメダ！舞台ダ！展覧会ダ！ ダンダダン愛が止まらないンダ！(2026) の配信がTVerで始まりました。
  9/13 23:59まで

  ※ ダンダダン快進撃SP アニメダ！舞台ダ！展覧会ダ！ ダンダダン愛が止まらないンダ！

  キンタロー。、村山彩希、二宮礼夢、百名ヒロキ、田中真弓、前田春香 らが出演しています

  https://tver.jp/episodes/ep3675tw3m
</p>
