---
title: 2026年8月のOngoing
date: 2026-08-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 今から、親友やめようか。(2026) 1～2話の配信がTVerで始まりました。
  8/14 01:58まで

  岡本夏美、沢村玲、井内悠陽、古田愛理、黒木ひかり らが出演しています

  https://tver.jp/episodes/epbic1n38t
</p>

<p class="tver">
  ドラマ おちたらおわり(2026) 1話の配信がTVerで始まりました。
  9/9 23:59まで

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード) らが出演しています

  https://tver.jp/episodes/epi2624m0j
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 1話の配信がTVerで始まりました。
  10/8 00:29まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、工藤莉奈、杉本愛里 らが出演しています

  https://tver.jp/episodes/ep9uvsj1uq
</p>

<p class="tver">
  ドラマSP 恋は50を過ぎてから(2022) の配信がTVerで始まりました。
  8/31 23:59まで

  ※ 2023年日本民間放送連盟賞 番組部門テレビドラマ優秀賞作品

  鶴見辰吾、鈴木杏樹、大田路、岩上隼也 らが出演しています

  https://tver.jp/episodes/epe9v2er2g
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 1話の配信がTVerで始まりました。
  9/23 23:59まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epvepeb7zn
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epmcbf7heg
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也 らが出演しています

  https://tver.jp/episodes/ep00etqal0
</p>

<p class="tver">
  ドラマ デスノート(2015) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/eprh061ljq
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 1～3話の配信がTVerで始まりました。
  9/2 23:59まで

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉 らが出演しています

  https://tver.jp/episodes/epm5uuehpj
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 1話の配信がTVerで始まりました。
  9/30 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、大西武志、上田航平、飯田基祐、樋口日奈、小島藤子、戸田昌宏 らが出演しています

  https://tver.jp/episodes/epwgi3odiw
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 1～2話の配信がTVerで始まりました。
  8/7 23:59まで

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/eptow4y5xw
</p>

<p class="yt">
  予想以上に簡単で楽しい! AKB48の新井彩永さん&奥本カイリさんと最新の自作パソコンを組み立ててみた｜2026/6/30配信｜Real Sound Tech｜31:48
※ グループ内で結成しているバンドのメンバーの二人が、音楽を制作できるスペックの新たなパソコンを買わずに“作る”企画に挑戦！

  AKB48(新井彩永、奥本カイリ) らが出演しています

  https://youtu.be/q3EMMgR-x8E
</p>

<p class="tver">
  ドラマ 親愛なる夫へ～完璧な妻の嘘～(2026) 1話の配信がTVerで始まりました。
  9/3 23:58まで

  1話：https://tver.jp/episodes/ep1wxk911o
  TVer限定1.5話：https://tver.jp/episodes/ep7pmuim5e

  田中麗奈、古川雄大、尾崎匠海(INI)、星乃あんな、有澤樟太郎、日比美思、岐洲匠、博多華丸(博多華丸・大吉)、鈴木杏樹、池田鉄洋、渋谷謙人、華優希、こがけん、田中偉登、前田公輝 らが出演しています
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 1話の配信がTVerで始まりました。
  9/18 00:29まで

  かたせ梨乃、豆原一成、JO1、岡田結実、林芽亜里、平埜生成、北村優衣、西山繭子 らが出演しています

  https://tver.jp/episodes/ep1l4imu64
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 1話の配信がTVerで始まりました。
  9/25 01:00まで

  夏吉ゆうこ、清水彩香、本泉莉奈、稲田徹 らが出演しています

  https://tver.jp/episodes/ep4n3kmnwc
</p>

<p class="yt">
  アニメ「ソラとウミのアイダ」1～12話｜2026/7/3配信｜アニメタイムズ公式｜4:44:25
※ 2028/3/31(金) 23:59まで

高橋　花林：空町春
立花　理香：村上波乃
井上ほの花：ルビー・安曇
すずきももこ：櫻舞湖
米野　真織：薪真紀子
神坂　みお：美剣真

  https://youtu.be/ktMPsnNXsvg
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 1話の配信がTVerで始まりました。
  9/17 23:59まで

  菅井友香、入山法子、稲葉友、濱田龍臣 らが出演しています

  https://tver.jp/episodes/epc01sbbhl
</p>

<p class="tver">
  ドラマ 一緒にごはんをたべるだけ(2026) 1話の配信がTVerで始まりました。
  10/1 23:59まで

  早見あかり、伊藤健太郎、桐山漣、岸明日香、久場音葉 らが出演しています

  https://tver.jp/episodes/eptm6mkxaf
</p>

<p class="tver">
  ドラマ 離婚弁護士(2004) 1～2話の配信がTVerで始まりました。
  8/8 23:59まで

  ※ 3日毎に最新話追加

  天海祐希、玉山鉄二、佐々木蔵之介、久我陽子、陣内孝則、津川雅彦 らが出演しています

  https://tver.jp/episodes/ep7zj2njke
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 25話の配信がTVerで始まりました。
  2027/1/8 00:00まで

  ※ 3期の1話です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epz0fqdfr0
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 全12話の配信がTVerで始まりました。
  10/8 01:29まで

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫 らが出演しています

  https://tver.jp/episodes/epy4zv2j97
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 1～2回の配信がTVerで始まりました。
  2027/1/1 19:59まで

  ※ M&Aで440年歴史つなぐ老舗呉服店。映画に欠かせない道具を商いに

  老舗呉服店：https://tver.jp/episodes/epuoq9vbv3
  映画道具：https://tver.jp/episodes/ep4t5tn22o

  磯田道史、佐藤彩加 らが出演しています
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 1話の配信がTVerで始まりました。
  9/25 02:00まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epqlk58qwk
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 1話の配信がTVerで始まりました。
  10/3 00:51まで

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、森崎博之 らが出演しています

  https://tver.jp/episodes/ep7honb1vp
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 1話の配信がTVerで始まりました。
  10/3 00:51まで

  細田佳央太、莉子、松宮倫、高畑結希、川崎帆々花、和内璃乃、高野渚 らが出演しています

  https://tver.jp/episodes/epkios357o
</p>

<p class="tver">
  ドラマ しもべの王子様(2026) 1話の配信がTVerで始まりました。
  9/4 23:30まで

  小川史記(BUDDiiS)、瀬戸利樹、藤林泰也、清水海李、山中聡 らが出演しています

  https://tver.jp/episodes/epf2zdvwmd
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 全12話の配信がTVerで始まりました。
  10/7 17:29まで

  ※ 2～11話の配信で全話配信となり、リンクは1話にしてあります

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epdb8tr3xk
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 1話の配信がTVerで始まりました。
  10/5 22:00まで

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/ephoxe078a
</p>

<p class="tver">
  ドラマ こんなところで裏切り飯～嵐を呼ぶ七人の役員～(2024) 1話の配信がTVerで始まりました。
  9/30 23:59まで

  志田彩良、伊武雅刀、前田拳太郎、守屋茜、吉田有希、大熊杏優、川島潤哉、中野英雄、小沢真珠、勝村政信、マイケル富岡、磯野貴理子、田山涼成 らが出演しています

  https://tver.jp/episodes/epor1bdkll
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) 29回の配信がTVerで始まりました。
  2027/1/4 20:29まで

  ※ 今回のテーマは『納涼キャンプ』淳がオダウエダの2人と共に避暑地へ！

  田村淳、オダウエダ、タケト、シークエンスはやとも らが出演しています

  https://tver.jp/episodes/ephpq223rc
</p>

<p class="tver">
  ドラマ ナツノマンザイ(2026) 1話の配信がTVerで始まりました。
  9/6 00:30まで

  エバース(佐々木隆史、町田和樹)、たくろう(赤木裕、きむらバンド)、金属バット(小林圭輔、友保隼平)、Dr.ハインリッヒ(幸、彩)、ミルクボーイ(駒場孝、内海崇) らが出演しています

  https://tver.jp/episodes/epbhsks5b2
</p>

<p class="tver">
  ドラマ ミッドナイト屋台２～ル・モンドゥ～(2026) 1話の配信がTVerで始まりました。
  9/12 23:40まで

  神山智洋(WEST.)、中村海人(Travis Japan)、剛力彩芽、小手伸也、矢花黎(B&ZAI)、竹中直人、浅野ゆう子、勝村政信、石田ひかり、橋本マナミ らが出演しています

  https://tver.jp/episodes/epksxts7wn
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 1話の配信がTVerで始まりました。
  8/10 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epxcbd2vl6
</p>

<p class="tver">
  ドラマ ドラマ「永久少年 Eternal Boys」(2026) 1話の配信がTVerで始まりました。
  9/26 21:29まで

  松本岳、中塚皓平、反橋宗一郎、鈴木祐大、輝山立、細貝圭、田中美奈子 らが出演しています

  https://tver.jp/episodes/ep6vuao2w4
</p>

<p class="tver">
  アニメ 天幕のジャードゥーガル(2026) 1～2話の配信がTVerで始まりました。
  9/19 23:59まで

  関根明良、小清水亜美、桑島法子、齋藤潤、下野紘、鈴木崚汰、入野自由、浪川大輔、野島健児 らが出演しています

  https://tver.jp/episodes/ep3gzpe9x7
</p>

<p class="yt">
  「映画 猫侍」北村一輝主演!猫好きは、必見!!白猫・玉之丞に萌える!!｜2026/7/3配信｜AMG公式チャンネル｜1:40:05
※ 期間限定とも期限も書いていませんが、お早めに

  北村一輝、寺脇康文、蓮佛美沙子、浅利陽介、戸次重幸、温水洋一、洞口依子、斎藤洋介 らが出演しています

  https://youtu.be/v_8rYGokYdc
</p>

<p class="tver">
  ドラマ 一次元の挿し木(2026) 1話の配信がTVerで始まりました。
  9/13 22:29まで

  山田涼介(Hey! Say! JUMP)、白石聖、木戸大聖、土居志央梨、和田正人、笠原秀幸、猪塚健太、小橋めぐみ、藤井美菜、田畑志真、堀田真由、松下由樹、吉原光夫、正名僕蔵、小手伸也、鈴木保奈美、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/ep5t53ed4q
</p>

<p class="tver">
  ドラマ マイ・フィクション(2026) 1話の配信がTVerで始まりました。
  8/30 23:59まで

  玉森裕太(Kis-My-Ft2)、森川葵、宮澤エマ、野村周平、国仲涼子、ジャンボたかお(レインボー)、結城モエ、三浦りょう太、佐戸井けん太、日影琉叶 らが出演しています

  https://tver.jp/episodes/epgxb3k8t0
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009・2期) 1話の配信がTVerで始まりました。
  10/4 09:00まで

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epjqpk9ngu
</p>

<p class="tver">
  バラエティ 「ピクサーの世界展」風間俊介と五感フル回転で大満喫スペシャル(2026) の配信がTVerで始まりました。
  9/6 23:59まで

  ※ 風間俊介の案内で巡る「ピクサーの世界展」

  風間俊介、平子祐希(アルコ&ピース)、塩﨑太智(M!LK)、蓼沼優衣 らが出演しています

  https://tver.jp/episodes/ep9t6soo0u
</p>

<p class="tver">
  アニメ さよならララ(2026) 1話の配信がTVerで始まりました。
  9/28 00:29まで

  菱川花菜、深見梨加、村瀬歩、大野智敬、真殿光昭、住友七絵、てらそままさき らが出演しています

  https://tver.jp/episodes/epy1k0yqwi
</p>

<p class="tver">
  アニメ アズールレーン びそくぜんしんっ！にっ！！(2026) 1話の配信がTVerで始まりました。
  10/5 01:15まで

  山根希美、大地葉、長縄まりあ、阿部里果、上坂すみれ、真野美月、佐倉薫 らが出演しています

  https://tver.jp/episodes/epij6501ao
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 1話の配信がTVerで始まりました。
  2027/1/4 00:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/ep3eam1kd5
</p>

<p class="tver">
  バラエティ コワイハナシ(2026) の配信がTVerで始まりました。
  2027/1/6 01:20まで

  ※ 好井まさおのコワイハナシ「北海道にて」

  好井まさお、大村杏(SKE48) らが出演しています

  https://tver.jp/episodes/epiu0qchu5
</p>
