---
title: 2026年5～6月のOngoing
date: 2026-06-29
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  見てしまった...お父さんが怪しい｜2026/5/29配信｜Hiromi factory チャンネル｜20:30

  ※ オリパひくなら業界No.1の日本トレカセンター！

  ヒロミ、小園凌央 らが出演しています

  https://youtu.be/ziLMgZwiTTs
</p>

<p class="yt">
  【木村さ〜〜ん！】鎌倉の名店でディナー!｜2026/5/30配信｜木村拓哉｜36:00
※ 木村拓哉&及川光博 最高の思い出になった夜

木村拓哉、及川光博 らが出演しています

  https://youtu.be/LFNRk5ZrzYo
</p>

<p class="yt">
  おもしろすぎて眠れなくなる深海の話｜2026/5/30配信｜VAIENCE バイエンス｜38:37

  ※ 長沼 毅 - 広島大学名誉教授、安田女子大学教授

  https://youtu.be/UYEStSZQUx0
</p>

<p class="yt">
  一瞬で分かる!?メンバーのレッスン着クイズ!｜2026/5/30配信｜なるたおちゃんねる｜15:27

  ※ 【AKB48】一瞬で分かる！？メンバーのレッスン着クイズ！普段のレッスン着姿だけでメンバーを当てるクイズをやってみました！

倉野尾成美、下尾みう らが出演しています

  https://youtu.be/4A17j5UOOdU
</p>

<p class="yt">
  映画『キングダム 魂の決戦』豪華キャスト紹介 ー合従軍ー｜2026/5/30配信｜東宝MOVIEチャンネル｜1:42
※ 2026/10/16 23:59まで。2026/7/17(金) 公開。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

  https://youtu.be/uatOd9lfbuw
</p>

<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 10/16 23:59まで。7/17(金) 公開。米津玄師「夜鷹」に決定!

	山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>

<p class="yt">
  【公式】芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜10:13

  ※ 〈生〉旅YouTube登録者数100万人突破ありがとう記念特別篇!

  https://youtu.be/oLWzvxEG4Gc
</p>

<p class="yt">
  映画「コッホ先生と僕らの革命(2012)」｜2026/5/29配信｜ギャガ公式チャンネル｜1:53:38

  ※ 型破りな教師が巻き起こした奇跡の革命！“後にドイツ・サッカーの父”と呼ばれるコンラート・コッホの実話を映画化


  鈴木達央｜コンラート・コッホ：ダニエル・ブリュール
  北川勝博｜グスタフ・メアフェルト：ブルクハルト・クラウスナー
  田中正彦｜リヒャルト・ハートゥング：ユストゥス・フォン・ドナーニー

  吹替版： https://youtu.be/5HAd1DP3HE4
  字幕版： https://youtu.be/xQV8ad1q-YA
</P>
