---
title: 2026年5～6月のOngoing
date: 2026-06-29
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  ドラマ 六月のタイムマシン(2025) 1～2話の配信がTVerで始まりました。
  8/31 23:59まで

  ICEx(志賀李玖、八神遼介)、小浜桃奈、佐藤京、矢嶋由菜、松本大輝 らが出演しています

  https://tver.jp/episodes/ep2wqpnorg
</p>

<p class="tver">
  ドラマ その結婚、正気ですか？(2023) 1話の配信がTVerで始まりました。
  8/5 00:00まで

  岡本玲、長妻怜央、和田雅成、押田岳、薄幸(納言)、向里祐香、堀口紗奈、まりあ、林ゆめ、冨手麻妙、佐野岳 らが出演しています

  https://tver.jp/episodes/epk8wrswhr
</p>

<p class="tver">
  ドラマ not so パーフェクトラブ！(1999) 1話の配信がTVerで始まりました。
  7/12 23:59まで
  ※ 3日毎に最新話更新

  福山雅治、木村佳乃、ユースケ・サンタマリア、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep16aus3ap
</p>

<p class="tver">
  ドラマ 100日後に別れる僕と彼(2026) 2話の配信がTVerで始まりました。
  7/8 01:55まで

  伊藤健太郎、寛一郎、鳴海唯、山田健人、野村麻純、光宗薫、工藤阿須加、竹中直人 らが出演しています

  https://tver.jp/episodes/epcignhh65
</p>

<p class="tver">
  バラエティ DUAL2 ～文武両道アスリート極限サバイバル～(2026) 3回の配信がTVerで始まりました。
  7/13 00:10まで

  ※ 極限集中…ライフ争奪戦

  カズレーザー(メイプル超合金)、谷まりあ、宮田俊哉(Kis-My-Ft2)、板谷友弘、入江聖奈、大森康瑛、越川優、高藤直寿、高橋成美、中村知春、萩野公介、藤光謙司、森脇良太 らが出演しています

  https://tver.jp/episodes/ep4le72kfr
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epyr0lsvxq
</p>

<p class="tver">
  ドラマ 家庭教師のトラコ(2022) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  橋本愛、中村蒼、美村里江、細田佳央太、矢島健一、丸山智己、細田善彦、阿久津慶人、永瀬ゆずな、板谷由夏、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epxjj9iv1g
</p>

<p class="tver">
  ドラマ 奥様は、取り扱い注意(2017) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  綾瀬はるか、広末涼子、本田翼、中尾明慶、石黒賢、西島秀俊、倉科カナ らが出演しています

  https://tver.jp/episodes/epuac3asz6
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、伊藤英明、安田顕、田中裕子 らが出演しています

  https://tver.jp/episodes/epp8vsstq4
</p>

<p class="tver">
  ドラマ 家売るオンナ(2016) 1～4話の配信がTVerで始まりました。
  7/12 23:59まで

  北川景子、工藤阿須加、千葉雄大、イモトアヤコ、鈴木裕樹、新木優子、本多力、臼田あさ美、梶原善、仲村トオル、りょう らが出演しています

  https://tver.jp/episodes/eplhqrcev5
</p>

<p class="tver">
  ドラマ ど根性ガエル(2015) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  松山ケンイチ、満島ひかり、前田敦子、勝地涼、光石研、でんでん、白羽ゆり、新井浩文、白石加代子、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epk64pa3cl
</p>

<p class="tver">
  ドラマ リバーサルオーケストラ(2023) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  門脇麦、田中圭、永山絢斗、瀧内公美、坂東龍汰、恒松祐里、前野朋哉、濱田マリ、岡部たかし、津田健次郎、平田満、原日出子、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epjh3eam6r
</p>

<p class="tver">
  ドラマ Q10(2010) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  佐藤健、前田敦子、蓮佛美沙子、賀来賢人、柄本時生、高畑充希、細田善彦、福田麻由子、光石研、西田尚美、松岡璃奈子、池松壮亮、白石加代子、田中裕二、小野武彦、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epevoxeae5
</p>

<p class="tver">
  ドラマ 東京全力少女(2012) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  武井咲、三浦翔平、比嘉愛未、市川由衣、森カンナ、青木隆治、渋谷飛鳥、渡辺邦斗、内藤理沙、由美ローランス、志村玲那、酒井彩音、堀内敬子、温水洋一、塚本高史、渡部篤郎 他

  https://tver.jp/episodes/epe5ntskg4
</p>

<p class="tver">
  ドラマ 愛してたって、秘密はある。(2017) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  福士蒼汰、川口春奈、鈴木浩介、賀来賢人、白洲迅、柄本時生、吉川愛、山本未來、堀部圭亮、岡江久美子、遠藤憲一、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epduzoiuo6
</p>

<p class="tver">
  ドラマ PRINCE OF LEGEND(2018) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  片寄涼太、飯島寛騎、塩野瑛久、鈴木伸之、川村壱馬、佐野玲於、関口メンディー、吉野北人、藤原樹、長谷川慎、町田啓太、清原翔、遠藤史也、こだまたいち、加藤諒、大和孔太、白石聖 らが出演しています

  https://tver.jp/episodes/ep73vye6h5g
</p>

<p class="tver">
  ドラマ 地味にスゴイ！校閲ガール・河野悦子(2016) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  石原さとみ、菅田将暉、本田翼、青木崇高、岸谷五朗、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/ep5v9psua6
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、成海璃子、小手伸也、水野美紀、梶原善 らが出演しています

  https://tver.jp/episodes/ep4hbbj0kk
</p>

<p class="tver">
  ドラマ 35歳の少女(2020) 1～3話の配信がTVerで始まりました。
  7/12 23:59まで

  柴咲コウ、坂口健太郎、田中哲司、竜星涼、富田靖子、橋本愛、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/ep0h3sxx2x
</p>

<p class="tver">
  ドラマ セレブ男子は手に負えません(2024) 6話の配信がTVerで始まりました。
  終了日未記載

  若月佑美、鈴木康介、本田響矢、井手上漠、中尾暢樹 らが出演しています

  https://tver.jp/episodes/eppguw59hz
</p>

<p class="tver">
  ドラマ ピュア(1996) 2話の配信がTVerで始まりました。
  7/7 23:59まで

  和久井映見、堤真一、高橋克典、高岡早紀、篠原涼子、風吹ジュン らが出演しています

  https://tver.jp/episodes/epf9b9fvy5
</p>

<p class="tver">
  ドラマ ピュア(1996) 1話の配信がTVerで始まりました。
  7/7 23:59まで

  和久井映見、堤真一、高橋克典、高岡早紀、篠原涼子、風吹ジュン らが出演しています

  https://tver.jp/episodes/epetr08mwq
</p>

<p class="tver">
  ドラマ ケイジとケンジ 所轄と地検の24時(2020) 1～3話の配信がTVerで始まりました。
  終了日未記載

  桐谷健太、東出昌大、比嘉愛未、磯村勇斗、今田美桜、峯村リエ、渋谷謙人、奥山かずさ、西村元貴、矢柴俊博、菅原大吉、奥貫薫、柳葉敏郎、風間杜夫 他

  https://tver.jp/episodes/epldtwui8h
</p>

<p class="tver">
  ドラマSP ドラマSP 事件救命医～IMATの奇跡～(2014) の配信がTVerで始まりました。
  終了日未記載

  玉木宏、田中圭、貫地谷しほり、大東駿介、小野了、山崎一、杉咲花、伊武雅刀、森口瑤子、水野美紀、高橋克典 らが出演しています

  https://tver.jp/episodes/ep9ont0zdg
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2021) 1～3話の配信がTVerで始まりました。
  終了日未記載

  米倉涼子、野村萬斎、内田有紀、勝村政信、今田美桜、小籔千豊、杉田かおる、岸部一徳、要潤、遠藤憲一、西田敏行 らが出演しています

  https://tver.jp/episodes/ep6bhubgj1
</p>

<p class="tver">
  ドラマ 三カ国な王道LOVE(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  紺野彩夏、別府由来、コ・テジン、マイルス・ロボ、坂東工 らが出演しています

  https://tver.jp/episodes/ep656gpoas
</p>



<p class="yt">
  ふしぎな島のフローネ 10~12話｜2026/6/1配信｜日本アニメーション・シアター｜1:16:58
※ 2026/9/21 23:59まで。終了時間は予想

松尾佳子：フローネ
高坂真琴：ジャック
小林勝彦：エルンスト(10話以降 小林修)
古谷　徹：フランツ
平井道子：アンナ

  https://youtu.be/p2BpaVF_c94
</p>

<p class="tver">
  ドラマ アポロの歌(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  佐藤勝利(timelesz)、高石あかり、西垣匠、森田想、河井青葉、ふかわりょう、池内博之 らが出演しています

  https://tver.jp/episodes/ep4tcmrg7x
</p>

<p class="tver">
  ドラマ 年下童貞くんに翻弄されてます(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  森香澄、柏木悠(超特急)、北村優衣、絃瀬聡一、平川結月、椛島光、朝井瞳子、鈴木康介 らが出演しています

  https://tver.jp/episodes/epu3oc3j1l
</p>

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 1～2話の配信がTVerで始まりました。
  終了日未記載

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epyeq0m0k6
</p>

<p class="tver">
  ドラマ 過保護な若旦那様の甘やかし婚(2024) 1～2話の配信がTVerで始まりました。
  終了日未記載

  高野洸、井頭愛海、大平祥生、後藤大、池田彪馬、松尾貴史、小林綾子、大和田伸也 らが出演しています

  https://tver.jp/episodes/epnqm202vg
</p>

<p class="tver">
  ドラマ 好きな人がいること(2016) 1話の配信がTVerで始まりました。
  7/10 16:59まで
  ※ 終了時間は予想

  桐谷美玲、山崎賢人、三浦翔平、野村周平、大原櫻子、浜野謙太、佐野ひなこ、飯豊まりえ、菜々緒、吉田鋼太郎 らが出演しています

  https://tver.jp/episodes/eppndt6plm
</p>

<p class="yt">
  映画『キングダム 魂の決戦』豪華キャスト紹介 ー合従軍ー｜2026/5/30配信｜東宝MOVIEチャンネル｜1:42
※ 2026/10/16 23:59まで。2026/7/17(金) 公開。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

  https://youtu.be/uatOd9lfbuw
</p>

<p class="yt">
  映画「キングダム 魂の決戦」6月2日(火)ワールドプレミア｜2026/6/2配信｜東宝MOVIEチャンネル｜1:09:00
※ 2026/10/16(金) 23:59まで。2026年7月17日（金）公開。主題歌は米津玄師「夜鷹」。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

  山﨑賢人、吉沢亮、橋本環奈、志尊淳、神尾楓珠、三吉彩花、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、要潤、佐久間由衣、玉木宏、佐藤浩市、小栗旬、佐藤信介(監督) らが出演しています

  https://youtu.be/Qlv7zFoZH_4
</p>

<p class="yt">
  一瞬で分かる!?メンバーのレッスン着クイズ!｜2026/5/30配信｜なるたおちゃんねる｜15:27

  ※ 【AKB48】一瞬で分かる！？メンバーのレッスン着クイズ！普段のレッスン着姿だけでメンバーを当てるクイズをやってみました！

倉野尾成美、下尾みう らが出演しています

  https://youtu.be/4A17j5UOOdU
</p>

<p class="yt">
  見てしまった...お父さんが怪しい｜2026/5/29配信｜Hiromi factory チャンネル｜20:30

  ※ オリパひくなら業界No.1の日本トレカセンター！

  ヒロミ、小園凌央 らが出演しています

  https://youtu.be/ziLMgZwiTTs
</p>

<p class="yt">
  【木村さ〜〜ん！】鎌倉の名店でディナー!｜2026/5/30配信｜木村拓哉｜36:00
※ 木村拓哉&及川光博 最高の思い出になった夜

木村拓哉、及川光博 らが出演しています

  https://youtu.be/LFNRk5ZrzYo
</p>

<p class="yt">
  おもしろすぎて眠れなくなる深海の話｜2026/5/30配信｜VAIENCE バイエンス｜38:37

  ※ 長沼 毅 - 広島大学名誉教授、安田女子大学教授

  https://youtu.be/UYEStSZQUx0
</p>

<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 10/16 23:59まで。7/17(金) 公開。米津玄師「夜鷹」に決定!

	山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>

<p class="yt">
  【公式】芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜10:13

  ※ 〈生〉旅YouTube登録者数100万人突破ありがとう記念特別篇!

  https://youtu.be/oLWzvxEG4Gc
</p>

<p class="yt">
  映画「コッホ先生と僕らの革命(2012)」｜2026/5/29配信｜ギャガ公式チャンネル｜1:53:38

  ※ 型破りな教師が巻き起こした奇跡の革命！“後にドイツ・サッカーの父”と呼ばれるコンラート・コッホの実話を映画化


  鈴木達央｜コンラート・コッホ：ダニエル・ブリュール
  北川勝博｜グスタフ・メアフェルト：ブルクハルト・クラウスナー
  田中正彦｜リヒャルト・ハートゥング：ユストゥス・フォン・ドナーニー

  吹替版： https://youtu.be/5HAd1DP3HE4
  字幕版： https://youtu.be/xQV8ad1q-YA
</P>
