---
title: 2026年9月のOngoing
date: 2026-09-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 1話の配信がTVerで始まりました。
  10/9 21:59まで

  蒼井優、中島歩、高橋文哉、齋藤飛鳥、久保田薫、中井友望、イトウハルヒ、赤ペン瀧川、夏帆、伊武雅刀、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/epwkvwnxez
</p>

<p class="tver">
  ドラマ できちゃった結婚(2001) 1～3話の配信がTVerで始まりました。
  10/9 23:59まで

  ※ 3日毎に最新話追加

  竹野内豊、広末涼子、石田ゆり子、阿部寛、片瀬那奈、妻夫木聡、沢村一樹、木の実ナナ、千葉真一 らが出演しています

  https://tver.jp/episodes/ephjhnaj9q
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 1～3話の配信がTVerで始まりました。 44分
  10/9 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、長谷川朝晴、井上肇、向里祐香、山田キヌヲ、川床明日香、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/epi892qf6w
</p>

<p class="tver">
  ドラマ 振り返れば奴がいる(1993) 1～3話の配信がTVerで始まりました。
  10/10 23:59まで

  織田裕二、石黒賢、松下由樹、西村まさ彦、佐藤B作、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/epow6kjzc4
</p>

<p class="tver">
  ドラマ 水曜日の情事～a Wednesday love affair(2001) 1～2話の配信がTVerで始まりました。
  10/10 23:59まで

  本木雅弘、天海祐希、原田泰造(ネプチューン)、谷原章介、伊東美咲、眞鍋かをり、水橋研二、北村一輝、木村多江、春海四方、筒井巧、田山涼成、田村亮、石田ひかり らが出演しています

  https://tver.jp/episodes/epkmfnymxt
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 1～3話の配信がTVerで始まりました。 44分
  10/10 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、松永拓野、雨野宮将明、まちゃあき、エグスプロージョン、川田裕美 らが出演しています

  https://tver.jp/episodes/eps2m2psnb
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 1～3話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  山田優、金子ノブアキ、勝村政信、鈴木浩介 らが出演しています

  https://tver.jp/episodes/epdpl9sjaz
</p>

<p class="tver">
  ドラマ 東京タワー(2024) 1～3話の配信がTVerで始まりました。
  10/11 23:59まで

  永瀬廉(King & Prince)、板谷由夏、松田元太(Travis Japan)、MEGUMI、永瀬莉子、なえなの、甲本雅裕、YOU らが出演しています

  https://tver.jp/episodes/ep8r63a77p
</p>

<p class="tver">
  ドラマ お金がない！(1994) 1～3話の配信がTVerで始まりました。
  10/11 23:59まで

  ※ 3日毎に最新話追加

  織田裕二、財前直見、東幹久、芳本美代子、松崎しげる、石橋凌 らが出演しています

  https://tver.jp/episodes/epmxxnb3t8
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 1～2話の配信がTVerで始まりました。 44分
  10/12 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平、横田美紀、山元隆弘 らが出演しています

  https://tver.jp/episodes/epe3ubd8ju
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 1～2話の配信がTVerで始まりました。 24分
  10/12 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟 らが出演しています

  https://tver.jp/episodes/ep8a4ko5dh
</p>

<p class="tver">
  ドラマ GTO(2026) 1話の配信がTVerで始まりました。
  10/12 22:00まで

  反町隆史、生見愛瑠、工藤阿須加、高橋メアリージュン、市川知宏、稲垣来泉、森本陸斗、及川桃利、大島美優、梶原叶渚、川口和空、北里琉、柴崎楓雅、難波碧空、西浦心乃助、堀口真帆、山崎裕太、和田聰宏、宇梶剛士、近藤芳正、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epks0s4qy8
</p>

<p class="tver">
  ドラマ 恋はDeepに(2021) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  石原さとみ、綾野剛、今田美桜、渡邊圭祐、藤森慎吾(オリエンタルラジオ)、高橋努、筧美和子、水澤紳吾、福山翔大、松熊つる松、橋本じゅん、大谷亮平、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/epxfhxnxp7
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epyr0lsvxq
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、伊藤英明、安田顕、田中裕子 らが出演しています

  https://tver.jp/episodes/epp8vsstq4
</p>

<p class="tver">
  ドラマ トップナイフ－天才脳外科医の条件－(2020) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  天海祐希、椎名桔平、広瀬アリス、永山絢斗、古川雄大、三浦友和、堀内敬子 らが出演しています

  https://tver.jp/episodes/epi8pmpxlf
</p>

<p class="tver">
  ドラマ 親バカ青春白書(2020) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  ムロツヨシ、永野芽郁、中川大志、今田美桜、戸塚純貴、小野花梨、谷口翔太、濱田めぐみ、野間口徹、新垣結衣 らが出演しています

  https://tver.jp/episodes/epgbeshk6i
</p>

<p class="tver">
  ドラマ 君の好きは無敵(2026) 1～3話の配信がTVerで始まりました。
  10/13 21:59まで

  松本若菜、佐野勇斗(M!LK)、小野花梨、金田哲(はんにゃ.)、中村隼人、白本彩奈、川崎健太、桑木里夢、和田瑠子、尾美としのり、島崎和歌子、藤井隆、あの、高嶋政伸、本郷奏多、白石加代子 らが出演しています

  https://tver.jp/episodes/epl8rc6u89
</p>

<p class="tver">
  ドラマ オー!マイ･ボス!恋は別冊で(2021) 1～3話の配信がTVerで始まりました。
  10/13 21:59まで

  上白石萌音、菜々緒、玉森裕太(Kis-My-Ft2)、間宮祥太朗、久保田紗友、亜生(ミキ)、秋山ゆずき、太田夢莉、吉田沙世、宮崎美子、高橋ひとみ、犬飼貴丈、橋爪淳、山之内すず、円城寺あや、レスリー・キー、栄信、冨永愛、高橋メアリージュン、なだぎ武、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/epykr2vlux
</p>

<p class="tver">
  ドラマ 恋はつづくよどこまでも(2020) 1～3話の配信がTVerで始まりました。
  10/13 21:59まで

  上白石萌音、佐藤健、毎熊克哉、昴生(ミキ)、渡邊圭祐、瀧内公美、吉川愛、堀田真由、瑛蓮、安藤聖、原ふき子、堀本雪詠、見上愛、香里奈、金子大地、住田萌乃、岡部たかし、鈴木拓(ドランクドラゴン)、黒羽麻璃央、青木和代、太田美恵、ふくまつみ、平岩紙、片瀬那奈、蓮佛美沙子、山本耕史 らが出演しています

  https://tver.jp/episodes/epvsztuu86
</p>

<p class="tver">
  ドラマ 陸王(2017) 1～3話の配信がTVerで始まりました。
  10/13 21:59まで

  役所広司、山崎賢人、竹内涼真、上白石萌音、風間俊介、音尾琢真、和田正人、佐野岳、馬場徹、内村遥、春やすこ、吉谷彩子、宇野けんたろう、げんき〜ず、前原滉、花沢将人、佐藤俊彦、石井貴就、安藤勇雅、緒形敦、増田明美、内場勝則、井上肇、原アンナ、上村依子、ぼくもとさきこ、正司照枝、阿川佐和子、小籔千豊、桂雀々、志賀廣太郎、光石研、檀ふみ、市川右團次、ピエール瀧、寺尾聰 らが出演しています

  https://tver.jp/episodes/ep2xf8i3qj
</p>

<p class="tver">
  ドラマ ブラザー・トラップ(2023) 1～3話の配信がTVerで始まりました。 21分
  10/13 21:59まで

  久間田琳加、山中柔太朗(M!LK)、工藤遥、若林時英、渡邉美穂、榊原有那、石井礼美、齋藤璃佑、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epqm8pby32
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 1～3話の配信がTVerで始まりました。 44分
  10/14 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epsafpblkx
</p>

<p class="tver">
  ドラマ リセット(2009) 1～3話の配信がTVerで始まりました。 31分
  10/14 12:00まで

  田中直樹(ココリコ)、安めぐみ、松山愛里、桐山漣 らが出演しています

  https://tver.jp/episodes/epg6baen4k
</p>

<p class="tver">
  ドラマ 初めて恋をした日に読む話(2019) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  深田恭子、永山絢斗、横浜流星、中村倫也、高橋洋、浜中文一、吉川愛、永田崇人、堀家一希、櫻井圭佑、若林拓也、加藤小夏、黒崎レイナ、石丸謙二郎、鶴見辰吾、安達祐実、皆川猿時、生瀬勝久、檀ふみ らが出演しています

  https://tver.jp/episodes/epy3slbtnf
</p>

<p class="tver">
  ドラマ 着飾る恋には理由があって(2021) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  川口春奈、横浜流星、丸山隆平(SUPER EIGHT)、中村アン、飯尾和樹(ずん)、山下美月、高橋文哉、赤ペン瀧川、木本夕貴、池下重大、桜井聖、貴山侑哉、相田雄一郎、黒木麗奈、古泉千里、工藤夕貴、向井理、夏川結衣 らが出演しています

  https://tver.jp/episodes/eputwyx55s
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、松本梨菜、後藤果萌、武井証、浅野和之、中丸新将、原田美枝子、川村陽介、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epulk71t1g
</p>

<p class="tver">
  ドラマ きみが心に棲みついた(2018) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  吉岡里帆、桐谷健太、石橋杏奈、中村アン、長谷川朝晴、田中真琴、山岸門人、周本絵梨香、永岡佑、小林恵美、ムロツヨシ、鈴木紗理奈、瀬戸朝香、向井理 らが出演しています

  https://tver.jp/episodes/epkvn7yp6n
</p>

<p class="tver">
  ドラマ 危険なビーナス(2020) 1～2話の配信がTVerで始まりました。
  10/16 21:59まで

  妻夫木聡、吉高由里子、DEAN FUJIOKA、染谷将太、中村アン、堀田真由、結木滉星、福田麻貴(3時のヒロイン)、麻生祐未、坂井真紀、R-指定(Creepy Nuts)、安蘭けい、田口浩正、池内万作、栗田芳宏、栗原英雄、斉藤由貴、戸田恵子、小日向文世 らが出演しています

  https://tver.jp/episodes/epdfyrx6i1
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、高橋努、浜田学、河井青葉、六角慎司、山岸門人、竹井亮介、高野ゆらこ、与田祐希、宝辺花帆美、國村隼、伊集院光、小林隆、風吹ジュン、比嘉愛未、松田丈志、小杉竜一(ブラックマヨネーズ)、長田庄平(チョコレートプラネット)、吉田鋼太郎、杉本哲太、風間杜夫、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/epy2xv8vf5
</p>

<p class="tver">
  ドラマ 獣医ドリトル(2010) 1～2話の配信がTVerで始まりました。
  10/16 21:59まで

  小栗旬、井上真央、成宮寛貴、藤澤恵麻、笠原秀幸、菅田将暉、若村麻由美、西村まさ彦、紺野まひる、石坂浩二、國村隼 らが出演しています

  https://tver.jp/episodes/ep27n9r9z8
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、山本未來、坪倉由幸(我が家)、映美くらら、渡辺憲吉、赤間麻里子、谷川昭一朗、宮崎吐夢、内藤秀一郎、西垣匠、豆原一成(JO1)、藤野詩音、中嶋朋子、酒向芳、さだまさし、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epn6jpd193
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 1～5話の配信がTVerで始まりました。
  10/16 21:59まで

  斉藤由貴、及川光博、川平慈英、能世あんな、東亜優、荒井健太郎、池田成志、馬渕英里何、尾美としのり、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/eph4pogwsp
</p>

<p class="tver">
  ドラマ 4分間のマリーゴールド(2019) 1～3話の配信がTVerで始まりました。
  10/16 21:59まで

  福士蒼汰、菜々緒、横浜流星、西村元貴、伊藤あさひ、関水渚、鈴木ゆうか、山城琉飛、中田華月、麻生祐未、村上新悟、須田邦裕、森南波、原田文明、加藤小夏、三浦誠己、西尾まり、橋本じゅん、桐谷健太 らが出演しています

  https://tver.jp/episodes/epd0ytd9yr
</p>

<p class="tver">
  ドラマ フェイクマミー(2025) 1～3話の配信がTVerで始まりました。 45分
  10/16 21:59まで

  波瑠、川栄李奈、向井康二(Snow Man)、中村蒼、池村碧彩、津田篤宏(ダイアン)、若林時英、宮尾俊太郎、筧美和子、利重剛、筒井真理子、笠松将 らが出演しています

  https://tver.jp/episodes/epmxmc2xg4
</p>

<p class="tver">
  ドラマSP 貴族の階段(1991) の配信がTVerで始まりました。 143分
  10/16 21:59まで

  斉藤由貴、高嶋政宏、清水美砂、結城美栄子、高岡健二、今井雅之、生田智子、越智静香、杉村春子、中谷一郎、山村聰、平幹二朗 らが出演しています

  https://tver.jp/episodes/epb5lypus1
</p>

<p class="tver">
  ドラマ メゾン・ド・ポリス(2019) 1～3話の配信がTVerで始まりました。 59分
  10/16 21:59まで

  高畑充希、西島秀俊、西田尚美、竜星涼、木村了、戸田昌宏、今井朋彦、水橋研二、渡辺文香、山崎莉里那、小日向文世、手塚理美、小久保寿人、岩寺真志、荻野友里、谷川清美、伊島空、野口五郎、角野卓造、近藤正臣 らが出演しています

  https://tver.jp/episodes/epxup7drry
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 1～3話の配信がTVerで始まりました。 69分
  10/16 21:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、神尾佑、竜星涼、加治将樹、丸一太、夏緒、加藤晴彦、佐々木希、長江英和、好井まさお、富永沙織、桂文枝、市川実日子、池田鉄洋、木場勝己、三田佳子、春風亭昇太、香川照之 らが出演しています

  https://tver.jp/episodes/epvmgilyyk
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 1～3話の配信がTVerで始まりました。 52分
  10/16 21:59まで

  仲間由紀恵、リュ・シウォン、大倉孝二、袴田吉彦、鈴木浩介、入江慎也、吉瀬美智子、田中哲司、いしだ壱成、入山法子、井田國彦、鈴木みのる、眞野裕子、益岡徹、片平なぎさ、泉ピン子 らが出演しています

  https://tver.jp/episodes/epeuq59lcf
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 1話の配信がTVerで始まりました。
  10/20 00:23まで

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/ep1njoxhdt
</p>

<p class="tver">
  ドラマ 転校生ナノ(2026) 1話の配信がTVerで始まりました。
  10/20 00:45まで

※ タイのミステリー・スリラー・アンソロジーテレビドラマシリーズの日本版リメイク2026年4月にFODで独占配信され、8月から地上波放送

  仲島有彩、八神蓮、日山和子、真行寺君枝、百瀬拓実、朝日奈まお、安達祐実、田中幸太朗、田牧そら、西山蓮都 らが出演しています

  https://tver.jp/episodes/ep6hbcpy1k
</p>

<p class="tver">
  ドラマ 恋をするなら二度目が上等(2026・2期) 1～2話の配信がTVerで始まりました。
  10/21 01:55まで

  長谷川慎、古屋呂敏、髙松アロハ(超特急)、白石隼也、深水元基、阿久根温世(ICEx)、大貫勇輔 らが出演しています

  https://tver.jp/episodes/ep35fgvxp3
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 8(最終)話の配信がTVerで始まりました。 49分
  10/23 23:15まで

  吉川愛、綱啓永、恒松祐里、髙松アロハ(超特急)、坂元愛登、吉沢悠、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epj6mpatb1
</p>

<p class="tver">
  ドラマSP 西村京太郎 トラベルミステリー(2013) 59～60、61、64～67話の配信がTVerで始まりました。
  10/25 23:59まで

  高橋英樹、高田純次、浅野ゆう子、原史奈、岩城滉一、森本レオ、宇梶剛士、山村紅葉、石垣佑磨、黄川田雅哉、三津谷葉子、小野真弓、とよた真帆、田中健、大浦龍宇一、遊井亮子、佐戸井けん太、朝倉あき、森本レオ、春田純一、湯江タケユキ らが出演しています

  https://tver.jp/episodes/epl0b0sqkw
</p>

<p class="tver">
  ドラマ 陽キャ集団にいる芹沢は、俺の前だと様子がおかしい(2026) 1話の配信がTVerで始まりました。
  10/27 01:28まで

  小泉光咲(原因は自分にある。)、四坂亮翔、木村魁希、田中笑太郎(DXTEEN)、葉山侑樹 らが出演しています

  https://tver.jp/episodes/epunpdgnhg
</p>

<p class="tver">
  ドラマ ホメられたい僕の妄想ごはん(2024) 1～2話の配信がTVerで始まりました。 24分
  10/27 23:59まで

  高杉真宙、小野花梨、福山翔大、内藤秀一郎、夏子、AMI、山崎潤、山野海、休日課長、石田ニコル、酒井若菜 らが出演しています

  https://tver.jp/episodes/eplg81ko1a
</p>

<p class="tver">
  ドラマ おいしい給食(2019) 全10話の配信がTVerで始まりました。
  10/31 23:59まで

  市原隼人、武田玲奈、佐藤大志、豊嶋花、辻本達規、いとうまい子、酒向芳 らが出演しています

  https://tver.jp/episodes/epgwatbx1o
</p>

<p class="tver">
  ドラマ おいしい給食(2021・2期) 全10話の配信がTVerで始まりました。
  10/31 23:59まで

  市原隼人、土村芳、佐藤大志、勇翔、山崎玲奈、いとうまい子、直江喜一、木野花、酒井敏也 らが出演しています

  https://tver.jp/episodes/epev4l4ueu
</p>

<p class="tver">
  ドラマ おいしい給食(2023・3期) 全10話の配信がTVerで始まりました。
  10/31 23:59まで

  市原隼人、大原優乃、田澤泰粋、栄信、六平直政、いとうまい子、高畑淳子、小堺一機 らが出演しています

  https://tver.jp/episodes/epa5u8bncf
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書 クリスマス狂想曲(2021) の配信がTVerで始まりました。
  10/31 23:59まで

  松井愛莉、古川雄輝、飯島寛騎、中村里帆、小林亮太、松浦ミキル、金澤美穂 らが出演しています

  https://tver.jp/episodes/epe1bnyahf
</p>

<p class="tver">
  ドラマ デス（青春）ゲーム(2026) 1話の配信がTVerで始まりました。 23分
  10/31 23:59まで

  山崎天、藤本洸大、吉澤要人(原因は自分にある。)、林裕太、菊池日菜子、川島海荷、池田良、芦川誠、荻野友里 らが出演しています

  https://tver.jp/episodes/ep8ck38vzg
</p>

<p class="tver">
  ドラマ 大豆田とわ子と三人の元夫(2021) 全10話の配信がTVerで始まりました。 57分
  10/31 23:59まで

  松たか子、岡田将生、角田晃広(東京03)、高橋メアリージュン、弓削智久、平埜生成、石村みか、豊嶋花、穂志もえか、楽駆、石橋静河、石橋菜津美、瀧内公美、長岡亮介、市川実日子、斎藤工、伊藤沙莉、近藤芳正、岩松了、松田龍平 らが出演しています

  https://tver.jp/episodes/epqeyyhzv6
</p>




<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 1話の配信がTVerで始まりました。
  10/9 23:59まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epc4gfeott
</p>

<p class="tver">
  アニメ ぐらんぶる(2026・3期) 1話の配信がTVerで始まりました。
  10/11 00:29まで

  内田雄馬、木村良平、安元洋貴、小西克幸、安済知佳、内田真礼、行成とあ、阿澄佳奈、山根綺、江口拓也、榎木淳弥、花江夏樹、ロバート・ウォーターマン、福山潤、諸星すみれ、青山吉能、川田紳司、水樹奈々、市道真央、大原さやか、瀬戸麻沙美、洲崎綾 らが出演しています

  https://tver.jp/episodes/ep1eat3v34
</p>

<p class="tver">
  アニメ 無職転生Ⅲ ～異世界行ったら本気だす～(2026) 1～2話の配信がTVerで始まりました。
  10/11 23:59まで

  加隈亜衣、豊口めぐみ、戸松遥、稲田徹、内山夕実、杉田智和 らが出演しています

  https://tver.jp/episodes/epo4mhqv5h
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 1話の配信がTVerで始まりました。
  10/12 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epkpeoj5qw
</p>

<p class="tver">
  アニメ いびってこない義母と義姉(2026) 1話の配信がTVerで始まりました。
  10/14 23:29まで

  くじら、芹澤優、貫井柚佳、麦穂あんな、大地葉、寺澤百花、七海ひろき、東山奈央、杉山里穂、加隈亜衣、津田美波、根本京里、内山夕実、市道真央 らが出演しています

  https://tver.jp/episodes/ep0njw87pm
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 1話の配信がTVerで始まりました。
  10/18 21:29まで

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ らが出演しています

  https://tver.jp/episodes/ep923wghql
</p>

<p class="tver">
  アニメ メカアマト(2026・4期) 1話の配信がTVerで始まりました。
  10/20 19:57まで

  村瀬歩、松岡禎丞、白石涼子、加藤英美里、大谷理美 らが出演しています

  https://tver.jp/episodes/epbuzts4jr
</p>






<p class="yt">
  アニメ リボンの騎士 1～40話｜2026/8/17配信｜手塚プロダクション公式チャンネル｜1:40:33
  ※ 2026/10/13 14:00まで

  太田　淑子：サファイヤ
  貴家　堂子：チンク
  小林　恭治：王
  新道乃里子：王妃
  塩見　龍介：魔王メフィスト
  武藤　礼子：ヘケート
  雨森　雅司：ジュラルミン大公
  北川智恵子：プラスチック
  納谷　悟郎：ナイロン卿

  https://youtu.be/AJDpXfki2p8
</p>

<p class="yt">
  映画『キングダム 魂の決戦』豪華キャスト紹介 ー合従軍ー｜2026/5/30配信｜東宝MOVIEチャンネル｜1:42
※ 2026/10/16 23:59まで。2026/7/17(金) 公開。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

  https://youtu.be/uatOd9lfbuw
</p>

<p class="yt">
  映画「キングダム 魂の決戦」6月2日(火)ワールドプレミア｜2026/6/2配信｜東宝MOVIEチャンネル｜1:09:00
※ 2026/10/16(金) 23:59まで。2026年7月17日（金）公開。主題歌は米津玄師「夜鷹」。Youtubeでは引き続き公開されていると思いますが当サイトでは期限付きにします。

  山﨑賢人、吉沢亮、橋本環奈、志尊淳、神尾楓珠、三吉彩花、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、要潤、佐久間由衣、玉木宏、佐藤浩市、小栗旬、佐藤信介(監督) らが出演しています

  https://youtu.be/Qlv7zFoZH_4
</p>

<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 10/16 23:59まで。7/17(金) 公開。米津玄師「夜鷹」に決定!

	山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>

<p class="yt">
  TVアニメ「魔法のプリンセスミンキーモモ」53～63話｜2026/9/7配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜4:08:37
  ※ 10/19(月) 19:59まで。概要欄では53～65話となっていますがサムネでは63話なので後者が正しいのではないかと

  小山茉美：ミンキーモモ
  増岡弘：王様
  塚田恵美子：王妃様
  納谷六朗：パパ
  土井美加：ママ
  田ノ中勇：シンドブック
  木藤玲子：モチャー
  三田ゆう子：ピピル
  千葉繁：カジラ

  https://youtu.be/4A09nqI7xq4
</p>
