---
title: 2026/8/10 のピックアップ
date: 2026-08-10
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 真・侍伝 YAIBA(2026) 6話の配信がTVerで始まりました。
  8/18 3:28まで

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 らが出演しています

  https://tver.jp/episodes/epk52vglci
</p>

<p class="tver">
  ドラマ 陽キャ集団にいる芹沢は、俺の前だと様子がおかしい(2026) 1話の配信がTVerで始まりました。
  10/27 01:28まで

  小泉光咲(原因は自分にある。)、四坂亮翔、木村魁希、田中笑太郎(DXTEEN)、葉山侑樹 らが出演しています

  https://tver.jp/episodes/epunpdgnhg
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 6話の配信がTVerで始まりました。
  8/18 1:20まで

  ※ 14分のドラマです

  石黒英雄、入来茉里 らが出演しています

  https://tver.jp/episodes/ep37tic1fa
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 6話の配信がTVerで始まりました。
  9/8 00:23まで

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/ep06opzapz
</p>

<p class="tver">
  アニメ 盗掘王(2026) 5話の配信がTVerで始まりました。
  8/18 1:14まで

  細谷佳正、早見沙織、入野自由、諏訪部順一、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epkfzunvd0
</p>

<p class="tver">
  バラエティ クイズ！脳ベルSHOW(2026) 1670回の配信がTVerで始まりました。
  8/17 23:59まで

  ※ 石塚英彦 黒木真由美 野村佑香 横内正 前編

  岡田圭右(ますだおかだ)、川野良子、篠原菊紀、石塚英彦、野村佑香、横内正 らが出演しています

  https://tver.jp/episodes/epdx4iibmi
</p>

<p class="tver">
  バラエティ しゃべくり007(2026) の配信がTVerで始まりました。
  8/17 20:59まで

  ※ 偏差値70エリート集団!河野太郎&オリラジ中田敦彦も参戦!!

  ネプチューン(名倉潤、原田泰造、堀内健)、くりぃむしちゅー(有田哲平、上田晋也)、チュートリアル(徳井義実、福田充徳)、河野太郎、中田敦彦(オリエンタルラジオ)、岸谷蘭丸、黒岩里奈、こがけん、森本晋太郎(トンツカタン)、松本杏奈 らが出演しています

  https://tver.jp/episodes/epwvp1lnv1
</p>

<p class="tver">
  バラエティ 世界まる見え！テレビ特捜部(2026) の配信がTVerで始まりました。
  8/17 18:59まで

  ※ 福原遥あ然!凶悪犯vs空港税関▼スパルタ料理人vsマヌケ経営者

  所ジョージ、岩田絵里奈、ビートたけし、倉田真由美、たくろう、福原遥、細田佳央太、ハナコ らが出演しています

  https://tver.jp/episodes/epumyhmgxc
</p>

<p class="tver">
  ドラマ Get Ready!(2023) 8話の配信がTVerで始まりました。
  8/18 23:59まで

  妻夫木聡、松下奈緒、日向亘、一ノ瀬颯、結城萌、片山友希、菅原卓磨、吉田涼哉、川本光貴、星野奈緒、榎木孝明、根岸季衣、菊池亜希子、松澤一之、野添義弘、カゴシマジロー、福田転球、内村遥、沢村一樹、矢島健一、鹿賀丈史、藤原竜也 らが出演しています

  https://tver.jp/episodes/eptx1agdvg
</p>

<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 4話の配信がTVerで始まりました。
  8/17 23:59まで

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/epp1uhpyub
</p>

<p class="tver">
  ドラマSP 西村京太郎 トラベルミステリー(2013) 59～60、61話の配信がTVerで始まりました。
  10/25 23:59まで

  高橋英樹、高田純次、浅野ゆう子、原史奈、岩城滉一、森本レオ、宇梶剛士、山村紅葉、石垣佑磨、黄川田雅哉、三津谷葉子、小野真弓 らが出演しています

  https://tver.jp/episodes/epl0b0sqkw
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 7話の配信がTVerで始まりました。
  8/18 23:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、丸一太、渋江譲二、田中みな実、大黒摩季、三石琴乃、城田優、堺正章、加藤浩次、極楽とんぼ、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epe20epfiv
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 6話の配信がTVerで始まりました。
  8/17 23:54まで

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、加藤小夏、落合モトキ、前野朋哉、星野奈緒、山中聡、森下能幸、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epmufk76hm
</p>

<p class="tver">
  ドラマ GTO(2026) 4話の配信がTVerで始まりました。
  8/17 22:00まで

  反町隆史、生見愛瑠、工藤阿須加、高橋メアリージュン、市川知宏、夙川アトム、稲垣来泉、大島美優、及川桃利、梶原叶渚、川口和空、北里琉、柴崎楓雅、難波碧空、西浦心乃助、堀口真帆、森本陸斗、沢村玲、池内博之、近藤芳正、宇梶剛士 らが出演しています

  https://tver.jp/episodes/epvtt3rop6
</p>

<p class="tver">
  ドラマ ブラックトリック～裁きを操る弁護人～(2026) 4話の配信がTVerで始まりました。
  8/17 21:00まで

  GACKT、手塚とおる、野波麻帆、志田未来、竹財輝之助、神尾楓珠、春本ヒロ、三浦真椰、戸塚純貴 らが出演しています

  https://tver.jp/episodes/ep7llyd9lf
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 5話の配信がTVerで始まりました。
  8/17 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epr1w928ti
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 24話の配信がTVerで始まりました。
  8/17 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/epix6kilr2
</p>

<p class="tver">
  アニメ 劇場版 魔法少女まどか☆マギカ［新編］叛逆の物語(2026) の配信がTVerで始まりました。
  11/12 18:59まで
  ※ 【狩野英孝解説付き】Part1

  悠木碧、斎藤千和、水橋かおり、喜多村英梨、野中藍、加藤英美里、阿澄佳奈、狩野英孝 らが出演しています

  https://tver.jp/episodes/epa984dxax
</p>

<p class="yt">
  TVアニメ「魔法のプリンセスミンキーモモ」1～13話｜2026/8/10配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜4:53:48
  ※ 8/17(月) 19:59まで

  小山茉美：ミンキーモモ
  増岡弘：王様
  塚田恵美子：王妃様
  納谷六朗：パパ
  土井美加：ママ
  田ノ中勇：シンドブック
  木藤玲子：モチャー
  三田ゆう子：ピピル
  千葉繁：カジラ

  https://youtu.be/U0eu730Ka0g
</p>

<p class="yt">
  アニメ『地獄先生ぬ~べ~』25～(28延期)～32話｜2026/8/10配信｜東映アニメーションミュージアムチャンネル｜2:52:01
※ 8/25 19:00まで

置鮎龍太郎：鵺野鳴介
藤田　淑子：立野広
笠原　留美：稲葉郷子
冨永みーな：細川美樹
根谷美智子：律子先生
田中　一成：克也
浦和めぐみ：まこと
本多智恵子：いずな
白鳥　由里：ゆきめ
森川　智之：玉藻

  https://youtu.be/VnAakvLXa1E
</p>

<p class="yt">
  ふしぎな島のフローネ 40～42話｜2026/8/10配信｜日本アニメーション・シアター｜1:16:55
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/INi8ShK88Lk
</p>

<p class="yt">
  アニメ「ひぐらしのなく頃に」1～26話｜2026/8/10配信｜アニメタイムズ公式｜10:15:34
  ※ 2026/8/17(月) 16:59まで

  保志総一朗：前原圭一
  中原麻衣：竜宮レナ
  雪野五月：園崎魅音
  かないみか：北条沙都子
  田村ゆかり：古手梨花
  茶風林：大石蔵人
  大川透：富竹ジロウ
  伊藤美紀：鷹野三四
  折笠富美子：知恵留美子

  https://youtu.be/yWQZXhEi0Bw
</p>

<p class="yt">
  映画『富江』｜2026/8/7配信｜角川シネマコレクション｜1:35:00
  ※ 8/21(金) 19:59まで

  菅野美穂、中村麻美、洞口依子、田口トモロヲ、草野康太、留美、水橋研二 他

  https://youtu.be/IXxJhVxSBI0
</p>

<p class="tver">
  バラエティ サンドウィッチマン＆芦田愛菜の博士ちゃん(2026) の配信がTVerで始まりました。
  8/30 18:00まで

  ※ 伊藤沙莉が博士ちゃん初参戦！クイズ悪魔の3択SP！

  サンドウィッチマン(伊達みきお、富澤たけし)、芦田愛菜、伊藤沙莉 らが出演しています

  https://tver.jp/episodes/epnzr7fa9t
</p>

<p class="tver">
  バラエティ ナニコレ珍百景(2026) の配信がTVerで始まりました。
  8/24 18:00まで

  ※ 知られざる日本三大〇〇＆北海道の先っちょで日本最北の〇〇発見！

  磯村勇斗、影山優佳、ネプチューン(名倉潤、原田泰造、堀内健)、斎藤ちはる らが出演しています

  https://tver.jp/episodes/ep3jn2ab5r
</p>

<p class="tver">
  バラエティ STU48 美活動部 はじめました！(2026) 31回の配信がTVerで始まりました。
  9/7 15:59まで

  ※ ひろしまブランドショップTAUに潜入

  STU48(内海里音、岡村梨央、迫姫華) らが出演しています

  https://tver.jp/episodes/ep92agckdv
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  8/24 15:00まで

  ※ 高知の山奥で、３姉弟が幼いころに我が子のように見守ってくれた“忘れられない恩人”と涙の再会

  所ジョージ、林修、塩﨑太智(M!LK)、岡田紗佳 らが出演しています

  https://tver.jp/episodes/epynp427yd
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 12(最終)話の配信がTVerで始まりました。
  8/24 23:59まで

  武田梨奈 らが出演しています

  https://tver.jp/episodes/epks28of70
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 6話の配信がTVerで始まりました。
  8/17 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/eps31wk3no
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 6話の配信がTVerで始まりました。
  8/17 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epl9zxgyhx
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 16話の配信がTVerで始まりました。
  8/17 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epji3im6y3
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  8/24 09:54まで

  ※ 和田明日香がココエビカレーを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/ep2bkcowi0
</p>

<p class="tver">
  ドラマ 恋はDeepに(2021) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  石原さとみ、綾野剛、今田美桜、渡邊圭祐、藤森慎吾(オリエンタルラジオ)、高橋努、筧美和子、水澤紳吾、福山翔大、松熊つる松、橋本じゅん、大谷亮平、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/epxfhxnxp7
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epyr0lsvxq
</p>

<p class="tver">
  ドラマ アンサンブル(2025) 1～3話の配信がTVerで始まりました。
  9/10 23:59まで

  川口春奈、松村北斗(SixTONES)、長濱ねる、じろう(シソンヌ)、戸塚純貴、香音、東野絢香、橋本マナミ、佐藤菫、瀬戸朝香、横田真悠、中田クルミ、稲垣来泉、八木亜希子、光石研、板谷由夏、田中圭 らが出演しています

  https://tver.jp/episodes/epw16k20bl
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 4話の配信がTVerで始まりました。
  8/16 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、成田偉心、平間壮一、山田真歩、長野克弘、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epvi5oqk19
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 5話の配信がTVerで始まりました。
  8/16 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、村上新悟、渡辺早織、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/ept7o0b796
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、伊藤英明、安田顕、田中裕子 らが出演しています

  https://tver.jp/episodes/epp8vsstq4
</p>

<p class="tver">
  ドラマ レッドアイズ 監視捜査班(2021) 1～3話の配信がTVerで始まりました。
  9/10 23:59まで

  亀梨和也、松下奈緒、趣里、シシド・カフカ、松村北斗(SixTONES)、川瀬陽太、長田成哉、高橋ひかる、木村祐一、高嶋政伸 らが出演しています

  https://tver.jp/episodes/epnk1y3vbb
</p>

<p class="tver">
  ドラマ トップナイフ－天才脳外科医の条件－(2020) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  天海祐希、椎名桔平、広瀬アリス、永山絢斗、古川雄大、三浦友和、堀内敬子 らが出演しています

  https://tver.jp/episodes/epi8pmpxlf
</p>

<p class="tver">
  ドラマ 親バカ青春白書(2020) 1～3話の配信がTVerで始まりました。
  10/12 23:59まで

  ムロツヨシ、永野芽郁、中川大志、今田美桜、戸塚純貴、小野花梨、谷口翔太、濱田めぐみ、野間口徹、新垣結衣 らが出演しています

  https://tver.jp/episodes/epgbeshk6i
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 8話の配信がTVerで始まりました。
  8/17 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、南明奈、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epb21w56i6
</p>

<p class="tver">
  ドラマ まっしろ(2015) 4話の配信がTVerで始まりました。
  8/16 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、蕨野友也、細田善彦、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/ep83yubvyu
</p>

<p class="tver">
  ドラマ 知らなくていいコト(2020) 1～3話の配信がTVerで始まりました。
  9/10 23:59まで

  吉高由里子、柄本佑、重岡大毅(WEST.)、山内圭哉、秋吉久美子、佐々木蔵之介、小林薫 らが出演しています

  https://tver.jp/episodes/ep1e53yi1p
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2023) 2話の配信がTVerで始まりました。
  8/17 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/eplqdvsc5w
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 2話の配信がTVerで始まりました。
  8/24 08:30まで

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/epv96klfx4
</p>
