---
title: 2026/8/23 のピックアップ
date: 2026-08-23
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。
  8/30 17:59まで

  ※ 日本のはじまりの地 未知なる都。いまだ謎も多い飛鳥・藤原2つの都をご紹介

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/ep5l9cuhr2
</p>

<p class="tver">
  ドキュメンタリー 情熱大陸(2026) 1416回の配信がTVerで始まりました。
  8/30 23:09まで

  ※ 小日向文世

  窪田等、小日向文世 らが出演しています

  https://tver.jp/episodes/epar5uhsib
</p>

<p class="tver">
  バラエティ 出川一茂ホラン☆フシギの会(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ もうすぐ起きる!?フシギな噂

  出川哲朗、長嶋一茂、ホラン千秋 らが出演しています

  https://tver.jp/episodes/epggi3vdrn
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  8/30 18:52まで

  ※ マナブのおうち

  相葉雅紀、小峠英二(バイきんぐ)、澤部佑(ハライチ) らが出演しています

  https://tver.jp/episodes/epcuzd7rme
</p>

<p class="tver">
  バラエティ ザ！鉄腕！DASH!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 24時間テレビ企画!巨大弓矢で福島から日本全国にエール

  城島茂、松島聡(timelesz)、SixTONES(森本慎太郎、高地優吾)、藤原丈一郎(なにわ男子) らが出演しています

  https://tver.jp/episodes/eppaa3pee6
</p>

<p class="tver">
  バラエティ バナナマンのせっかくグルメ!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 人気避暑地に日村×鈴木亮平×高杉真宙×M!LK

  バナナマン(設楽統、日村勇紀)、鈴木亮平、高杉真宙、M!LK(塩﨑太智、吉田仁人)、渋谷凪咲、田中卓志(アンガールズ)、菜々緒 らが出演しています

  https://tver.jp/episodes/epqoo3mbfp
</p>

<p class="tver">
  バラエティ Golden SixTONES(2026) の配信がTVerで始まりました。
  8/30 20:59まで

  ※ 内村光良が初登場!!24時間テレビ(秘)大実験SP

  SixTONES(ジェシー、京本大我、松村北斗、高地優吾、森本慎太郎、田中樹)、内村光良、山崎育三郎、芳根京子、山崎弘也(アンタッチャブル)、タイムマシーン3号、水卜麻美、神奈月、キンタロー。、都留拓也(ラパルフェ)、HG(レイザーラモン) らが出演しています

  https://tver.jp/episodes/eplvswwmqo
</p>

<p class="tver">
  バラエティ 家、ついて行ってイイですか？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 西島秀俊＆黒木華爆笑！八王子嫌いな妻と家族の珍生活

  ビビる大木、矢作兼(おぎやはぎ)、狩野恵里、西島秀俊、黒木華 らが出演しています

  https://tver.jp/episodes/epwpuru9or
</p>

<p class="tver">
  バラエティ おしゃれクリップ(2026) の配信がTVerで始まりました。
  8/30 21:59まで

  ※ 今井翼44歳▼母と共に振り返る三度の活動休止・病の真相…

  山崎育三郎、井桁弘恵、今井翼、中山優馬 らが出演しています

  https://tver.jp/episodes/ep2l63z4x0
</p>

<p class="tver">
  バラエティ 秋山の楽しすぎる約30分(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【秋山歌謡祭LIVE】ロバート秋山が2時間半歌い続ける伝説のライブ！大黒摩季も降臨！

  秋山竜次(ロバート)、大黒摩季、いとうあさこ、ゆってぃ、石川あんな らが出演しています

  https://tver.jp/episodes/ep81uzhrjw
</p>

<p class="tver">
  バラエティ ダウンタウンのガキの使いやあらへんで！(2026) の配信がTVerで始まりました。
  8/30 23:24まで

  ※ 賞金10万円争奪!12種類ききキムチで奇跡が!?

  浜田雅功(ダウンタウン)、月亭方正、ココリコ(遠藤章造、田中直樹)、ライセンス(藤原一裕、井本貴史) らが出演しています

  https://tver.jp/episodes/ep8uxgt00a
</p>

<p class="tver">
  バラエティ EIGHT-JAM(2026) の配信がTVerで始まりました。
  8/31 0:10まで

  ※ 高中正義、T-SQUARE 、CASIOPEA…フュージョンってどんな音楽!?

  SUPER EIGHT、古田新太、関口シンゴ、神保彰、DEZOLVE、山崎弘也(アンタッチャブル)、影山優佳 らが出演しています

  https://tver.jp/episodes/eptj76xv1g
</p>

<p class="tver">
  ドラマ キスは捜査のあとで(2026) 5話の配信がTVerで始まりました。
  8/31 0:40まで

  渡部秀、齋藤璃佑、工藤遥、ドロンズ石本、矢柴俊博 らが出演しています

  https://tver.jp/episodes/ep2y6s9f8a
</p>

<p class="tver">
  ドラマ 初恋DOGs(2025) 4話の配信がTVerで始まりました。
  8/31 23:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/epu5zy16a2
  1～3話：https://tver.jp/episodes/epsonxxqiw

  清原果耶、成田凌、ナ・イヌ、萩原利久、宮澤エマ、なだぎ武、野呂佳代、宮崎秋人、永瀬莉子、NOA、円井わん、ジン・デヨン、森崎ウィン、ハン・ジウン、深田恭子、岸谷五朗 らが出演しています
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 8話の配信がTVerで始まりました。
  8/30 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/epn3e306pd
</p>

<p class="tver">
  ドラマSP 花の冠(2012) の配信がTVerで始まりました。
  終了日未記載

  ※ 48分のSP

  蓮佛美沙子、中川大志、斉藤由貴、眞島秀和、矢柴俊博、飯豊まりえ らが出演しています

  https://tver.jp/episodes/epdwt4anwb
</p>

<p class="tver">
  ドラマ グレイトギフト(2024) 1～3話の配信がTVerで始まりました。
  終了日未記載

  反町隆史、波瑠、明日海りお、小野花梨、盛山晋太郎(見取り図)、片山萌美、市川知宏、藤野涼子、濱正悟、中島瑠菜、坂東彌十郎、津田健次郎、倉科カナ、筒井道隆、尾上松也、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/eprad8rbme
</p>

<p class="tver">
  ドラマ テセウスの船(2020) 4話の配信がTVerで始まりました。
  8/31 23:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/ep059fug7n
  1～3話：https://tver.jp/episodes/ep33w2l0gt

  竹内涼真、上野樹里、安藤政信、貫地谷しほり、六平直政、松澤一之、相原未来、山崎健二、今本洋子、水野智則、麻生祐未、鈴木亮平 らが出演しています
</p>

<p class="tver">
  ドラマ 一次元の挿し木(2026) 8話の配信がTVerで始まりました。
  8/30 22:29まで

  山田涼介(Hey! Say! JUMP)、白石聖、木戸大聖、土居志央梨、和田正人、笠原秀幸、猪塚健太、小橋めぐみ、藤井美菜、田畑志真、堀田真由、松下由樹、吉原光夫、正名僕蔵、小手伸也、鈴木保奈美、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/eprfkpfnq7
</p>

<p class="tver">
  ドラマ マイ・フィクション(2026) 8(最終)話の配信がTVerで始まりました。
  8/30 23:59まで

  玉森裕太(Kis-My-Ft2)、森川葵、宮澤エマ、野村周平、国仲涼子、ジャンボたかお(レインボー)、結城萌、三浦りょう太、吉村界人、佐戸井けん太、田牧そら、日影琉叶 らが出演しています

  https://tver.jp/episodes/epb5xnafjb
</p>

<p class="tver">
  ドラマ VIVANT(2026) 15話の配信がTVerで始まりました。
  8/30 20:59まで

  堺雅人、阿部寛、二階堂ふみ、バルサラハガバ・バトボルド、富栄ドラム、高山みなみ、林原めぐみ、花岡すみれ、本間さえ、田中俊介、内野謙太、谷口翔太、今井朋彦、大塚愛、レイ・ヤマダ、金田明夫、宮下今日子、坂東彌十郎、濱田岳、キムラ緑子 らが出演しています

  https://tver.jp/episodes/epdifnwpib
</p>

<p class="tver">
  ドラマSP BARレモン・ハート(2017) の配信がTVerで始まりました。
  8/30 21:00まで

  ※ 春の2時間SPの中の新作部分。「グッバイ ジョニー」30分。SPは新作と旧作数本、また松尾諭が蒸溜所やBARを取材して制作された番組が組みあわされて2時間になっている構成。

  中村梅雀、川原和久、松尾諭、火野正平 らが出演しています

  https://tver.jp/episodes/ep4ti41vxx
</p>

<p class="tver">
  アニメ アズールレーン びそくぜんしんっ！にっ！！(2026) 8話の配信がTVerで始まりました。
  終了日未記載

  山根希美、大地葉、長縄まりあ、阿部里果、佐藤みゆ希、木野日菜、ゆかな らが出演しています

  https://tver.jp/episodes/epdkgxt6rq
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 8話の配信がTVerで始まりました。
  8/31 0:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/epeirwergv
</p>

<p class="tver">
  アニメ さよならララ(2026) 8話の配信がTVerで始まりました。
  8/31 0:29まで

  菱川花菜、深見梨加、村瀬歩、大野智敬、真殿光昭、住友七絵、てらそままさき らが出演しています

  https://tver.jp/episodes/ep7ejko23n
</p>

<p class="tver">
  アニメ ワンピース(2026) 1175話の配信がTVerで始まりました。
  8/30 23:15まで

  田中真弓、中井和哉、岡村明美、山口勝平、平田広明、大谷育江、山口由里子、木村昴、チョー、宝亀克寿 らが出演しています

  https://tver.jp/episodes/epig6oz5em
</p>

<p class="tver">
  アニメ 無職転生Ⅲ ～異世界行ったら本気だす～(2026) 8話の配信がTVerで始まりました。
  8/30 23:59まで

  内山夕実、杉田智和、茅野愛衣、小原好美、金元寿子、Lynn、会沢紗弥、高田憂希、鶴岡聡、逢坂良太、田中理恵、諸星すみれ、上田麗奈、興津和幸、若山詩音、小山力也 らが出演しています

  https://tver.jp/episodes/ep76vqjahj
</p>

<p class="tver">
  アニメ シャインポスト(2022) 1～6話の配信がTVerで始まりました。
  終了日未記載

  鈴代紗弓、蟹沢萌子(≠ME)、夏吉ゆうこ、長谷川里桃、中川梨花 らが出演しています

  https://tver.jp/episodes/ep6dal7erq
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 7話の配信がTVerで始まりました。
  終了日未記載

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ らが出演しています

  https://tver.jp/episodes/ep936etlv5
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 7話の配信がTVerで始まりました。
  8/30 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/epozzs3dpu
</p>

<p class="tver">
  バラエティ 週刊さんまとマツコ(2026) の配信がTVerで始まりました。
  8/30 12:59まで

  ※ 肉と芸能界！前半戦 ステーキハウスリベラの魅力に迫る

  明石家さんま、マツコ・デラックス、吉村崇(平成ノブシコブシ)、高橋真麻、アントニー(マテンロウ)、真壁刀義 らが出演しています

  https://tver.jp/episodes/epjhgihozy
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 師弟関係の田中樹&猪狩蒼弥が参戦!知られざる先輩後輩を超えた絆とは?

  兼近大樹(EXIT)、満島真之介、田中樹(SixTONES)、猪狩蒼弥(KEY TO LIT) らが出演しています

  https://tver.jp/episodes/epoqusmdgs
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【韓国グルメSP】進化系料理&伝統ゲームで爆笑連発!

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、あの、横澤夏子、伊藤俊介(オズワルド) らが出演しています

  https://tver.jp/episodes/ep55b7uj3p
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 14話の配信がTVerで始まりました。
  8/30 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/ep57blxsho
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 19話の配信がTVerで始まりました。
  8/30 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epouqdxt4b
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 37話の配信がTVerで始まりました。
  8/30 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep84r5c1o1
</p>

<p class="yt">
  アニメ「BLACK LAGOON」第2話｜2026/8/22配信｜SundayGXch｜23:51
  ※ 9/5(土) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/a6-nOCBa6k4
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/30 10:59まで

  ※ あすかふぇ流ガパオライス＆インドの漬物アチャール

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epen4l4fn3
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/30 10:00まで

  ※ 中川家＆ナイツが登場！友達が遊びに来てくれたよSP！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、中川家、ナイツ、ロケット団、宮藤官九郎、中村雅俊 らが出演しています

  https://tver.jp/episodes/ep4ixgg03v
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 17回の配信がTVerで始まりました。
  終了日未記載

  ※ 「少女のリアル」〜高雄さやか編〜

  アルコ&ピース(平子祐希、酒井健太)、STU48 らが出演しています

  https://tver.jp/episodes/epbl8f1qwx
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。
  8/30 12:00まで

  ※ 山﨑愛生、人口増加率V字回復！南幌町のまちづくりとは

  飯田圭織、牧野真莉愛、山崎愛生、本間吏成、佐藤彩 らが出演しています

  https://tver.jp/episodes/epcine2hw5
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 世の中の気になる「数」大調査!街角ナンバークイズ

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、朝日奈央、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/epxn3eowpb
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 1話の配信がTVerで始まりました。
  10/7 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、金剛地武志、寺脇康文 らが出演しています

  https://tver.jp/episodes/ep52q1xn09
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 4話の配信がTVerで始まりました。
  8/30 11:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/epz609xj18
  1～3話：https://tver.jp/episodes/ep5qo126qe

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、大塚ヒロタ、平野貴大、金沢きくこ、坂井真紀、ともさかりえ らが出演しています
</p>

<p class="tver">
  ドラマ リバース(2017) 10(最終)話の配信がTVerで始まりました。
  8/30 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、志賀廣太郎、村井國夫、古田結凪、山口まゆ、鈴木仁、バッファロー吾郎A(バッファロー吾郎)、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epqmgdhvp1
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 7話の配信がTVerで始まりました。
  8/29 11:59まで

  佐藤健、黒木華、桐谷健太、芦名星、中井ノエミ、グレッグ・デール、ロイック・ガルニエ、鈴木亮平、郷ひろみ らが出演しています

  https://tver.jp/episodes/epj7es79t7
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 7～9話の配信がTVerで始まりました。
  8/30 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大塚露那、桜井センリ、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/eph6d5r0h7
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 4話の配信がTVerで始まりました。
  8/30 11:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/epagwl1m2a
  1～3話：https://tver.jp/episodes/epvm6cv1w8

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、猪塚健太、工藤美桜、高橋ユウ、森本のぶ、福室莉音、菜々緒、橋本さとし、仲里依紗、石田ゆり子 らが出演しています
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 10(最終)話の配信がTVerで始まりました。
  8/30 11:59まで

  向井理、尾野真千子、小池栄子、山崎樹範、市川由衣、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、阿南健治、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/ep9wqdtmfm
</p>

<p class="tver">
  ドラマ オーバー30(2009) 17～19話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep796dji4g
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 36話の配信がTVerで始まりました。
  8/30 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ept5r9n6nw
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 15話の配信がTVerで始まりました。
  8/30 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epjlbi4pjb
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009) 8話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/eptwyfq7p7
</p>
