---
title: 2026/6/16 のピックアップ
date: 2026-06-16
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  なるたおから見たAKB相関図を作ってみた!｜2026/6/16配信｜なるたおちゃんねる｜14:39
※ 終了期日未記載

  ※ 【AKB48】なるたおから見たAKB相関図を作ってみた！私たち目線ではありますがメンバーの人間関係が一目で分かる相関図を作ってみました👀✨

  倉野尾成美、下尾みう らが出演しています

  https://youtu.be/Ou2Jgf4Vsj0
</p>

<p class="yt">
  TVアニメ「BLEACH 千年血戦篇」#01「THE BLOOD WARFARE」｜2026/6/15配信｜『BLEACH』アニメ公式チャンネル｜23:50
※ 終了時間未記載。期間限定らしいですが期限が不明

  森田　成一：黒崎一護
  杉山　紀彰：石田雨竜
  松岡　由貴：井上織姫
  安元　洋貴：茶渡泰虎
  高木　　渉：志波岩鷲
  折笠富美子：朽木ルキア
  伊藤健太郎：阿散井恋次
  三木眞一郎：浦原喜助
  ゆきのさつき：四楓院夜一
  大塚　明夫：京楽春水
  置鮎龍太郎：朽木白哉
  朴　　璐美：日番谷冬獅郎
  立木　文彦：更木剣八
  速水　　奨：藍染惣右介
  菅生　隆之：ユーハバッハ
  梅原裕一郎：ユーグラム・ハッシュヴァルト
  武内　駿輔：アスキン・ナックルヴァール
  小山　剛志：ジェラルド・ヴァルキリー

  https://youtu.be/NTf-e6nsx_A
</p>

<p class="tver">
  バラエティ ピッカルチャー～アニメの色んなとこにスポットライトを当ててピカっと光らせてみた～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 涙なしでは見られない！「泣けるアニメ」大特集！天津飯大郎がオススメする超王道の涙腺崩壊アニメとは？ぱーてぃーちゃん信子があの感動青春アニメを一気見で大号泣!?

  高杉真宙、せいや(霜降り明星)、天津飯大郎、信子(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/eptqj5u35b
</p>

<p class="tver">
  バラエティ 祓除(2023) の配信がTVerで始まりました。
  終了日未記載

  事前番組：https://tver.jp/episodes/ep628woves
  事後番組：https://tver.jp/episodes/epsondigx8

  出演者不明 らが出演しています
</p>

<p class="tver">
  バラエティ 日曜くりぃむ雑学(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 上田一家と学ぶ！身の回りの雑学 日本全国大調査！最もキツい坂道の角度は？

  くりぃむしちゅー(有田哲平、上田晋也)、えなりかずき、八木亜希子、ふくらP、横澤夏子、ロザン、宇治原史規、阿部亮平(Snow Man)、弘中綾香 らが出演しています

  https://tver.jp/episodes/eppt3xa8p7
</p>

<p class="tver">
  ドラマ ワカコ酒(2016・2期) 10話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/epcql5ew35
</p>

<p class="tver">
  ドラマ TXQ FICTION / 飯沼一家に謝罪します(2024) 1～4(最終?)話の配信がTVerで始まりました。
  終了日未記載

  出演者不明 らが出演しています

  https://tver.jp/episodes/ep3au46m8l
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 130～132話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epcmm0ejvu
</p>

<p class="yt">
  公式アニメ いぬかみっ 1～13話｜2026/6/15配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜5:04:57
※ 7/15(水) 19:59まで。

  https://youtu.be/kzP4twmK_kc

  堀江　由衣：ようこ
  福山　　潤：川平啓太
  中村　俊洋：はけ
  速水　　奨：仮名史郎
  名塚　佳織：なでしこ
  長谷川静香：ともはね
  森永　理科：たゆね
  本多　陽子：いぐさ
  松岡　由貴：せんだん
  木川絵理子：ごきょうや
  廣田　詩夢：フラノ
  小林　晃子：てんそう
  遠藤　　綾：いまり
  新谷　良子：さよか
  京田　尚子：宗家
</p>

<p class="tver">
  バラエティ かまいガチ(2025) の配信がTVerで始まりました。
  終了日未記載

  ※ 吉沢亮＆眞栄田郷敦が緊急参戦「達成したら即帰宅するねん！」

  かまいたち(濱家隆一、山内健司)、吉沢亮、眞栄田郷敦、水田信二、たける(東京ホテイソン) らが出演しています

  https://tver.jp/episodes/epemiwkf1yf
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  6/23 12:00まで

  ※ 東京宝塚劇場月組公演「RYOFU」「水晶宮殿」に出演中の風間柚乃さんをお迎えして出演中の舞台のお話をお伺いします

  中井美穂、風間柚乃、立川らく次 らが出演しています

  https://tver.jp/episodes/epvt2q91kf
</p>

<p class="tver">
  ドラマ ザ・ロイヤルファミリー(2025) 4話の配信がTVerで始まりました。
  6/23 11:59まで

  妻夫木聡、目黒蓮(Snow Man)、松本若菜、安藤政信、高杉真宙、吉沢悠、津田健次郎、長内映里香、秋山寛貴(ハナコ)、上田遥、三浦綺羅、天宮良、那須佐代子、中嶋朋子、木場勝己、小泉孝太郎、黒木瞳、沢村一樹、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epnmtuw0mq
</p>

<p class="tver">
  ドラマ 週末婚(1999) 8話の配信がTVerで始まりました。
  6/22 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、神山繁、織本順吉、夏桂子、戸川京子、根岸季衣、中原ひとみ、仲村トオル 他

  https://tver.jp/episodes/ephq75iudk
</p>

<p class="tver">
  ドラマ スイートモラトリアム(2023) 3話の配信がTVerで始まりました。
  6/22 11:59まで

  鈴鹿央士、小西桜子、田辺桃子、若林時英、山科圭太、前原瑞樹、中島歩 らが出演しています

  https://tver.jp/episodes/ep0l7e2m0t
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2024) 1話の配信がTVerで始まりました。
  終了日未記載

  ファイルーズあい、花守ゆみり、小山力也、逢坂良太 らが出演しています

  https://tver.jp/episodes/eppjpz7xad
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 10話の配信がTVerで始まりました。
  6/23 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/epnfpczhpw
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 21話の配信がTVerで始まりました。
  6/23 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/ep4u1hpnxp
</p>

<p class="tver">
  ドラマ 高校教師（藤木直人、上戸彩）(2003) 6話の配信がTVerで始まりました。
  6/23 9:59まで

  藤木直人、上戸彩、ソニン、成宮寛貴、眞鍋かをり、大倉孝二、蒼井優、斉藤祥太、菅原大吉、矢沢幸治、京本政樹、眞野あずさ らが出演しています

  https://tver.jp/episodes/ephtxlseml
</p>

<p class="tver">
  アニメ それが声優！(2026) 11話の配信がTVerで始まりました。
  終了日未記載

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/epipszipq3
</p>
