---
title: 2026/05/31 のピックアップ
date: 2026-05-31
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ ダンダダン(2025) 21話の配信がTVerで始まりました。
  6/7 4:07まで

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉、大友龍三郎、井上喜久子、関智一、杉田智和、平野文 らが出演しています

  https://tver.jp/episodes/ep28h1ccwc
</p>

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 10話の配信がTVerで始まりました。
  6/7 3:07まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/ep6ng7hgql
</p>

<p class="tver">
  アニメ 黄泉のツガイ(2026) 9話の配信がTVerで始まりました。
  6/7 2:37まで

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/eptoe7lm1q
</p>
