---
title: 2026/8/14 のピックアップ
date: 2026-08-14
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 宇宙兄弟(2012) 20話の配信がTVerで始まりました。
  8/21 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epl14wkxt8
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 10話の配信がTVerで始まりました。
  8/21 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epkp8kn6pn
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ １９７４年の発売以来、多くの人に愛され続けるロングセラーアイス「パピコ」。その誕生と進化の裏側に迫る。

  カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/ep7mhi5uzh
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 和田明日香がエビオクラあんかけ茶碗蒸しを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/eptrb1r7a1
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 12(最終)話の配信がTVerで始まりました。
  8/20 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、塩見三省、伊佐山ひろ子、西田健、村松克己、大塚良重、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epunu2saqe
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、山中崇、山本未來、織本順吉、財前直見、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epczg1mh5r
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。
  終了日未記載

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epuw9ncqcl
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、伊藤淳史、池松壮亮、阿部力、平山祐介、鶴見辰吾、瑳川哲朗、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epa8iycz33
</p>

<p class="tver">
  ドラマ 天狗の台所(2024・2期) 1話の配信がTVerで始まりました。
  8/21 12:00まで

  駒木根葵汰、塩野瑛久、越山敬達、永尾柚乃、角田晃広(東京03)、渡辺真起子、原田泰造(ネプチューン) らが出演しています

  https://tver.jp/episodes/ep2y9lobsk
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 5話の配信がTVerで始まりました。
  8/21 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/eplrb9mor6
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 6話の配信がTVerで始まりました。
  8/21 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epb4pf4o7f
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 31話の配信がTVerで始まりました。
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep79pojfos
</p>
