---
title: 2026/6/20 のピックアップ
date: 2026-06-20
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 13話の配信がTVerで始まりました。
  6/28 3:07まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/ep1fp5bdm6
</p>

<p class="tver">
  アニメ 黄泉のツガイ(2026) 12話の配信がTVerで始まりました。
  終了日未記載

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/eps14u0rjv
</p>

<p class="yt">
  【木村さ～～ん】今度は木村拓哉が全身「ユニクロ」1週間コーデ!｜2026/6/20配信｜木村拓哉｜23:28

  ※ 撮影時間はわずか1時間ほどホイホイとアイテムを決めていく木村さんいったい頭の中でどんなコーデを組み上げているのか…。次回 いよいよ木村拓哉セレクト全身ユニクロ1週間コーデを披露！

  https://youtu.be/UcIFizfhKkY
</p>

<p class="yt">
  空挺ドラゴンズ 7～12話｜2026/6/21配信｜フル☆アニメTV｜2:19:59
  ※ 7/5 23:59まで

  前野　智昭：ミカ
  雨宮　　天：タキタ
  斉藤　壮馬：ジロー
  花澤　香菜：ヴァナベル
  諏訪部順一：ギブス
  関　　智一：クロッコ
  櫻井　孝宏：ニコ
  鳥海　浩輔：バーコ
  釘宮　理恵：カペラ
  熊谷健太郎：ガガ
  古川　　慎：フェイ
  松山　鷹志：バダキン
  武内　駿輔：オーケン
  上村　祐翔：ソラヤ
  赤﨑　千夏：メイン
  榎木　淳弥：ヒーロ
  井上　和彦：ヨシ
  佐々木啓夫：リー
  佐倉　綾音：カーチャ
  千本木彩花：ナナミ
  鈴木　清信：ウラ爺
  坂本　真綾：アスケラ

  https://youtu.be/Z6Yt1w6qV2Y
</p>

<p class="yt">
  TVアニメ「BLEACH 千年血戦篇」#01～13｜2026/6/20配信｜『BLEACH』アニメ公式チャンネル｜5:09:50
※ 6/27 19:59まで

森田　成一：黒崎一護
杉山　紀彰：石田雨竜
松岡　由貴：井上織姫
安元　洋貴：茶渡泰虎
高木　渉　：志波岩鷲
折笠富美子：朽木ルキア
伊藤健太郎：阿散井恋次
三木眞一郎：浦原喜助
ゆきのさつき：四楓院夜一
大塚　明夫：京楽春水
置鮎龍太郎：朽木白哉
　朴　璐美：日番谷冬獅郎
立木　文彦：更木剣八
速水　奨　：藍染惣右介
菅生　隆之：ユーハバッハ
梅原裕一郎：ユーグラム・ハッシュヴァルト
武内　駿輔：アスキン・ナックルヴァール
小山　剛志：ジェラルド・ヴァルキリー

  https://youtu.be/ynCRYQb0ZVA
</p>

<p class="tver">
  その他 篠崎彩奈のマネータイム(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ [9分の番組です]篠崎彩奈も実践中の「新NISA」についてお勉強しよう！

  篠崎彩奈 らが出演しています

  https://tver.jp/episodes/epmp4grvtr
</p>

<p class="tver">
  ドキュメンタリー 人生最高レストラン(2026) の配信がTVerで始まりました。
  6/27 23:29まで

  ※ ゲスト：ハライチ

  加藤浩次、宇賀神メグ、島崎和歌子、高橋茂雄(サバンナ)、ハライチ(岩井勇気、澤部佑) らが出演しています

  https://tver.jp/episodes/epm0h0l1b5
</p>

<p class="tver">
  バラエティ 世界くらべてみたら(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 本木雅弘＆菅田将暉＆Snow Man宮舘涼太がカンヌでわらしべ長者をやってみたら？

  上白石萌音、一ノ瀬ワタル、井上咲楽、UTA、ギャル曽根、ジェシー(SixTONES)、関口メンディー、滝沢カレン、藤本美貴、山崎弘也(アンタッチャブル)、横澤夏子、菅田将暉、宮舘涼太(Snow Man)、本木雅弘、白根隆也、ケイリーン・フォールズ らが出演しています

  https://tver.jp/episodes/epg3paw7g7
</p>

<p class="tver">
  バラエティ 土曜ゴールデン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 大久保・川村の温泉タオル集め旅23群馬・長野・新潟へ新緑露天SP

  大久保佳代子(オアシズ)、川村エミコ(たんぽぽ)、釈由美子 らが出演しています

  https://tver.jp/episodes/ep64sj2uxx
</p>

<p class="tver">
  バラエティ 新しいカギ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 学校かくれんぼ。GTOから反町隆史、高橋メアリージュン、稲垣来泉、森本陸斗が緊急参戦！

  Part1：https://tver.jp/episodes/epjyy81c10
  Part2：https://tver.jp/episodes/epbold6u9e

  霜降り明星、チョコレートプラネット、ハナコ、反町隆史、高橋メアリージュン、稲垣来泉 らが出演しています
</p>

<p class="tver">
  バラエティ しんごの🌱(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 歯医者の看板で一番描かれる動物は？

  香取慎吾、バカリズム、諸國沙代子 らが出演しています

  https://tver.jp/episodes/epcrji89bv
</p>

<p class="tver">
  バラエティ あっちこっちAぇ!(2026) の配信がTVerで始まりました。
  6/28 1:00まで

  ※ 【聖地でからあげ巡り】店主のこだわりを当てるクイズで珍回答連発！大分県の旅第２弾

  Aぇ! group(正門良規、末澤誠也、小島健、佐野晶哉) らが出演しています

  https://tver.jp/episodes/epc4vs1ljk
</p>

<p class="tver">
  バラエティ かまいたちの知らんけど(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ココイチ王決定戦で小杉＆津田と大はしゃぎ！小杉食べすぎでおかしくなる!?

  かまいたち、津田篤宏(ダイアン)、小杉竜一(ブラックマヨネーズ) らが出演しています

  https://tver.jp/episodes/eppvar8zm7
</p>

<p class="tver">
  ドラマ 湯遊ワンダーランド(2023) 11話の配信がTVerで始まりました。
  終了日未記載

  ともさかりえ、須賀健太、岩井七世、樋口日奈、川島潤哉、大島蓉子、高田聖子、新谷姫加、アンジェラ芽衣 らが出演しています

  https://tver.jp/episodes/epirlhfb4m
</p>

<p class="tver">
  ドラマ 三カ国な王道LOVE(2026) 4(最終)話の配信がTVerで始まりました。
  終了日未記載

  紺野彩夏、別府由来、コ・テジン、マイルス・ロボ、ヒョク、坂東工、前田大翔、葉月くれあ らが出演しています

  https://tver.jp/episodes/ep570o5dqp
</p>

<p class="tver">
  ドラマ フェルマーの料理(2023) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  高橋文哉、志尊淳、小芝風花、板垣李光人、白石聖、細田善彦、久保田紗友、朝井大智、フェルナンデス直行、井頭愛海、八木アリサ、木田佳介、Jua、細田佳央太、宮澤エマ、高橋光臣、仲村トオル らが出演しています

  https://tver.jp/episodes/epzvwhwgc5
</p>

<p class="tver">
  ドラマ 最愛(2021) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、峯村リエ、朝井大智、水崎綾女、バッファロー吾郎A(バッファロー吾郎)、池下重大、宮下かな子、ジジ・ぶぅ、永沼伊久也、岩田知幸、津田健次郎、及川光博、井浦新 らが出演しています

  https://tver.jp/episodes/epywmy67rb
</p>

<p class="tver">
  ドラマ 100万回 言えばよかった(2023) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  井上真央、佐藤健、シム・ウンギョン、板倉俊之(インパルス)、少路勇介、永島敬三、穂志もえか、長谷川初範、安斉星来、香里奈、平岩紙、菊地凛子、神野三鈴、荒川良々、松山ケンイチ らが出演しています

  https://tver.jp/episodes/epuo4fn0og
</p>

<p class="tver">
  ドラマ ケイジとケンジ 所轄と地検の24時(2020) 4～6話の配信がTVerで始まりました。
  終了日未記載

  桐谷健太、東出昌大、比嘉愛未、磯村勇斗、今田美桜、峯村リエ、渋谷謙人、奥山かずさ、西村元貴、矢柴俊博、菅原大吉、奥貫薫、柳葉敏郎、風間杜夫 他

  https://tver.jp/episodes/epxehlb6xo
</p>

<p class="tver">
  ドラマ 君の花になる(2022) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  本田翼、高橋文哉、宮世琉弥、綱啓永、八村倫太郎、森愁斗(BUDDiiS)、NOA、山下幸輝、前田公輝、志田彩良、INI(木村柾哉、田島将吾、藤牧京介、松田迅)、高塚大夢、菊田竜大(ハナコ)、池田匡志、片岡凜、塚本高史、木南晴夏、宮野真守、内田有紀、竹中直人、夏木マリ らが出演しています

  https://tver.jp/episodes/epqb3agg4g
</p>

<p class="tver">
  ドラマ 不適切にもほどがある！(2024) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  阿部サダヲ、仲里依紗、磯村勇斗、河合優実、坂元愛登、三宅弘城、袴田吉彦、沼田爆、中島歩、岡田将生、池田成志、ファーストサマーウイカ、馬場園梓、中田理智、古田新太、吉田羊 らが出演しています

  https://tver.jp/episodes/eppmnij3l9
</p>

<p class="tver">
  ドラマ じゃあ、あんたが作ってみろよ(2025) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  夏帆、竹内涼真、中条あやみ、前原瑞樹、サーヤ(ラランド)、楽駆、杏花、平原テツ、安藤輪子、橘優輝、青島心、菊池亜希子、深水元基、西原亜希、しゅはまはるみ、星田英利、池津祥子、菅原大吉 らが出演しています

  https://tver.jp/episodes/epgo9ya2td
</p>

<p class="tver">
  ドラマ not so パーフェクトラブ！(1999) 7話の配信がTVerで始まりました。
  6/27 23:59まで

  福山雅治、木村佳乃、ユースケ・サンタマリア、武田鉄矢 らが出演しています

  https://tver.jp/episodes/eplxbolg9w
</p>

<p class="tver">
  ドラマ 監獄のお姫さま(2017) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  小泉今日子、満島ひかり、伊勢谷友介、夏帆、塚本高史、乙葉、猫背椿、河井青葉、あびる優、AMEMIYA、西沢仁太、米村亮太朗、BOB、大幡しえり、中山求一郎、山本裕子、前田虎徹、川上友里、角島美緒、渡辺江里子(阿佐ヶ谷姉妹)、黒羽麻璃央、池田成志、坂井真紀、森下愛子、菅野美穂 らが出演しています

  https://tver.jp/episodes/epga8e7gkh
</p>

<p class="tver">
  ドラマ 白戸修の事件簿(2012) 6話の配信がTVerで始まりました。
  6/28 23:59まで

  千葉雄大、本郷奏多、中村静香、立木文彦、高部あい、八神蓮、平沼紀久、志賀廣太郎、小島聖 らが出演しています

  https://tver.jp/episodes/ep9xewblvy
</p>

<p class="tver">
  ドラマ セミオトコ(2019) 4～6話の配信がTVerで始まりました。
  終了日未記載

  山田涼介(Hey! Say! JUMP)、木南晴夏、今田美桜、三宅健、しずちゃん(南海キャンディーズ)、やついいちろう、北村有起哉、佐藤仁美、田中美奈子、阿川佐和子、檀ふみ らが出演しています

  https://tver.jp/episodes/ephgnk3jvy
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 7話の配信がTVerで始まりました。
  6/28 23:59まで

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、浜田学、河井青葉、六角慎司、諏訪雅、山岸門人、竹井亮介、高野ゆらこ、國村隼、モーリー・ロバートソン、パックン、近藤くみこ(ニッチェ)、ナタリー・エモンズ、小野武彦、杉本哲太、風間杜夫、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/ep82ccwg2q
</p>

<p class="tver">
  ドラマ 桜蘭高校ホスト部(2011) 5話の配信がTVerで始まりました。
  6/28 23:59まで

  川口春奈、山本裕典、竜星涼、中村昌也、千葉雄大、高木心平、高木万平、坂本真綾、大東駿介 らが出演しています

  https://tver.jp/episodes/ep5hvuosle
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2021) 4～6話の配信がTVerで始まりました。
  終了日未記載

  米倉涼子、野村萬斎、内田有紀、勝村政信、今田美桜、小籔千豊、杉田かおる、岸部一徳、要潤、遠藤憲一、西田敏行 らが出演しています

  https://tver.jp/episodes/ep89bghkuh
</p>

<p class="tver">
  ドラマ ブラックペアンと言いたくて…～万年ヒラ医局員の憂鬱な日常～ 日曜劇場『ブラックペアン 』サイドストーリ―(2024・2期) 1～3話の配信がTVerで始まりました。
  終了日未記載

  ※ 11分のドラマです

  今野浩喜、内村遥、キム・ムジュン、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ らが出演しています

  https://tver.jp/episodes/ep1cihr6uz
</p>

<p class="tver">
  ドラマ カイダン都市伝説-洒落怖(2021) 3話の配信がTVerで始まりました。
  終了日未記載

  大塚望由、岡田彩夢、桐乃みゆ、虹のコンキスタドール(隈本茉莉奈、的場華鈴)、清水理子、鶴見萌、中村朱里、根本凪、蛭田愛梨、山崎夏菜、大和明桜 らが出演しています

  https://tver.jp/episodes/epo5o0lhwd
</p>

<p class="tver">
  アニメ LIAR GAME(2026) 11話の配信がTVerで始まりました。
  6/28 0:29まで

  仁見紗綾、大塚剛央 らが出演しています

  https://tver.jp/episodes/epjjfue2gl
</p>

<p class="tver">
  アニメ クラスで2番目に可愛い女の子と友だちになった(2026) 11話の配信がTVerで始まりました。
  6/28 0:00まで

  石谷春貴、石見舞菜香、鈴代紗弓、長谷川育美 らが出演しています

  https://tver.jp/episodes/epynfn4lgz
</p>

<p class="tver">
  アニメ ポンコツ風紀委員とスカート丈が不適切なJKの話(2026) 11話の配信がTVerで始まりました。
  6/28 0:00まで

  榎木淳弥、明智璃子、堂島颯人、福山潤、伊藤ゆいな、福原綾香、甲斐田裕子、稲田徹 らが出演しています

  https://tver.jp/episodes/epyaqigx7v
</p>

<p class="tver">
  アニメ ただいま、おじゃまされます！(2026) 11話の配信がTVerで始まりました。
  6/27 23:59まで

  花澤香菜、石川界人、石谷春貴 らが出演しています

  https://tver.jp/episodes/eptyfnnbl4
</p>

<p class="tver">
  アニメ 笑ゥせぇるすまん(1990) 40(41)話の配信がTVerで始まりました。
  終了日未記載

  ※ 11分のアニメです

  大平透 らが出演しています

  https://tver.jp/episodes/ep62z7o6vr
</p>

<p class="tver">
  アニメ ようこそ実力至上主義の教室へ2年生編1学期(2026・4期) 15話の配信がTVerで始まりました。
  6/27 22:30まで

  千葉翔也、鬼頭明里、竹達彩奈、久保ユリカ、水中雅章、東山奈央、日高里菜、佐藤未奈子、江頭宏哉、瀬戸桃子、徳留慎乃佑、佐伯伊織、坂田将吾 らが出演しています

  https://tver.jp/episodes/epriqo1zqn
</p>

<p class="tver">
  アニメ Re:ゼロから始める異世界生活(2026・4期) 77話の配信がTVerで始まりました。
  6/27 22:30まで

  ※ 喪失編11話、奪還編8話なので、喪失編最終話です

  小林裕介、高橋李依、新井里美、村川梨衣、水瀬いのり、江口拓也、植田佳奈、鈴木絵理、ファイルーズあい、杉田智和、河西健吾、小原好美 らが出演しています

  https://tver.jp/episodes/epqq0acr0z
</p>

<p class="tver">
  アニメ 異世界の沙汰は社畜次第(2026) 12(最終)話の配信がTVerで始まりました。
  終了日未記載

  伊東健人、前野智昭、山下誠一郎、東地宏樹、山口智広、鎌倉有那、虎島貴明、森崎ウィン、興津和幸、井澤詩織、小野友樹 らが出演しています

  https://tver.jp/episodes/ep7anvcoic
</p>

<p class="tver">
  アニメ 大賢者リドルの時間逆行(2026) 12話の配信がTVerで始まりました。
  6/27 21:55まで

  ※ 4分のアニメです

  榎木淳弥、菊池康弘、市橋尚史、佐々木祐介 らが出演しています

  https://tver.jp/episodes/ep1c8lis4z
</p>

<p class="tver">
  アニメ 鉄腕アトム(1963) 33話の配信がTVerで始まりました。
  6/27 18:30まで

  清水マリ、勝田久、水垣洋子、小宮山清、矢島正明、横森久、兼本新吾、坂本新兵、松島みのりらが出演しています

  https://tver.jp/episodes/ep7xo1hf3d
</p>

<p class="yt">
  UFOロボ グレンダイザー 第19話「恐怖のエアロライト!」｜2026/6/20配信｜東映アニメーションミュージアムチャンネル｜25:46
  ※ 7/4 17:59まで。時間は予想。土曜18時配信中！各話２週間期間限定

  富山　敬　：デュークフリード
  石丸　博也：兜甲児
  川島千代子：牧ひかる
  富田　耕生：牧場団兵衛
  沢田　和子：牧場吾郎
  八奈見乗児：宇門源蔵
  吉田理保子：マリア
  富田　耕生：ガンダル
  緒方　賢一：ブラッキー
  田中　崇　：ズリル
  八奈見乗児：ベガ大王

  https://youtu.be/8If56hzNW3I
</p>

<p class="tver">
  ドキュメンタリー そこまで言って委員会NP(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 宇宙飛行士・野口聡一vs橋下徹！月着陸は本当か

  黒木千晶、野村明大、竹田恒泰、丸田佳奈、田嶋陽子、RaMu、古市憲寿、橋下徹、野口聡一、古舘伊知郎、三上丈晴、角由紀子、大野和基 らが出演しています

  https://tver.jp/episodes/eplv6pm33x
</p>

<p class="tver">
  ドキュメンタリー 夢をつくる人たち ―宝塚歌劇団星組・御園座公演に迫る―(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 宝塚歌劇団星組のトップコンビが挑む人気少女漫画の世界。御園座公演初日までの稽古場に密着

  暁千星、詩ちづる、岡田愛マリー らが出演しています

  https://tver.jp/episodes/epaq4ywzt1
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1610回の配信がTVerで始まりました。
  6/27 14:59まで

  ※ 祝お誕生日！明石家さんまのなにをみとんねん！

  明石家さんま、間寛平、村上ショージ、松尾伴内、蛍原徹、中川家、次長課長、アキナ、アインシュタイン、重盛さと美、渋谷凪咲、武川智美、山田裕貴、山崎香佳 他

  https://tver.jp/episodes/epnzb19xv4
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  6/27 16:00まで

  ※ 絶景写真部「バス編」始動！横浜絶景撮影バトル

  相葉雅紀、えなりかずき、加藤シゲアキ(NEWS)、温水洋一、渡部陽一 らが出演しています

  https://tver.jp/episodes/epvn1kh6qi
</p>

<p class="tver">
  ドラマ VIVANT(2023) 7話の配信がTVerで始まりました。
  6/25 17:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、バルサラハガバ・バタボルド、市川笑三郎、平山祐介、珠城りょう、内村遥、井上肇、内野謙太、西山潤、富栄ドラム、中山孟、原布助、管勇毅、高木勝也、二宮和也、林泰文、吉原光夫、坂東彌十郎、濱田岳、キムラ緑子、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/ep0rhebcsd
</p>

<p class="tver">
  ドラマ ひだまりが聴こえる(2024) 5～8話の配信がTVerで始まりました。
  終了日未記載

  中沢元紀、小林虎之介、宇佐卓真、夏生大湖、西田尚美、でんでん、彩香、土本燈子、木村知貴、鈴之助 らが出演しています

  https://tver.jp/episodes/epm9uvftd0
</p>

<p class="tver">
  ドラマ 来世ではちゃんとします(2020) 1～4話の配信がTVerで始まりました。
  終了日未記載

  内田理央、太田莉菜、小関裕太、後藤剛範、飛永翼(ラバーガール)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epnhq199x5
</p>

<p class="tver">
  ドラマ 夫よ、死んでくれないか(2025) 1～4話の配信がTVerで始まりました。
  終了日未記載

  安達祐実、相武紗季、磯山さやか、竹財輝之助、高橋光臣、塚本高史、久保田悠来、遊井亮子、松浦りょう、吉岡睦雄、ラブ守永、藤真由美、日下莉帆、新井 秀幸、宮崎真一 らが出演しています

  https://tver.jp/episodes/epqayxdgos
</p>

<p class="tver">
  ドラマ ９５｜テレビ東京開局60周年連続ドラマ(2024) 1～4話の配信がTVerで始まりました。
  終了日未記載

  高橋海人(King & Prince)、中川大志、松本穂香、細田佳央太、犬飼貴丈、関口メンディー、浅川梨奈、工藤遥、井上瑞稀(KEY TO LIT)、渡邊圭祐、鈴木仁、三浦貴大、山中崇、紺野まひる、勝矢、嶋田久作、新川優愛、桜井日奈子、斉藤由貴、桜井ユキ、安田顕 らが出演しています

  https://tver.jp/episodes/eplnbbrkcw
</p>

<p class="tver">
  ドラマ 財閥復讐～兄嫁になった元嫁へ～(2025) 1～4話の配信がTVerで始まりました。
  終了日未記載

  渡邊圭祐、瀧本美織、西垣匠、宇垣美里、猪塚健太、宮田早苗、村川絵梨、小川李奈、阪田マサノブ、武田航平、渡辺いっけい、高岡早紀 らが出演しています

  https://tver.jp/episodes/epr34kataa
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 11話の配信がTVerで始まりました。
  6/27 17:29まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/epx3q5l58s
</p>

<p class="yt">
  アニメ「FAIRY TAIL」113～118話｜2026/6/20配信｜アニメタイムズ公式｜2:26:42
※ 2026/7/22(水) 10:29まで

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/Ui93XOy15lQ
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 世界的ブームの「抹茶」作りに完全密着▼シェイカーで簡単冷抹茶

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/eplmx421fg
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、絃瀬聡一、清乃あさ姫、ゴリけん、矢野ペペ、パラシュート部隊、唐沢龍之介、吉村恵里子、成田凌、藤本隆宏、西田尚美、篠井英介、宮崎美子、斉藤優、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epxwt0fthc
</p>

<p class="tver">
  ドラマ 年下童貞くんに翻弄されてます(2025) 6話の配信がTVerで始まりました。
  終了日未記載

  森香澄、柏木悠(超特急)、北村優衣、絃瀬聡一、平川結月、椛島光、朝井瞳子、鈴木康介 らが出演しています

  https://tver.jp/episodes/epskbkzcsvd
</p>

<p class="tver">
  ドラマ 過保護な若旦那様の甘やかし婚(2024) 5話の配信がTVerで始まりました。
  終了日未記載

  高野洸、井頭愛海、大平祥生、後藤大、池田彪馬、松尾貴史、小林綾子、大和田伸也 らが出演しています

  https://tver.jp/episodes/epniukk4qn
</p>

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 6話の配信がTVerで始まりました。
  終了日未記載

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epm8faccme
</p>

<p class="tver">
  ドラマ 週末婚(1999) 10話の配信がTVerで始まりました。
  6/26 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、飯田基祐、東地宏樹、織本順吉、夏桂子、戸川京子、根岸季衣、仲村トオル 他

  https://tver.jp/episodes/epjfp2knwc
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、半海一晃、中村豪、やるせなす、兵頭有紀、黒田知永子、山本圭、勝村政信 らが出演しています

  https://tver.jp/episodes/epeukt91np
</p>

<p class="tver">
  ドラマ 職員室(1997) 1～3話の配信がTVerで始まりました。
  終了日未記載

  浅野温子、仲村トオル、的場浩司、益岡徹、水野美紀、田岡美也子、山下容莉枝、松澤一之、那須佐代子、信実一徳、小日向文世、山本龍二、松井範雄、伊集院光、九太朗、クノ真季子、加賀谷純一、塚本高史、横山めぐみ、野際陽子 らが出演しています

  https://tver.jp/episodes/ep4nr770hu
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep7w3q5m12
</p>

<p class="tver">
  ドラマ アポロの歌(2025) 6話の配信がTVerで始まりました。
  終了日未記載

  佐藤勝利(timelesz)、高石あかり、西垣匠、森田想、河井青葉、ふかわりょう、池内博之 らが出演しています

  https://tver.jp/episodes/ep436ard6p
</p>

<p class="tver">
  ドラマ 愛するということ(1993) 5話の配信がTVerで始まりました。
  6/26 11:59まで

  緒形直人、伊藤かずえ、石橋保、柳川慶子、島崎和歌子、篠塚勝、高島礼子、矢野武、橋爪功、小泉今日子 らが出演しています

  https://tver.jp/episodes/ep3431hfj3
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、羽賀研二、石田太郎、春田純一、浜田学、池内万作、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/epvwteua5w
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG(2PM)、相葉裕樹、菊田大輔、永瀬匡、山下真司、田中要次、佐々木希、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/epumtvfypq
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、窪田正孝、夙川アトム、西山潤、小澤美和、山本舞香、段田安則、内藤剛志、麻生祐未 他

  https://tver.jp/episodes/epu2urzqu0
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、平山祐介、古畑星夏、白石糸、小林きな子、吉田悟郎、泉春花、野波麻帆、高橋光臣、高橋洋、相楽樹、初音映莉子、古舘寛治、塩見三省、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epuuloe9je
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、中村ゆり、谷村美月、戸田昌宏、高橋洋、千葉哲也、森岡龍、永岡佑、奥貫薫、西田尚美、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epr3kt32za
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、大黒摩季、福澤朗、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epognhk225
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。
  6/26 9:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epwamlc9uh
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epn2vn78co
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、上野樹里、光石研、沢村一樹、風吹ジュン らが出演しています

  https://tver.jp/episodes/epidsdjchc
</p>

<p class="tver">
  ドラマ 新参者(2010) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、宮地真緒、和田正人、吉井怜、木村祐一、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/epbiei6bga
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、國本鍾建、新井浩文、木下ほうか、吉川晃司、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、篠井英介、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、横田栄司、中村歌昇、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/ep2ttmvdg5
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2024) 5話の配信がTVerで始まりました。
  7/4 11:59まで

  ファイルーズあい、花守ゆみり、小山力也、山下大輝、逢坂良太、石原夏織、井上喜久子 らが出演しています

  https://tver.jp/episodes/epvtw8cpmi
</p>

<p class="tver">
  アニメ 炎炎ノ消防隊 参ノ章(2025) 7～12話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、小林裕介、中井和哉、鈴村健一、上條沙恵子、市道真央、悠木碧、八代拓、阪口大助 らが出演しています

  https://tver.jp/episodes/epxs76nsfg
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 25(最終)話の配信がTVerで始まりました。
  6/27 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/eptdzomx5o
</p>

<p class="tver">
  アニメ オタクに優しいギャルはいない!?(2026) の配信がTVerで始まりました。
  終了日未記載

  小村将、稲垣好、芹澤優、笠間淳、小原好美、種崎敦美、加藤英美里 らが出演しています

  https://tver.jp/episodes/epqt3quk10
</p>
