---
title: 2026/05/29 のピックアップ
date: 2026-05-29
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  映画「コッホ先生と僕らの革命(2012)」｜2026/5/29配信｜ギャガ公式チャンネル｜1:53:38

  ※ 型破りな教師が巻き起こした奇跡の革命！“後にドイツ・サッカーの父”と呼ばれるコンラート・コッホの実話を映画化


  鈴木達央｜コンラート・コッホ：ダニエル・ブリュール
  北川勝博｜グスタフ・メアフェルト：ブルクハルト・クラウスナー
  田中正彦｜リヒャルト・ハートゥング：ユストゥス・フォン・ドナーニー

  吹替版： https://youtu.be/5HAd1DP3HE4
  字幕版： https://youtu.be/xQV8ad1q-YA
</P>

<p class="tver">
  バラエティ 有田哲平とコスられない街(2026) の配信がTVerで始まりました。
  6/6 0:47まで

  ※ 品川編④超グルメマニアむにぐるめが名店を案内▼教えたくない“一番通う店”＆4年連続日本一の絶品ピザ

  有田哲平(くりぃむしちゅー)、むにぐるめ、ケンドーコバヤシ、伊藤百花(AKB48) らが出演しています

  https://tver.jp/episodes/ep696uyt1d
</p>

<p class="tver">
  ドラマ 好きな人がいること(2016) 1話の配信がTVerで始まりました。
  7/10 16:59まで
  ※ 終了時間は予想

  桐谷美玲、山崎賢人、三浦翔平、野村周平、大原櫻子、浜野謙太、佐野ひなこ、飯豊まりえ、菜々緒、吉田鋼太郎 らが出演しています

  https://tver.jp/episodes/eppndt6plm
</p>

<p class="yt">
  「キン肉マン」完璧超人始祖編 0～5話｜2026/5/29配信｜キン肉マン 公式チャンネル｜2:22:41
※ 6/12 0:00まで(日付は予想です)の2週間限定公開！

宮野　真守：キン肉マン
上坂すみれ：ミートくん
小野　大輔：テリーマン
小西　克幸：ロビンマスク
梶裕　貴　：ウォーズマン
関　　智一：ラーメンマン
笠間　淳　：ブロッケンJr.
安元　洋貴：バッファローマン
宮田　俊哉：ブラックホール
吉野　裕行：スプリングマン
草尾　毅　：ネメシス
諏訪部順一：グリムリパー
川原　慶久：マーベラス
松本　忍　：ジャック・チー
松山　鷹志：ポーラマン
野島　健児：ターボメン
富岡　佑介：クラッシュマン
森川　智之：悪魔将軍
杉田　智和：ネプチューンマン
島﨑　信長：ペンタゴン
宮内　敦士：スニゲーター
中邑　真輔：カマーンダス
井上麻里奈：ニコライ
神谷　明　：キン肉真弓
古川登志夫：委員長
石川　英郎：ノック
太田真一郎：アナウンサー

  https://youtu.be/0faqAAh3M_0
</p>

<p class="yt">
  芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜1:55

  ※ これまでの〈生〉旅!を集めただけの動画

  https://youtu.be/iwVmAKzJUl4
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  6/5 22:30まで

  ※ 自炊54　ブリの照り焼き

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep8nxko2k1
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  6/5 23:29まで

  ※ 小池徹平、初めての寿司握り

  三村マサカズ、青木崇高、小池徹平 らが出演しています

  https://tver.jp/episodes/epfbtv0z2b
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  6/5 18:59まで

  ※ 伝説の家政婦志麻さん巨大グルメ祭！無限ジャガイモ謎の4層味変カレー？巨大鮭チーズパイにイチゴパフェ

  設楽統(バナナマン)、黒田みゆ、安達祐実、カズレーザー(メイプル超合金)、白本彩奈、陣内智則、出川哲朗、水上恒司、浮所飛貴(ACEes)、ともしげ(モグライダー)、岩田絵里奈、タサン志麻 らが出演しています

  https://tver.jp/episodes/ep5sc9699b
</p>

<p class="tver">
  バラエティ それSnow Manにやらせて下さい(2026) の配信がTVerで始まりました。
  6/5 18:59まで

  ※ Snow Man×ユニクロ！初コラボで“初夏の親子お出かけコーデ”対決▼目黒蓮の私服抜き打ちチェック

  Snow Man(岩本照、深澤辰哉、ラウール、渡辺翔太、向井康二、阿部亮平、目黒蓮、宮舘涼太、佐久間大介)、あの、河北麻友子、鈴木紗理奈、村重杏奈、森香澄、柴田英嗣(アンタッチャブル) らが出演しています

  https://tver.jp/episodes/epa9lcu6d9
</p>

<p class="tver">
  バラエティ かまいたちの瞬間回答～60秒でお悩み解決～(2026) の配信がTVerで始まりました。
  6/5 21:00まで

  ※ シェフの激変グルメ＆梅雨のお悩みSP！！

  かまいたち(山内健司、濱家隆一)、生野陽子、あの、綾瀬はるか、井森美幸、佐藤龍我(ACEes) らが出演しています

  https://tver.jp/episodes/eppw4rwlg5
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  6/12 20:59まで

  ※ 新企画！秘境不動産＆野人vs謎の巨大魚＆勇気がいる店

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、DJ KOO、別府ともひこ(エイトブリッジ)、酒井貴士(ザ・マミィ)、本間キッド(や団)、ワタリ119、槇大輔 らが出演しています

  https://tver.jp/episodes/epv56q9nmk
</p>

<p class="tver">
  バラエティ 知識の扉よ開け！ドア×ドア クエスト(2026) の配信がTVerで始まりました。
  6/5 20:54まで

  ※ 国民的お菓子何作っている？＆話題の道の駅調査人気グルメ1位は？

  小峠英二(バイきんぐ)、曽野舜太(M!LK)、宮崎美子、山口智子、山崎弘也(アンタッチャブル)、田村真子、ジャガー横田、ライオネス飛鳥、網倉理奈、香藤満月、Chika、佐藤綾人、佐藤颯人、佐藤嘉人 らが出演しています

  https://tver.jp/episodes/epfd7is9f0
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  6/5 21:58まで

  ※ 【timelesz×相葉雅紀】サシトーク

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、相葉雅紀 らが出演しています

  https://tver.jp/episodes/epqhlsu653
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  6/5 22:59まで

  ※ MEGUMI プロデュース力の原点

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、MEGUMI、野田義治、木村太一 らが出演しています

  https://tver.jp/episodes/epdnvpfg60
</p>

<p class="tver">
  バラエティ 齋藤飛鳥の今夜は飲んで帰ろう(2026・2期) の配信がTVerで始まりました。
  6/6 0:44まで

  ※ 齋藤飛鳥＆幾田りら　後編「初ホルモン飲み」

  齋藤飛鳥、幾田りら、こっちのけんと らが出演しています

  https://tver.jp/episodes/ephnh6v2do
</p>

<p class="tver">
  ドラマ 余命３ヶ月のサレ夫(2026) 6話の配信がTVerで始まりました。
  6/6 0:15まで

  白洲迅、桜井日奈子、庄司浩平、森日菜美、新川優愛、映美くらら、高橋光臣、筒井真理子 らが出演しています

  https://tver.jp/episodes/epjdkvsmkw
</p>

<p class="tver">
  ドラマ 田鎖ブラザーズ(2026) 7話の配信がTVerで始まりました。
  6/5 21:59まで

  岡田将生、染谷将太、中条あやみ、宮近海斗(Travis Japan)、長江英和、赤間麻里子、内田慈、池下重大、柳憂怜、山中崇、仙道敦子、渡辺真起子、齋藤潤、中島ひろ子、山本浩司(タイムマシーン3号)、兵頭功海、葵揚、三谷侑未、井川遥、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epd7d5pzo6
</p>

<p class="tver">
  ドラマ 刑事、ふりだしに戻る(2026) 6話の配信がTVerで始まりました。
  6/5 21:53まで

  濱田岳、石井杏奈、鈴木伸之、大水洋介(ラバーガール)、三島ゆたか、信子(ぱーてぃーちゃん)、田中美久、戸田恵子、山村紅葉、高橋努、中田乃愛、森優作、北代高士、永沼伊久也、牛丸亮、岡本望来、板谷由夏、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epuywiqdv5
</p>

<p class="tver">
  ドラマSP 松本清張シリーズ(2026) 微笑の儀式の配信がTVerで始まりました。
  6/5 20:57まで

  役所広司、内藤剛志、佳那晃子、石丸謙二郎、斎藤洋介、沼田爆 らが出演しています

  https://tver.jp/episodes/epw38xrf5u
</p>

<p class="tver">
  ドラマ SUPER RICH(2021) 10話の配信がTVerで始まりました。
  6/5 23:59まで

  江口のりこ、赤楚衛二、町田啓太、菅野莉央、板垣瑞生、嘉島陸、茅島みずき、矢本悠馬、志田未来、中村ゆり、戸次重幸、美保純、古田新太、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epju589qyp
</p>

<p class="tver">
  アニメ 北斗の拳 -FIST OF THE NORTH STAR-(2026) 9話の配信がTVerで始まりました。
  6/6 1:00まで

  武内駿輔、山下大輝、市道真央 らが出演しています

  https://tver.jp/episodes/eprt8k6fux
</p>

<p class="tver">
  アニメ マリッジトキシン(2026) 8話の配信がTVerで始まりました。
  6/6 0:00まで

  石谷春貴、若山詩音、永瀬アンナ、伊瀬茉莉也、結川あさき、斉藤壮馬、白浜灯奈乃、土屋神葉、白石晴香、祐仙勇 らが出演しています

  https://tver.jp/episodes/eptk1y16za
</p>

<p class="tver">
  アニメ 29歳独身中堅冒険者の日常(2026) 9話の配信がTVerで始まりました。
  6/12 21:59まで

  古川慎、鈴代紗弓、伊藤静、桑原由気、緒方佑奈、前田佳織里、大野智敬、白石晴香、松本保典 らが出演しています

  https://tver.jp/episodes/epkcjjefw2
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 20(21)話の配信がTVerで始まりました。
  6/12 21:54まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epky9xxaw7
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  6/11 19:53まで

  ※ 大悟4年ぶりゴチ参戦!カンヌ映画祭で注目!綾瀬とレッドカーペット秘話

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、大悟(千鳥)、羽鳥慎一 らが出演しています

  https://tver.jp/episodes/epwiw67zfv
</p>

<p class="tver">
  アニメ ダイヤのA actⅡ -Second Season-(2026) 8話の配信がTVerで始まりました。
  6/5 17:59まで

  逢坂良太、島崎信長、櫻井孝宏、内田雄馬、浅沼晋太郎、花江夏樹、武内駿輔、山下大輝、村瀬歩、畠中祐 らが出演しています

  https://tver.jp/episodes/epcacx6035
</p>

<p class="tver">
  アニメ 夜桜さんちの大作戦(2026) 34話の配信がTVerで始まりました。
  6/5 17:29まで

  川島零士、本渡楓、小西克幸、鬼頭明里、興津和幸、悠木碧、松岡禎丞、内山夕実 らが出演しています

  https://tver.jp/episodes/eppcjhaqpl
</p>

<p class="tver">
  アニメ 杖と剣のウィストリア(2026・2期) 19話の配信がTVerで始まりました。
  6/5 17:29まで

  天崎滉平、関根明良、天野聡美、水中雅章、柿原徹也、Lynn、河西健吾、関智一、遊佐浩二、福山潤、古川慎、雨宮天、大塚芳忠、田村睦心 らが出演しています

  https://tver.jp/episodes/epa2lo22wh
</p>

<p class="yt">
  「モノノ怪」化猫｜2026/5/28配信｜TWIN ENGINE｜1:07:32
  ※ 5/29(火) 20:59まで《24時間限定公開》

竹本　英史：森谷清
岩崎ひろし：福田寿太郎
稲葉　実　：門脇栄
佐々木誠二：木下文平
ゆ　か　な：野本チヨ
沢海　陽子：山口ハル
日比　愛子：小林正男
折笠富美子：市川節子

  https://youtu.be/dwUVgVcYkuc
</p>

<p class="yt">
  アニメ「ご注文はうさぎですか??」1～12話｜2026/5/29配信｜アニメタイムズ公式｜4:43:37
※ 2026/6/29(月) 00:00まで

佐倉　綾音：ココア
種田　梨沙：リゼ
水瀬いのり：チノ
内田　真礼：シャロ
佐藤　聡美：千夜
徳井　青空：マヤ
村川　梨衣：メグ
早見　沙織：青山ブルーマウンテン
清川　元夢：ティッピー
速水　奨　：チノの父

  https://youtu.be/S-MyDjtcldg
</p>

<p class="yt">
  映画『キングダム 魂の決戦』ストーリー紹介｜2026/5/28配信｜東宝MOVIEチャンネル｜1:42
※ 2026/7/16 23:59まで。7/17(金) 公開。動画は引き続きYoutubeで公開されているかと思いますが当サイトでは期限付きにします。

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 他

  https://youtu.be/HrSjrnKMwNw
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。
  6/12 12:00まで

※ ２００６年に日本初上陸を果たした“こどもが主役の街”「キッザニア」。その誕生と大ヒットの舞台裏に迫る

  カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/ep3k35u44p
</p>
