---
title: 2026/9/06 のピックアップ
date: 2026-09-06
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 宇宙兄弟(2013) 64話の配信がTVerで始まりました。 24分
  9/13 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep5dfsdl83
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。 25分
  9/13 10:59まで

  ※ 備蓄食材で手軽に美味しい！かにツナスプラウト丼

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/ep0u11y3br
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。 60分
  9/13 10:00まで

  ※ 北千住で絶品オムライス！マシンガンズの（秘）エピソード！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、エバース、マシンガンズ らが出演しています

  https://tver.jp/episodes/epc8eh21b8
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。 24分
  9/13 12:00まで

  ※ 伊勢鈴蘭、食事制限の有無に関わらずみんなが食べられるお菓子

  飯田圭織、牧野真莉愛、伊勢鈴蘭、波多野裕太 らが出演しています

  https://tver.jp/episodes/ep7dpivnfp
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 18回の配信がTVerで始まりました。 25分
  9/13 12:00まで

  ※ 街をジャックして一発当てたい

  アルコ&ピース(平子祐希、酒井健太)、STY48 らが出演しています

  https://tver.jp/episodes/epyrtqcq6x
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 5話の配信がTVerで始まりました。 30分
  9/13 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史 らが出演しています

  https://tver.jp/episodes/epl1boq6n4
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 2話の配信がTVerで始まりました。 44分
  10/14 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、相楽樹 らが出演しています

  https://tver.jp/episodes/epjcu9dcxp
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 2話の配信がTVerで始まりました。 44分
  10/10 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、雛形あきこ、梶原善、好井まさお らが出演しています

  https://tver.jp/episodes/epqjpisi1x
</p>

<p class="tver">
  ドラマ リセット(2009) 2話の配信がTVerで始まりました。 31分
  10/14 12:00まで

  田中直樹(ココリコ)、原史奈、姜暢雄、田口浩正 らが出演しています

  https://tver.jp/episodes/ephuey3wb5
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 2話の配信がTVerで始まりました。 44分
  10/9 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、長谷川朝晴、井上肇、向里祐香、川床明日香、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/epclotqe7b
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 2話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  山田優、金子ノブアキ、勝村政信、中村倫也、矢柴俊博 らが出演しています

  https://tver.jp/episodes/ep1unqbu1f
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 7話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、三倉茉奈、桐山漣、渋川清彦、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、鈴木亮平、霧島れいか、モト冬樹、冨家ノリマサ、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epztp64v5d
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 3話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、瑳川哲朗、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/eprxdpnhdv
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 6話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、滝沢沙織、篠田拓馬、綾部守人、あめくみちこ、銀粉蝶、山村美智、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epp612o4w5
</p>

<p class="tver">
  ドラマ リバース(2017) 6話の配信がTVerで始まりました。 46分
  9/13 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、志賀廣太郎、趣里、山口まゆ、藤本泉、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epo0qqugpt
</p>

<p class="tver">
  ドラマ いつか、ヒーロー(2025) 5話の配信がTVerで始まりました。 46分
  終了日未記載

  桐谷健太、宮世琉弥、長濱ねる、泉澤祐希、曽田陵介、星乃夢奈、駒木根葵汰、小関裕太、でんでん、板谷由夏、北村有起哉、渡辺光、谷恭輔 らが出演しています

  https://tver.jp/episodes/epmo8r9s4p
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 6話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、浅利陽介、安藤玉恵、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/eph1ci6eoo
</p>

<p class="tver">
  ドラマ まっしろ(2015) 5話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、竜雷太、山口馬木也、細田善彦、松山メアリ、滝沢恵、新貝文規、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/epc2rlr89b
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 5話の配信がTVerで始まりました。 45分
  9/12 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、山田真歩、大友花恋、立石晴香、唐木ちえみ、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epakuo6qel
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 4～6話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  ※ 1～3話は配信済み、続行中

  4～6話：https://tver.jp/episodes/epdehzso9z
  1～3話：https://tver.jp/episodes/epbwo9c26b

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大河内浩、大塚露那、竹中直人、西村晃 らが出演しています
</p>

<p class="tver">
  ドラマ 僕らは恋がヘタすぎる(2020) 4話の配信がTVerで始まりました。 24分
  終了日未記載

  川島海荷、白洲迅、浅川梨奈、嶋﨑斗亜(Lilかんさい)、大場美奈、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epgxyhh12s
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 29話の配信がTVerで始まりました。 24分
  9/13 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epb0ka2luh
</p>

<p class="tver">
  アニメ 仮面ライダーマイス(2026) 1話の配信がTVerで始まりました。 25分
  9/13 9:30まで

  秋谷郁甫、安宅波颯、堀川梨心、東啓介、金子隼也、安藤奈々子、坪倉康晴、岩永丞威、長谷川かすみ、鈴木浩文、西山蓮都、白熊寛嗣 らが出演しています

  https://tver.jp/episodes/ep29jvm3uu
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009) 10話の配信がTVerで始まりました。 25分
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epjdyvk445
</p>

<p class="yt">
  UFOロボ グレンダイザー 第30話「赤い傷跡のバラード」｜2026/9/5配信｜東映アニメーションミュージアムチャンネル｜25:46
  ※ 9/18 23:59まで。土曜18時配信中！各話２週間期間限定

  富山　敬　：デュークフリード
  石丸　博也：兜甲児
  川島千代子：牧ひかる
  富田　耕生：牧場団兵衛
  沢田　和子：牧場吾郎
  八奈見乗児：宇門源蔵
  吉田理保子：マリア
  富田　耕生：ガンダル
  緒方　賢一：ブラッキー
  田中　崇　：ズリル
  八奈見乗児：ベガ大王

  https://youtu.be/fC2x5umJPCI
</p>

<p class="yt">
  早見沙織がゆく!着物デザインの世界｜2026/9/6配信｜アニプレックス チャンネル｜27:24
  ※ この企画では、柚子役・早見沙織さんが東京都小平市の「染と呉服 京や」に訪問！本作に登場する【柚子・花梨・桜子・沙良・撫子】の着物のデザイン＆監修をご担当いただいた、「染と呉服 京や」猪上勝也さんにお話しをうかがいました！

  早見沙織 らが出演しています

  https://youtu.be/lMMr1ipJOFo
</p>

<p class="yt">
  「知らない方がいい」解読できた人物が消えた、世界一奇妙な書物｜2026/9/5配信｜田中美空のミステリー講座｜32:51
  ※ ヴォイニッチ手稿にまつわる謎と、そこから生まれたひとつの奇妙な物語についてお話します。

  田中美空(NMB48・講師・ミステラー)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/j0bZ1o3PND4
</p>
