---
title: 2026/8/4 のピックアップ
date: 2026-08-04
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  庭には二羽ニワトリがいた。藤本タツキ 17-26｜2026/8/4配信｜avex pictures｜19:30
※ 8/11(火) 18:00まで

出演者情報なし らが出演しています

  https://youtu.be/TCEL-A-nyOQ
</p>

<p class="yt">
  アニメ 悟空の大冒険 9～12話｜2026/8/4配信｜手塚プロダクション公式チャンネル｜1:44:43
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/IzB3zGNf2kE
</p>

<p class="tver">
  バラエティ 岩井 狩野 えびちゅうの推しかるちゃー(2026) 58回の配信がTVerで始まりました。
  終了日未記載

  ※ 【すとぷり10周年】リスナーから聞く魅力と圧倒的な凄さを徹底解説！

  岩井勇気(ハライチ)、狩野英孝、私立恵比寿中学(真山りか、安本彩花、中山莉子、桜木心菜、小久保柚乃、風見和香、桜井えま、仲村悠菜)、すとぷり らが出演しています

  https://tver.jp/episodes/epf57jqu3g
</p>

<p class="tver">
  アニメ 天は赤い河のほとり(2026) 5話の配信がTVerで始まりました。
  8/12 1:28まで

  橘美來、加藤渉、内田彩、千葉翔也、前野智昭、遊佐浩二、大野智敬、青木志貴、川井田夏海、松岡美里、石谷春貴、榎木淳弥、神尾晋一郎、鳥海浩輔、七海ひろき らが出演しています

  https://tver.jp/episodes/epzmcymk3c
</p>

<p class="tver">
  アニメ BanG Dream! It's MyGO!!!!!(2023) 5話の配信がTVerで始まりました。
  8/12 1:58まで

  羊宮妃那、立石凛、青木陽菜、小日向美香、林鼓子 らが出演しています

  https://tver.jp/episodes/ep3wmkkaz5
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 7話の配信がTVerで始まりました。
  8/12 2:22まで

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/epjd2zgif0
</p>

<p class="tver">
  ドラマ スピナーベイト(2026) 6話の配信がTVerで始まりました。
  8/12 2:15まで

  加藤清史郎、駿河太郎、萩原護、南琴奈、奥野壮、高橋侃、吉田晴登、吉澤要人(原因は自分にある。)、伊藤あさひ、仲野温、吉村界人、山中聡、中村梅雀 らが出演しています

  https://tver.jp/episodes/ep4tkek0rn
</p>

<p class="tver">
  ドラマ 幸せになりたいマサムネ君(2026) 5話の配信がTVerで始まりました。
  8/12 1:55まで

  中沢元紀、秋田汐梨、齊藤なぎさ、簡秀吉、前原滉 らが出演しています

  https://tver.jp/episodes/epbydyn0or
</p>

<p class="tver">
  アニメ 「きみを愛する気はない」と言った次期公爵様がなぜか溺愛してきます(2026) 5話の配信がTVerで始まりました。
  8/12 1:59まで

  石川由依、斉藤壮馬、石川界人、安済知佳、山村響、榎木淳弥、木村良平、鈴木崚汰、浪川大輔、國府田マリ子、田村真、内田真礼 らが出演しています

  https://tver.jp/episodes/epr9sakt2j
</p>

<p class="tver">
  バラエティ リーダーズサーチ 街でウワサの匠さん(2026) の配信がTVerで始まりました。
  8/30 11:00まで

  ※ 暑い夏涼しくする匠さんを大調査！大人気のあんみつ寒天製造マシンや、氷を作る巨大工場で秘密に迫る！

  城島茂、武内絵美 らが出演しています

  https://tver.jp/episodes/epn9zqan6s
</p>

<p class="tver">
  バラエティ オモウマい店(2026) の配信がTVerで始まりました。
  8/11 18:59まで

  ※ 食べて！遊んで！夏休みＳＰ！１０円プール！？イルカにタッチ！！

  ヒロミ、小峠英二(バイきんぐ) らが出演しています

  https://tver.jp/episodes/ep6iyfbn2f
</p>

<p class="tver">
  バラエティ THE神業チャレンジ(2026) の配信がTVerで始まりました。
  9/1 18:59まで

  ※ ピクサー！トイ・ストーリーの神＆男子バレー髙橋藍！緊急参戦

  チョコレートプラネット(長田庄平、松尾駿)、陣内智則、梅沢富美男、佐藤栞里、井森美幸、池田美優、畑芽育、KEY TO LIT(猪狩蒼弥、中村嶺亜)、大友花恋、ゆめちゃん、佐々木久美、高橋藍 らが出演しています

  https://tver.jp/episodes/eptl821px2
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。
  8/18 20:30まで

  ※ 【King & Prince・髙橋海人】参戦！タカトシ＆サンドと“夏の函館”爆食旅！

  タカアンドトシ、サンドウィッチマン(伊達みきお、富澤たけし)、髙橋海人(King & Prince) らが出演しています

  https://tver.jp/episodes/epfoduzxms
</p>

<p class="tver">
  バラエティ バナナサンド(2026) の配信がTVerで始まりました。
  9/1 18:59まで

  ※ ハモリ我慢成功率100%俳優・福原遥＆細田佳央太が初挑戦。3文字連想ゲーム

  ハモリ我慢成：https://tver.jp/episodes/ep9s431d13
  3文字連想ゲーム：https://tver.jp/episodes/epc89qyzai

  設楽統(バナナマン)、サンドウィッチマン(伊達みきお、富澤たけし)、福原遥、細田佳央太、小籔千豊、とにかく明るい安村、舘野忠臣、ヤマゲン、植田紫帆(オダウエダ) らが出演しています
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。
  8/18 01:16まで

  ※ 東映特撮ヒーロー貴重映像満載SP

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、白倉伸一郎、福沢博文、塚地武雅(ドランクドラゴン)、堀田茜、宮下兼史鷹(宮下草薙) らが出演しています

  https://tver.jp/episodes/epgij17td9
</p>

<p class="tver">
  バラエティ 踊る！さんま御殿!!(2026) の配信がTVerで始まりました。
  8/11 19:59まで

  ※ 有名人(秘)バイト経歴SP羽鳥アナ人生変えたバイト!?クイズ作成1問いくら

  明石家さんま、相田翔子、梅沢富美男、奥田修二(ガクテンソク)、上谷沙弥、木村柾哉(INI)、こがけん、しなこ、鶴崎修功、ハシヤスメ・アツコ、羽鳥慎一、平野ノラ、横澤夏子 らが出演しています

  https://tver.jp/episodes/epwu3n0s62
</p>

<p class="tver">
  バラエティ ザ！世界仰天ニュース(2026) の配信がTVerで始まりました。
  8/11 20:59まで

  ※ 意外な落とし穴!夏の食の危険…花火大会!屋台人気メニューで命危機

  笑福亭鶴瓶、松島聡(timelesz)、K(&TEAM)、高橋恭平(なにわ男子)、野村康太、松田好花、ヤーレンズ、杉原凜 らが出演しています

  https://tver.jp/episodes/epqruica04
</p>

<p class="tver">
  バラエティ X秒後の新世界(2026) の配信がTVerで始まりました。
  8/11 21:59まで

  ※ 日本三大夜景を一晩で制覇できる?タイムリミットは朝日が昇るまで!

  せいや(霜降り明星)、藤井貴彦、ヒコロヒー、磯山さやか、高橋文哉、松島聡(timelesz)、松村沙友理、的場浩司、こがけん、高橋成美 らが出演しています

  https://tver.jp/episodes/ephgrrq5t4
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  8/11 22:00まで

  ※ ヒデちゃん&ロッチ中岡がスパイ参戦！新ゲーム配膳ロボに四苦八苦

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、中山秀征、中岡創一(ロッチ) らが出演しています

  https://tver.jp/episodes/ep7n3a7hfz
</p>

<p class="tver">
  バラエティ 超調査チューズデイ～気になる答え今夜出します～(2026) の配信がTVerで始まりました。
  8/18 19:00まで

  ※ 外国人が感動！日本のコンビニグルメは何？

  カズレーザー(メイプル超合金)、ニューヨーク(嶋佐和也、屋敷裕政)、秋元真夏、杉原千尋、立本信吾、佐々木大光(KEY TO LIT)、関太(タイムマシーン3号)、箕輪はるか(ハリセンボン)、熊元プロレス(紅しょうが)、かなで(3時のヒロイン)、角田夏実、林健(ギャロップ) らが出演しています

  https://tver.jp/episodes/eppti5dnjq
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  8/11 23:58まで

  ※ 子どもの性被害事件が過去10年で最多…子どもを被害者・加害者にしないための性教育

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、古坂大魔王、小倉優子、櫻井裕子、SHELLY、橋本マナミ、最上もが らが出演しています

  https://tver.jp/episodes/epbcis8wih
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。
  8/12 0:15まで

  ※ 令和のテクニックで簡単に絵が上手くなる？

  Aぇ! group らが出演しています

  https://tver.jp/episodes/epwnz1u4nl
</p>

<p class="tver">
  バラエティ 夜の音 -TOKYO MIDNIGHT MUSIC-(2026) の配信がTVerで始まりました。
  8/12 0:23まで

  ※ 【SATOH】アジカン後藤から手紙。菊池風磨＆畑芽育の音楽番組

  菊池風磨(timelesz)、畑芽育、SATOH らが出演しています

  https://tver.jp/episodes/epzzl2s061
</p>

<p class="tver">
  バラエティ ロンドンハーツ(2026) の配信がTVerで始まりました。
  8/12 1:33まで

  ※ 【恋の行方は？】ラブマゲドン…FANTASTICSvs紅しょうがら女芸人軍団

  田村淳、山崎弘也(アンタッチャブル)、FANTASTICS、荒川(エルフ)、紅しょうが(稲田美紀、熊元プロレス)、薄幸(納言)、福田麻貴(3時のヒロイン)、吉住、吉田結衣(カーネーション) らが出演しています

  https://tver.jp/episodes/epzbdh9u0j
</p>

<p class="tver">
  ドラマ ペンション・恋は桃色(2024・2期) 4話の配信がTVerで始まりました。
  8/12 1:15まで

  リリー・フランキー、斎藤工、伊藤沙莉、山口智子、関智一、剛力彩芽、JOY、益子卓郎(U字工事)、眉村ちあき、大水洋介(ラバーガール)、速水今日子、辻凪子 らが出演しています

  https://tver.jp/episodes/epq92odm27
</p>

<p class="tver">
  ドラマ コントラスト(2026) 6話の配信がTVerで始まりました。
  8/12 0:45まで

  井内悠陽、阿久根温世(ICEx)、冨里奈央、HAYATO、樫又龍ノ介、中山ひなの、大倉琉人、米尾賢人、中山翔貴、井上想良 らが出演しています

  https://tver.jp/episodes/epgrsvsm69
</p>

<p class="tver">
  ドラマ 初恋DOGs(2025) 7話の配信がTVerで始まりました。
  8/12 23:59まで

  清原果耶、成田凌、ナ・イヌ、萩原利久、宮澤エマ、なだぎ武、野呂佳代、宮崎秋人、永瀬莉子、NOA、円井わん、村田秀亮(とろサーモン)、ジン・デヨン、森崎ウィン、坂井真紀、深田恭子、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epuzedukjy
</p>

<p class="tver">
  ドラマ テセウスの船(2020) 7話の配信がTVerで始まりました。
  8/12 23:59まで

  竹内涼真、榮倉奈々、せいや(霜降り明星)、今野浩喜、加治将樹、相原未来、佐藤タダヤス、白鳥玉季、番家天嵩、柴崎楓雅、仲本工事、六平直政、笹野高史、麻生祐未、鈴木亮平 らが出演しています

  https://tver.jp/episodes/epfdgy32mc
</p>

<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 2話の配信がTVerで始まりました。
  終了日未記載

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/epdme7az9m
</p>

<p class="tver">
  ドラマ 婚姻届に判を捺しただけですが(2021) 7話の配信がTVerで始まりました。
  8/12 23:59まで

  清野菜名、坂口健太郎、倉科カナ、高杉真宙、中川翔子、笠原秀幸、小林涼子、森永悠希、深川麻衣、岡田圭右(ますだおかだ)、佐藤流司、長見玲亜、野波麻帆、田辺誠一 らが出演しています

  https://tver.jp/episodes/epcucxbvf6
</p>

<p class="tver">
  ドラマ 君の好きは無敵(2026) 4話の配信がTVerで始まりました。
  8/11 21:59まで

  松本若菜、佐野勇斗(M!LK)、小野花梨、金田哲(はんにゃ.)、中村隼人、白本彩奈、川崎健太、武田真治、杉浦太陽、菅井友香、マイケル富岡、島田珠代、しなこ、尾美としのり、島崎和歌子、藤井隆、本郷奏多、白石加代子 らが出演しています

  https://tver.jp/episodes/epm1s8rill
</p>

<p class="tver">
  ドラマ さよならノワール(2026) 5話の配信がTVerで始まりました。
  8/11 21:00まで

  小池栄子、北香那、岡山天音、荒川良々、味方良介、濱尾ノリタカ、眞島秀和、戸田恵子、渡部篤郎、佐久本宝、おかやまはじめ、八木将康、安達木乃 らが出演しています

  https://tver.jp/episodes/epq07956oj
</p>

<p class="tver">
  ドラマ クロスロード ～救命救急の約束～(2026) 5話の配信がTVerで始まりました。
  8/11 21:54まで

  今田美桜、磯村勇斗、寛一郎、泉澤祐希、小雪、戸次重幸、船越英一郎 らが出演しています

  https://tver.jp/episodes/ep18vy2z4d
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのは EXCEEDS Gun Blaze Vengeance(2026) 5話の配信がTVerで始まりました。
  8/12 0:59まで

  橘杏咲、日高里菜、田村ゆかり、水樹奈々、植田佳奈、ゆかな、結川あさき、千春、小林愛香、伊藤彩沙、青木陽菜、上坂すみれ らが出演しています

  https://tver.jp/episodes/ep82u2a9gg
</p>

<p class="tver">
  アニメ 岩元先輩ノ推薦(2026) 5話の配信がTVerで始まりました。
  8/11 23:00まで

  坂泰斗、榊原優希、伊東健人、石田彰、福西勝也、永塚拓馬、佐藤元、徳留慎乃佑 らが出演しています

  https://tver.jp/episodes/epl8z2fwbj
</p>

<p class="tver">
  アニメ 令和のダラさん(2026) 5話の配信がTVerで始まりました。
  8/11 22:00まで

  田村睦心、津田美波、寺澤百花、古賀葵、杉田智和、相沢舞、早見沙織、大塚芳忠、てらそままさき らが出演しています

  https://tver.jp/episodes/ep03gbm8g6
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中Ⅱ(2026) 4話の配信がTVerで始まりました。
  8/11 20:00まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、関俊彦、小野賢章、上田瞳、諏訪部順一、赤羽根健治、岩田光央、四宮豪、江口拓也、大久保瑠美、鳥海浩輔、皆口裕子、中博史、竹内良太、濱健人、大西沙織、山根綺、逢田梨香子、河西健吾、白石稔、石田彰 らが出演しています

  https://tver.jp/episodes/epc0eiynrf
</p>

<p class="tver">
  アニメ メカアマト(2026・4期) 5話の配信がTVerで始まりました。
  8/18 19:57まで

  村瀬歩、松岡禎丞、白石涼子、加藤英美里、大谷理美 らが出演しています

  https://tver.jp/episodes/ep7liw0jz0
</p>

<p class="tver">
  アニメ ウルトラマン80（HDリマスター版）(1980) 27話の配信がTVerで始まりました。
  8/11 19:00まで

  長谷川初範、中山仁、石田えり、大門正明、佐原健二 らが出演しています

  https://tver.jp/episodes/epibl62tbb
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 151～153話の配信がTVerで始まりました。
  8/18 17:59まで

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/ep6sozz3u4
</p>

<p class="tver">
  バラエティ ～あなたの知らないNO.1～選ばれし頂点サマ(2026) の配信がTVerで始まりました。
  9/1 23:59まで

  ※ 世界の衝撃神業連発＆人生を懸けた頂点サマに密着SP

  カズレーザー(メイプル超合金)、小峠英二(バイきんぐ)、山下リオ、濵田崇裕(WEST.)、朝日奈央、武知海青 らが出演しています

  https://tver.jp/episodes/epvy5usfzt
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 2回の配信がTVerで始まりました。
  終了日未記載

  ※ 長野専務の正体判明！？＆最下位モニター扱いで震える山本…。

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/ephlmllwhr
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 11話の配信がTVerで始まりました。
  8/18 23:59まで

  武田梨奈 らが出演しています

  https://tver.jp/episodes/epw0s4mdey
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 4話の配信がTVerで始まりました。
  8/11 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epjr5q8qcw
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 10話の配信がTVerで始まりました。
  8/11 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep42jn9n4l
</p>

<p class="tver">
  アニメ ピッカルチャーBLEACHの魅力にピカッと世界横断SP(2026) の配信がTVerで始まりました。
  8/18 16:59まで

  ※ 後編は韓国・アメリカでBLEACHファンに突撃インタビュー▽アメリカ最大級アニメイベントで主人公・一護役の声優に密着！超巨大ステージイベントでの○○にスタジオ大興奮！

  高杉真宙、せいや(霜降り明星)、東京ホテイソン、田村真佑 らが出演しています

  https://tver.jp/episodes/epf4wwl1ny
</p>

<p class="tver">
  アニメ 忘却バッテリー(2024) 7～9話の配信がTVerで始まりました。
  8/18 16:59まで

  増田俊樹、宮野真守、阿座上洋平、島崎信長、梶裕貴、山谷祥生、大塚剛央、石井マーク、河西健吾 らが出演しています

  https://tver.jp/episodes/epc53vjd0q
</p>

<p class="yt">
  アニメ 三つ目がとおる 41～44話｜2026/7/29配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/OCGbHtEdAVs
</p>

<p class="yt">
  『ハイジャック・ゲーム』(2017)劇場未公開作品｜2026/7/31配信｜ギャガ公式チャンネル｜1:28:13

  竹田　まどか｜グレッチェン・ブレア：デニス・リチャーズ
  山野井　仁｜マシュー・シャープ：ドルフ・ラングレン
  坂井　恭子｜セイディ：グリア・グラマー
  藤沼　建人｜ロウボーンズ：チャック・リデル
  森田　了介｜リック：ジョナサン・リプニッキ

  吹替版：https://youtu.be/XTwSBZ40Ddg
  字幕版：https://youtu.be/zcqCZrypavM
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/11 12:00まで

  ※ 東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演中。宙組の水美舞斗さんです

  中井美穂、水美舞斗、立川らく次 らが出演しています

  https://tver.jp/episodes/epemj6t2co
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 8話の配信がTVerで始まりました。
  終了日未記載

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、小曽根叶乃、橋本じゅん らが出演しています

  https://tver.jp/episodes/epyff1abmy
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 8話の配信がTVerで始まりました。
  8/11 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、小手伸也、佐野勇斗(M!LK)、佐藤栞里、フォンチー、馬場徹、諏訪太朗、猪塚健太、工藤美桜、黒田こらん、菜々緒、稲森いずみ、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep9kko9ld8
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 6話の配信がTVerで始まりました。
  8/11 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、ファーストサマーウイカ、片平なぎさ、武田真治、佐藤貴史、深沢敦、阿南敦子、木下政治、青戸昭憲、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep4flxa1a5
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 5話の配信がTVerで始まりました。
  8/11 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/ep9wh4nz9f
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 5話の配信がTVerで始まりました。
  8/11 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/eprst71rv3
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 24話の配信がTVerで始まりました。
  8/11 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epiyg5f3uy
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 5話の配信がTVerで始まりました。
  8/11 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epcbocjvwb
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 5話の配信がTVerで始まりました。
  8/18 08:30まで

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/eptb91hudp
</p>
