---
title: 2026/6/2 のピックアップ
date: git Last Modified
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ ブラッククローバー(2020) 124～126話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epl7ecozms
</p>

<p class="tver">
  バラエティ リーダーズサーチ 街でウワサの匠さん(2026) の配信がTVerで始まりました。
  6/7 23:59まで

  ※ 古都鎌倉で有名人が通った老舗の匠さんを大調査！大物政治家からあの伝説のアーティストが愛した逸品とは…？

  城島茂、アルコ&ピース らが出演しています

  https://tver.jp/episodes/eplg5g6oxo
</p>

<p class="tver">
  ドラマ ワカコ酒(2026・2期) 6話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/ephmjb0xkp
</p>

<p class="tver">
  バラエティ ピッカルチャー～アニメの色んなとこにスポットライトを当ててピカっと光らせてみた～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 今回は「声優」特集！「声優の卵」をピカッと光らせるため、養成所に潜入！そこでは予想外の展開が！？スタジオでは、せいやのあの持ちネタを声優の菱川花菜が生アテレコ！

  高杉真宙、せいや(霜降り明星)、菱川花菜 らが出演しています

  https://tver.jp/episodes/ep5yyccylf
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  6/9 12:00まで

  ※ 東京宝塚劇場で公演中の舞台「蒼月抄」「EL DESEO」に出演中の花組・鏡星珠さん＆翠笙芹南さんが登場

  中井美穂、立川らく次、鏡星珠、翠笙芹南 らが出演しています

  https://tver.jp/episodes/epqclhoamm
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 8話の配信がTVerで始まりました。
  6/9 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/epvem749u8
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 7話の配信がTVerで始まりました。
  6/9 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epheg29dff
</p>

<p class="tver">
  ドラマ 特上カバチ!!(2010) 5話の配信がTVerで始まりました。
  6/10 9:59まで

  櫻井翔、堀北真希、遠藤憲一、上里亮太、AKUN、桜井ひかり、森脇英理子、玄田哲章、山崎銀之丞、仲野太賀、デビット伊東、本田博太郎、宮田早苗、村岡希美、中村ゆり、阿部亮平(Snow Man)、浅野ゆう子、高橋克実、中村雅俊 らが出演しています

  https://tver.jp/episodes/epfj4di6lm
</p>

<p class="tver">
  ドラマ 山田太郎ものがたり(2007) 5話の配信がTVerで始まりました。
  6/10 9:59まで

  二宮和也、櫻井翔、多部未華子、忍成修吾、大塚千弘、吹石一恵、吉沢悠、福井博章、綾田俊樹、鎗田晟裕、清水尚弥、村中暖奈、吉川愛、澁谷武尊、稲垣鈴夏、菊池桃子、宇津井健 らが出演しています

  https://tver.jp/episodes/ep1h649sgg
</p>

<p class="tver">
  ドラマ 六月のタイムマシン(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  ICEx(志賀李玖、八神遼介)、小浜桃奈、佐藤京、矢嶋由菜、松本大輝 らが出演しています

  https://tver.jp/episodes/ep2wqpnorg
</p>

<p class="tver">
  アニメ それが声優！(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/ep0aezjbhq
</p>

<p class="tver">
  ドラマ その着せ替え人形は恋をする(2024) 6話の配信がTVerで始まりました。
  6/9 3:14まで

  永瀬莉子、野村康太、池田朱那、豊島心桜、塩﨑太智(M!LK)、山田明郷 らが出演しています

  https://tver.jp/episodes/ep8am6907e
</p>
