---
title: 2026/6/1 のピックアップ
date: 2026-06-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  ふしぎな島のフローネ 10~12話｜2026/6/1配信｜日本アニメーション・シアター｜1:16:58
※ 2026/9/21 23:59まで。終了時間は予想

松尾佳子：フローネ
高坂真琴：ジャック
小林勝彦：エルンスト(10話以降 小林修)
古谷　徹：フランツ
平井道子：アンナ

  https://youtu.be/p2BpaVF_c94
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。
  6/8 19:00まで

  ※ 20周年イヤーの難クイズを林先生が徹底解説！

  ネプチューン、林修、村瀬哲史、明石家さんま、新しい学校のリーダーズ、有田哲平(くりぃむしちゅー)、アンミカ、EXIT、井桁弘恵、石井正則、石田健、榎原依那、ウエストランド、大島優子、大原優乃、織田信成、片岡千之助、岸博幸、加藤シゲアキ(NEWS)、きしたかの、神山智洋(WEST.)、北川景子、木村拓哉、五箇公一、ゴールデンボンバー、齊藤京子、齋藤孝、指原莉乃、品川祐(品川庄司)、佐藤勝利(timelesz)、清水宏保、陣内智則、神部美咲、鈴木保奈美、高橋成美、関口メンディー、DAIGO、綱啓永、出口保行、堂本剛(DOMOTO)、ナイツ、Travis Japan(中村海人、松田元太)、なえなの、長浜広奈、二宮和也、ハライチ、ニューヨーク、浜口京子、藤田ニコル、本望あやか、前田敦子、正名僕蔵、水上恒司、松本まりか、マヂカルラブリー、水野美紀、皆川猿時、宮根誠司、向井怜衣、村上佳菜子、森香澄、柳俊太郎、山田裕貴、吉岡里帆 らが出演しています

  https://tver.jp/episodes/ep9yhege0b
</p>

<p class="tver">
  バラエティ YOUは何しに日本へ？(2026) の配信がTVerで始まりました。
  6/8 19:59まで

  ※ Snow Man深澤が仰天！マイケル・ジャクソンものまね

  設楽統(バナナマン)、深澤辰哉(Snow Man)、パックン らが出演しています

  https://tver.jp/episodes/eptnz3qndu
</p>

<p class="tver">
  バラエティ 真剣遊戯！THE バトル SHOW(2026) の配信がTVerで始まりました。
  6/8 20:00まで

  ※ あづきお姉さん対WEST＆Aぇ＆キテレツ連合軍

  櫻井翔、濵田崇裕(WEST.)、小島健(Aぇ! group)、岩崎大昇(KEY TO LIT)、浜野謙太、夏菜、出口クリスタ、柴田英嗣(アンタッチャブル)、山本浩司(タイムマシーン3号)、加藤諒、朝日奈央、やす子、秋元杏月、立本信吾 らが出演しています

  https://tver.jp/episodes/epgy5xp54y
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 「女を捨てろ」「母になるな」女性政治家のリアル!実は仲良し野田聖子&辻元清美&蓮舫&伊藤孝恵が白熱爆笑本音会▽産後うつの恐怖「我が子が可愛くない」「誰か助けて」

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、いとうあさこ、若槻千夏、ファーストサマーウイカ、大山加奈、木村好珠、木村多江、高橋ユウ、土屋アンナ、丸山桂里奈、長谷川忍(シソンヌ)、野田聖子、辻元清美、蓮舫、伊藤孝恵、中村海人(Travis Japan)、市井紗耶香、犬山紙子、大村美菜子、齊藤京子、バービー、ホラン千秋、LiLiCo、溝端淳平 らが出演しています

  https://tver.jp/episodes/ep3ttj63l1
</p>

<p class="tver">
  バラエティ クレイジージャーニー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 薬草を愛しすぎる日本唯一の資格を持つ薬草研究家の新ジャーニーが登場＆昆虫コンビ島田・丸山帰還！

  設楽統(バナナマン)、小池栄子、小川康、島田拓、丸山宗利 らが出演しています

  https://tver.jp/episodes/ep166uyrcx
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。
  6/9 1:16まで

  ※ 同業のプロが真似できない！凄腕マジシャンSP

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、KiLa、高橋匠、JONIO、高橋恭平(なにわ男子)、土田晃之 らが出演しています

  https://tver.jp/episodes/epz5s0etiz
</p>

<p class="tver">
  ドラマ スモークブルーの雨のち晴れ(2026) 9話の配信がTVerで始まりました。
  6/9 1:38まで

  武田航平、渋谷謙人、升毅、朝加真由美、山本龍人(ICEx)、佐久間麻由、田中幸太朗、飯窪春菜、佐野和真、蒼井旬、YOUNG DAIS、黒沢あすか らが出演しています

  https://tver.jp/episodes/ep4h73wica
</p>

<p class="tver">
  ドラマ やたらやらしい深見くん(2026) 9話の配信がTVerで始まりました。
  6/9 1:35まで
  ※ 14分のドラマです

  樫尾篤紀、宮崎湧 らが出演しています

  https://tver.jp/episodes/ep43ta4bc6
</p>

<p class="tver">
  ドラマ share(2026) 7話の配信がTVerで始まりました。
  6/9 1:20まで

  秋田汐梨、池田匡志、寺本莉緒、草川直弥、藤本洸大、水石亜飛夢、雛形あきこ、山中聡 らが出演しています

  https://tver.jp/episodes/epfdkak85r
</p>

<p class="tver">
  ドラマ 犬飼さんは隠れ溺愛上司(2026) 9話の配信がTVerで始まりました。
  6/9 1:20まで
  ※ 14分のドラマです

  宮澤佑、横野すみれ らが出演しています

  https://tver.jp/episodes/ep0dqlvck0
</p>

<p class="tver">
  ドラマ 多すぎる恋と殺人(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  森カンナ、西垣匠、大沢あかね、星田英利、桜井玲香、青柳翔、堀内敬子、前田公輝 らが出演しています

  https://tver.jp/episodes/epvn986p3j
</p>

<p class="tver">
  ドラマ 美女か野獣(2003) 1話の配信がTVerで始まりました。
  終了日未記載
  ※ 3日毎に最新話更新

  松嶋菜々子、福山雅治、渡辺いっけい、八嶋智人、佐々木蔵之介、白石美帆、永井大、パパイヤ鈴木、児玉清 らが出演しています

  https://tver.jp/episodes/ep1gp5o47h
</p>

<p class="tver">
  ドラマ 産まない女はダメですか？ DINKsのトツキトオカ(2026) 10話の配信がTVerで始まりました。
  6/8 23:54まで

  宮澤エマ、浅香航大、増子敦貴、前原瑞樹、大谷日南実、吉田ウーロン太、渡邉美穂、西田尚美、北山宏光 らが出演しています

  https://tver.jp/episodes/epm1pwe439
</p>

<p class="tver">
  ドラマ 銀河の一票(2026) 7話の配信がTVerで始まりました。
  6/8 22:00まで

  黒木華、野呂佳代、三浦透子、渡邊圭祐、倉悠貴、オクイシュージ、佐藤真弓、今井隆文、岩谷健司、山口馬木也、シシド・カフカ、堀部圭亮、梶裕貴、大塚ヒロタ、田山由起、日高のり子、宮地真緒、木野花、岩松了、坂東彌十郎、松下洸平 らが出演しています

  https://tver.jp/episodes/epnm7d2fyp
</p>

<p class="tver">
  ドラマ サバ缶、宇宙へ行く(2026) 8話の配信がTVerで始まりました。
  6/8 21:00まで

  北村匠海、出口夏希、黒崎煌代、八嶋智人、三宅弘城、村川絵梨、ソニン、迫田孝也、鈴木浩介、荒川良々、神木隆之介、伊東蒼、平澤宏々路、木村舷碁、石田莉子、山下永玖、西本まりん、夏目透羽 らが出演しています

  https://tver.jp/episodes/epf60gdamy
</p>

<p class="tver">
  ドラマ SUPER RICH(2021) 11(最終)話の配信がTVerで始まりました。
  6/8 23:59まで

  江口のりこ、赤楚衛二、町田啓太、菅野莉央、板垣瑞生、嘉島陸、茅島みずき、矢本悠馬、志田未来、中村ゆり、戸次重幸、美保純、古田新太、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/ep3zdu36mw
</p>

<p class="tver">
  アニメ お隣の天使様にいつの間にか駄目人間にされていた件2(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  坂泰斗、石見舞菜香、白石晴香 らが出演しています

  https://tver.jp/episodes/epom3abrpt
</p>

<p class="tver">
  アニメ また殺されてしまったのですね、探偵様(2026) 9話の配信がTVerで始まりました。
  6/8 23:59まで

  安田陸矢、若山詩音、青山吉能、高田憂希、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ep6ikraygq
</p>

<p class="tver">
  アニメ とんがり帽子のアトリエ(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  本村玲奈、花江夏樹、山村響、月城日花、中村悠一、久野美咲、斎賀みつき らが出演しています

  https://tver.jp/episodes/epo8ynbljh
</p>

<p class="tver">
  アニメ 涼宮ハルヒの憂鬱(2006) 10話の配信がTVerで始まりました。
  終了日未記載

  平野綾、杉田智和、茅原実里、後藤邑子、小野大輔、桑谷夏子、松岡由貴、白石稔、松元惠、あおきさやか らが出演しています

  https://tver.jp/episodes/ep6mmynq8l
</p>

<p class="tver">
  アニメ 悲劇の元凶となる最強外道ラスボス女王は民の為に尽くします。(2026・2期) 8話の配信がTVerで始まりました。
  6/8 22:29まで

  ファイルーズあい、内山昂輝、戸松遥、榎木淳弥、立花慎之介、緑川光、遊佐浩二、諏訪部順一 らが出演しています

  https://tver.jp/episodes/ep13h8322j
</p>

<p class="tver">
  アニメ 銀河特急 ミルキー☆サブウェイ(2025) 9話の配信がTVerで始まりました。
  終了日未記載
  ※ 4分のアニメです

  寺澤百花、永瀬アンナ、小松未可子、金元寿子、小市眞琴、内山昂輝、山谷祥生 らが出演しています

  https://tver.jp/episodes/ep6vpdgu06
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 14話の配信がTVerで始まりました。
  6/8 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/epvfh6w7wi
</p>

<p class="tver">
  バラエティ STU48 美活動部 はじめました！(2026) 28回の配信がTVerで始まりました。
  終了日未記載

  ※ 自転車競技体験 中編

  STU48(内海里音、迫姫華、尾崎世里花、岡村梨央、吉田彩良、信濃宙花、福田朱里) らが出演しています

  https://tver.jp/episodes/epwo5gkvor
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  6/8 15:00まで

  ※ 福岡県と島根県で出会ったポツンと一軒家を紹介！仲睦まじいご夫婦の暮らしぶり、家族愛のストーリーに迫る２時間スペシャルをお届け！

  所ジョージ、林修、小柳ルミ子、王林 らが出演しています

  https://tver.jp/episodes/epjnejwteo
</p>

<p class="tver">
  ドラマ ワカコ酒(2016・2期) 5話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/epkx2ondth
</p>

<p class="tver">
  バラエティ ナゾ解き☆はるpyon調査隊(2026) の配信がTVerで始まりました。
  終了日未記載
  ※ [9分の番組です] 大岩で食べたい！山菜の謎

  橋本陽菜(AKB48) らが出演しています

  https://tver.jp/episodes/epbt0dry0n
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 1～3話の配信がTVerで始まりました。
  終了日未記載

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epyr0lsvxq
</p>

<p class="tver">
  ドラマ 家庭教師のトラコ(2022) 1～3話の配信がTVerで始まりました。
  終了日未記載

  橋本愛、中村蒼、美村里江、細田佳央太、矢島健一、丸山智己、細田善彦、阿久津慶人、永瀬ゆずな、板谷由夏、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epxjj9iv1g
</p>

<p class="tver">
  ドラマ 奥様は、取り扱い注意(2017) 1～3話の配信がTVerで始まりました。
  終了日未記載

  綾瀬はるか、広末涼子、本田翼、中尾明慶、石黒賢、西島秀俊、倉科カナ らが出演しています

  https://tver.jp/episodes/epuac3asz6
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 1～3話の配信がTVerで始まりました。
  終了日未記載

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、伊藤英明、安田顕、田中裕子 らが出演しています

  https://tver.jp/episodes/epp8vsstq4
</p>

<p class="tver">
  ドラマ 家売るオンナ(2016) 1～4話の配信がTVerで始まりました。
  終了日未記載

  北川景子、工藤阿須加、千葉雄大、イモトアヤコ、鈴木裕樹、新木優子、本多力、臼田あさ美、梶原善、仲村トオル、りょう らが出演しています

  https://tver.jp/episodes/eplhqrcev5
</p>

<p class="tver">
  ドラマ ど根性ガエル(2015) 1～3話の配信がTVerで始まりました。
  終了日未記載

  松山ケンイチ、満島ひかり、前田敦子、勝地涼、光石研、でんでん、白羽ゆり、新井浩文、白石加代子、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epk64pa3cl
</p>

<p class="tver">
  ドラマ リバーサルオーケストラ(2023) 1～3話の配信がTVerで始まりました。
  終了日未記載

  門脇麦、田中圭、永山絢斗、瀧内公美、坂東龍汰、恒松祐里、前野朋哉、濱田マリ、岡部たかし、津田健次郎、平田満、原日出子、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epjh3eam6r
</p>

<p class="tver">
  ドラマ Q10(2010) 1～3話の配信がTVerで始まりました。
  終了日未記載

  佐藤健、前田敦子、蓮佛美沙子、賀来賢人、柄本時生、高畑充希、細田善彦、福田麻由子、光石研、西田尚美、松岡璃奈子、池松壮亮、白石加代子、田中裕二、小野武彦、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epevoxeae5
</p>

<p class="tver">
  ドラマ 東京全力少女(2012) 1～3話の配信がTVerで始まりました。
  終了日未記載

  武井咲、三浦翔平、比嘉愛未、市川由衣、森カンナ、青木隆治、渋谷飛鳥、渡辺邦斗、内藤理沙、由美ローランス、志村玲那、酒井彩音、堀内敬子、温水洋一、塚本高史、渡部篤郎 他

  https://tver.jp/episodes/epe5ntskg4
</p>

<p class="tver">
  ドラマ 愛してたって、秘密はある。(2017) 1～3話の配信がTVerで始まりました。
  終了日未記載

  福士蒼汰、川口春奈、鈴木浩介、賀来賢人、白洲迅、柄本時生、吉川愛、山本未來、堀部圭亮、岡江久美子、遠藤憲一、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epduzoiuo6
</p>

<p class="tver">
  ドラマ PRINCE OF LEGEND(2018) 1～3話の配信がTVerで始まりました。
  終了日未記載

  片寄涼太、飯島寛騎、塩野瑛久、鈴木伸之、川村壱馬、佐野玲於、関口メンディー、吉野北人、藤原樹、長谷川慎、町田啓太、清原翔、遠藤史也、こだまたいち、加藤諒、大和孔太、白石聖 らが出演しています

  https://tver.jp/episodes/ep73vye6h5g
</p>

<p class="tver">
  ドラマ 地味にスゴイ！校閲ガール・河野悦子(2016) 1～3話の配信がTVerで始まりました。
  終了日未記載

  石原さとみ、菅田将暉、本田翼、青木崇高、岸谷五朗、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/ep5v9psua6
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 1～3話の配信がTVerで始まりました。
  終了日未記載

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、成海璃子、小手伸也、水野美紀、梶原善 らが出演しています

  https://tver.jp/episodes/ep4hbbj0kk
</p>

<p class="tver">
  ドラマ 35歳の少女(2020) 1～3話の配信がTVerで始まりました。
  終了日未記載

  柴咲コウ、坂口健太郎、田中哲司、竜星涼、富田靖子、橋本愛、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/ep0h3sxx2x
</p>

<p class="tver">
  アニメ ハイキュー!!(2014・1期) 1～6話の配信がTVerで始まりました。
  6/8 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epcc5q6jaf
</p>

<p class="tver">
  アニメ じょしらく(2012) 全13話の配信がTVerで始まりました。
  終了日未記載

  佐倉綾音、山本希望、小岩井ことり、南條愛乃、後藤沙緒里 らが出演しています

  https://tver.jp/episodes/epzatf8q54
</p>

<p class="tver">
  アニメ 昭和元禄落語心中 -助六再び篇-(2017・2期) 全12話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、牛山茂、山口勝平、加瀬康之、遊佐浩二、小松未可子、関俊彦、土師孝也、須藤翔 らが出演しています

  https://tver.jp/episodes/epmrubstgp
</p>

<p class="tver">
  アニメ 昭和元禄落語心中(2016・1期) 全13話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、家中宏、牛山茂、山口勝平、加瀬康之、遊佐浩二 らが出演しています

  https://tver.jp/episodes/ep5y06jiap
</p>

<p class="yt">
  UFOロボ グレンダイザー 第16話「こころにひびく愛の鐘」｜2026/5/30配信｜東映アニメーションミュージアムチャンネル｜25:47
※ 6/13 17:59まで？土曜18時配信中！各話２週間期間限定

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/UNtH1q2dsF8
</p>

<p class="tver">
  バラエティ 突然ですが占ってもいいですか？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 瀧本美織は貪欲な狼＆佐津川愛美…涙の転機

  沢村一樹、水野美紀、池田美優、大串ノリコ、瀧本美織、佐津川愛美 らが出演しています

  https://tver.jp/episodes/epwe2d29or
</p>

<p class="tver">
  アニメ ゴーストコンサート : missing Songs(2026) 9話の配信がTVerで始まりました。
  6/8 10:00まで

  藤寺美徳、小鹿なお、櫻井みゆき、安雪璃、佐藤聡美、日野聡、入野自由、陶山恵実里、日高里菜、寿美菜子 らが出演しています

  https://tver.jp/episodes/eprvnb9uht
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 18話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一、愛河里花子、鈴村健一、玉川砂記子、小林由美子、山口勝平、大塚みずえ、飯田友子、長嶝高士、中村精道、伊東健人 らが出演しています

  https://tver.jp/episodes/eplyt2mu1l
</p>

<p class="tver">
  アニメ 灰原くんの強くて青春ニューゲーム(2026) 9話の配信がTVerで始まりました。
  6/8 2:29まで

  上村祐翔、高尾奏音、中村カンナ、山根綺、鈴代紗弓、鈴木崚汰、大野智敬、愛美 らが出演しています

  https://tver.jp/episodes/ep70w24fpc
</p>

<p class="tver">
  アニメ 魔物喰らいの冒険者～俺だけ魔物を喰らって強くなる～(2026) 9話の配信がTVerで始まりました。
  6/8 1:15まで
  ※ 13分のアニメです

  古川慎、中島由貴 らが出演しています

  https://tver.jp/episodes/ep3ghe5506
</p>

<p class="tver">
  アニメ 前橋ウィッチーズ(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  春日さくら、咲川ひなの、本村玲奈、三波春香、百瀬帆南、杉田智和 らが出演しています

  https://tver.jp/episodes/ep6xnxnv3m
</p>
