---
title: 2026/7/9 のピックアップ
date: 2026-07-09
tags:
  - TVer
  - Youtube
category: vidpick
---




<p class="tver">
  ドラマ Room Of King(2008) 3話の配信がTVerで始まりました。
  終了日未記載

  水嶋ヒロ、鈴木杏、井川遥、板尾創路、斉木しげる、我修院達也、石野真子、深沢敦、平山浩行、大倉孝二、ミッキー・カーチス、渡部篤郎 らが出演しています

  https://tver.jp/episodes/epfkzhw2iq
</p>

<p class="tver">
  ドラマ 氷の世界(1999) 4話の配信がTVerで始まりました。
  7/16 23:59まで

  竹野内豊、松嶋菜々子、内田有紀、金子賢、仲村トオル、及川光博、中嶋朋子 らが出演しています

  https://tver.jp/episodes/ep1qiekmj1
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 26話の配信がTVerで始まりました。
  終了日未記載

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epvz0frf8c
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/epmtodiq0b
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。
  7/16 19:59まで

  ※ 味覚を自由自在に操り健康食を実現！？宮下芳明（明治大学 総合数理学部 先端メディアサイエンス学科 教授）

  加藤浩次、古旗笑佳、若杉亨 らが出演しています

  https://tver.jp/episodes/epd2cr90pq
</p>

<p class="tver">
  ドキュメンタリー テッパン朝ライブ じゅーっと！(2026) の配信がTVerで始まりました。
  7/16 17:59まで

  ※ 【直撃】唐沢寿明が語る“人を励ます”極意(3分)、藤岡アナがインタビュー🔥　草彅剛　稲垣吾郎　香取慎吾(7分)

  唐沢寿明：https://tver.jp/episodes/ep1i884tu1
  稲垣草薙香取：https://tver.jp/episodes/epxc5n6phz

  唐沢寿明、草彅剛、稲垣吾郎、香取慎吾 らが出演しています
</p>

<p class="tver">
  バラエティ U字工事の旅！発見(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 北海道・富良野～五郎の石の家～

  U字工事(福田薫、益子卓郎) らが出演しています

  https://tver.jp/episodes/ep2qbm43ji
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 3回の配信がTVerで始まりました。
  終了日未記載

  ※ メタルを扱い伝統工芸からハイテクへ

  磯田道史、佐藤彩加 らが出演しています

  https://tver.jp/episodes/epee2u6a21
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。
  7/16 18:59まで

  ※ 人体ミステリー!健康体なのになぜ失神!?▼税関VS令和ギャル密輸団

  内村光良、サンドウィッチマン、EXIT、佐藤勝利(timelesz)、タイムマシーン3号、原菜乃華、生見愛瑠、オカリナ(おかずクラブ)、木村昴、高田夏帆、高橋ユウ、田中美久 他

  https://tver.jp/episodes/ep3k70img8
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 山﨑賢人ゴチ参戦!仲良し佐野とスリッパ卓球王者に挑戦!衝撃王様ゲーム

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、山崎賢人、羽鳥慎一 らが出演しています

  https://tver.jp/episodes/epzfc81s9m
</p>

<p class="tver">
  バラエティ ナゼそこ？＋(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 全国ニュースの事故…9人大家族移住（秘）衝撃理由＆92歳仙人3時間半SP

  ユースケ・サンタマリア、加藤綾子、名倉潤(ネプチューン)、鈴鹿央士、与田祐希 らが出演しています

  https://tver.jp/episodes/ep4epbmq0i
</p>

<p class="tver">
  バラエティ ナゾトレMAXXX(2026) の配信がTVerで始まりました。
  7/16 21:00まで

  ※ 昭和vs令和 世代間ギャップ爆裂バトルSP

  くりぃむしちゅー(有田哲平、上田晋也)、タカアンドトシ、柳原可奈子、阿部亮平(Snow Man)、内田有紀、高地優吾(SixTONES)、七五三掛龍也(Travis Japan) らが出演しています

  https://tver.jp/episodes/eprhe8f6kl
</p>

<p class="tver">
  バラエティ 秘密のケンミンSHOW極(2026) の配信がTVerで始まりました。
  7/16 20:53まで

  ※ 2時間SP【山形VS新潟ラーメン頂上決戦！】

  久本雅美、田中裕二、爆笑問題、遠藤彩加里、Juice=Juice、渡辺えり、白鳥久美子(たんぽぽ)、高橋克実、山本浩司(タイムマシーン3号)、高田真希、堀田真由、ミキ、ケンドーコバヤシ、西川きよし、段原瑠々、林田洋平(ザ・マミィ)、与那嶺瑠唯 らが出演しています

  https://tver.jp/episodes/ep87bozxeh
</p>

<p class="tver">
  ドラマ ラストノート(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、中島亜梨沙、淵上泰史、嶋崎斗亜 らが出演しています

  https://tver.jp/episodes/ep7kzalm7v
</p>

<p class="tver">
  ドラマ 恋仲(2015) 5話の配信がTVerで始まりました。
  7/16 終了時間未記載まで

  福士蒼汰、本田翼、野村周平、仲野太賀、大原櫻子、大友花恋、市川由衣、山本美月、馬場園梓、前野朋哉、永井大、吉田羊、小林薫 らが出演しています

  https://tver.jp/episodes/epv4ivapz7
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/epa7x5tn0o
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/epnfoepumu
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 17話の配信がTVerで始まりました。
  7/16 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epx7zqvz99
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 24話の配信がTVerで始まりました。
  7/16 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epn379x62x
</p>
