---
title: 2026/9/21 のピックアップ
date: 2026-09-21
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epyeq0m0k6
</p>

<p class="tver">
  ドラマ 熱愛プリンス(2025) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  原因は自分にある。(杢代和人、大倉空人、小泉光咲)、松井奏(IMP.)、林芽亜里、大東立樹、芳賀柊斗、増子敦貴 らが出演しています

  https://tver.jp/episodes/epo6njimr5
</p>

<p class="tver">
  ドラマ 凛子さんはシてみたい(2021) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  高田夏帆、戸塚祥太(A.B.C-Z)、筧美和子、飯島寛騎、ゆん、猪塚健太 らが出演しています

  https://tver.jp/episodes/epltfg9lws
</p>

<p class="tver">
  ドラマ 西荻窪 三ツ星洋酒堂(2021) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  町田啓太、藤原季節、森崎ウィン、大友花恋、松岡広大、村川絵梨、近藤芳正、小久保寿人、梶裕貴、前原滉、堀田茜、中山美穂 らが出演しています

  https://tver.jp/episodes/epf0ilhro8
</p>

<p class="tver">
  ドラマ 生き残った６人によると(2022) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  桜田ひより、佐野玲於、中村ゆりか、倉悠貴、高石あかり、八木アリサ、田中光輔、佐々木舞香、大貫勇輔、髙石あかり らが出演しています

  https://tver.jp/episodes/ep7blreimi
</p>

<p class="tver">
  ドラマ 結婚予定日(2023) 1～2話の配信がTVerで始まりました。 24分
  終了日未記載

  松田元太(Travis Japan)、大原櫻子、柾木玲弥、大原優乃、小島梨里杏、宮澤美保、野崎智子、佐藤友祐、古屋呂敏 らが出演しています

  https://tver.jp/episodes/ep61krfctp
</p>

<p class="tver">
  ドラマ 初情事まであと１時間(2023) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  ※ このドラマは話数表記がありません。出演者で判断。2話は、萩原利久、木竜麻生

  工藤阿須加、臼田あさ美 らが出演しています

  https://tver.jp/episodes/ep5pe8b5bq
</p>

<p class="tver">
  ドラマ 文学処女(2018) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  森川葵、城田優、中尾暢樹、上遠野太洸、古賀哉子、田辺桃子、綱啓永、池上紗理依、泉里香、河原雅彦 らが出演しています

  https://tver.jp/episodes/ep35xr9xc4
</p>

<p class="tver">
  ドラマ シェアキス(2026) 1話の配信がTVerで始まりました。 7分
  終了日未記載

  冴木柚葉、島津見、植村颯太、荒立竜次、郡司芹香、清井咲希 らが出演しています

  https://tver.jp/episodes/epov4cjh7a
</p>

<p class="tver">
  アニメ 真・侍伝 YAIBA(2026) 12話の配信がTVerで始まりました。 24分
  終了日未記載

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 らが出演しています

  https://tver.jp/episodes/epy5hg1wyb
</p>

<p class="tver">
  ドキュメンタリー たべるししゃべるし / 長谷川あかり＆鎮西寿々歌（FRUITS ZIPPER）(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 「ごはんが本当に数日なんでもいいってなっちゃったの。人生で今まで生きてきてなくて。それこそあかりちゃんと会ってなかった3ヶ月で初めてなんかねメンバーの動画を見ながら心癒されて泣いた」なごはん

  鎮西寿々歌(FRUITS ZIPPER)、長谷川あかり らが出演しています

  https://tver.jp/episodes/epiqx8vdyl
</p>

<p class="tver">
  バラエティ 爆踊！アバンギャルディ 昭和歌謡の宴(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 今回は、日本のシティポップの源流を作った大滝詠一SP！シティポップの女王・土岐麻子との超豪華コラボも！

  アバンギャルディ、akane、土岐麻子、藤崎健一郎 らが出演しています

  https://tver.jp/episodes/epaqgfgwtj
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ イグ・ノーベル賞！実は役に立つオモシロ研究8連発

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、古澤輝由、カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/epjoerddts
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/epwxegwg54
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 12話の配信がTVerで始まりました。 40分
  9/28 23:54まで

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、永井花奈、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epp49nrjsq
</p>

<p class="tver">
  ドラマ 着飾る恋には理由があって(2021) 7話の配信がTVerで始まりました。 48分
  10/1 23:59まで

  川口春奈、横浜流星、丸山隆平(SUPER EIGHT)、中村アン、飯尾和樹(ずん)、山下美月、高橋文哉、加治将樹、山本千尋、植木祥平、生瀬勝久、工藤夕貴、向井理、夏川結衣 らが出演しています

  https://tver.jp/episodes/epq1po66q4
</p>

<p class="tver">
  ドラマ 水曜日の情事～a Wednesday love affair(2001) 7話の配信がTVerで始まりました。 47分
  9/28 23:59まで

  本木雅弘、天海祐希、原田泰造(ネプチューン)、谷原章介、伊東美咲、眞鍋かをり、水橋研二、北村一輝、木村多江、春海四方、筒井巧、田山涼成、田村亮、石田ひかり らが出演しています

  https://tver.jp/episodes/eplcmtcf73
</p>

<p class="tver">
  ドラマ 振り返れば奴がいる(1993) 8話の配信がTVerで始まりました。 47分
  9/28 23:59まで

  織田裕二、石黒賢、松下由樹、西村まさ彦、佐藤B作、鹿賀丈史、千堂あきほ らが出演しています

  https://tver.jp/episodes/eplbm6l3b2
</p>

<p class="tver">
  ドラマ きみが心に棲みついた(2018) 7話の配信がTVerで始まりました。 45分
  10/1 23:59まで

  吉岡里帆、桐谷健太、石橋杏奈、中村アン、長谷川朝晴、田中真琴、中島ひろ子、山岸門人、周本絵梨香、西村元貴、岡江久美子、ムロツヨシ、鈴木紗理奈、瀬戸朝香、向井理 らが出演しています

  https://tver.jp/episodes/epl999rb8i
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 28話の配信がTVerで始まりました。 25分
  10/1 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、レッド吉田(TIM)、岡田義徳、東亜優、荒井健太郎、高橋一生、中村泰三、宍戸美和公、青木和代、三鴨絵里子、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/epkenjm26j
</p>

<p class="tver">
  ドラマ 4分間のマリーゴールド(2019) 7話の配信がTVerで始まりました。 46分
  10/1 23:59まで

  福士蒼汰、菜々緒、横浜流星、西村元貴、伊藤あさひ、関水渚、鈴木ゆうか、山城琉飛、中田華月、麻生祐未、村上新悟、磯山さやか、三浦誠己、西尾まり、橋本じゅん、桐谷健太 らが出演しています

  https://tver.jp/episodes/epgyngefmm
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 7話の配信がTVerで始まりました。 52分
  10/1 23:59まで

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、浜田学、河井青葉、六角慎司、諏訪雅、山岸門人、竹井亮介、高野ゆらこ、國村隼、モーリー・ロバートソン、パックン(パックンマックン)、近藤くみこ(ニッチェ)、ナタリー・エモンズ、小野武彦、杉本哲太、風間杜夫、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/epf25t6m88
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2017) 1～3話の配信がTVerで始まりました。 60分
  終了日未記載

  米倉涼子、岸部一徳、草刈正雄、永山絢斗、内田有紀、遠藤憲一、鈴木浩介、田中圭、野村周平、是永瞳、久住小春、陣内孝則、段田安則、大地真央、西田敏行、松澤一之 らが出演しています

  https://tver.jp/episodes/epesr6vo2f
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2012) 1～3話の配信がTVerで始まりました。 59分
  終了日未記載

  米倉涼子、田中圭、内田有紀、勝村政信、鈴木浩介、紫吹淳、林丹丹、山本美月、岸部一徳、室井滋、段田安則、伊東四朗 らが出演しています

  https://tver.jp/episodes/ep6e0bbtuh
</p>

<p class="tver">
  ドラマ 救命病棟24時(1999・1期) 10話の配信がTVerで始まりました。 47分
  9/28 23:59まで

  江口洋介、松嶋菜々子、須藤理彩、沢村一樹、杉本哲太、金田明夫、八嶋智人、大島蓉子、山中聡、高橋かおり、高田美佐 らが出演しています

  https://tver.jp/episodes/ep0mplmtq2
</p>

<p class="tver">
  アニメ 盗掘王(2026) 11話の配信がTVerで始まりました。 24分
  9/29 1:24まで

  細谷佳正、早見沙織、入野自由、諏訪部順一、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epedp623q8
</p>

<p class="yt">
  TVアニメ「魔法のプリンセスミンキーモモ 夢を抱きしめて」14～26話｜2026/9/21配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜5:20:14
  ※ 9/28(月) 19:59まで

  林原めぐみ：ミンキーモモ
  桜井　敏治：クックブック
  横山　智佐：ルピピ
  真柴　摩利：チャーモ
  江原　正士：パパ
  渡辺　美佐：ママ
  緒方　賢一：王様
  横尾　まり：王妃様
  石田　彰：ジョー
  小山　茉美：モモ（初代）

  https://youtu.be/lD6nj0KaEHU
</p>

<p class="yt">
  アニメ「FAIRY TAIL (新シーズン)」第211～221話｜2026/9/12配信｜アニメタイムズ公式｜4:28:47
  ※ 10/14(水) 10:29まで▼掲載忘れ分(忘れていたのは管理人ですが、主にYoutubeの検索がヘボいのが原因です)

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/ItaUCDh5qsU
</p>

<p class="yt">
  平山真衣の見習いミステリー講座｜2026/9/21配信｜田中美空のミステリー講座｜18:41
  ※ デジャブの正体▼「メンバーシップ限定」動画

  平山真衣(見習いミステラー・NMB)、リアクター・NMB48(田中美空、三鴨くるみ) らが出演しています

  https://youtu.be/ielLJdQY7KY
</p>

<p class="tver">
  ドキュメンタリー 村上信五の呉大和旅２ 水谷豊もやってきた！(2026) の配信がTVerで始まりました。 32分
  終了日未記載

  ※ 村上信五、再び呉へ。そして今回は、呉にルーツがあるという[水谷豊]も緊急参戦！

  村上信五(SUPER EIGHT)、水谷豊 らが出演しています

  https://tver.jp/episodes/ep5mvm1sl8
</p>

<p class="tver">
  アニメ ぬらりひょんの孫 ～千年魔京～(2011・2期) 13～24(最終+総集編)話の配信がTVerで始まりました。 24分
  9/28 23:59まで

  福山潤、平野綾、堀江由衣、安元洋貴、鳥海浩輔、櫻井孝宏、杉田智和、中田譲治、吉野裕行、保志総一朗、間島淳司、矢部雅史、前田愛、谷山紀章、阿澄佳奈、平田真菜、柿原徹也、辻親八、新井里美、かかずゆみ、水野理紗、松山鷹志、大塚周夫、能登麻美子 らが出演しています

  https://tver.jp/episodes/ep3ogn2erk
</p>

<p class="tver">
  バラエティ EIGHT-JAM(2026) の配信がTVerで始まりました。 46分
  9/28 0:10まで

  ※ プロが選ぶ夏の終わりソング！あいみょん、森山直太朗、緑黄色社会…名曲が続々

  SUPEREIGHT、古田新太、大石昌良、なち、サバシスター、ヤマモトショウ、山崎弘也(アンタッチャブル)、朝日奈央 らが出演しています

  https://tver.jp/episodes/eppn884ddn
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。 99分
  9/28 19:00まで

  ※ 織田裕二が初参戦！踊るレジェンドVS新世代

  林修、村瀬哲史、織田裕二、真矢ミキ、寺島進、甲本雅裕、ネプチューン(名倉潤、原田泰造、堀内健)、白洲迅、増田貴久(NEWS)、玉井詩織(ももいろクローバーZ)、齊藤なぎさ、伊藤利尋 らが出演しています

  https://tver.jp/episodes/ep308vlafx
</p>

<p class="tver">
  バラエティ 第46回全国高等学校クイズ選手権 高校生クイズ2026(2026) の配信がTVerで始まりました。 85分
  9/28 18:59まで

  ※ [高校生クイズ2026] 1回戦/2回戦/3回戦/敗者復活戦★準決勝/決勝1st/決勝2nd

  前編：https://tver.jp/episodes/epmulnjapy
  後編：https://tver.jp/episodes/ep849o8sqk

  SixTONES、チョコレートプラネット、佐藤栞里、石川みなみ、羽鳥慎一、藤本美貴 らが出演しています
</p>

<p class="tver">
  バラエティ 第46回全国高等学校クイズ選手権 高校生クイズ2026(2026) の配信がTVerで始まりました。 40分
  9/28 15:49まで

  ※ 全国強豪40校から本戦への16校をかけてクイズバトル

  SixTONES、チョコレートプラネット、佐藤栞里、石川みなみ らが出演しています

  https://tver.jp/episodes/ep83ayy9j3
</p>

<p class="tver">
  バラエティ 世界！ニッポン行きたい人応援団(2026) の配信がTVerで始まりました。 108分
  終了日未記載

  ※ 海を越えた銭湯愛！アメリカ人マニアが大感動のニッポン極楽湯めぐりSP

  織田信成、眞鍋かをり、高橋茂雄(サバンナ)、新川優愛、増田明美、大塚芳忠 らが出演しています

  https://tver.jp/episodes/epfb8a0o11
</p>

<p class="tver">
  ドラマ GTO(2026) 10話の配信がTVerで始まりました。 46分
  9/28 22:00まで

  反町隆史、生見愛瑠、工藤阿須加、高橋メアリージュン、市川知宏、夙川アトム、稲垣来泉、及川桃利、大島美優、梶原叶渚、川口和空、北里琉、柴崎楓雅、難波碧空(LILLEAGUE)、西浦心乃助(The Right Light)、堀口真帆、森本陸斗、山崎裕太、近藤芳正、宇梶剛士 らが出演しています

  https://tver.jp/episodes/epf92mi4ng
</p>

<p class="tver">
  ドラマ ブラックトリック～裁きを操る弁護人～(2026) 10話の配信がTVerで始まりました。 47分
  9/28 21:00まで

  GACKT、田口浩正、徳重聡、北村一輝、山口翔行、志田未来、神尾楓珠、戸塚純貴、竹財輝之助、三浦真椰、春本ヒロ、林泰文、映美くらら らが出演しています

  https://tver.jp/episodes/eplyp1g93d
</p>

<p class="tver">
  ドラマ 青春シンデレラ(2022) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  久間田琳加、本田響矢、水谷果穂、箭内夢菜、若林時英、島村龍乃介、岬あかり、山本博(ロバート) らが出演しています

  https://tver.jp/episodes/ep5knaadqw
</p>

<p class="tver">
  ドラマ 僕らのミクロな終末(2023) 4話の配信がTVerで始まりました。 24分
  終了日未記載

  瀬戸利樹、中田圭祐、富本惣昭、井手上漠、大朏岳優、前田瑞貴、西村美柚、遊井亮子、飯田基祐 らが出演しています

  https://tver.jp/episodes/epppw9rvz5
</p>

<p class="tver">
  ドラマ ３Bの恋人(2021) 5話の配信がTVerで始まりました。 24分
  終了日未記載

  馬場ふみか、神谷健太、HIROSHI(FIVE NEW OLD)、桜田通、八木アリサ、金子みひろ、井上苑子 らが出演しています

  https://tver.jp/episodes/eped26gzwn
</p>

<p class="tver">
  ドラマ 366日(2024) 11(最終)話の配信がTVerで始まりました。 46分
  9/28 終了時間未記載まで

  広瀬アリス、眞栄田郷敦、坂東龍汰、長濱ねる、綱啓永、岐洲匠、赤ペン瀧川、高田里穂、佐藤景瑚(JO1)、丈太郎、宮崎莉里沙、堀口紗奈、横内亜弓、岩瀬亮、越村公一、谷口翔太、生田俊平、柳谷参助、小野田せっかく、和久井映見、夏子 らが出演しています

  https://tver.jp/episodes/epdlexu7a6
</p>

<p class="tver">
  ドラマ この男は人生最大の過ちです(2020) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  速水もこみち、松井愛莉、田中道子、入江甚儀、片山萌美、笠松将、平岡祐太 らが出演しています

  https://tver.jp/episodes/ep5shgaqc7
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 11話の配信がTVerで始まりました。 24分
  9/28 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epdgucbmzx
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 8～10話の配信がTVerで始まりました。 24分
  9/27 18:00まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/eplbg9tq47
</p>

<p class="tver">
  バラエティ 夏のフィナーレ 鳥羽絶景リゾート旅(2026) の配信がTVerで始まりました。 34分
  終了日未記載

  ※ 今年W結婚を果たした元SKE48の仲良しコンビ、山内鈴蘭と松井珠理奈が三重県鳥羽市で絶景リゾート旅へ！

  山内鈴蘭、松井珠理奈 らが出演しています

  https://tver.jp/episodes/ep47w6ai6r
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。 53分
  9/28 15:00まで

  ※ 俳優、フラワーデザイナー、そして革職人へ。広島県の山奥の一軒家で“自分らしい生き方”を見つけた男性の新たな暮らしとは――。

  所ジョージ、林修、風間トオル、櫻井淳子 らが出演しています

  https://tver.jp/episodes/ephiedn9wu
</p>

<p class="tver">
  バラエティ 二軒目どうする？～ツマミのハナシ～(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 【傑作選】元Dream5 大原優乃と大塚で乾杯！

  松岡昌宏、博多大吉(博多華丸・大吉)、大原優乃 らが出演しています

  https://tver.jp/episodes/epdwvt032a
</p>

<p class="tver">
  ドラマ 晩酌の流儀４ ～秋冬編～(2025) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、森田甘路、前田航基 らが出演しています

  https://tver.jp/episodes/ep3xacm2vd
</p>

<p class="tver">
  ドラマ 晩酌の流儀４ ～夏編～(2025) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、新納慎也 らが出演しています

  https://tver.jp/episodes/eptehhs43y
</p>

<p class="tver">
  ドラマ 五十嵐夫妻は偽装他人(2025) 1～4話の配信がTVerで始まりました。 26分
  終了日未記載

  新川優愛、塩野瑛久、兵頭功海、田辺桃子、水橋研二、浜中文一、平塚日菜、川久保三子、福澤重文 らが出演しています

  https://tver.jp/episodes/epi24hmho1
</p>

<p class="tver">
  ドラマ ただ離婚してないだけ(2021) 5～8話の配信がTVerで始まりました。 33分
  終了日未記載

  北山宏光、中村ゆり、萩原みのり、深水元基、北川拓実、大原優乃、山口祥行、西川可奈子、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep4ma4tiah
</p>

<p class="tver">
  ドラマ 汝の名(2022) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  山崎紘菜、北乃きい、NAOTO(EXILE)、眞島秀和、京典和玖、長井短、植木祥平 らが出演しています

  https://tver.jp/episodes/epysxu5ovb
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 95話の配信がTVerで始まりました。 24分
  9/28 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epkltswk98
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 24(最終)話の配信がTVerで始まりました。 24分
  9/28 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep1fn2uy0s
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 34話の配信がTVerで始まりました。 24分
  9/28 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/ep5kwaazwq
</p>

<p class="yt">
  Huluオリジナル「THE SWARM/ザ・スウォーム」(2023)第1話無料公開｜2026/9/19配信｜Hulu Japan公式｜44:51
  ※ 12/18(金) 0:00まで。時間の期限が未記載のため当日ジャストで設定しました。▼バンクーバー島沖で「クジラの死骸」が発見され、その不可解な死因を調査する海洋学者や研究者たちは、[海で発生している異変]に直面します。環境の変化と海洋生物の異常行動が重なる中、彼らは未知の脅威の正体を突き止めるべく奔走します。▼世界規模で巻き起こる深海の恐怖を描いた本格SFサスペンス。★木村拓哉も出演しています

  斎藤　恵理｜セシル・ローシュ博士：セシル・ドゥ・フランス
  上田　燿司｜シグル・ヨハンソン教授：アレクサンダー・カリム
  森　なな子｜チャーリー・ワグナー：レオニー・ベネシュ
  岩中　睦樹｜レオン・アナワク：ジョシュア・オジック
  唐沢　潤　｜カタリーナ・レーマン教授：バルバラ・スコヴァ
  本田　貴子｜ティナ・ルン：クリスタ・コソネン
  　Ｌｙｎｎ｜アリシア・デラウェア：ロザベル・ラウレンティ・セラーズ
  　藤　貴子｜サマンサ・クロウ：シャロン・ダンカン＝ブルースター
  杉村　憲司｜ラヒム・アミール：エイディン・ジャラリ
  高瀬　右光｜ジャスパー・アルバン：オリヴァー・マスッチ
  江頭　宏哉｜ルーサー・ロスコヴィッツ：クラース・ハウファー＝ウムラウフ
  木村　拓哉｜アイト・ミフネ：木村拓哉
  遠藤　大智｜リク・サトウ：平岳大
  永吉　ユカ｜ソフィア・グラネリ：フランツィスカ・ワイズ
  田村　聖子｜ラウラ：マルレーン・ショルテン
  志村　知幸｜ジャック・オバノン：ダッチ・ジョンソン
  大津　愛理｜リジー・ストリンガー：エリザベス・キニア
  加瀬　康之｜ダグラス・マッキノン：ジャック・グリーンリース
  　　れいみ｜ジェス：アンドレア・グオ
  島形麻衣奈｜イザベル・ロッシュ：アルバ・ガイア・ベルージ
  後藤ヒロキ｜マイケル・ロッシュ：ジェラルド・キッド
  　　れいみ｜ルイ・ロッシュ：ヴィットリオ・フィオリーニ
  渡辺ゆかり｜ナタリア・オリヴィエラ：クラウディア・ユルト
  坂井　恭子｜サラ・トンプソン：リディア・ウィルソン
  武田　太一｜キット：ウェイン・チャールズ・ベイカー

  https://youtu.be/ixHsQKULduM
</p>

<p class="yt">
  酒飲みと一滴も飲まないパートナーとの共存方法｜2026/9/21配信｜加藤小夏が水を飲む〜THE DAY ROOM〜｜27:47

  加藤小夏、金原ひとみ らが出演しています

  https://youtu.be/GSEuAoi8nEk
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 8話の配信がTVerで始まりました。 44分
  10/5 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、MEGUMI らが出演しています

  https://tver.jp/episodes/eps3maajoq
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 10話の配信がTVerで始まりました。 30分
  9/28 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、浜丘麻矢、内倉憲二、佐々木征史、内山翔人、森渉、保里佐和、佐々木亮 らが出演しています

  https://tver.jp/episodes/ephceysrxy
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 9話の配信がTVerで始まりました。 43分
  9/28 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、ちすん、徳永えり、矢田亜希子、桜田通、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/ep7qpbmc4v
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 9話の配信がTVerで始まりました。 42分
  9/28 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/ep7enesd3l
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 8話の配信がTVerで始まりました。 43分
  10/5 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、井上肇、永岡佑、川床明日香、奥野壮、小林虎之介、岡部たかし、杉本哲太、森優作 らが出演しています

  https://tver.jp/episodes/ep50n6hbly
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 8(最終)話の配信がTVerで始まりました。 60分
  9/27 23:59まで

  松本潤、小芝風花、新田真剣佑、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、カラテカ、松井遥南、永野宗典、羽谷勝太、カトウシンスケ、新井美羽、六平直政、杉田雷麟、仲里依紗、ファーストサマーウイカ、藤井隆、津田寛治、池田成志、吉田鋼太郎、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epxri6n3n1
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 11(最終)話の配信がTVerで始まりました。 45分
  9/27 23:59まで

  ※ 10話も同日配信ですが終了時間が異なります

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、FUJIWARA(原西孝幸、藤本敏史)、丘みつ子、笛木優子、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epvdik0bje
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 10話の配信がTVerで始まりました。 45分
  9/27 11:59まで

  ※ 11(最終)話も同日配信ですが終了時間が異なります

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、森口瑤子、加藤虎ノ介、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epw3yfd8an
</p>

<p class="tver">
  ドラマ まっしろ(2015) 10(最終)話の配信がTVerで始まりました。 47分
  9/27 23:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、井上真樹夫、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/eptahk2ikv
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 10(最終)話の配信がTVerで始まりました。 58分
  9/27 23:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、清水ミチコ、山岸門人、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epp5zs0037
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 12(最終)話の配信がTVerで始まりました。 47分
  9/27 23:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、塩見三省、伊佐山ひろ子、西田健、村松克己、大塚良重、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epkzbyom0a
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 12(最終)話の配信がTVerで始まりました。 74分
  9/27 23:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、梶原善、天野慶久、鈴木亮平、篠田三郎、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epiaxy88s6
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 1話の配信がTVerで始まりました。 6分
  終了日未記載

  ※ ドラマ「サ道」チームが手掛ける特別番組「おつとめさん」（ナレーション：三宅弘城）▽心も身体も解き放たれる場所・サウナで、企業で働く社員が仕事への思いを語ります。

  三宅弘城 らが出演しています

  https://tver.jp/episodes/epi2aetfcp
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 5話の配信がTVerで始まりました。 47分
  9/28 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、映美くらら、赤間麻里子、谷川昭一朗、桜井聖、豆原一成(JO1)、片岡凜、若林時英、棚橋ナッツ、金子昇、中嶋朋子、尾美としのり、國村隼、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epe4o23pyh
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 11(最終)話の配信がTVerで始まりました。 58分
  9/27 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、内田理央、乙葉、六角慎司、原田裕章、宮下雄也、浜田道彦、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epays8unjz
</p>

<p class="tver">
  ドラマ 100万回 言えばよかった(2023) 3話の配信がTVerで始まりました。 46分
  11/21 23:59まで

  井上真央、佐藤健、シム・ウンギョン、板倉俊之(インパルス)、少路勇介、相島一之、長野里美、長谷川初範、坂元愛登、安斉星来、桜一花、中脇樹人、長友郁真、長島竜也、香里奈、荒川良々、松山ケンイチ らが出演しています

  https://tver.jp/episodes/ep8cpcygyy
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 10(最終)話の配信がTVerで始まりました。 68分
  9/27 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、田中みな実、大黒摩季、辻萬長、堀越麗禾、誠直也、蘭寿とむ、井上肇、三石琴乃、大和田伸也、石坂浩二、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/ep0wg575b0
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 3話の配信がTVerで始まりました。 17分
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、橋本将生(timelesz) らが出演しています

  https://tver.jp/episodes/epaxucxs5r
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 21話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epa3pgizen
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 94話の配信がTVerで始まりました。 24分
  9/28 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epy77ccaoz
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 44話の配信がTVerで始まりました。 24分
  9/28 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/eppuk26ytav
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 14話の配信がTVerで始まりました。 25分
  9/28 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epemuoqu6b
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 9話の配信がTVerで始まりました。 24分
  9/28 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep2qobxrae
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 8話の配信がTVerで始まりました。 23分
  終了日未記載

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/eplobs5w79
</p>
