---
title: 2026/10/09 のピックアップ
date: 2026-10-09
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  岡田紗佳の指導を受けついに麻雀デビュー戦で驚異のビギナーズラック発動!?｜2026/10/9配信｜AKRacing JP｜37:35
  ※ ”最強コーチ”岡田紗佳さんに指導・サポートを受け、さや姉が初めて対局に臨みます！ビギナーズラックを巻き起こす。南入まで。

  岡田紗佳、山本彩、陣内智則、たかし(トレンディエンジェル)、松下宣夫(デニス) らが出演しています

  https://youtu.be/D7biFU2KmDM
</p>

<p class="tver">
  バラエティ ザキ山小屋(2026) の配信がTVerで始まりました。 17分
  終了日未記載

  ※ 羽田空港をこよなく愛する御一行様

  山崎弘也(アンタッチャブル)、塚地武雅(ドランクドラゴン)、金田朋子、カンニング竹山、三輪めぐみ らが出演しています

  https://tver.jp/episodes/epuf3gj590</p>

<p class="tver">
  バラエティ 三村やす子のバズマンTV(2026) の配信がTVerで始まりました。 24分
  10/17 1:15まで

  ※ 知れば絶対観たくなる！推しマンミーティング 魔法騎士レイアース編【三村＆やす子に魅力を伝えろ！】

  三村マサカズ、さまぁ〜ず、やす子、井上裕介(NON STYLE)、大久保瑠美、真田ナオキ らが出演しています

  https://tver.jp/episodes/ep7vfayfg2
</p>

<p class="tver">
  ドラマ 波うららかに、めおと日和(2025) 2話の配信がTVerで始まりました。 48分
  11/13 終了時間未記載まで

  芳根京子、本田響矢、山本舞香、小関裕太、小宮璃央、咲妃みゆ、小川彩(乃木坂46)、森カンナ、高橋努、紺野まひる、生瀬勝久、和久井映見 らが出演しています

  https://tver.jp/episodes/epmuhver1w
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 2話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、おかやまはじめ、平山祐介、北代高士 らが出演しています

  https://tver.jp/episodes/epaoaz36xk
</p>

<p class="tver">
  ドラマ まめとむぎ(2026) 2話の配信がTVerで始まりました。 31分
  終了日未記載

  齋藤飛鳥、富田望生、濱尾ノリタカ、石川瑠華、山谷花純、橋本淳、長井短、八木アリサ、誠(ヨネダ2000) らが出演しています

  https://tver.jp/episodes/ep3tinyer3
</p>

<p class="yt">
  ㊗️松岡茉優ちゃん降臨してくれたのでダウンタイムのあれやこれやをトーキングしてまゆちゃんからのお言葉を頂戴しますと共に素敵な質問コーナーとかしちゃったから私達ってもうお友達って事で良いですか?w｜2026/10/7配信｜仲里依紗です。｜30:22

  仲里依紗、松岡茉優 らが出演しています

  https://youtu.be/pabqMSV5s64
</p>

<p class="tver">
  その他 柏木由紀の三重においーさ 伊勢参宮街道おかげ旅(2026) の配信がTVerで始まりました。 27分
  終了日未記載

  ※ 御師おすすめの伊勢旅、そして現代の鳥羽旅

  柏木由紀 らが出演しています

  https://tver.jp/episodes/ep2u9c0iyw
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。 23分
  10/16 23:39まで

  ※ 鈴木浩介、はじめてのテニス

  三村マサカズ、青木崇高、鈴木浩介 らが出演しています

  https://tver.jp/episodes/ep4844zgmp
</p>

<p class="tver">
  バラエティ キッチンカー大作戦！(2026) の配信がTVerで始まりました。 24分
  10/17 0:45まで

  ※ 「穴牛まん」販売の行方は？

  ヒロミ、指原莉乃、秋山具義、小寺慶子、はっしー（橋本陽）、STU48(甲斐心愛、吉田彩良) らが出演しています

  https://tver.jp/episodes/epybr0129u
</p>

<p class="tver">
  バラエティ 全力！脱力タイムズ(2026) の配信がTVerで始まりました。 24分
  10/16 23:00まで

  ※ パンサー向井／本田響矢

  有田哲平(くりぃむしちゅー)、佐久間みなみ、出口保行、吉川美代子、五箇公一、本田響矢、向井慧(パンサー)、松崎涼佳 らが出演しています

  https://tver.jp/episodes/epeokvphg6
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。 25分
  10/16 23:09まで

  ※ 中尾明慶 兄に取材！＆妻 仲里依紗からの証言

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、中尾明慶、仲里依紗、三浦大輔 らが出演しています

  https://tver.jp/episodes/ep1d5sbaum
</p>

<p class="tver">
  ドラマ 妹よ(1994) 4話の配信がTVerで始まりました。 47分
  10/16 23:59まで

  和久井映見、唐沢寿明、岸谷五朗、鶴田真由、豊原功補、五十嵐いづみ、森口瑤子、西田尚美、河内桃子 らが出演しています

  https://tver.jp/episodes/epi2stdlns
</p>

<p class="tver">
  ドラマ 救命病棟24時(2001・2期) 4話の配信がTVerで始まりました。 47分
  10/16 23:59まで

  江口洋介、松雪泰子、伊藤英明、須藤理彩、田畑智子、小日向文世、宮迫博之、谷原章介、渡辺いっけい、小木茂光 らが出演しています

  https://tver.jp/episodes/ep666bztr7
</p>

<p class="tver">
  ドラマ OUR HOUSE(2016) 3話の配信がTVerで始まりました。 46分
  終了日未記載

  芦田愛菜、山本耕史、加藤清史郎、寺田心、渡辺舞、犬飼貴丈、塚本高史、松下由樹、橋爪功、シャーロット・ケイト・フォックス、松田芹香 らが出演しています

  https://tver.jp/episodes/ep1t4bht6u
</p>

<p class="tver">
  ドラマ ゆかりくんはギャップがずるい(2026) 6話の配信がTVerで始まりました。 25分
  終了日未記載

  高尾颯斗(ONE N' ONLY)、渡邉美穂、濱岸ひより、米倉れいあ、速瀬愛、坂東希、清水海李、賀屋壮也(かが屋)、別府由来 らが出演しています

  https://tver.jp/episodes/epf3lg9etn
</p>

<p class="tver">
  アニメ 追放されたチート付与魔術師は気ままなセカンドライフを謳歌する。 ～俺は武器だけじゃなく、あらゆるものに『強化ポイント』を付与できるし、俺の意思でいつでも効果を解除できるけど、残った人たち大丈夫？～(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  山下大輝、Lynn らが出演しています

  https://tver.jp/episodes/eptnfju9a7
</p>

<p class="tver">
  アニメ 彼方から(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  黒沢ともよ、熊谷健太郎、梅原裕一郎、竹内栄治、斉藤貴美子、宮澤正、中野泰佑、伊藤美来 らが出演しています

  https://tver.jp/episodes/ep5medw0uj
</p>

<p class="tver">
  アニメ バーテックスフォース(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  小市眞琴、本渡楓、小清水亜美、潘めぐみ、高橋李依、浦和希、水樹奈々 らが出演しています

  https://tver.jp/episodes/epx5kccac0
</p>

<p class="tver">
  アニメ 青春ブタ野郎はサンタクロースの夢を見ない(2025) 全13話の配信がTVerで始まりました。 25分
  10/16 23:59まで

  石川界人、瀬戸麻沙美、雨宮天、山根綺、小原好美、石見舞菜香、上田麗奈、東山奈央、種崎敦美、内田真礼、久保ユリカ、水瀬いのり らが出演しています

  https://tver.jp/episodes/eppk6g1xny
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2026) 50話の配信がTVerで始まりました。 24分
  10/16 23:59まで

  悠木碧、大塚剛央、小西克幸、橘龍丸、豊永利行、内山昂輝、桐本拓哉、小清水亜美、潘めぐみ、七海ひろき、藤原夏海、上田麗奈、島本須美 らが出演しています

  https://tver.jp/episodes/epmws0pdqn
</p>

<p class="tver">
  アニメ ホタルの嫁入り(2026) 1話の配信がTVerで始まりました。 24分
  10/16 23:30まで

  Lynn、内山昂輝、伊東健人、津田健次郎 らが出演しています

  https://tver.jp/episodes/ep0h283uga
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。 26分
  10/16 22:30まで

  ※ 自炊72 ピーマンご飯詰め

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep1u5zbrfm
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。 92分
  10/16 19:55まで

  ※ 志麻さん古民家に[玉木宏&當真あみ]参戦・トトロ風お風呂完成＆ガーリックハンバーグ&パンが進む魔法ソースとは▼[黒木華&野呂佳代]肉巡り

  設楽統(バナナマン)、黒田みゆ、浅香航大、井桁弘恵、カズレーザー(メイプル超合金)、塚地武雅(ドランクドラゴン)、出川哲朗、NAOYA(MAZZEL)、観月ありさ、黒木華、玉木宏、當真あみ、野呂佳代、タサン志麻 らが出演しています

  https://tver.jp/episodes/ep135th5q0
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。 57分
  終了日未記載

  ※ なにわ男子も衝撃！北海道横断550km奇跡の絶景SP▽国民栄誉賞！髙木美帆がサプライズ登場＆世界三大夕日！

  前半：https://tver.jp/episodes/ep3hlftwip
  後半：https://tver.jp/episodes/ep87hece4h

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、なにわ男子(大西流星、藤原丈一郎)、鈴木京香、髙木菜那、髙木美帆、錦鯉、ゆうちゃみ らが出演しています
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。 121分
  終了日未記載

  ※ 金庫から過去最高クラスのお宝が出た！！2時間半SP

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、沢村一樹、的場浩司、佐々木美玲、岡野陽一、酒井貴士(ザ・マミィ)、AKB48(行天優莉奈、太田有紀)、長谷川俊輔、クマムシ、樋口日奈、チャンカワイ(Wエンジン)、槇大輔 らが出演しています

  https://tver.jp/episodes/epnpf72xa9
</p>

<p class="tver">
  アニメ 蒼き伝承 ウェルシュ&シェダー(2026) 2話の配信がTVerで始まりました。 24分
  終了日未記載

  安田陸矢、梶裕貴 らが出演しています

  https://tver.jp/episodes/epx70845w4
</p>

<p class="tver">
  アニメ 目覚めたら最強装備と宇宙船持ちだったので、一戸建て目指して傭兵として自由に生きたい(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  古川慎、稲垣好、永瀬アンナ、白石晴香、植田佳奈、大西沙織 らが出演しています

  https://tver.jp/episodes/epamjhou5q
</p>

<p class="tver">
  アニメ 「アイカツ！」アンコール(2026) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  諸星すみれ、田所あずさ、大橋彩香、寿美菜子、能登麻美子、瀬戸麻沙美、松谷彼哉、保村真 らが出演しています

  https://tver.jp/episodes/epi4pzpbb0
</p>

<p class="tver">
  ドラマSP 柳生一族の陰謀(1978) の配信がTVerで始まりました。 127分
  終了日未記載

  萬屋錦之介、千葉真一、松方弘樹、西郷輝彦、三船敏郎、大原麗子、真田広之、原田芳雄、丹波哲郎 らが出演しています

  https://tver.jp/episodes/epmvun699k
</p>

<p class="yt">
  「幸せカナコの殺し屋生活2」のん×藤ヶ谷太輔 のんびりサファリパークツアー｜2026/10/8配信｜DMM TV ドラマ【公式】｜17:05
  ※ のん×藤ヶ谷太輔が「スマイルエージェンシー」の福利厚生で（？）のんびりサファリツアー！と思ったら…まさかのダジャレ対決⁉撮影の裏話もたっぷりお届け！

  のん、藤ヶ谷太輔 らが出演しています

  https://youtu.be/1OESd5pHrhM
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭のクリーミー味噌ラーメン

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/eprk361v09
</p>

<p class="tver">
  ドラマ Around40～注文の多いオンナたち～(2008) 6話の配信がTVerで始まりました。 47分
  10/15 11:59まで

  天海祐希、藤木直人、大塚寧々、AKIRA(EXILE)、松本若菜、木村遼希、大場久美子、橋爪淳、西村和泉、宍戸美和公、我が家、松尾貴史、丸山智己、神保悟志、筒井道隆、松下由樹 らが出演しています

  https://tver.jp/episodes/epzi36dr5w
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 10(最終)話の配信がTVerで始まりました。 52分
  10/16 21:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、宮崎吐夢、豆原一成(JO1)、西垣匠、栄信、坂田聡、赤間麻里子、谷川昭一朗、前原瑞樹、棚橋ナッツ、中村シユン、池下重大、中嶋朋子、酒向芳、さだまさし、麻生祐未、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epp14w1xus
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 34話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epgt7h6099
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 39話の配信がTVerで始まりました。 24分
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep0d5fcbgg
</p>
