---
title: 2026/9/24 のピックアップ
date: 2026-09-24
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  Huluオリジナル「代償」第1話無料公開｜2026/9/19配信｜Hulu Japan公式｜48:54
  ※ 12/18(金) 0:00まで。時間の期限が未記載なので当日ジャストに設定

小栗旬、高橋努、高梨臨、淵上泰史、柳英里紗、柳俊太郎、堀部圭亮、片岡礼子、平田満、石橋凌 らが出演しています

  https://youtu.be/apmcv86rk54
</p>

<p class="yt">
  他人がやるリズム天国 #01 加藤小夏｜2026/9/25配信｜SILENT HILL f を本人がやります｜2:41:22

  加藤小夏 らが出演しています

  https://youtu.be/0Y-kwexR9KE
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 146回の配信がTVerで始まりました。 23分
  10/2 0:25まで

  ※ 水野美紀ら豪華あっち向いてホイでまさかの涙・・・

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、水野美紀、増田貴久(NEWS)、野呂佳代、植田紫帆(オダウエダ)、大久保佳代子(オアシズ)、酒井啓太、リニア、高橋成美、吉村崇(平成ノブシコブシ)、レインボー、松村未央、渡辺和洋 らが出演しています

  https://tver.jp/episodes/ep7fkjfnnt
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。 47分
  10/2 1:33まで

  ※ 【BKBほっとけない芸人】森田＆屋敷＆橋本…盟友たちが集結!! 主役はいつ出る!?

  蛍原徹、バイク川崎バイク、森田哲矢(さらば青春の光)、屋敷裕政(ニューヨーク)、橋本直(銀シャリ)、水田信二、山添寛(相席スタート)、関町知弘(ライス)、田渕章裕(ちょんまげラーメン)、森下直人(ななまがり)、陣内智則、井桁弘恵 らが出演しています

  https://tver.jp/episodes/ep2htdpptp
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 11話の配信がTVerで始まりました。 24分
  10/2 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/epmaw4cszb
</p>

<p class="tver">
  ドラマ 危険なビーナス(2020) 8話の配信がTVerで始まりました。 47分
  10/4 23:59まで

  妻夫木聡、吉高由里子、ディーン・フジオカ、染谷将太、中村アン、堀田真由、結木滉星、福田麻貴(3時のヒロイン)、R-指定(Creepy Nuts)、麻生祐未、辻萬長、西尾まり、安蘭けい、田口浩正、池内万作、栗原英雄、斉藤由貴、戸田恵子 らが出演しています

  https://tver.jp/episodes/epw4q0nk1q
</p>

<p class="tver">
  ドラマ おいしい離婚届けます(2025) 5話の配信がTVerで始まりました。 23分
  10/1 23:59まで

  前田公輝、水沢林太郎、増田梨沙、村重杏奈、入山法子、竹財輝之助、平原テツ、中島亜梨沙、萬浪大輔 らが出演しています

  https://tver.jp/episodes/epuw3uopmf
</p>

<p class="tver">
  ドラマ 振り返れば奴がいる(1993) 9話の配信がTVerで始まりました。 47分
  10/1 23:59まで

  織田裕二、石黒賢、松下由樹、西村まさ彦、佐藤B作、鹿賀丈史、千堂あきほ、中村あずさ らが出演しています

  https://tver.jp/episodes/epqw229ct7
</p>

<p class="tver">
  ドラマ 獣医ドリトル(2010) 7話の配信がTVerで始まりました。 47分
  10/4 23:59まで

  小栗旬、井上真央、成宮寛貴、藤澤恵麻、笠原秀幸、菅田将暉、阿南健治、早乙女太一、白川由美、國村隼 らが出演しています

  https://tver.jp/episodes/epmh0ty8qk
</p>

<p class="tver">
  ドラマ 初めて恋をした日に読む話(2019) 8話の配信がTVerで始まりました。 56分
  終了日未記載

  ※ 10月4日(日)23:59

  深田恭子、永山絢斗、横浜流星、中村倫也、高橋洋、浜中文一、吉川愛、永田崇人、堀家一希、櫻井圭佑、若林拓也、石丸謙二郎、鶴見辰吾、安達祐実、高梨臨、星野真里、平泉成、皆川猿時、生瀬勝久、檀ふみ らが出演しています

  https://tver.jp/episodes/epi8iogcu0
</p>

<p class="tver">
  ドラマ 救命病棟24時(1999・1期) 11話の配信がTVerで始まりました。 47分
  10/1 23:59まで

  江口洋介、松嶋菜々子、須藤理彩、沢村一樹、杉本哲太、金田明夫、八嶋智人、大島蓉子、高田美佐、北原一咲、大高洋夫 らが出演しています

  https://tver.jp/episodes/epfcpwyeij
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 31話の配信がTVerで始まりました。 25分
  10/4 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、レッド吉田(TIM)、能世あんな、東亜優、荒井健太郎、岡田義徳、高橋一生、鈴木ヒロミツ、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/ep8ypyj4yl
</p>

<p class="tver">
  ドラマ 水曜日の情事～a Wednesday love affair(2001) 8話の配信がTVerで始まりました。 47分
  10/1 23:59まで

  本木雅弘、天海祐希、原田泰造(ネプチューン)、谷原章介、伊東美咲、眞鍋かをり、水橋研二、北村一輝、木村多江、春海四方、筒井巧、田山涼成、田村亮、石田ひかり、金子さやか らが出演しています

  https://tver.jp/episodes/ep2k66puf4
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。 44分
  終了日未記載

  ※ 【打ち上げ成功！】国産ロケットでイーロン・マスクに挑む！JAXA H3プロジェクトチーム 有田誠プロジェクトマネージャ

  加藤浩次、古旗笑佳、若杉亨 らが出演しています

  https://tver.jp/episodes/epp8cvpjdj
</p>

<p class="tver">
  バラエティ タビフクヤマ(2026) の配信がTVerで始まりました。 47分
  終了日未記載

  ※ 福山雅治が青春の地・渋谷で上京後の人生を辿る

  福山雅治、生田絵梨花、リリー・フランキー、満島真之介 らが出演しています

  https://tver.jp/episodes/epz7tk00mv
</p>

<p class="tver">
  バラエティ クイズ！あなたは小学5年生より賢いの？(2026) の配信がTVerで始まりました。 92分
  10/1 18:59まで

  ※ Snow Man阿部&モナキ参戦!賞金1000万は誰の手に!?

  劇団ひとり、佐藤隆太、阿部亮平(Snow Man)、モナキ、ふくらP、東問、東言 らが出演しています

  https://tver.jp/episodes/epomtaceto
</p>

<p class="tver">
  バラエティ 相葉ヒロミのお困りですカー？(2026) の配信がTVerで始まりました。 141分
  10/1 21:54まで

  ※ 【3時間SP】20年開かずの井戸に潜入！珍生物と遭遇

  ヒロミ、相葉雅紀 らが出演しています

  https://tver.jp/episodes/epgs76yci1
</p>

<p class="tver">
  バラエティ ナゾトレMAXXX(2026) の配信がTVerで始まりました。 23分
  終了日未記載

  ※ 昭和vs令和 世代ギャップ爆裂バトルSP

  くりぃむしちゅー(有田哲平、上田晋也)、タカアンドトシ、柳原可奈子、阿部亮平(Snow Man)、KEY TO LIT(猪狩蒼弥、井上瑞稀)、宇梶剛士 らが出演しています

  https://tver.jp/episodes/ep7eckv7zz
</p>

<p class="tver">
  ドラマ ムショぼけ(2021) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  北村有起哉、九条ジョー、コウテイ、武田玲奈、松尾諭、木下ほうか、末成映薫、板尾創路 らが出演しています

  https://tver.jp/episodes/epj62x9ncr
</p>

<p class="tver">
  ドラマ 青春シンデレラ(2022) 9話の配信がTVerで始まりました。 24分
  終了日未記載

  久間田琳加、本田響矢、水谷果穂、箭内夢菜、若林時英、島村龍乃介、岬あかり らが出演しています

  https://tver.jp/episodes/ep7cbpu9y1
</p>

<p class="tver">
  ドラマ アイのない恋人たち(2024) 2話の配信がTVerで始まりました。 46分
  終了日未記載

  福士蒼汰、岡崎紗絵、本郷奏多、成海璃子、前田公輝、深川麻衣、佐々木希 らが出演しています

  https://tver.jp/episodes/ep78qg5qgm
</p>

<p class="tver">
  ドラマ 僕らのミクロな終末(2023) 7話の配信がTVerで始まりました。 24分
  終了日未記載

  瀬戸利樹、中田圭祐、富本惣昭、井手上漠、大朏岳優、前田瑞貴、西村美柚、遊井亮子、飯田基祐 らが出演しています

  https://tver.jp/episodes/epoyb5rmzb
</p>

<p class="tver">
  ドラマ ３Bの恋人(2021) 8話の配信がTVerで始まりました。 24分
  終了日未記載

  馬場ふみか、神谷健太、HIROSHI(FIVE NEW OLD)、桜田通、八木アリサ、金子みひろ、田村健太郎 らが出演しています

  https://tver.jp/episodes/epcd63akm4
</p>

<p class="tver">
  ドラマ この男は人生最大の過ちです(2020) 9話の配信がTVerで始まりました。 24分
  終了日未記載

  速水もこみち、松井愛莉、田中道子、入江甚儀、片山萌美、笠松将、平岡祐太 らが出演しています

  https://tver.jp/episodes/epvim8vdk4
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/epi2b26qgz
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 12(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/epjxtz5sm9
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 17～19話の配信がTVerで始まりました。 24分
  9/30 18:00まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/ep3ld5rzxg
</p>

<p class="tver">
  バラエティ 徹子の部屋(2026) の配信がTVerで始まりました。 24分
  10/1 15:00まで

  ※ 大活躍！故郷 岡山を愛する26歳

  黒柳徹子、鈴鹿央士 らが出演しています

  https://tver.jp/episodes/ep7io9hll3
</p>

<p class="tver">
  ドラマSP 鉄オタ道子、2万キロ〜秩父編〜(2024) の配信がTVerで始まりました。 25分
  終了日未記載

  前編：https://tver.jp/episodes/epcb1rmfd8
  後編：https://tver.jp/episodes/epqmhe19zx

  玉城ティナ、栗原類、六角精児 らが出演しています
</p>

<p class="tver">
  ドラマ 鉄オタ道子、2万キロ(2022) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  玉城ティナ、高橋大翔、園田あいか、黒田大輔、六角精児 らが出演しています

  https://tver.jp/episodes/epajaof87j
</p>

<p class="tver">
  ドラマ 量産型リコ -最後のプラモ女子の人生組み立て記-(2024) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、市川由衣、佐月絵美、矢柴俊博、浅香唯、森下能幸、石田悠佳、田中要次 らが出演しています

  https://tver.jp/episodes/epkfua3lgy
</p>

<p class="tver">
  ドラマ 量産型リコ -もう1人のプラモ女子の人生組み立て記-(2023) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、望月歩、前田旺志郎、市川由衣、矢柴俊博、藤井夏恋、石田悠佳、天川れみ(LINKL PLANET)、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/epmqvyhnon
</p>

<p class="tver">
  ドラマ 量産型リコ -プラモ女子の人生組み立て記-(2022) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、藤井夏恋、望月歩、中島歩、前田旺志郎、石川恵里加、与座よしあき、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/eppql0401w
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 37(最終)話の配信がTVerで始まりました。 24分
  10/1 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epdd6g5qw2
</p>

<p class="yt">
  EIKOがトルネコの大冒険を生配信! #3｜2026/9/24配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜2:23:53

  狩野英孝 らが出演しています

  https://youtu.be/eEyk4tUlm4c
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 9話の配信がTVerで始まりました。 44分
  10/8 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、高月彩良 らが出演しています

  https://tver.jp/episodes/epeb1gygse
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 11話の配信がTVerで始まりました。 30分
  10/1 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、画大 らが出演しています

  https://tver.jp/episodes/ep9g41qfms
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 11話の配信がTVerで始まりました。 30分
  10/8 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博、康喜弼 らが出演しています

  https://tver.jp/episodes/ep6txvjpbo
</p>

<p class="tver">
  ドラマ リセット(2009) 11話の配信がTVerで始まりました。 31分
  10/8 12:00まで

  田中直樹(ココリコ)、岩井堂聖子、森本亮治、宮下ともみ らが出演しています

  https://tver.jp/episodes/ep35p0wzka
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 11話の配信がTVerで始まりました。 43分
  10/8 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、高月彩良、堀田茜、星田英利、須藤理彩 らが出演しています

  https://tver.jp/episodes/ep0ne6t9mr
</p>

<p class="tver">
  ドラマ 野ブタ。をプロデュース(2005) 6～7話の配信がTVerで始まりました。 46分
  10/1 11:59まで

  亀梨和也、山下智久、堀北真希、戸田恵梨香、中島裕翔、岡田義徳、深浦加奈子、木村祐一、不破万作、たくませいこ、宇梶剛士、忌野清志郎、夏木マリ、升毅 らが出演しています

  https://tver.jp/episodes/epvuj52ycl
</p>

<p class="tver">
  ドラマ ボク、運命の人です。(2017) 6～7話の配信がTVerで始まりました。 46分
  10/1 11:59まで

  亀梨和也、木村文乃、満島真之介、菜々緒、澤部佑(ハライチ)、渡辺江里子(阿佐ヶ谷姉妹)、岡野真也、杉本哲太、大倉孝二、石野真子、田辺誠一、山下智久 らが出演しています

  https://tver.jp/episodes/epdrqxo9ha
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 24話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epqwobf8ab
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 47話の配信がTVerで始まりました。 25分
  10/1 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epoi1b2vnlj
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 12(最終)話の配信がTVerで始まりました。 24分
  10/1 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/eph6p7fx9z
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 17話の配信がTVerで始まりました。 25分
  10/1 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/ep3x69ziku
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 5話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/epb7j0mboa
</p>
