---
title: 2026/7/28 のピックアップ
date: 2026-07-28
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  ふしぎな島のフローネ 34～36話｜2026/7/27配信｜日本アニメーション・シアター｜1:16:55
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/f1I9jW7er3g
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/4 12:00まで

  ※ 今回は特別編。東京宝塚劇場宙組公演の魅力を熱く語ります

  中井美穂、風間柚乃、礼華はる、立川らく次 らが出演しています

  https://tver.jp/episodes/ep53v7mh27
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 5話の配信がTVerで始まりました。
  8/3 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、石橋杏奈、森岡龍、坪倉由幸(我が家)、大島さと子、日野陽仁、白井晃、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epvd76jf9c
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 6話の配信がTVerで始まりました。
  8/4 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、フォンチー、猪塚健太、工藤美桜、谷遼、湯川尚樹、菜々緒、鶴見辰吾、橋本さとし、渡辺真起子、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep3y9xgc90
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 4話の配信がTVerで始まりました。
  8/4 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、ファーストサマーウイカ、古川琴音、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep3g0h63gn
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 4話の配信がTVerで始まりました。
  8/4 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/eplu3pati1
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 4話の配信がTVerで始まりました。
  8/4 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ephf2dlhqc
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 4話の配信がTVerで始まりました。
  8/4 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epbq2dq4fd
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 17話の配信がTVerで始まりました。
  8/4 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/ep1g5kcss0
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 4話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/epejk693iz
</p>
