---
title: 2026/10/10 のピックアップ
date: 2026-10-10
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ 全修。 第1～12話まとめ｜2026/10/10配信｜テレ東アニメ｜4:46:59
  ※ 10/23(金) 23:59まで。頭出し可

  永瀬アンナ：広瀬ナツ子
  浦　和希：ルーク・ブレイブハート
  釘宮理恵：ユニオ
  鈴木みのり：メメルン
  陶山章央：QJ
  朴　璐美：ジャスティス
  石見舞菜香：デステニー・ハートウォーミング

  https://youtu.be/tc43DprVIsM
</p>

<p class="yt">
  アニメ「FAIRY TAIL (新シーズン)」第245～255話｜2026/10/10配信｜アニメタイムズ公式｜4:28:47
  ※ 11/11(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/Bna8Zbo1A3M
</p>

<p class="tver">
  バラエティ ごぶごぶ(2026) 674回の配信がTVerで始まりました。 50分
  10/17 13:53まで

  ※ 俳優・磯村勇斗と大阪で食い倒れ＆レア古着店で浜ちゃんも大興奮

  浜田雅功(ダウンタウン)、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epud1men1c
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1621回の配信がTVerで始まりました。 46分
  10/17 14:59まで

  ※ 柳沢慎吾の制御不能な大暴走に、さんま「もう当分来ないでね！」

  明石家さんま、間寛平、村上ショージ、松尾伴内、次長課長、柳沢慎吾、山崎香佳 らが出演しています

  https://tver.jp/episodes/epy27roxom
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。 22分
  10/17 16:00まで

  ※ 相葉＆Aぇ末澤が推理対決！AI考案メニュー？

  相葉雅紀、えなりかずき、末澤誠也(Aぇ! group)、熊元プロレス(紅しょうが) らが出演しています

  https://tver.jp/episodes/epbhu7a7v5
</p>

<p class="tver">
  バラエティ おしゃべり小料理ゆみこ(2026) 21回の配信がTVerで始まりました。 49分
  終了日未記載

  ※ “小料理屋だから聞ける”忖度なしの踏み込んだトークで、ゲストの「意外な一面」を引き出します

  有働由美子、氷川きよし、松下洸平 らが出演しています

  https://tver.jp/episodes/epeijaqxcp
</p>

<p class="yt">
  アニメ「アルスラーン戦記」｜2026/10/9配信｜フル☆アニメTV｜10:14:50
  10/22(木) 16:59まで

  小林裕介：アルスラーン
  細谷佳正：ダリューン
  浪川大輔：ナルサス
  花江夏樹：エラム
  ＫＥＮＮ：ギーヴ
  坂本真綾：ファランギース
  梶　裕貴：銀仮面卿

  https://youtu.be/is9b7_ojtNk
</p>

<p class="tver">
  バラエティ オーイシマサヨシ×鈴木愛理の【でしょでしょ!!】(2026) の配信がTVerで始まりました。 40分
  終了日未記載

  ※ 佐倉 綾音と一歩も引かないバチバチトーク!?オーイシマサヨシ×鈴木愛理のでしょラジ!!

  大石昌良、鈴木愛理、佐倉綾音 らが出演しています

  https://tver.jp/episodes/epykv7lwq8
</p>

<p class="tver">
  バラエティ 土曜はナニする！？(2026) の配信がTVerで始まりました。 33分
  10/17 8:30まで

  ※ M!LK塩﨑 大興奮！ディズニー･ハロウィーンSP㊙期間限定パレード

  田中卓志(アンガールズ)、川田裕美、大友花恋、塩﨑太智(M!LK) らが出演しています

  https://tver.jp/episodes/epsk0yujgh
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) 89回の配信がTVerで始まりました。 43分
  10/17 10:29まで

  ※ 89歳富山梅干し作りの神&まるでプリン!?醤油がいらない神豆腐

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/ep94vyuwrq
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。 3分
  10/17 11:24まで

  ※ どんな車でも高価買取！その独自戦略の秘密をトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/ep8xszylix
</p>

<p class="tver">
  バラエティ おぎやはぎのハピキャン ～1Day Trip～(2026・島あそび) 2回の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 個性豊かな島の名物店主がいるというお店を教えてもらい、篠島名物、しらすの釜揚げ体験を楽しむことに

  おぎやはぎ(小木博明、矢作兼)、土屋アンナ、高橋ユウ、望木聡子 らが出演しています

  https://tver.jp/episodes/epy5h45fsf
</p>

<p class="tver">
  バラエティ ミキティダイニング(2026) の配信がTVerで始まりました。 39分
  10/17 11:00まで

  ※ 庄司！母校に帰るSP！令和の最新給食事情を学ぶ！

  藤本美貴、庄司智春(品川庄司) らが出演しています

  https://tver.jp/episodes/epwjksrhzr
</p>

<p class="tver">
  ドラマ ９ボーダー(2024) 10(最終)話の配信がTVerで始まりました。 45分
  10/16 21:59まで

  川口春奈、木南晴夏、畑芽育、木戸大聖、井之脇海、内田慈、伊藤俊介(オズワルド)、齋藤潤、大政絢、笠原秀幸、水橋研二、箭内夢菜、奥村佳恵、谷川昭一朗、高橋克実、YOU、松下洸平 らが出演しています

  https://tver.jp/episodes/epxw1otc55
</p>

<p class="tver">
  ドラマ キャスター(2025) 8話の配信がTVerで始まりました。 46分
  10/17 11:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、キム・ムジュン、佐々木舞香(=LOVE)、ヒコロヒー、谷田歩、山口馬木也、山本學、松尾諭、内村遥、井上肇、大鷹明良、小須田康人、夏子、相原未来、馬場律樹、石橋蓮司、宮澤エマ、北大路欣也、加藤晴彦、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/epugj5nnv1
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 9話の配信がTVerで始まりました。 46分
  10/14 11:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、田中将大、きょん(コットン)、吉田ウーロン太、フラミンゴ、中村シユン、山本浩貴、新浜レオン、番家天嵩、伊達さゆり、今里真、森下じんせい、井上拓哉、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、内山智貴、片山幸人、やす(ずん)、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epnp2166fy
</p>

<p class="tver">
  ドラマ 私 結婚できないんじゃなくて､しないんです(2016) 9話の配信がTVerで始まりました。 46分
  10/17 11:59まで

  中谷美紀、藤木直人、瀬戸康史、大政絢、松井珠理奈、伊藤健太郎、ちすん、平田薫、友利恵、森田甘路、長谷川稀世、東李苑、横山歩、蒼山真人、村田優一、室井響、花田俊、杉浦諒祐、田中美佐子、マルシア、蘭寿とむ、徳井義実(チュートリアル)、夏木マリ、長谷川京子 らが出演しています

  https://tver.jp/episodes/epmd91zq7r
</p>

<p class="tver">
  ドラマ 御上先生(2025) 8～9話の配信がTVerで始まりました。 47分
  10/17 11:59まで

  松坂桃李、吉岡里帆、奥平大兼、蒔田彩珠、窪塚愛流、吉柳咲良、豊田裕大、上坂樹里、髙石あかり、八村倫太郎(WATWING)、山下幸輝(WILD BLUE)、夏生大湖、影山優佳、永瀬莉子、森愁斗(BUDDiiS)、安斉星来、矢吹奈子、今井柊斗、真弓孟之(AmBitious)、西本まりん、花岡すみれ、野内まる、山田健人、渡辺色、青山凌大、藤本一輝、唐木俊輔、大塚萌香、鈴川紗由、芹澤雛梨、大谷碧空、岡田将生、櫻井海音、高橋恭平(なにわ男子)、秋山菜津子、今井朋彦、東根作寿英、栗田貫一、安藤彰則、猪征大、有田麗未、堀田真由、臼田あさ美、林泰文、迫田孝也、及川光博、常盤貴子、北村一輝 らが出演しています

  https://tver.jp/episodes/epmbwh2inj
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 10(最終)話の配信がTVerで始まりました。 50分
  10/16 21:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、小泉博、ふせえり、武野功雄、要潤、黒川智花、谷中敦、東京スカパラダイスオーケストラ、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/epktoevlar
</p>

<p class="tver">
  ドラマ ぼくが地球を救う(2002) 11(最終)話の配信がTVerで始まりました。 60分
  10/16 21:59まで

※ 突然最終話の配信が10/10にありました。1～3話もあったので掲載しておきます。

11(最終)話：https://tver.jp/episodes/epi8we7cab
1～3話：https://tver.jp/episodes/ep00up5tgw

  内村光良(ウッチャンナンチャン)、東風万智子、古田新太、袴田吉彦、金子昇、愛華みれ、山口馬木也、マシューまさるバロン、平岩紙、川原京、角田ともみ、くわばたりえ、クワバタオハラ、臼井静、小木茂光、堀内健(ネプチューン)、奥菜恵、江守徹、哀川翔、真中瞳 らが出演しています
</p>

<p class="tver">
  ドラマ マイ・セカンド・アオハル(2023) 9話の配信がTVerで始まりました。 47分
  10/17 11:59まで

  広瀬アリス、道枝駿佑(なにわ男子)、伊原六花、飯沼愛、水沢林太郎、箭内夢菜、濱尾ノリタカ、イモトアヤコ、安藤政信 らが出演しています

  https://tver.jp/episodes/epgepbopwi
</p>

<p class="tver">
  ドラマ Around40～注文の多いオンナたち～(2008) 7話の配信がTVerで始まりました。 47分
  10/16 11:59まで

  天海祐希、藤木直人、大塚寧々、AKIRA(EXILE)、さくら、松本若菜、木村遼希、大場久美子、加賀まりこ、林隆三、菅原大吉、デビット伊東、片桐はいり、丸山智己、神保悟志、筒井道隆、松下由樹 らが出演しています

  https://tver.jp/episodes/epbckqea20
</p>

<p class="tver">
  ドラマ 100万回 言えばよかった(2023) 8～9話の配信がTVerで始まりました。 45分
  10/17 11:59まで

  井上真央、佐藤健、シム・ウンギョン、板倉俊之(インパルス)、少路勇介、穂志もえか、永島敬三、中脇樹人、長友郁真、長島竜也、香里奈、平岩紙、菊地凛子、神野三鈴、荒川良々、松山ケンイチ らが出演しています

  https://tver.jp/episodes/ep64ii9gwl
</p>

<p class="tver">
  ドラマ 専業主婦探偵～私はシャドウ(2011) 5話の配信がTVerで始まりました。 47分
  10/16 11:59まで

  深田恭子、藤木直人、桐谷健太、古田新太、芦名星、日野陽仁、長谷川朝晴、丸山智己、植木夏十、渡辺邦斗、吉田桂子、小山圭太、松本莉緒、菅原大吉、マイケル富岡、大浜直樹、遠藤憲一、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep422edkxf
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」 三天戦争編(2026) 51話の配信がTVerで始まりました。 25分
  10/17 11:59まで

  ※ 4期1話です

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、野津山幸宏、河西健吾、小野大輔、岡本信彦、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、江口拓也、榎木淳弥、花江夏樹、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘、松風雅也、伊瀬茉莉也、下鶴直幸、立花慎之介、星野貴紀、安元洋貴 らが出演しています

  https://tver.jp/episodes/epvsmmeyyl
</p>

<p class="tver">
  アニメ 傷だらけ聖女より報復をこめて(2026・2期) の配信がTVerで始まりました。 13分
  10/17 12:00まで

  瀬戸麻沙美、斉藤壮馬 らが出演しています

  https://tver.jp/episodes/ep43myb27u
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 10話の配信がTVerで始まりました。 24分
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/epeyestoef
</p>

<p class="tver">
  アニメ あたしンち(2002) 14話の配信がTVerで始まりました。 24分
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epzbxtkchy
</p>
