---
title: 2026/9/10 のピックアップ
date: 2026-09-10
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  アニメ Duel Masters LOST ～忘却の太陽～(2026) 2話の配信がTVerで始まりました。 27分
  9/17 17:59まで

  鵜澤正太郎、羽多野渉、菱川花菜、伊瀬茉莉也、加瀬康之、藤井隼 らが出演しています

  https://tver.jp/episodes/ep0kx29aa5
</p>

<p class="tver">
  ドラマ セトウツミ(2017) 9～11(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  高杉真宙、葉山奨之、清原果耶、森永悠希、片山友希、田中偉登、高橋里恩、安藤瑠一、吉村界人、吉田カルロス らが出演しています

  https://tver.jp/episodes/ep1gj16u87
</p>

<p class="tver">
  ドラマ 今夜はコの字で(2020) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  中村ゆり、浅香航大、小園凌央、藤井武美、堀部圭亮、大多和愛子、内山加苗、大谷隆二、大和やち、長島真祐、細谷雅幸、岩谷健司、下條アトム らが出演しています

  https://tver.jp/episodes/epfs4kgcj7
</p>

<p class="tver">
  ドラマ 法廷のドラゴン(2025) 5～8(最終)話の配信がTVerで始まりました。 45分
  終了日未記載

  上白石萌音、高杉真宙、白石麻衣、藤井隆、和久井映見、田辺誠一、小林聡美、角野卓造、草川拓弥(超特急)、かとうかず子、大後寿々花、矢崎広、玉井らん らが出演しています

  https://tver.jp/episodes/epmlfjelms
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 73話の配信がTVerで始まりました。 24分
  9/17 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epxv3s705r
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 13話の配信がTVerで始まりました。 24分
  9/17 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep8jywsamv
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 18話の配信がTVerで始まりました。 24分
  9/17 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epmefd89x1
</p>

<p class="yt">
  アニメ「政宗くんのリベンジR」第1～3話｜2026/9/9配信｜アニメタイムズ公式｜1:11:13
  ※ 10/10(土) 18:59まで

  花江　夏樹：真壁政宗
  大橋　彩香：安達垣愛姫
  水瀬いのり：小岩井吉乃
  三森すずこ：藤ノ宮寧子
  田所あずさ：双葉妙
  早見　沙織：朱里小十郎
  小倉　唯：早瀬絹江
  大亀あすか：早瀬千夏
  斎賀みつき：雅宗兼次
  伊藤　美来：ミュリエル・ベッソン
  加瀬　康之：フランク・ベッソン

  https://youtu.be/tMogi5moeuE
</p>

<p class="yt">
  アニメ「政宗くんのリベンジ」第1～6話｜2026/9/9配信｜アニメタイムズ公式｜2:22:13
  ※ 10/10(土) 10:59まで

  花江　夏樹：真壁政宗
  大橋　彩香：安達垣愛姫
  水瀬いのり：小岩井吉乃
  三森すずこ：藤ノ宮寧子
  田所あずさ：双葉妙
  早見　沙織：朱里小十郎
  小倉　唯：早瀬絹江
  大亀あすか：早瀬千夏
  伊瀬茉莉也：金子園香
  伊藤かな恵：木場菊音
  佐藤　聡美：水野鞠

  https://youtu.be/PrSMCHwtiiE
</p>

<p class="tver">
  バラエティ なすなかにしのバズっちゃ!! 笑う富山にロケ神様(2026) の配信がTVerで始まりました。 50分
  終了日未記載

  ※ 幻のもち米作り企画＆願い事

  なすなかにし(中西茂樹、那須晃行)、カナイ、高橋優吾 らが出演しています

  https://tver.jp/episodes/eplsm8gpw3
</p>

<p class="tver">
  バラエティ SixTONES髙地 初高知ドタバタよくばり旅(2026) の配信がTVerで始まりました。 52分
  終了日未記載

  ※ 髙地優吾が高知県を大満喫の1時間！事前にリストアップした20か所を滞在時間9時間で、いくつ回れるのか？

  高地優吾(SixTONES) らが出演しています

  https://tver.jp/episodes/ep789fqm6d
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 4話の配信がTVerで始まりました。 44分
  9/24 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、遠藤雄弥、松本穂香 らが出演しています

  https://tver.jp/episodes/epxtzw56ns
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 4話の配信がTVerで始まりました。 44分
  9/24 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、上原多香子、村田秀亮(とろサーモン)、堤下敦(インパルス)、小村裕次郎、モト冬樹 らが出演しています

  https://tver.jp/episodes/epsdakj4dm
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 4話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、神尾佑、竜星涼、加治将樹、丸一太、夏緒、加藤晴彦、佐々木希、桂文枝、市川実日子、堀尾正明、好井まさお、春風亭昇太、香川照之 らが出演しています

  https://tver.jp/episodes/epxi0occzg
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 4話の配信がTVerで始まりました。 44分
  9/24 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、長谷川朝晴、井上肇、向里祐香、山田キヌヲ、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/epngx4tejr
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 4話の配信がTVerで始まりました。 30分
  9/24 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博 らが出演しています

  https://tver.jp/episodes/epn45mdp2f
</p>

<p class="tver">
  ドラマ リセット(2009) 4話の配信がTVerで始まりました。 31分
  9/24 12:00まで

  田中直樹(ココリコ)、平愛梨、井坂俊哉、川田 らが出演しています

  https://tver.jp/episodes/epl10j19vw
</p>

<p class="tver">
  ドラマ メゾン・ド・ポリス(2019) 4～5話の配信がTVerで始まりました。 46分
  終了日未記載

  高畑充希、西島秀俊、西田尚美、竜星涼、木村了、戸田昌宏、水橋研二、渡辺文香、山崎莉里那、小日向文世、清水章吾、山本涼介、福山康平、松嶋亮太、村松恭子、澤口夏奈子、野口五郎、角野卓造、近藤正臣 らが出演しています

  https://tver.jp/episodes/epz4p7jld3
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 4話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  仲間由紀恵、リュ・シウォン、大倉孝二、袴田吉彦、鈴木浩介、入江慎也、田中哲司、大浦龍宇一、金子昇、宮地雅子、美元、武藤晃子、鈴木みのる、眞野裕子、益岡徹、泉ピン子 らが出演しています

  https://tver.jp/episodes/epmmhfoxv4
</p>

<p class="tver">
  ドラマ 野ブタ。をプロデュース(2005) 1～3話の配信がTVerで始まりました。 70分
  終了日未記載

  亀梨和也、山下智久、堀北真希、戸田恵梨香、中島裕翔、岡田義徳、深浦加奈子、木村祐一、不破万作、たくませいこ、宇梶剛士、忌野清志郎、夏木マリ らが出演しています

  https://tver.jp/episodes/epxabe2zpb
</p>

<p class="tver">
  ドラマ ボク、運命の人です。(2017) 1～3話の配信がTVerで始まりました。 56分
  終了日未記載

  亀梨和也、木村文乃、満島真之介、菜々緒、澤部佑(ハライチ)、渡辺江里子(阿佐ヶ谷姉妹)、岡野真也、杉本哲太、大倉孝二、石野真子、田辺誠一、山下智久 らが出演しています

  https://tver.jp/episodes/ep6su0zhia
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 8話の配信がTVerで始まりました。 47分
  9/17 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、南明奈、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/ep01mbziw8
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 14話の配信がTVerで始まりました。 46分
  9/17 8:00まで

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep9jy31d70
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 72話の配信がTVerで始まりました。 24分
  9/17 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epjgx1i5zm
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 33話の配信がTVerで始まりました。 25分
  9/17 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epxn0fv8ou
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 3話の配信がTVerで始まりました。 25分
  9/17 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epngyp1nt6
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 3話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/epr74jyb1i
</p>
