---
title: 2026/8/7 のピックアップ
date: 2026-08-07
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 366日(2024) 1話の配信がTVerで始まりました。
  9/28 終了時間未記載まで

  広瀬アリス、眞栄田郷敦、坂東龍汰、長濱ねる、綱啓永、赤ペン瀧川、岐洲匠、加藤虎ノ介、佐藤景瑚(JO1)、高田里穂、宮崎莉里沙、中島ひろ子、平野宏周、柳谷参助、堀口紗奈、中村羽叶、田中幸太朗、丈太郎、秋田汐梨、藤本万梨乃 らが出演しています

  https://tver.jp/episodes/epxp41h55h
</p>

<p class="tver">
  ドラマ 席替えしたら、どうやら後ろの男が俺のこと好きらしい(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  小西詠斗、元之介、平本健(DXTEEN)、飯島颯 らが出演しています

  https://tver.jp/episodes/ep0mrfpima
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 6話の配信がTVerで始まりました。
  終了日未記載

  栗山千明、武田航平、辻凪子、おかやまはじめ、平埜生成、伊原卓哉、高木和、山田将司、押方茉り加、水野智則、鈴田修也、琴花、杉本愛里、高木駿佑 らが出演しています

  https://tver.jp/episodes/ep8p8nvc8p
</p>

<p class="yt">
  アニメ「湘南爆走族9 俺とお前のGOOD LUCK!」(1993)｜2026/8/6配信｜東映ビデオ｜26:37
  ※ 8/13(木) 17:59まで

  前編：https://youtu.be/_mGL6BNrf2s
  後編：https://youtu.be/O2QczptGWns

  塩沢兼人：江口洋助
  山口健：石川晃
  佐藤正治：丸川角児
  目黒光祐：桜井信二
  郷里大輔：原沢良美
  鶴ひろみ：津山よし子
  屋良有作：権田二毛作
  富沢美智恵：三好民子
  大塚芳忠：瀬島渉
  西村知道：茂岡義重
</p>

<p class="yt">
  アニメ「湘南爆走族8 赤い星の伝説」(1992)｜2026/8/6配信｜東映ビデオ｜26:02
※ 8/13(木) 17:59まで

  前編：https://youtu.be/La9uOS0HadI
  後編：https://youtu.be/BtVnyMuy6eE

  塩沢兼人：江口洋助
  山口健：石川晃
  佐藤正治：丸川角児
  目黒光祐：桜井信二
  郷里大輔：原沢良美
  鶴ひろみ：津山よし子
  屋良有作：権田二毛作
  富沢美智恵：三好民子
  大塚芳忠：瀬島渉
  西村知道：茂岡義重
</p>

<p class="yt">
  アニメ「湘南爆走族7 スポ根マッド・スペシャル」(1991)｜2026/8/6配信｜東映ビデオ｜29:34
  ※ 8/13(木) 17:59まで

  前編：https://youtu.be/61wrBl6GX2k
  後編：https://youtu.be/PAT2sUDXuYM

  塩沢兼人：江口洋助
  山口健：石川晃
  佐藤正治：丸川角児
  目黒光祐：桜井信二
  郷里大輔：原沢良美
  鶴ひろみ：津山よし子
  屋良有作：権田二毛作
  富沢美智恵：三好民子
  大塚芳忠：瀬島渉
  西村知道：茂岡義重
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  8/14 22:30まで

  ※ 自炊64　自家製パニーノ＆バーニャカウダ

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/epsueeximx
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  8/14 23:29まで

  ※ 檀れい、ステンドグラスでランプを作る

  三村マサカズ、青木崇高、檀れい らが出演しています

  https://tver.jp/episodes/epghdax10m
</p>

<p class="tver">
  バラエティ ぽかぽか(2026) の配信がTVerで始まりました。
  8/14 11:46まで

  ※ 千葉雄大＆鈴木愛理エキサイト投扇興。千葉＆鈴木あざとかわいいの本音語る。あざとかわいくドキドキピンポンパン

  投扇興：https://tver.jp/episodes/epudpprwqa
  あざとかわいい：https://tver.jp/episodes/ep0p7dzhwa
ピンポンパン：https://tver.jp/episodes/ephxr6zn90

  ハライチ、神田愛花、児嶋一哉(アンジャッシュ)、信子(ぱーてぃーちゃん)、小室瑛莉子、千葉雄大、鈴木愛理 らが出演しています
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  8/14 18:59まで

  ※ 後妻業の女・筧千佐子…連続毒殺事件の真相を取材記者が激白

  ノブ(千鳥)、二宮和也、尾上松也、イモトアヤコ、長谷川忍(シソンヌ)、横澤夏子、柳原可奈子、岡野すこやか、沢城みゆき、大塚芳忠、堀井美香 らが出演しています

  https://tver.jp/episodes/ep8gsrbu3e
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  8/14 19:55まで

  ※ 伝説の家政婦志麻さん！夏休みにピッタリ！簡単お好み焼き炒飯にフレンチ春巻き!?猛暑吹き飛ぶ簡単新感覚料理に高橋文哉爆食SP

  設楽統(バナナマン)、黒田みゆ、カズレーザー(メイプル超合金)、川島海荷、K(&TEAM)、櫻井海音、陣内智則、高橋茂雄(サバンナ)、出川哲朗、高橋文哉、野村康太、川田裕美 らが出演しています

  https://tver.jp/episodes/epk6q4kfpg
</p>

<p class="tver">
  バラエティ ハマダ歌謡祭★オオカミ少年(2026) の配信がTVerで始まりました。
  9/4 18:59まで

  ※ 浜田参戦SP★ISSA＆Toshl歌手軍vs樹ジェシー歌謡祭軍

  浜田雅功(ダウンタウン)、SixTONES(ジェシー、田中樹)、狩野英孝、K、Dream Ami、近藤春菜(ハリセンボン)、降幡愛、BON.井上、松岡充、神谷健太、ジョニー志村、ISSA、U-YEAH、知念里奈、櫻井もも(≠ME)、MINA(MAX)、MINMI、龍玄とし、日比麻音子 らが出演しています

  https://tver.jp/episodes/epeat465qz
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  8/21 20:59まで

  ※ 往復6時間！驚きの遠距離通学！＆型破りアーティスト

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、鈴木亜美、佐々木大光(KEY TO LIT)、ニシダ(ラランド)、すがちゃん最高No.1(ぱーてぃーちゃん)、槇大輔 らが出演しています

  https://tver.jp/episodes/ep279c6guz
</p>

<p class="tver">
  バラエティ 知識の扉よ開け！ドア×ドア クエスト(2026) 12回の配信がTVerで始まりました。
  9/4 20:54まで

  ※ VIVANT最新12話名シーン裏側＆アイス工場クイズ

  小峠英二(バイきんぐ)、近藤春菜(ハリセンボン)、小手伸也、菜々緒、山崎弘也(アンタッチャブル)、田村真子、高地優吾(SixTONES)、照英、藤本敏史(FUJIWARA)、田中律子、村重杏奈、あかつ らが出演しています

  https://tver.jp/episodes/epnij5v0f2
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  8/14 22:59まで

  ※ 瀬戸康史 俳優としての転機＆パパの顔

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、瀬戸康史、キムラ緑子、前原滉、スチール哲平、白井晃 らが出演しています

  https://tver.jp/episodes/epq47ggkxb
</p>

<p class="tver">
  バラエティ 全力！脱力タイムズ(2026) の配信がTVerで始まりました。
  8/14 23:00まで

  ※ パンサー尾形／AKB小栗有以

  有田哲平(くりぃむしちゅー)、佐久間みなみ、岸博幸、吉川美代子、出口保行、小栗有以(AKB48)、尾形貴弘(パンサー) らが出演しています

  https://tver.jp/episodes/epzdcz6n8e
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 6話の配信がTVerで始まりました。
  8/15 0:51まで

  杉田雷麟、伊礼姫奈、冨手麻妙、中村里帆、ラブ守永、戸張美佳、青葉空、山中志笑、渡部綾菜 らが出演しています

  https://tver.jp/episodes/ep7uhbo8qd
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 4話の配信がTVerで始まりました。
  8/15 0:45まで

  吉川愛、綱啓永、恒松祐里、髙松アロハ(超特急)、朝井大智、大朏岳優、吉沢悠、勝村政信、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epesynma7z
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 7話の配信がTVerで始まりました。
  8/15 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、原因は自分にある。(大倉空人、小泉光咲、長野凌大、桜木雅哉)、NOSUKE(THE JET BOY BANGERZ)、Team"S"pecial、Ken、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/epyb248uc2
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 8話の配信がTVerで始まりました。
  8/15 23:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、吉田ウーロン太、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、伊達さゆり、井上拓哉、上田遥、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、武井壮、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、内山智貴、片山幸人、黒田浩史、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epvr4ne38j
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 8話の配信がTVerで始まりました。
  8/15 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、長谷川稀世、大崎由利子、田中哲司、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/epq9u4b0u4
</p>

<p class="tver">
  ドラマSP ホテル開業(1990) の配信がTVerで始まりました。
  9/27 23:59まで

  柴田恭兵、川上麻衣子、中丸忠雄、秋野太作、松本留美、倉石功、中野誠也、和崎俊哉、笹野高史、段田安則、あご勇、内藤安彦、佐々木すみ江、金田龍之介、桜田淳子 らが出演しています

  https://tver.jp/episodes/epoml1q1io
</p>

<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 3話の配信がTVerで始まりました。
  終了日未記載

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/ephkfox9pj
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 5話の配信がTVerで始まりました。
  8/14 21:59まで

  蒼井優、中島歩、高橋文哉、齋藤飛鳥、庄司浩平、夏帆、久保田薫、宮地雅子、浅見小四郎、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/ep597u45bm
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 3話の配信がTVerで始まりました。
  8/14 21:53まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、大和田獏、酒井敏也、小日向星一、大塚ヒロタ、木戸邑弥、白瀬りか、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/epskdvfe92
</p>

<p class="tver">
  アニメ 霧尾ファンクラブ(2026) 全12話の配信がTVerで始まりました。
  8/21 23:59まで

  稗田寧々、若山詩音、梶原岳人、広瀬裕也、小笠原仁、伊藤彩沙、和泉風花 らが出演しています

  https://tver.jp/episodes/epgvcawzml
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 17話の配信がTVerで始まりました。
  8/15 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/ep7ivxgeh9
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 6話の配信がTVerで始まりました。
  8/17 22:00まで

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/ephnjxlc0z
</p>

<p class="yt">
  アニメ「王室教師ハイネ」1～12話｜2026/8/7配信｜アニメタイムズ公式｜4:45:43
  ※ 2026/9/7(月) 16:59まで

  植田　圭輔：ハイネ・ヴィトゲンシュタイン
  安里　勇哉：カイ・フォン・グランツライヒ
  安達　勇人：ブルーノ・フォン・グランツライヒ
  廣瀬　大介：レオンハルト・フォン・グランツライヒ
  蒼井　翔太：リヒト・フォン・グランツライヒ
  浪川　大輔：ルートヴィヒ
  立花慎之介：マクシミリアン
  森川　智之：ヴィクトール
  江口　拓也：ローゼンベルク

  https://youtu.be/pWYyc_R3euo
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 5話の配信がTVerで始まりました。
  8/14 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/eppo5dh9du
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 3話の配信がTVerで始まりました。
  8/14 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epjprjreyc
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 13話の配信がTVerで始まりました。
  8/14 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epglc5o6rh
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。
  8/14 12:00まで

  ※ 超合金

  カズレーザー(メイプル超合金)、たきうえ(流れ星☆) らが出演しています

  https://tver.jp/episodes/ep9enpdeqo
</p>

<p class="tver">
  ドキュメンタリー ノンストップ！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 反町隆史 生出演！GTOへの思い・・・撮影に密着

  設楽統(バナナマン)、三上真奈、松村未央、立本信吾、坂下千里子、井戸田潤、反町隆史、山崎裕太、生見愛瑠、高橋メアリージュン、稲垣来泉、北里琉 らが出演しています

  https://tver.jp/episodes/eptwqfe6g2
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 6話の配信がTVerで始まりました。
  8/13 11:59まで

  松本潤、小芝風花、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、石橋蓮司、今野浩喜、近藤公園、六平直政、ファーストサマーウイカ、藤井隆、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epto0j9s85
</p>

<p class="tver">
  ドラマ 左目探偵EYE(2010) 7～8(最終)話の配信がTVerで始まりました。
  8/17 23:59まで

  山田涼介(Hey! Say! JUMP)、横山裕(SUPER EIGHT)、石原さとみ、岡田義徳、はるな愛、Crystal Kay、古田新太、渡辺いっけい、佐野史郎、片平なぎさ らが出演しています

  https://tver.jp/episodes/epzhdla1l8
</p>

<p class="tver">
  ドラマSP もみ消して冬 2019夏～夏でも寒くて死にそうです～(2019) の配信がTVerで始まりました。
  8/17 23:59まで

  山田涼介(Hey! Say! JUMP)、波瑠、小澤征悦、小瀧望(WEST.)、恒松祐里、児嶋一哉(アンジャッシュ)、千葉雄大、浅野和之、中村梅雀 らが出演しています

  https://tver.jp/episodes/epgcnb5o3b
</p>

<p class="tver">
  ドラマ もみ消して冬 ～わが家の問題なかったことに～(2018) 8～10(最終)話の配信がTVerで始まりました。
  8/17 23:59まで

  山田涼介(Hey! Say! JUMP)、波瑠、小澤征悦、小瀧望(WEST.)、恒松祐里、児嶋一哉(アンジャッシュ)、千葉雄大、浅野和之、中村梅雀 らが出演しています

  https://tver.jp/episodes/epz35czfk3
</p>

<p class="tver">
  ドラマ ダメマネ！ ーダメなタレント、マネジメントしますー(2025) 8～10(最終)話の配信がTVerで始まりました。
  8/17 23:59まで

  川栄李奈、安田顕、千葉雄大、富田望生、鈴木仁、倉沢杏菜、古田愛理、華優希、増田梨沙、寺島しのぶ、岩崎う大(かもめんたる)、永野宗典、濱田マリ、橋本じゅん、吉瀬美智子、山田涼介(Hey! Say! JUMP) らが出演しています

  https://tver.jp/episodes/epl34lx2hq7
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 4話の配信がTVerで始まりました。
  8/13 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、岡田浩暉、八十田勇一、佐々木一平、清水優、伊与勢我無、真野恵里菜、古舘寛治、葉山奨之、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep7wijaycs
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 7～8話の配信がTVerで始まりました。
  8/13 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、重田尚彦、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/ep89ye98w5
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 4話の配信がTVerで始まりました。
  8/14 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epuw4s6ku0
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 30話の配信がTVerで始まりました。
  8/21 08:30まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epxl33a1fe
</p>
