---
title: 2026/10/02 のピックアップ
date: 2026-10-02
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。 45分
  終了日未記載

  ※ 創刊１００周年を迎えた学習雑誌「小学一年生」。子どもたちを夢中にさせ続ける舞台裏を語り尽くします

  カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/eplyrx1626
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 10話の配信がTVerで始まりました。 46分
  10/11 11:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、大後寿々花、浅野和之、沢尻エリカ、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epmz0oj9rb
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 5話の配信がTVerで始まりました。 47分
  10/6 11:59まで

  鈴木亮平、黒木華、井川遥、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、新井美羽、向里祐香、渋川清彦、伊勢志摩、柳谷参助、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、今里真、森下じんせい、井上拓哉、大倉孝二、町田啓太、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epjhkl8w6a
</p>

<p class="tver">
  ドラマ 消せない「私」ー復讐の連鎖ー(2024) 11～13(最終)話の配信がTVerで始まりました。 23分
  終了日未記載

  志田彩良、本郷奏多、吉本実憂、片山友希、小日向ゆか、芳村宗治郎、阿佐辰美、柄本時生、佐久本宝 らが出演しています

  https://tver.jp/episodes/epii6zh5xx
</p>

<p class="tver">
  ドラマ 愛してたって、秘密はある。(2017) 8～10(最終)話の配信がTVerで始まりました。 47分
  終了日未記載

  福士蒼汰、川口春奈、鈴木浩介、賀来賢人、白洲迅、柄本時生、吉川愛、山本未來、堀部圭亮、岡江久美子、遠藤憲一、鈴木保奈美、矢柴俊博 らが出演しています

  https://tver.jp/episodes/epttru8r6q
</p>

<p class="tver">
  ドラマ マイ・セカンド・アオハル(2023) 7話の配信がTVerで始まりました。 47分
  10/9 11:59まで

  広瀬アリス、道枝駿佑(なにわ男子)、伊原六花、飯沼愛、水沢林太郎、箭内夢菜、濱尾ノリタカ、尾美としのり、いしのようこ、asmi、石丸幹二、イモトアヤコ、安藤政信 らが出演しています

  https://tver.jp/episodes/epcyafvdtd
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 9話の配信がTVerで始まりました。 46分
  10/11 11:59まで

  仲間由紀恵、リュ・シウォン、袴田吉彦、鈴木浩介、入江慎也、吉瀬美智子、田中哲司、大浦龍宇一、金子昇、宮川一朗太、益岡徹、片平なぎさ、泉ピン子 らが出演しています

  https://tver.jp/episodes/epbxx5v16d
</p>

<p class="tver">
  ドラマ 私 結婚できないんじゃなくて､しないんです(2016) 7話の配信がTVerで始まりました。 46分
  10/9 11:59まで

  中谷美紀、藤木直人、瀬戸康史、大政絢、松井珠理奈、伊藤健太郎、ちすん、平田薫、友利恵、森田甘路、音尾琢真、迫田孝也、林泰文、松井愛莉、東李苑、横溝菜帆、並樹史朗、栗山航、村田優一、中村里帆、室井響、長谷川京子、マルシア、蘭寿とむ、徳井義実(チュートリアル)、夏木マリ らが出演しています

  https://tver.jp/episodes/ep8t5fd2kf
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 8話の配信がTVerで始まりました。 47分
  10/9 11:59まで

  神木隆之介、杉咲花、池田エライザ、清水尋也、中嶋朋子、映美くらら、赤間麻里子、谷川昭一朗、前原瑞樹、桜井聖、宮崎吐夢、内藤秀一郎、西垣匠、豆原一成(JO1)、片岡凜、安斉星来、酒向芳、片桐はいり、國村隼、尾美としのり、美保純、土屋太鳳、宮本信子 らが出演しています

  https://tver.jp/episodes/ep6in5j1tt
</p>

<p class="tver">
  ドラマ 黄金の豚－会計検査庁 特別調査課－(2010) 8～9(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  篠原涼子、岡田将生、大泉洋、桐谷健太、山口紗弥加、もたいまさこ、生瀬勝久、宇津井健、伊武雅刀 らが出演しています

  https://tver.jp/episodes/ep62brvf92
</p>

<p class="tver">
  ドラマ フランケンシュタインの恋(2017) 8～10(最終)話の配信がTVerで始まりました。 47分
  終了日未記載

  綾野剛、二階堂ふみ、柳楽優弥、川栄李奈、新井浩文、山内圭哉、光石研、柄本明 らが出演しています

  https://tver.jp/episodes/eprmxho2mz
</p>

<p class="tver">
  ドラマ 獣になれない私たち(2018) 8～10(最終)話の配信がTVerで始まりました。 52分
  終了日未記載

  新垣結衣、松田龍平、田中圭、黒木華、犬飼貴丈、伊藤沙莉、近藤公園、一ノ瀬ワタル、菊地凛子、松尾貴史、山内圭哉、田中美佐子、安井順平 らが出演しています

  https://tver.jp/episodes/epen12eumu
</p>

<p class="tver">
  ドラマSP 瑠璃の島(2005) の配信がTVerで始まりました。 94分
  終了日未記載

  成海璃子、緒形拳、小西真奈美、倍賞美津子、神木隆之介、田辺誠一、西田尚美、市毛良枝、平泉成、塩見三省、小日向文世、永井杏、西山繭子、勝村政信、賀集利樹、井川遥、岸部一徳、竹野内豊、さくら、吉田妙子 らが出演しています

  https://tver.jp/episodes/epy9uxnqqc
</p>

<p class="tver">
  ドラマ 瑠璃の島(2005) 9～10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  成海璃子、竹野内豊、小西真奈美、西田尚美、倍賞美津子、緒形拳、さくら、金子昇 らが出演しています

  https://tver.jp/episodes/epl7fjyxki
</p>

<p class="tver">
  ドラマ 女王の教室(2005) 9～11(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  天海祐希、羽田美智子、原沙知絵、尾美としのり、夏帆、志田未来、松川尚瑠輝、福田麻由子、半海一晃、泉谷しげる、内藤剛志 らが出演しています

  https://tver.jp/episodes/epf61bf2et
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 9話の配信がTVerで始まりました。 46分
  10/11 11:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、高橋光臣、高橋洋、望月章男、シャカ大熊、神野三鈴、井上芳雄、石黒英雄、ユースケ・サンタマリア、高橋英樹、市川実日子、木場勝己、梅沢富美男、和田アキ子、香川照之 らが出演しています

  https://tver.jp/episodes/ep7iqf15bf
</p>

<p class="tver">
  ドラマ ハケンの品格(2020) 6～8(最終)話の配信がTVerで始まりました。 52分
  終了日未記載

  篠原涼子、小泉孝太郎、勝地涼、杉野遥亮、吉谷彩子、山本舞香、中村海人(Travis Japan)、上地雄輔、塚地武雅(ドランクドラゴン)、大泉洋、伊東四朗 らが出演しています

  https://tver.jp/episodes/epj6rbtvtk
</p>

<p class="tver">
  ドラマ お迎えデス。(2016) 8～9(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  福士蒼汰、土屋太鳳、鈴木亮平、門脇麦 らが出演しています

  https://tver.jp/episodes/ep2mo73f2b
</p>

<p class="tver">
  ドラマ 赤鼻のセンセイ(2009) 8～10(最終)話の配信がTVerで始まりました。 47分
  終了日未記載

  大泉洋、香椎由宇、神木隆之介、須賀健太、尾美としのり、光石研、平岩紙、入山法子、高橋努、工藤里紗、能世あんな、まえだまえだ、田島ゆみか、住谷念美、高良光莉、八木優希、上川隆也、小林聡美、神山繁、羽場裕一 らが出演しています

  https://tver.jp/episodes/epcifags42
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 30話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epzxqljffy
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 12(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epvhs3yyei
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 8話の配信がTVerで始まりました。 24分
  10/9 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/eppfvsggns
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 38話の配信がTVerで始まりました。 24分
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epvnds68su
</p>
