---
title: 2026/6/14 のピックアップ
date: 2026-06-14
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  名探偵コナン「代役・京極真(前編・中編・後編)」世良真純・赤井一家セレクション｜2026/6/13配信｜【アニメ】名探偵コナン公式｜1:15:36
※ 2026/6/15(月)まで

高山みなみ：江戸川コナン
山口　勝平：工藤新一
山崎和佳奈：毛利蘭
小山　力也：毛利小五郎
岩居由希子：吉田歩美
高木　　渉：小嶋元太
大谷　育江：円谷光彦
林原めぐみ：灰原哀
緒方　賢一：阿笠博士
堀川りょう：服部平次
宮村　優子：遠山和葉
松井菜桜子：鈴木園子
檜山　修之：京極真
日高のり子：世良真純
池田　秀一：赤井秀一
置鮎龍太郎：沖矢昴
三石　琴乃：水無怜奈
古谷　　徹：安室透
茶　風　林：目暮十三
高木　　渉：高木渉
湯屋　敦子：佐藤美和子
井上　和彦：白鳥任三郎
高島　雅羅：妃英理
堀　　之紀：ジン
立木　文彦：ウォッカ
小山　茉美：ベルモット
山口　勝平：怪盗キッド

  https://youtu.be/BjzSHDyy0Fg
</p>

<p class="tver">
  ドキュメンタリー 遠くへ行きたい(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【浦沢直樹が鹿児島へ】幻のエビ＆甲冑職人＆山間温泉街の秘湯

  浦沢直樹 らが出演しています

  https://tver.jp/episodes/ep1827swze
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  6/21 10:59まで

  ※ アジのなめろう＆アジの南蛮漬け

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epfprys2g6
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  6/21 10:00まで

  ※ 昭和レトロな野方でお宝Tシャツを発見＆老舗ラーメン！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、高橋ジョージ(ナレーション) らが出演しています

  https://tver.jp/episodes/ep5zr3w9vi
</p>

<p class="tver">
  バラエティ ぺこもぐキッチン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 宮澤エマとワインで乾杯！魚介系おつまみ＆アレンジフムス

  栗原心平、宮澤エマ、高橋大悟 らが出演しています

  https://tver.jp/episodes/ep9mzhyacy
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 8回の配信がTVerで始まりました。
  6/21 12:00まで

  ※ 番組公式ＳＮＳをバズらせて一発当てたい！

  アルコ&ピース(平子祐希、酒井健太)、STU48(中村舞、高雄さやか、内海里音、濱田響、池田裕楽、岡村梨央) らが出演しています

  https://tver.jp/episodes/ep6jpmdz7k
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 感覚一点突破系ゲーム「ファイブセンス」▼激辛見破り&山田才能開花

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、生見愛瑠、レインボー らが出演しています

  https://tver.jp/episodes/epne0jfsfr
</p>

<p class="tver">
  ドラマ 西園寺さんは家事をしない(2024) 5話の配信がTVerで始まりました。
  6/21 11:59まで

  松本若菜、松村北斗(SixTONES)、津田健次郎、野呂佳代、横田真悠、水澤紳吾、うらじぬの、大朏岳優、倉田瑛茉、尾上松也、宮尾俊太郎、石田明(NON STYLE)、中込佐知子、藤井隆、濱田マリ、塚本高史 らが出演しています

  https://tver.jp/episodes/epuws0hylc
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 6話の配信がTVerで始まりました。
  6/20 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、町田悠宇、杉本哲太 らが出演しています

  https://tver.jp/episodes/eptaqi5o2c
</p>

<p class="tver">
  ドラマ 週末婚(1999) 7話の配信がTVerで始まりました。
  6/20 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、神山繁、織本順吉、戸川京子、根岸季衣、中原ひとみ、仲村トオル らが出演しています

  https://tver.jp/episodes/epsxjvdp96
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 6話の配信がTVerで始まりました。
  6/20 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、斉藤優、パラシュート部隊、絃瀬聡一、有森也実、オクイシュージ、鳥谷宏之、山岸門人、松浦りょう、肥田日向、成田凌、酒井敏也、藤本隆宏、篠井英介、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epr6l4ox1z
</p>

<p class="tver">
  ドラマ スイートモラトリアム(2023) 1話の配信がTVerで始まりました。
  終了日未記載

  鈴鹿央士、小西桜子、田辺桃子、若林時英、鮎川桃果、中島歩 らが出演しています

  https://tver.jp/episodes/epnws6codc
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 6話の配信がTVerで始まりました。
  6/20 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、佐藤二朗、桐谷健太、三原伊織奈、國光真耶、黒田知永子、勝村政信、竹中直人 らが出演しています

  https://tver.jp/episodes/epfqgj1ku6
</p>

<p class="tver">
  ドラマ 愛するということ(1993) 1～3話の配信がTVerで始まりました。
  終了日未記載

  緒形直人、伊藤かずえ、篠塚勝、島崎和歌子、矢野武、橋爪功、角野卓造、小泉今日子 らが出演しています

  https://tver.jp/episodes/epj7c4qz6s
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、吉川晃司、小泉孝太郎、石倉三郎、高橋光臣、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/epzzy4y139
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 7話の配信がTVerで始まりました。
  6/20 9:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、山田優、永井大 らが出演しています

  https://tver.jp/episodes/epvelepfs2
</p>

<p class="tver">
  ドラマ 山田太郎ものがたり(2007) 8話の配信がTVerで始まりました。
  6/22 9:59まで

  二宮和也、櫻井翔、多部未華子、忍成修吾、大塚千弘、吹石一恵、吉沢悠、福井博章、吉行和子、猫背椿、鎗田晟裕、清水尚弥、村中暖奈、吉川愛、澁谷武尊、稲垣鈴夏、松岡充、菊池桃子、宇津井健 らが出演しています

  https://tver.jp/episodes/eppoxgeit9
</p>

<p class="tver">
  ドラマ 特上カバチ!!(2010) 8話の配信がTVerで始まりました。
  6/22 9:59まで

  櫻井翔、堀北真希、遠藤憲一、渡辺いっけい、田丸麻紀、上里亮太、AKUN、川村早織梨、吉田桂子、桜井ひかり、木南晴夏、森脇英理子、玄田哲章、市川由衣、山崎樹範、金子賢、小浜正寛、春海四方、浅野ゆう子、高橋克実、中村雅俊 らが出演しています

  https://tver.jp/episodes/epp4qvxfwz
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、ドロンズ石本、田中みな実、瀧内公美、池田鉄洋、三石琴乃、堺正章、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epo5xnel4q
</p>

<p class="tver">
  ドラマ 新参者(2010) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、柴本幸、谷原章介、峰竜太、沢木ルカ、木村祐一、草刈民代、泉谷しげる、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/epm8wennga
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 7話の配信がTVerで始まりました。
  6/20 9:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、羽賀研二、春田純一、濱田マリ、笹野高史、高岡早紀、古手川祐子 他

  https://tver.jp/episodes/epgpro5921
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 7話の配信がTVerで始まりました。
  6/20 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、平山祐介、古畑星夏、清塚信也、白石糸、小林きな子、吉田悟郎、赤澤ムック、泉春花、須藤理彩、月影瞳、ひかる一平、福田ユミ、なかじままり、古舘寛治、江口のりこ、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epkgu3nwuj
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、平山祐介、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、高村佳偉人、綾戸智恵、浅野和之、小栗旬、森口瑤子、小林綾子、高橋洋、三浦誠己、山本浩司、須田邦裕、川村ゆきえ、前田公輝、西田尚美、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epejmv72zk
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG、2PM、相葉裕樹、菊田大輔、永瀬匡、のん、田中要次、佐々木希、駿河太郎、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/ep7u84nfgp
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 3話の配信がTVerで始まりました。
  6/20 9:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、瑳川哲朗、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epu8wnuu7y
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  西島秀俊、香川照之、真木よう子、吉田鋼太郎、有村架純、池松壮亮、品川徹、奥貫薫、田中要次、田口浩正、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep3jkgrjvu
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 6話の配信がTVerで始まりました。
  6/20 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、窪田正孝、市川知宏、夙川アトム、生稲晃子、西山潤、段田安則、内藤剛志、麻生祐未 他

  https://tver.jp/episodes/ep1dlfqft7
</p>

<p class="tver">
  アニメ 一畳間まんきつ暮らし！(2026) 9話の配信がTVerで始まりました。
  6/21 12:00まで

  菱川花菜、白砂沙帆、千春、根本京里 らが出演しています

  https://tver.jp/episodes/epz0xt4a6r
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 19話の配信がTVerで始まりました。
  6/21 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epjatxxagb
</p>

<p class="tver">
  アニメ 最強の王様、二度目の人生は何をする？(2026) 23話の配信がTVerで始まりました。
  6/21 11:59まで

  藤原夏海、古川慎、市ノ瀬加那、井澤詩織 らが出演しています

  https://tver.jp/episodes/ep3n6w9ifs
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Aegis of URUK～(2026) 10話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、早水リサ、郷田ほづみ、茅原実里、石田彰、安元洋貴、土師孝也、矢島晶子、ゆかな、てらそままさき、水野理紗 他

  https://tver.jp/episodes/ep4jaobqsw
</p>

<p class="tver">
  アニメ 超宇宙刑事ギャバン インフィニティ(2026) 18話の配信がTVerで始まりました。
  6/21 10:00まで

  長田光平、赤羽流河、角心菜、松永有紘、有坂心花、安田啓人、入山杏奈、谷田ラナ、平岡祐太 らが出演しています

  https://tver.jp/episodes/epl3j3al05
</p>
