---
title: 2026/8/2 のピックアップ
date: 2026-08-02
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ バカリゲム(2026) の配信がTVerで始まりました。
  8/17 23:59まで

  ※ ココリコ田中さんと俳優トーク！ゲームは海洋アドベンチャー「デイヴ・ザ・ダイバー」

  バカリズム、田中直樹(ココリコ)、東雲うみ らが出演しています

  https://tver.jp/episodes/epobwj9djk
</p>

<p class="tver">
  ドラマ マイ・フィクション(2026) の配信がTVerで始まりました。
  8/30 23:59まで

  ※ ニカ玉＆レインボーのどきどき鑑賞会 第2弾

  Kis-My-Ft2(玉森裕太、二階堂高嗣)、レインボー(ジャンボたかお、池田直人) らが出演しています

  https://tver.jp/episodes/eposbv6zzd
</p>

<p class="tver">
  バラエティ バカリ教授の九州県人ガラパゴス進化論(2026) の配信がTVerで始まりました。
  9/1 23:59まで

  ※ 熊本に蔓延する謎文字「圣」

  バカリズム、井桁弘恵 らが出演しています

  https://tver.jp/episodes/epmor8az28
</p>

<p class="tver">
  バラエティ サンドウィッチマン＆芦田愛菜の博士ちゃん(2026) の配信がTVerで始まりました。
  8/10 18:00まで

  ※ 予約殺到！人気観光列車に大潜入2時間SP！

  サンドウィッチマン(伊達みきお、富澤たけし)、芦田愛菜、城島茂、市川紗椰、チャンカワイ(Wエンジン) らが出演しています

  https://tver.jp/episodes/epn2tsmt6d
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  8/9 18:56まで

  ※ マナブ！夏のひんやりグルメ博

  相葉雅紀、小峠英二(バイきんぐ)、岡部大(ハナコ)、あばれる君 らが出演しています

  https://tver.jp/episodes/ept8ngxgrk
</p>

<p class="tver">
  バラエティ ザ！鉄腕！DASH!!(2026) の配信がTVerで始まりました。
  8/9 18:59まで

  ※ 棲みつく可能性5%以下…新宿ミツバチを再び呼べるか!?

  城島茂、timelesz(松島聡、篠塚大輝) らが出演しています

  https://tver.jp/episodes/epu2r9bvgo
</p>

<p class="tver">
  バラエティ MXグランプリ～異端芸人決定戦～(2026) の配信がTVerで始まりました。
  9/30 23:59まで

  ※ 準決勝【Bブロック】

  ハリウッドザコシショウ、小栗有以(AKB48)、藤本敏史(FUJIWARA)、くっきー!(野性爆弾)、周平魂(ツートライブ)、井口浩之(ウエストランド)、イチキップリン、鎌、虹の黄昏、三村ロンド らが出演しています

  https://tver.jp/episodes/ep1k53au9e
</p>

<p class="tver">
  バラエティ バナナマンのせっかくグルメ!!(2026) の配信がTVerで始まりました。
  8/30 18:59まで

  ※ 夏に行きたい！北海道の人気観光地で食べまくりSP

  バナナマン(設楽統、日村勇紀)、蒼井優、夏帆、近藤春菜(ハリセンボン)、澤部佑(ハライチ)、川田裕美、高橋茂雄(サバンナ)、松田好花 らが出演しています

  https://tver.jp/episodes/ep850mfa6z
</p>

<p class="tver">
  バラエティ Golden SixTONES(2026) の配信がTVerで始まりました。
  8/9 20:59まで

  ※ ついに松平健が電撃参戦!!マツケンサンバ脳トレQ!!

  SixTONES(ジェシー、京本大我、松村北斗、高地優吾、森本慎太郎、田中樹)、松平健、千葉雄大、中条あやみ、タイムマシーン3号 らが出演しています

  https://tver.jp/episodes/ep3f28v10q
</p>

<p class="tver">
  バラエティ ダウンタウンのガキの使いやあらへんで！(2026) の配信がTVerで始まりました。
  8/9 23:24まで

  ※ 「男の勲章」かぶらず歌いきりクリアなるか?完結編

  浜田雅功(ダウンタウン)、月亭方正、ココリコ(遠藤章造、田中直樹)、ライセンス(藤原一裕、井本貴史)、陣内智則、水田信二、おいでやす小田、エース(バッテリィズ) らが出演しています

  https://tver.jp/episodes/ep1pjoadb1
</p>

<p class="tver">
  バラエティ 日曜日の初耳学(2026) の配信がTVerで始まりました。
  8/30 23:59まで

  ※ インタビュアー林修 堺雅人〈後編〉VIVANT撮影裏話＆共演者が語る「完璧な演技」

  林修、大政絢、河井ゆずる(アインシュタイン)、木嶋真優、澤部佑(ハライチ)、曽野舜太(M!LK)、中島健人、堺雅人、阿部寛、山本耕史、JEONGHAN、西野亮廣、DK、SEUNGKWAN、山崎賢人、石田純一 らが出演しています

  https://tver.jp/episodes/eppq1m2rpn
</p>

<p class="tver">
  バラエティ EIGHT-JAM(2026) の配信がTVerで始まりました。
  8/10 0:40まで

  ※ プロが語る楽曲提供！菅田将暉やCANDY TUNEの名曲誕生秘話も！

  SUPER EIGHT、古田新太、スガシカオ、石崎ひゅーい、玉屋2060%、Wienners、高橋茂雄(サバンナ)、堀田茜 らが出演しています

  https://tver.jp/episodes/epmnygs24k
</p>

<p class="tver">
  バラエティ 突然ですが占ってもいいですか？(2026) の配信がTVerで始まりました。
  8/31 23:59まで

  ※ CANDY TUNE恋と結婚7人の本音が大爆発

  沢村一樹、水野美紀、池田美優、ゲッターズ飯田、立花琴未(CANDY TUNE) らが出演しています

  https://tver.jp/episodes/epe4vpx8vy
</p>

<p class="tver">
  ドラマ キスは捜査のあとで(2026) 2話の配信がTVerで始まりました。
  10/5 23:59まで

  渡部秀、齋藤璃佑、工藤遥、金井勇太、ドロンズ石本、松井遥南、矢柴俊博 らが出演しています

  https://tver.jp/episodes/epfc8rx6kj
</p>

<p class="tver">
  ドラマ Get Ready!(2023) 6話の配信がTVerで始まりました。
  8/10 23:59まで

  妻夫木聡、松下奈緒、日向亘、一ノ瀬颯、橋本マナミ、當真あみ、結城萌、長見玲亜、片山友希、菅原卓磨、吉田涼哉、川本光貴、星野奈緒、鶴見辰吾、矢島健一、鹿賀丈史、藤原竜也 らが出演しています

  https://tver.jp/episodes/epu5vr7ti0
</p>

<p class="tver">
  ドラマ ハヤブサ消防団(2023) 4～6話の配信がTVerで始まりました。
  8/30 23:59まで

  中村倫也、川口春奈、満島真之介、古川雄大、岡部たかし、梶原善、橋本じゅん、山本耕史、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epmdcjry79
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 1話の配信がTVerで始まりました。
  9/8 23:59まで

  ※ 3日毎に最新話追加

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/ep6q9y33zb
</p>

<p class="tver">
  ドラマ 一次元の挿し木(2026) 5話の配信がTVerで始まりました。
  8/9 22:29まで

  山田涼介(Hey! Say! JUMP)、白石聖、木戸大聖、土居志央梨、和田正人、笠原秀幸、猪塚健太、小橋めぐみ、藤井美菜、田畑志真、堀田真由、松下由樹、吉原光夫、正名僕蔵、小手伸也、鈴木保奈美、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/ep8gittcjv
</p>

<p class="tver">
  ドラマ マイ・フィクション(2026) 5話の配信がTVerで始まりました。
  8/9 23:09まで

  玉森裕太(Kis-My-Ft2)、森川葵、宮澤エマ、野村周平、国仲涼子、レインボー(ジャンボたかお、池田直人)、結城萌、三浦りょう太、吉村界人、日影琉叶 らが出演しています

  https://tver.jp/episodes/epitr9qixk
</p>

<p class="tver">
  ドラマ VIVANT(2026) 12話の配信がTVerで始まりました。
  2027/1/17 20:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、山中崇、タナパック・ジョンジャイパー、富栄ドラム、高山みなみ、林原めぐみ、花岡すみれ、本間さえ、田中俊介、内野謙太、谷口翔太、藤本ルナ、二宮和也、林泰文、濱田岳、キムラ緑子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep5tnj8uue
</p>

<p class="tver">
  ドラマSP BARレモン・ハート(2020) の配信がTVerで始まりました。
  8/9 21:00まで

※ 今夜、ノンアルコールで酔う

  中村梅雀、川原和久、松尾諭、大和田伸也、宮澤エマ らが出演しています

  https://tver.jp/episodes/epeyw062h6
</p>

<p class="tver">
  ドラマ 泣いてたまるか(1966) の配信がTVerで始まりました。
  8/31 23:59まで

  渥美清、左幸子、穂積隆信、小山明子、イーデス・ハンソン、山田洋次 らが出演しています

  https://tver.jp/episodes/epgvr6tckx
</p>

<p class="tver">
  アニメ アズールレーン びそくぜんしんっ！にっ！！(2026) 5話の配信がTVerで始まりました。
  8/17 01:15まで

  山根希美、大地葉、長縄まりあ、阿部里果、茅原実里、巽悠衣子 らが出演しています

  https://tver.jp/episodes/eps0lmpwa3
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 5話の配信がTVerで始まりました。
  8/10 0:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/ep80wa2a7s
</p>

<p class="tver">
  アニメ さよならララ(2026) 5話の配信がTVerで始まりました。
  8/10 0:29まで

  菱川花菜、深見梨加、村瀬歩、大野智敬、真殿光昭、住友七絵、てらそままさき らが出演しています

  https://tver.jp/episodes/ep52cyc9ea
</p>

<p class="tver">
  アニメ 無職転生Ⅲ ～異世界行ったら本気だす～(2026) 5話の配信がTVerで始まりました。
  8/9 23:59まで

  内山夕実、杉田智和、茅野愛衣、小原好美、金元寿子、Lynn、会沢紗弥、高田憂希、鶴岡聡、逢坂良太、田中理恵、諸星すみれ、上田麗奈、興津和幸、若山詩音、小山力也 らが出演しています

  https://tver.jp/episodes/epw89hypa6
</p>

<p class="tver">
  アニメ ワンピース(2026) 1172話の配信がTVerで始まりました。
  8/9 23:15まで

  田中真弓、中井和哉、岡村明美、山口勝平、平田広明、大谷育江、山口由里子、木村昴、チョー、宝亀克寿 らが出演しています

  https://tver.jp/episodes/eptgua7ey0
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 4話の配信がTVerで始まりました。
  8/16 21:29まで

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ らが出演しています

  https://tver.jp/episodes/ep19eq70g4
</p>

<p class="tver">
  アニメ ポケットモンスター ジ・オリジン(2013?) の配信がTVerで始まりました。
  9/1 20:49まで

※ 90分

  竹内順子、江口拓也、森功至、杉田智和、小山力也、石川由依、川島得愛、稲葉実 らが出演しています

  https://tver.jp/episodes/epwxndaen3
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 4話の配信がTVerで始まりました。
  8/9 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/epdr2bvnb2
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  8/9 12:44まで

  ※ 芸歴45年!大ベテラン俳優・杉本哲太がお茶目な素顔を全開のグルメ旅!

  兼近大樹(EXIT)、満島真之介、杉本哲太 らが出演しています

  https://tver.jp/episodes/epyx7dluv6
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  8/9 13:59まで

  ※ 【絶品どんぶり登場】このお店に丼はある？ない？

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、馬場雄大、ジョシュ・ホーキンソン、向井慧(パンサー) らが出演しています

  https://tver.jp/episodes/ep6mqnux58
</p>

<p class="tver">
  バラエティ 亀梨和也の丁寧男子～10人大家族の部屋大改造SP～(2026) の配信がTVerで始まりました。
  8/16 23:59まで

  ※ MC亀梨和也！今日からマネできる簡単丁寧術！

  亀梨和也、七五三掛龍也(Travis Japan)、山本浩司(タイムマシーン3号)、藤本美貴 らが出演しています

  https://tver.jp/episodes/ep2f91wtvt
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 8話の配信がTVerで始まりました。
  8/9 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep8cpjhm38
</p>

<p class="yt">
  アニメ 三つ目がとおる 33～36話｜2026/7/24配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/AauiGiH_iBA
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  8/9 11:44まで

  ※ 空中散歩in横浜▼絶品グルメ争奪!空飛ぶオムライス&極上炒飯

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、生見愛瑠、平子祐希(アルコ&ピース) らが出演しています

  https://tver.jp/episodes/epuk70tbyx
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  8/9 6:59まで

  ※ 所さん×奥田民生さん・里のカブトムシやタガメ観察&夕ごはん!

  所ジョージ、奥田民生、トータス松本(ウルフルズ)、Tokyo Bug Boys らが出演しています

  https://tver.jp/episodes/ep7xs13ms7
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/9 10:59まで

  ※ とんぺい焼き＆もやしとキムチのミニ春巻き

  優香、稲垣飛鳥、かずや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/eplb3l778i
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/9 10:00まで

  ※ 寿司にぎりに大苦戦！？池尻でクリエイティブ体験！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、尾形貴弘(パンサー) らが出演しています

  https://tver.jp/episodes/epd9t9hchf
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 14回の配信がTVerで始まりました。
  8/9 12:00まで

  ※ アルピー広島に住ませて一発当てたい！STUのガチ行きつけ案内

  アルコ&ピース(平子祐希、酒井健太)、STU48(内海里音、森末姫奈、甲斐心愛) らが出演しています

  https://tver.jp/episodes/epr70dzum5
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。
  8/9 12:00まで

  ※ 牧野真莉愛、廃校・廃線跡地を再生！当別田園住宅プロジェクト

  飯田圭織、牧野真莉愛、波多野裕太 らが出演しています

  https://tver.jp/episodes/epxthcec61
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 6話の配信がTVerで始まりました。
  8/8 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、光石研、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epxh1ifom5
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 5話の配信がTVerで始まりました。
  8/9 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、迫田孝也、増田修一朗、谷口翔太、橋本真実、赤井英和、宮川一朗太、浜田晃、浅香航大、桜井聖、三遊亭小遊三、大西武志、赤堀雅秋、パパイヤ鈴木、酒向芳、小手伸也、西田尚美、八木亜希子、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epq4h8ksnx
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 4話の配信がTVerで始まりました。
  8/9 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、笹野高史、堀部圭亮、夕輝壽太、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/ep5awp64xl
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、中田喜子、笹野高史、相島一之、映美くらら、浅利陽介、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/eps1m9zacc
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 7～9話の配信がTVerで始まりました。
  8/9 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大塚露那、桜井センリ、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/eplnbsmt5n
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 6～7話の配信がTVerで始まりました。
  8/8 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、伊藤裕子、福田転球、山中崇、若山耀人、山本未來、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epnwc699pm
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 7話の配信がTVerで始まりました。
  8/8 11:59まで

  佐藤健、黒木華、桐谷健太、芦名星、中井ノエミ、グレッグ・デール、ロイック・ガルニエ、鈴木亮平、郷ひろみ らが出演しています

  https://tver.jp/episodes/epbzg2einm
</p>

<p class="tver">
  ドラマ リバース(2017) 4話の配信がTVerで始まりました。
  8/9 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、村井國夫、山崎銀之丞、趣里、篠原ゆき子、古田結凪、山口まゆ、鈴木仁、藤本泉、バッファロー吾郎A(バッファロー吾郎)、堀部圭亮、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep79hxgs3k
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 4話の配信がTVerで始まりました。
  8/9 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、忍成修吾、田中要次、森下能幸、滝沢沙織、篠田拓馬、綾部守人、銀粉蝶、鹿内孝、酒井敏也、真白由春、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epffvjbdx0
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、滝沢沙織、銀粉蝶、岡田浩暉、江守徹、三船美佳、螢雪次朗、小林隆、村松利史、五王四郎、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/ep8ebh4rfu
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 6～7話の配信がTVerで始まりました。
  8/8 11:59まで

  西島秀俊、香川照之、真木よう子、吉田鋼太郎、有村架純、池松壮亮、品川徹、奥貫薫、田中要次、田口浩正、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep3lzgdod2
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 8～9話の配信がTVerで始まりました。
  8/11 11:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、稲垣来泉、佐藤乃莉、光石研、酒井美紀、比留間由哲、黒田浩史、烏丸せつこ、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/ephve6b2rg
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 6話の配信がTVerで始まりました。
  9/2 23:59まで

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、小曽根叶乃、橋本じゅん らが出演しています

  https://tver.jp/episodes/ep06imqsh4
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 22話の配信がTVerで始まりました。
  8/9 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epo6y9b3b3
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009) 5話の配信がTVerで始まりました。
  8/16 09:00まで

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epej5trhpx
</p>

<p class="tver">
  アニメ 映画 ヒーリングっど♥プリキュア ゆめのまちでキュン！っとGoGo！大変身！！(2021)の配信がTVerで始まりました。
  8/16 23:59まで

  悠木碧、依田菜津、河野ひより、三森すずこ、加隈亜衣、武田華、金田アキ、白石晴香、三瓶由布子、竹内順子、伊瀬茉莉也、永野愛、前田愛、仙台エリ、草尾毅、入野自由 らが出演しています

  https://tver.jp/episodes/epgrx3qhz2
</p>

<p class="tver">
  アニメ 映画 スター☆トゥインクルプリキュア 星のうたに想いをこめて(2019)の配信がTVerで始まりました。
  8/16 23:59まで

  成瀬瑛美、小原好美、安野希世乃、小松未可子、上坂すみれ、木野日菜、吉野裕行、知念里奈 らが出演しています

  https://tver.jp/episodes/ep34puwix1
</p>

<p class="tver">
  アニメ 映画 ＨＵＧっと！プリキュア♡ふたりはプリキュア オールスターズメモリーズ(2018)の配信がTVerで始まりました。
  8/16 23:59まで

  引坂理絵、本泉莉奈、小倉唯、田村奈央、田村ゆかり、多田このみ、野田順子、本名陽子、ゆかな、田中理恵、樹元オリエ、榎本温子、三瓶由布子、竹内順子、伊瀬茉莉也、永野愛、前田愛、仙台エリ、関智一、矢島晶子、宮野真守 らが出演しています

  https://tver.jp/episodes/epbfadowlw
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 1話の配信がTVerで始まりました。
  8/10 08:30まで

  渡辺久美子、折笠富美子、阪口大助、緒方賢一、飯田友子、沼田祐介、緑川光、山口勝平、水田わさび、愛河里花子、玉川砂記子 らが出演しています

  https://tver.jp/episodes/ep8lzcixzw
</p>
