---
title: 2026/10/05 のピックアップ
date: 2026-10-05
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 大改造!!劇的ビフォーアフター(2026) の配信がTVerで始まりました。 101分
  終了日未記載

  ※ 2時間スペシャル！築120年、難問山積み物件「水回りが全部外にある家」を劇的に大改造

  所ジョージ、中村梅雀、矢田亜希子、キムラ緑子 らが出演しています

  https://tver.jp/episodes/ep9q61mny1
</p>

<p class="tver">
  バラエティ STU48 美活動部 はじめました！(2026) 33回の配信がTVerで始まりました。 19分
  終了日未記載

  ※ ガチ対談 岡村梨央＆迫姫華

  STU48(迫姫華、岡村梨央) らが出演しています

  https://tver.jp/episodes/epu621vg9m
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。 42分
  10/11 18:56まで

  ※ マナブ！秋のフルーツ祭り

  相葉雅紀、小峠英二(バイきんぐ)、岡部大(ハナコ)、あばれる君 らが出演しています

  https://tver.jp/episodes/epwnqewrua
</p>

<p class="tver">
  ドラマ おじさんはカワイイものがお好き。(2020) 1～5話の配信がTVerで始まりました。 44分
  終了日未記載

  眞島秀和、今井翼、桐山漣、藤原大祐、山本未來、富田望生、愛加あゆ、水間ロン、佐藤正和、森七菜 らが出演しています

  https://tver.jp/episodes/epm1bxx9vb
</p>

<p class="tver">
  ドラマ ワカコ酒(2019・4期) 12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  武田梨奈、鎌苅健太、堀田勝、野添義弘、山田キヌヲ、渡部瑞貴、しおつかこうへい、斉藤陽一郎、久保田康祐 らが出演しています

  https://tver.jp/episodes/ep2vzqknoe
</p>

<p class="tver">
  ドラマ 夫の家庭を壊すまで(2024) 1～4話の配信がTVerで始まりました。 40分
  終了日未記載

  松本まりか、竹財輝之助、野波麻帆、野村康太、麻生祐未、太田莉菜、田中美久、湯本晴、太田将熙、中島百依子(ダウ90000)、片桐美穂、川久保三子、中村育二 らが出演しています

  https://tver.jp/episodes/epbqij9jtl
</p>

<p class="yt">
  アニメ ブラック・ジャック 8～11話｜2026/10/4配信｜手塚プロダクション公式チャンネル｜1:37:00
  ※ 10/9 14:00まで

  大塚　明夫：ブラック・ジャック
  水谷　優子：ピノコ
  佐藤ゆうこ：写楽
  小野　涼子：和登
  富田　耕生：マスター
  川瀬　晶子：本間久美子
  石井　真：ラルゴ
  阪　脩：本間丈太郎
  堀　秀行：手塚医師
  内海賢二：友引警部
  大木民夫：山田野
  野沢那智：琵琶丸
  矢尾一樹：タカシ
  田中敦子：ブラッククィーン

  https://youtu.be/2ngG7o97z1c
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭とレタスと卵のチャーハン

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/ep2uyw4rr2
</p>

<p class="tver">
  バラエティ エンタメサーチバラエティ プレミアの巣窟(2026) の配信がTVerで始まりました。 20分
  10/12 2:25まで

  ※ 戸塚純貴のココを見ろ！？自身の注目ポイントは

  天野ひろゆき(キャイ〜ン)、国本梨紗、戸塚純貴 らが出演しています

  https://tver.jp/episodes/epus7h76pa
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 9話の配信がTVerで始まりました。 49分
  10/12 11:59まで

  神木隆之介、杉咲花、池田エライザ、清水尋也、三浦誠己、前原瑞樹、宮崎吐夢、豆原一成(JO1)、片岡凜、赤間麻里子、谷川昭一朗、中村シユン、池下重大、中嶋朋子、酒向芳、さだまさし、滝藤賢一、尾美としのり、美保純、土屋太鳳、宮本信子 らが出演しています

  https://tver.jp/episodes/epe3sxb1hu
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 31話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep85wq32nf
</p>

<p class="tver">
  アニメ FX戦士くるみちゃん(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木愛奈、瀬戸麻沙美、伊藤彩沙、岡咲美保 らが出演しています

  https://tver.jp/episodes/ephf5soi6u
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 11話の配信がTVerで始まりました。 24分
  10/12 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep66vy8p91
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 10話の配信がTVerで始まりました。 23分
  終了日未記載

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/epuc3xi0qm
</p>
