---
title: 2026/6/1 のピックアップ
date: 2026-06-01
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ ナゾ解き☆はるpyon調査隊(2026) の配信がTVerで始まりました。
  終了日未記載
  ※ [9分の番組です] 大岩で食べたい！山菜の謎

  橋本陽菜(AKB48) らが出演しています

  https://tver.jp/episodes/epbt0dry0n
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 1～3話の配信がTVerで始まりました。
  終了日未記載

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epyr0lsvxq
</p>

<p class="tver">
  ドラマ 家庭教師のトラコ(2022) 1～3話の配信がTVerで始まりました。
  終了日未記載

  橋本愛、中村蒼、美村里江、細田佳央太、矢島健一、丸山智己、細田善彦、阿久津慶人、永瀬ゆずな、板谷由夏、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epxjj9iv1g
</p>

<p class="tver">
  ドラマ 奥様は、取り扱い注意(2017) 1～3話の配信がTVerで始まりました。
  終了日未記載

  綾瀬はるか、広末涼子、本田翼、中尾明慶、石黒賢、西島秀俊、倉科カナ らが出演しています

  https://tver.jp/episodes/epuac3asz6
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 1～3話の配信がTVerで始まりました。
  終了日未記載

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、伊藤英明、安田顕、田中裕子 らが出演しています

  https://tver.jp/episodes/epp8vsstq4
</p>

<p class="tver">
  ドラマ 家売るオンナ(2016) 1～4話の配信がTVerで始まりました。
  終了日未記載

  北川景子、工藤阿須加、千葉雄大、イモトアヤコ、鈴木裕樹、新木優子、本多力、臼田あさ美、梶原善、仲村トオル、りょう らが出演しています

  https://tver.jp/episodes/eplhqrcev5
</p>

<p class="tver">
  ドラマ ど根性ガエル(2015) 1～3話の配信がTVerで始まりました。
  終了日未記載

  松山ケンイチ、満島ひかり、前田敦子、勝地涼、光石研、でんでん、白羽ゆり、新井浩文、白石加代子、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epk64pa3cl
</p>

<p class="tver">
  ドラマ リバーサルオーケストラ(2023) 1～3話の配信がTVerで始まりました。
  終了日未記載

  門脇麦、田中圭、永山絢斗、瀧内公美、坂東龍汰、恒松祐里、前野朋哉、濱田マリ、岡部たかし、津田健次郎、平田満、原日出子、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epjh3eam6r
</p>

<p class="tver">
  ドラマ Q10(2010) 1～3話の配信がTVerで始まりました。
  終了日未記載

  佐藤健、前田敦子、蓮佛美沙子、賀来賢人、柄本時生、高畑充希、細田善彦、福田麻由子、光石研、西田尚美、松岡璃奈子、池松壮亮、白石加代子、田中裕二、小野武彦、薬師丸ひろ子 らが出演しています

  https://tver.jp/episodes/epevoxeae5
</p>

<p class="tver">
  ドラマ 東京全力少女(2012) 1～3話の配信がTVerで始まりました。
  終了日未記載

  武井咲、三浦翔平、比嘉愛未、市川由衣、森カンナ、青木隆治、渋谷飛鳥、渡辺邦斗、内藤理沙、由美ローランス、志村玲那、酒井彩音、堀内敬子、温水洋一、塚本高史、渡部篤郎 他

  https://tver.jp/episodes/epe5ntskg4
</p>

<p class="tver">
  ドラマ 愛してたって、秘密はある。(2017) 1～3話の配信がTVerで始まりました。
  終了日未記載

  福士蒼汰、川口春奈、鈴木浩介、賀来賢人、白洲迅、柄本時生、吉川愛、山本未來、堀部圭亮、岡江久美子、遠藤憲一、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/epduzoiuo6
</p>

<p class="tver">
  ドラマ PRINCE OF LEGEND(2018) 1～3話の配信がTVerで始まりました。
  終了日未記載

  片寄涼太、飯島寛騎、塩野瑛久、鈴木伸之、川村壱馬、佐野玲於、関口メンディー、吉野北人、藤原樹、長谷川慎、町田啓太、清原翔、遠藤史也、こだまたいち、加藤諒、大和孔太、白石聖 らが出演しています

  https://tver.jp/episodes/ep73vye6h5g
</p>

<p class="tver">
  ドラマ 地味にスゴイ！校閲ガール・河野悦子(2016) 1～3話の配信がTVerで始まりました。
  終了日未記載

  石原さとみ、菅田将暉、本田翼、青木崇高、岸谷五朗、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/ep5v9psua6
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 1～3話の配信がTVerで始まりました。
  終了日未記載

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、成海璃子、小手伸也、水野美紀、梶原善 らが出演しています

  https://tver.jp/episodes/ep4hbbj0kk
</p>

<p class="tver">
  ドラマ 35歳の少女(2020) 1～3話の配信がTVerで始まりました。
  終了日未記載

  柴咲コウ、坂口健太郎、田中哲司、竜星涼、富田靖子、橋本愛、鈴木保奈美 らが出演しています

  https://tver.jp/episodes/ep0h3sxx2x
</p>

<p class="tver">
  アニメ ハイキュー!!(2014・1期) 1～6話の配信がTVerで始まりました。
  6/8 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epcc5q6jaf
</p>

<p class="tver">
  アニメ じょしらく(2012) 全13話の配信がTVerで始まりました。
  終了日未記載

  佐倉綾音、山本希望、小岩井ことり、南條愛乃、後藤沙緒里 らが出演しています

  https://tver.jp/episodes/epzatf8q54
</p>

<p class="tver">
  アニメ 昭和元禄落語心中 -助六再び篇-(2017・2期) 全12話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、牛山茂、山口勝平、加瀬康之、遊佐浩二、小松未可子、関俊彦、土師孝也、須藤翔 らが出演しています

  https://tver.jp/episodes/epmrubstgp
</p>

<p class="tver">
  アニメ 昭和元禄落語心中(2016・1期) 全13話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、家中宏、牛山茂、山口勝平、加瀬康之、遊佐浩二 らが出演しています

  https://tver.jp/episodes/ep5y06jiap
</p>

<p class="yt">
  UFOロボ グレンダイザー 第16話「こころにひびく愛の鐘」｜2026/5/30配信｜東映アニメーションミュージアムチャンネル｜25:47
※ 6/13 17:59まで？土曜18時配信中！各話２週間期間限定

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/UNtH1q2dsF8
</p>

<p class="tver">
  バラエティ 突然ですが占ってもいいですか？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 瀧本美織は貪欲な狼＆佐津川愛美…涙の転機

  沢村一樹、水野美紀、池田美優、大串ノリコ、瀧本美織、佐津川愛美 らが出演しています

  https://tver.jp/episodes/epwe2d29or
</p>

<p class="tver">
  アニメ ゴーストコンサート : missing Songs(2026) 9話の配信がTVerで始まりました。
  6/8 10:00まで

  藤寺美徳、小鹿なお、櫻井みゆき、安雪璃、佐藤聡美、日野聡、入野自由、陶山恵実里、日高里菜、寿美菜子 らが出演しています

  https://tver.jp/episodes/eprvnb9uht
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 18話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一、愛河里花子、鈴村健一、玉川砂記子、小林由美子、山口勝平、大塚みずえ、飯田友子、長嶝高士、中村精道、伊東健人 らが出演しています

  https://tver.jp/episodes/eplyt2mu1l
</p>

<p class="tver">
  アニメ 灰原くんの強くて青春ニューゲーム(2026) 9話の配信がTVerで始まりました。
  6/8 2:29まで

  上村祐翔、高尾奏音、中村カンナ、山根綺、鈴代紗弓、鈴木崚汰、大野智敬、愛美 らが出演しています

  https://tver.jp/episodes/ep70w24fpc
</p>

<p class="tver">
  アニメ 魔物喰らいの冒険者～俺だけ魔物を喰らって強くなる～(2026) 9話の配信がTVerで始まりました。
  6/8 1:15まで
  ※ 13分のアニメです

  古川慎、中島由貴 らが出演しています

  https://tver.jp/episodes/ep3ghe5506
</p>

<p class="tver">
  アニメ 前橋ウィッチーズ(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  春日さくら、咲川ひなの、本村玲奈、三波春香、百瀬帆南、杉田智和 らが出演しています

  https://tver.jp/episodes/ep6xnxnv3m
</p>
