---
title: 2026/7/19 のピックアップ
date: 2026-07-19
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ 超町人！チョコレートサムネット(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 極上うなぎにチョコプラ大興奮SP！うなぎ×○○ 禁断の組み合わせに箸が止まらないッ！！

  チョコレートプラネット(長田庄平、松尾駿)、矢口真里、宮下兼史鷹(宮下草薙) らが出演しています

  https://tver.jp/episodes/epv7luck7c
</p>

<p class="tver">
  バラエティ PITARI(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ Snow Man深澤が仰天！奇跡を目撃せよ！

  陣内智則、深澤辰哉(Snow Man)、松田里奈、数原龍友 らが出演しています

  https://tver.jp/episodes/epva9xqf8a
</p>

<p class="tver">
  バラエティ なりゆき街道旅(2026) の配信がTVerで始まりました。
  7/26 12:00まで

  ※ 新山千春＆柏木由紀と世田谷線沿線を満喫旅！

  ハナコ、新山千春、柏木由紀 らが出演しています

  https://tver.jp/episodes/epuf07zwtf
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  7/26 11:44まで

  ※ 最高にウマい!みんなの食べ方夏SP▼知念が名店でガチ料理修業

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、朝日奈央、紅しょうが らが出演しています

  https://tver.jp/episodes/epdyuza66e
</p>

<p class="tver">
  バラエティ 週刊さんまとマツコ(2026) の配信がTVerで始まりました。
  7/26 12:59まで

  ※ 副業でやっちまった芸能人反省会・後半戦

  明石家さんま、マツコ・デラックス、吉村崇(平成ノブシコブシ)、松本明子、元木大介 らが出演しています

  https://tver.jp/episodes/eptf7uc71n
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  7/26 12:44まで

  ※ 小栗旬と千葉房総を巡る。家族&友達&仕事(秘)エピソード深掘り爆笑爆食の旅。キングダムSP回(山崎賢人・山田裕貴 回)には入り切らなかったエピソードなど

  兼近大樹(EXIT)、満島真之介、小栗旬 らが出演しています

  https://tver.jp/episodes/epkq5b1w26
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  7/26 13:59まで

  ※ 【渋谷SP】パルコ・109・タワーレコードの秘密とは

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、芝大輔(モグライダー)、神田愛花 らが出演しています

  https://tver.jp/episodes/ep236eth8r
</p>

<p class="tver">
  バラエティ ザ・イロモネア(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ゴールドラッシュ〜イロモネアへの道〜

  出水麻衣、南波雅俊、青色1号、足腰げんき教室、カカロニ、元祖いちごちゃん、きしたかの、金の国、スタミナパン、友田オレ、パンプキンポテトフライ、ぱーてぃーちゃん、ひつじねいり、ベルナルド、四千頭身、ラパルフェ、リンダカラー∞ らが出演しています

  https://tver.jp/episodes/ep11a4uqm0
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 10話の配信がTVerで始まりました。
  7/26 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/epg0z167mp
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 32話の配信がTVerで始まりました。
  7/26 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epf90qwjsq
</p>

<p class="yt">
映画 「オーシャンズ」(2010)｜2026/7/17配信｜ギャガ公式チャンネル｜1:44:15

吹替版：https://youtu.be/0Xpuw3uEr_4
字幕版：https://youtu.be/PFf78dxQuZE

ナビゲーター：宮沢りえ

</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  7/26 10:00まで

  ※ 増刊号。伊達の食欲が止まらない！絶品グルメSP

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、山寺宏一、本郷奏多 らが出演しています

  https://tver.jp/episodes/epfq34tms5
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 12回の配信がTVerで始まりました。
  7/26 12:00まで

  ※ 番組グッズで一発当てたい！

  アルコ&ピース(平子祐希、酒井健太)、STU48(福田朱里、内海里音、中村舞、森末妃奈、島田紗香) らが出演しています

  https://tver.jp/episodes/epcv60tb2i
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 2話の配信がTVerで始まりました。
  9/27 23:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、カラテカ、松井遥南、カトウシンスケ、市原茉莉、小峠英二(バイきんぐ)、杉田雷麟、東根作寿英、黒川晏慈、津田健次郎、ファーストサマーウイカ、藤井隆、津田寛治、池田成志、生瀬勝久、木村佳乃 らが出演しています

  https://tver.jp/episodes/epzqmctih1
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 6話の配信がTVerで始まりました。
  7/24 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、中島ひろ子、宍戸美和公、小柳友、麻木玲那、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epwvhl5lq1
</p>

<p class="tver">
  ドラマ 終電バイバイ(2013) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  濱田岳、谷村美月、柿澤勇人、高橋周平、岸井ゆきの、中野剛、野間口徹、上地雄輔、谷中敦、東京スカパラダイスオーケストラ らが出演しています

  https://tver.jp/episodes/epupw6o31x
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、吹越満、津嘉山正種、佐戸井けん太、芹澤名人、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、泉晶子、福本伸一、小久保丈二、高杉航大、森川数間、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/eppt9204wr
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、馬場徹、立石涼子、朝倉あき、宮尾俊太郎、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、原アンナ、イモトアヤコ、森崎博之、福澤朗、品川徹、岡田浩暉、高橋努、森次晃嗣、古川雄大、モロ師岡、古舘伊知郎、甲本雅裕、木下ほうか、工藤夕貴、山本學、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎 らが出演しています

  https://tver.jp/episodes/eplekrmo1v
</p>

<p class="tver">
  ドラマ 職員室(1997) 12(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  浅野温子、仲村トオル、的場浩司、益岡徹、水野美紀、加賀谷純一、田岡美也子、松澤一之、信実一徳、山下容莉枝、山本龍二、小日向文世、松井範雄、那須佐代子、大河内浩、伊集院光、塚本高史、横山めぐみ、野際陽子 らが出演しています

  https://tver.jp/episodes/ephy2z4iol
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、ブラザートム、新谷真弓、戸田昌宏、斉藤陽一郎、三遊亭遊三、滝沢沙織、櫻庭博道、塩澤英真、櫻井淳子、矢島健一、陣内孝則、野際陽子 らが出演しています

  https://tver.jp/episodes/ep931cjagj
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、菊池亜希子、小日向ゆか、吉住、沢井美優、高瀬英璃、青島心、肥後克広(ダチョウ倶楽部)、片平なぎさ らが出演しています

  https://tver.jp/episodes/ep5qo126qe
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 8話の配信がTVerで始まりました。
  7/26 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epbb4fyvkc
</p>

<p class="tver">
  ドキュメンタリー 遠くへ行きたい(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【本上まなみが長崎へ】棚田の美味ちまき＆人気の波佐見焼

  本上まなみ らが出演しています

  https://tver.jp/episodes/epoghyhbff
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  7/26 6:59まで

  ※ かがくの里に奥田民生がやってきた!所さんと母屋に宿泊SP

  所ジョージ、奥田民生、トータス松本(ウルフルズ) らが出演しています

  https://tver.jp/episodes/epa805sgjx
</p>

<p class="tver">
  アニメ 超宇宙刑事ギャバン インフィニティ(2026) 23(最終)話の配信がTVerで始まりました。
  7/26 10:00まで

  長田光平、赤羽流河、角心菜、松永有紘、有坂心花、安田啓人、入山杏奈、谷田ラナ、平岡祐太 らが出演しています

  https://tver.jp/episodes/epz66bdbo9
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/ep9tfxy3ke
</p>
