---
title: 2026/9/08 のピックアップ
date: 2026-09-08
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。 30分
  9/15 12:00まで

  ※ 今回は東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演された、宙組の「鳳城 のあん」さんと「梨恋 あやめ」さんの本公演トークをメインにお送りします

  中井美穂、立川らく次 らが出演しています

  https://tver.jp/episodes/ep11scxne5
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 3話の配信がTVerで始まりました。 44分
  10/10 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、田丸麻紀、藤本涼、畑芽育、泉ノ波あみ、Nono、花澤桃花、江藤あや、久保田かずのぶ(とろサーモン)、藤原光博(リットン調査団) らが出演しています

  https://tver.jp/episodes/epxq8g3ite
</p>

<p class="tver">
  ドラマ リセット(2009) 3話の配信がTVerで始まりました。 31分
  10/14 12:00まで

  田中直樹(ココリコ)、浅利陽介、木南晴夏、星田英利、金山一彦 らが出演しています

  https://tver.jp/episodes/epo4datnor
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 3話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  山田優、金子ノブアキ、勝村政信、野間口徹 らが出演しています

  https://tver.jp/episodes/epgswh8bkb
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 3話の配信がTVerで始まりました。 44分
  10/9 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、長谷川朝晴、井上肇、向里祐香、山田キヌヲ、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep8y774d5z
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 3話の配信がTVerで始まりました。 44分
  10/14 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、秋元才加 らが出演しています

  https://tver.jp/episodes/ep4c1lkrk0
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 7話の配信がTVerで始まりました。 44分
  9/22 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、金剛地武志、大沢ひかる、小西遼生、遊井亮子 らが出演しています

  https://tver.jp/episodes/ep1pit479b
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 7話の配信がTVerで始まりました。 46分
  9/15 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、片岡凜、小林星蘭、野間口徹、坪倉由幸(我が家)、若林時英、坂倉なつこ、田中哲司、MEGUMI、さだまさし らが出演しています

  https://tver.jp/episodes/epzoiyr7ln
</p>

<p class="tver">
  ドラマ いつか、ヒーロー(2025) 7話の配信がTVerで始まりました。 45分
  終了日未記載

  桐谷健太、宮世琉弥、長濱ねる、泉澤祐希、曽田陵介、星乃夢奈、駒木根葵汰、小関裕太、でんでん、板谷由夏、北村有起哉、渡辺光、谷恭輔 らが出演しています

  https://tver.jp/episodes/epen2kclh1
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 8話の配信がTVerで始まりました。 47分
  9/15 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、小手伸也、佐野勇斗(M!LK)、佐藤栞里、フォンチー、馬場徹、諏訪太朗、猪塚健太、工藤美桜、黒田こらん、菜々緒、稲森いずみ、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epemzz59fp
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 8話の配信がTVerで始まりました。 47分
  9/15 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、松本実、金子ゆい、大山竜一、肥後克広(ダチョウ倶楽部)、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/epcohiu0qb
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 7話の配信がTVerで始まりました。 47分
  9/15 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、筒井道隆、本田博太郎、モロ師岡、生田絵梨花、津嘉山正種、橋爪淳、酒向芳、小手伸也、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epbaqpudeg
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 6話の配信がTVerで始まりました。 45分
  9/14 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、中島ひろ子、宍戸美和公、小柳友、麻木玲那、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep5i4z38td
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 4～5話の配信がTVerで始まりました。 47分
  9/14 11:59まで

  ※ 1～3話は配信済み、続行中

  4～5話：https://tver.jp/episodes/epzrtziz86
  1～3話：https://tver.jp/episodes/epwz3a4ke9

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、古川りか、大方斐紗子、田島令子、高橋一生、佐々木睦、国仲涼子、小橋賢児、余貴美子、竜雷太 らが出演しています
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 7話の配信がTVerで始まりました。 46分
  9/15 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、片平なぎさ、武田真治、西田尚美、長谷川忍(シソンヌ)、足立智充、不破万作、深沢敦、山本浩司、ファーストサマーウイカ、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep29mbiyg6
</p>

<p class="tver">
  ドラマ 僕らは恋がヘタすぎる(2020) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  川島海荷、白洲迅、浅川梨奈、嶋﨑斗亜(Lilかんさい)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epcym958ek
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 12話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/eprahuaq3j
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 10話の配信がTVerで始まりました。 25分
  9/15 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/eprgv50v3e
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 68話の配信がTVerで始まりました。 24分
  9/15 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep3s36fslm
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 31話の配信がTVerで始まりました。 25分
  9/15 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epuwrforom
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 10話の配信がTVerで始まりました。 25分
  9/15 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epb1mw4vw9
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 10話の配信がTVerで始まりました。 25分
  9/15 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/ep5v3bvhyl
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/ep110i87jz
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 5話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/ep1z8buqii
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 10話の配信がTVerで始まりました。 23分
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/epfv6n2l0o
</p>
