---
title: 2026/7/26 のピックアップ
date: 2026-07-26
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  UFOロボ グレンダイザー 第24話「危うしデュークフリード!」｜2026/7/25配信｜東映アニメーションミュージアムチャンネル｜25:46
※ 8/8 17:59まで。土曜18時配信中！各話２週間期間限定

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/on_FOJajBVk
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  8/2 18:56まで

  ※ マナブ！地引き網で大調査！～相模湾編～

  相葉雅紀、小峠英二(バイきんぐ)、岡部大(ハナコ)、あばれる君、佐藤勝利(timelesz) らが出演しています

  https://tver.jp/episodes/epj2agx64e
</p>

<p class="tver">
  バラエティ ザ！鉄腕！DASH!!(2026) の配信がTVerで始まりました。
  8/2 18:59まで

  ※ 笑点60周年記念夏祭り!師匠全員参加で巨大お好み焼き!

  城島茂、横山裕(SUPER EIGHT)、藤原丈一郎(なにわ男子)、三遊亭好楽、三遊亭小遊三、春風亭昇太、林家たい平、立川晴の輔、春風亭一之輔、桂宮治、山田たかお らが出演しています

  https://tver.jp/episodes/epr0gpj8e5
</p>

<p class="tver">
  バラエティ バナナマンのせっかくグルメ!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 夏に行きたい人気リゾート地SP

  バナナマン(設楽統、日村勇紀)、堺雅人、濱田岳、今田美桜、小泉孝太郎、佐藤栞里、陣内智則、藤本美貴、村上佳菜子、横澤夏子 らが出演しています

  https://tver.jp/episodes/epiu8hzkrp
</p>

<p class="tver">
  ドラマ VIVANT(2026) 11話の配信がTVerで始まりました。
  終了日未記載

  堺雅人、阿部寛、二階堂ふみ、竜星涼、山中崇、富栄ドラム、林原めぐみ、花岡すみれ、市川笑三郎、平山祐介、珠城りょう、内村遥、井上肇、西山潤、木幡竜、本間さえ、田中俊介、内野謙太、谷口翔太、藤本ルナ、花江夏樹、鬼頭明里、関智一、中山孟、原布助、二宮和也、橋爪功、井上順、市川猿弥、小林勝也、森田順平、池田成志、林泰文、吉原光夫、坂東彌十郎、濱田岳、キムラ緑子、小日向文世、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/ep9g9yncsv
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ らが出演しています

  https://tver.jp/episodes/ep9luhp03s
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 3話の配信がTVerで始まりました。
  8/2 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/ep00971t13
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  8/2 11:44まで

  ※ 絵と図!真夏のクイズ祭り▼山田&めるる「即興絵描き歌」で波乱!?

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、生見愛瑠、松尾そのま、金ちゃん(鬼越トマホーク) らが出演しています

  https://tver.jp/episodes/epx25lbdy6
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  8/2 12:44まで

  ※ 芸能生活50年の山本耕史とグルメ旅!筋肉・俳優・家族について語りまくる

  兼近大樹(EXIT)、満島真之介、山本耕史 らが出演しています

  https://tver.jp/episodes/epxon6n9l1
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  8/2 13:59まで

  ※ CanCam編集部に潜入&爆売れ雑誌ハルメクの秘密

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、土屋アンナ、山本浩司(タイムマシーン3号) らが出演しています

  https://tver.jp/episodes/epoicu11f6
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 11話の配信がTVerで始まりました。
  8/2 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/epskg0qk19
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 1話の配信がTVerで始まりました。
  9/4 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epgc0ms8s0
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 44話の配信がTVerで始まりました。
  8/2 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ephur8mwzi
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  8/2 6:59まで

  ※ 所さんと奥田民生さんが絶品イノシシ肉で燻製作り!?

  所ジョージ、奥田民生、トータス松本、ウルフルズ らが出演しています

  https://tver.jp/episodes/epq1yzl7ln
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。
  8/2 12:00まで

  ※ 牧野真莉愛、業界に革新、次世代のホテル運営会社とは

  飯田圭織、牧野真莉愛、波多野裕太、堰八紗也佳 らが出演しています

  https://tver.jp/episodes/eppeaxhscz
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/2 10:59まで

  ※ レンジde簡単ナスキーマ＆グリルde焼きナス

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epoijhhyh4
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/2 10:00まで

  ※ 増刊号。学生街で絶品グルメ爆食SP！衝撃のコスパ飯！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、伊達さゆり らが出演しています

  https://tver.jp/episodes/ep4oc7sxe6
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 13回の配信がTVerで始まりました。
  8/2 12:00まで

  ※ 番組グッズで一発当てたい！後編

  アルコ&ピース(平子祐希、酒井健太)、STU48(福田朱里、内海里音、中村舞、森末妃奈、島田紗香) らが出演しています

  https://tver.jp/episodes/eprwlwbn6p
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、吉家章人、岩寺真志、大塚ヒロタ、阿部丈二、モト冬樹、桐谷健太、池内博之、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epp3c5qudi
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 4話の配信がTVerで始まりました。
  8/1 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、あばれる君、斎藤司(トレンディエンジェル)、信川清順、倉科カナ、浜野謙太、津田健次郎、倉沢杏菜、吉沢梨絵、ファーストサマーウイカ、池田成志、木村佳乃 らが出演しています

  https://tver.jp/episodes/epo32u224g
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、小関裕太、丸山智己、田中要次、さだまさし らが出演しています

  https://tver.jp/episodes/epfhqrp6jz
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 2話の配信がTVerで始まりました。
  9/27 23:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、芦名星、森岡龍、坪倉由幸(我が家)、黒田大輔、大西武志、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epf9ubdeq7
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 1～6話の配信がTVerで始まりました。
  9/27 23:59まで

  ※　4～6話は 8/2 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大河内浩、大塚露那、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/epbwo9c26b
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 2話の配信がTVerで始まりました。
  9/27 23:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市川猿之助、赤井英和、松金よね子、林泰文、東根作寿英、三遊亭小遊三、赤堀雅秋、パパイヤ鈴木、橋爪淳、酒向芳、西田尚美、八木亜希子、三上博史 らが出演しています

  https://tver.jp/episodes/epbo4sd1hw
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 9話の配信がTVerで始まりました。
  8/1 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、横田栄司、高橋洋、葉山奨之、中島ひろ子、岡田浩暉、内田理央、橋爪淳、日向丈、今藤洋子、佐々木一平、清水優、宇梶剛士、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep37q4fvtc
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 15話の配信がTVerで始まりました。
  8/2 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/eph2mtzllo
</p>

<p class="tver">
  アニメ 角醒ハンター オメガホーン(2026) 1話の配信がTVerで始まりました。
  8/2 10:00まで

  楢原聖、国上将大、糸瀬七葉、三浦舞華、加藤憲史郎、田鶴翔吾、小西詠斗、光宗薫、桜庭大翔、長田光平 らが出演しています

  https://tver.jp/episodes/epse37cbfg
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2026) 4話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epqnpbx865
</p>
