---
title: 2026/7/17 のピックアップ
date: 2026-07-17
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  ドラマ 真夏のシンデレラ(2023) 1話の配信がTVerで始まりました。
  8/31 23:59まで

  森七菜、間宮祥太朗、神尾楓珠、吉川愛、萩原利久、白濱亜嵐、仁村紗和、水上恒司 らが出演しています

  https://tver.jp/episodes/ephi88fsx0
</p>

<p class="yt">
  TVアニメ「ユーリ!!! on ICE」1～12話｜2026/7/17配信｜avex pictures｜4:41:57
  ※ 2026/8/17(月) 12:00まで。頭出し可

  豊永　利行：勝生勇利
  諏訪部順一：ヴィクトル・ニキフォロフ
  内山　昂輝：ユーリ・プリセツキー
  野島　健児：イ・スンギル
  日野　　聡：エミル・ネコラ
  細谷　佳正：オタベック・アルティン
  羽多　野渉：ギオルギー・ポポーヴィッチ
  安元　洋貴：クリストフ・ジャコメッティ
  本城雄太郎：ジ・グァンホン
  宮野真　守：ジャン・ジャック・ルロワ
  小野　賢章：ピチット・チュラノン
  前野　智昭：ミケーレ・クリスピーノ
  村瀬　　歩：南健次郎
  土岐　隼一：レオ・デ・ラ・イグレシア

  https://youtu.be/yhlnzxwwRFk
</p>

<p class="yt">
  アニメ 三つ目がとおる 13～16話｜2026/7/13配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/a-yxVQGxDPo
</p>

<p class="yt">
  アニメ 三つ目がとおる 17～20話｜2026/7/15配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/UrgBrL3PRpE
</p>

<p class="yt">
  アニメ 三つ目がとおる 21～24話｜2026/7/17配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/rox0XheVhRA
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  7/24 23:29まで

  ※ 神尾楓珠、弓道強豪校に一日入部

  三村マサカズ、青木崇高、神尾楓珠 らが出演しています

  https://tver.jp/episodes/epckmm5vdm
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  7/24 22:30まで

  ※ 自炊61　カルボナーラ＆ブルスケッタ

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep7e2b2br6
</p>

<p class="tver">
  バラエティ さんまのまんま(2026) の配信がTVerで始まりました。
  7/31 23:59まで

  ※ スピードスケート髙木姉妹の過酷トレ▽仲里依紗の息子をさんまがスカウト。GTO復活！反町隆史のドラマ裏話▽西&朝井の直木賞作家コンビが帰らない!?

  前編：https://tver.jp/episodes/ep9iv6zlmn
  後編：https://tver.jp/episodes/epoyfyxxbw

  明石家さんま、高木菜那、高木美帆、仲里依紗、朝井リョウ、西加奈子、反町隆史、生見愛瑠、見取り図(盛山晋太郎、リリー)、今井らいぱち らが出演しています
</p>

<p class="tver">
  バラエティ オーイシマサヨシ×鈴木愛理の【でしょでしょ!!】(2026) の配信がTVerで始まりました。
  8/18 00:00まで

  ※ 【新企画】でしょラジ!!　初回配信 ゲストはなんとアニソン界の女王・水樹奈々さん！

  大石昌良、鈴木愛理、水樹奈々 らが出演しています

  https://tver.jp/episodes/epa6gpzvar
</p>

<p class="tver">
  バラエティ キッチンカー大作戦！(2026) の配信がTVerで始まりました。
  7/25 1:05まで

  ※ 「家系ラーメシ」販売の行方は？

  ヒロミ、指原莉乃、秋山具義、はっしー（橋本陽）、小寺慶子、小川充雄、AKB48(千葉恵里、徳永羚海) らが出演しています

  https://tver.jp/episodes/epi4at3v66
</p>

<p class="tver">
  バラエティ 三村やす子のバズマンTV(2026) の配信がTVerで始まりました。
  8/1 01:15まで

  ※ 【推しキャラ愛プレゼン】ぱーてぃーちゃん信子VSオダウエダ植田！推しケーキを総取りするのはどっち？

  三村マサカズ、さまぁ〜ず、やす子、植田紫帆(オダウエダ)、信子(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/ep95w5fvh4
</p>

<p class="tver">
  バラエティ 音道楽√(2026) の配信がTVerで始まりました。
  7/25 0:39まで

  ※ 竹原ピストル名曲誕生秘話＆熱唱！VIBY㊙ゲームに挑戦！

  エルフ、藤岡宗我、西川貴教、ヨコタシンノスケ、キュウソネコカミ、樋口大喜、竹原ピストル、IO、RENKI、VIBY らが出演しています

  https://tver.jp/episodes/ep28vdr4sb
</p>

<p class="tver">
  ドラマ 寺西一浩ミステリー・SPELL～第5章～ 正しい呪い(2026) 2話の配信がTVerで始まりました。
  2027/1/18 01:29まで

  寺西優真、泉ピン子、沙央くらま、上野勇希、大関れいか、丹羽貞仁 らが出演しています

  https://tver.jp/episodes/eptbjv1h22
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 3話の配信がTVerで始まりました。
  10/3 00:51まで

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、津田寛治、石川瑠華、谷仲恵輔、園山敬介、緒方ありさ、高沢ふうこ らが出演しています

  https://tver.jp/episodes/ep1rr7htyf
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 3話の配信がTVerで始まりました。
  10/3 00:51まで

  円井わん、福山翔大、片岡千之助、南久松真奈、三島ゆたか、坂本羅門、中澤功、平野稜真、雨宮舞香、松下貞治、高橋虎之介 らが出演しています

  https://tver.jp/episodes/epdujtob8p
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 1話の配信がTVerで始まりました。
  9/30 23:59まで

  吉川愛、綱啓永、髙松アロハ(超特急)、勝村政信、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epkfi8505z
</p>

<p class="tver">
  ドラマ 婚姻届に判を捺しただけですが(2021) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  清野菜名、坂口健太郎、倉科カナ、高杉真宙、前野朋哉、中川翔子、笠原秀幸、小林涼子、森永悠希、深川麻衣、岡田圭右、ますだおかだ、長見玲亜、村松利史、桜井聖、吉田悟郎、菜月、佐藤遥、簑輪裕太、羽田将大、杉本彩、ルー大柴、小倉久寛、朝加真由美、木野花、田辺誠一 らが出演しています

  https://tver.jp/episodes/epveluugrm
</p>

<p class="tver">
  ドラマ 初恋DOGs(2025) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  清原果耶、成田凌、ナ・イヌ、萩原利久、宮澤エマ、なだぎ武、野呂佳代、宮崎秋人、永瀬莉子、NOA、円井わん、ジン・デヨン、ハン・ジウン、エン、イ・ミヨン、坂井真紀、深田恭子、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epsonxxqiw
</p>

<p class="tver">
  ドラマ 離婚弁護士(2004) 6話の配信がTVerで始まりました。
  7/24 23:59まで

  天海祐希、玉山鉄二、佐々木蔵之介、久我陽子、陣内孝則、津川雅彦 らが出演しています

  https://tver.jp/episodes/epdrznfgc9
</p>

<p class="tver">
  ドラマ Get Ready!(2023) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  妻夫木聡、松下奈緒、日向亘、一ノ瀬颯、橋本マナミ、當真あみ、結城モエ、中山麻聖、田野倉雄太、長見玲亜、片山友希、菅原卓磨、吉田涼哉、川本光貴、星野奈緒、三石琴乃、池松壮亮、入江甚儀、田中要次、梶裕貴、ふるごおり雅浩、吉田悟郎、大場みなみ、鈴木英一郎、伊武雅刀、矢島健一、鹿賀丈史、藤原竜也 らが出演しています

  https://tver.jp/episodes/epayhu1iaj
</p>

<p class="tver">
  ドラマ テセウスの船(2020) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  竹内涼真、榮倉奈々、安藤政信、貫地谷しほり、芦名星、竜星涼、せいや(霜降り明星)、今野浩喜、加治将樹、相原未来、佐藤タダヤス、白鳥玉季、番家天嵩、柴崎楓雅、上野樹里、ユースケ・サンタマリア、六平直政、不破万作、笹野高史、麻生祐未、鈴木亮平 らが出演しています

  https://tver.jp/episodes/ep33w2l0gt
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 2話の配信がTVerで始まりました。
  7/24 21:59まで

  蒼井優、中島歩、高橋文哉、齋藤飛鳥、庄司浩平、久保田薫、中井友望、相馬有紀実、島本須美、夏帆、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/ep57blp200
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 14話の配信がTVerで始まりました。
  7/25 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/epb1ajwj5x
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  7/31 19:55まで

  ※ 伝説の家政婦志麻さん 橋本環奈&要潤＆かまいたち衝撃！猛暑乗り切る天下統一級の夏料理14連発

  設楽統(バナナマン)、黒田みゆ、小栗有以(AKB48)、カズレーザー(メイプル超合金)、神尾楓珠、出川哲朗、那須晃行(なすなかにし)、矢田亜希子、要潤、かまいたち、塩野瑛久、松井ケムリ(令和ロマン)、野呂佳代、橋本環奈、タサン志麻 らが出演しています

  https://tver.jp/episodes/ep4x5gssng
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  7/31 20:59まで

  ※ 番組初の珍金庫2連発！奇跡が起きた2時間半スペシャル

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、稲垣吾郎、正源司陽子、マルセイユ、別府ともひこ(エイトブリッジ)、高野正成(きしたかの)、カナメストーン、槇大輔 らが出演しています

  https://tver.jp/episodes/eplok3uzkj
</p>

<p class="tver">
  バラエティ 知識の扉よ開け！ドア×ドア クエスト(2026) の配信がTVerで始まりました。
  7/24 20:54まで

  ※ トイ・ストーリー人気の秘密を探るためアメリカのピクサー・アニメーション・スタジオ本社へ突撃！ロングセラーお菓子クイズ

  ピクサー：https://tver.jp/episodes/epj086g9gr
  お菓子クイズ：https://tver.jp/episodes/ep6ewt4889

  小峠英二(バイきんぐ)、田村真子、平子祐希(アルコ&ピース)、臼田あさ美、上地雄輔、バービー(フォーリンラブ)、M!LK(佐野勇斗、塩﨑太智)、真地勇志 らが出演しています
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 3話の配信がTVerで始まりました。
  7/27 22:00まで

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/epvj53qpap
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 25～30話の配信がTVerで始まりました。
  7/31 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/ep1k5wvd2v
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 9話の配信がTVerで始まりました。
  7/23 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、斉藤優、パラシュート部隊、絃瀬聡一、野村康太、酒井敏也、野間口徹、池谷のぶえ、板倉武志、鳥谷宏之、唐沢龍之介、佐久間美波、小沼朝生、滝裕二郎、市川大貴、浅見和哉、湯田幸希、白鳥廉、成田凌、藤本隆宏、西田尚美、酒向芳、間宮啓行、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epvk9isipu
</p>

<p class="tver">
  ドラマ 左目探偵EYE(2010) SP,1～2話の配信がTVerで始まりました。
  8/17 23:59まで

  SP：https://tver.jp/episodes/epuefq7pt6
  1～2話：https://tver.jp/episodes/epw6r4cqhh

  山田涼介(Hey! Say! JUMP)、横山裕(SUPER EIGHT)、石原さとみ、岡田義徳、はるな愛、Crystal Kay、古田新太、渡辺いっけい、佐野史郎、片平なぎさ らが出演しています
</p>

<p class="tver">
  ドラマ もみ消して冬 ～わが家の問題なかったことに～(2018) 1～3話の配信がTVerで始まりました。
  8/17 23:59まで

  山田涼介(Hey! Say! JUMP)、波瑠、小澤征悦、小瀧望(WEST.)、恒松祐里、児嶋一哉(アンジャッシュ)、千葉雄大、浅野和之、中村梅雀 らが出演しています

  https://tver.jp/episodes/ep8du8nedh
</p>

<p class="tver">
  ドラマ ダメマネ！ ーダメなタレント、マネジメントしますー(2025) 1～3話の配信がTVerで始まりました。
  8/17 23:59まで

  川栄李奈、安田顕、千葉雄大、鈴木仁、倉沢杏菜、古田愛理、華優希、増田梨沙、寺島しのぶ、竹中直人、永野宗典、濱田マリ、橋本じゅん、吉瀬美智子、山田涼介(Hey! Say! JUMP) らが出演しています

  https://tver.jp/episodes/ep343ac9xa
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 9話の配信がTVerで始まりました。
  7/23 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep277zax27
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 9話の配信がTVerで始まりました。
  7/23 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、佐藤二朗、半海一晃、黒田知永子、山本圭、勝村政信 らが出演しています

  https://tver.jp/episodes/ep11snfvtj
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、市川知宏、小澤美和、山本舞香、段田安則、内藤剛志 らが出演しています

  https://tver.jp/episodes/epw9kojnui
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG(2PM)、相葉裕樹、菊田大輔、永瀬匡、山下真司、田中要次、佐々木希、永田裕志、菅原永二、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/eps2dnak0i
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、池松壮亮、津嘉山正種、大鷹明良、瑳川哲朗、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epqv9miol4
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、木下ほうか、倍賞美津子、吉川晃司、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、篠井英介、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、横田栄司、大鷹明良、中村歌昇、本郷弦、高島彩、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/epkpuy3sy1
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、丸一太、渋江譲二、岩下尚史、田中みな実、大黒摩季、堀越麗禾、誠直也、蘭寿とむ、井上肇、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epg7mjc6vy
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、平山祐介、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、浅野和之、小栗旬、酒井美紀、岡本玲、三浦誠己、須田邦裕、黒田大輔、前田公輝、西田尚美、吉沢悠、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/ep9okvi6pk
</p>

<p class="tver">
  ドラマ 新参者(2010) 9話の配信がTVerで始まりました。
  7/23 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、泉谷しげる、速水もこみち、木村祐一、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/ep6m9ofidx
</p>

<p class="tver">
  ドラマ VIVANT(2023) 9(最終)話の配信がTVerで始まりました。
  7/23 5:59まで

  堺雅人、市川笑三郎、平山祐介、珠城りょう、馬場徹、内村遥、井上肇、西山潤、花江夏樹、二宮和也、林遣都、高梨臨、モロ師岡、林泰文、吉原光夫、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/epjxj2yhgp
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 1話の配信がTVerで始まりました。
  10/9 23:59まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epc4gfeott
</p>

<p class="tver">
  アニメ 盗掘王(2026) 1話の配信がTVerで始まりました。
  7/24 11:59まで

  細谷佳正、入野自由、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epa7elhnot
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 1～6話の配信がTVerで始まりました。
  7/24 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/ep6uxq4916
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 27(28)話の配信がTVerで始まりました。
  7/31 08:30まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep7ybhmxod
</p>
