---
title: 2026/8/8 のピックアップ
date: 2026-08-08
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1615回の配信がTVerで始まりました。
  8/15 15:59まで

  ※ 平成ノブシコブシの徳井の狂気が覚醒!?

  明石家さんま、間寛平、村上ショージ、次長課長、アインシュタイン、平成ノブシコブシ、山崎香佳 らが出演しています

  https://tver.jp/episodes/epeb5lqxgm
</p>

<p class="tver">
  バラエティ SUPER EIGHTと8人の関西大物MCたち(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 祝・凱旋！OSAKA愛♥忘れてまへんか？ツアー

  SUPER EIGHT(横山裕、村上信五、丸山隆平、安田章大、大倉忠義)、モモコ、ハイヒール、大悟(千鳥)、島田珠代、烏川耕一、タージン、月亭八光、西川ヘレン、健、トミーズ、岡田照幸、柳森万里 らが出演しています

  https://tver.jp/episodes/epivp873tp
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  8/15 16:00まで

  ※ 相葉＆えなりがカメラ修行！絶景！写真部特訓編

  相葉雅紀、えなりかずき、渡部陽一 らが出演しています

  https://tver.jp/episodes/epcyrlg4xb
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 17話の配信がTVerで始まりました。
  8/15 17:29まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/ep3ld5rzxg
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 4話の配信がTVerで始まりました。
  8/15 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep55udv0l1
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 14話の配信がTVerで始まりました。
  8/15 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep2u5fhouy
</p>

<p class="yt">
  UFOロボ グレンダイザー 第26話「スカルムーン総出撃!」｜日付不明配信｜東映アニメーションミュージアムチャンネル｜25:46
※ 8/21 23:59まで

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/nC-mrSvkdwE
</p>

<p class="yt">
  アニメ「FAIRY TAIL」152～163話｜2026/8/8配信｜アニメタイムズ公式｜4:53:12
  ※ 2026/9/9(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/sbDm6TW9ziQ
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  8/15 10:29まで

  ※ 埼玉ご当地アイスSP

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epz6rle96k
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。
  8/15 11:24まで

  ※ [3分の番組です] AIエージェント！Agent iの凄さをトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/eppbf2s664
</p>

<p class="tver">
  バラエティ 憧れの地に家を買おう(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 名建築の街！スペイン・バルセロナ

  武井壮、酒井美紀 らが出演しています

  https://tver.jp/episodes/eprheih8tw
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 7話の配信がTVerで始まりました。
  8/15 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、片平なぎさ、武田真治、西田尚美、長谷川忍(シソンヌ)、足立智充、不破万作、深沢敦、山本浩司、ファーストサマーウイカ、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/epyl2sr6fn
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 9話の配信がTVerで始まりました。
  8/14 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、野村たかし、古川りか、大方斐紗子、伊佐山ひろ子、西田健、村松克己、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/eprb12ss1n
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 9話の配信がTVerで始まりました。
  8/15 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、馬場徹、猪塚健太、工藤美桜、谷遼、湯川尚樹、菜々緒、稲森いずみ、城田優、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/eppufk4pyb
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 7話の配信がTVerで始まりました。
  8/15 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、片岡凜、小林星蘭、野間口徹、坪倉由幸(我が家)、若林時英、坂倉なつこ、田中哲司、MEGUMI、さだまさし らが出演しています

  https://tver.jp/episodes/epk5ew902s
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 8～9話の配信がTVerで始まりました。
  8/14 11:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epxiog1fjy
</p>

<p class="tver">
  ドラマ まっしろ(2015) 1～3の配信がTVerで始まりました。
  9/27 23:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、鹿賀丈史、渡辺大、福田彩乃、細田善彦、松山メアリ、床嶋佳子、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/eph37i0bs6
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 10話の配信がTVerで始まりました。
  8/14 11:59まで

  佐藤健、黒木華、柄本佑、高岡早紀、林泰文、天野慶久、石橋杏奈、森岡龍、伊藤かずえ、おかやまはじめ、藤本飛龍、須田理央、中根徹、瀬戸利樹、和久井映見、大島さと子、日野陽仁、木場勝己、美保純、杉本哲太 らが出演しています

  https://tver.jp/episodes/epj4l39bkr
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 8～9話の配信がTVerで始まりました。
  8/14 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、福田転球、若山耀人、木戸邑弥、木下政治、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epeu5r01pw
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 9話の配信がTVerで始まりました。
  8/15 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、鈴川琴音、肥後克広(ダチョウ倶楽部)、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/ep5sfy0p6g
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2026) の配信がTVerで始まりました。
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/eptw9isv5a
</p>

<p class="tver">
  アニメ あたしンち(2002) 5話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/ep8usjtiog
</p>
