---
title: 2026/8/23 のピックアップ
date: 2026-08-23
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「BLACK LAGOON」第2話｜2026/8/22配信｜SundayGXch｜23:51
  ※ 9/5(土) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/a6-nOCBa6k4
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/30 10:59まで

  ※ あすかふぇ流ガパオライス＆インドの漬物アチャール

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epen4l4fn3
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/30 10:00まで

  ※ 中川家＆ナイツが登場！友達が遊びに来てくれたよSP！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、中川家、ナイツ、ロケット団、宮藤官九郎、中村雅俊 らが出演しています

  https://tver.jp/episodes/ep4ixgg03v
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 17回の配信がTVerで始まりました。
  終了日未記載

  ※ 「少女のリアル」〜高雄さやか編〜

  アルコ&ピース(平子祐希、酒井健太)、STU48 らが出演しています

  https://tver.jp/episodes/epbl8f1qwx
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。
  8/30 12:00まで

  ※ 山﨑愛生、人口増加率V字回復！南幌町のまちづくりとは

  飯田圭織、牧野真莉愛、山崎愛生、本間吏成、佐藤彩 らが出演しています

  https://tver.jp/episodes/epcine2hw5
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 世の中の気になる「数」大調査!街角ナンバークイズ

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、朝日奈央、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/epxn3eowpb
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 1話の配信がTVerで始まりました。
  10/7 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、金剛地武志、寺脇康文 らが出演しています

  https://tver.jp/episodes/ep52q1xn09
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 4話の配信がTVerで始まりました。
  8/30 11:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/epz609xj18
  1～3話：https://tver.jp/episodes/ep5qo126qe

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、大塚ヒロタ、平野貴大、金沢きくこ、坂井真紀、ともさかりえ らが出演しています
</p>

<p class="tver">
  ドラマ リバース(2017) 10(最終)話の配信がTVerで始まりました。
  8/30 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、志賀廣太郎、村井國夫、古田結凪、山口まゆ、鈴木仁、バッファロー吾郎A(バッファロー吾郎)、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epqmgdhvp1
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 7話の配信がTVerで始まりました。
  8/29 11:59まで

  佐藤健、黒木華、桐谷健太、芦名星、中井ノエミ、グレッグ・デール、ロイック・ガルニエ、鈴木亮平、郷ひろみ らが出演しています

  https://tver.jp/episodes/epj7es79t7
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 7～9話の配信がTVerで始まりました。
  8/30 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大塚露那、桜井センリ、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/eph6d5r0h7
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 4話の配信がTVerで始まりました。
  8/30 11:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/epagwl1m2a
  1～3話：https://tver.jp/episodes/epvm6cv1w8

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、猪塚健太、工藤美桜、高橋ユウ、森本のぶ、福室莉音、菜々緒、橋本さとし、仲里依紗、石田ゆり子 らが出演しています
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 10(最終)話の配信がTVerで始まりました。
  8/30 11:59まで

  向井理、尾野真千子、小池栄子、山崎樹範、市川由衣、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、阿南健治、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/ep9wqdtmfm
</p>

<p class="tver">
  ドラマ オーバー30(2009) 17～19話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep796dji4g
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 36話の配信がTVerで始まりました。
  8/30 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ept5r9n6nw
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 15話の配信がTVerで始まりました。
  8/30 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epjlbi4pjb
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009) 8話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/eptwyfq7p7
</p>
