---
title: 2026/9/02 のピックアップ
date: 2026-09-02
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 日本探求アカデミックバラエティ 火曜の良純孝太郎(2026) の配信がTVerで始まりました。
  9/8 21:54まで

  ※ 東京のシンボルとして愛され続ける“東京タワー”大冒険！今の場所に東京タワーが出来た運命的な理由とは!?

  石原良純、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epsnxdmysj
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 21話の配信がTVerで始まりました。
  9/9 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epachibovd
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 57話の配信がTVerで始まりました。
  9/9 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epc6me3eed
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 5話の配信がTVerで始まりました。
  9/9 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep6v11l3uu
</p>

<p class="yt">
  フィラデルフィア・エクスペリメント(1984・吹替版)｜2026/8/28配信｜シネフィルWOWOWプラス｜1:41:18
  ※ 9/10 23:59まで。2週間限定公開。終了期日はいつまでとは書いていないので1日前に設定▼第二次世界大戦中、米海軍の実験で1984年の世界にタイムスリップした主人公を描くSFサスペンス。主演は『ストリート・オブ・ファイヤー』のマイケル・パレ。

  マイケル・パレ、ナンシー・アレン、ボビー・ディ・チッコ、エリック・クリスマス らが出演しています

  https://youtu.be/7KMTaHFRw7Q
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 5話の配信がTVerで始まりました。
  9/16 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、小西遼生、山崎ケイ、相席スタート らが出演しています

  https://tver.jp/episodes/epxh4i4x77
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 3話の配信がTVerで始まりました。
  10/7 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、阿南健治、大久保麻梨子、加藤理恵、桜田聖子、矢吹春奈、弓削智久、橋本さとし、堀内敬子、畠中洋、南周平、高原コマキ らが出演しています

  https://tver.jp/episodes/epxgd4b368
</p>

<p class="tver">
  ドラマ リバース(2017) 5話の配信がTVerで始まりました。
  9/9 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、村井國夫、山崎銀之丞、趣里、篠原ゆき子、古田結凪、山口まゆ、鈴木仁、バッファロー吾郎A(バッファロー吾郎)、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epwk6qxp1r
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 5話の配信がTVerで始まりました。
  9/9 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、忍成修吾、田中要次、森下能幸、滝沢沙織、篠田拓馬、綾部守人、銀粉蝶、鹿内孝、遠山俊也、春田純一、海保知里、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epu71i14dm
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 12(最終)話の配信がTVerで始まりました。
  9/8 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、塩見三省、伊佐山ひろ子、西田健、村松克己、大塚良重、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epmeknqie0
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 5話の配信がTVerで始まりました。
  9/9 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、笹野高史、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/epk1dex276
</p>

<p class="tver">
  ドラマ いつか、ヒーロー(2025) 1話の配信がTVerで始まりました。
  終了日未記載

  桐谷健太、宮世琉弥、長濱ねる、泉澤祐希、曽田陵介、星乃夢奈、でんでん、小関裕太、駒木根葵汰、板谷由夏、北村有起哉、寺島進 らが出演しています

  https://tver.jp/episodes/epdfcs8q7j
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 4話の配信がTVerで始まりました。
  9/8 11:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/ep1wyxmgkr
  1～3話：https://tver.jp/episodes/ep6aw0at0a

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、岡田浩暉、八十田勇一、佐々木一平、清水優、伊与勢我無、真野恵里菜、古舘寛治、葉山奨之、古田新太、石田ゆり子 らが出演しています
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 8話の配信がTVerで始まりました。
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epy44y7ju4
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 56話の配信がTVerで始まりました。
  9/9 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epetf2uarq
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 25話の配信がTVerで始まりました。
  終了日未記載

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/ep2jg6q8pw
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 17話の配信がTVerで始まりました。
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epfiavzbzq
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 1話の配信がTVerで始まりました。
  終了日未記載

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/eppigzet3c
</p>
