---
title: 2026/05/29 のピックアップ
date: 2026-05-29
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  「モノノ怪」化猫｜2026/5/28配信｜TWIN ENGINE｜1:07:32
  ※ 5/29(火) 20:59まで《24時間限定公開》

竹本　英史：森谷清
岩崎ひろし：福田寿太郎
稲葉　実　：門脇栄
佐々木誠二：木下文平
ゆ　か　な：野本チヨ
沢海　陽子：山口ハル
日比　愛子：小林正男
折笠富美子：市川節子

  https://youtu.be/dwUVgVcYkuc
</p>

<p class="yt">
  アニメ「ご注文はうさぎですか??」1～12話｜2026/5/29配信｜アニメタイムズ公式｜4:43:37
※ 2026/6/29(月) 00:00まで

佐倉　綾音：ココア
種田　梨沙：リゼ
水瀬いのり：チノ
内田　真礼：シャロ
佐藤　聡美：千夜
徳井　青空：マヤ
村川　梨衣：メグ
早見　沙織：青山ブルーマウンテン
清川　元夢：ティッピー
速水　奨　：チノの父

  https://youtu.be/S-MyDjtcldg
</p>

<p class="yt">
  映画『キングダム 魂の決戦』ストーリー紹介｜2026/5/28配信｜東宝MOVIEチャンネル｜1:42
※ 7/17(金) 公開

山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 他

  https://youtu.be/HrSjrnKMwNw
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。
  終了日未記載

※ ２００６年に日本初上陸を果たした“こどもが主役の街”「キッザニア」。その誕生と大ヒットの舞台裏に迫る

  カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/ep3k35u44p
</p>
