---
title: 2026/8/20 のピックアップ
date: 2026-08-20
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  こじはる人生初コストコ🛒❣️withみぃちゃん｜2026/8/15配信｜HARUNA KOJIMA's cat nap｜18:39

※ みぃちゃんとコストコに行ってきました❣️全く参考にならないと思うのでまたリベンジしたいな🥹✊🏻

小嶋陽菜、峯岸みなみ らが出演しています

  https://youtu.be/GPpAU-yLjoU
</p>

<p class="yt">
  原西&岡村のクワガタ捕り!(後編)｜2026/8/10配信｜原西フィッシング倶楽部｜40:56
※ FUJIWARA原西とナインティナイン岡村の2人が、クワガタ捕りに挑みます

  岡村隆史(ナインティナイン)、FUJIWARA原西 らが出演しています

  https://youtu.be/iaa5sF6_rZ4
</p>

<p class="yt">
  アニメ「KITE LIBERATOR」｜2026/8/21配信｜アニメタイムズ公式｜58:05
  ※ 2028/3/31(金) 23:59まで

  井上麻里奈：野口百南花
  小山力也：野口折外
  佐藤せつじ：土井光一
  乃村健次：野口一象
  真堂圭：野口愛月
  森田成一：我賀倫
  麦人：雨津都呂九郎
  岡村明美：向井万夏
  ヤスヒロ：追音貴知&香衣

  https://youtu.be/UAtvrruHC1E
</p>

<p class="yt">
  アニメ 悟空の大冒険 29～32話｜2026/8/20配信｜手塚プロダクション公式チャンネル｜1:44:43
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/6l5HAAvy1Uw
</p>

<p class="tver">
  アニメ 才女のお世話 高嶺の花だらけな名門校で、学院一のお嬢様(生活能力皆無)を陰ながらお世話することになりました(2026) 7話の配信がTVerで始まりました。
  8/28 3:07まで

  上村祐翔、小原好美、大西沙織、土屋李央、小清水亜美、熊谷健太郎、前島亜美、子安武人 らが出演しています

  https://tver.jp/episodes/epy75v1ug1
</p>

<p class="tver">
  アニメ 花ざかりの君たちへ(2026・2期) 8話の配信がTVerで始まりました。
  8/28 2:28まで

  山根綺、八代拓、戸谷菊之介、梅原裕一郎、福山潤、川島零士、内山昂輝、駒田航、古屋亜南、日野聡、水中雅章、榎木淳弥、子安武人 らが出演しています

  https://tver.jp/episodes/epxlwu0wvx
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【25万部超え著者】動物にも言葉が？世界初！鳥の言葉を大解明SP

  加藤浩次、古旗笑佳、鈴木俊貴、若杉亨 らが出演しています

  https://tver.jp/episodes/epowulzcs2
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。
  8/27 18:59まで

  ※ GメンVS万引き女子高生&夏の長期不在に注意?クレカ不正利用手口

  内村光良、サンドウィッチマン、ILLIT、EXIT、ガクテンソク、タイムマシーン3号、黒木華、岡部大(ハナコ)、かが屋、松陰寺太勇(ぺこぱ)、寒川綾奈、吉住、横田真子、りんた らが出演しています

  https://tver.jp/episodes/ep0nlkddb7
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 初登場キングコングと菌活ゴチ!西野がナイナイにガチ相談&解散宣言!?

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、キングコング、羽鳥慎一、水卜麻美 らが出演しています

  https://tver.jp/episodes/epzekt1eob
</p>

<p class="tver">
  バラエティ 林修の今知りたいでしょ！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 今、大ブームのお酢！ 何がスゴい!?お酢のギモン徹底解剖SP

  林修、バカリズム、朝日奈央、伊沢拓司、伊集院光、別所哲也、斎藤ちはる、渡辺尚彦 らが出演しています

  https://tver.jp/episodes/epc8nklzrw
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 透明カラオケ in 北海道！元モー娘。リーダーがあの名曲披露▽バドミントン世界一・桃田賢斗＆ハリセンボンはるかが変装して町のダブルス大会に潜入！▽芸能界で最も純粋なのは誰！？ピュアキャラオーディション開催！

  透明カラオケ：https://tver.jp/episodes/epv7ky5njq
  ダブルス大会に潜入：https://tver.jp/episodes/ep1gdzzk26
  オーディション：https://tver.jp/episodes/epnpkim0mp

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、川田裕美、小川奈々子(CANDY TUNE)、小椋久美子、飯田圭織、前田有嬉、FRUITS ZIPPER(真中まな、鎮西寿々歌)、桃田賢斗、潮田玲子、波田陽区、宮城弥生、高柳光希、猪狩蒼弥(KEY TO LIT)、糸井嘉男 らが出演しています
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 141回の配信がTVerで始まりました。
  8/28 0:15まで

  ※ のんと深川麻衣の許せない飯で衝撃のラストが！

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、のん、深川麻衣 らが出演しています

  https://tver.jp/episodes/eprp4uddvt
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  8/28 0:58まで

  ※ 街のイメージ大調査！ランキングで1位になれ！ビリビリの罰

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/epwus2uzjo
</p>

<p class="tver">
  バラエティ おぎやはぎのハピキャン(2026・絆キャンプ) 1回の配信がTVerで始まりました。
  終了日未記載

  ※ モンベルストアでキャンプで必要なものをお買い物

  おぎやはぎ(小木博明、矢作兼)、小倉優子、IMALU、望木聡子 らが出演しています

  https://tver.jp/episodes/epmzxmrwzn
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 8話の配信がTVerで始まりました。
  8/28 1:59まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epl46obi0w
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 8話の配信がTVerで始まりました。
  8/28 1:09まで

  かたせ梨乃、豆原一成(JO1)、岡田結実、林芽亜里、平埜生成、カナメストーン(山口誠、零士)、西山繭子、夏樹陽子 らが出演しています

  https://tver.jp/episodes/epgroe56k8
</p>

<p class="tver">
  ドラマ 親愛なる夫へ～完璧な妻の嘘～(2026) 8話の配信がTVerで始まりました。
  8/27 23:58まで

  田中麗奈、古川雄大、尾崎匠海(INI)、星乃あんな、有澤樟太郎、日比美思、岐洲匠、福田転球、香音、博多華丸(博多華丸・大吉)、田中偉登、前田公輝 らが出演しています

  https://tver.jp/episodes/epmdou79ko
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 8話の配信がTVerで始まりました。
  8/28 0:29まで

  菅井友香、入山法子、稲葉友、柾木玲弥、濱田龍臣、山本弓月、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epjp98ym3e
</p>

<p class="tver">
  ドラマ 夫に不倫をお願いされました(2026) 7話の配信がTVerで始まりました。
  終了日未記載

  中村ゆりか、佐野玲於、葉山奨之、ハシヤスメ・アツコ、横野すみれ、こばやし元樹、希歩、堀井新太、阿久根温世(ICEx)、久保田悠来、南雲奨馬、染谷俊之、橋本マナミ、山野海、濱津隆之 らが出演しています

  https://tver.jp/episodes/epy8jyrlbv
</p>

<p class="tver">
  ドラマ 一緒にごはんをたべるだけ(2026) 8話の配信がTVerで始まりました。
  8/28 0:39まで

  早見あかり、伊藤健太郎、桐山漣、岸明日香、久場音葉 らが出演しています

  https://tver.jp/episodes/ep8prk9r8i
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 4話の配信がTVerで始まりました。
  8/28 23:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/eps67q9tn1
  1～3話：https://tver.jp/episodes/epnq6s3jwh

  西島秀俊、香川照之、真木よう子、吉田鋼太郎、有村架純、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、音月桂、堀内敬子、杉咲花、渋川清彦、長谷川博己、石田ゆり子、小日向文世 らが出演しています
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 7話の配信がTVerで始まりました。
  8/27 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/eploaytdv2
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 4話の配信がTVerで始まりました。
  8/28 23:59まで

  ※ 1～3話は配信済み、続行中

  4話：https://tver.jp/episodes/ep9gwl5gzg
  1～3話：https://tver.jp/episodes/ep4beaz854

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、モロ師岡、山中崇、山田裕貴、若山耀人、山本未來、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 4話の配信がTVerで始まりました。
  8/28 23:59まで

※ 1～3話は配信済み続行中

  4話：https://tver.jp/episodes/ep1iugxufz
  1～3話：https://tver.jp/episodes/epxacq8j82

  菅野美穂、岩田剛典、横山めぐみ、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、津田寛治、田中直樹(ココリコ)、松嶋菜々子 らが出演しています
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 9話の配信がTVerで始まりました。
  8/3 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、丸一太、渋江譲二、岩下尚史、田中みな実、大黒摩季、堀越麗禾、誠直也、蘭寿とむ、井上肇、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/ep3pnap0ub
</p>

<p class="tver">
  ドラマ 心配無用ノ介 天下御免(2026) 6話の配信がTVerで始まりました。
  終了日未記載

  田村ツトム、冨家ノリマサ、本田博太郎、沙倉ゆうの、井之上チャル、田井克幸、入江毅、山口馬木也 らが出演しています

  https://tver.jp/episodes/ep8vo7h5m1
</p>

<p class="tver">
  ドラマ ラストノート(2026) 7話の配信がTVerで始まりました。
  8/27 22:00まで

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、淵上泰史、平原テツ、丸山智己 らが出演しています

  https://tver.jp/episodes/ep84f9w8rw
</p>

<p class="tver">
  ドラマ 大空港～GATE24～(2026) 5話の配信がTVerで始まりました。
  8/27 21:54まで

  趣里、眞栄田郷敦、板垣李光人、齊藤京子、奥貫薫、秋元才加、加治将樹、街田しおん、嘉島陸、西村直人、椿原愛、田辺誠一、吹越満、柳葉敏郎、松雪泰子 らが出演しています

  https://tver.jp/episodes/ep11im86x3
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 8話の配信がTVerで始まりました。
  終了日未記載

  夏吉ゆうこ、松岡美里、船戸ゆり絵、清水彩香、井澤詩織、本泉莉奈、明智璃子、稲田徹、中林新夏、真白健太朗 らが出演しています

  https://tver.jp/episodes/epb0nspfw1
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 6話の配信がTVerで始まりました。
  8/28 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/eppu5g1edh
</p>

<p class="tver">
  アニメ 「天体戦士サンレッド」(2026) 10話の配信がTVerで始まりました。
  終了日未記載

  ※ 14分のアニメです。舞台化記念！セレクション放送

  高木俊、鍋井まき子、山田ルイ53世、ひぐち君、イッキ、間宮くるみ、斧アツシ、かがわの水割 らが出演しています

  https://tver.jp/episodes/epb0acd1ra
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 32話の配信がTVerで始まりました。
  終了日未記載

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/ep80126rya
</p>

<p class="tver">
  アニメ BLEACH 千年血戦篇-禍進譚-(2026) 44話の配信がTVerで始まりました。
  8/27 23:59まで

  森田成一、杉山紀彰、松岡由貴、安元洋貴、高木渉、折笠富美子、伊藤健太郎、三木眞一郎、ゆきのさつき、大塚明夫、置鮎龍太郎、朴璐美、立木文彦、速水奨、菅生隆之、梅原裕一郎、武内駿輔、小山剛志 らが出演しています

  https://tver.jp/episodes/ep3jb69z7m
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 7話の配信がTVerで始まりました。
  8/27 23:59まで

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/ep35v8jm62
</p>

<p class="tver">
  アニメ バンドリ！ ゆめ∞みた(2026) 10話の配信がTVerで始まりました。
  終了日未記載

  出演者不明 らが出演しています

  https://tver.jp/episodes/epilh5pf4z
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 7話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/ep53vupofk
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 7話の配信がTVerで始まりました。
  終了日未記載

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/ep6z8mw94t
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 31話の配信がTVerで始まりました。
  8/27 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ept5fmlh5u
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 16話の配信がTVerで始まりました。
  8/27 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epfpchbq81
</p>

<p class="tver">
  バラエティ スミ☆オシ ～Entertainment SHOW～(2026) の配信がTVerで始まりました。
  8/27 11:19まで

  ※ 今夏必見のアニメ！「天は赤い河のほとり」＆大ヒット公開中！映画「アンパンマン」押し。橘美來は「天は赤い河のほとり」の中の人

  住岡佑樹、山本里咲、橘美來 らが出演しています

  https://tver.jp/episodes/epr4engdu3
</p>

<p class="tver">
  バラエティ 買い物ついて行ってイイですか？SP(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 道民の買い物を札幌出身・松岡昌宏が見守る

  松岡昌宏 らが出演しています

  https://tver.jp/episodes/ep3eise3mt
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 11(最終)話の配信がTVerで始まりました。
  8/27 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、中村竜、富澤たけし(サンドウィッチマン)、宍戸美和公、高山侑子、伊藤修子、三鴨絵里子、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epfx47zanp
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 10(最終)話の配信がTVerで始まりました。
  8/27 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、山本未來、望月歩、坪倉由幸(我が家)、森下能幸、平田広明、田中哲司、MEGUMI、イッセー尾形、さだまさし らが出演しています

  https://tver.jp/episodes/epbv9hrrsm
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 6話の配信がTVerで始まりました。
  8/26 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、芦名星、石橋杏奈、森岡龍、坪倉由幸(我が家)、山谷初男、吉見一豊、シャカ大熊、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、加藤雅也、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep2pj8qwav
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 10(最終)話の配信がTVerで始まりました。
  8/27 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、武田真治、鷲尾真知子、長谷川忍(シソンヌ)、ファーストサマーウイカ、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep2ij75iwb
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 10(最終)話の配信がTVerで始まりました。
  8/27 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市村正親、別所哲也、石丸謙二郎、馬場徹、須田邦裕、赤堀雅秋、パパイヤ鈴木、小手伸也、水橋研二、西田尚美、八木亜希子、尾美としのり、三上博史、貫地谷しほり らが出演しています

  https://tver.jp/episodes/ep2a70e2q6
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 4～5話の配信がTVerで始まりました。
  8/26 11:59まで
※ 1～3話は配信済み、続行中

  4～5話：https://tver.jp/episodes/epiwziade8
  1～3話：https://tver.jp/episodes/epwz3a4ke9

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、古川りか、大方斐紗子、田島令子、高橋一生、佐々木睦、国仲涼子、小橋賢児、余貴美子、竜雷太 らが出演しています
</p>

<p class="tver">
  ドラマ オーバー30(2009) 8～10話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep02p088ja
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 30話の配信がTVerで始まりました。
  8/27 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep811baw9w
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 12話の配信がTVerで始まりました。
  8/27 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epzgrqp3v8
</p>
