---
title: 2026/6/30 のピックアップ
date: 2026-06-30
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ バラバラマンスリー(2026) 1回の配信がTVerで始まりました。
  終了日未記載

  ※ 初対面観察　＃1 とき宣・吉川ひより×AKB48・佐藤綺星が初対面でカラオケ！

  森田哲矢(さらば青春の光)、野呂佳代、吉川ひより(超ときめき♡宣伝部)、佐藤綺星(AKB48) らが出演しています

  https://tver.jp/episodes/epafcuey15
</p>

<p class="tver">
  バラエティ スパイストラベラー(2026) の配信がTVerで始まりました。
  7/21 23:59まで

  ※ 特別編：映画「氷血」公開直前SP

  MAKOTOSAKURAI(Dragon Ash)、セントチヒロ・チッチ、AKINO LEE、藪晋伍、北山宏光 らが出演しています

  https://tver.jp/episodes/epqfapq3n1
</p>

<p class="tver">
  バラエティ アカデミーナイトG(2026) の配信がTVerで始まりました。
  7/8 1:55まで

  ※ 映画『黒牢城』黒沢清監督が撮影舞台裏を語る＆「ピクサーの世界展」こがけんが会場潜入リポート！

  田中直樹(ココリコ)、井上裕介(NON STYLE)、トンツカタン森本、黒沢清、尾身智志(ラパルフェ)、こがけん らが出演しています

  https://tver.jp/episodes/ep73om3pg8
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 2話の配信がTVerで始まりました。
  7/8 2:22まで

  ※ 12話も同日配信。1話は続行中。1～2話、12話が配信されています

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/epreckepd3
</p>

<p class="tver">
  ドラマ スピナーベイト(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  加藤清史郎、駿河太郎、萩原護、南琴奈、奥野壮、高橋侃、吉田晴登、吉澤要人(原因は自分にある。)、伊藤あさひ、仲野温、吉村界人、山中聡、中村梅雀 らが出演しています

  https://tver.jp/episodes/ep2p7rmtob
</p>

<p class="tver">
  バラエティ しゃべくり007(2026) の配信がTVerで始まりました。
  7/6 20:59まで

  ※ 芸能界肉オバケ軍団!肉を愛する者たち大集合

  ネプチューン(名倉潤、原田泰造、堀内健)、くりぃむしちゅー(有田哲平、上田晋也)、チュートリアル(徳井義実、福田充徳)、SHOKICHI(EXILE)、ジャンボたかお(レインボー)、高橋真麻、西山茉希、橋本良亮(A.B.C-Z)、安井友梨 らが出演しています

  https://tver.jp/episodes/ep9tkqfesq
</p>

<p class="tver">
  バラエティ THE神業チャレンジ(2026) の配信がTVerで始まりました。
  7/14 18:59まで

  ※ バレーボール女子日本代表佐藤＆和田ペア参戦

  チョコレートプラネット(長田庄平、松尾駿)、井森美幸、佐藤栞里、陣内智則、ギャル曽根、高地優吾(SixTONES)、原嘉孝(timelesz)、佐藤淑乃、和田由紀子、土佐兄弟(ゆうき、卓也)、加藤凌平 らが出演しています

  https://tver.jp/episodes/epggxhtmuq
</p>

<p class="tver">
  バラエティ 踊る！さんま御殿!!(2026) の配信がTVerで始まりました。
  7/7 18:59まで

  ※ コナン!ドラえもん!エヴァ!ワンピース!ベジータ!国民的声優が夢共演

  明石家さんま、井澤詩織、梶原岳人、加藤英美里、関智一、伊達さゆり、堀川りょう、水田わさび、宮村優子、森川智之、山口由里子、足立梨花、佐久間大介(Snow Man)、正代直也 らが出演しています

  https://tver.jp/episodes/ep3gl7xzh1
</p>

<p class="tver">
  バラエティ ザ！世界仰天ニュース(2026) の配信がTVerで始まりました。
  7/14 20:59まで

  ※ 妻が突然消えた…誰もが被害者になる可能性!身近な真夏の危険とは

  笑福亭鶴瓶、松島聡(timelesz)、八木莉可子、浦川翔平、野口衣織(=LOVE)、佐々木舞香、稲田直樹(アインシュタイン)、なえなの、杉原凜 らが出演しています

  https://tver.jp/episodes/ep0mwzpek7
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  7/7 22:00まで

  ※ 千鳥が母校に凱旋！夏の2時間スペシャル in 岡山

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、ダイアン(津田篤宏、ユースケ) らが出演しています

  https://tver.jp/episodes/epre81sskq
</p>

<p class="tver">
  バラエティ サンド屋台(2026) の配信がTVerで始まりました。
  7/14 21:59まで

  ※ 松本若菜＆佐野勇斗が来店 佐野大暴れ＆M!LKメンバー秘密のタレコミ

  サンドウィッチマン(伊達みきお、富澤たけし)、猪狩蒼弥(KEY TO LIT)、大久保佳代子(オアシズ)、佐野勇斗(M!LK)、松本若菜、吉村崇(平成ノブシコブシ)、たける(東京ホテイソン) 他

  https://tver.jp/episodes/epetqz45tx
</p>

<p class="tver">
  バラエティ 今井翼 タイ縦断鉄道の旅(2023) 1～20回の配信がTVerで始まりました。
  終了日未記載

  ※ 旅のスタートはタイ第2の都市・チェンマイ。
  日本とは違った雰囲気の駅舎や鉄道を眺め、異国の地を身をもって感じる今井翼

  今井翼、鈴夏あや らが出演しています

  https://tver.jp/episodes/epbyu00r19
</p>

<p class="tver">
  バラエティ 映画「口に関するアンケート」に関するアンケートに関する番組(2026) 2回の配信がTVerで始まりました。
  終了日未記載

  ※ [7分の番組です]202606071418

  板垣李光人、綱啓永、吉川愛、MOMONA(ME:I)、森愁斗(BUDDiiS)、西山智樹、TAGRIGHT、柄本時生、中村獅童、上垣皓太朗 らが出演しています

  https://tver.jp/episodes/ep0r1vexbb
</p>

<p class="tver">
  バラエティ 地球まるごと大実験 ネイチャーティーチャー(2026) の配信がTVerで始まりました。
  7/7 23:55まで

  ※ チョコプラ・timeleszの実験番組 特別編「視聴者が衝撃を受けた！ワクワク実験ランキング」

  チョコレートプラネット(長田庄平、松尾駿)、timelesz(原嘉孝、篠塚大輝) らが出演しています

  https://tver.jp/episodes/epxk5ysq54
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  7/8 0:08まで

  ※ 梅雨時期のうねりや広がり、白髪にカラーダメージ、産後の抜け毛…髪の悩み&ケアとは

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、村田祐基(超特急)、内田恭子、宇野実彩子、AAA、齊藤あき、椿鬼奴 らが出演しています

  https://tver.jp/episodes/ep3n7degbj
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) 1回の配信がTVerで始まりました。
  7/8 0:20まで

  ※ ＜1＞親子で対決！第2回パパ力選手権inキャンプ！

  Aぇ! group らが出演しています

  https://tver.jp/episodes/ep1ecnoq6u
</p>

<p class="tver">
  バラエティ 岩井 狩野 えびちゅうの推しかるちゃー(2026) 56回の配信がTVerで始まりました。
  7/31 01:58まで

  ※ ネコだらけの30分！アニメ・マンガ・ゲームのネコかるちゃー！

  岩井勇気(ハライチ)、狩野英孝、私立恵比寿中学(真山りか、安本彩花、桜木心菜、風見和香) らが出演しています

  https://tver.jp/episodes/ep705q1di1
</p>

<p class="tver">
  ドラマ 100日後に別れる僕と彼(2026) 6話の配信がTVerで始まりました。
  7/8 1:55まで

  伊藤健太郎、寛一郎、鳴海唯、山田健人、野村麻純、光宗薫、工藤阿須加、竹中直人 らが出演しています

  https://tver.jp/episodes/ep3zvml9t1
</p>

<p class="tver">
  ドラマ コントラスト(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  井内悠陽、阿久根温世(ICEx)、冨里奈央、HAYATO、樫又龍ノ介、中山ひなの、米尾賢人、中山翔貴、井上想良 らが出演しています

  https://tver.jp/episodes/ep4pyjis4g
</p>

<p class="tver">
  ドラマ その結婚、正気ですか？(202３) 5話の配信がTVerで始まりました。
  7/15 0:00まで

  岡本玲、長妻怜央、和田雅成、押田岳、薄幸(納言)、向里祐香、堀口紗奈、まりあ、林ゆめ、冨手麻妙、佐野岳 らが出演しています

  https://tver.jp/episodes/epy91gv28g
</p>

<p class="tver">
  ドラマ 氷の世界(1999) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 3日毎に最新話追加

  竹野内豊、松嶋菜々子、内田有紀、金子賢、仲村トオル、及川光博、中嶋朋子 らが出演しています

  https://tver.jp/episodes/epv23zbsf0
</p>

<p class="tver">
  ドラマ ピュア(1996) 11話の配信がTVerで始まりました。
  7/7 23:59まで

  和久井映見、堤真一、高橋克典、高岡早紀、篠原涼子、風吹ジュン らが出演しています

  https://tver.jp/episodes/eptcku5w1t
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書(2020) 消えない恋の火花の配信がTVerで始まりました。
  終了日未記載

  石川恋、岩永徹也、落合モトキ、金井美樹、渡邊菜々、田口浩正、岩谷健司 らが出演しています

  https://tver.jp/episodes/ep7q4ovlc9
</p>

<p class="tver">
  ドラマ ふたりソロキャンプ(2025) 8(最終)話の配信がTVerで始まりました。
  7/14 21:25まで

  森崎ウィン、本田望結、稲葉友、滝澤エリカ、宮下咲、中林大樹 らが出演しています

  https://tver.jp/episodes/ep3u7su6hp
</p>

<p class="tver">
  ドラマ 好きな人がいること(2016) 9話の配信がTVerで始まりました。
  7/7 23:59まで

  桐谷美玲、山崎賢人、三浦翔平、野村周平、大原櫻子、浜野謙太、佐野ひなこ、飯豊まりえ、菜々緒、吉田鋼太郎 らが出演しています

  https://tver.jp/episodes/ephl87gk4g
</p>

<p class="tver">
  ドラマ ワカコ酒(2026・3期) 2話の配信がTVerで始まりました。
  7/14 23:59まで

  武田梨奈 らが出演しています

  https://tver.jp/episodes/epdwppqmbr
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026・2期) 13話の配信がTVerで始まりました。
  終了日未記載

  ※ 2期の1話です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epqu77necv
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 1期です

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之 らが出演しています

  https://tver.jp/episodes/epfhv3q24h
</p>

<p class="tver">
  アニメ リィンカーネーションの花弁(2026) 13(最終)話の配信がTVerで始まりました。
  7/15 01:30まで

  千葉翔也、丸岡和佳奈、佐倉綾音、白石晴香、石川界人、上田麗奈、井上麻里奈、仲村宗悟、福山潤、小西克幸、富田美憂、村瀬歩、水中雅章、浪川大輔、櫻井孝宏、阪口周平、細谷佳正、花江夏樹、飛田展男 らが出演しています

  https://tver.jp/episodes/eph1ycfesy
</p>

<p class="tver">
  アニメ 亜人(2016) 全26話の配信がTVerで始まりました。
  7/14 23:59まで


  宮野真守、細谷佳正、福山潤、大塚芳忠、平川大輔、櫻井孝宏、小松未可子、木下浩之、鈴村健一、森川智之、坂本真綾、洲崎綾、斉藤壮馬 らが出演しています

  https://tver.jp/episodes/ep5viip7uo
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 84話の配信がTVerで始まりました。
  7/3 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/ep01tocbij
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 136～138話の配信がTVerで始まりました。
  7/14 17:59まで

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/eprvu5qw5z
</p>

<p class="yt">
  アニメ「A KITE INTERNATIONAL VERSION」｜2026/5/29配信｜アニメタイムズ公式｜47:17
※ 2028/3/31(金) 23:59まで。インターナショナルバージョンとは、アダルトシーンを削除して、アクション要素を強めたR指定バージョン。日本語吹き替え(?)音声は日本語でした。

鳴瀬　琴美：砂羽
小山田慎吾：音不利
渋沢　五郎：赤井
的場　辰夫：蟹江

  https://youtu.be/ssOcffgEAFM
</p>

<p class="tver">
  バラエティ ～あなたの知らないNO.1～選ばれし頂点サマ(2026) の配信がTVerで始まりました。
  7/28 23:59まで

  ※ 【今夜限りの衝撃ワザ連発SP】史上初！？プラレールで東京駅完全再現も

  カズレーザー(メイプル超合金)、小峠英二(バイきんぐ)、濵田崇裕(WEST.)、山下リオ、朝日奈央、武知海青 らが出演しています

  https://tver.jp/episodes/epdg77mul6
</p>

<p class="tver">
  ドラマ 弁護士ソドム(2023) 5～7(最終)話の配信がTVerで始まりました。
  7/28 23:59まで

  福士蒼汰、玄理、加藤清史郎、山下美月、古川雄輝、でんでん、高岡早紀、勝村政信、光石研、真飛聖 らが出演しています

  https://tver.jp/episodes/epibyi49dq
</p>

<p class="tver">
  ドラマ 初恋、ざらり(2023) 1～4話の配信がTVerで始まりました。
  7/30 23:59まで

  小野花梨、風間俊介、西山繭子、尾上紫、高山璃子、うらじぬの、西慶子、渡邊聡、若村麻由美 らが出演しています

  https://tver.jp/episodes/ep8dcdn4hr
</p>

<p class="tver">
  ドラマ セトウツミ(2017) 1～4話の配信がTVerで始まりました。
  7/30 23:59まで

  高杉真宙、葉山奨之、清原果耶、森永悠希 らが出演しています

  https://tver.jp/episodes/epi4ait11f
</p>

<p class="tver">
  ドラマ 雪女と蟹を食う(2022) 5～8話の配信がTVerで始まりました。
  7/28 23:59まで

  重岡大毅(WEST.)、入山法子、久保田紗友、橋本萌花、ほのかりん、齋藤里菜、勝村政信 らが出演しています

  https://tver.jp/episodes/ep9733xax1
</p>

<p class="tver">
  ドラマ 闇バイト家族(2024) 9～12(最終)話の配信がTVerで始まりました。
  7/28 23:59まで

  鈴鹿央士、山本舞香、吹越満、綾田俊樹、麻生祐未、光石研、山口祥行、諏訪太朗、見津賢、夏生大湖、丸山智己、三上市朗、木村知貴、長妻怜央、中村ゆりか、カトウシンスケ 他

  https://tver.jp/episodes/epeslvo0am
</p>

<p class="tver">
  ドラマ ザ・ロイヤルファミリー(2025) 8話の配信がTVerで始まりました。
  7/7 11:59まで

  妻夫木聡、目黒蓮(Snow Man)、松本若菜、安藤政信、高杉真宙、吉沢悠、津田健次郎、長内映里香、秋山寛貴(ハナコ)、市原匠悟、中川大志、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep8wx59r1l
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  7/7 12:00まで

  ※ 東京宝塚劇場月組公演「RYOFU」「水晶宮殿」に出演中の礼華はるさんをお迎えして出演中の舞台のお話をお伺いします

  中井美穂、礼華はる、立川らく次 らが出演しています

  https://tver.jp/episodes/epe9iykyii
</p>

<p class="tver">
  ドラマ 高校教師（藤木直人、上戸彩）(2003) 10話の配信がTVerで始まりました。
  7/7 9:59まで

  藤木直人、上戸彩、ソニン、成宮寛貴、眞鍋かをり、大倉孝二、蒼井優、菅原大吉、矢沢幸治、真実一路、小島聖、京本政樹、眞野あずさ らが出演しています

  https://tver.jp/episodes/eptfzjpj5h
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 15話の配信がTVerで始まりました。
  7/7 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epx7j7h1lk
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 12(最終)話の配信がTVerで始まりました。
  7/7 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/epeke5ih87
</p>

<p class="tver">
  アニメ それが声優！(2015) 13(最終)話の配信がTVerで始まりました。
  7/14 8:30まで

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/epy00gwcx0
</p>
