---
title: 2026/9/13 のピックアップ
date: 2026-09-13
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。 61分
  9/20 10:00まで

  ※ 狩野が井戸田に嫉妬！？高輪で2ランク上を体験！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、エバース、井戸田潤(スピードワゴン) らが出演しています

  https://tver.jp/episodes/ep3glf406i
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。 25分
  9/20 10:59まで

  ※ カボチャの美味しい魔法！カボチャのクリームパスタ

  優香、稲垣飛鳥、かずや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epq826sc97
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。 24分
  9/20 12:00まで

  ※ 伊勢鈴蘭、日本一寒い町から生まれた“薬草ビジネス”に注目！

  飯田圭織、牧野真莉愛、伊勢鈴蘭、波多野裕太、松尾香奈 らが出演しています

  https://tver.jp/episodes/epul6pnfl9
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 19回の配信がTVerで始まりました。 25分
  9/20 12:00まで

  ※ 街をジャックして一発当てたい・後編

  アルコ&ピース(平子祐希、酒井健太) らが出演しています

  https://tver.jp/episodes/epurl8i4ap
</p>

<p class="tver">
  バラエティ 登山で頂きメシ！(2026) 95回の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 富山（とみさん・千葉県） 美山加恋

  美山加恋 らが出演しています

  https://tver.jp/episodes/ephy41fr0u
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 5話の配信がTVerで始まりました。 44分
  9/20 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、阿部亮平(Snow Man)、長井短、結城萌、大西礼芳、筧美和子、徳永えり、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/eps8bcmgy9
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 5話の配信がTVerで始まりました。 44分
  9/27 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、長谷川朝晴、井上肇、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/epxmlo83me
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 5話の配信がTVerで始まりました。 44分
  9/27 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、市川知宏、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平、尾上寛之 らが出演しています

  https://tver.jp/episodes/epjddcdmuh
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 5話の配信がTVerで始まりました。 42分
  9/20 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、勝村政信 らが出演しています

  https://tver.jp/episodes/epid4tlyro
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 5話の配信がTVerで始まりました。 24分
  9/27 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟、紺野まひる らが出演しています

  https://tver.jp/episodes/epepr9d86j
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 8話の配信がTVerで始まりました。 47分
  9/20 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、笹野高史、山崎一、相島一之、浅利陽介、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/epw1gohxpl
</p>

<p class="tver">
  ドラマ リバース(2017) 8話の配信がTVerで始まりました。 46分
  9/20 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、志賀廣太郎、村井國夫、山崎銀之丞、趣里、古田結凪、バッファロー吾郎A(バッファロー吾郎)、鈴木仁、藤本泉、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epr9lzst6h
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 9話の配信がTVerで始まりました。 47分
  9/20 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、南明奈、新井康弘、中村ゆうじ、河野洋一郎、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epnwop37lv
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 8話の配信がTVerで始まりました。 47分
  9/20 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、滝沢沙織、銀粉蝶、酒井敏也、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epknfiitag
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 6話の配信がTVerで始まりました。 46分
  9/22 11:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、浅野和之、沢尻エリカ、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epf44ws95n
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 7～8話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  佐藤健、黒木華、桐谷健太、芦名星、中井ノエミ、グレッグ・デール、ロイック・ガルニエ、鈴木亮平、郷ひろみ らが出演しています

  https://tver.jp/episodes/epb221u5z4
</p>

<p class="tver">
  ドラマ ブラザー・トラップ(2023) の配信がTVerで始まりました。 21分
  9/19 11:59まで

  久間田琳加、山中柔太朗(M!LK)、工藤遥、渡邉美穂、NANA(MAX)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/ep1775vbrp
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 7～9話の配信がTVerで始まりました。 46分
  9/20 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大塚露那、桜井センリ、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/ep5ddh9ii4
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。 47分
  9/20 11:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/ep0s67emdw
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 78話の配信がTVerで始まりました。 24分
  9/20 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epzk64odon
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 36話の配信がTVerで始まりました。 24分
  9/20 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epsl66na7c
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 6話の配信がTVerで始まりました。 25分
  9/20 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epm6tn1e78
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2009) 11話の配信がTVerで始まりました。 25分
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epviweco9l
</p>
