---
title: 2026/10/08 のピックアップ
date: 2026-10-08
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  はいからさんが通る 10~12話｜2026/10/7配信｜日本アニメーション・シアター｜1:13:25

  横沢　啓子：花村紅緒
  森　功至：伊集院忍
  杉山佳寿子：森蘭丸
  増岡　弘：牛五郎
  峰　あつ子：伊集院夫人
  永井　一郎：花村少佐
  肝付　兼太：酒乱童子
  鈴木れい子：ばあや
  山田　礼子：侍女如月
  宮内　幸平：伯爵
  井上真樹夫：青江冬星
  安原　義人：鬼島森吾
  永井　一郎：ナレーター

  https://youtu.be/qQue3WVZX0o
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭と野菜のドリーム丼

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/epn4k99t29
</p>

<p class="tver">
  バラエティ 寛平ちゃんのぶらり旅 熊本がいい～の(2026) の配信がTVerで始まりました。 53分
  終了日未記載

  ※ 熊本地震で被災した地域を寛平ちゃんが全力 応援！宇城市

  間寛平、寺田菜々海、英太郎 らが出演しています

  https://tver.jp/episodes/epq4st0usi
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) の配信がTVerで始まりました。 58分
  10/16 21:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、高橋メアリージュン、阿南健治、泉里香、佐野勇斗(M!LK)、加藤雅也、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epxvgqkbny
</p>

<p class="tver">
  ドラマ 最愛(2021) 10話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、奥野瑛太、岡山天音、峯村リエ、水崎綾女、朝井大智、宮下かな子、螢雪次朗、柊木陽太、金井成大、浅田美代子、薬師丸ひろ子、ジジ・ぶぅ、中野剛、根本江理、ふるごおり雅浩、園田裕樹、長島竜也、光石研、酒向芳、津田健次郎、及川光博、井浦新 らが出演しています

  https://tver.jp/episodes/epnycxa9cv
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 8～9話の配信がTVerで始まりました。 47分
  10/12 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、福田転球、若山耀人、木戸邑弥、木下政治、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epnk5fhnox
</p>

<p class="tver">
  ドラマ もう一度君に､プロポーズ(2012) 10話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  竹野内豊、和久井映見、山本裕典、倉科カナ、市川由衣、渡辺哲、松下洸平、山野海、橋本真実、入江甚儀、久松龍一、三浦力、朝加真由美、袴田吉彦、谷合純矢、佐野代吉、小野寺昭、光石研、杉本哲太、真野響子 らが出演しています

  https://tver.jp/episodes/epkihhtvve
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 10(最終)話の配信がTVerで始まりました。 54分
  10/16 21:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、池田鉄洋、竜星涼、小笠原海(超特急)、飯尾和樹(ずん)、吉田ウーロン太、フラミンゴ、橋本真実、今井隆文、吹越満、国広富之、尾上寛之、北村有起哉、大倉孝二、薬師丸ひろ子、松重豊 らが出演しています

  https://tver.jp/episodes/epjz6ib6h1
</p>

<p class="tver">
  ドラマ アトムの童（こ）(2022) の配信がTVerで始まりました。 54分
  10/16 21:59まで

  山﨑賢人、松下洸平、岸井ゆきの、岡部大(ハナコ)、六角慎司、玄理、飯沼愛、林泰文、西田尚美、谷田歩、上川周作、モクタール、山﨑努、麻生祐未、皆川猿時、塚地武雅(ドランクドラゴン)、でんでん、風間杜夫、オダギリジョー、神田伯山 らが出演しています

  https://tver.jp/episodes/epjkznd2qn
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) の配信がTVerで始まりました。 90分
  10/16 21:59まで

  阿部寛、横浜流星、山崎育三郎、趣里、岡崎体育、ゆうき(土佐兄弟)、岡田浩暉、福澤朗、味方良介、髙橋颯(WATWING)、吉田涼哉、高橋光臣、佃典彦、春風亭昇太、市川実日子、吉川晃司 らが出演しています

  https://tver.jp/episodes/ephx5pnuck
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 8話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、吉田ウーロン太、フラミンゴ、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、伊達さゆり、井上拓哉、上田遥、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、武井壮、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、内山智貴、片山幸人、黒田浩史、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/ep6yu5fnx8
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 33話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep1gmd5hcy
</p>

<p class="tver">
  アニメ 百妖譜 京師篇(2026・3期) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep8qk4l590
</p>

<p class="tver">
  アニメ ブラッククローバー(2026・2期) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  梶原岳人、島崎信長、諏訪部順一、優木かな らが出演しています

  https://tver.jp/episodes/ep28nn48gt
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 7話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/ep4la2e1ad
</p>
