---
title: 2026/9/12 のピックアップ
date: 2026-09-12
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「ヘタリア The Beautiful World」第1～20話｜2026/9/12配信｜アニメタイムズ公式｜1:40:14
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア/ロマーノ
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ/カナダ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/XYPHIHbNwTg
</p>

<p class="yt">
  アニメ「ヘタリア Axis Powers」第1～52話｜2026/9/12配信｜アニメタイムズ公式｜4:20:15
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/hgF3fmhARrw
</p>

<p class="yt">
  アニメ「ヘタリア World Series」第1～48話｜2026/9/12配信｜アニメタイムズ公式｜4:00:15
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/wyuE1CitLws
</p>

<p class="tver">
  バラエティ おしゃべり小料理ゆみこ(2026) 20回の配信がTVerで始まりました。 49分
  終了日未記載

  ※ “小料理屋だから聞ける”忖度なしの踏み込んだトークで、ゲストの「意外な一面」を引き出します

  有働由美子、叶美香、紅しょうが らが出演しています

  https://tver.jp/episodes/epzru14q3i
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。 22分
  9/19 16:00まで

  ※ 鉄道写真ゆりかもめ決着編！東京名所三つ巴対決

  相葉雅紀、えなりかずき、石原良純、徳永ゆうき、与田祐希 らが出演しています

  https://tver.jp/episodes/ep1fmzb3ow
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1619回の配信がTVerで始まりました。 47分
  9/19 14:59まで

  ※ 中条あやみに関西人が直球質問！「自分が『大阪人だな』と感じる点は？」

  明石家さんま、間寛平、村上ショージ、松尾伴内、次長課長、中条あやみ、今田耕司、山崎香佳 らが出演しています

  https://tver.jp/episodes/ep0868mdi3
</p>

<p class="tver">
  バラエティ ごぶごぶ(2026) 670回の配信がTVerで始まりました。 50分
  9/19 13:53まで

  ※ 大阪が誇る名建築へ★後藤真希と秘密の重要文化財＆梅田スカイビル裏側

  浜田雅功(ダウンタウン)、後藤真希 らが出演しています

  https://tver.jp/episodes/eps67c39b9
</p>

<p class="tver">
  ドラマ 今夜はコの字で(2022・2期) 5～8話の配信がTVerで始まりました。 24分
  終了日未記載

  中村ゆり、浅香航大、優希美青、小園凌央、藤井武美、平家秀樹、福田優、矢島理佐、佐藤良洋、下條アトム らが出演しています

  https://tver.jp/episodes/ep6gzr9j9u
</p>

<p class="tver">
  ドラマ 今夜はコの字で(2020) 9～12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  中村ゆり、浅香航大、小園凌央、藤井武美、堀部圭亮、太田靖則、国吉恵美、花房岳考、常住真菜、航、吉田智美、小倉聖矢、下條アトム らが出演しています

  https://tver.jp/episodes/epfthi3f8s
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 15話の配信がTVerで始まりました。 24分
  9/19 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epvqzhtoug
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 77話の配信がTVerで始まりました。 24分
  9/19 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epr4htb0fu
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 20話の配信がTVerで始まりました。 24分
  9/19 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/ep8j8owfjh
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。 46分
  9/19 10:29まで

  ※ ミニチュアアートの神初密着!▽親子丼名店が絶賛「東京しゃも」

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/ep5vhz44sl
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 5話の配信がTVerで始まりました。 30分
  9/26 12:00まで

  山田優、金子ノブアキ、勝村政信 らが出演しています

  https://tver.jp/episodes/eptcu4whgf
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 5話の配信がTVerで始まりました。 44分
  9/26 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、佐藤寛太 らが出演しています

  https://tver.jp/episodes/eppr5wx96t
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 7話の配信がTVerで始まりました。 31分
  9/19 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史、半海一晃 らが出演しています

  https://tver.jp/episodes/epduwmgwql
</p>

<p class="tver">
  ドラマ ギャルサー(2006) 9～11(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  藤木直人、戸田恵梨香、鈴木えみ、矢口真里、新垣結衣、岩佐真悠子、佐津川愛美、奈津子、佐藤隆太、古田新太、生瀬勝久、三浦理恵子 らが出演しています

  https://tver.jp/episodes/ep9jknw3m7
</p>

<p class="tver">
  ドラマ リセット(2009) 5話の配信がTVerで始まりました。 30分
  9/26 12:00まで

  田中直樹(ココリコ)、村川絵梨、新井浩文、石井トミコ らが出演しています

  https://tver.jp/episodes/eponqbzc82
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 5話の配信がTVerで始まりました。 44分
  9/26 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、寺脇康文、柳喬之、横澤夏子 らが出演しています

  https://tver.jp/episodes/epdb63pe4t
</p>

<p class="tver">
  ドラマ 悪女（わる）～働くのがカッコ悪いなんて誰が言った？～(2022) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  今田美桜、江口のりこ、鈴木伸之、高橋文哉、桜井ユキ、佐戸井けん太、松田凌、赤澤遼太郎、向井理 らが出演しています

  https://tver.jp/episodes/epdkl74lr4
</p>

<p class="tver">
  ドラマ 花咲舞が黙ってない(2024) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  今田美桜、山本耕史、飯尾和樹(ずん)、要潤、菊地凛子、上川隆也、盛隆二、田野倉雄太、岡部尚、小野寺ずる、BOB、長村航希、平原テツ らが出演しています

  https://tver.jp/episodes/epznzr48p8
</p>

<p class="tver">
  ドラマ ホタルノヒカリ(2007) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  綾瀬はるか、国仲涼子、加藤和樹、武田真治、板谷由夏、安田顕、浅見れいな、渡部豪太、渋江譲二、松本まりか、松下さら、丸山智己、松永博史、藤木直人 らが出演しています

  https://tver.jp/episodes/epunrjshcu
</p>

<p class="tver">
  ドラマ ホタルノヒカリ2(2010) 9～11(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  綾瀬はるか、向井理、板谷由夏、臼田あさ美、安田顕、石井萌々果、高橋努、中別府葵、市川知宏、君沢ユウキ、井出卓也、佐藤千亜妃、柳澤貴彦、真下玲奈、木村多江、藤木直人 らが出演しています

  https://tver.jp/episodes/epl1fxm8hf
</p>

<p class="tver">
  ドラマ 未満警察 ミッドナイトランナー(2020) 1～3話の配信がTVerで始まりました。 46分
  終了日未記載

  中島健人、平野紫耀(Number_i)、吉瀬美智子、大幡しえり、葉山奨之、竹内愛紗、傳谷英里香、阿岐之将一、小平大智、中村ゆり、原田泰造(ネプチューン)、伊勢谷友介 らが出演しています

  https://tver.jp/episodes/epu3a89swd
</p>

<p class="tver">
  ドラマ あなたの番です(2019) 9～10話の配信がTVerで始まりました。 47分
  終了日未記載

  9～10話：https://tver.jp/episodes/epfppprfmj
  特別編：https://tver.jp/episodes/ep2mtigbmm

  原田知世、田中圭、西野七瀬、竹中直人、木村多江、生瀬勝久、鈴木勝大、山田真歩、浅香航大 らが出演しています
</p>

<p class="tver">
  ドラマ Dr.チョコレート(2023) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  坂口健太郎、白山乃愛、西野七瀬、葵わかな、鈴木紗理奈、前田旺志郎、古川雄大、福山翔大、平子祐希(アルコ&ピース)、石川恋、青木瞭、佐野弘樹、畑芽育、恒松祐里、山口祥行、戸次重幸、眞島秀和、香椎由宇、山本耕史、安達祐実、小澤征悦、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epn1msrc1t
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 8話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、大路恵美、高橋洋、迫田孝也、津嘉山正種、橋爪淳、小手伸也、水橋研二、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/ephq78psvo
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 7話の配信がTVerで始まりました。 45分
  9/18 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、春海四方、藤原邦章、大友花恋、唐木ちえみ、中島愛里、筒井萌子、茅島成美、阪田マサノブ、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/eph1a773tp
</p>

<p class="tver">
  ドラマ 恋です！〜ヤンキー君と白杖ガール〜(2021) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  杉咲花、杉野遥亮、奈緒、鈴木伸之、田辺桃子、細田佳央太、生見愛瑠、堀夏喜、濱田祐太郎、ファーストサマーウイカ、戸塚純貴、古川雄大、岸谷五朗、小関裕太 らが出演しています

  https://tver.jp/episodes/epfia0brk5
</p>

<p class="tver">
  ドラマ 東京タラレバ娘(2017) 8～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平 らが出演しています

  https://tver.jp/episodes/epxhcf58ir
</p>

<p class="tver">
  ドラマSP 東京タラレバ娘2020(2020) の配信がTVerで始まりました。 98分
  終了日未記載

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平、松下洸平、渡辺大知 らが出演しています

  https://tver.jp/episodes/epf5tzp1g9
</p>

<p class="tver">
  ドラマ 14才の母～愛するために 生まれてきた～(2006) 9～11(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  志田未来、田中美佐子、生瀬勝久、山口紗弥加、河本準一(次長課長)、三浦春馬、谷村美月、北乃きい、高畑淳子、海東健、金子さやか、井坂俊哉、北村一輝、室井滋 らが出演しています

  https://tver.jp/episodes/epqlopvapx
</p>

<p class="tver">
  ドラマ ダンダリン 労働基準監督官(2013) 1～3話の配信がTVerで始まりました。 59分
  終了日未記載

  竹内結子、松坂桃李、風間俊介、水橋研二、トリンドル玲奈、大島蓉子、賀来千香子、西田尚美、石野真子、大倉孝二、佐野史郎、北村一輝、渡辺いっけい、でんでん らが出演しています

  https://tver.jp/episodes/epdl5gwgg0
</p>

<p class="tver">
  ドラマ すいか(2003) 8～10(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  小林聡美、ともさかりえ、市川実日子、浅丘ルリ子、小泉今日子、高橋克実、金子貴俊、もたいまさこ、白石加代子 らが出演しています

  https://tver.jp/episodes/epad4kvs17
</p>

<p class="tver">
  ドラマ 偽装不倫(2019) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  杏、宮沢氷魚、瀬戸利樹、MEGUMI、田中道子、夏子、伊沢弘、朝加真由美、谷原章介、仲間由紀恵 らが出演しています

  https://tver.jp/episodes/epk79wbft7
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 9話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、鈴川琴音、肥後克広(ダチョウ倶楽部)、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/epa8aco2u5
</p>

<p class="tver">
  ドラマ ムチャブリ！わたしが社長になるなんて(2022) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  高畑充希、志尊淳、夏帆、笠松将、山田真歩、忍成修吾、片山友希、優香、坪倉由幸(我が家)、神保悟志、荒川良々、松田翔太 らが出演しています

  https://tver.jp/episodes/epqfvc0yl5
</p>

<p class="tver">
  ドラマ 過保護のカホコ(2017) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、久保田紗友、濱田マリ、横山歩 らが出演しています

  https://tver.jp/episodes/epvipfrbgg
</p>

<p class="tver">
  ドラマSP 過保護のカホコ～2018ラブ＆ドリーム～(2018) の配信がTVerで始まりました。 94分
  終了日未記載

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、梅沢昌代、濱田マリ、久保田紗友、横山歩、映美くらら、西尾まり、中島ひろ子、夙川アトム らが出演しています

  https://tver.jp/episodes/ep8wh8x5ne
</p>

<p class="tver">
  ドラマ ファーストペンギン！(2022) 8～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  奈緒、堤真一、鈴木伸之、渡辺大知、松本若菜、ファーストサマーウイカ、遠山俊也、志田未来、梶原善、吹越満、梅沢富美男、北川尚弥、泉谷しげる、小西遼生 らが出演しています

  https://tver.jp/episodes/epneyupy3e
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 9話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、馬場徹、猪塚健太、工藤美桜、谷遼、湯川尚樹、菜々緒、稲森いずみ、城田優、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2zjtvpmw
</p>

<p class="tver">
  ドラマ スーパーサラリーマン左江内氏(2017) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  堤真一、小泉今日子、ムロツヨシ、島崎遥香、賀来賢人、早見あかり、佐藤二朗、笹野高史、高橋克実、平泉成、立石涼子、永野芽郁 らが出演しています

  https://tver.jp/episodes/ep7ym2nauy
</p>

<p class="tver">
  ドラマ ニッポンノワール－刑事Yの反乱－(2019) 8～10(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  賀来賢人、広末涼子、井浦新、夏帆、工藤阿須加、北村一輝、田野井健、細田善彦 らが出演しています

  https://tver.jp/episodes/epoiqkia42
</p>

<p class="tver">
  ドラマ ドン★キホーテ(2011) 1～3話の配信がTVerで始まりました。 58分
  終了日未記載

  松田翔太、高橋克実、成海璃子、松重豊、三宅弘城、市川実和子、紺野まひる、渡辺憲吉、田村愛、山根和馬、河北麻友子、青木健、上田眞央、内田有紀、小林聡美 らが出演しています

  https://tver.jp/episodes/ep7j8ppn4s
</p>

<p class="tver">
  ドラマ まっしろ(2015) 7話の配信がTVerで始まりました。 47分
  9/18 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、山口馬木也、福田彩乃、高林由紀子、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/ep8y8uv2x0
</p>

<p class="tver">
  ドラマ ヒガンバナ～警視庁捜査七課～(2016) 9～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  堀北真希、檀れい、知英、高梨臨、YOU、DAIGO、高橋惠子、市川知宏、木本武宏、平山浩行、佐野史郎、大地真央、斉藤由貴、新妻聖子、山中聡、ダンカン、久保晶、寺泉憲 らが出演しています

  https://tver.jp/episodes/ep775t5bif
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 8話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、ファーストサマーウイカ、片平なぎさ、武田真治、不破万作、山本浩司(タイムマシーン3号)、福島マリコ、三田佳子 らが出演しています

  https://tver.jp/episodes/ep5xu2wj9d
</p>

<p class="tver">
  ドラマ ACMA:GAME アクマゲーム(2024) 1～3話の配信がTVerで始まりました。 71分
  終了日未記載

  間宮祥太朗、田中樹(SixTONES)、古川琴音、竜星涼、須賀健太、嵐莉菜、増田昇太、s**tkingz、橋本じゅん、諏訪部順一、花澤香菜、小澤征悦、吉川晃司 らが出演しています

  https://tver.jp/episodes/ep4utqpqjj
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 1～3話の配信がTVerで始まりました。 52分
  終了日未記載

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、成海璃子、小手伸也、水野美紀、梶原善 らが出演しています

  https://tver.jp/episodes/ep4hbbj0kk
</p>

<p class="tver">
  ドラマ 偽装の夫婦(2015) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  天海祐希、沢村一樹、内田有紀、工藤阿須加、坂井真紀、佐藤二朗、キムラ緑子、富司純子 らが出演しています

  https://tver.jp/episodes/ep12z2fa1u
</p>

<p class="tver">
  ドラマSP 永遠のぼくら sea side blue(2015) の配信がTVerで始まりました。 95分
  終了日未記載

  有村架純、山崎賢人、浅香航大、清野菜名、矢本悠馬、成海璃子、東出昌大、窪田正孝 らが出演しています

  https://tver.jp/episodes/epcq5taw5q
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 8話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、梶原善、堀井新太、宮野真守、小池里奈、渡辺憲吉、橘美緒、田中哲司、イッセー尾形、さだまさし らが出演しています

  https://tver.jp/episodes/epvg243nq4
</p>

<p class="tver">
  ドラマ コントが始まる(2021) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  菅田将暉、有村架純、仲野太賀、古川琴音、神木隆之介、芳根京子 らが出演しています

  https://tver.jp/episodes/ep0wags4um
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 76話の配信がTVerで始まりました。 24分
  9/19 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epcjjfo62k
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 5話の配信がTVerで始まりました。 25分
  9/19 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epq072y630
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 35話の配信がTVerで始まりました。 24分
  9/19 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epjdgn5lqy
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/ep0llz5n5x
</p>

<p class="tver">
  アニメ あたしンち(2002) 10話の配信がTVerで始まりました。 24分
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epel13psmn
</p>

<p class="tver">
  アニメ ダンダダン(2024～2025) 全24話の配信がTVerで始まりました。 25分
  終了日未記載

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉 らが出演しています

  https://tver.jp/episodes/ep2i82vg94
</p>
