---
title: 2026/7/6 のピックアップ
date: 2026-07-06
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 真・侍伝 YAIBA(2025) 1話の配信がTVerで始まりました。
  7/14 3:38まで

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 他

  https://tver.jp/episodes/epeouit2hk
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。
  7/14 1:16まで

  ※ 今、親子を熱狂させる竹下☆ぱらだいすとは一体何者なのか？

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、竹下☆ぱらだいす、しなこ、山崎弘也(アンタッチャブル) らが出演しています

  https://tver.jp/episodes/epxpkzme4b
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 14分のドラマです

  石黒英雄、入来茉里 らが出演しています

  https://tver.jp/episodes/ep1pb3bync
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/ep1njoxhdt
</p>

<p class="tver">
  ドラマ ブラックペアンと言いたくて…～万年ヒラ医局員の憂鬱な日常～ 日曜劇場『ブラックペアン 』サイドストーリ―(2024・2期) 7話の配信がTVerで始まりました。
  7/14 23:59まで

※ 9分のドラマです

  今野浩喜、内村遥、キム・ムジュン、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂 らが出演しています

  https://tver.jp/episodes/epwtbx27pd
</p>

<p class="tver">
  ドラマ チア☆ダン(2018) 10話の配信がTVerで始まりました。
  7/14 21:59まで

  土屋太鳳、石井杏奈、佐久間由衣、山本舞香、朝比奈彩、大友花恋、箭内夢菜、志田彩良、清水尋也、八木莉可子、伊原六花、足立佳奈、堀田真由、福地桃子、小倉ゆうか、石崎なつみ、坂ノ上茜、溝口恵、守屋ことり、佐生雪、高橋里恩、本多力、森カンナ、木原勝利、遠藤健慎、高村佳偉人、松本若菜、飯豊まりえ、高橋和也、紺野まひる、新木優子、木下ほうか、阿川佐和子、オダギリジョー らが出演しています

  https://tver.jp/episodes/epwdkqto2i
</p>

<p class="tver">
  ドラマ 氷の世界(1999) 3話の配信がTVerで始まりました。
  終了日未記載

  竹野内豊、松嶋菜々子、内田有紀、金子賢、仲村トオル、及川光博、中嶋朋子 らが出演しています

  https://tver.jp/episodes/epw9p7z5zs
</p>

<p class="tver">
  ドラマ １８／４０～ふたりなら夢も恋も～(2023) 10(最終)話の配信がTVerで始まりました。
  7/14 21:59まで

  福原遥、深田恭子、鈴鹿央士、上杉柊平、出口夏希、長澤樹、嵐莉菜、佐野ひなこ、坂口涼太郎、葵揚、菊池日菜子、浦井のりひろ(男性ブランコ)、川端結愛、北香那、美村里江、松本若菜、高嶋政宏、片平なぎさ、安田顕 らが出演しています

  https://tver.jp/episodes/epw2wibf5z
</p>

<p class="tver">
  ドラマ Room Of King(2008) 2話の配信がTVerで始まりました。
  終了日未記載

  水嶋ヒロ、鈴木杏、井川遥、板尾創路、斉木しげる、我修院達也、石野真子、深沢敦、平山浩行、大倉孝二、ミッキー・カーチス、渡部篤郎 らが出演しています

  https://tver.jp/episodes/epmzndtqel
</p>

<p class="tver">
  ドラマ 余命３ヶ月のサレ夫(2026) 6～7(最終)話の配信がTVerで始まりました。
  終了日未記載

  白洲迅、桜井日奈子、庄司浩平、森日菜美、新川優愛、映美くらら、高橋光臣、筒井真理子 らが出演しています

  https://tver.jp/episodes/epjdkvsmkw
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 10(最終)話の配信がTVerで始まりました。
  7/14 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、長野里美、烏丸せつこ、津田寛治、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/ep74sicnoj
</p>

<p class="tver">
  ドラマ 白戸修の事件簿(2012) 10(最終)話の配信がTVerで始まりました。
  7/14 21:59まで

  千葉雄大、本郷奏多、中村静香、立木文彦、松尾諭、おかやまはじめ、伊藤正之、木本武宏、堤隆博、江畑浩規、甲本雅裕、石黒賢 らが出演しています

  https://tver.jp/episodes/ep20dtnnos
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epyzwhi0gk
</p>

<p class="yt">
  ふしぎな島のフローネ 25～27話｜2026/7/6配信｜日本アニメーション・シアター｜1:16:55
※ 2026/9/20 23:59まで

松尾佳子：フローネ
高坂真琴：ジャック
小林　修：エルンスト
古谷　徹：フランツ
平井道子：アンナ

  https://youtu.be/IIYkLufujVA
</p>

<p class="yt">
  アニメ三つ目がとおる 1~4話｜2026/7/6配信｜手塚プロダクション公式チャンネル｜1:38:39
※ 2026/8/25 14:00まで

伊倉　一恵：写楽保介
松井菜桜子：和登千代子
嶋　　俊介：犬持
緒方　賢一：ヒゲオヤジ
田野　恵　：オサム
速水　奨　：鬼胴

  https://youtu.be/Mp1nZ1_Cpv8
</p>

<p class="tver">
  バラエティ 栄子とひとりと知りすぎた人たち(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 「ソフトクリームを知りすぎた人たち」

  小池栄子、劇団ひとり、松下由樹、ファーストサマーウイカ、タイムマシーン3号(関太、山本浩司) らが出演しています

  https://tver.jp/episodes/ep78dwtll8
</p>

<p class="tver">
  バラエティ ナニコレ珍百景(2026) の配信がTVerで始まりました。
  7/13 18:00まで

  ※ 秘境駅や餃子…あまり知られてない日本三大○○＆京都・熊本の先っちょ

  高橋ひかる、バッテリィズ、ネプチューン(名倉潤、原田泰造、堀内健)、斎藤ちはる らが出演しています

  https://tver.jp/episodes/epcw0jni6t
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。
  7/13 19:00まで

  ※ 木10俳優VS俳優芸人！負けられない俳優対決

  林修、村瀬哲史、寺西拓人(timelesz)、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、ネプチューン(堀内健、名倉潤、原田泰造)、アルコ&ピース(酒井健太、平子祐希)、宮下草薙(草薙航基、宮下兼史鷹)、柳原可奈子、伊藤利尋 らが出演しています

  https://tver.jp/episodes/epa7uendiu
</p>

<p class="tver">
  バラエティ 真剣遊戯！THE バトル SHOW(2026) の配信がTVerで始まりました。
  7/13 20:00まで

  ※ 横山裕VS櫻井翔！渡部篤郎が初参戦であっち向いてホイに挑戦

  櫻井翔、横山裕(SUPER EIGHT)、渡部篤郎、松村沙友理、小島健(Aぇ! group)、橋本涼(B&ZAI)、B＆ZAI、木村沙織、ウエンツ瑛士、関太(タイムマシーン3号)、サンシャイン池崎、ふくらP、井上咲楽、武尊、立本信吾 らが出演しています

  https://tver.jp/episodes/epdwch8i0u
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。
  7/13 21:54まで

  ※ 今田美桜が房総半島バスツアーの大人気店で帰れま10特別編！

  タカアンドトシ、今田美桜、紅しょうが(熊元プロレス、稲田美紀) らが出演しています

  https://tver.jp/episodes/eppp5hzqxc
</p>

<p class="tver">
  ドラマSP GTOリバイバル(2024) の配信がTVerで始まりました。
  終了日未記載

  反町隆史、岡崎紗絵、小手伸也、八木莉可子、畑芽育、日向亘、小林桃子、やべけんじ、鈴木浩介、池内博之、山崎裕太、窪塚洋介、徳山秀典、小栗旬、藤木直人、松嶋菜々子 他

  https://tver.jp/episodes/epwlsdrfcm
</p>

<p class="tver">
  ドラマ 恋仲(2015) 4話の配信がTVerで始まりました。
  7/13 終了時間未記載まで

  福士蒼汰、本田翼、野村周平、仲野太賀、大原櫻子、大友花恋、市川由衣、山本美月、馬場園梓、前野朋哉、永井大、吉田羊、小林薫 らが出演しています

  https://tver.jp/episodes/epqoknucw3
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 3話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈 らが出演しています

  https://tver.jp/episodes/ep9cj8sbql
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 19話の配信がTVerで始まりました。
  7/13 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/epqfq20v09
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  7/13 15:00まで

  ※ 亡き夫が追い求めた田舎暮らしというロマンに楽しく寄り添い、暮らし続ける女性。自然とともに暮らす喜びとは――。

  所ジョージ、林修、玉森裕太(Kis-My-Ft2)、森川葵 らが出演しています

  https://tver.jp/episodes/ep6ph4floo
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと導かれし七人(2016) 1～4話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/epd5kihx03
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと悪霊の鍵(2012) 5～8話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/ep4hgfd591
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと魔王の城(2011) 9～12(最終)話話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/epk5thpzmr
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 14話の配信がTVerで始まりました。
  7/13 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epvdjfzymy
</p>

<p class="tver">
  バラエティ ナゾ解き☆はるpyon調査隊(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ [9分の番組です]レトロ自販機の謎

  橋本陽菜(AKB48) らが出演しています

  https://tver.jp/episodes/epo5aziav0
</p>

<p class="tver">
  ドラマ 週末婚(1999) 6話の配信がTVerで始まりました。
  7/12 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、小松正一、須永慶、織本順吉、夏桂子、戸川京子、根岸季衣、仲村トオル らが出演しています

  https://tver.jp/episodes/epoi5fv546
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 21話の配信がTVerで始まりました。
  7/13 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epm099j88a
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 23話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、伊瀬茉莉也、飯田友子、池澤春菜、浅井晴美、大本眞基子、大塚みずえ、小桜エツコ、氷上恭子、水田わさび、鉄炮塚葉子、上村典子、長嶝高士、野島健児、伊藤美紀、伊東健人 らが出演しています

  https://tver.jp/episodes/epj9j2idvp
</p>
