---
title: 2026/8/14 のピックアップ
date: 2026-08-14
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  アニメ「本好きの下剋上 司書になるためには手段を選んでいられません 第3期」全14話｜2026/8/14配信｜アニメタイムズ公式｜5:32:53
  ※ 2026/8/30(日) 16:59まで

  井口裕香：マイン
  速水奨：フェルディナンド
  井上和彦：ジルヴェスター
  森川智之：カルステッド
  梅原裕一郎：ダームエル
  田村睦心：ルッツ
  子安武人：ベンノ
  中島愛：トゥーリ
  小山剛志：ギュンター
  折笠富美子：エーファ
  日野聡：オットー
  衣川里佳：コリンナ
  前野智昭：マルク
  内田彩：フリーダ
  三瓶由布子：ギル
  狩野翔：フラン
  都丸ちよ：デリア
  鈴木みのり：ロジーナ
  安野希世乃：ヴィルマ

  https://youtu.be/s9d1w6CQRq8
</p>

<p class="yt">
  アニメ「陸奥圓明流外伝 修羅の刻」1～26話｜2026/8/14配信｜アニメタイムズ公式｜10:01:00
  ※ 2026/9/14(月) 16:59まで

  高橋広樹：陸奥八雲
  松山鷹志：宮本武蔵
  菊池心：宮本伊織(子供時代)
  升望：吉祥丸
  石原凡：沢庵和尚
  遊佐浩二：陸奥天斗
  鈴木真仁：圓
  渡辺浩司：宮本伊織(青年時代)
  竹本英史：柳生十兵衛
  宮澤正：佐助
  亀山助清：柳生宗矩
  郷田ほづみ：陸奥出海
  遠藤章史：坂本龍馬
  中村悠一：沖田総司
  楠大典：土方歳三
  外波山文明：千葉定吉
  平田絵里子：千葉さなこ

  https://youtu.be/six8yxWAUYI
</p>

<p class="yt">
  アニメ「うみねこのなく頃に」1～26話｜2026/8/14配信｜アニメタイムズ公式｜10:31:02
  ※ 2026/8/21(金) 16:59まで

  小野大輔：右代宮戦人
  井上麻里奈：右代宮朱志香
  堀江由衣：右代宮真里亞
  鈴村健一：右代宮譲治
  釘宮理恵：紗音
  小林ゆう：嘉音
  麦人：右代宮金蔵
  小杉十郎太：右代宮蔵臼
  篠原恵美：右代宮夏妃
  伊藤美紀：右代宮絵羽
  広瀬正志：右代宮秀吉
  小山力也：右代宮留弗夫
  田中敦子：右代宮霧江
  小清水亜美：右代宮楼座
  船木真人：源次
  上別府仁資：郷田
  羽鳥靖子：熊沢
  石住昭彦：南條
  大原さやか：ベアトリーチェ
  田村ゆかり：ベルンカステル
  斉藤佑圭：ルシファー
  米澤円：レヴィアタン
  日笠陽子：サタン
  吉田聖子：ベルフェゴール
  新名彩乃：マモン
  山岡ゆり：ベルゼブブ
  豊崎愛生：アスモデウス

  https://youtu.be/9PZGJ5_FXiY
</p>

<p class="yt">
  映画「真珠の耳飾りの少女」(2004)｜2026/8/14配信｜ギャガ公式チャンネル｜1:40:11
  ※ 期間限定だと思いますが、期限がないのでお早めに

  重松　朋｜グリート：スカーレット・ヨハンソン
  伊藤　栄次｜ヨハネス・フェルメール：コリン・ファース
  仲野　裕｜ファン・ライフェン：トム・ウィルキンソン
  中國　卓郎｜ピーター：キリアン・マーフィー
  宮寺　智子｜カタリーナ：エシー・デーヴィス

  吹替版：https://youtu.be/fJ4UcCjA9mY
  字幕版：https://youtu.be/0YcvxwMOLjc
</p>

<p class="tver">
  バラエティ バズリズム02(2026) の配信がTVerで始まりました。
  8/22 1:03まで

  ※ TREASURE直筆履歴書で深掘り&日本ライブのオフ動画。BUZZ CLIPS内でAKB48のバンドユニット「スクールバッグ計画」も一部出演しているとか何とか。

  バカリズム、TREASURE、EBiDAN、cosmosy、AOAO、佐々木希、KOIAI、浦野モモ、スクールバッグ計画(AKB48)? らが出演しています

  https://tver.jp/episodes/epvwvc9rpe
</p>

<p class="tver">
  バラエティ ザキ山小屋(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ コーヒーをこよなく愛する御一行様

  山崎弘也(アンタッチャブル)、塚地武雅(ドランクドラゴン)、金田朋子、八乙女光(Hey! Say! JUMP)、平岡佐智男、コーヒールンバ らが出演しています

  https://tver.jp/episodes/ep3qxcqqm8
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ [配信限定]まさかの案件！料理歴1年の“きっちりおじさん”のもとに、過去最大級の難題が!?男性アイドルグループIDOLiSH7（アイドリッシュセブン）に所属する四葉環から「最強のプリンを作って“王様プリン”の魅力を世界中に広めて欲しい」と依頼された。

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep22njm1mx
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  8/21 22:30まで

  ※ 自炊65　自家製パニーノ＆バーニャカウダ　完結編

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep4he2dnc4
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  8/21 23:29まで

  ※ 青木崇高、スコッチウイスキーを知る

  三村マサカズ、青木崇高 らが出演しています

  https://tver.jp/episodes/ep4kpu5mhk
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  8/21 18:59まで

  ※ コストコ商品を野呂佳代がアレンジ料理祭！人気商品で１番ウマい食べ方完全伝授&JO1&TEAMイケメン達の料理腕前ガチ検証

  設楽統(バナナマン)、黒田みゆ、カズレーザー(メイプル超合金)、陣内智則、高橋茂雄(サバンナ)、出川哲朗、福原遥、細田佳央太、塩野瑛久、JO1(佐藤景瑚、與那城奨)、TAKI(THE JET BOY BANGERZ)、&TEAM、野呂佳代、松井ケムリ(令和ロマン)、山崎ケイ、相席スタート、矢田亜希子 らが出演しています

  https://tver.jp/episodes/epihflt34v
</p>

<p class="tver">
  バラエティ それSnow Manにやらせて下さい(2026) の配信がTVerで始まりました。
  9/11 18:59まで

  ※ 夏休み特別企画「正直ジャンケン」▼サッカー日本代表・森保監督が緊急参戦！

  Snow Man(岩本照、深澤辰哉、ラウール、渡辺翔太、向井康二、阿部亮平、目黒蓮、宮舘涼太、佐久間大介)、神田愛花、木村沙織、サンシャイン池崎、ジャンボたかお(レインボー)、高松瞳、長州力、NAOYA、ホラン千秋、森保一、吉村崇(平成ノブシコブシ)、山里亮太(南海キャンディーズ) らが出演しています

  https://tver.jp/episodes/ephmmjeo0b
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  8/28 20:59まで

  ※ 中身ギッシリ！？開かずの金庫&宮古島の海をマモルンジャー

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、与田祐希、別府ともひこ(エイトブリッジ)、ワタリ119、都留拓也(ラパルフェ)、槇大輔 らが出演しています

  https://tver.jp/episodes/epp1wsygmk
</p>

<p class="tver">
  バラエティ かまいたちの瞬間回答～60秒でお悩み解決～(2026) の配信がTVerで始まりました。
  8/21 21:00まで

  ※ ベストオブ瞬間回答＆夏グルメ裏ワザSP！

  かまいたち(山内健司、濱家隆一)、生野陽子、ギャル曽根、モナキ らが出演しています

  https://tver.jp/episodes/epckqkyvdv
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  8/21 21:58まで

  ※ 全員で連帯責任！腹ペコ2択マン

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、坂上忍 らが出演しています

  https://tver.jp/episodes/epw9ttjvnx
</p>

<p class="tver">
  バラエティ Snow Man 佐久間 渡辺 宮舘の江戸川会(2026) の配信がTVerで始まりました。
  9/11 20:54まで

  ※ 岡田将生・鈴木亮平と下町で夏の集い

  Snow Man(佐久間大介、渡辺翔太、宮舘涼太)、岡田将生、鈴木亮平 らが出演しています

  https://tver.jp/episodes/epu86pams6
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  8/21 22:59まで

  ※ 安達祐実 兄の登場に大興奮！

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、安達祐実、長谷川哲朗、小田切ヒロ、加藤拓也、平原テツ らが出演しています

  https://tver.jp/episodes/epws1jj0wd
</p>

<p class="tver">
  バラエティ 三村やす子のバズマンTV(2026) の配信がTVerで始まりました。
  8/22 1:15まで

  ※ 【アニメ好き必見！】今話題のアニメ「天幕のジャードゥーガル」の裏側に、ハライチ岩井が潜入！＆一流アニメ監督に独占インタビュー！

  三村マサカズ、さまぁ〜ず、やす子、岩井勇気(ハライチ)、綾瀬ことり、Rain Tree らが出演しています

  https://tver.jp/episodes/eppbxpcdlk
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 7話の配信がTVerで始まりました。
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、岩田龍門、堂ノ下沙羅、坂元明登、山下光琉、松島歩志 らが出演しています

  https://tver.jp/episodes/epnblegm5v
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 7話の配信がTVerで始まりました。
  8/22 0:51まで

  樋口日奈、遊屋慎太郎、安藤彰則、南山あずさ、山崎七海、星乃あんな、岩崎碧、前田瑞貴、大平采佳、まいきち、神谷空 らが出演しています

  https://tver.jp/episodes/epkos72nl8
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 5話の配信がTVerで始まりました。
  8/22 0:15まで

  吉川愛、綱啓永、恒松祐里、髙松アロハ(超特急)、坂元愛登、大朏岳優、吉沢悠、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epkqtr0514
</p>

<p class="tver">
  ドラマ Get Ready!(2023) 9話の配信がTVerで始まりました。
  8/22 23:59まで

  妻夫木聡、松下奈緒、日向亘、一ノ瀬颯、橋本マナミ、結城萌、中山麻聖、田野倉雄太、長見玲亜、片山友希、菅原卓磨、吉田涼哉、川本光貴、星野奈緒、三石琴乃、伊武雅刀、根岸季衣、福田転球、内村遥、沢村一樹、矢島健一、鹿賀丈史、藤原竜也 らが出演しています

  https://tver.jp/episodes/epsyw3jgfi
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 5話の配信がTVerで始まりました。
  8/21 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/ep959vlth3
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 6話の配信がTVerで始まりました。
  8/21 21:59まで

  蒼井優、中島歩、高橋文哉、久保田薫、イトウハルヒ、伊島青、平岡佐智男、コーヒールンバ、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/eprzk6lj60
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 4話の配信がTVerで始まりました。
  8/21 21:53まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、橋本マナミ、嶋田鉄太、大貫勇輔、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/epsqcpax8u
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 18話の配信がTVerで始まりました。
  8/22 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/epmw32ur4p
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 7話の配信がTVerで始まりました。
  8/24 22:00まで

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/ep2fh9thcd
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 20話の配信がTVerで始まりました。
  8/21 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epl14wkxt8
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 10話の配信がTVerで始まりました。
  8/21 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epkp8kn6pn
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。
  9/4 12:00まで

  ※ １９７４年の発売以来、多くの人に愛され続けるロングセラーアイス「パピコ」。その誕生と進化の裏側に迫る。

  カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/ep7mhi5uzh
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  8/28 09:54まで

  ※ 和田明日香がエビオクラあんかけ茶碗蒸しを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/eptrb1r7a1
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 12(最終)話の配信がTVerで始まりました。
  8/20 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、塩見三省、伊佐山ひろ子、西田健、村松克己、大塚良重、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epunu2saqe
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、山中崇、山本未來、織本順吉、財前直見、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epczg1mh5r
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。
  8/22 11:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epuw9ncqcl
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、伊藤淳史、池松壮亮、阿部力、平山祐介、鶴見辰吾、瑳川哲朗、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epa8iycz33
</p>

<p class="tver">
  ドラマ 天狗の台所(2024・2期) 1話の配信がTVerで始まりました。
  8/21 12:00まで

  駒木根葵汰、塩野瑛久、越山敬達、永尾柚乃、角田晃広(東京03)、渡辺真起子、原田泰造(ネプチューン) らが出演しています

  https://tver.jp/episodes/ep2y9lobsk
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 5話の配信がTVerで始まりました。
  8/21 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/eplrb9mor6
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 6話の配信がTVerで始まりました。
  8/21 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epb4pf4o7f
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 31話の配信がTVerで始まりました。
  8/28 08:30まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep79pojfos
</p>
