---
title: 2026/8/4 のピックアップ
date: 2026-08-04
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  アニメ 三つ目がとおる 41～44話｜2026/7/29配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/OCGbHtEdAVs
</p>

<p class="yt">
  『ハイジャック・ゲーム』(2017)劇場未公開作品｜2026/7/31配信｜ギャガ公式チャンネル｜1:28:13

  竹田　まどか｜グレッチェン・ブレア：デニス・リチャーズ
  山野井　仁｜マシュー・シャープ：ドルフ・ラングレン
  坂井　恭子｜セイディ：グリア・グラマー
  藤沼　建人｜ロウボーンズ：チャック・リデル
  森田　了介｜リック：ジョナサン・リプニッキ

  吹替版：https://youtu.be/XTwSBZ40Ddg
  字幕版：https://youtu.be/zcqCZrypavM
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/11 12:00まで

  ※ 東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演中。宙組の水美舞斗さんです

  中井美穂、水美舞斗、立川らく次 らが出演しています

  https://tver.jp/episodes/epemj6t2co
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 8話の配信がTVerで始まりました。
  終了日未記載

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、小曽根叶乃、橋本じゅん らが出演しています

  https://tver.jp/episodes/epyff1abmy
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 8話の配信がTVerで始まりました。
  8/11 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、小手伸也、佐野勇斗(M!LK)、佐藤栞里、フォンチー、馬場徹、諏訪太朗、猪塚健太、工藤美桜、黒田こらん、菜々緒、稲森いずみ、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep9kko9ld8
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 6話の配信がTVerで始まりました。
  8/11 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、ファーストサマーウイカ、片平なぎさ、武田真治、佐藤貴史、深沢敦、阿南敦子、木下政治、青戸昭憲、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep4flxa1a5
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 5話の配信がTVerで始まりました。
  8/11 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/ep9wh4nz9f
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 5話の配信がTVerで始まりました。
  8/11 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/eprst71rv3
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 24話の配信がTVerで始まりました。
  8/11 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epiyg5f3uy
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 5話の配信がTVerで始まりました。
  8/11 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epcbocjvwb
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 5話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/eptb91hudp
</p>
