---
title: 2026/05/31 のピックアップ
date: 2026-05-31
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  アニメ「キャプテン翼」1～12話｜2026/6/1配信｜アニメタイムズ公式｜1:36:18
※ 2026/6/14(日) 23:59 まで

  #1-4： https://youtu.be/K1xCRQAlr-o
  #5-8： https://youtu.be/BJV3ckO1cDM
  #9-12： https://youtu.be/LxUgNWeynto

  三瓶由布子：大空翼
  鈴村　健一：若林源三
  福原　綾香：岬太郎
  田村　睦心：石崎了
  佐藤　拓也：日向小次郎
  小西　克幸：ロベルト本郷
  原紗　友里：中沢早苗
  日野　未歩：浦辺反次
  岩中　睦樹：井沢守
  酒井　広大：来生哲兵
  吉野　裕行：滝一
  木内　太郎：高杉真吾
  潘　めぐみ：沢田タケシ
  梅原裕一郎：若島津健
  竹内　絢子：立花政夫
  渡辺優里奈：立花和夫
  斉藤　壮馬：三杉淳
  羽多　野渉：松山光
  西村　知道：見上辰夫
  佐藤　利奈：大空奈津子
  てらそままさき：大空広大
</p>

<p class="yt">
  見てしまった...お父さんが怪しい｜2026/5/29配信｜Hiromi factory チャンネル｜20:30

  ※ オリパひくなら業界No.1の日本トレカセンター！

  ヒロミ、小園凌央 らが出演しています

  https://youtu.be/ziLMgZwiTTs
</p>

<p class="tver">
  バラエティ 千鳥の鬼レンチャン(2026) の配信がTVerで始まりました。
  6/7 19:00まで

※ 前半:アニメモノマネで初登場、後半：元宝塚歌姫の実力は？

  前半：https://tver.jp/episodes/epsthxp7ug

  後半：https://tver.jp/episodes/epovnjupe2

  千鳥、かまいたち、松浦航大、竹中雄大、Novelbright、荒牧陽子、水森かおり、SHINOBU らが出演しています


</p>

<p class="tver">
  バラエティ 秋山の楽しすぎる約30分(2026) の配信がTVerで始まりました。
  6/14 23:59まで

  ※ ダイアン津田も困惑！？秋山考案の“芝生満喫バラエティ”芝生イイ～ねっ！

  秋山竜次(ロバート)、津田篤宏(ダイアン)、森脇 梨々夏、三浦桃香 らが出演しています

  https://tver.jp/episodes/ep1l5ltu63
</p>

<p class="tver">
  バラエティ 内田有紀の建物びより(2026) の配信がTVerで始まりました。
  終了日未記載

※ 東京・国分寺に残る昭和初期の建築「沖本家住宅」。和洋それぞれの表情を持ち、暮らしの風情が残る沖本邸。その佇まいに内田様の思いも膨らんでいき…。

  内田有紀、岩井ジョニ男 らが出演しています

  https://tver.jp/episodes/eplakxu5uj
</p>

<p class="tver">
  バラエティ 日曜日の初耳学(2026) の配信がTVerで始まりました。
  6/28 21:59まで

  ※ “唯一無二の佇まい”俳優＆プロデューサーとして世界に挑む＆切磋琢磨し続ける福田雄一監督との熱い絆

  林修、大政絢、河井ゆずる(アインシュタイン)、澤部佑(ハライチ)、中島健人、中条あやみ、ねお、賀来賢人、福田雄一、堤真一 らが出演しています

  https://tver.jp/episodes/epv3by01jh
</p>

<p class="tver">
  バラエティ ダウンタウンのガキの使いやあらへんで！(2026) の配信がTVerで始まりました。
  6/7 23:24まで

  ※ ダメ出しの嵐!水田信二の熱血料理教室

  浜田雅功(ダウンタウン)、月亭方正、ココリコ(遠藤章造、田中直樹)、水田信二 らが出演しています

  https://tver.jp/episodes/epaekt31qp
</p>

<p class="tver">
  バラエティ DUAL2 ～文武両道アスリート極限サバイバル～(2026) 3回の配信がTVerで始まりました。
  終了日未記載

  ※ 極限集中…ライフ争奪戦

  カズレーザー(メイプル超合金)、谷まりあ、宮田俊哉(Kis-My-Ft2)、板谷友弘、入江聖奈、大森康瑛、越川優、高藤直寿、高橋成美、中村知春、萩野公介、藤光謙司、森脇良太 らが出演しています

  https://tver.jp/episodes/ep4le72kfr
</p>

<p class="tver">
  ドラマ セレブ男子は手に負えません(2024) 6話の配信がTVerで始まりました。
  終了日未記載

  若月佑美、鈴木康介、本田響矢、井手上漠、中尾暢樹 らが出演しています

  https://tver.jp/episodes/eppguw59hz
</p>

<p class="tver">
  ドラマ ピュア(1996) 1話の配信がTVerで始まりました。
  終了日未記載

  和久井映見、堤真一、高橋克典、高岡早紀、篠原涼子、風吹ジュン らが出演しています

  https://tver.jp/episodes/epetr08mwq
</p>

<p class="tver">
  ドラマ ケイジとケンジ 所轄と地検の24時(2020) 1～3話の配信がTVerで始まりました。
  終了日未記載

  桐谷健太、東出昌大、比嘉愛未、磯村勇斗、今田美桜、峯村リエ、渋谷謙人、奥山かずさ、西村元貴、矢柴俊博、菅原大吉、奥貫薫、柳葉敏郎、風間杜夫 他

  https://tver.jp/episodes/epldtwui8h
</p>

<p class="tver">
  ドラマSP ドラマSP 事件救命医～IMATの奇跡～(2014) の配信がTVerで始まりました。
  終了日未記載

  玉木宏、田中圭、貫地谷しほり、大東駿介、小野了、山崎一、杉咲花、伊武雅刀、森口瑤子、水野美紀、高橋克典 らが出演しています

  https://tver.jp/episodes/ep9ont0zdg
</p>

<p class="tver">
  ドラマ ドクターX～外科医・大門未知子～(2021) 1～3話の配信がTVerで始まりました。
  終了日未記載

  米倉涼子、野村萬斎、内田有紀、勝村政信、今田美桜、小籔千豊、杉田かおる、岸部一徳、要潤、遠藤憲一、西田敏行 らが出演しています

  https://tver.jp/episodes/ep6bhubgj1
</p>

<p class="tver">
  ドラマ Oh,My Dad!!(2013) 10話の配信がTVerで始まりました。
  6/7 23:59まで

  織田裕二、田中奏生、長谷川京子、八嶋智人、鈴木杏樹 らが出演しています

  https://tver.jp/episodes/ep9iattwt1
</p>

<p class="tver">
  ドラマ 謎解きはディナーのあとで(2011) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  櫻井翔、北川景子、野間口徹、中村靖日、岡本杏理、田中こなつ、椎名桔平 らが出演しています

  https://tver.jp/episodes/epross19rk
</p>

<p class="tver">
  ドラマ ラストホープ(2013) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  相葉雅紀、多部未華子、田辺誠一、北村有起哉、宮内ひとみ(桜庭ななみ)、平田満、高嶋政宏、小日向文世 らが出演しています

  https://tver.jp/episodes/epgzo4l3u5
</p>

<p class="tver">
  ドラマ 鍵のかかった部屋(2012) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  大野智、戸田恵梨香、佐藤浩市、のん、白石美帆、松尾諭 らが出演しています

  https://tver.jp/episodes/epw1ca0r9p
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書(2019) の配信がTVerで始まりました。
  終了日未記載

  白石聖、西山潤、森田想、篠田諒、吉岡睦雄、福田愛依、後藤剛範、津田寛治 らが出演しています

  https://tver.jp/episodes/ep5mlhlgoz
</p>

<p class="tver">
  ドラマ ラッキーセブン(2012) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  松本潤、永山瑛太、仲里依紗、角野卓造、谷原章介、吹石一恵、金田明夫、入来茉里、小山慶一郎(NEWS)、大泉洋、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/eptgh6cncp
</p>

<p class="tver">
  ドラマ フリーター、家を買う。(2010) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  二宮和也、香里奈、井川遥、竹中直人、浅野温子 らが出演しています

  https://tver.jp/episodes/epvl5t5itj
  </p>

<p class="tver">
  ドラマ ONE DAY～聖夜のから騒ぎ～(2023) 4話の配信がTVerで始まりました。
  6/7 23:59まで

  二宮和也、中谷美紀、大沢たかお、中川大志、松本若菜、中村アン、桜井ユキ、井之脇海、今井英二、福本莉子、小手伸也、加藤諒、大水洋介(ラバーガール)、丸山智己、梶原善、江口洋介、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epbmuz0qfv
</p>

<p class="tver">
  ドラマ 10回切って倒れない木はない(2026) 8話の配信がTVerで始まりました。
  6/7 22:29まで

  志尊淳、仁村紗和、京本大我(SixTONES)、長濱ねる、矢柴俊博、入山法子、みりちゃむ、松岡卓弥、MATSURI、キム・ドワン、キム・ジュリョン、オ・マンソク、でんでん 他

  https://tver.jp/episodes/epos7gky10
</p>

<p class="tver">
  ドラマ エラー(2026) 8(最終)話の配信がTVerで始まりました。
  6/7 23:59まで

  畑芽育、志田未来、藤井流星(WEST.)、坂元愛登、北里琉、原田龍二、菊川怜、榊原郁恵、岡田義徳、栗山千明 らが出演しています

  https://tver.jp/episodes/ep3zr3qmtk
</p>

<p class="tver">
  ドラマ ＧＩＦＴ(2026) 8話の配信がTVerで始まりました。
  6/7 20:59まで

  堤真一、山田裕貴、有村架純、本田響矢、細田善彦、細田佳央太、円井わん、越山敬達、VOKSY DAYS、八村倫太郎、やす(ずん)、水間ロン、冨手麻妙、ノボせもんなべ、枝元萌、ゆいかれん、真飛聖、宮崎優、岩男海史、麻生祐未、町田悠宇、中山脩悟、土橋竜太、吉瀬美智子、玉森裕太(Kis-My-Ft2)、安田顕、山口智子 らが出演しています

  https://tver.jp/episodes/eppwzw1997
</p>

<p class="tver">
  アニメ 左ききのエレン(2026) 8話の配信がTVerで始まりました。
  6/8 0:29まで

  千葉翔也、内山夕実、石川由依、関根明良、興津和幸、天海由梨奈、遊佐浩二 らが出演しています

  https://tver.jp/episodes/ept0bu6otv
</p>

<p class="tver">
  アニメ ワンピース(2026) 1164話の配信がTVerで始まりました。
  6/7 23:15まで

  田中真弓、中井和哉、岡村明美、山口勝平、平田広明、大谷育江、山口由里子、木村昴、チョー、宝亀克寿 らが出演しています

  https://tver.jp/episodes/ep0svofjp0
</p>

<p class="tver">
  アニメ 魔法の姉妹ルルットリリィ(2026) 9話の配信がTVerで始まりました。
  6/7 23:00まで

  橘めい、小鹿なお、七海ひろき、茅野愛衣、和泉風花、廣原ふう、八乙女光(Hey! Say! JUMP)、天崎滉平、橘龍丸、杉田智和、笠間淳、大原めぐみ、遠藤綾 他

  https://tver.jp/episodes/epv4fu474f
</p>

<p class="tver">
  アニメ 姫騎士は蛮族の嫁(2026) 8話の配信がTVerで始まりました。
  6/7 22:30まで

  鈴代紗弓、猪股慧士、菱川花菜、豊崎愛生、富田美憂、神谷浩史、金元寿子、朝井彩加、小林裕介、久保ユリカ、相馬康一、菊池康弘、辻親八、大地葉 らが出演しています

  https://tver.jp/episodes/epsgj6t1fa
</p>

<p class="tver">
  アニメ メイドさんは食べるだけ(2026) 9話の配信がTVerで始まりました。
  6/7 21:59まで

  市ノ瀬加那、河瀬茉希、石上静香、五十嵐裕美、佐久間大介(Snow Man) らが出演しています

  https://tver.jp/episodes/eppkrsnkbn
</p>

<p class="yt">
  【木村さ〜〜ん！】鎌倉の名店でディナー!｜2026/5/30配信｜木村拓哉｜36:00
※ 木村拓哉&及川光博 最高の思い出になった夜

木村拓哉、及川光博 らが出演しています

  https://youtu.be/LFNRk5ZrzYo
</p>

<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。
  6/7 17:59まで

  ※ この場所が都だったのはわずか11年！幻の天空宮殿

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/ep2u6bobv8
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  6/7 13:59まで

  ※ 【TOYOTAの最新ロボの秘密】衝撃!!食べられる機械

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、平子祐希(アルコ&ピース)、朝日奈央 らが出演しています

  https://tver.jp/episodes/epi4thbfbk
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  6/7 18:56まで

  ※ 神奈川県横浜市保土ヶ谷の“新玉ねぎ”を収穫します

  相葉雅紀、小峠英二(バイきんぐ)、澤部佑(ハライチ) らが出演しています

  https://tver.jp/episodes/ep0z228y7y
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  6/7 11:44まで

  ※ 世の中の大きいモノ大集合…新企画!「クイズジャンボ」

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、朝日奈央、きしたかの らが出演しています

  https://tver.jp/episodes/epp3wf03gx
</p>

<p class="tver">
  バラエティ 週刊さんまとマツコ(2026) の配信がTVerで始まりました。
  6/7 12:59まで

  ※ 超人気声優が集結！！恥ずかしすぎる黒歴史＆私生活に迫る

  明石家さんま、マツコ・デラックス、吉村崇(平成ノブシコブシ)、立木文彦、花澤香菜、戸谷菊之介 らが出演しています

  https://tver.jp/episodes/epcte6dpp7
</p>

<p class="tver">
  バラエティ なりゆき街道旅(2026) の配信がTVerで始まりました。
  6/7 12:00まで

  ※ 桜田ひよりと行く再開発で注目の十条の旅！

  ハナコ、桜田ひより らが出演しています

  https://tver.jp/episodes/epyc506dms
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  6/7 12:44まで

  ※ 7歳で大ブレイク!高校3年生寺田心と筋肉ムキムキ!食トレのグルメ旅!

  兼近大樹(EXIT)、満島真之介、寺田心 らが出演しています

  https://tver.jp/episodes/epcx10qwc6
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  6/7 10:59まで

  ※ 手軽にアジアン気分！にら豆乳担々麺＆主役なチヂミ

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/ep8qdbbcpi
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  6/7 10:00まで

  ※ 増刊号。三軒茶屋の絶品名店！ウド鈴木×ザブングル加藤

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、宮藤官九郎 らが出演しています

  https://tver.jp/episodes/ept33ob8ss
</p>

<p class="tver">
  バラエティ 青森発！沖縄エンタメ楽園(2026) の配信がTVerで始まりました。
  6/14 12:00まで

  ※ 青森発！沖縄エンタメ楽園

  山口真帆、倉中るな、はまこ・テラこ らが出演しています

  https://tver.jp/episodes/epcnuu9z2p
</p>

<p class="tver">
  アニメ 最強の王様、二度目の人生は何をする？(2026) 21話の配信がTVerで始まりました。
  6/7 11:59まで

  藤原夏海、古川慎、市ノ瀬加那、井澤詩織 らが出演しています

  https://tver.jp/episodes/eprrraz4im
</p>

<p class="tver">
  アニメ 一畳間まんきつ暮らし！(2026) 7話の配信がTVerで始まりました。
  6/7 12:00まで

  菱川花菜、白砂沙帆、千春、根本京里 らが出演しています

  https://tver.jp/episodes/ep0wekuv5j
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Aegis of URUK～(2026) 8話の配信がTVerで始まりました。
  6/14 11:00まで

  KENN、折笠富美子、櫻井孝宏、堀江由衣、早水リサ、郷田ほづみ、茅原実里、石田彰、安元洋貴、土師孝也、矢島晶子、ゆかな、てらそままさき、水野理紗 他

  https://tver.jp/episodes/epglhnu3h0
</p>

<p class="yt">
  アニメ「Dr.STONE 」セレクトエピソード[1期4、16、17話、4期7話]｜2026/5/30配信｜TOHO animation チャンネル｜1:35:24
※ 6月4日(木)22時より第34話「COUNTDOWN」放送！

小林　裕介：石神千空
古川　慎　：大木大樹
市ノ瀬加那：小川 杠
沼倉　愛美：コハク
佐藤　元　：クロム
高橋　花林：スイカ
河西　健吾：あさぎりゲン
　　　麦人：カセキ
中村　悠一：獅子王 司
石田　彰　：氷月
小野　賢章：西園寺羽京
鈴木　崚汰：七海龍水
坂本　真綾：フランソワ
潘　めぐみ：チェルシー
野島　健児：Dr.ゼノ
山下誠一郎：SAI

  https://youtu.be/WbX98mlbYcg
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  6/7 6:59まで

  ※ ヘラクレスオオカブトをバグボーイズが野生のエクアドルで発見!

  所ジョージ、並木雲楓 らが出演しています

  https://tver.jp/episodes/epl3lj7yox
</p>

<p class="tver">
  アニメ 超宇宙刑事ギャバン インフィニティ(2026) 16話の配信がTVerで始まりました。
  6/7 10:00まで

  長田光平、赤羽流河、角心菜、松永有紘、有坂心花、安田啓人、入山杏奈、谷田ラナ、平岡祐太 らが出演しています

  https://tver.jp/episodes/epsuvckxmc
</p>

<p class="tver">
  アニメ ダンダダン(2025) 21話の配信がTVerで始まりました。
  6/7 4:07まで

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉、大友龍三郎、井上喜久子、関智一、杉田智和、平野文 らが出演しています

  https://tver.jp/episodes/ep28h1ccwc
</p>

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 10話の配信がTVerで始まりました。
  6/7 3:07まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/ep6ng7hgql
</p>

<p class="tver">
  アニメ 黄泉のツガイ(2026) 9話の配信がTVerで始まりました。
  6/7 2:37まで

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/eptoe7lm1q
</p>
