---
title: 2026/6/27 のピックアップ
date: 2026-06-27
tags:
  - TVer
  - Youtube
category: vidpick
---




<p class="yt">
  アニメ「FAIRY TAIL」119～124話｜2026/6/27配信｜アニメタイムズ公式｜2:26:43
※ 2026/7/29(水) 10:29まで。毎土曜 10:30～更新

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/p4BJJiQlbeU
</p>

<p class="tver">
  アニメ じょしらく(2012) 全13話の配信がTVerで始まりました。
  終了日未記載

  佐倉綾音、山本希望、小岩井ことり、南條愛乃、後藤沙緒里 らが出演しています

  https://tver.jp/episodes/epzatf8q54
</p>

<p class="tver">
  アニメ 昭和元禄落語心中 -助六再び篇-(2017) 全12話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、牛山茂、山口勝平、加瀬康之、遊佐浩二、小松未可子、関俊彦、土師孝也、須藤翔 らが出演しています

  https://tver.jp/episodes/epmrubstgp
</p>

<p class="tver">
  アニメ 昭和元禄落語心中(2016) 全13話の配信がTVerで始まりました。
  終了日未記載

  関智一、石田彰、山寺宏一、小林ゆう、林原めぐみ、家中宏、牛山茂、山口勝平、加瀬康之、遊佐浩二 らが出演しています

  https://tver.jp/episodes/ep5y06jiap
</p>
