---
title: 2026/9/22 のピックアップ
date: 2026-09-22
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  EIKOがトルネコの大冒険を生配信! #2｜2026/9/16配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜3:08:46

  狩野英孝 らが出演しています

  https://youtu.be/yycznHX2DOY
</p>

<p class="yt">
  知れば山歩きが100倍楽しくなる!虫プロデューサー・片田陽依さん × 写真家・田中博さんがマクロ撮影の魅力を語ります!｜2026/9/18配信｜山と溪谷ch.｜27:53

  片田陽依、田中博 らが出演しています

  https://youtu.be/jwyZ0y1Akgo
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 9回の配信がTVerで始まりました。 26分
  終了日未記載

  ※ チョッキーを拘束成功！！たっぷりと尋問する【チョッキーSP】

  迫田孝也、河内大和、馬場徹、タナパック・ジョンジャイパー らが出演しています

  https://tver.jp/episodes/epobyocdcf
</p>

<p class="tver">
  バラエティ 苦手克服リアリティショー キャスティングミス！！(2026) の配信がTVerで始まりました。 44分
  終了日未記載

  ※ 運動おんちでカナヅチなマシンガンズ・西堀に水上競技「ドラゴンボート」のPR仕事をオファーしてみた。

  川島明(麒麟)、鈴鹿央士、野呂佳代、西堀亮(マシンガンズ)、金山奈々絵、三瓶 らが出演しています

  https://tver.jp/episodes/epnk2fomu4
</p>

<p class="tver">
  ドラマ 晩酌の流儀４ ～秋冬編～(2025) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、おかやまはじめ、大久保佳代子(オアシズ)、大角ゆき、南出凌嘉、湊祥希、河津未来 らが出演しています

  https://tver.jp/episodes/ephzzp0u52
</p>

<p class="tver">
  ドラマ 五十嵐夫妻は偽装他人(2025) 5～8話の配信がTVerで始まりました。 26分
  終了日未記載

  新川優愛、塩野瑛久、兵頭功海、田辺桃子、水橋研二、浜中文一、平塚日菜、川久保三子、福澤重文、山口森広、櫻井佑樹 らが出演しています

  https://tver.jp/episodes/epubjtdiub
</p>

<p class="tver">
  ドラマ ただ離婚してないだけ(2021) 9～12(最終)話の配信がTVerで始まりました。 33分
  終了日未記載

  北山宏光、中村ゆり、萩原みのり、深水元基、北川拓実、大原優乃、山口祥行、西川可奈子、甲本雅裕、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep63p5lc6p
</p>

<p class="tver">
  ドラマ 量産型リコ -プラモ女子の人生組み立て記-(2022) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、藤井夏恋、望月歩、中島歩、前田旺志郎、石川恵里加、与座よしあき、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/epiiangu2x
</p>

<p class="tver">
  ドラマ 汝の名(2022) 5～8(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  山崎紘菜、北乃きい、NAOTO(EXILE)、眞島秀和、長井短、茅島成美 らが出演しています

  https://tver.jp/episodes/epcne7uepf
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 97話の配信がTVerで始まりました。 24分
  9/29 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epyr6gikka
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 35話の配信がTVerで始まりました。 24分
  9/29 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epkw2o9qeb
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。 26分
  9/29 12:00まで

  ※ 東京宝塚劇場公演『ポーの一族』に出演されてる、雪組の瀬央ゆりあさんが登場

  中井美穂、瀬央ゆりあ、立川らく次 らが出演しています

  https://tver.jp/episodes/epeb9qe4bs
</p>

<p class="tver">
  バラエティ タイトル未定のパキラっしゅ★(2026・2期) の配信がTVerで始まりました。 23分
  9/29 12:00まで

  ※ 須田亜香里も共感！SNS事情や舞台裏が赤裸々「本音ソング」

  タイトル未定、須田亜香里、箕輪直人 らが出演しています

  https://tver.jp/episodes/epl6nraugs
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 10話の配信がTVerで始まりました。 30分
  10/6 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博、神尾佑 らが出演しています

  https://tver.jp/episodes/epvb3ntutv
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 8話の配信がTVerで始まりました。 24分
  10/6 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟、金子隼也、めがね、八木響生、紺野まひる らが出演しています

  https://tver.jp/episodes/epu98ewjsf
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 10話の配信がTVerで始まりました。 44分
  10/6 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、山中崇、芹那、福田転球 らが出演しています

  https://tver.jp/episodes/eptg9um7sp
</p>

<p class="tver">
  ドラマ リセット(2009) 10話の配信がTVerで始まりました。 31分
  10/6 12:00まで

  田中直樹(ココリコ)、葛山信吾、愛実、酒井彩名 らが出演しています

  https://tver.jp/episodes/epco0xy6bb
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 8話の配信がTVerで始まりました。 44分
  10/6 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平 らが出演しています

  https://tver.jp/episodes/ep19gfh25a
</p>

<p class="tver">
  ドラマ マイ・セカンド・アオハル(2023) 4話の配信がTVerで始まりました。 47分
  9/29 11:59まで

  広瀬アリス、道枝駿佑(なにわ男子)、伊原六花、飯沼愛、水沢林太郎、箭内夢菜、濱尾ノリタカ、佐々木省三、細渕敬史、山本未來、安藤政信 らが出演しています

  https://tver.jp/episodes/epzzctlypn
</p>

<p class="tver">
  ドラマ 最愛(2021) 6話の配信がTVerで始まりました。 46分
  9/30 11:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、奥野瑛太、岡山天音、岩谷健司、水崎綾女、池下重大、宮崎秋人、ジジ・ぶぅ、山科圭太、安藤広郎、町井祥真、佐川大輔、酒向芳、津田健次郎、及川光博、井浦新 らが出演しています

  https://tver.jp/episodes/epzxbzb8tm
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 2話の配信がTVerで始まりました。 6分
  終了日未記載

  ※ ドラマ「サ道」チームが手掛ける特別番組「おつとめさん」（ナレーション：三宅弘城）

  三宅弘城 らが出演しています

  https://tver.jp/episodes/epwa0vqcj1
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 4話の配信がTVerで始まりました。 50分
  9/28 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、中山凜香、西川瑞、黒川智花、谷中敦、東京スカパラダイスオーケストラ、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/epvoo03wm0
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) 5話の配信がTVerで始まりました。 47分
  9/30 11:59まで

  阿部寛、横浜流星、山崎育三郎、趣里、岡崎体育、ゆうき(土佐兄弟)、藤井流星(WEST.)、柳俊太郎、三浦りょう太、本郷弦、粟島瑞丸、髙橋颯(WATWING)、吉田涼哉、高橋光臣、佃典彦、春風亭昇太、市川実日子、吉川晃司、三浦獠太、栁俊太郎 らが出演しています

  https://tver.jp/episodes/epq959i4o0
</p>

<p class="tver">
  ドラマ ９ボーダー(2024) 4～5話の配信がTVerで始まりました。 45分
  9/28 11:59まで

  川口春奈、木南晴夏、畑芽育、木戸大聖、井之脇海、山中聡、伊藤俊介(オズワルド)、内田慈、箭内夢菜、齋藤潤、兵頭功海、YOU、松下洸平 らが出演しています

  https://tver.jp/episodes/epjptihvjm
</p>

<p class="tver">
  ドラマ もう一度君に､プロポーズ(2012) 6話の配信がTVerで始まりました。 47分
  9/30 11:59まで

  竹野内豊、和久井映見、山本裕典、倉科カナ、市川由衣、渡辺哲、松下洸平、山野海、橋本真実、入江甚儀、久松龍一、三浦力、袴田吉彦、阿南敦子、上遠野太洸、桜井聖、小野寺昭、光石研、杉本哲太、真野響子 らが出演しています

  https://tver.jp/episodes/epiknkgmva
</p>

<p class="tver">
  ドラマ 私 結婚できないんじゃなくて､しないんです(2016) 4話の配信がTVerで始まりました。 46分
  9/29 11:59まで

  中谷美紀、藤木直人、瀬戸康史、大政絢、平岩紙、松井珠理奈、伊藤健太郎、ちすん、平田薫、友利恵、森田甘路、松井愛莉、東李苑、鬼頭真也、森下亮、安岡直、ニューヨーク(嶋佐和也、屋敷裕政)、長谷川京子、マルシア、蘭寿とむ、徳井義実(チュートリアル)、夏木マリ らが出演しています

  https://tver.jp/episodes/ephvubuapp
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 6話の配信がTVerで始まりました。 46分
  9/30 11:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、池田鉄洋、竜星涼、飯尾和樹(ずん)、吉田ウーロン太、フラミンゴ、今井隆文、竹財輝之助、鈴木裕樹、岩永洋昭、三宅克幸、北村有起哉、大倉孝二、松重豊 らが出演しています

  https://tver.jp/episodes/eph3gwzt3d
</p>

<p class="tver">
  ドラマ アトムの童（こ）(2022) 5話の配信がTVerで始まりました。 46分
  9/30 11:59まで

  山﨑賢人、松下洸平、岸井ゆきの、岡部大(ハナコ)、馬場徹、六角慎司、玄理、飯沼愛、林泰文、西田尚美、岡野陽一、安藤彰則、高橋名人、キヨ、皆川猿時、塚地武雅(ドランクドラゴン)、でんでん、風間杜夫、オダギリジョー、神田伯山 らが出演しています

  https://tver.jp/episodes/epb9dsea54
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 8話の配信がTVerで始まりました。 46分
  10/1 11:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、大後寿々花、浅野和之、沢尻エリカ、上野なつひ、田中健、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/ep0vxyot6f
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) 6話の配信がTVerで始まりました。 45分
  9/30 11:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、泉里香、加藤雅也、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/ep0ni7bfa0
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 4話の配信がTVerで始まりました。 17分
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、橋本将生(timelesz) らが出演しています

  https://tver.jp/episodes/epqxjixcla
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 22話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep1sil1ow8
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 12(最終)話の配信がTVerで始まりました。 25分
  9/29 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/epcnsu2jtu
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 96話の配信がTVerで始まりました。 24分
  9/29 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep3mi81lsg
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 12話の配信がTVerで始まりました。 25分
  9/29 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epw06qsaag
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 45話の配信がTVerで始まりました。 25分
  9/29 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epvb2d9gikf
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 12話の配信がTVerで始まりました。 25分
  9/29 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epnowgbhhy
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 15話の配信がTVerで始まりました。 25分
  9/29 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epkfh1pxj7
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 10話の配信がTVerで始まりました。 24分
  9/29 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epgtk882wz
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 7話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epn5j43axk
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 12話の配信がTVerで始まりました。 23分
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/epfhax2vdw
</p>

<p class="tver">
  アニメ 呪術廻戦(2023・2期) 25～47話の配信がTVerで始まりました。 25分
  9/29 6:59まで

  ※ 懐玉・玉折は25～29話まで。▼渋谷事変は30～47話まで

  中村悠一、櫻井孝宏、遠藤綾、永瀬アンナ、子安武人、清水理沙、安元洋貴 らが出演しています

  https://tver.jp/episodes/epkrspkn8x
</p>
