---
title: 2026/9/21 のピックアップ
date: 2026-09-21
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 夏のフィナーレ 鳥羽絶景リゾート旅(2026) の配信がTVerで始まりました。 34分
  終了日未記載

  ※ 今年W結婚を果たした元SKE48の仲良しコンビ、山内鈴蘭と松井珠理奈が三重県鳥羽市で絶景リゾート旅へ！

  山内鈴蘭、松井珠理奈 らが出演しています

  https://tver.jp/episodes/ep47w6ai6r
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。 53分
  9/28 15:00まで

  ※ 俳優、フラワーデザイナー、そして革職人へ。広島県の山奥の一軒家で“自分らしい生き方”を見つけた男性の新たな暮らしとは――。

  所ジョージ、林修、風間トオル、櫻井淳子 らが出演しています

  https://tver.jp/episodes/ephiedn9wu
</p>

<p class="tver">
  バラエティ 第46回全国高等学校クイズ選手権 高校生クイズ2026(2026) の配信がTVerで始まりました。 40分
  9/28 15:49まで

  ※ 全国強豪40校から本戦への16校をかけてクイズバトル

  SixTONES、チョコレートプラネット、佐藤栞里、石川みなみ らが出演しています

  https://tver.jp/episodes/ep83ayy9j3
</p>

<p class="tver">
  バラエティ 二軒目どうする？～ツマミのハナシ～(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 【傑作選】元Dream5 大原優乃と大塚で乾杯！

  松岡昌宏、博多大吉(博多華丸・大吉)、大原優乃 らが出演しています

  https://tver.jp/episodes/epdwvt032a
</p>

<p class="tver">
  ドラマ 晩酌の流儀４ ～秋冬編～(2025) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、森田甘路、前田航基 らが出演しています

  https://tver.jp/episodes/ep3xacm2vd
</p>

<p class="tver">
  ドラマ 晩酌の流儀４ ～夏編～(2025) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、ミスターちん、おかやまはじめ、新納慎也 らが出演しています

  https://tver.jp/episodes/eptehhs43y
</p>

<p class="tver">
  ドラマ 五十嵐夫妻は偽装他人(2025) 1～4話の配信がTVerで始まりました。 26分
  終了日未記載

  新川優愛、塩野瑛久、兵頭功海、田辺桃子、水橋研二、浜中文一、平塚日菜、川久保三子、福澤重文 らが出演しています

  https://tver.jp/episodes/epi24hmho1
</p>

<p class="tver">
  ドラマ ただ離婚してないだけ(2021) 5～8話の配信がTVerで始まりました。 33分
  終了日未記載

  北山宏光、中村ゆり、萩原みのり、深水元基、北川拓実、大原優乃、山口祥行、西川可奈子、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep4ma4tiah
</p>

<p class="tver">
  ドラマ 汝の名(2022) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  山崎紘菜、北乃きい、NAOTO(EXILE)、眞島秀和、京典和玖、長井短、植木祥平 らが出演しています

  https://tver.jp/episodes/epysxu5ovb
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 95話の配信がTVerで始まりました。 24分
  9/28 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epkltswk98
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 24(最終)話の配信がTVerで始まりました。 24分
  9/28 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep1fn2uy0s
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 34話の配信がTVerで始まりました。 24分
  9/28 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/ep5kwaazwq
</p>

<p class="yt">
  Huluオリジナル「THE SWARM/ザ・スウォーム」(2023)第1話無料公開｜2026/9/19配信｜Hulu Japan公式｜44:51
  ※ 12/18(金) 0:00まで。時間の期限が未記載のため当日ジャストで設定しました。▼バンクーバー島沖で「クジラの死骸」が発見され、その不可解な死因を調査する海洋学者や研究者たちは、[海で発生している異変]に直面します。環境の変化と海洋生物の異常行動が重なる中、彼らは未知の脅威の正体を突き止めるべく奔走します。▼世界規模で巻き起こる深海の恐怖を描いた本格SFサスペンス。★木村拓哉も出演しています

  斎藤　恵理｜セシル・ローシュ博士：セシル・ドゥ・フランス
  上田　燿司｜シグル・ヨハンソン教授：アレクサンダー・カリム
  森　なな子｜チャーリー・ワグナー：レオニー・ベネシュ
  岩中　睦樹｜レオン・アナワク：ジョシュア・オジック
  唐沢　潤　｜カタリーナ・レーマン教授：バルバラ・スコヴァ
  本田　貴子｜ティナ・ルン：クリスタ・コソネン
  　Ｌｙｎｎ｜アリシア・デラウェア：ロザベル・ラウレンティ・セラーズ
  　藤　貴子｜サマンサ・クロウ：シャロン・ダンカン＝ブルースター
  杉村　憲司｜ラヒム・アミール：エイディン・ジャラリ
  高瀬　右光｜ジャスパー・アルバン：オリヴァー・マスッチ
  江頭　宏哉｜ルーサー・ロスコヴィッツ：クラース・ハウファー＝ウムラウフ
  木村　拓哉｜アイト・ミフネ：木村拓哉
  遠藤　大智｜リク・サトウ：平岳大
  永吉　ユカ｜ソフィア・グラネリ：フランツィスカ・ワイズ
  田村　聖子｜ラウラ：マルレーン・ショルテン
  志村　知幸｜ジャック・オバノン：ダッチ・ジョンソン
  大津　愛理｜リジー・ストリンガー：エリザベス・キニア
  加瀬　康之｜ダグラス・マッキノン：ジャック・グリーンリース
  　　れいみ｜ジェス：アンドレア・グオ
  島形麻衣奈｜イザベル・ロッシュ：アルバ・ガイア・ベルージ
  後藤ヒロキ｜マイケル・ロッシュ：ジェラルド・キッド
  　　れいみ｜ルイ・ロッシュ：ヴィットリオ・フィオリーニ
  渡辺ゆかり｜ナタリア・オリヴィエラ：クラウディア・ユルト
  坂井　恭子｜サラ・トンプソン：リディア・ウィルソン
  武田　太一｜キット：ウェイン・チャールズ・ベイカー

  https://youtu.be/ixHsQKULduM
</p>

<p class="yt">
  酒飲みと一滴も飲まないパートナーとの共存方法｜2026/9/21配信｜加藤小夏が水を飲む〜THE DAY ROOM〜｜27:47

  加藤小夏、金原ひとみ らが出演しています

  https://youtu.be/GSEuAoi8nEk
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 8話の配信がTVerで始まりました。 44分
  10/5 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、MEGUMI らが出演しています

  https://tver.jp/episodes/eps3maajoq
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 10話の配信がTVerで始まりました。 30分
  9/28 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、浜丘麻矢、内倉憲二、佐々木征史、内山翔人、森渉、保里佐和、佐々木亮 らが出演しています

  https://tver.jp/episodes/ephceysrxy
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 9話の配信がTVerで始まりました。 43分
  9/28 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、ちすん、徳永えり、矢田亜希子、桜田通、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/ep7qpbmc4v
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 9話の配信がTVerで始まりました。 42分
  9/28 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/ep7enesd3l
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 8話の配信がTVerで始まりました。 43分
  10/5 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、井上肇、永岡佑、川床明日香、奥野壮、小林虎之介、岡部たかし、杉本哲太、森優作 らが出演しています

  https://tver.jp/episodes/ep50n6hbly
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 8(最終)話の配信がTVerで始まりました。 60分
  9/27 23:59まで

  松本潤、小芝風花、新田真剣佑、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、カラテカ、松井遥南、永野宗典、羽谷勝太、カトウシンスケ、新井美羽、六平直政、杉田雷麟、仲里依紗、ファーストサマーウイカ、藤井隆、津田寛治、池田成志、吉田鋼太郎、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epxri6n3n1
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 11(最終)話の配信がTVerで始まりました。 45分
  9/27 23:59まで

  ※ 10話も同日配信ですが終了時間が異なります

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、FUJIWARA(原西孝幸、藤本敏史)、丘みつ子、笛木優子、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epvdik0bje
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 10話の配信がTVerで始まりました。 45分
  9/27 11:59まで

  ※ 11(最終)話も同日配信ですが終了時間が異なります

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、森口瑤子、加藤虎ノ介、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epw3yfd8an
</p>

<p class="tver">
  ドラマ まっしろ(2015) 10(最終)話の配信がTVerで始まりました。 47分
  9/27 23:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、井上真樹夫、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/eptahk2ikv
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 10(最終)話の配信がTVerで始まりました。 58分
  9/27 23:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、清水ミチコ、山岸門人、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epp5zs0037
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 12(最終)話の配信がTVerで始まりました。 47分
  9/27 23:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、塩見三省、伊佐山ひろ子、西田健、村松克己、大塚良重、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epkzbyom0a
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 12(最終)話の配信がTVerで始まりました。 74分
  9/27 23:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、梶原善、天野慶久、鈴木亮平、篠田三郎、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epiaxy88s6
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 1話の配信がTVerで始まりました。 6分
  終了日未記載

  三宅弘城 らが出演しています

  https://tver.jp/episodes/epi2aetfcp
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 5話の配信がTVerで始まりました。 47分
  9/28 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、映美くらら、赤間麻里子、谷川昭一朗、桜井聖、豆原一成(JO1)、片岡凜、若林時英、棚橋ナッツ、金子昇、中嶋朋子、尾美としのり、國村隼、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epe4o23pyh
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 11(最終)話の配信がTVerで始まりました。 58分
  9/27 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、内田理央、乙葉、六角慎司、原田裕章、宮下雄也、浜田道彦、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epays8unjz
</p>

<p class="tver">
  ドラマ 100万回 言えばよかった(2023) 3話の配信がTVerで始まりました。 46分
  11/21 23:59まで

  井上真央、佐藤健、シム・ウンギョン、板倉俊之(インパルス)、少路勇介、相島一之、長野里美、長谷川初範、坂元愛登、安斉星来、桜一花、中脇樹人、長友郁真、長島竜也、香里奈、荒川良々、松山ケンイチ らが出演しています

  https://tver.jp/episodes/ep8cpcygyy
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 10(最終)話の配信がTVerで始まりました。 68分
  9/27 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、田中みな実、大黒摩季、辻萬長、堀越麗禾、誠直也、蘭寿とむ、井上肇、三石琴乃、大和田伸也、石坂浩二、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/ep0wg575b0
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 3話の配信がTVerで始まりました。 17分
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、橋本将生(timelesz) らが出演しています

  https://tver.jp/episodes/epaxucxs5r
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 21話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epa3pgizen
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 94話の配信がTVerで始まりました。 24分
  9/28 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epy77ccaoz
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 44話の配信がTVerで始まりました。 24分
  9/28 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/eppuk26ytav
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 14話の配信がTVerで始まりました。 25分
  9/28 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epemuoqu6b
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 9話の配信がTVerで始まりました。 24分
  9/28 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep2qobxrae
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 8話の配信がTVerで始まりました。 23分
  終了日未記載

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/eplobs5w79
</p>
