---
title: 2026/9/12 のピックアップ
date: 2026-09-12
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 黄泉のツガイ(2026) 23話の配信がTVerで始まりました。 24分
  9/20 2:37まで

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/ep6bm8x2ow
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2026・2期) 9話の配信がTVerで始まりました。 23分
  9/20 1:59まで

  ファイルーズあい、東内マリ子、小山力也、山下大輝、逢坂良太、安済知佳、石田彰、石原夏織、天海由梨奈、後藤光祐、武虎、渡部紗弓、石見舞菜香、福西勝也、白井悠介 らが出演しています

  https://tver.jp/episodes/epy6pk42dk
</p>

<p class="tver">
  アニメ 「きみを愛する気はない」と言った次期公爵様がなぜか溺愛してきます(2026) 1～9話の配信がTVerで始まりました。 24分
  9/20 1:59まで

  石川由依、斉藤壮馬、石川界人、安済知佳、山村響、榎木淳弥、木村良平、鈴木崚汰、浪川大輔、國府田マリ子、田村真、内田真礼 らが出演しています

  https://tver.jp/episodes/ep7ozrmpui
</p>

<p class="tver">
  ドラマ こんなところで裏切り飯～嵐を呼ぶ七人の役員～(2025) 10(最終)話の配信がTVerで始まりました。 19分
  9/20 1:58まで

  志田彩良、伊武雅刀、前田拳太郎、守屋茜、吉田有希、大熊杏優、川島潤哉、中野英雄、小沢真珠、勝村政信、マイケル富岡、磯野貴理子、田山涼成 らが出演しています

  https://tver.jp/episodes/ep80edr35a
</p>

<p class="tver">
  その他 篠崎彩奈のマネータイム(2026・2期) の配信がTVerで始まりました。 14分
  終了日未記載

  ※ インフレ対策としても有効？！「年金」について学ぼう！

  篠崎彩奈 らが出演しています

  https://tver.jp/episodes/epcwpz1ywa
</p>

<p class="tver">
  バラエティ すっかり にちようチャップリン(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ VIVANTを完全再現!?嵐が一夜限りの復活歌唱!?

  内村光良、土田晃之、千鳥(大悟、ノブ)、ハリセンボン(近藤春菜、箕輪はるか)、井戸田潤(スピードワゴン)、田中卓志(アンガールズ)、ARASHISM、キンタロー。、沙羅、ぞうすい、たむたむ、本多スイミングスクール、みよこ、ラパルフェ らが出演しています

  https://tver.jp/episodes/epxlfna9cj
</p>

<p class="tver">
  バラエティ あっちこっちAぇ!(2026) の配信がTVerで始まりました。 22分
  9/20 1:00まで

  ※ サッカー少年達にカッコよさを伝授する！長崎県の旅第１弾

  Aぇ!group、Aぇ! group(正門良規、末澤誠也、小島健、佐野晶哉) らが出演しています

  https://tver.jp/episodes/ep3su6sqnt
</p>

<p class="tver">
  バラエティ アンタッチャブルでやらせてもらってます(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 【タイムマシーン3号と植物を見て、食べて、飲んで楽しむツアー②】ラーメンコーナー爆誕!?

  アンタッチャブル(柴田英嗣、山崎弘也)、タイムマシーン3号(山本浩司、関太) らが出演しています

  https://tver.jp/episodes/ep1k61w55v
</p>

<p class="tver">
  ドラマ デス（青春）ゲーム(2026) 2話の配信がTVerで始まりました。 23分
  終了日未記載

  山崎天、藤本洸大、吉澤要人(原因は自分にある。)、林裕太、菊池日菜子、川島海荷、池田良、芦川誠 らが出演しています

  https://tver.jp/episodes/epg2s1znb2
</p>

<p class="tver">
  アニメ LIAR GAME(2026) 23話の配信がTVerで始まりました。 24分
  9/20 0:35まで

  仁見紗綾、大塚剛央、大地葉、花江夏樹、中谷一博、福山潤 らが出演しています

  https://tver.jp/episodes/epbwnhk222
</p>

<p class="tver">
  アニメ ぐらんぶる(2026・3期) 10話の配信がTVerで始まりました。 25分
  9/20 0:29まで

  内田雄馬、木村良平、安元洋貴、小西克幸、安済知佳、内田真礼、行成とあ、阿澄佳奈、山根綺、江口拓也、榎木淳弥、花江夏樹、ロバート・ウォーターマン、福山潤、諸星すみれ、青山吉能、川田紳司、水樹奈々、市道真央、大原さやか、瀬戸麻沙美、洲崎綾 らが出演しています

  https://tver.jp/episodes/ep2ex9p0n9
</p>

<p class="tver">
  アニメ ふつつかな悪女ではございますが ～雛宮蝶鼠とりかえ伝～(2026) 9話の配信がTVerで始まりました。 24分
  9/20 0:14まで

  石見舞菜香、川井田夏海、古川慎、梅原裕一郎、菱川花菜、ニケライファラナーゼ、五十嵐麗、茅野愛衣、中原麻衣、水瀬いのり、石川由依 らが出演しています

  https://tver.jp/episodes/epxlx0wcdd
</p>

<p class="yt">
  日本最古の秘密結社と極秘スパイ、繋がってしまう共通点｜2026/9/12配信｜田中美空のミステリー講座｜27:35

  田中美空(ミステラー・NMB48)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/TxRkOzGhb6o
</p>

<p class="yt">
  【木村さ〜〜ん！】豪快!高級ステーキ肉を木村拓哉が食す｜2026/9/12配信｜木村拓哉｜28:51
  ※ いよいよ始まりました！「TAKUYA KIMURA Live Tour 2026 Checkpoint」木村さんにパワーをつけてもらいたくて銀座にある「Smith & Wollensky」さんで高級ステーキを食べてもらいます！

  木村拓哉 らが出演しています

  https://youtu.be/NHtCstR4Z6k
</p>

<p class="yt">
  UFOロボ グレンダイザー 第31話「空に花咲け! ボスの友情」｜2026/9/12配信｜東映アニメーションミュージアムチャンネル｜25:46
  ※ 9/25 23:59まで。期限不明のため予想。土曜18時配信中！各話２週間期間限定

  富山　敬　：デュークフリード
  石丸　博也：兜甲児
  川島千代子：牧ひかる
  富田　耕生：牧場団兵衛
  沢田　和子：牧場吾郎
  八奈見乗児：宇門源蔵
  吉田理保子：マリア
  富田　耕生：ガンダル
  緒方　賢一：ブラッキー
  田中　崇　：ズリル
  八奈見乗児：ベガ大王

  https://youtu.be/6h4LCTF3sW8
</p>

<p class="yt">
  アニメ「BLACK LAGOON」第8話｜2026/9/12配信｜SundayGXch｜23:51
  ※ 9/26(土) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/u-B-P19xBu8
</p>

<p class="tver">
  ドキュメンタリー 人生最高レストラン(2026) の配信がTVerで始まりました。 26分
  9/19 23:29まで

  ※ ゲスト：尾上松也

  加藤浩次、宇賀神メグ、島崎和歌子、朝日奈央、尾上松也 らが出演しています

  https://tver.jp/episodes/ep3lvnncus
</p>

<p class="tver">
  ドキュメンタリー Google Pixel presents ANOTHER SKY(2026) の配信がTVerで始まりました。 25分
  終了日未記載

  ※ ゲスト：鈴木福／アメリカ・ニューヨーク

  今田耕司、堀田真由、鈴木福、バッキー木場 らが出演しています

  https://tver.jp/episodes/epxkgiqt8o
</p>

<p class="tver">
  バラエティ サタプラ(2026) 582回の配信がTVerで始まりました。 55分
  9/19 18:59まで

  ※ ラーメン＆担々麺＆ソーキそば『冷凍麺』ランキング！▽ターゲットは大人!?市場規模１兆円超おもちゃ市場！▽柴田×カズレーザー！スマホの便利機能！

  前編：https://tver.jp/episodes/epcgp8oap0
  後編：https://tver.jp/episodes/epjjz87jxv

  アンタッチャブル、正門良規(Aぇ! group)、アンミカ、大西風雅(Lilかんさい)、小杉竜一(ブラックマヨネーズ)、水野美紀、カズレーザー(メイプル超合金)、小野花梨、清水麻椰 らが出演しています
</p>

<p class="tver">
  バラエティ たくなる(2026) の配信がTVerで始まりました。 76分
  9/19 20:00まで

  ※ ぱーてぃーちゃんのリアル口コミ福岡満喫ツアー▽海を渡る巨大山笠！“小友祇園祭”に密着！▽今週のイチ麺～おススメの汁なし麺～

  パラシュート部隊(斉藤優、矢野ペペ)、ブルーリバー(川原豪介、青木淳也)、中上真亜子、小雪、ぱーてぃーちゃん(信子、金子きょんちぃ、すがちゃん最高No.1) らが出演しています

  https://tver.jp/episodes/ep5gqbbh0h
</p>

<p class="tver">
  バラエティ 1億人の大質問!?笑ってコラえて！(2026) の配信がTVerで始まりました。 96分
  終了日未記載

  ※ 所ジョージが四国最西端へ!川口春奈も感動!結婚式の旅!

  所ジョージ、佐藤栞里、川口春奈、杉本美香、パンサー(菅良太郎、向井慧)、M!LK(塩﨑太智、曽野舜太、吉田仁人)、梶裕貴 らが出演しています

  https://tver.jp/episodes/epdrctalo7
</p>

<p class="tver">
  バラエティ 土曜ゴールデン(2026) の配信がTVerで始まりました。 120分
  終了日未記載

  ※ 路線バスで鬼ごっこ！～太川陽介から逃げ切れ～【茨城・水戸】

  太川陽介、草薙航基(宮下草薙)、村重杏奈、水野真紀、マギー、クロちゃん(安田大サーカス)、大江裕、王林 らが出演しています

  https://tver.jp/episodes/epx3autt7w
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) の配信がTVerで始まりました。 26分
  終了日未記載

  ※ 淳の夢を叶えた一行は、信子の夢を叶えるため、高級フルーツ店＆飛騨牛専門店へ

  田村淳、品川祐(品川庄司)、信子(ぱーてぃーちゃん)、しずちゃん(南海キャンディーズ) らが出演しています

  https://tver.jp/episodes/epdrg1e4od
</p>

<p class="tver">
  バラエティ いくらかわかる金？(2026) の配信がTVerで始まりました。 49分
  終了日未記載

  ※ 食リポコメントで店員さんを笑わせたら賞金＆競歩選手と鬼ごっこ！

  澤部佑(ハライチ)、杉山真也、アンミカ、井上芳雄、井戸田潤(スピードワゴン)、小森隼、重岡大毅(WEST.)、とにかく明るい安村、藤本美貴、ゆうちゃみ、くっきー!(野性爆弾)、芝大輔(モグライダー)、荒川(エルフ)、バーンズ恵麻、鈴木雄介、松永大介、村山裕太郎、ノッチ(デンジャラス)、おばたのお兄さん、B&ZAI(菅田琳寧、稲葉通陽)、森渉、シュウペイ(ぺこぱ)、ワタリ119、栗谷(カカロニ)、お見送り芸人しんいち、尾形貴弘(パンサー)、日本一おもしろい大崎(ちゃんぴおんず)、Den(リンダカラー∞)、ラパルフェ(都留拓也、尾身智志)、カナメストーン(山口誠、零士)、ニッチロー、R藤本、ヤジマリー。(スカチャン)、ケツ(ニッポンの社長) らが出演しています

  https://tver.jp/episodes/epidpvtuax
</p>

<p class="tver">
  バラエティ しんごの🌱(2026) の配信がTVerで始まりました。 21分
  終了日未記載

  ※ 芦屋の社長夫妻ペアリング

  香取慎吾、狩野英孝 らが出演しています

  https://tver.jp/episodes/epx1w4hmmf
</p>

<p class="tver">
  ドラマ オー!マイ･ボス!恋は別冊で(2021) 6話の配信がTVerで始まりました。 48分
  9/21 23:59まで

  上白石萌音、菜々緒、玉森裕太(Kis-My-Ft2)、間宮祥太朗、久保田紗友、亜生(ミキ)、秋山ゆずき、太田夢莉、吉田沙世、細田善彦、高橋ユウ、高岡早紀、犬飼貴丈、宇梶剛士、高橋メアリージュン、なだぎ武、倉科カナ、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/epzznvnt42
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 9話の配信がTVerで始まりました。 46分
  9/20 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、稲垣来泉、佐藤乃莉、光石研、烏丸せつこ、津田寛治、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epzmf5uey2
</p>

<p class="tver">
  ドラマ 救命病棟24時(1999・1期) 7話の配信がTVerで始まりました。 47分
  9/19 23:59まで

  江口洋介、松嶋菜々子、須藤理彩、沢村一樹、杉本哲太、金田明夫、八嶋智人、大島蓉子 らが出演しています

  https://tver.jp/episodes/epn77tsxg3
</p>

<p class="tver">
  ドラマ グレイトギフト(2024) 4～6話の配信がTVerで始まりました。 45分
  終了日未記載

  反町隆史、波瑠、明日海りお、小野花梨、盛山晋太郎(見取り図)、片山萌美、市川知宏、藤野涼子、濱正悟、中島瑠菜、坂東彌十郎、津田健次郎、倉科カナ、筒井道隆、尾上松也、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/eppdyh8oyl
</p>

<p class="tver">
  ドラマ 水曜日の情事～a Wednesday love affair(2001) 4話の配信がTVerで始まりました。 47分
  9/19 23:59まで

  本木雅弘、天海祐希、原田泰造(ネプチューン)、谷原章介、伊東美咲、眞鍋かをり、水橋研二、北村一輝、木村多江、春海四方、筒井巧、田山涼成、田村亮、石田ひかり らが出演しています

  https://tver.jp/episodes/epbf599kwp
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 19話の配信がTVerで始まりました。 25分
  9/22 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、不破万作、ミスターちん、能世あんな、東亜優、荒井健太郎、桐谷健太、尾美としのり、加藤瑠美、宮下誠、佐武宇綺、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/ep3ulg2xx4
</p>

<p class="tver">
  ドラマ 振り返れば奴がいる(1993) 5話の配信がTVerで始まりました。 47分
  9/19 23:59まで

  織田裕二、石黒賢、松下由樹、西村まさ彦、佐藤B作、鹿賀丈史、野村昭子、宮野翔太、千堂あきほ らが出演しています

  https://tver.jp/episodes/ep2041ihij
</p>

<p class="tver">
  ドラマ 獣医ドリトル(2010) 5話の配信がTVerで始まりました。 47分
  9/22 23:59まで

  小栗旬、井上真央、成宮寛貴、藤澤恵麻、笠原秀幸、菅田将暉、阿南健治、りょう、加藤治子、佐戸井けん太、浜田学、佐々木勝彦、國村隼 らが出演しています

  https://tver.jp/episodes/ep17jqxlay
</p>

<p class="tver">
  ドラマ 告白―25年目の秘密―(2026) 9話の配信がTVerで始まりました。 45分
  9/19 20:59まで

  松村北斗(SixTONES)、岡崎紗絵、塩野瑛久、佐々木希、久保史緒里、山下幸輝、谷恭輔、石山順征、水野美紀、丸山智己、夙川アトム、丘みつ子、田中要次、石黒賢、玉山鉄二 らが出演しています

  https://tver.jp/episodes/epnhnhwt86
</p>

<p class="tver">
  ドラマ ドラマ「永久少年 Eternal Boys」(2026) 11話の配信がTVerで始まりました。 13分
  9/19 21:29まで

  松本岳、中塚皓平、反橋宗一郎、鈴木祐大、輝山立、細貝圭、田中美奈子 らが出演しています

  https://tver.jp/episodes/ep7ybbziex
</p>

<p class="tver">
  ドラマ 結婚できないにはワケがある。(2021) 3話の配信がTVerで始まりました。 24分
  終了日未記載

  速水もこみち、若月佑美、山口真帆、吉田志織、秋山ゆずき、古川毅、SUPER★DRAGON、西沢仁太 らが出演しています

  https://tver.jp/episodes/ep5wv4t9me
</p>

<p class="tver">
  ドラマ ミス・ターゲット(2024) 4話の配信がTVerで始まりました。 45分
  終了日未記載

  松本まりか、上杉柊平、鈴木愛理、川西賢志郎、小槙まこ、田中真琴、八嶋智人、筒井真理子、沢村一樹、白石美帆、後藤剛範、ダチョウ倶楽部(肥後克広、寺門ジモン)、浅利陽介、工藤美桜、椿鬼奴、岩城滉一、ダンディ坂野 らが出演しています

  https://tver.jp/episodes/ep5jxsf6bb
</p>

<p class="tver">
  ドラマ 366日(2024) 8話の配信がTVerで始まりました。 46分
  9/19 23:59まで

  広瀬アリス、眞栄田郷敦、坂東龍汰、長濱ねる、綱啓永、赤ペン瀧川、高田里穂、佐藤景瑚(JO1)、丈太郎、宮崎莉里沙、堀口紗奈、横内亜弓、岩瀬亮、越村公一、谷口翔太、森由佳、鈴木朝代 らが出演しています

  https://tver.jp/episodes/epjilng611
</p>

<p class="tver">
  ドラマ 18歳、新妻、不倫します。(2023) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  藤井流星(WEST.)、矢吹奈子、小林涼子、小宮璃央、三原羽衣、逢沢りな、山本涼介、内田奈那、野添義弘 らが出演しています

  https://tver.jp/episodes/ep16mjw4tq
</p>

<p class="tver">
  アニメ 天幕のジャードゥーガル(2026) 12話の配信がTVerで始まりました。 24分
  9/19 23:30まで

  関根明良、小清水亜美、桑島法子、齋藤潤、下野紘、鈴木崚汰、入野自由、浪川大輔、野島健児 らが出演しています

  https://tver.jp/episodes/eptwbjy3xa
</p>

<p class="tver">
  アニメ Re:ゼロから始める異世界生活(2026・4期) 82話の配信がTVerで始まりました。 27分
  9/19 22:30まで

  小林裕介、高橋李依、新井里美、村川梨衣、水瀬いのり、江口拓也、植田佳奈、鈴木絵理、ファイルーズあい、杉田智和、河西健吾、小原好美 らが出演しています

  https://tver.jp/episodes/epchtj6453
</p>

<p class="tver">
  アニメ 笑ゥせぇるすまん(2026) 51(53)話の配信がTVerで始まりました。 10分
  終了日未記載

  大平透 らが出演しています

  https://tver.jp/episodes/ep61u37lcp
</p>

<p class="tver">
  アニメ 幼女戦記Ⅱ(2026) 10話の配信がTVerで始まりました。 24分
  9/19 23:00まで

  悠木碧、早見沙織、三木眞一郎、玄田哲章、大塚芳忠、濱野大輝、小林裕介、笠間淳、林大地、杉田智和、森川智之、日笠陽子、戸松遥 らが出演しています

  https://tver.jp/episodes/epj890x4dy
</p>

<p class="tver">
  アニメ 佐々木とピーちゃん(2024) 10話の配信がTVerで始まりました。 24分
  終了日未記載

  杉田智和、悠木碧、鬼頭明里、高橋李依、富田美憂、水瀬いのり、置鮎龍太郎、安元洋貴、福山潤、浪川大輔、岩田光央、玄田哲章 らが出演しています

  https://tver.jp/episodes/eppynjvmto
</p>

<p class="tver">
  アニメ 鉄腕アトム(1963) 44話の配信がTVerで始まりました。 25分
  9/19 18:30まで

  清水マリ、勝田久、水垣洋子、小宮山清、矢島正明、横森久、兼本新吾、坂本新兵、松島みのり らが出演しています

  https://tver.jp/episodes/ep95h56ckh
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 21話の配信がTVerで始まりました。 24分
  9/19 17:29まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/epszejnwmx
</p>

<p class="yt">
  アニメ「ヘタリア The Beautiful World」第1～20話｜2026/9/12配信｜アニメタイムズ公式｜1:40:14
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア/ロマーノ
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ/カナダ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/XYPHIHbNwTg
</p>

<p class="yt">
  アニメ「ヘタリア Axis Powers」第1～52話｜2026/9/12配信｜アニメタイムズ公式｜4:20:15
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/hgF3fmhARrw
</p>

<p class="yt">
  アニメ「ヘタリア World Series」第1～48話｜2026/9/12配信｜アニメタイムズ公式｜4:00:15
  ※ 10/11(日) 16:59まで

  浪川　大輔：イタリア
  安元　洋貴：ドイツ
  高橋　広樹：日本
  小西　克幸：アメリカ
  杉山　紀彰：イギリス
  小野坂昌也：フランス
  高戸　靖広：ロシア
  甲斐田ゆき：中国

  https://youtu.be/wyuE1CitLws
</p>

<p class="tver">
  バラエティ おしゃべり小料理ゆみこ(2026) 20回の配信がTVerで始まりました。 49分
  終了日未記載

  ※ “小料理屋だから聞ける”忖度なしの踏み込んだトークで、ゲストの「意外な一面」を引き出します

  有働由美子、叶美香、紅しょうが らが出演しています

  https://tver.jp/episodes/epzru14q3i
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。 22分
  9/19 16:00まで

  ※ 鉄道写真ゆりかもめ決着編！東京名所三つ巴対決

  相葉雅紀、えなりかずき、石原良純、徳永ゆうき、与田祐希 らが出演しています

  https://tver.jp/episodes/ep1fmzb3ow
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1619回の配信がTVerで始まりました。 47分
  9/19 14:59まで

  ※ 中条あやみに関西人が直球質問！▽自分が「大阪人だな」と感じる点は？

  明石家さんま、間寛平、村上ショージ、松尾伴内、次長課長、中条あやみ、今田耕司、山崎香佳 らが出演しています

  https://tver.jp/episodes/ep0868mdi3
</p>

<p class="tver">
  バラエティ ごぶごぶ(2026) 670回の配信がTVerで始まりました。 50分
  9/19 13:53まで

  ※ 大阪が誇る名建築へ★後藤真希と秘密の重要文化財＆梅田スカイビル裏側

  浜田雅功(ダウンタウン)、後藤真希 らが出演しています

  https://tver.jp/episodes/eps67c39b9
</p>

<p class="tver">
  ドラマ 今夜はコの字で(2022・2期) 5～8話の配信がTVerで始まりました。 24分
  終了日未記載

  中村ゆり、浅香航大、優希美青、小園凌央、藤井武美、平家秀樹、福田優、矢島理佐、佐藤良洋、下條アトム らが出演しています

  https://tver.jp/episodes/ep6gzr9j9u
</p>

<p class="tver">
  ドラマ 今夜はコの字で(2020) 9～12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  中村ゆり、浅香航大、小園凌央、藤井武美、堀部圭亮、太田靖則、国吉恵美、花房岳考、常住真菜、航、吉田智美、小倉聖矢、下條アトム らが出演しています

  https://tver.jp/episodes/epfthi3f8s
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 15話の配信がTVerで始まりました。 24分
  9/19 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epvqzhtoug
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 77話の配信がTVerで始まりました。 24分
  9/19 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epr4htb0fu
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 20話の配信がTVerで始まりました。 24分
  9/19 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/ep8j8owfjh
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。 46分
  9/19 10:29まで

  ※ ミニチュアアートの神初密着!▽親子丼名店が絶賛「東京しゃも」

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/ep5vhz44sl
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 5話の配信がTVerで始まりました。 30分
  9/26 12:00まで

  山田優、金子ノブアキ、勝村政信 らが出演しています

  https://tver.jp/episodes/eptcu4whgf
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 5話の配信がTVerで始まりました。 44分
  9/26 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、佐藤寛太 らが出演しています

  https://tver.jp/episodes/eppr5wx96t
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 7話の配信がTVerで始まりました。 31分
  9/19 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史、半海一晃 らが出演しています

  https://tver.jp/episodes/epduwmgwql
</p>

<p class="tver">
  ドラマ ギャルサー(2006) 9～11(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  藤木直人、戸田恵梨香、鈴木えみ、矢口真里、新垣結衣、岩佐真悠子、佐津川愛美、奈津子、佐藤隆太、古田新太、生瀬勝久、三浦理恵子 らが出演しています

  https://tver.jp/episodes/ep9jknw3m7
</p>

<p class="tver">
  ドラマ リセット(2009) 5話の配信がTVerで始まりました。 30分
  9/26 12:00まで

  田中直樹(ココリコ)、村川絵梨、新井浩文、石井トミコ らが出演しています

  https://tver.jp/episodes/eponqbzc82
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 5話の配信がTVerで始まりました。 44分
  9/26 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、寺脇康文、柳喬之、横澤夏子 らが出演しています

  https://tver.jp/episodes/epdb63pe4t
</p>

<p class="tver">
  ドラマ 悪女（わる）～働くのがカッコ悪いなんて誰が言った？～(2022) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  今田美桜、江口のりこ、鈴木伸之、高橋文哉、桜井ユキ、佐戸井けん太、松田凌、赤澤遼太郎、向井理 らが出演しています

  https://tver.jp/episodes/epdkl74lr4
</p>

<p class="tver">
  ドラマ 花咲舞が黙ってない(2024) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  今田美桜、山本耕史、飯尾和樹(ずん)、要潤、菊地凛子、上川隆也、盛隆二、田野倉雄太、岡部尚、小野寺ずる、BOB、長村航希、平原テツ らが出演しています

  https://tver.jp/episodes/epznzr48p8
</p>

<p class="tver">
  ドラマ ホタルノヒカリ(2007) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  綾瀬はるか、国仲涼子、加藤和樹、武田真治、板谷由夏、安田顕、浅見れいな、渡部豪太、渋江譲二、松本まりか、松下さら、丸山智己、松永博史、藤木直人 らが出演しています

  https://tver.jp/episodes/epunrjshcu
</p>

<p class="tver">
  ドラマ ホタルノヒカリ2(2010) 9～11(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  綾瀬はるか、向井理、板谷由夏、臼田あさ美、安田顕、石井萌々果、高橋努、中別府葵、市川知宏、君沢ユウキ、井出卓也、佐藤千亜妃、柳澤貴彦、真下玲奈、木村多江、藤木直人 らが出演しています

  https://tver.jp/episodes/epl1fxm8hf
</p>

<p class="tver">
  ドラマ 未満警察 ミッドナイトランナー(2020) 1～3話の配信がTVerで始まりました。 46分
  終了日未記載

  中島健人、平野紫耀(Number_i)、吉瀬美智子、大幡しえり、葉山奨之、竹内愛紗、傳谷英里香、阿岐之将一、小平大智、中村ゆり、原田泰造(ネプチューン)、伊勢谷友介 らが出演しています

  https://tver.jp/episodes/epu3a89swd
</p>

<p class="tver">
  ドラマ あなたの番です(2019) 9～10話の配信がTVerで始まりました。 47分
  終了日未記載

  9～10話：https://tver.jp/episodes/epfppprfmj
  特別編：https://tver.jp/episodes/ep2mtigbmm

  原田知世、田中圭、西野七瀬、竹中直人、木村多江、生瀬勝久、鈴木勝大、山田真歩、浅香航大 らが出演しています
</p>

<p class="tver">
  ドラマ Dr.チョコレート(2023) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  坂口健太郎、白山乃愛、西野七瀬、葵わかな、鈴木紗理奈、前田旺志郎、古川雄大、福山翔大、平子祐希(アルコ&ピース)、石川恋、青木瞭、佐野弘樹、畑芽育、恒松祐里、山口祥行、戸次重幸、眞島秀和、香椎由宇、山本耕史、安達祐実、小澤征悦、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epn1msrc1t
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 8話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、大路恵美、高橋洋、迫田孝也、津嘉山正種、橋爪淳、小手伸也、水橋研二、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/ephq78psvo
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 7話の配信がTVerで始まりました。 45分
  9/18 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、春海四方、藤原邦章、大友花恋、唐木ちえみ、中島愛里、筒井萌子、茅島成美、阪田マサノブ、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/eph1a773tp
</p>

<p class="tver">
  ドラマ 恋です！〜ヤンキー君と白杖ガール〜(2021) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  杉咲花、杉野遥亮、奈緒、鈴木伸之、田辺桃子、細田佳央太、生見愛瑠、堀夏喜、濱田祐太郎、ファーストサマーウイカ、戸塚純貴、古川雄大、岸谷五朗、小関裕太 らが出演しています

  https://tver.jp/episodes/epfia0brk5
</p>

<p class="tver">
  ドラマ 東京タラレバ娘(2017) 8～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平 らが出演しています

  https://tver.jp/episodes/epxhcf58ir
</p>

<p class="tver">
  ドラマSP 東京タラレバ娘2020(2020) の配信がTVerで始まりました。 98分
  終了日未記載

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平、松下洸平、渡辺大知 らが出演しています

  https://tver.jp/episodes/epf5tzp1g9
</p>

<p class="tver">
  ドラマ 14才の母～愛するために 生まれてきた～(2006) 9～11(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  志田未来、田中美佐子、生瀬勝久、山口紗弥加、河本準一(次長課長)、三浦春馬、谷村美月、北乃きい、高畑淳子、海東健、金子さやか、井坂俊哉、北村一輝、室井滋 らが出演しています

  https://tver.jp/episodes/epqlopvapx
</p>

<p class="tver">
  ドラマ ダンダリン 労働基準監督官(2013) 1～3話の配信がTVerで始まりました。 59分
  終了日未記載

  竹内結子、松坂桃李、風間俊介、水橋研二、トリンドル玲奈、大島蓉子、賀来千香子、西田尚美、石野真子、大倉孝二、佐野史郎、北村一輝、渡辺いっけい、でんでん らが出演しています

  https://tver.jp/episodes/epdl5gwgg0
</p>

<p class="tver">
  ドラマ すいか(2003) 8～10(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  小林聡美、ともさかりえ、市川実日子、浅丘ルリ子、小泉今日子、高橋克実、金子貴俊、もたいまさこ、白石加代子 らが出演しています

  https://tver.jp/episodes/epad4kvs17
</p>

<p class="tver">
  ドラマ 偽装不倫(2019) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  杏、宮沢氷魚、瀬戸利樹、MEGUMI、田中道子、夏子、伊沢弘、朝加真由美、谷原章介、仲間由紀恵 らが出演しています

  https://tver.jp/episodes/epk79wbft7
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 9話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、鈴川琴音、肥後克広(ダチョウ倶楽部)、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/epa8aco2u5
</p>

<p class="tver">
  ドラマ ムチャブリ！わたしが社長になるなんて(2022) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  高畑充希、志尊淳、夏帆、笠松将、山田真歩、忍成修吾、片山友希、優香、坪倉由幸(我が家)、神保悟志、荒川良々、松田翔太 らが出演しています

  https://tver.jp/episodes/epqfvc0yl5
</p>

<p class="tver">
  ドラマ 過保護のカホコ(2017) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、久保田紗友、濱田マリ、横山歩 らが出演しています

  https://tver.jp/episodes/epvipfrbgg
</p>

<p class="tver">
  ドラマSP 過保護のカホコ～2018ラブ＆ドリーム～(2018) の配信がTVerで始まりました。 94分
  終了日未記載

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、梅沢昌代、濱田マリ、久保田紗友、横山歩、映美くらら、西尾まり、中島ひろ子、夙川アトム らが出演しています

  https://tver.jp/episodes/ep8wh8x5ne
</p>

<p class="tver">
  ドラマ ファーストペンギン！(2022) 8～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  奈緒、堤真一、鈴木伸之、渡辺大知、松本若菜、ファーストサマーウイカ、遠山俊也、志田未来、梶原善、吹越満、梅沢富美男、北川尚弥、泉谷しげる、小西遼生 らが出演しています

  https://tver.jp/episodes/epneyupy3e
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 9話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、馬場徹、猪塚健太、工藤美桜、谷遼、湯川尚樹、菜々緒、稲森いずみ、城田優、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2zjtvpmw
</p>

<p class="tver">
  ドラマ スーパーサラリーマン左江内氏(2017) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  堤真一、小泉今日子、ムロツヨシ、島崎遥香、賀来賢人、早見あかり、佐藤二朗、笹野高史、高橋克実、平泉成、立石涼子、永野芽郁 らが出演しています

  https://tver.jp/episodes/ep7ym2nauy
</p>

<p class="tver">
  ドラマ ニッポンノワール－刑事Yの反乱－(2019) 8～10(最終)話の配信がTVerで始まりました。 47分
  9/19 11:59まで

  賀来賢人、広末涼子、井浦新、夏帆、工藤阿須加、北村一輝、田野井健、細田善彦 らが出演しています

  https://tver.jp/episodes/epoiqkia42
</p>

<p class="tver">
  ドラマ ドン★キホーテ(2011) 1～3話の配信がTVerで始まりました。 58分
  終了日未記載

  松田翔太、高橋克実、成海璃子、松重豊、三宅弘城、市川実和子、紺野まひる、渡辺憲吉、田村愛、山根和馬、河北麻友子、青木健、上田眞央、内田有紀、小林聡美 らが出演しています

  https://tver.jp/episodes/ep7j8ppn4s
</p>

<p class="tver">
  ドラマ まっしろ(2015) 7話の配信がTVerで始まりました。 47分
  9/18 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、山口馬木也、福田彩乃、高林由紀子、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/ep8y8uv2x0
</p>

<p class="tver">
  ドラマ ヒガンバナ～警視庁捜査七課～(2016) 9～10(最終)話の配信がTVerで始まりました。 51分
  9/19 11:59まで

  堀北真希、檀れい、知英、高梨臨、YOU、DAIGO、高橋惠子、市川知宏、木本武宏、平山浩行、佐野史郎、大地真央、斉藤由貴、新妻聖子、山中聡、ダンカン、久保晶、寺泉憲 らが出演しています

  https://tver.jp/episodes/ep775t5bif
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 8話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、ファーストサマーウイカ、片平なぎさ、武田真治、不破万作、山本浩司(タイムマシーン3号)、福島マリコ、三田佳子 らが出演しています

  https://tver.jp/episodes/ep5xu2wj9d
</p>

<p class="tver">
  ドラマ ACMA:GAME アクマゲーム(2024) 1～3話の配信がTVerで始まりました。 71分
  終了日未記載

  間宮祥太朗、田中樹(SixTONES)、古川琴音、竜星涼、須賀健太、嵐莉菜、増田昇太、s**tkingz、橋本じゅん、諏訪部順一、花澤香菜、小澤征悦、吉川晃司 らが出演しています

  https://tver.jp/episodes/ep4utqpqjj
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 1～3話の配信がTVerで始まりました。 52分
  終了日未記載

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、成海璃子、小手伸也、水野美紀、梶原善 らが出演しています

  https://tver.jp/episodes/ep4hbbj0kk
</p>

<p class="tver">
  ドラマ 偽装の夫婦(2015) 8～10(最終)話の配信がTVerで始まりました。 52分
  9/19 11:59まで

  天海祐希、沢村一樹、内田有紀、工藤阿須加、坂井真紀、佐藤二朗、キムラ緑子、富司純子 らが出演しています

  https://tver.jp/episodes/ep12z2fa1u
</p>

<p class="tver">
  ドラマSP 永遠のぼくら sea side blue(2015) の配信がTVerで始まりました。 95分
  終了日未記載

  有村架純、山崎賢人、浅香航大、清野菜名、矢本悠馬、成海璃子、東出昌大、窪田正孝 らが出演しています

  https://tver.jp/episodes/epcq5taw5q
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 8話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、梶原善、堀井新太、宮野真守、小池里奈、渡辺憲吉、橘美緒、田中哲司、イッセー尾形、さだまさし らが出演しています

  https://tver.jp/episodes/epvg243nq4
</p>

<p class="tver">
  ドラマ コントが始まる(2021) 8～10(最終)話の配信がTVerで始まりました。 46分
  9/19 11:59まで

  菅田将暉、有村架純、仲野太賀、古川琴音、神木隆之介、芳根京子 らが出演しています

  https://tver.jp/episodes/ep0wags4um
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 76話の配信がTVerで始まりました。 24分
  9/19 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epcjjfo62k
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 5話の配信がTVerで始まりました。 25分
  9/19 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epq072y630
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 35話の配信がTVerで始まりました。 24分
  9/19 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epjdgn5lqy
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/ep0llz5n5x
</p>

<p class="tver">
  アニメ あたしンち(2002) 10話の配信がTVerで始まりました。 24分
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epel13psmn
</p>

<p class="tver">
  アニメ ダンダダン(2024～2025) 全24話の配信がTVerで始まりました。 25分
  終了日未記載

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉 らが出演しています

  https://tver.jp/episodes/ep2i82vg94
</p>
