---
title: 2026/6/20 のピックアップ
date: 2026-06-20
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  アニメ「FAIRY TAIL」113～118話｜2026/6/20配信｜アニメタイムズ公式｜2:26:42
※ 2026/7/22(水) 10:29まで

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/Ui93XOy15lQ
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 世界的ブームの「抹茶」作りに完全密着▼シェイカーで簡単冷抹茶

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/eplmx421fg
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、絃瀬聡一、清乃あさ姫、ゴリけん、矢野ペペ、パラシュート部隊、唐沢龍之介、吉村恵里子、成田凌、藤本隆宏、西田尚美、篠井英介、宮崎美子、斉藤優、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epxwt0fthc
</p>

<p class="tver">
  ドラマ 年下童貞くんに翻弄されてます(2025) 6話の配信がTVerで始まりました。
  終了日未記載

  森香澄、柏木悠(超特急)、北村優衣、絃瀬聡一、平川結月、椛島光、朝井瞳子、鈴木康介 らが出演しています

  https://tver.jp/episodes/epskbkzcsvd
</p>

<p class="tver">
  ドラマ 過保護な若旦那様の甘やかし婚(2024) 5話の配信がTVerで始まりました。
  終了日未記載

  高野洸、井頭愛海、大平祥生、後藤大、池田彪馬、松尾貴史、小林綾子、大和田伸也 らが出演しています

  https://tver.jp/episodes/epniukk4qn
</p>

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 6話の配信がTVerで始まりました。
  終了日未記載

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epm8faccme
</p>

<p class="tver">
  ドラマ 週末婚(1999) 10話の配信がTVerで始まりました。
  6/26 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、飯田基祐、東地宏樹、織本順吉、夏桂子、戸川京子、根岸季衣、仲村トオル 他

  https://tver.jp/episodes/epjfp2knwc
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、半海一晃、中村豪、やるせなす、兵頭有紀、黒田知永子、山本圭、勝村政信 らが出演しています

  https://tver.jp/episodes/epeukt91np
</p>

<p class="tver">
  ドラマ 職員室(1997) 1～3話の配信がTVerで始まりました。
  終了日未記載

  浅野温子、仲村トオル、的場浩司、益岡徹、水野美紀、田岡美也子、山下容莉枝、松澤一之、那須佐代子、信実一徳、小日向文世、山本龍二、松井範雄、伊集院光、九太朗、クノ真季子、加賀谷純一、塚本高史、横山めぐみ、野際陽子 らが出演しています

  https://tver.jp/episodes/ep4nr770hu
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 8話の配信がTVerで始まりました。
  6/26 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep7w3q5m12
</p>

<p class="tver">
  ドラマ アポロの歌(2025) 6話の配信がTVerで始まりました。
  終了日未記載

  佐藤勝利(timelesz)、高石あかり、西垣匠、森田想、河井青葉、ふかわりょう、池内博之 らが出演しています

  https://tver.jp/episodes/ep436ard6p
</p>

<p class="tver">
  ドラマ 愛するということ(1993) 5話の配信がTVerで始まりました。
  6/26 11:59まで

  緒形直人、伊藤かずえ、石橋保、柳川慶子、島崎和歌子、篠塚勝、高島礼子、矢野武、橋爪功、小泉今日子 らが出演しています

  https://tver.jp/episodes/ep3431hfj3
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、羽賀研二、石田太郎、春田純一、浜田学、池内万作、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/epvwteua5w
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG(2PM)、相葉裕樹、菊田大輔、永瀬匡、山下真司、田中要次、佐々木希、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/epumtvfypq
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、窪田正孝、夙川アトム、西山潤、小澤美和、山本舞香、段田安則、内藤剛志、麻生祐未 他

  https://tver.jp/episodes/epu2urzqu0
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、平山祐介、古畑星夏、白石糸、小林きな子、吉田悟郎、泉春花、野波麻帆、高橋光臣、高橋洋、相楽樹、初音映莉子、古舘寛治、塩見三省、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epuuloe9je
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、中村ゆり、谷村美月、戸田昌宏、高橋洋、千葉哲也、森岡龍、永岡佑、奥貫薫、西田尚美、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epr3kt32za
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、大黒摩季、福澤朗、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epognhk225
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。
  6/26 9:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epwamlc9uh
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epn2vn78co
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 9話の配信がTVerで始まりました。
  6/26 9:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、上野樹里、光石研、沢村一樹、風吹ジュン らが出演しています

  https://tver.jp/episodes/epidsdjchc
</p>

<p class="tver">
  ドラマ 新参者(2010) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、宮地真緒、和田正人、吉井怜、木村祐一、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/epbiei6bga
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 8話の配信がTVerで始まりました。
  6/26 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、國本鍾建、新井浩文、木下ほうか、吉川晃司、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、篠井英介、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、横田栄司、中村歌昇、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/ep2ttmvdg5
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2024) 5話の配信がTVerで始まりました。
  終了日未記載

  ファイルーズあい、花守ゆみり、小山力也、山下大輝、逢坂良太、石原夏織、井上喜久子 らが出演しています

  https://tver.jp/episodes/epvtw8cpmi
</p>

<p class="tver">
  アニメ 炎炎ノ消防隊 参ノ章(2025) 7～12話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、小林裕介、中井和哉、鈴村健一、上條沙恵子、市道真央、悠木碧、八代拓、阪口大助 らが出演しています

  https://tver.jp/episodes/epxs76nsfg
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 25(最終)話の配信がTVerで始まりました。
  6/27 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/eptdzomx5o
</p>

<p class="tver">
  アニメ オタクに優しいギャルはいない!?(2026) の配信がTVerで始まりました。
  終了日未記載

  小村将、稲垣好、芹澤優、笠間淳、小原好美、種崎敦美、加藤英美里 らが出演しています

  https://tver.jp/episodes/epqt3quk10
</p>
