---
title: 2026/8/6 のピックアップ
date: 2026-08-06
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  行かない旅初!1泊2日の隧道旅・豪雪地の人々を救った救世道｜2026/8/6配信｜行かない旅｜46:10

※ 行かない旅初の1泊2日隧道旅として新潟〜富山付近を妄想旅！

  橋本陽菜(AKB48)、石井あつこ(道マニア) らが出演しています

  https://youtu.be/5aG6w1alUxo
</p>

<p class="yt">
  アニメ 悟空の大冒険 13～16話｜2026/8/6配信｜手塚プロダクション公式チャンネル｜1:44:37
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/DCMqLPBaVqo
</p>

<p class="tver">
  アニメ 才女のお世話 高嶺の花だらけな名門校で、学院一のお嬢様（生活能力皆無）を陰ながらお世話することになりました(2026) 5話の配信がTVerで始まりました。
  8/21 03:07まで

  上村祐翔、小原好美、大西沙織、土屋李央、小清水亜美、熊谷健太郎、前島亜美、子安武人 らが出演しています

  https://tver.jp/episodes/epa5edtwic
</p>

<p class="tver">
  アニメ 花ざかりの君たちへ(2026・2期) 6話の配信がTVerで始まりました。
  8/14 2:28まで

  山根綺、八代拓、戸谷菊之介、梅原裕一郎、福山潤、川島零士、内山昂輝、駒田航、古屋亜南、日野聡、水中雅章、榎木淳弥、子安武人 らが出演しています

  https://tver.jp/episodes/epda2zchdu
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 6話の配信がTVerで始まりました。
  8/14 0:59まで

  かたせ梨乃、豆原一成(JO1)、岡田結実、林芽亜里、北村優衣、平埜生成、西山繭子 らが出演しています

  https://tver.jp/episodes/epntf8rfmn
</p>

<p class="tver">
  ドラマ 今から、親友やめようか。(2026) 7話の配信がTVerで始まりました。
  8/14 1:58まで

  岡本夏美、沢村玲、井内悠陽、古田愛理、黒木ひかり らが出演しています

  https://tver.jp/episodes/ep8zocvyo4
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。
  8/13 19:59まで

  ※ 【海底資源発見？】水深1000ｍを無人で探査する最新技術 伊藤昌平（FullDepth共同創業者）

  加藤浩次、古旗笑佳、伊藤昌平、若杉亨 らが出演しています

  https://tver.jp/episodes/epeszh8s5i
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 6話の配信がTVerで始まりました。
  8/14 1:59まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epiwq5u1s9
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。
  8/20 18:59まで

  ※ スグやる課VSリアル社会問題!東京にもシカ襲来!?▼税関DJ密輸手口

  内村光良、サンドウィッチマン、EXIT、栗谷(カカロニ)、高橋恭平(なにわ男子)、高橋文哉、生見愛瑠、マヂカルラブリー、尾形貴弘(パンサー)、木村昴、高田夏帆、田中美久、綱啓永 らが出演しています

  https://tver.jp/episodes/eptkihs962
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  8/13 18:59まで

  ※ 高橋文哉も興奮!夏のコスプレフェス!まさかの大物&人気アイドル大変身

  ナインティナイン(岡村隆史、矢部浩之)、高橋文哉、ちょんまげラーメン、中山秀征、村重杏奈、山崎弘也(アンタッチャブル)、山本里咲 らが出演しています

  https://tver.jp/episodes/epvm1jv86v
</p>

<p class="tver">
  バラエティ 朝メシまで。(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 巨大空港で日本を守る！《最強税関SP》

  児嶋一哉(アンジャッシュ)、ウエンツ瑛士、趣里、田辺誠一、八木亜希子、楠木ともり らが出演しています

  https://tver.jp/episodes/ep4ivmow77
</p>

<p class="tver">
  バラエティ 街グルメをマジ探索！かまいまち(2026) の配信がTVerで始まりました。
  8/13 20:00まで

  ※ 東京タワー界隈で被りメシツアー！

  かまいたち(山内健司、濱家隆一)、上垣皓太朗、朝日奈央、桐山照史(WEST.) らが出演しています

  https://tver.jp/episodes/ep5vy0pr1z
</p>

<p class="tver">
  バラエティ 相葉ヒロミのお困りですカー？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 相葉ヒロミVS巨大水槽・神の庭園・牛舎

  ヒロミ、相葉雅紀 らが出演しています

  https://tver.jp/episodes/epm9kklisp
</p>

<p class="tver">
  バラエティ ご馳走ファンファーレ(2026) の配信がTVerで始まりました。
  8/13 21:54まで

  ※ [3分の番組です] 新潟で躍進を続ける老舗で絶品鮨をいただきます

  藤間爽子、濱岸ひより、佐藤綺星(AKB48)、工藤綾乃 らが出演しています

  https://tver.jp/episodes/epbibc98l6
</p>

<p class="tver">
  バラエティ ゴールデンタッグ ～何かが起きそうな2人をマッチング～(2026) の配信がTVerで始まりました。
  8/20 22:53まで

  ※ ダイアン津田×森七菜！実は親友！？二人旅で喧嘩勃発！！▽名タッグ再来！ガチャピン×天竺川原。M！LK曽野×さかなクン初共演！夏のドライブ旅▽永尾柚乃×熊元プロレス　韓国弾丸爆食旅

  津田×森七菜：https://tver.jp/episodes/ephcg6xj6p
M！LK曽野×さかなクン：https://tver.jp/episodes/ep6p1naowy

  設楽統(バナナマン)、ホラン千秋、森田哲矢(さらば青春の光)、長田庄平(チョコレートプラネット)、向井慧(パンサー)、澤部佑(ハライチ)、井森美幸、松村沙友理、津田篤宏(ダイアン)、森七菜、曽野舜太(M!LK)、さかなクン、永尾柚乃、熊元プロレス(紅しょうが)、天竺川原 らが出演しています
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 139回の配信がTVerで始まりました。
  8/14 0:15まで

  ※ 国仲涼子が賢人に説教？風磨くん、結婚しようぜ

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、国仲涼子、小杉竜一(ブラックマヨネーズ)、関太(タイムマシーン3号)、アタック西本(ジェラードン)、りんたろー。(EXIT)、卓也(土佐兄弟)、松村未央 らが出演しています

  https://tver.jp/episodes/ephute9c4w
</p>

<p class="tver">
  バラエティ ととのいとりっぷ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 岡崎紗絵が“サ活”初解禁！冬の京都でバレて、ととのう。岡崎紗絵が“寝サウナ”初体験　桜の京都でこっそり、ととのう

＃１：https://tver.jp/episodes/eprbte5m62
  ＃２：https://tver.jp/episodes/epuzn1v6mo

  岡崎紗絵 らが出演しています
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  8/14 0:58まで

  ※ 絵だけでAIにお題を伝えろ！新ゲームで絵の才能開花！？

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/eppkvkmy4a
</p>

<p class="tver">
  ドラマ 恋愛ルビの正しいふりかた(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  岩橋玄樹、相馬理、朝日ななみ、江守沙矢、中井大、窪田彩乃 らが出演しています

  https://tver.jp/episodes/ephvnzg7dx
</p>

<p class="tver">
  ドラマ 一緒にごはんをたべるだけ(2026) 6話の配信がTVerで始まりました。
  8/14 0:29まで

  早見あかり、伊藤健太郎、桐山漣、岸明日香、岩永洋昭、浅野千鶴、久場音葉 らが出演しています

  https://tver.jp/episodes/ephv28l3jf
</p>

<p class="tver">
  ドラマ 未婚詐欺 私の知らない彼の顔(2026) 4話の配信がTVerで始まりました。
  8/14 1:28まで

  北乃きい、藤原樹、島崎遥香、和内璃乃、押田岳 らが出演しています

  https://tver.jp/episodes/epltc6xf1y
</p>

<p class="tver">
  ドラマ 親愛なる夫へ～完璧な妻の嘘～(2026) 6話の配信がTVerで始まりました。
  8/13 23:58まで

  田中麗奈、古川雄大、尾崎匠海(INI)、星乃あんな、有澤樟太郎、日比美思、岐洲匠、福田転球、香音、博多華丸(博多華丸・大吉)、田中偉登、前田公輝 らが出演しています

  https://tver.jp/episodes/epro9mv01r
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 6話の配信がTVerで始まりました。
  8/14 0:29まで

  菅井友香、入山法子、稲葉友、柾木玲弥、濱田龍臣、山本弓月 らが出演しています

  https://tver.jp/episodes/ep2rmpxbfr
</p>

<p class="tver">
  ドラマ 夫に不倫をお願いされました(2026) 5話の配信がTVerで始まりました。
  8/21 00:29まで

  中村ゆりか、佐野玲於、葉山奨之、ハシヤスメ・アツコ、横野すみれ、こばやし元樹、希歩、堀井新太、阿久根温世(ICEx)、久保田悠来、南雲奨馬、染谷俊之、橋本マナミ、山野海、濱津隆之 らが出演しています

  https://tver.jp/episodes/epkkru01qg
</p>

<p class="tver">
  ドラマ 翼をください！(1996) 3話の配信がTVerで始まりました。
  終了日未記載

  内田有紀、反町隆史、水野美紀、細川直美、矢田亜希子、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epxjkm29mp
</p>

<p class="tver">
  ドラマ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 6話の配信がTVerで始まりました。
  8/20 23:59まで

  永瀬莉子、藤原大祐、曽野舜太(M!LK)、河村花、染谷俊之、映美くらら らが出演しています

  https://tver.jp/episodes/epupatfso3
</p>

<p class="tver">
  ドラマ Get Ready!(2023) 7話の配信がTVerで始まりました。
  8/14 23:59まで

  妻夫木聡、松下奈緒、日向亘、一ノ瀬颯、橋本マナミ、結城萌、中山麻聖、田野倉雄太、長見玲亜、片山友希、菅原卓磨、吉田涼哉、川本光貴、星野奈緒、畑芽育、前田亜季、池間夏海、竹内カンナ、井上肇、金谷真由美、矢島健一、鹿賀丈史、藤原竜也 らが出演しています

  https://tver.jp/episodes/epf3503npf
</p>

<p class="tver">
  ドラマ ロケット・ボーイ(2001) 3話の配信がTVerで始まりました。
  8/25 終了時間未記載まで

  織田裕二、ユースケ・サンタマリア、松本幸四郎、京野ことみ、須藤理彩、中嶋朋子 らが出演しています

  https://tver.jp/episodes/eptpfxr3ea
</p>

<p class="tver">
  ドラマ 踊る大捜査線(1997) 3話の配信がTVerで始まりました。
  9/18 終了時間未記載まで

  織田裕二、柳葉敏郎、深津絵里、水野美紀、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/epk285f1oi
</p>

<p class="tver">
  ドラマ 東京ラブストーリー(1991) 2話の配信がTVerで始まりました。
  終了日未記載

  鈴木保奈美、織田裕二、有森也実、江口洋介、中山秀征 らが出演しています

  https://tver.jp/episodes/ep96xiuba6
</p>

<p class="tver">
  ドラマ 正義は勝つ Justice・for・all(1995) 3話の配信がTVerで始まりました。
  09/03 終了時間未記載まで

  織田裕二、鶴田真由、室井滋、段田安則、井上晴美、松崎しげる、井上順 らが出演しています

  https://tver.jp/episodes/ep3100rdcm
</p>

<p class="tver">
  ドラマ 心配無用ノ介 天下御免(2026) 4話の配信がTVerで始まりました。
  8/13 22:59まで

  田村ツトム、沙倉ゆうの、井之上チャル、楠瀬アキ、高島和男、松木賢三、ムラサトシ、福田善晴、紅萬子 らが出演しています

  https://tver.jp/episodes/ep5uyvarx7
</p>

<p class="tver">
  ドラマ ラストノート(2026) 5話の配信がTVerで始まりました。
  8/13 22:00まで

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、中島亜梨沙、平原テツ らが出演しています

  https://tver.jp/episodes/epymg7l9ot
</p>

<p class="tver">
  ドラマSP 「東野圭吾 手紙」(2018) の配信がTVerで始まりました。
  終了日未記載

  亀梨和也、佐藤隆太、本田翼、広瀬アリス、中村倫也、高橋努、眞島秀和、西田尚美、渡辺いっけい、田中哲司、榎木孝明、小日向文世 らが出演しています

  https://tver.jp/episodes/ep06oq3925
</p>

<p class="tver">
  ドラマ おいしい給食(2023・3期) 全10話の配信がTVerで始まりました。
  終了日未記載

  市原隼人、大原優乃、田澤泰粋、栄信、六平直政、いとうまい子、高畑淳子、小堺一機 らが出演しています

  https://tver.jp/episodes/epa5u8bncf
</p>

<p class="tver">
  ドラマ 大空港～GATE24～(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  趣里、眞栄田郷敦、板垣李光人、齊藤京子、奥貫薫、秋元才加、加治将樹、街田しおん、嘉島陸、西村直人、椿原愛、田辺誠一、吹越満、柳葉敏郎、松雪泰子 らが出演しています

  https://tver.jp/episodes/ep7pghqs6c
</p>

<p class="tver">
  ドラマ 真夏のシンデレラ(2023) 5話の配信がTVerで始まりました。
  8/13 23:59まで

  森七菜、間宮祥太朗、神尾楓珠、吉川愛、萩原利久、白濱亜嵐、仁村紗和、水上恒司 らが出演しています

  https://tver.jp/episodes/ephgewib66
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 6話の配信がTVerで始まりました。
  8/14 1:00まで

  夏吉ゆうこ、松岡美里、船戸ゆり絵、清水彩香、井澤詩織、明智璃子、稲田徹、中林新夏 らが出演しています

  https://tver.jp/episodes/epivyxxf5y
</p>

<p class="tver">
  アニメ 「天体戦士サンレッド」舞台化記念！セレクション放送(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 14分のアニメです

  高木俊、鍋井まき子、山田ルイ53世、ひぐち君、イッキ、間宮くるみ、斧アツシ、かがわの水割 らが出演しています

  https://tver.jp/episodes/eprwou17ks
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 4話の配信がTVerで始まりました。
  8/14 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/epltrowkoq
</p>

<p class="tver">
  アニメ BLEACH 千年血戦篇-禍進譚-(2026) 42話の配信がTVerで始まりました。
  8/13 23:59まで

  森田成一、杉山紀彰、松岡由貴、安元洋貴、高木渉、折笠富美子、伊藤健太郎、三木眞一郎、ゆきのさつき、大塚明夫、置鮎龍太郎、朴璐美、立木文彦、速水奨、菅生隆之、梅原裕一郎、武内駿輔、小山剛志 らが出演しています

  https://tver.jp/episodes/epibx28fb3
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 13～17話の配信がTVerで始まりました。
  終了日未記載

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫、川島零士、安野希世乃、富田美憂、緑川光、櫻井孝宏 らが出演しています

  https://tver.jp/episodes/eplxklxwte
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 5話の配信がTVerで始まりました。
  8/13 23:59まで

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/epcxl8gb71
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026・3期) 30話の配信がTVerで始まりました。
  8/21 00:00まで

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epa6fnyn2x
</p>

<p class="tver">
  アニメ バンドリ！ ゆめ∞みた(2026) 8話の配信がTVerで始まりました。
  8/20 23:30まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/epdh9rysgu
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 5話の配信がTVerで始まりました。
  8/20 22:30まで

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/ep28937qfy
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 5話の配信がTVerで始まりました。
  8/20 22:00まで

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/epn1392dbi
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 12話の配信がTVerで始まりました。
  8/13 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epuk32qiqy
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 2話の配信がTVerで始まりました。
  8/13 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epp36h7wnv
</p>

<p class="tver">
  バラエティ おかえり熊本～ふるさとは明日も晴れる～(2026) の配信がTVerで始まりました。
  8/20 12:00まで

  ※ おかえり熊本～ふるさとは明日も晴れる～

  島津亜矢、糸永有希 らが出演しています

  https://tver.jp/episodes/ep82b4l9d9
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 6話の配信がTVerで始まりました。
  8/13 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、迫田孝也、高橋和也、増田修一朗、谷口翔太、橋本真実、市村正親、赤井英和、丘みつ子、内野謙太、松居直美、津嘉山正種、橋爪淳、酒向芳、小手伸也、八木亜希子、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epxqnzzfmd
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 10話の配信がTVerで始まりました。
  終了日未記載

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、小曽根叶乃、橋本じゅん らが出演しています

  https://tver.jp/episodes/epwdnh7svg
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 7話の配信がTVerで始まりました。
  8/13 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、三倉茉奈、桐山漣、渋川清彦、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、鈴木亮平、霧島れいか、モト冬樹、冨家ノリマサ、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epghfr1s3c
</p>
