---
title: 2026/7/26 のピックアップ
date: 2026-07-26
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  映画「ワイルドガン」(2015)｜2026/7/24配信｜ギャガ公式チャンネル｜1:30:07
※ 期間限定ですが期限がないのでお早めに

  小山　力也｜ジョン・ヘンリー・クレイトン：キーファー・サザーランド
  糸　博｜ウィリアム・クレイトン牧師：ドナルド・サザーランド
  辻　親八｜ジェームズ・マッカーデイ：ブライアン・コックス
  五十嵐　麗｜メアリー＝アリス・ワトソン：デミ・ムーア
  伊東　健人｜フランク・ティルマン：アーロン・プール

  吹替版：https://youtu.be/stuitCr_25Y
  字幕版：https://youtu.be/CkaBnCJjTO0
</p>

<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。
  8/2 17:59まで

  ※ バリ島 幸せを生む3つの源

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/epvvxrn417
</p>

<p class="tver">
  バラエティ ダウンタウンのガキの使いやあらへんで！(2026) の配信がTVerで始まりました。
  8/2 23:24まで

  ※ 10人で男の勲章歌い切り!エース&小田参戦で大波乱

  浜田雅功(ダウンタウン)、月亭方正、ココリコ(遠藤章造、田中直樹)、ライセンス(藤原一裕、井本貴史)、陣内智則、水田信二、おいでやす小田、エース(バッテリィズ) らが出演しています

  https://tver.jp/episodes/epd3lf4uft
</p>

<p class="tver">
  バラエティ 日曜日の初耳学(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ VIVANT主演・堺雅人が登場！撮影裏話・メイキング映像も満載！俳優仲間も惚れ込む圧巻の演技力を徹底解剖！

  林修、大政絢、赤ペン瀧川、河井ゆずる(アインシュタイン)、キンタロー。、澤部佑(ハライチ)、中島健人、堺雅人、阿部寛、村上てつや、山本耕史 らが出演しています

  https://tver.jp/episodes/epwd982530
</p>

<p class="tver">
  バラエティ EIGHT-JAM(2026) の配信がTVerで始まりました。
  8/3 0:10まで

  ※ 中森明菜特集！松田聖子・小泉今日子との関係、振付秘話…貴重な話が続々

  SUPER EIGHT、古田新太、本間昭光、一青窈、アサヒ、Little Glee Monster、川田裕美、高橋茂雄(サバンナ) らが出演しています

  https://tver.jp/episodes/ep4agb9o8b
</p>

<p class="tver">
  バラエティ 突然ですが占ってもいいですか？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 鳥居＆吉田＆吉住！嫉妬と束縛＆“誤爆離婚”！

  沢村一樹、水野美紀、池田美優、大串ノリコ、鳥居みゆき、吉田結衣(カーネーション)、吉住 らが出演しています

  https://tver.jp/episodes/ep1rjdh1zh
</p>

<p class="tver">
  ドラマ キスは捜査のあとで(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  渡部秀、齋藤璃佑、工藤遥、金井勇太、ドロンズ石本、松井遥南、葵うたの、斉藤柚奈、矢柴俊博、菊川怜 らが出演しています

  https://tver.jp/episodes/ep2j4dc9gc
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 5話の配信がTVerで始まりました。
  8/3 23:59まで

  鈴木亮平、黒木華、井川遥、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、新井美羽、向里祐香、渋川清彦、伊勢志摩、柳谷参助、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、今里真、森下じんせい、井上拓哉、大倉孝二、町田啓太、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epyrzyit1u
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 4話の配信がTVerで始まりました。
  8/3 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、花總まり、池田鉄洋、三石琴乃、加藤浩次、極楽とんぼ、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epw05r5dk9
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 4話の配信がTVerで始まりました。
  8/3 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、森香澄、村瀬紗英、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、原因は自分にある。(大倉空人、小泉光咲、長野凌大、桜木雅哉)、今井隆文、小池里奈、池村碧彩、飯田倫太朗、中瀬古隆誠、河内大和、関口メンディー、戸田恵子、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/epovgmyuok
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 2話の配信がTVerで始まりました。
  8/5 11:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、伊藤淳史、蒼井優、平山祐介、篠田三郎、生瀬勝久、瑳川哲朗、品川徹、長谷川博己、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epdvyiu7jt
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 4話の配信がTVerで始まりました。
  8/2 11:59まで

  西島秀俊、香川照之、真木よう子、吉田鋼太郎、有村架純、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、音月桂、堀内敬子、杉咲花、渋川清彦、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epmjf34jx3
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 4話の配信がTVerで始まりました。
  8/2 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、モロ師岡、山中崇、山田裕貴、若山耀人、山本未來、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/eplo9jt30g
</p>

<p class="tver">
  ドラマ 離婚弁護士(2004) 9話の配信がTVerで始まりました。
  8/2 23:59まで

  天海祐希、玉山鉄二、佐々木蔵之介、久我陽子、陣内孝則、津川雅彦 らが出演しています

  https://tver.jp/episodes/epbifg5211
</p>

<p class="tver">
  ドラマSP おかしな刑事(2018) 18～27(最終)話の配信がTVerで始まりました。
  終了日未記載

  伊東四朗、羽田美智子、大和田伸也、正名僕蔵、深沢邦之、小倉久寛、田島令子、大浦龍宇一 らが出演しています

  https://tver.jp/episodes/epou0rmhkn
</p>

<p class="tver">
  ドラマSP 山村美紗サスペンス 狩矢父娘シリーズ(2014) 16～20話の配信がTVerで始まりました。
  終了日未記載

  藤谷美紀、田村亮、原田龍二、山村紅葉、宮本真希、高橋かおり、勝野洋、阿知波悟美、五代高之、かでなれおん らが出演しています

  https://tver.jp/episodes/epej7gwv0q
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 5話の配信がTVerで始まりました。
  8/3 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、滝裕可里、小泉孝太郎、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/ep0j6ue2yw
</p>

<p class="tver">
  ドラマ 一次元の挿し木(2026) 4話の配信がTVerで始まりました。
  8/2 22:29まで

  山田涼介(Hey! Say! JUMP)、白石聖、木戸大聖、土居志央梨、和田正人、笠原秀幸、猪塚健太、小橋めぐみ、藤井美菜、田畑志真、堀田真由、松下由樹、吉原光夫、正名僕蔵、小手伸也、鈴木保奈美、佐々木蔵之介 らが出演しています

  https://tver.jp/episodes/epwh0gwfjq
</p>

<p class="tver">
  ドラマ マイ・フィクション(2026) 4話の配信がTVerで始まりました。
  8/2 23:09まで

  玉森裕太(Kis-My-Ft2)、森川葵、宮澤エマ、野村周平、国仲涼子、ジャンボたかお(レインボー)、結城萌、三浦りょう太、吉村界人、佐戸井けん太、日影琉叶 らが出演しています

  https://tver.jp/episodes/ep5iejx09w
</p>

<p class="tver">
  アニメ アズールレーン びそくぜんしんっ！にっ！！(2026) 4話の配信がTVerで始まりました。
  終了日未記載

  山根希美、大地葉、長縄まりあ、阿部里果、田中あいみ、陽向葵ゅか らが出演しています

  https://tver.jp/episodes/ep886arqnp
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 4話の配信がTVerで始まりました。
  8/3 0:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/epz0ll20fz
</p>

<p class="tver">
  アニメ さよならララ(2026) 4話の配信がTVerで始まりました。
  8/3 0:29まで

  菱川花菜、深見梨加、村瀬歩、大野智敬、真殿光昭、住友七絵、てらそままさき らが出演しています

  https://tver.jp/episodes/ep3l0o571u
</p>

<p class="tver">
  アニメ ワンピース(2026) 1171話の配信がTVerで始まりました。
  8/2 23:15まで

  田中真弓、中井和哉、岡村明美、山口勝平、平田広明、大谷育江、山口由里子、木村昴、チョー、宝亀克寿 らが出演しています

  https://tver.jp/episodes/epf454a810
</p>

<p class="yt">
  UFOロボ グレンダイザー 第24話「危うしデュークフリード!」｜2026/7/25配信｜東映アニメーションミュージアムチャンネル｜25:46
※ 8/8 17:59まで。土曜18時配信中！各話２週間期間限定

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/on_FOJajBVk
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  8/2 18:56まで

  ※ マナブ！地引き網で大調査！～相模湾編～

  相葉雅紀、小峠英二(バイきんぐ)、岡部大(ハナコ)、あばれる君、佐藤勝利(timelesz) らが出演しています

  https://tver.jp/episodes/epj2agx64e
</p>

<p class="tver">
  バラエティ ザ！鉄腕！DASH!!(2026) の配信がTVerで始まりました。
  8/2 18:59まで

  ※ 笑点60周年記念夏祭り!師匠全員参加で巨大お好み焼き!

  城島茂、横山裕(SUPER EIGHT)、藤原丈一郎(なにわ男子)、三遊亭好楽、三遊亭小遊三、春風亭昇太、林家たい平、立川晴の輔、春風亭一之輔、桂宮治、山田たかお らが出演しています

  https://tver.jp/episodes/epr0gpj8e5
</p>

<p class="tver">
  バラエティ バナナマンのせっかくグルメ!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 夏に行きたい人気リゾート地SP

  バナナマン(設楽統、日村勇紀)、堺雅人、濱田岳、今田美桜、小泉孝太郎、佐藤栞里、陣内智則、藤本美貴、村上佳菜子、横澤夏子 らが出演しています

  https://tver.jp/episodes/epiu8hzkrp
</p>

<p class="tver">
  ドラマ VIVANT(2026) 11話の配信がTVerで始まりました。
  終了日未記載

  堺雅人、阿部寛、二階堂ふみ、竜星涼、山中崇、富栄ドラム、林原めぐみ、花岡すみれ、市川笑三郎、平山祐介、珠城りょう、内村遥、井上肇、西山潤、木幡竜、本間さえ、田中俊介、内野謙太、谷口翔太、藤本ルナ、花江夏樹、鬼頭明里、関智一、中山孟、原布助、二宮和也、橋爪功、井上順、市川猿弥、小林勝也、森田順平、池田成志、林泰文、吉原光夫、坂東彌十郎、濱田岳、キムラ緑子、小日向文世、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/ep9g9yncsv
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ らが出演しています

  https://tver.jp/episodes/ep9luhp03s
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 3話の配信がTVerで始まりました。
  8/2 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/ep00971t13
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  8/2 11:44まで

  ※ 絵と図!真夏のクイズ祭り▼山田&めるる「即興絵描き歌」で波乱!?

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、生見愛瑠、松尾そのま、金ちゃん(鬼越トマホーク) らが出演しています

  https://tver.jp/episodes/epx25lbdy6
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  8/2 12:44まで

  ※ 芸能生活50年の山本耕史とグルメ旅!筋肉・俳優・家族について語りまくる

  兼近大樹(EXIT)、満島真之介、山本耕史 らが出演しています

  https://tver.jp/episodes/epxon6n9l1
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  8/2 13:59まで

  ※ CanCam編集部に潜入&爆売れ雑誌ハルメクの秘密

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、土屋アンナ、山本浩司(タイムマシーン3号) らが出演しています

  https://tver.jp/episodes/epoicu11f6
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 11話の配信がTVerで始まりました。
  8/2 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/epskg0qk19
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 1話の配信がTVerで始まりました。
  9/4 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epgc0ms8s0
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 44話の配信がTVerで始まりました。
  8/2 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ephur8mwzi
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  8/2 6:59まで

  ※ 所さんと奥田民生さんが絶品イノシシ肉で燻製作り!?

  所ジョージ、奥田民生、トータス松本、ウルフルズ らが出演しています

  https://tver.jp/episodes/epq1yzl7ln
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。
  8/2 12:00まで

  ※ 牧野真莉愛、業界に革新、次世代のホテル運営会社とは

  飯田圭織、牧野真莉愛、波多野裕太、堰八紗也佳 らが出演しています

  https://tver.jp/episodes/eppeaxhscz
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/2 10:59まで

  ※ レンジde簡単ナスキーマ＆グリルde焼きナス

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epoijhhyh4
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/2 10:00まで

  ※ 増刊号。学生街で絶品グルメ爆食SP！衝撃のコスパ飯！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、伊達さゆり らが出演しています

  https://tver.jp/episodes/ep4oc7sxe6
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 13回の配信がTVerで始まりました。
  8/2 12:00まで

  ※ 番組グッズで一発当てたい！後編

  アルコ&ピース(平子祐希、酒井健太)、STU48(福田朱里、内海里音、中村舞、森末妃奈、島田紗香) らが出演しています

  https://tver.jp/episodes/eprwlwbn6p
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、吉家章人、岩寺真志、大塚ヒロタ、阿部丈二、モト冬樹、桐谷健太、池内博之、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epp3c5qudi
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 4話の配信がTVerで始まりました。
  8/1 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、あばれる君、斎藤司(トレンディエンジェル)、信川清順、倉科カナ、浜野謙太、津田健次郎、倉沢杏菜、吉沢梨絵、ファーストサマーウイカ、池田成志、木村佳乃 らが出演しています

  https://tver.jp/episodes/epo32u224g
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、小関裕太、丸山智己、田中要次、さだまさし らが出演しています

  https://tver.jp/episodes/epfhqrp6jz
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 2話の配信がTVerで始まりました。
  9/27 23:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、芦名星、森岡龍、坪倉由幸(我が家)、黒田大輔、大西武志、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epf9ubdeq7
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 1～6話の配信がTVerで始まりました。
  9/27 23:59まで

  ※　4～6話は 8/2 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、松原千明、加藤貴子、大河内浩、大塚露那、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/epbwo9c26b
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 2話の配信がTVerで始まりました。
  9/27 23:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市川猿之助、赤井英和、松金よね子、林泰文、東根作寿英、三遊亭小遊三、赤堀雅秋、パパイヤ鈴木、橋爪淳、酒向芳、西田尚美、八木亜希子、三上博史 らが出演しています

  https://tver.jp/episodes/epbo4sd1hw
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 9話の配信がTVerで始まりました。
  8/1 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、横田栄司、高橋洋、葉山奨之、中島ひろ子、岡田浩暉、内田理央、橋爪淳、日向丈、今藤洋子、佐々木一平、清水優、宇梶剛士、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep37q4fvtc
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 15話の配信がTVerで始まりました。
  8/2 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/eph2mtzllo
</p>

<p class="tver">
  アニメ 角醒ハンター オメガホーン(2026) 1話の配信がTVerで始まりました。
  8/2 10:00まで

  楢原聖、国上将大、糸瀬七葉、三浦舞華、加藤憲史郎、田鶴翔吾、小西詠斗、光宗薫、桜庭大翔、長田光平 らが出演しています

  https://tver.jp/episodes/epse37cbfg
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2026) 4話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/epqnpbx865
</p>
