---
title: 2026/7/30 のピックアップ
date: 2026-07-30
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 宇宙兄弟(2012) 5話の配信がTVerで始まりました。
  8/6 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epcprt71i4
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 48話の配信がTVerで始まりました。
  8/6 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epzefu4jnh
</p>

<p class="tver">
  バラエティ ジンギス談！(2026) の配信がTVerで始まりました。
  8/6 12:00まで

  ※ パンクブーブーと青春時代を彩った懐かしの玩具を振り返る！

  タカアンドトシ、梶原小春、佐藤哲夫、黒瀬純 らが出演しています

  https://tver.jp/episodes/epl46kk9ud
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 6話の配信がTVerで始まりました。
  8/5 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、芦名星、石橋杏奈、森岡龍、坪倉由幸(我が家)、山谷初男、吉見一豊、シャカ大熊、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、加藤雅也、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epjkg6xguq
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 4話の配信がTVerで始まりました。
  8/6 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市村正親、赤井英和、戸次重幸、猫背椿、井上肇、酒向芳、小手伸也、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epfi4i3nvt
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 5話の配信がTVerで始まりました。
  8/6 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、的場浩司、矢作兼(おぎやはぎ)、山中崇、西慶子、國光真耶、土屋佑壱、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epcga1tiud
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 10話の配信がTVerで始まりました。
  8/5 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、真野恵里菜、成田凌、内田理央、岡田浩暉、六角慎司、清塚信也、原田裕章、宮下雄也、岩寺真志、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epawy97im5
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 19話の配信がTVerで始まりました。
  8/6 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epiovhg6rj
</p>
