---
title: 2026/9/04 のピックアップ
date: 2026-09-04
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「双星の陰陽師」1～13話｜2026/9/4配信｜アニメタイムズ公式｜5:12:14
  ※ 9/18(金) 16:59まで

  花江夏樹：焔魔堂ろくろ
  潘めぐみ：化野紅緒
  芹澤優：音海繭良
  村瀬歩：石鏡悠斗
  福山潤：きなこ(紅緒の式神)
  前野智昭：椥辻亮悟
  浪川大輔：土御門有馬
  諏訪部順一：天若清弦(白虎)

  https://youtu.be/vFNy1kmiGEY
</p>

<p class="tver">
  ドラマ 絶メシロード(2022・2期) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  濱津隆之、酒井若菜 らが出演しています

  https://tver.jp/episodes/epak6oewlx
</p>

<p class="tver">
  ドラマ 絶メシロード(2020) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  濱津隆之、酒井若菜、西村瑠香、長村航希、佐戸井けん太、新虎幸明、朝加真由美 らが出演しています

  https://tver.jp/episodes/ep2sov2sht
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 7話の配信がTVerで始まりました。 24分
  9/11 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epb4194vn5
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 61話の配信がTVerで始まりました。 24分
  9/11 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epanbvxq3a
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 1～12話の配信がTVerで始まりました。 24分
  終了日未記載

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/ep0ri7n569
</p>

<p class="tver">
  ドキュメンタリー Ｘ年後の関係者たち あのムーブメントの舞台裏(2026) の配信がTVerで始まりました。 45分
  終了日未記載

  ※ なでしこジャパン

  カズレーザー(メイプル超合金)、澤穂希、丸山桂里奈、日々野真理 らが出演しています

  https://tver.jp/episodes/epis4ozpl3
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 1話の配信がTVerで始まりました。 44分
  終了日未記載

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epsafpblkx
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 1話の配信がTVerで始まりました。 44分
  10/10 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、松永拓野、雨野宮将明、まちゃあき、エグスプロージョン、川田裕美 らが出演しています

  https://tver.jp/episodes/eps2m2psnb
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 4話の配信がTVerで始まりました。 31分
  9/11 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、弓削智久、桜田聖子 らが出演しています

  https://tver.jp/episodes/eprj8iw0er
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 1話の配信がTVerで始まりました。 44分
  10/9 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、長谷川朝晴、井上肇、向里祐香、山田キヌヲ、川床明日香、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/epi892qf6w
</p>

<p class="tver">
  ドラマ リセット(2009) 1話の配信がTVerで始まりました。 31分
  10/14 12:00まで

  田中直樹(ココリコ)、安めぐみ、松山愛里、桐山漣 らが出演しています

  https://tver.jp/episodes/epg6baen4k
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 1話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  山田優、金子ノブアキ、勝村政信、鈴木浩介 らが出演しています

  https://tver.jp/episodes/epdpl9sjaz
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 6話の配信がTVerで始まりました。 46分
  9/11 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、ファーストサマーウイカ、片平なぎさ、武田真治、佐藤貴史、深沢敦、阿南敦子、木下政治、青戸昭憲、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/epjl625hzx
</p>

<p class="tver">
  ドラマ サバイバル・ウェディング(2018) 1～3話の配信がTVerで始まりました。 58分
  終了日未記載

  波瑠、吉沢亮、高橋メアリージュン、藤原しおり、前野朋哉、山根和馬、小越勇輝、奈緒、石田ニコル、ついひじ杏奈、風間俊介、須藤理彩、野間口徹、生瀬勝久、財前直見、荒川良々、伊勢谷友介 らが出演しています

  https://tver.jp/episodes/epkltgxe54
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 6話の配信がTVerで始まりました。 47分
  9/11 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、迫田孝也、高橋和也、増田修一朗、谷口翔太、橋本真実、市村正親、赤井英和、丘みつ子、内野謙太、松居直美、津嘉山正種、橋爪淳、酒向芳、小手伸也、八木亜希子、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epfy7q8fe3
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 7話の配信がTVerで始まりました。 47分
  9/11 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、浜中文一、高野洸、小日向ゆか、池上紗理依、中田優子、真柳美苗、肥後克広、ダチョウ倶楽部、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/ep57q1szl1
</p>

<p class="tver">
  ドラマ 天狗の台所(2024・2期) 5～6話の配信がTVerで始まりました。 25分
  9/11 12:00まで

  駒木根葵汰、越山敬達、原田琥之佑、古屋呂敏、角田晃広(東京03) らが出演しています

  https://tver.jp/episodes/ep5mhth8d3
</p>

<p class="tver">
  ドラマ いつか、ヒーロー(2025) 3話の配信がTVerで始まりました。 46分
  終了日未記載

  桐谷健太、宮世琉弥、長濱ねる、泉澤祐希、曽田陵介、星乃夢奈、でんでん、小関裕太、駒木根葵汰、板谷由夏、北村有起哉、田島令子、赤ペン瀧川、チャンス大城、守谷日和 らが出演しています

  https://tver.jp/episodes/ep17fwtalw
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 6話の配信がTVerで始まりました。 46分
  9/11 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、ウエンツ瑛士、佐藤仁美、西原亜希、伊藤修子、向里祐香、さいとうなり、江端英久、さだまさし らが出演しています

  https://tver.jp/episodes/ep0y7dv6w3
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 7話の配信がTVerで始まりました。 47分
  9/11 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、フォンチー、馬場徹、猪塚健太、工藤美桜、春海四方、谷遼、湯川尚樹、松川尚瑠輝、菜々緒、稲森いずみ、城田優、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep0tn5hcg2
</p>

<p class="tver">
  ドラマ 僕らは恋がヘタすぎる(2020) 2話の配信がTVerで始まりました。 24分
  終了日未記載

  川島海荷、白洲迅、浅川梨奈、野呂佳代、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epqsjcrx9x
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 10話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epgjo7mf49
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 60話の配信がTVerで始まりました。 24分
  9/11 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epmmpvce3f
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 8話の配信がTVerで始まりました。 25分
  9/11 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/ep6twjc09v
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 27話の配信がTVerで始まりました。 24分
  9/11 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/ep5uzqpcw5
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 34話の配信がTVerで始まりました。 24分
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep768sbrah
</p>
