---
title: 2026/05/31 のピックアップ
date: 2026-05-31
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  【木村さ〜〜ん！】鎌倉の名店でディナー!｜2026/5/30配信｜木村拓哉｜36:00
※ 木村拓哉&及川光博 最高の思い出になった夜

木村拓哉、及川光博 らが出演しています

  https://youtu.be/LFNRk5ZrzYo
</p>

<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。
  6/7 17:59まで

  ※ この場所が都だったのはわずか11年！幻の天空宮殿

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/ep2u6bobv8
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  6/7 13:59まで

  ※ 【TOYOTAの最新ロボの秘密】衝撃!!食べられる機械

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、平子祐希(アルコ&ピース)、朝日奈央 らが出演しています

  https://tver.jp/episodes/epi4thbfbk
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。
  6/7 18:56まで

  ※ 神奈川県横浜市保土ヶ谷の“新玉ねぎ”を収穫します

  相葉雅紀、小峠英二(バイきんぐ)、澤部佑(ハライチ) らが出演しています

  https://tver.jp/episodes/ep0z228y7y
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  6/7 11:44まで

  ※ 世の中の大きいモノ大集合…新企画!「クイズジャンボ」

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、朝日奈央、きしたかの らが出演しています

  https://tver.jp/episodes/epp3wf03gx
</p>

<p class="tver">
  バラエティ 週刊さんまとマツコ(2026) の配信がTVerで始まりました。
  6/7 12:59まで

  ※ 超人気声優が集結！！恥ずかしすぎる黒歴史＆私生活に迫る

  明石家さんま、マツコ・デラックス、吉村崇(平成ノブシコブシ)、立木文彦、花澤香菜、戸谷菊之介 らが出演しています

  https://tver.jp/episodes/epcte6dpp7
</p>

<p class="tver">
  バラエティ なりゆき街道旅(2026) の配信がTVerで始まりました。
  6/7 12:00まで

  ※ 桜田ひよりと行く再開発で注目の十条の旅！

  ハナコ、桜田ひより らが出演しています

  https://tver.jp/episodes/epyc506dms
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  6/7 12:44まで

  ※ 7歳で大ブレイク!高校3年生寺田心と筋肉ムキムキ!食トレのグルメ旅!

  兼近大樹(EXIT)、満島真之介、寺田心 らが出演しています

  https://tver.jp/episodes/epcx10qwc6
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  6/7 10:59まで

  ※ 手軽にアジアン気分！にら豆乳担々麺＆主役なチヂミ

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/ep8qdbbcpi
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  6/7 10:00まで

  ※ 増刊号。三軒茶屋の絶品名店！ウド鈴木×ザブングル加藤

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、宮藤官九郎 らが出演しています

  https://tver.jp/episodes/ept33ob8ss
</p>

<p class="tver">
  バラエティ 青森発！沖縄エンタメ楽園(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 青森発！沖縄エンタメ楽園

  山口真帆、倉中るな、はまこ・テラこ らが出演しています

  https://tver.jp/episodes/epcnuu9z2p
</p>

<p class="tver">
  アニメ 最強の王様、二度目の人生は何をする？(2026) 21話の配信がTVerで始まりました。
  6/7 11:59まで

  藤原夏海、古川慎、市ノ瀬加那、井澤詩織 らが出演しています

  https://tver.jp/episodes/eprrraz4im
</p>

<p class="tver">
  アニメ 一畳間まんきつ暮らし！(2026) 7話の配信がTVerで始まりました。
  6/7 12:00まで

  菱川花菜、白砂沙帆、千春、根本京里 らが出演しています

  https://tver.jp/episodes/ep0wekuv5j
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Aegis of URUK～(2026) 8話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、早水リサ、郷田ほづみ、茅原実里、石田彰、安元洋貴、土師孝也、矢島晶子、ゆかな、てらそままさき、水野理紗 他

  https://tver.jp/episodes/epglhnu3h0
</p>

<p class="yt">
  アニメ「Dr.STONE 」セレクトエピソード[1期4、16、17話、4期7話]｜2026/5/30配信｜TOHO animation チャンネル｜1:35:24
※ 6月4日(木)22時より第34話「COUNTDOWN」放送！

小林　裕介：石神千空
古川　慎　：大木大樹
市ノ瀬加那：小川 杠
沼倉　愛美：コハク
佐藤　元　：クロム
高橋　花林：スイカ
河西　健吾：あさぎりゲン
　　　麦人：カセキ
中村　悠一：獅子王 司
石田　彰　：氷月
小野　賢章：西園寺羽京
鈴木　崚汰：七海龍水
坂本　真綾：フランソワ
潘　めぐみ：チェルシー
野島　健児：Dr.ゼノ
山下誠一郎：SAI

  https://youtu.be/WbX98mlbYcg
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  6/7 6:59まで

  ※ ヘラクレスオオカブトをバグボーイズが野生のエクアドルで発見!

  所ジョージ、並木雲楓 らが出演しています

  https://tver.jp/episodes/epl3lj7yox
</p>

<p class="tver">
  アニメ 超宇宙刑事ギャバン インフィニティ(2026) 16話の配信がTVerで始まりました。
  6/7 10:00まで

  長田光平、赤羽流河、角心菜、松永有紘、有坂心花、安田啓人、入山杏奈、谷田ラナ、平岡祐太 らが出演しています

  https://tver.jp/episodes/epsuvckxmc
</p>

<p class="tver">
  アニメ ダンダダン(2025) 21話の配信がTVerで始まりました。
  6/7 4:07まで

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉、大友龍三郎、井上喜久子、関智一、杉田智和、平野文 らが出演しています

  https://tver.jp/episodes/ep28h1ccwc
</p>

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 10話の配信がTVerで始まりました。
  6/7 3:07まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/ep6ng7hgql
</p>

<p class="tver">
  アニメ 黄泉のツガイ(2026) 9話の配信がTVerで始まりました。
  6/7 2:37まで

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/eptoe7lm1q
</p>
