---
title: 2026/7/29 のピックアップ
date: 2026-07-29
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  ドキュメンタリー 同級生プレイバック ～時代とか人生とか仕事とか～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 1979年生まれの生きてきた時代や仕事や人生に迫る！

  カズレーザー(メイプル超合金)、押切もえ、佐渡島庸平、山川龍雄、藤井由依 らが出演しています

  https://tver.jp/episodes/eph9b3ym5d
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 16話の配信がTVerで始まりました。
  8/5 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epzn9jisu4
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 4話の配信がTVerで始まりました。
  8/5 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epmqxk80ew
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 2話の配信がTVerで始まりました。
  8/5 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/ep37h52o5v
</p>

<p class="tver">
  アニメ ダイヤのA actⅡ -Second Season-(2026) 4～6話の配信がTVerで始まりました。
  終了日未記載

  逢坂良太、島崎信長、櫻井孝宏、内田雄馬、浅沼晋太郎、花江夏樹、武内駿輔、山下大輝、村瀬歩、畠中祐 らが出演しています

  https://tver.jp/episodes/ep0nqasimi
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 47話の配信がTVerで始まりました。
  8/5 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ep41zrqlnq
</p>

<p class="yt">
  ドラマで共演中!主演の比嘉愛未さんともぐもぐ楽屋ランチ🍱｜2026/7/28配信｜徳永えりの日常｜19:28

※ 撮影のお昼休憩中、一緒にお弁当を食べながらドラマのことやお芝居のこと…途中からTHEマイペースの＜比嘉愛未劇場＞が繰り広げられ、涙が出るほど笑いました😂

  https://youtu.be/eEnzqRsh9vw
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 6話の配信がTVerで始まりました。
  8/5 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、田鍋梨々花、村方乃々佳、小池唯、中山翔貴、池田永吉、二神光、ともさかりえ らが出演しています

  https://tver.jp/episodes/ep9izu86oq
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 4話の配信がTVerで始まりました。
  8/5 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、趣里、生見愛瑠、じろう(シソンヌ)、西山繭子、MEGUMI、さだまさし らが出演しています

  https://tver.jp/episodes/ep041a9ayd
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 4～5話の配信がTVerで始まりました。
  8/5 11:59まで

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/ep8n92zgdu
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 10(最終)話の配信がTVerで始まりました。
  8/5 11:59まで

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉 らが出演しています

  https://tver.jp/episodes/epmfgv88g0
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 10～11(最終)話の配信がTVerで始まりました。
  8/5 11:59まで

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也 らが出演しています

  https://tver.jp/episodes/epqebofe1s
</p>

<p class="tver">
  ドラマ デスノート(2015) 10～11(最終)話の配信がTVerで始まりました。
  8/5 11:59まで

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/eppp51mf9m
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 18話の配信がTVerで始まりました。
  8/5 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/ep7men2jj4
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 12話の配信がTVerで始まりました。
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epchzgkbxq
</p>
