---
title: 2026/8/28 のピックアップ
date: 2026-08-28
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  ご利益がすごいぞ夏の庄内!五重塔に玉こんにゃく、ラーメン、だだちゃ豆!｜2026/8/28配信｜【公式】芳根京子の〈生〉旅｜18:41

  ※ 庄内篇！人生初の座禅に挑戦！

  芳根京子 らが出演しています

  https://youtu.be/0g5xIeSz_v0
</p>

<p class="yt">
  アニメ リボンの騎士 21～24話｜2026/8/28配信｜手塚プロダクション公式チャンネル｜1:42:03
  ※ 2026/10/13 14:00まで

  太田　淑子：サファイヤ
  貴家　堂子：チンク
  小林　恭治：王
  新道乃里子：王妃
  塩見　龍介：魔王メフィスト
  武藤　礼子：ヘケート
  雨森　雅司：ジュラルミン大公
  北川智恵子：プラスチック
  納谷　悟郎：ナイロン卿

  https://youtu.be/kgwlGvTaJmk
</p>

<p class="yt">
  アニメ「神クズ☆アイドル」第1〜10話｜2026/8/28配信｜アニメタイムズ公式｜3:57:13
  ※ 2026/9/28(月) 16:59まで

  今井文也：仁淀ユウヤ
  東山奈央：最上アサヒ
  堀江瞬：吉野カズキ
  寺島拓篤：瀬戸内ヒカル
  佐藤拓也：岬チヒロ
  小林竜之：内濱アキラ
  石谷春貴：灘ユキナリ
  阿座上洋平：伯方ホマレ
  喜多村英梨：信濃ヒトミ
  上田瞳：河川敷
  大地葉：ツギコ
  石見舞菜香：しぐたろ
  速水奨：ナレーション

  https://youtu.be/Nisvf0AEk3k
</p>

<p class="yt">
  TVアニメ「前橋ウィッチーズ」全話一挙配信｜2026/8/28配信｜TVアニメ『前橋ウィッチーズ』YouTube公式チャンネル｜4:44:50
  ※ 2026/9/4(金) 23:59まで

  春日さくら：赤城ユイナ
  咲川ひなの：新里アズ
  本村玲奈：北原キョウカ
  三波春香：三俣チョコ
  百瀬帆南：上泉マイ
  杉田智和：ケロッペ

  https://youtu.be/a5ZvSmIjEQs
</p>

<p class="tver">
  ドラマ 366日(2024) 3話の配信がTVerで始まりました。
  9/28 終了時間未記載まで

  広瀬アリス、眞栄田郷敦、坂東龍汰、長濱ねる、綱啓永、岩永丞威、岐洲匠、高田里穂、加藤虎ノ介、飯田基祐、遊井亮子、佐藤景瑚(JO1)、生田俊平、丈太郎、田上ひろし、辻本耕志、うえのやまさおり、梅津弥英子 らが出演しています

  https://tver.jp/episodes/epxuh1qeni
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  栗山千明、武田航平、辻凪子、おかやまはじめ、馬場裕之(ロバート)、ミスターちん、工藤遥、赤ペン瀧川、千咲としえ、橘佳世 らが出演しています

  https://tver.jp/episodes/epsfkbdkrl
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 9話の配信がTVerで始まりました。
  9/5 0:51まで

  細田佳央太、莉子、藤本洸大、若井尚子、松瀬太虹、高畑結希、和内璃乃、高野渚 らが出演しています

  https://tver.jp/episodes/epk7eb9vap
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  9/4 22:30まで

  ※ 自炊67 手作り塩ラーメン

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep3e12w49m
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  9/4 23:29まで

  ※ 加藤ローサ、有松絞りで浴衣を作る

  三村マサカズ、青木崇高、加藤ローサ らが出演しています

  https://tver.jp/episodes/epdswnlh0p
</p>

<p class="tver">
  バラエティ AKB掃除部！(2026) 1回の配信がTVerで始まりました。
  終了日未記載

  ※ 【新番組スタート！】＃1 日本中の汚れをAKBがゴシゴシピカピカ

  AKB48(長友彩海、武藤小麟、山内瑞葵、山根涼羽) らが出演しています

  https://tver.jp/episodes/epctzfw257
</p>

<p class="tver">
  バラエティ いぬ日和(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 佐々木美玲とくまくんの嬬恋村で愛いっぱい旅

  佐々木美玲 らが出演しています

  https://tver.jp/episodes/ep8zjt1uud
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 逃亡犯・福田和子最大の謎SP!!時効成立目前で逮捕…なぜ!?

  ノブ(千鳥)、二宮和也、星野真里、河内大和、野呂佳代、柳原可奈子、横澤夏子、円井わん、沢城みゆき、大塚芳忠、堀井美香 らが出演しています

  https://tver.jp/episodes/epk3tcrld0
</p>

<p class="tver">
  バラエティ ウワサのお客さま(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 総重量50kg超え！二子山部屋の豪快BBQ▼海上保安庁の精鋭部隊に村野さん出張クッキング

豪快BBQ：https://tver.jp/episodes/epo1sb3lqa
出張クッキング：https://tver.jp/episodes/epfpw4ag07

  サンドウィッチマン(伊達みきお、富澤たけし)、川島明(麒麟)、雨宮萌果、小倉優子 らが出演しています
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 金庫＆秘境駅＆帰省！あの頃に想いを馳せる1時間半スペシャル

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、福田悠太(ふぉ〜ゆ〜)、王林、団長安田(安田大サーカス)、おばたのお兄さん、でか美ちゃん、槇大輔 らが出演しています

  https://tver.jp/episodes/epuaskreeb
</p>

<p class="tver">
  バラエティ かまいたちの瞬間回答～60秒でお悩み解決～(2026) の配信がTVerで始まりました。
  9/4 21:00まで

  ※ 今すぐ使える（秘）雑学＆激変グルメ！

  かまいたち(山内健司、濱家隆一)、生野陽子、坂井真紀、桜井日奈子、井森美幸、那須雄登(ACEes) らが出演しています

  https://tver.jp/episodes/epn3jt5jmf
</p>

<p class="tver">
  バラエティ それSnow Manにやらせて下さい(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ラウール＆天才姉妹がダンス世界大会に出場！密着2年8か月…涙の物語がついに完結

  Snow Man(岩本照、深澤辰哉、ラウール、渡辺翔太、向井康二、阿部亮平、目黒蓮、宮舘涼太、佐久間大介)、木村佳乃、TAKAHIRO、伊原六花 らが出演しています

  https://tver.jp/episodes/epwk55l23v
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  9/4 21:58まで

  ※ 「信頼じゃんけん」夏の終わりの決戦！

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、横山裕(SUPER EIGHT)、関水渚、ウルフアロン、アンミカ、小倉優子、山添寛(相席スタート)、伊集院光、岡野陽一、佐野瑞樹 らが出演しています

  https://tver.jp/episodes/epn08pl88a
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  9/4 22:59まで

  ※ 葉加瀬太郎 長女取材＆スタジオ生演奏♪

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、葉加瀬太郎 らが出演しています

  https://tver.jp/episodes/epx3u3aaxc
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 7話の配信がTVerで始まりました。
  9/5 0:15まで

  吉川愛、綱啓永、恒松祐里、髙松アロハ(超特急)、坂元愛登、朝井大智、吉沢悠、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epotbi5ioo
</p>

<p class="tver">
  ドラマ 救命病棟24時(1999・1期) 2話の配信がTVerで始まりました。
  10/04 終了時間未記載まで

  江口洋介、松嶋菜々子、須藤理彩、沢村一樹、杉本哲太、金田明夫、八嶋智人、大島蓉子 らが出演しています

  https://tver.jp/episodes/epv2b4uar4
</p>

<p class="tver">
  ドラマ 初めて恋をした日に読む話(2019) 1話の配信がTVerで始まりました。
  終了日未記載

  深田恭子、永山絢斗、横浜流星、中村倫也、高橋洋、浜中文一、吉川愛、永田崇人、堀家一希、櫻井圭佑、若林拓也、加藤小夏、黒崎レイナ、石丸謙二郎、鶴見辰吾、安達祐実、皆川猿時、生瀬勝久、檀ふみ らが出演しています

  https://tver.jp/episodes/epy3slbtnf
</p>

<p class="tver">
  ドラマ オー!マイ･ボス!恋は別冊で(2021) 1～3話の配信がTVerで始まりました。
  終了日未記載

  上白石萌音、菜々緒、玉森裕太(Kis-My-Ft2)、間宮祥太朗、久保田紗友、亜生(ミキ)、秋山ゆずき、太田夢莉、吉田沙世、宮崎美子、高橋ひとみ、犬飼貴丈、橋爪淳、山之内すず、円城寺あや、レスリー・キー、栄信、冨永愛、高橋メアリージュン、なだぎ武、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/epykr2vlux
</p>

<p class="tver">
  ドラマ 恋はつづくよどこまでも(2020) 1話の配信がTVerで始まりました。
  終了日未記載

  上白石萌音、佐藤健、毎熊克哉、昴生(ミキ)、渡邊圭祐、瀧内公美、吉川愛、堀田真由、瑛蓮、安藤聖、原ふき子、堀本雪詠、見上愛、香里奈、金子大地、住田萌乃、岡部たかし、鈴木拓(ドランクドラゴン)、黒羽麻璃央、青木和代、太田美恵、ふくまつみ、平岩紙、片瀬那奈、蓮佛美沙子、山本耕史 らが出演しています

  https://tver.jp/episodes/epvsztuu86
</p>

<p class="tver">
  ドラマ 着飾る恋には理由があって(2021) 1話の配信がTVerで始まりました。
  終了日未記載

  川口春奈、横浜流星、丸山隆平(SUPER EIGHT)、中村アン、飯尾和樹(ずん)、山下美月、高橋文哉、赤ペン瀧川、木本夕貴、池下重大、桜井聖、貴山侑哉、相田雄一郎、黒木麗奈、古泉千里、工藤夕貴、向井理、夏川結衣 らが出演しています

  https://tver.jp/episodes/eputwyx55s
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 1話の配信がTVerで始まりました。
  終了日未記載

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、松本梨菜、後藤果萌、武井証、浅野和之、中丸新将、原田美枝子、川村陽介、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epulk71t1g
</p>

<p class="tver">
  ドラマSP 猫弁～死体の身代金～(2012) の配信がTVerで始まりました。
  9/27 23:59まで

  吉岡秀隆、杏、キムラ緑子、柳原可奈子、板谷由夏、岩松了、秋山菜津子、野波麻帆、荒川良々、石田明(NON STYLE)、上田耕一、塩見三省、伊東四朗、渡辺美佐子 らが出演しています

  https://tver.jp/episodes/epl1gawcur
</p>

<p class="tver">
  ドラマ きみが心に棲みついた(2018) 1話の配信がTVerで始まりました。
  終了日未記載

  吉岡里帆、桐谷健太、石橋杏奈、中村アン、長谷川朝晴、田中真琴、山岸門人、周本絵梨香、永岡佑、小林恵美、ムロツヨシ、鈴木紗理奈、瀬戸朝香、向井理 らが出演しています

  https://tver.jp/episodes/epkvn7yp6n
</p>

<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 10話の配信がTVerで始まりました。
  9/4 23:59まで

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/epiu7ntxf2
</p>

<p class="tver">
  ドラマ 危険なビーナス(2020) 1話の配信がTVerで始まりました。
  終了日未記載

  妻夫木聡、吉高由里子、DEAN FUJIOKA、染谷将太、中村アン、堀田真由、結木滉星、福田麻貴(3時のヒロイン)、麻生祐未、坂井真紀、R-指定(Creepy Nuts)、安蘭けい、田口浩正、池内万作、栗田芳宏、栗原英雄、斉藤由貴、戸田恵子、小日向文世 らが出演しています

  https://tver.jp/episodes/epdfyrx6i1
</p>

<p class="tver">
  ドラマ 陸王(2017) 1話の配信がTVerで始まりました。
  終了日未記載

  役所広司、山崎賢人、竹内涼真、上白石萌音、風間俊介、音尾琢真、和田正人、佐野岳、馬場徹、内村遥、春やすこ、吉谷彩子、宇野けんたろう、げんき〜ず、前原滉、花沢将人、佐藤俊彦、石井貴就、安藤勇雅、緒形敦、増田明美、内場勝則、井上肇、原アンナ、上村依子、ぼくもとさきこ、正司照枝、阿川佐和子、小籔千豊、桂雀々、志賀廣太郎、光石研、檀ふみ、市川右團次、ピエール瀧、寺尾聰 らが出演しています

  https://tver.jp/episodes/ep2xf8i3qj
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 1話の配信がTVerで始まりました。
  終了日未記載

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、高橋努、浜田学、河井青葉、六角慎司、山岸門人、竹井亮介、高野ゆらこ、与田祐希、宝辺花帆美、國村隼、伊集院光、小林隆、風吹ジュン、比嘉愛未、松田丈志、小杉竜一(ブラックマヨネーズ)、長田庄平(チョコレートプラネット)、吉田鋼太郎、杉本哲太、風間杜夫、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/epy2xv8vf5
</p>

<p class="tver">
  ドラマ 獣医ドリトル(2010) 1～2話の配信がTVerで始まりました。
  終了日未記載

  小栗旬、井上真央、成宮寛貴、藤澤恵麻、笠原秀幸、菅田将暉、若村麻由美、西村まさ彦、紺野まひる、石坂浩二、國村隼 らが出演しています

  https://tver.jp/episodes/ep27n9r9z8
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 8話の配信がTVerで始まりました。
  9/4 21:59まで

  蒼井優、中島歩、高橋文哉、久保田薫、飛永翼(ラバーガール)、深水元基、島本須美、夏帆、井ノ原快彦(20th Century)、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/epfzg6qn0f
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 6話の配信がTVerで始まりました。
  9/4 21:53まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、白石美帆、岐洲匠、遊井亮子、日野友輔、鈴木萌花、河内大和、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/ep9p0oggnz
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 20話の配信がTVerで始まりました。
  9/5 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/epork03iam
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/epscahtomj
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 47話の配信がTVerで始まりました。
  9/4 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/eputamy5w1
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 12(最終)話の配信がTVerで始まりました。
  9/4 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epdpd599x0
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 24(最終)話の配信がTVerで始まりました。
  9/4 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep6o4y8cia
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 和田明日香がしょうゆ・みそラーメンアレンジを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/epe1gu5kd2
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 10(最終)話の配信がTVerで始まりました。
  9/3 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、清水ミチコ、山岸門人、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epjqqav6b5
</p>

<p class="tver">
  ドラマ 親バカ青春白書(2020) 6～7(最終)話の配信がTVerで始まりました。
  終了日未記載

  ムロツヨシ、永野芽郁、中川大志、今田美桜、戸塚純貴、小野花梨、谷口翔太、濱田めぐみ、野間口徹、新垣結衣 らが出演しています

  https://tver.jp/episodes/ep9zyrqv8g
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 11(最終)話の配信がTVerで始まりました。
  9/3 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、FUJIWARA(原西孝幸、藤本敏史)、丘みつ子、笛木優子、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/ep7oxjhq4v
</p>

<p class="tver">
  ドラマ 天狗の台所(2024・2期) 3～4話の配信がTVerで始まりました。
  9/4 12:00まで

  駒木根葵汰、塩野瑛久、越山敬達、角田晃広(東京03) らが出演しています

  https://tver.jp/episodes/epg2vqj3wu
</p>

<p class="tver">
  ドラマ オーバー30(2009) 32～34話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/ep45bkq91r
</p>

<p class="tver">
  ドラマ まっしろ(2015) 10(最終)話の配信がTVerで始まりました。
  9/3 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、井上真樹夫、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/ep1vyowhpg
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 5話の配信がTVerで始まりました。
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epmg7xg7ur
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 46話の配信がTVerで始まりました。
  9/4 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep46f4ujpf
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 7話の配信がTVerで始まりました。
  9/4 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epbxvbdlbn
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 20話の配信がTVerで始まりました。
  9/4 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/ep86jh6zl8
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 33話の配信がTVerで始まりました。
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epae6pdnd5
</p>
