---
title: 2026/7/18 のピックアップ
date: 2026-07-18
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  UFOロボ グレンダイザー 第23話「激流に叫ぶひかる」｜2026/7/18配信｜東映アニメーションミュージアムチャンネル｜25:45
※ 7/31 23:59まで。土曜18時配信中！各話２週間期間限定

富山　敬　：デュークフリード
石丸　博也：兜甲児
川島千代子：牧ひかる
富田　耕生：牧場団兵衛
沢田　和子：牧場吾郎
八奈見乗児：宇門源蔵
吉田理保子：マリア
富田　耕生：ガンダル
緒方　賢一：ブラッキー
田中　崇　：ズリル
八奈見乗児：ベガ大王

  https://youtu.be/5KznhMI37H8
</p>

<p class="yt">
  アニメ「FAIRY TAIL」137～142話｜2026/7/18配信｜アニメタイムズ公式｜2:26:43
※ 2026/8/19(水) 10:29まで

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/UAq9T6PQu_s
</p>

<p class="tver">
  バラエティ 朝だ！生です旅サラダ(2026) の配信がTVerで始まりました。
  7/25 14:00まで

  ※ 「ミッフィー」を生んだディック・ブルーナの故郷、オランダのユトレヒトへ！伊藤淳史は鳥取県で名所＆名物を巡る！

  松下奈緒、藤木直人、勝俣州和、濵田崇裕(WEST.)、伊藤淳史、Miyuu、大仁田美咲 らが出演しています

  https://tver.jp/episodes/epkilukkjg
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  7/25 16:00まで

  ※ サーティワンアイスで雑学＆ワケありアイス推理

  相葉雅紀、えなりかずき、大久保佳代子(オアシズ)、いぎなり東北産 らが出演しています

  https://tver.jp/episodes/ep7p1n1lmp
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 31話の配信がTVerで始まりました。
  7/25 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/eps0hynmyf
</p>

<p class="tver">
  ドキュメンタリー ブレイクスルー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 宇宙空間で巨大太陽光発電！世界のエネルギー革命に挑む

  相場英雄、佐々木明子、谷田歩 らが出演しています

  https://tver.jp/episodes/epmqhkc3ar
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  7/25 10:29まで

  ※ 夏休みに行きたい!しまなみ海道SP▼旬タコレモンしゃぶしゃぶ

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epticqwwad
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、フォンチー、猪塚健太、工藤美桜、奥野瑛太、入来茉里、菜々緒、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epvm6cv1w8
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 1話の配信がTVerで始まりました。
  9/27 23:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、カラテカ、松井遥南、羽谷勝太、赤ペン瀧川、仲里依紗、六平直政、杉田雷麟、津田健次郎、ファーストサマーウイカ、津田寛治、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epsc39wm7i
</p>

<p class="tver">
  ドラマ 週末婚(1999) 12話の配信がTVerで始まりました。
  7/24 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、森下哲夫、神山繁、織本順吉、戸川京子、柏原収史、夏桂子、根岸季衣、中原ひとみ、仲村トオル らが出演しています

  https://tver.jp/episodes/ep03i2mgsz
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 7話の配信がTVerで始まりました。
  7/25 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epdxc2iir7
</p>

<p class="tver">
  アニメ あたしンち(2002) 2(2～3)話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epzwph9x1m
</p>
