---
title: 2026/9/01 のピックアップ
date: 2026-09-01
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 6回の配信がTVerで始まりました。
  終了日未記載

  ※ 劉銘軒！？エリシャ！？核融合！？怒涛の情報過多を悪役会議室が徹底整理！

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/eplrw8uu5y
</p>

<p class="tver">
  バラエティ リーダーズサーチ 街でウワサの匠さん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 日本の食を支える東京の匠さんを大調査！夏には欠かせないあの飲み物や、江戸前寿司の名店が使用する調味料など！

  城島茂、武内絵美 らが出演しています

  https://tver.jp/episodes/ep2x16axi9
</p>

<p class="tver">
  ドラマ ワカコ酒(2019・4期) 5話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、鎌苅健太、堀田勝、野添義弘、山田キヌヲ、渡部瑞貴、永井響、佐古井隆之、しおつかこうへい、久下恵、おおたけこういち、中川光男 らが出演しています

  https://tver.jp/episodes/epvn55onde
</p>

<p class="tver">
  ドラマSP サ道 2025SP 〜ぬくもりに思いを馳せ ととのう〜(2025) の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城 らが出演しています

  https://tver.jp/episodes/ep2x8nh48u
</p>

<p class="tver">
  ドラマSP サ道 2024SP ～誰しも 何かを胸にととのう～(2024) の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、磯村勇斗、荒川良々、染谷将太、松原智恵子 らが出演しています

  https://tver.jp/episodes/epy42p2swt
</p>

<p class="tver">
  ドラマSP サ道2023SP(2023) の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、磯村勇斗 らが出演しています

  https://tver.jp/episodes/ephwidcdfy
</p>

<p class="tver">
  ドラマSP サ道～２０２２年 冬 小さな幸せを胸にととのう～(2022) の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epfwa90b6k
</p>

<p class="tver">
  ドラマ サ道2021(2021) 1～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、磯村勇斗、荒井敦史 らが出演しています

  https://tver.jp/episodes/ep6qfcirpj
</p>

<p class="tver">
  ドラマ サ道(2019) 1～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、磯村勇斗、荒井敦史、宅麻伸 らが出演しています

  https://tver.jp/episodes/epr9cac5k4
</p>

<p class="tver">
  アニメ ブラッククローバー(2021) 163～165話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epny545zp5
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 55話の配信がTVerで始まりました。
  9/8 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep8wm8rths
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 4話の配信がTVerで始まりました。
  9/8 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep2maxnk6h
</p>

<p class="yt">
  ふしぎな島のフローネ 49～50(最終)話｜2026/8/31配信｜日本アニメーション・シアター｜50:52
  ※ 2026/9/21 18:00まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/QvGJWAiTFXc
</p>

<p class="tver">
  バラエティ 見取り図じゃん(2025) の配信がTVerで始まりました。
  終了日未記載

  ※ 【男に貢ぐのは愛か、悪か】びしょ濡れ…初開催の女子会ディベートバトル

  見取り図(盛山晋太郎、リリー)、ベッキー、加護亜依、福留光帆、田中美久、加納(Aマッソ)、あんり(ぼる塾) らが出演しています

  https://tver.jp/episodes/epx18sml5s
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  9/8 12:00まで

  ※ 東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演中。宙組の鳳城 のあんさんと梨恋 あやめさんです

  中井美穂、立川らく次 、鳳城のあん、梨恋あやめ らが出演しています

  https://tver.jp/episodes/ep36ug49wd
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 4話の配信がTVerで始まりました。
  9/5 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、山本未來、映美くらら、赤間麻里子、谷川昭一朗、桜井聖、宮崎吐夢、中嶋朋子、酒向芳、さだまさし、豆原一成(JO1)、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epg7sux45r
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 10～11話の配信がTVerで始まりました。
  9/7 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、野村たかし、古川りか、大方斐紗子、伊佐山ひろ子、西田健、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/ep7fxb2bq4
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 12(最終)話の配信がTVerで始まりました。
  9/7 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、梶原善、天野慶久、鈴木亮平、篠田三郎、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep6zudy9lc
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 7話の配信がTVerで始まりました。
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep0y1w8jky
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 9話の配信がTVerで始まりました。
  9/8 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/epx3vqhyma
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 54話の配信がTVerで始まりました。
  9/8 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epiusmr5vw
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 9話の配信がTVerで始まりました。
  9/8 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epl8f79buv
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 9話の配信がTVerで始まりました。
  9/8 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epb22rrue3
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 24(最終)話の配信がTVerで始まりました。
  9/8 11:59まで
  ※ 2期の配信もあります

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/ep2xdytqzo
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 4話の配信がTVerで始まりました。
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/ephz0az6sg
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 9話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/eppcn68jxz
</p>
