---
title: 2026/7/14 のピックアップ
date: 2026-07-14
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ ワカコ酒(2017・3期) 6話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/ep3rusjelx
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 142～144話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/ep0awk4w43
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 22話の配信がTVerで始まりました。
  7/21 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epe3jxph6e
</p>

<p class="yt">
  アニメ 三つ目がとおる 13～16話｜2026/7/13配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/a-yxVQGxDPo
</p>

<p class="yt">
  アニメ どうせ、恋してしまうんだ。 2期 全12話｜2026/7/10配信｜フル☆アニメTV｜5:00:05
  ※ 2026/7/22(木) 23:59まで

  新福　　桜：西野水帆
  浦　　和希：羽沢輝月
  吉高　志音：柏木深
  千葉　翔也：和泉藍
  猪股　慧士：星川周吾
  上村　祐翔：斉藤涼介
  田所あずさ：倉敷千夏
  梅原裕一郎：星川透吾
  名塚　佳織：白石真波
  風間万裕子：黒田

  https://youtu.be/HRq4ZRCVmQA
</p>

<p class="tver">
  バラエティ かまいガチ(2025) の配信がTVerで始まりました。
  終了日未記載

  ※ 橋本環奈キャラ崩壊!?ダイアン津田も絶叫「達成したら即帰宅するねん」

  かまいたち(濱家隆一、山内健司)、橋本環奈、津田篤宏(ダイアン)、はる(エルフ)、大ちゃん(ちゃんぴおんず) らが出演しています

  https://tver.jp/episodes/epwss1hbu2
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  7/21 12:00まで

  ※ 東京宝塚劇場月組公演「RYOFU」「水晶宮殿」に出演中の美颯りひとさんと薫乃咲月さんをお迎えして出演中の舞台のお話をお伺いします

  中井美穂、立川らく次 らが出演しています

  https://tver.jp/episodes/epqqy007zc
</p>

<p class="tver">
  ドラマ 週末婚(1999) 10話の配信がTVerで始まりました。
  7/20 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、飯田基祐、東地宏樹、織本順吉、夏桂子、戸川京子、根岸季衣、仲村トオル 他

  https://tver.jp/episodes/eprnyxz89w
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 8話の配信がTVerで始まりました。
  7/20 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、絃瀬聡一、清乃あさ姫、ゴリけん、矢野ペペ、パラシュート部隊、唐沢龍之介、吉村恵里子、成田凌、藤本隆宏、西田尚美、篠井英介、宮崎美子、斉藤優、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epe2so078c
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 8話の配信がTVerで始まりました。
  7/20 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep9s99jycl
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 8話の配信がTVerで始まりました。
  7/20 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、半海一晃、中村豪、やるせなす、兵頭有紀、黒田知永子、山本圭、勝村政信 らが出演しています

  https://tver.jp/episodes/ep04l1ehq0
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、大黒摩季、福澤朗、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epyn1pzgfo
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、國本鍾建、新井浩文、木下ほうか、吉川晃司、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、篠井英介、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、横田栄司、中村歌昇、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/epp7nbufw7
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG、2PM、相葉裕樹、菊田大輔、永瀬匡、山下真司、田中要次、佐々木希、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/epouraipxj
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、窪田正孝、夙川アトム、西山潤、小澤美和、山本舞香、段田安則、内藤剛志、麻生祐未 他

  https://tver.jp/episodes/epj2df7621
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 8～9話の配信がTVerで始まりました。
  7/20 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、古畑星夏、清塚信也、白石糸、小林きな子、吉田悟郎、泉春花、芦名星、高橋努、相楽樹、山口紗弥加、塩見三省、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/eprfhmcoed
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、中村ゆり、谷村美月、戸田昌宏、高橋洋、千葉哲也、森岡龍、永岡佑、奥貫薫、西田尚美、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epbt1z6r10
</p>

<p class="tver">
  ドラマ 新参者(2010) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、宮地真緒、和田正人、吉井怜、木村祐一、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/epbk9ml30r
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 8～9話の配信がTVerで始まりました。
  7/20 9:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、小日向文世 らが出演しています

  https://tver.jp/episodes/ep5xbh9fik
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 4話の配信がTVerで始まりました。
  7/20 9:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、杉咲花、篠田三郎、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epksv55oi9
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、池松壮亮、平山祐介、戸田昌宏、鶴見辰吾、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep4edqukou
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 8話の配信がTVerで始まりました。
  7/20 9:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、羽賀研二、石田太郎、春田純一、山口美也子、浜田学、池内万作、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/ep3zu7osfu
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 2話の配信がTVerで始まりました。
  7/21 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/epyoqsq16w
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 2話の配信がTVerで始まりました。
  7/21 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epulicsgz9
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 2話の配信がTVerで始まりました。
  7/21 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/ep3nsyv8y7
</p>

<p class="tver">
  アニメ ハイキュー!! 烏野高校 ＶＳ 白鳥沢学園高校(2016) 8話の配信がTVerで始まりました。
  7/21 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、江川央生、竹内良太、木村昴、土屋神葉、豊永利行、寺島拓篤、丹沢晃之、福田賢二、大森大樹、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep080rsmvn
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 2話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/epda4az2m3
</p>

<p class="tver">
  ドラマ VIVANT(2023) 8話の配信がTVerで始まりました。
  7/20 5:59まで

  堺雅人、阿部寛、二階堂ふみ、音尾琢真、和田聰宏、バルサラハガバ・バタボルド、内村遥、井上肇、富栄ドラム、二宮和也、林遣都、高梨臨、林原めぐみ、林泰文、吉原光夫、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/epjhu82rdc
</p>
