---
title: 2026/6/4 のピックアップ
date: 2026-06-04
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。
  6/12 1:33まで

  ※ 相方ツッコミ最高芸人…サンド＆タカトシ＆シソンヌ＆見取り図

  蛍原徹、サンドウィッチマン、タカアンドトシ、シソンヌ、見取り図、出川哲朗 らが出演しています

  https://tver.jp/episodes/epq4yjwc0c
</p>

<p class="tver">
  ドラマ ネタジョ(2026) 6話の配信がTVerで始まりました。
  6/12 1:58まで

  辻凪子、のせりん、中山莉子(私立恵比寿中学)、太田駿静(OCTPATH)、伊藤修子、野村宏伸、板尾創路 らが出演しています

  https://tver.jp/episodes/epttlam6ig
</p>

<p class="yt">
  真夜中ハートチューン 全12話｜2026/6/5配信｜フル☆アニメTV｜4:47:20
  ※ 2026/6/18 23:59まで。時間は予想

  安田　陸矢：山吹有栖
  瀬戸　桃子：井ノ華六花
  大久保瑠美：日芽川寧々
  鈴代　紗弓：霧乃イコ
  伊藤　美来：雨月しのぶ
  花澤　香菜：安藤檸檬

  https://youtu.be/1NhZSLZF7w8
</p>

<p class="yt">
  アニメ「ロケットガール」1～12話｜2026/6/5配信｜アニメタイムズ公式｜4:45:43
  ※ 2028/3/31 23:59まで。と書いてありましたが2028年は怪しい

  仙台　エリ：森田ゆかり
  生天目仁美：マツリ
  長谷川静香：三浦茜
  菅生　隆之：那須田勲
  柳沢真由美：旭川さつき
  豊嶋真千子：三原素子

  https://youtu.be/WjFuUQ2WYHI
</p>

<p class="yt">
  AKB48だけの島を作ってみた!｜2026/6/4配信｜なるたおちゃんねる｜30:31
  ※ AKB48だけの島を作ろうと思ったのですが…こだわりすぎて…😂顔のパーツや雰囲気など、細かいところまで再現しようとした結果、想像以上に時間がかかることに…！

  https://youtu.be/qnX-qNn7ZfM
</p>

<p class="tver">
  ドラマ ディープリベンジ-顔を捨てた家政婦-(2026) 9話の配信がTVerで始まりました。
  6/12 1:08まで

  堀未央奈、石川恋、飯島寛騎、松井利樹(BALLISTIK BOYZ)、EXILE TRIBE、才川コージ、槙尾ユウスケ(かもめんたる)、的場浩司 らが出演しています

  https://tver.jp/episodes/epkggqzlt1
</p>

<p class="tver">
  ドラマ その天才様は偽装彼女に執着する(2026) 7話の配信がTVerで始まりました。
  6/11 23:59まで

  今野大輝(B&ZAI)、加藤史帆、香音、堀丞、西井幸人、室井響、しゅはまはるみ らが出演しています

  https://tver.jp/episodes/ep9topa0kf
</p>

<p class="tver">
  ドラマ あの夜、社長の子供を授かりました(2026) 8話の配信がTVerで始まりました。
  6/12 1:28まで

  佐々木美玲、森次政裕(超特急)、和田雅成、大原梓、朝井瞳子、神保悟志 らが出演しています

  https://tver.jp/episodes/epf4tasyca
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2026・2期) 19～20話の配信がTVerで始まりました。
  6/12 1:29まで

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epdhyrsq8z
</p>

<p class="tver">
  アニメ 霧尾ファンクラブ(2026) 10話の配信がTVerで始まりました。
  6/25 23:59まで

  稗田寧々、若山詩音、梶原岳人、広瀬裕也、小笠原仁、伊藤彩沙、和泉風花 らが出演しています

  https://tver.jp/episodes/epdxuh9rjp
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。
  6/11 19:59まで

  ※ 日常生活に革命！？自動運転の現在地と未来 須田義大（東京工科大学 片柳研究所所長・未来モビリティ研究センター長）

  加藤浩次、古旗笑佳、若杉亨 らが出演しています

  https://tver.jp/episodes/epfmkqsvjs
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。
  6/11 18:59まで

  内村光良、サンドウィッチマン、EXIT、上川隆也、瀬戸朝香、タイムマシーン3号、NICHOLAS、TAKI(THE JET BOY BANGERZ)、&TEAM、生見愛瑠、マヂカルラブリー、板尾創路、尾形貴弘(パンサー)、加藤清史郎、木村昴、高田夏帆、田中美久、なえなの、レインボー らが出演しています

  https://tver.jp/episodes/epgmxh7pnt
</p>

<p class="tver">
  バラエティ 相葉ヒロミのお困りですカー？(2026) の配信がTVerで始まりました。
  6/18(木) 21:54まで

  ※ 【荒れ放題の川を大掃除】有毒植物・危険岩・謎の巨大魚と壮絶バトル

  ヒロミ、相葉雅紀 らが出演しています

  https://tver.jp/episodes/epkxitiwv1
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。
  6/18(木) 19:59まで

  ※ ダブルスで町の大会潜入したら優勝できる？さくらまやがVaundyを歌いあげる！学校潜入ライブで生徒大興奮

  卓球編：https://tver.jp/episodes/epww395mjd
  透明カラオケBOX：https://tver.jp/episodes/epva5zjrnf
  学校潜入編：https://tver.jp/episodes/epwtqmd74g

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、川口春奈、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、伊藤百花(AKB48)、川田裕美、高木菜那、平野早矢香、水谷隼、みやぞん、村上佳菜子、高柳光希、さくらまや、NASUMI、CUTIE STREET らが出演しています
</p>

<p class="tver">
  バラエティ ナゾトレMAXXX(2026) の配信がTVerで始まりました。
  6/18(木) 21:00まで

  ※ 感動！ホムセン便利家事グッズ完全攻略SP

  くりぃむしちゅー(有田哲平、上田晋也)、タカアンドトシ、柳原可奈子、阿部亮平(Snow Man)、宇治原史規、藤原丈一郎(なにわ男子)、森泉 らが出演しています

  https://tver.jp/episodes/ep9dpkmgnz
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 130回の配信がTVerで始まりました。
  6/12 0:20まで

  ※ 真剣勝負あっち向いてホイ！ついに王者が決定！

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、あばれる君、太田博久(ジャングルポケット)、かなで(3時のヒロイン)、コカドケンタロウ(ロッチ)、高野正成(きしたかの)、高松瞳(＝LOVE)、信子(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/eps7bm6mup
</p>

<p class="tver">
  バラエティ あざとくて何が悪いの？(2026) の配信がTVerで始まりました。
  6/12 1:20まで

  ※ 木戸大聖VS前田敦子！モブ系男女の必勝マニュアル大激論

  山里亮太(南海キャンディーズ)、鈴木愛理、木戸大聖、前田敦子、戸塚有輝、葉山さら らが出演しています

  https://tver.jp/episodes/epfwb1s6dk
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  6/12 0:58まで

  ※ 世間に共感されろ！胸キュン台詞といえば…？塩﨑ガチ照れ

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/ep7hm9e5rz
</p>

<p class="tver">
  ドラマ るなしい(2026) 10話の配信がTVerで始まりました。
  6/12 0:59まで

  原菜乃華、窪塚愛流、本島純政、影山優佳、滝澤エリカ、島村龍乃介、加藤小夏、道上珠妃(ダウ90000)、正名僕蔵、根岸季衣 らが出演しています

  https://tver.jp/episodes/epk59rl6i1
</p>

<p class="tver">
  ドラマ 君が死刑になる前に(2026) 10(最終)話の配信がTVerで始まりました。
  6/11 23:58まで

  加藤清史郎、鈴木仁、与田祐希、内博貴、ニシダ(ラランド)、伊礼姫奈、大塚ヒロタ、戌井昭人、輝有子、今江大地、小林大斗、白戸ゆめの、内田慈、唐田えりか 他

  https://tver.jp/episodes/epl3vv397s
</p>

<p class="tver">
  ドラマ 聖ラブサバイバーズ(2025) 10話の配信がTVerで始まりました。
  6/12 0:29まで

  石井杏奈、上田竜也、佐津川愛美、山谷花純、増子敦貴、佐伯大地、藤堂日向、宇佐卓真、鳥羽潤、鈴之助、街田しおん らが出演しています

  https://tver.jp/episodes/epq8v0i2ax
</p>

<p class="tver">
  ドラマ 惡の華(2026) 9話の配信がTVerで始まりました。
  6/12 0:29まで

  鈴木福、あの、井頭愛海、中西アルノ、水石亜飛夢、長谷川朝晴、中越典子 らが出演しています

  https://tver.jp/episodes/epb666y4we
</p>

<p class="tver">
  ドラマ セミオトコ(2019) 1～3話の配信がTVerで始まりました。
  終了日未記載

  山田涼介(Hey! Say! JUMP)、木南晴夏、今田美桜、三宅健、しずちゃん(南海キャンディーズ)、やついいちろう、北村有起哉、佐藤仁美、田中美奈子、阿川佐和子、檀ふみ らが出演しています

  https://tver.jp/episodes/epzw6hj3nf
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、ホラン千秋、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、木村祐一、烏丸せつこ、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epxacq8j82
</p>

<p class="tver">
  ドラマ 美女か野獣(2003) 2話の配信がTVerで始まりました。
  終了日未記載

  松嶋菜々子、福山雅治、渡辺いっけい、八嶋智人、佐々木蔵之介、白石美帆、永井大、パパイヤ鈴木、児玉清 らが出演しています

  https://tver.jp/episodes/epvnr7oveb
</p>

<p class="tver">
  ドラマ じゃあ、あんたが作ってみろよ(2025) 1～3話の配信がTVerで始まりました。
  7/10 21:59まで

  夏帆、竹内涼真、中条あやみ、青木柚、前原瑞樹、サーヤ(ラランド)、楽駆、杏花、平原テツ、安藤輪子、橘優輝、青島心、谷田部俊(我が家)、安東弘樹、池津祥子、菅原大吉 らが出演しています

  https://tver.jp/episodes/epv8uy2ai6
</p>

<p class="tver">
  ドラマSP BORDER 贖罪(2017) の配信がTVerで始まりました。
  終了日未記載

  小栗旬、青木崇高、波瑠、遠藤憲一、古田新太、滝藤賢一、野間口徹、浜野謙太、満島真之介、中村ゆりか、大森南朋、國村隼 らが出演しています

  https://tver.jp/episodes/epsubxruxh
</p>

<p class="tver">
  ドラマ GTO(1998) 1話の配信がTVerで始まりました。
  終了日未記載

  反町隆史、松嶋菜々子、希良梨、池内博之、山崎裕太、徳山秀典、窪塚洋介、中村愛美、黒田美樹、小栗旬、白川みなみ、林知花、藤木直人、馬渕英里何、立石涼子、ガダルカナル・タカ、近藤芳正、円城寺あや、小林正寛、井田國彦、三又又三、山崎まさや、中尾彬、白川由美 らが出演しています

  https://tver.jp/episodes/epma069d5m
</p>

<p class="tver">
  ドラマ 離婚しない男―サレ夫と悪嫁の騙し愛―(2024) 1～3話の配信がTVerで始まりました。
  終了日未記載

  伊藤淳史、小池徹平、佐藤大樹、篠田麻里子、玉田志織、水野美紀 らが出演しています

  https://tver.jp/episodes/epjlg63wd6
</p>

<p class="tver">
  ドラマ サイン—法医学者 柚木貴志の事件—(2019) 1～3話の配信がTVerで始まりました。
  終了日未記載

  大森南朋、松雪泰子、飯豊まりえ、高杉真宙、佐津川愛美、森川葵、淵上泰史、利重剛、木下ほうか、西田敏行、仲村トオル らが出演しています

  https://tver.jp/episodes/epismbvaur
</p>

<p class="tver">
  ドラマ チア☆ダン(2018) 1話の配信がTVerで始まりました。
  7/14 21:59まで

  土屋太鳳、石井杏奈、佐久間由衣、山本舞香、朝比奈彩、大友花恋、箭内夢菜、志田彩良、清水尋也、八木莉可子、伊原六花、足立佳奈、堀田真由、福地桃子、小倉ゆうか、石崎なつみ、坂ノ上茜、溝口恵、守屋ことり、佐生雪、高橋里恩、本多力、森カンナ、木原勝利、高村佳偉人、広瀬すず、松本若菜、岐洲匠、高橋和也、紺野まひる、新木優子、木下ほうか、阿川佐和子、オダギリジョー らが出演しています

  https://tver.jp/episodes/epi1b3n1mo
</p>

<p class="tver">
  ドラマSP 名探偵・明智小五郎(2019) 2(最終)話の配信がTVerで始まりました。
  終了日未記載

  西島秀俊、伊藤淳史、石田ゆり子、岸井ゆきの、香川照之 らが出演しています

  https://tver.jp/episodes/epo2xcg3bd
</p>

<p class="tver">
  ドラマSP 名探偵・明智小五郎(2019) 1話の配信がTVerで始まりました。
  終了日未記載

  西島秀俊、伊藤淳史、石田ゆり子、岸井ゆきの、香川照之 らが出演しています

  https://tver.jp/episodes/ephun88esr
</p>

<p class="tver">
  ドラマ 最愛(2021) 1～3話の配信がTVerで始まりました。
  7/10 21:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、奥野瑛太、岡山天音、茅島成美、吉澤健、柊木陽太、朝井大智、金井成大、水崎綾女、渋江譲二、菅原けん、宮下かな子、佐藤玲、野村修一、見里瑞穂、薬師丸ひろ子、光石研、酒向芳、津田健次郎、及川光博、井浦新 らが出演しています

  https://tver.jp/episodes/ephra6upws
</p>

<p class="tver">
  ドラマ フェルマーの料理(2023) 1～3話の配信がTVerで始まりました。
  7/10 21:59まで

  高橋文哉、志尊淳、小芝風花、板垣李光人、白石聖、細田善彦、朝井大智、フェルナンデス直行、井頭愛海、八木アリサ、木田佳介、Jua、及川光博、久保田紗友、堀部圭亮、知花くらら、なすなかにし(中西茂樹、那須晃行)、宮澤エマ、細田佳央太、宇梶剛士、高橋光臣、仲村トオル らが出演しています

  https://tver.jp/episodes/epfgxk79ew
</p>

<p class="tver">
  ドラマ ゴシップ＃彼女が知りたい本当の○○(2022) 1話の配信がTVerで始まりました。
  終了日未記載

  黒木華、溝端淳平、野村周平、野間口徹、石井杏奈、寛一郎、一ノ瀬颯、りょう、安藤政信、生瀬勝久、原金太郎 らが出演しています

  https://tver.jp/episodes/epa8u2s0zt
</p>

<p class="tver">
  ドラマSP ダブルフェイス 潜入捜査編(2012) の配信がTVerで始まりました。
  7/26 20:59まで

  西島秀俊、香川照之、和久井映見、伊藤淳史、伊藤かずえ、堀部圭亮、高橋光臣、平田満、小日向文世、角野卓造 らが出演しています

  https://tver.jp/episodes/epsdz8s6z7
</p>

<p class="tver">
  ドラマSP ダブルフェイス 偽装警察編(2013) の配信がTVerで始まりました。
  7/26 20:59まで

  香川照之、西島秀俊、蒼井優、和久井映見、伊藤かずえ、堀部圭亮、高橋光臣、田中要次、伊藤淳史、角野卓造、北見敏之、平田満、小日向文世 らが出演しています

  https://tver.jp/episodes/ep6y1ro1qg
</p>

<p class="tver">
  ドラマ 監獄のお姫さま(2017) 1～3話の配信がTVerで始まりました。
  7/10 21:59まで

  小泉今日子、満島ひかり、伊勢谷友介、夏帆、塚本高史、乙葉、雛形あきこ、猫背椿、西沢仁太、米村亮太朗、神尾楓珠、上川周作、岩寺真志、前田虎徹、太田光、爆笑問題、田中裕二、坂井真紀、森下愛子、菅野美穂 らが出演しています

  https://tver.jp/episodes/ep4ltzw3c1
</p>

<p class="tver">
  ドラマ １８／４０～ふたりなら夢も恋も～(2023) 1話の配信がTVerで始まりました。
  7/14 21:59まで

  福原遥、深田恭子、鈴鹿央士、上杉柊平、出口夏希、長澤樹、八木勇征、嵐莉菜、佐野ひなこ、坂口涼太郎、葵揚、菊池日菜子、浦井のりひろ(男性ブランコ)、鈴木ゆうか、荒川ちか、川端結愛、ほのか、伊藤麻実子、シルビア・グラブ、安藤聖、天野浩成、美村里江、松本若菜、高嶋政宏、片平なぎさ、安田顕 らが出演しています

  https://tver.jp/episodes/ep1hk54hep
</p>

<p class="tver">
  ドラマ よかれと思ってやったのに ～男たちの『失敗学』裁判～(2026) の配信がTVerで始まりました。
  終了日未記載

  岡部大(ハナコ)、松尾スズキ、日高ボブ美、富川一人、山下リオ、村方乃々佳 らが出演しています

  https://tver.jp/episodes/eppgda6qnz
</p>

<p class="tver">
  ドラマ 今夜、秘密のキッチンで(2026) 9話の配信がTVerで始まりました。
  6/11 22:00まで

  木南晴夏、高杉真宙、瀧本美織、佐津川愛美、月城かなと、森優作、YU、白本彩奈、吉田萌果、安井順平、筒井真理子、中村俊介 らが出演しています

  https://tver.jp/episodes/epladh8di4
</p>

<p class="tver">
  ドラマ 未解決の女 警視庁文書捜査官(2026・3期) 8話の配信がTVerで始まりました。
  6/11 21:54まで

  鈴木京香、黒島結菜、宮世琉弥、武田玲奈、草川直弥、井上翔太、皆川猿時、遠藤憲一、沢村一樹、淵上泰史、山崎紘菜、馬場徹、伊藤俊介(オズワルド)、杉本哲太 らが出演しています

  https://tver.jp/episodes/epuyi2sxo6
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中(2022) の配信がTVerで始まりました。
  6/12 0:30まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、江口拓也、鳥海浩輔、皆口裕子、大久保瑠美、竹内良太、河西健吾、濱野大輝、大西沙織、石田彰、白石稔 他

  https://tver.jp/episodes/ephx9fdtw3
</p>

<p class="tver">
  アニメ キルアオ(2026) 8話の配信がTVerで始まりました。
  6/11 23:29まで

  三瓶由布子、和泉風花、梅田修一朗、佐久間大介(Snow Man)、大塚剛央、千葉翔也、中島ヨシキ、種崎敦美、内山夕実、武内駿輔 らが出演しています

  https://tver.jp/episodes/epwtrr2sv2
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 9話の配信がTVerで始まりました。
  6/11 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epx7fp1d3g
</p>
