---
title: 2026/9/28 のピックアップ
date: 2026-09-28
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  森脇梨々夏ちゃんと焼肉食べてゴイゴイスー｜2026/9/26配信｜ダイアン津田のゴイゴイスーチャンネル｜15:06
  ※ 森脇梨々夏：『ダイアン津田のバーディーチャンす〜』の2代目レギュラーアシスタント。『幸せカナコの殺し屋生活』第2話のコンビニ店員。

  津田篤宏(ダイアン)、森脇梨々夏 らが出演しています

  https://youtu.be/QNBT6ffEpmM
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。 53分
  終了日未記載

  ※ 鹿児島の山奥で受け継がれる鹿児島名物の夏の味――。家族でつなぐ[そうめん流し]の名店とは！？

  所ジョージ、林修、小手伸也、原菜乃華 らが出演しています

  https://tver.jp/episodes/ep7xjpzo3y
</p>

<p class="tver">
  ドラマ ハルとアオのお弁当箱(2020) 5～8話の配信がTVerで始まりました。 24分
  終了日未記載

  吉谷彩子、井之脇海、梶原ひかり、七瀬公、中島ひろ子 らが出演しています

  https://tver.jp/episodes/epf1k1cydl
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 1～4話の配信がTVerで始まりました。 26分
  終了日未記載

  菅井友香、入山法子、稲葉友、濱田龍臣 らが出演しています

  https://tver.jp/episodes/epmqx7m13n
</p>

<p class="tver">
  ドラマ 能面検事(2025) 5～8(最終)話の配信がTVerで始まりました。 45分
  終了日未記載

  上川隆也、吉谷彩子、大西流星(なにわ男子)、宇梶剛士、竹財輝之助、観月ありさ、寺脇康文、宮川一朗太、谷村美月、少路勇介、祷キララ、諏訪太朗、菅原けん、岡本望来 らが出演しています

  https://tver.jp/episodes/ep8ybltjq1
</p>

<p class="tver">
  ドラマ 私と夫と夫の彼氏(2023) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  堀田茜、古川雄輝、本田響矢、岡本玲、深尾あむ らが出演しています

  https://tver.jp/episodes/ep9pugrqgr
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 46話の配信がTVerで始まりました。 24分
  10/5 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epwommnlo2
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 10(最終)話の配信がTVerで始まりました。 24分
  10/12 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟、金子隼也、紺野まひる らが出演しています

  https://tver.jp/episodes/epv8lo5xlt
</p>

<p class="tver">
  ドラマ リセット(2009) 13話の配信がTVerで始まりました。 30分
  10/12 12:00まで

  田中直樹(ココリコ)、黒川智花、磯山さやか、平方元基 らが出演しています

  https://tver.jp/episodes/epf4bp0ey2
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 10(最終)話の配信がTVerで始まりました。 43分
  10/12 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、市川知宏、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平 らが出演しています

  https://tver.jp/episodes/epczxfm6kg
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 8話の配信がTVerで始まりました。 47分
  10/7 11:59まで

  仲間由紀恵、リュ・シウォン、袴田吉彦、鈴木浩介、入江慎也、田中哲司、宮川一朗太、鈴木みのる、眞野裕子、益岡徹、片平なぎさ、泉ピン子 らが出演しています

  https://tver.jp/episodes/epxzt2ide6
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 8話の配信がTVerで始まりました。 46分
  10/7 11:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、好井まさお、望月章男、シャカ大熊、神野三鈴、井上芳雄、中村アン、ユースケ・サンタマリア、市川実日子、木場勝己、石黒英雄、梅沢富美男、和田アキ子、三田佳子、香川照之 らが出演しています

  https://tver.jp/episodes/epv9kvhtsf
</p>

<p class="tver">
  ドラマ メゾン・ド・ポリス(2019) 8～9話の配信がTVerで始まりました。 45分
  10/7 11:59まで

  高畑充希、西島秀俊、西田尚美、竜星涼、木村了、戸田昌宏、小日向文世、東風万智子、荻野友里、住田萌乃、ヨシダ朝、水橋研二、渡辺文香、野口五郎、角野卓造、近藤正臣、萩野友里 らが出演しています

  https://tver.jp/episodes/ephcg5ykxe
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 6話の配信がTVerで始まりました。 50分
  10/4 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、安田顕、春日香音、相澤瑠星、黒川智花、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/epa8mt0nez
</p>

<p class="tver">
  ドラマ ９ボーダー(2024) 6～7話の配信がTVerで始まりました。 45分
  10/4 11:59まで

  川口春奈、木南晴夏、畑芽育、木戸大聖、井之脇海、内田慈、伊藤俊介(オズワルド)、齋藤潤、入江甚儀、堀内敬子、桜井聖、谷川昭一朗、高橋克実、YOU、松下洸平 らが出演しています

  https://tver.jp/episodes/ep9u2uqurf
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 7話の配信がTVerで始まりました。 47分
  10/5 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、赤間麻里子、谷川昭一朗、桜井聖、豆原一成(JO1)、中嶋朋子、尾美としのり、さだまさし、國村隼、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/ep4qwwl5un
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 26話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epbphbw9jv
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 4話の配信がTVerで始まりました。 24分
  10/5 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epzqdfezvr
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 21話の配信がTVerで始まりました。 25分
  10/5 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/ep6iie9u0l
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 9話の配信がTVerで始まりました。 23分
  終了日未記載

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/epywz3lk58
</p>
