---
title: 2026/10/01 のピックアップ
date: 2026-10-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 付き合ってあげてもいいかな(2026) 4話の配信がTVerで始まりました。 25分
  10/9 1:28まで

  鞘師里保、小西桜子、山下永玖(ONE N' ONLY)、伊島空、葵揚、黒崎レイナ、橋本稜(スクールゾーン)、山谷花純、紺野彩夏 らが出演しています

  https://tver.jp/episodes/eppmmgbasp
</p>

<p class="tver">
  ドラマ 絶望できない男(2026) 3話の配信がTVerで始まりました。 24分
  終了日未記載

  大東駿介、相武紗季、八村倫太郎(WATWING)、アキラ100%、前田航基、辻凪子、肥田日向、岡野陽一、板倉武志、華井二等兵、前田旺志郎、金属バット(小林圭輔、友保隼平)、小出恵介 らが出演しています

  https://tver.jp/episodes/epm98a35ve
</p>

<p class="yt">
  アニメ「かくりよの宿飯 弐」第1～12話｜2026/10/1配信｜アニメタイムズ公式｜4:48:13
  ※ 11/1(日) 19:59まで

  東山　奈央：津場木葵
  小西　克幸：大旦那
  土岐　隼一：銀次
  田丸　篤志：白夜
  加隈　亜衣：お涼
  中恵　光城：春日
  石見舞菜香：チビ
  洲崎　綾：アイ
  井上　雄貴：サスケ
  石川　界人：乱丸
  日野　聡：雷獣

  https://youtu.be/7yUNEjjlQDI
</p>

<p class="yt">
  他人がやるリズム天国 #3 加藤小夏｜2026/10/2配信｜SILENT HILL f を本人がやります｜2:48:42

  加藤小夏 らが出演しています

  https://youtu.be/_6yhdU0jeu4
</p>

<p class="yt">
  なるたお差し入れ対決!メンバーが選んだのはどっち!?｜2026/9/30配信｜なるたおちゃんねる｜14:41
  ※ サンコンコンのリハ期間にいつもお世話になってるメンバーに差し入れをしました☺️せっかくなのでなるとたおの2つの差し入れでどっちが人気か！？の対決スタイルでみんなにアンケートをとってみました！

  AKB48(倉野尾成美、下尾みう) らが出演しています

  https://youtu.be/u6iNAIk45D4
</p>

<p class="yt">
  EIKO、初めてのパンケーキ作り｜2026/9/30配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜22:51

  狩野英孝 らが出演しています

  https://youtu.be/6blaxRyXsDI
</p>

<p class="yt">
  トルネコの大冒険を生配信!#4｜2026/10/1配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜2:51:53

  狩野英孝 らが出演しています

  https://youtu.be/9D-i2oVgoDM
</p>

<p class="tver">
  アニメ 桃源暗鬼 特別編集版～練馬編～(2025) の配信がTVerで始まりました。 23分
  終了日未記載

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、田丸篤志、石谷春貴、岸尾だいすけ、伊瀬茉莉也、沢城千春、土岐隼一、浅沼晋太郎、小野友樹、小山剛志、増谷康紀、緒方恵美、郷田ほづみ らが出演しています

  https://tver.jp/episodes/ephz4fdd40
</p>

<p class="tver">
  アニメ アニメダマ(2026) の配信がTVerで始まりました。 47分
  終了日未記載

  ※ 第7回 牧野が“推し作品”への愛を全開！『ホタルの嫁入り』制作現場に突撃！山寺の“秘密”とは…！？

  東野幸治、牧野真莉愛、徳田聡一朗、山寺宏一、千秋、河田陽菜、宮澤智、Lynn、内山昂輝、伊東健人 らが出演しています

  https://tver.jp/episodes/eplvfkliai
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。 47分
  10/9 1:33まで

  ※ 踊りたくない芸人②…M!LK爆裂▽Snow Man＆ILLIT▽マイケルMV再現

  蛍原徹、小宮浩信(三四郎)、塙宣之(ナイツ)、加賀翔(かが屋)、赤木裕(たくろう)、阪本(マユリカ)、秋定遼太郎、滝音、三島達矢(すゑひろがりず)、酒井貴士(ザ・マミィ)、曽野舜太(M!LK)、伊原六花、中嶋優月(櫻坂46)、藤本敏史(FUJIWARA) らが出演しています

  https://tver.jp/episodes/epjmz7xitz
</p>

<p class="tver">
  ドラマ 彼女の妹～誘惑だらけのサンカク関係～(2026) 1話の配信がTVerで始まりました。 14分
  終了日未記載

  亜莉、高野真央、長谷川かすみ、土橋竜太、農塚誓志、村谷はるな、中瀬古隆誠、髙野真央 らが出演しています

  https://tver.jp/episodes/ep1m4h5on5
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。 45分
  10/8 18:59まで

  ※ Gメン子連れ万引き母&交番VS闇バイトスピード強盗団バス乗っ取り

  内村光良、富澤たけし(サンドウィッチマン)、EXIT、生見愛瑠、綾瀬はるか、佐々木美玲、吉住、岡部大(ハナコ)、かが屋、志田こはく、松陰寺太勇(ぺこぱ) らが出演しています

  https://tver.jp/episodes/ep1seu2lrs
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。 50分
  終了日未記載

  ※ 8年ぶり長嶋一茂ゴチ参戦!▽60歳で美活を!▽佐野おすすめ自宅ストレッチ

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、長嶋一茂、羽鳥慎一 らが出演しています

  https://tver.jp/episodes/epec4ibhco
</p>

<p class="tver">
  バラエティ STAR(2026) の配信がTVerで始まりました。 38分
  終了日未記載

  ※ Snow Man登場！最新アルバムから「グッタイム」披露！さらに、フジテレビの歴史を彩ってきた『夜のヒットスタジオ』『FNS歌謡祭』『僕らの音楽』をはじめとする音楽番組からもう一度見たい伝説の名コラボを一挙大放出！

  Part1：https://tver.jp/episodes/epzcvu4kwv
  Part2：https://tver.jp/episodes/epm7ajheez
  Part3：https://tver.jp/episodes/ephc1b1rz6

  上垣皓太朗 らが出演しています
</p>

<p class="tver">
  バラエティ 飯島直子の今夜一杯いっちゃう？(2026) の配信がTVerで始まりました。 46分
  10/8 22:00まで

  ※ 石田ひかり／東京 二子玉川編

  飯島直子、森一丁、石田ひかり らが出演しています

  https://tver.jp/episodes/ep2g2pvugt
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 147回の配信がTVerで始まりました。 23分
  10/9 0:25まで

  ※ 広瀬アリスが大絶叫！芸能人の味覚はいかに！？

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、広瀬アリス、木戸大聖、吉村崇(平成ノブシコブシ)、ガクテンソク らが出演しています

  https://tver.jp/episodes/ep8qakscxc
</p>

<p class="tver">
  バラエティ 見取り図じゃん(2026) の配信がTVerで始まりました。 26分
  終了日未記載

  ※ 【2026小声の秋SP】大声では言えない秘密の女子会「ヒゲ生える？」

  見取り図(盛山晋太郎、リリー)、大沢あかね、加護亜依、田中美久、武元唯衣、二瓶有加、吉田結衣(カーネーション)、紅しょうが(稲田美紀、熊元プロレス) らが出演しています

  https://tver.jp/episodes/epaqhwzr01
</p>

<p class="tver">
  ドラマ 妻を引退します プロローグ(2026) の配信がTVerで始まりました。 49分
  終了日未記載

  朝日奈央、新川優愛、時任勇気、犬飼貴丈、松田好花、本髙克樹(B&ZAI)、高取青依良、山下容莉枝、阪田マサノブ、勝村政信、髙取青依良 らが出演しています

  https://tver.jp/episodes/epx5gvmpxa
</p>

<p class="tver">
  ドラマ ダウト ‐15年目の復讐‐(2026) 1話の配信がTVerで始まりました。 44分
  終了日未記載

  仁村紗和、佐藤大樹、細田善彦、中田青渚、髙松アロハ(超特急)、オラキオ、阿諏訪泰義、小池徹平、駿河太郎、橋本じゅん、山本未來 らが出演しています

  https://tver.jp/episodes/epoows5nia
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 1話の配信がTVerで始まりました。 26分
  終了日未記載

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、工藤莉奈、杉本愛里 らが出演しています

  https://tver.jp/episodes/ep06r7szf3
</p>

<p class="tver">
  ドラマ 4分間のマリーゴールド(2019) 9話の配信がTVerで始まりました。 46分
  10/11 23:59まで

  福士蒼汰、菜々緒、横浜流星、西村元貴、伊藤あさひ、関水渚、鈴木ゆうか、麻生祐未、佐藤隆太、市川知宏、磯山さやか、川口和空、松金よね子、三浦誠己、西尾まり、橋本じゅん、桐谷健太 らが出演しています

  https://tver.jp/episodes/epx2y639pe
</p>

<p class="tver">
  ドラマ メディカルチーム レディ・ダ・ヴィンチの診断(2016) 3話の配信がTVerで始まりました。 46分
  終了日未記載

  吉田羊、相武紗季、吉岡里帆、白鳥久美子(たんぽぽ)、滝沢沙織、庄野崎謙、小林且弥、五十嵐健人、藤澤遥、久保田紗友、唐田えりか、島ゆいか、早乙女ゆう、坂本澪香、富田望生、笛木優子、戸次重幸、高橋克典、伊藤蘭 らが出演しています

  https://tver.jp/episodes/epus7fyern
</p>

<p class="tver">
  ドラマ 着飾る恋には理由があって(2021) 9話の配信がTVerで始まりました。 47分
  10/11 23:59まで

  川口春奈、横浜流星、丸山隆平(SUPER EIGHT)、中村アン、飯尾和樹(ずん)、山下美月、高橋文哉、赤ペン瀧川(瀧川英次)、木本夕貴、近江谷太朗、山本千尋、小田井涼平、横澤夏子、相田雄一郎、奥村佳恵、野依康夫、生瀬勝久、向井理、夏川結衣 らが出演しています

  https://tver.jp/episodes/epmpbfhwff
</p>

<p class="tver">
  ドラマ ディア・シスター(2014) 1話の配信がTVerで始まりました。 58分
  終了日未記載

  石原さとみ、松下奈緒、岩田剛典、平山浩行、森カンナ、田辺誠一、堀内敬子、片平なぎさ、平岡祐太 らが出演しています

  https://tver.jp/episodes/eph7gd7kcj
</p>

<p class="tver">
  ドラマ お金がない！(1994) 11話の配信がTVerで始まりました。 47分
  10/8 23:59まで

  織田裕二、財前直見、東幹久、芳本美代子、松崎しげる、石橋凌、高樹沙耶 らが出演しています

  https://tver.jp/episodes/epf2z906t0
</p>

<p class="tver">
  ドラマ まだ結婚できない男(2019) 3話の配信がTVerで始まりました。 46分
  終了日未記載

  阿部寛、吉田羊、深川麻衣、塚本高史、咲妃みゆ、平祐奈、阿南敦子、奈緒、荒井敦史、小野寺ずる、美音、デビット伊東、不破万作、三浦理恵子、尾美としのり、稲森いずみ、草笛光子、平田雄也 らが出演しています

  https://tver.jp/episodes/epd6xqshbk
</p>

<p class="tver">
  ドラマ きみが心に棲みついた(2018) 9話の配信がTVerで始まりました。 45分
  10/11 23:59まで

  吉岡里帆、桐谷健太、石橋杏奈、中村アン、長谷川朝晴、田中真琴、中島ひろ子、阿南健治、山岸門人、周本絵梨香、西村元貴、星野園美、岡江久美子、ムロツヨシ、鈴木紗理奈、瀬戸朝香、向井理 らが出演しています

  https://tver.jp/episodes/epan1dzm56
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 9話の配信がTVerで始まりました。 49分
  10/11 23:59まで

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、浜田学、河井青葉、六角慎司、諏訪雅、山岸門人、竹井亮介、高野ゆらこ、与田祐希、宝辺花帆美、國村隼、長江英和、村岡希美、瀧川鯉斗、鈴木もぐら(空気階段)、島村龍乃介、ナタリー・エモンズ、永岡卓也、夏川さつき、風吹ジュン、比嘉愛未、小野武彦、吉田鋼太郎、風間杜夫、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/ep2uef3b3p
</p>

<p class="tver">
  ドラマ 天狗の台所(2026・3期) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  駒木根葵汰、塩野瑛久、越山敬達、永尾柚乃、角田晃広(東京03) らが出演しています

  https://tver.jp/episodes/epcuf84hg7
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/9 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/epu747dgdj
</p>

<p class="tver">
  アニメ てつりょー！meet with 鉄道むすめ(2026) の配信がTVerで始まりました。 25分
  終了日未記載

  ※ TVアニメ 『てつりょー！meet with 鉄道むすめ』放送直前SP

  橘めい、福嶋晴菜、庄子真央、伊藤壮吾(SUPER★DRAGON)、吉川正洋(ダーリンハニー)、岡安章介(ななめ45°)、南田裕介 らが出演しています

  https://tver.jp/episodes/epq9ml178a
</p>

<p class="tver">
  アニメ 「天体戦士サンレッド」舞台化記念！セレクション放送(2026) 16話の配信がTVerで始まりました。 14分
  終了日未記載

  高木俊、鍋井まき子、髭男爵(山田ルイ53世、ひぐち君)、イッキ、間宮くるみ、斧アツシ、かがわの水割 らが出演しています

  https://tver.jp/episodes/ep7xs09j5i
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/8 23:59まで

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/eplda82bgx
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2022・4期) 37話の配信がTVerで始まりました。 25分
  終了日未記載
  ※ 37話は、4期の1話です。

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、杉田智和、松岡禎丞、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/epqjw4y1tx
</p>

<p class="yt">
  アニメ「進撃の巨人」 第11話〜第13話｜2026/9/30配信｜Attack on Titan Official｜1:12:26
  ※ 10/7(水) 0:00まで

  梶裕　貴：エレン・イェーガー
  石川　由依：ミカサ・アッカーマン
  井上麻里奈：アルミン・アルレルト
  神谷　浩史：リヴァイ・アッカーマン
  谷山　紀章：ジャン・キルシュタイン
  下野　紘：コニー・スプリンガー
  小林　ゆう：サシャ・ブラウス
  三上　枝織：ヒストリア・レイス（クリスタ）
  嶋村　侑：アニ・レオンハート
  細谷　佳正：ライナー・ブラウン
  朴　　璐美：ハンジ・ゾエ
  子安　武人：ジーク・イェーガー

  https://youtu.be/cnE6SO9GFew
</p>

<p class="yt">
  アニメ「魔法使いの嫁 SEASON2」第1～24話｜2026/10/1配信｜アニメタイムズ公式｜9:40:13
  ※ 11/1(日) 16/59まで

  種﨑　敦美：羽鳥チセ
  竹内　良太：エリアス・エインズワース
  内山　昂輝：ルツ
  遠藤　綾：シルキー
  津田　美波：ルーシー・ウェブスター
  河瀬　茉希：フィロメラ・サージェント
  山下誠一郎：リアン・スクリム＝ジョー
  小林　大紀：ゾーイ・アイビー
  上田　麗奈：ヴェロニカ・リッケンバッカー
  西山宏太朗：アイザック・ファウラー
  日野　聡：ミハイル・レンフレッド
  田村　睦心：アリス・スウェーン

  https://youtu.be/1miwAupgcgc
</p>

<p class="tver">
  バラエティ アニメが地球を喰っている(2026) の配信がTVerで始まりました。 64分
  終了日未記載

  ※ MC中島健人と世界のアニメ好きを深掘り！今回は豪華2部構成！大好きな遊☆戯☆王SP企画に中島健人も大興奮！

  中島健人、梶裕貴、畠中祐、宮下兼史鷹(宮下草薙) らが出演しています

  https://tver.jp/episodes/epztum5e4e
</p>

<p class="tver">
  ドラマ 警視庁捜査資料管理室(2019) 全11話の配信がTVerで始まりました。 26分
  終了日未記載

  瀧川英次(赤ペン瀧川)、小橋めぐみ、秋元才加、甲本雅裕、武野功雄、船越英一郎、柳沢慎吾 らが出演しています

  https://tver.jp/episodes/epexyypy77
</p>

<p class="tver">
  ドラマ 警視庁捜査資料管理室（仮）(2018) 全11話の配信がTVerで始まりました。 26分
  終了日未記載

  瀧川英次(赤ペン瀧川)、小橋めぐみ、甲本雅裕、向井地美音、川野直輝、近藤芳正、きたろう、山田裕貴、川栄李奈 らが出演しています

  https://tver.jp/episodes/epgdmomlio
</p>

<p class="tver">
  ドラマ デザイナー 渋井直人の休日(2019) 全12話の配信がTVerで始まりました。 25分
  終了日未記載

  光石研、岡山天音、池松壮亮、川栄李奈、夏帆、岩松了 らが出演しています

  https://tver.jp/episodes/epex4wgg9u
</p>

<p class="tver">
  ドラマ セーラーゾンビ(2014) 全12話の配信がTVerで始まりました。 24分
  終了日未記載
※ だいたい15期ぐらいまでのAKB48メンバーも出演しています

  大和田南那、川栄李奈、高橋朱里、永岡卓也、小池里奈、相葉香凛、前田聖来、飯田祐真、藤原令子、柚りし菓、高田夏帆、石橋けい、相島一之、ミルクプラネット(渡辺麻友、横山由依、岩田華怜)、秋月三佳、岡村いずみ、ブラザートム らが出演しています

  https://tver.jp/episodes/epc100xeyz
</p>

<p class="tver">
  ドラマ 北欧こじらせ日記(2022) 1～4(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  本田仁美、萩原利久、杉山ひこひこ らが出演しています

  https://tver.jp/episodes/ep6g9qb2sp
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 49話の配信がTVerで始まりました。 24分
  10/8 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ep1pr5s1xo
</p>

<p class="yt">
  はいからさんが通る 7～9話｜2026/9/30配信｜日本アニメーション・シアター｜1:13:25
  ※ 2027/1/6 18:00まで

  横沢　啓子：花村紅緒
  森　功至：伊集院忍
  杉山佳寿子：森蘭丸
  増岡　弘：牛五郎
  峰　あつ子：伊集院夫人
  永井　一郎：花村少佐
  肝付　兼太：酒乱童子
  鈴木れい子：ばあや
  山田　礼子：侍女如月
  宮内　幸平：伯爵
  井上真樹夫：青江冬星
  安原　義人：鬼島森吾
  永井　一郎：ナレーター

  https://youtu.be/jD3dMJhceFo
</p>

<p class="yt">
  BOOM BOOM SATELLITES 「LAY YOUR HANDS ON ME」 FULL Ver.｜2026/9/30配信｜BOOM BOOM SATELLITES Official YouTube Channel｜6:10
  ※ 9/27放送のEIGHT-JAMでも取り上げられた「LAY YOUR HANDS ON ME」のフルバージョンが公開されました。当サイトでは9/28のピックアップに機動戦士ガンダムUCのEDにもなった「BROKEN MIRROR」を置いてあります。1ヶ月が経過した後には[ongoingメニュー]から[Youtubeのongoing]に置く予定です

  https://youtu.be/W2w7uG4N79M
</p>

<p class="tver">
  バラエティ ジンギス談！(2026) の配信がTVerで始まりました。 22分
  10/8 12:00まで

  ※ 「南海キャンディーズ」が登場！山ちゃんが赤裸々告白！

  タカアンドトシ、梶原小春、南海キャンディーズ(山里亮太、しずちゃん) らが出演しています

  https://tver.jp/episodes/epzwybacr6
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 7話の配信がTVerで始まりました。 50分
  10/7 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、日向千歩、ふせえり、鯨井未呼斗、中島まりな、浅丘ルリ子、要潤、黒川智花、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/epna4bx68y
</p>

<p class="tver">
  ドラマ ボク、運命の人です。(2017) 8～10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  亀梨和也、木村文乃、満島真之介、菜々緒、澤部佑(ハライチ)、渡辺江里子(阿佐ヶ谷姉妹)、岡野真也、杉本哲太、大倉孝二、石野真子、田辺誠一、山下智久 らが出演しています

  https://tver.jp/episodes/eprddrr3mq
</p>

<p class="tver">
  ドラマ ブラザー・トラップ(2023) 8話の配信がTVerで始まりました。 21分
  10/7 11:59まで

  久間田琳加、山中柔太朗(M!LK)、工藤遥、若林時英、渡邉美穂、榊原有那、石井礼美、NANA(MAX)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/ep5ga4ra1v
</p>

<p class="tver">
  ドラマ 野ブタ。をプロデュース(2005) 8～10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  亀梨和也、山下智久、堀北真希、戸田恵梨香、中島裕翔、岡田義徳、深浦加奈子、木村祐一、不破万作、たくませいこ、宇梶剛士、忌野清志郎、夏木マリ、大東駿介 らが出演しています

  https://tver.jp/episodes/ep0vkt8xbf
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 29話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epvs75kmzk
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 24(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epso7spa7u
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 7話の配信がTVerで始まりました。 24分
  10/8 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep2pwmgg8q
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/ep5o50h9lq
</p>
