---
title: 2026/8/15 のピックアップ
date: 2026-08-15
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  映画「富江re-birth」(2001) 2週間限定公開｜2026/8/7配信｜角川シネマコレクション｜1:41:56
  ※ 8/21(金) 19:59まで。残りわずか。お早めに

  酒井美紀、妻夫木聡、黄川田将也、忍成修吾、邑野未亜、諏訪太朗、遠藤久美子 他

  https://youtu.be/eVT4lp-9JcM
</p>

<p class="yt">
  アニメ「ジパング」全26話｜2026/8/15配信｜アニメタイムズ公式｜10:28:08
  ※ 2026/9/15(火) 11:59まで

  稲田　徹：角松洋介
  東地　宏樹：草加拓海
  星野　貴紀：菊池雅行
  うえだゆうじ：尾栗康平
  屋良　有作：梅津三郎

  https://youtu.be/YiTBkqxzino
</p>

<p class="tver">
  バラエティ 土曜はナニする！？日帰りぷらっとりっぷ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 森香澄&3時のヒロイン福田麻貴の大自然旅！主演女優の演技対決&㊙美容術

  森香澄、福田麻貴(3時のヒロイン) らが出演しています

  https://tver.jp/episodes/epa2cvjqsx
</p>

<p class="tver">
  バラエティ パンパンリュック(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 後半戦：せいや＆ケムリの福岡・北海道お土産旅

  せいや(霜降り明星)、松井ケムリ(令和ロマン)、矢田亜希子、村重杏奈、藤咲碧羽、ONE LOVE ONE HEART らが出演しています

  https://tver.jp/episodes/epfhh0vhjq
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  8/22 10:29まで

  ※ 夏空と海…神の沖縄撮影旅!上空ヘリから飛行機と珊瑚礁絶景写真

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epd5m4nukw
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。
  8/22 11:24まで

  ※ [3分の番組です]シャワーで生活が変わる！？その秘密をトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/epssl0g4dm
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 7話の配信がTVerで始まりました。
  8/21 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、高橋洋、葉山奨之、真野恵里菜、宇梶剛士、富田靖子、小貫加恵、伊藤真奈美、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epfw7cpnom
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 6話の配信がTVerで始まりました。
  8/21 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、畑芽育、辻本達規、BOYS AND MEN、たにてひと、工藤俊二、丘みつ子、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/ep6wtduolz
</p>

<p class="tver">
  ドラマ たかほー日和。 ～鷹とごはんと明日の私～(2026・2期) 1話の配信がTVerで始まりました。
  終了日未記載

  生田衣梨奈、坂口理子 らが出演しています

  https://tver.jp/episodes/epnxy1j5ma
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 7話の配信がTVerで始まりました。
  8/22 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epbdw53zlr
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 2話の配信がTVerで始まりました。
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/epw97kiyfr
</p>

<p class="tver">
  アニメ あたしンち(2002) 6話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/ep71v5fejh
</p>
