---
title: 2026/9/24 のピックアップ
date: 2026-09-24
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 徹子の部屋(2026) の配信がTVerで始まりました。 24分
  10/1 15:00まで

  ※ 大活躍！故郷 岡山を愛する26歳

  黒柳徹子、鈴鹿央士 らが出演しています

  https://tver.jp/episodes/ep7io9hll3
</p>

<p class="tver">
  ドラマSP 鉄オタ道子、2万キロ〜秩父編〜(2024) の配信がTVerで始まりました。 25分
  終了日未記載

  前編：https://tver.jp/episodes/epcb1rmfd8
  後編：https://tver.jp/episodes/epqmhe19zx

  玉城ティナ、栗原類、六角精児 らが出演しています
</p>

<p class="tver">
  ドラマ 鉄オタ道子、2万キロ(2022) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  玉城ティナ、高橋大翔、園田あいか、黒田大輔、六角精児 らが出演しています

  https://tver.jp/episodes/epajaof87j
</p>

<p class="tver">
  ドラマ 量産型リコ -最後のプラモ女子の人生組み立て記-(2024) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、市川由衣、佐月絵美、矢柴俊博、浅香唯、森下能幸、石田悠佳、田中要次 らが出演しています

  https://tver.jp/episodes/epkfua3lgy
</p>

<p class="tver">
  ドラマ 量産型リコ -もう1人のプラモ女子の人生組み立て記-(2023) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、望月歩、前田旺志郎、市川由衣、矢柴俊博、藤井夏恋、石田悠佳、天川れみ(LINKL PLANET)、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/epmqvyhnon
</p>

<p class="tver">
  ドラマ 量産型リコ -プラモ女子の人生組み立て記-(2022) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、藤井夏恋、望月歩、中島歩、前田旺志郎、石川恵里加、与座よしあき、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/eppql0401w
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 37(最終)話の配信がTVerで始まりました。 24分
  10/1 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epdd6g5qw2
</p>

<p class="yt">
  EIKOがトルネコの大冒険を生配信! #3｜2026/9/24配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜2:23:53

  狩野英孝 らが出演しています

  https://youtu.be/eEyk4tUlm4c
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 9話の配信がTVerで始まりました。 44分
  10/8 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、高月彩良 らが出演しています

  https://tver.jp/episodes/epeb1gygse
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 11話の配信がTVerで始まりました。 30分
  10/1 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、画大 らが出演しています

  https://tver.jp/episodes/ep9g41qfms
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 11話の配信がTVerで始まりました。 30分
  10/8 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博、康喜弼 らが出演しています

  https://tver.jp/episodes/ep6txvjpbo
</p>

<p class="tver">
  ドラマ リセット(2009) 11話の配信がTVerで始まりました。 31分
  10/8 12:00まで

  田中直樹(ココリコ)、岩井堂聖子、森本亮治、宮下ともみ らが出演しています

  https://tver.jp/episodes/ep35p0wzka
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 11話の配信がTVerで始まりました。 43分
  10/8 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、高月彩良、堀田茜、星田英利、須藤理彩 らが出演しています

  https://tver.jp/episodes/ep0ne6t9mr
</p>

<p class="tver">
  ドラマ 野ブタ。をプロデュース(2005) 6～7話の配信がTVerで始まりました。 46分
  10/1 11:59まで

  亀梨和也、山下智久、堀北真希、戸田恵梨香、中島裕翔、岡田義徳、深浦加奈子、木村祐一、不破万作、たくませいこ、宇梶剛士、忌野清志郎、夏木マリ、升毅 らが出演しています

  https://tver.jp/episodes/epvuj52ycl
</p>

<p class="tver">
  ドラマ ボク、運命の人です。(2017) 6～7話の配信がTVerで始まりました。 46分
  10/1 11:59まで

  亀梨和也、木村文乃、満島真之介、菜々緒、澤部佑(ハライチ)、渡辺江里子(阿佐ヶ谷姉妹)、岡野真也、杉本哲太、大倉孝二、石野真子、田辺誠一、山下智久 らが出演しています

  https://tver.jp/episodes/epdrqxo9ha
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 24話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epqwobf8ab
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 47話の配信がTVerで始まりました。 25分
  10/1 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epoi1b2vnlj
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 12(最終)話の配信がTVerで始まりました。 24分
  10/1 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/eph6p7fx9z
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 17話の配信がTVerで始まりました。 25分
  10/1 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/ep3x69ziku
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 5話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/epb7j0mboa
</p>
