---
title: 2026/10/09 のピックアップ
date: 2026-10-09
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。 26分
  10/16 22:30まで

  ※ 自炊72 ピーマンご飯詰め

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep1u5zbrfm
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。 92分
  10/16 19:55まで

  ※ 志麻さん古民家に玉木宏&當真あみ参戦・トトロ風お風呂完成＆ガーリックハンバーグ&パンが進む魔法ソースとは▼黒木華＆野呂佳代肉巡り

  設楽統(バナナマン)、黒田みゆ、浅香航大、井桁弘恵、カズレーザー(メイプル超合金)、塚地武雅(ドランクドラゴン)、出川哲朗、NAOYA(MAZZEL)、観月ありさ、黒木華、玉木宏、當真あみ、野呂佳代、タサン志麻 らが出演しています

  https://tver.jp/episodes/ep135th5q0
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。 44分
  終了日未記載

  ※ なにわ男子も衝撃！北海道横断550km奇跡の絶景SP▽国民栄誉賞！髙木美帆がサプライズ登場＆世界三大夕日！

  前半：https://tver.jp/episodes/ep3hlftwip
  後半：https://tver.jp/episodes/ep87hece4h

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、なにわ男子(大西流星、藤原丈一郎)、鈴木京香、髙木菜那、髙木美帆、錦鯉、ゆうちゃみ らが出演しています
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。 121分
  終了日未記載

  ※ 金庫から過去最高クラスのお宝が出た！！2時間半SP

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、沢村一樹、的場浩司、佐々木美玲、岡野陽一、酒井貴士(ザ・マミィ)、AKB48(行天優莉奈、太田有紀)、長谷川俊輔、クマムシ、樋口日奈、チャンカワイ(Wエンジン)、槇大輔 らが出演しています

  https://tver.jp/episodes/epnpf72xa9
</p>

<p class="tver">
  アニメ 蒼き伝承 ウェルシュ&シェダー(2026) 2話の配信がTVerで始まりました。 24分
  終了日未記載

  安田陸矢、梶裕貴 らが出演しています

  https://tver.jp/episodes/epx70845w4
</p>

<p class="tver">
  アニメ 目覚めたら最強装備と宇宙船持ちだったので、一戸建て目指して傭兵として自由に生きたい(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  古川慎、稲垣好、永瀬アンナ、白石晴香、植田佳奈、大西沙織 らが出演しています

  https://tver.jp/episodes/epamjhou5q
</p>

<p class="tver">
  アニメ 「アイカツ！」アンコール(2026) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  諸星すみれ、田所あずさ、大橋彩香、寿美菜子、能登麻美子、瀬戸麻沙美、松谷彼哉、保村真 らが出演しています

  https://tver.jp/episodes/epi4pzpbb0
</p>

<p class="tver">
  ドラマSP 柳生一族の陰謀(1978) の配信がTVerで始まりました。 127分
  終了日未記載

  萬屋錦之介、千葉真一、松方弘樹、西郷輝彦、三船敏郎、大原麗子、真田広之、原田芳雄、丹波哲郎 らが出演しています

  https://tver.jp/episodes/epmvun699k
</p>

<p class="yt">
  「幸せカナコの殺し屋生活2」のん×藤ヶ谷太輔 のんびりサファリパークツアー｜2026/10/8配信｜DMM TV ドラマ【公式】｜17:05
  ※ のん×藤ヶ谷太輔が「スマイルエージェンシー」の福利厚生で（？）のんびりサファリツアー！と思ったら…まさかのダジャレ対決⁉撮影の裏話もたっぷりお届け！

  のん、藤ヶ谷太輔 らが出演しています

  https://youtu.be/1OESd5pHrhM
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭のクリーミー味噌ラーメン

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/eprk361v09
</p>

<p class="tver">
  ドラマ Around40～注文の多いオンナたち～(2008) 6話の配信がTVerで始まりました。 47分
  10/15 11:59まで

  天海祐希、藤木直人、大塚寧々、AKIRA(EXILE)、松本若菜、木村遼希、大場久美子、橋爪淳、西村和泉、宍戸美和公、我が家、松尾貴史、丸山智己、神保悟志、筒井道隆、松下由樹 らが出演しています

  https://tver.jp/episodes/epzi36dr5w
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 10(最終)話の配信がTVerで始まりました。 52分
  10/16 21:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、宮崎吐夢、豆原一成(JO1)、西垣匠、栄信、坂田聡、赤間麻里子、谷川昭一朗、前原瑞樹、棚橋ナッツ、中村シユン、池下重大、中嶋朋子、酒向芳、さだまさし、麻生祐未、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epp14w1xus
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 34話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epgt7h6099
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 39話の配信がTVerで始まりました。 24分
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep0d5fcbgg
</p>
