---
title: 2026/10/08 のピックアップ
date: 2026-10-08
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 魔法少女育成計画restart(2026) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  井上ほの花、伊瀬茉莉也、市道真央、ジェーニャ、内田真礼、澤田姫、鬼頭明里、鈴代紗弓、富田美憂、悠木碧、三上枝織、長縄まりあ、南條愛乃、近藤玲奈、ファイルーズあい、小清水亜美、潘めぐみ、かないみか、東山奈央 らが出演しています

  https://tver.jp/episodes/ep3z2mbvte
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。 47分
  10/16 1:33まで

  ※ 【ダイエット苦手芸人】小杉ぽっちゃり軍vsバカリズム

  蛍原徹、小杉竜一(ブラックマヨネーズ)、村上(マヂカルラブリー)、バービー(フォーリンラブ)、ビスケットブラザーズ、草薙航基(宮下草薙)、えびちゃん(マリーマリー)、餅田コシヒカリ、バカリズム、谷まりあ らが出演しています

  https://tver.jp/episodes/ep1s2i6zxc
</p>

<p class="tver">
  バラエティ 見取り図じゃん(2026) の配信がTVerで始まりました。 26分
  10/16 1:20まで

  ※ 秘密の女子会（小声）熊プロ発情？大声では言えない秋2026

  見取り図(盛山晋太郎、リリー)、大沢あかね、加護亜依、田中美久、武元唯衣、二瓶有加、吉田結衣(カーネーション)、紅しょうが(稲田美紀、熊元プロレス) らが出演しています

  https://tver.jp/episodes/ep051s52of
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 148回の配信がTVerで始まりました。 23分
  10/16 0:15まで

  ※ 広瀬アリスが大爆発！？企画初の全員正解なるか

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、広瀬アリス、木戸大聖、吉村崇(平成ノブシコブシ)、ガクテンソク らが出演しています

  https://tver.jp/episodes/epbofnt3e1
</p>

<p class="tver">
  ドラマ おかえり、初恋。(2026) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  樋口幸平、林芽亜里、高尾颯斗(ONE N' ONLY)、藤林泰也、遠藤雄斗、絃瀬聡一、ラブ守永、濱津隆之、朝倉あき らが出演しています

  https://tver.jp/episodes/ep9eo0rpnf
</p>

<p class="tver">
  ドラマ 絶望できない男(2026) 4(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  大東駿介、相武紗季、八村倫太郎(WATWING)、岡野陽一、板倉武志、華井二等兵、阪田マサノブ、山野海、小出恵介、前田旺志郎、金属バット(小林圭輔、友保隼平)、辻凪子、前田航基、肥田日向 らが出演しています

  https://tver.jp/episodes/ep0h3w7pam
</p>

<p class="tver">
  ドラマ 彼女の妹～誘惑だらけのサンカク関係～(2026) 2話の配信がTVerで始まりました。 14分
  10/16 1:45まで

  亜莉、高野真央、長谷川かすみ、土橋竜太、農塚誓志、村谷はるな、中瀬古隆誠、髙野真央 らが出演しています

  https://tver.jp/episodes/epzzbt39ul
</p>

<p class="tver">
  ドラマ 付き合ってあげてもいいかな(2026) 5話の配信がTVerで始まりました。 25分
  10/16 1:28まで

  鞘師里保、小西桜子、山下永玖(ONE N' ONLY)、伊島空、葵揚、黒崎レイナ、橋本稜(スクールゾーン)、山谷花純、紺野彩夏 らが出演しています

  https://tver.jp/episodes/eptg1jsr47
</p>

<p class="tver">
  ドラマ 終末の同窓会(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  三輪晴香、松澤和輝、熊木陸斗、山下夏望 らが出演しています

  https://tver.jp/episodes/epebj4wty1
</p>

<p class="tver">
  ドラマ ライフトレード(2026) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  馬場ふみか、真木よう子、鈴木大河(IMP.)、山崎樹範、本多力、青山姫乃、帆純まひろ、東優希、相楽伊織、堀内充治 らが出演しています

  https://tver.jp/episodes/ep9kaw3jtd
</p>

<p class="tver">
  アニメ 貸した魔力は【リボ払い】で強制徴収(2026) 1話の配信がTVerで始まりました。 23分
  終了日未記載

  川島零士、加藤英美里、松田利冴、濱野大輝、関根明良、小林ゆう、浪川大輔 らが出演しています

  https://tver.jp/episodes/epxcda01k2
</p>

<p class="yt">
  トルネコの大冒険を生配信!#4｜2026/10/8配信｜狩野英孝【公式チャンネル】EIKO!GO!!｜1:57:17

  狩野英孝 らが出演しています

  https://youtu.be/1M7ZKaO4Diw
</p>

<p class="yt">
  アニメ ブラック・ジャック 16～19話｜2026/10/8配信｜手塚プロダクション公式チャンネル｜1:37:00
  ※ 10/13 14:00まで

  大塚　明夫：ブラック・ジャック
  水谷　優子：ピノコ
  佐藤ゆうこ：写楽
  小野　涼子：和登
  富田　耕生：マスター
  川瀬　晶子：本間久美子
  石井　真：ラルゴ
  阪　脩：本間丈太郎
  堀　秀行：手塚医師
  内海賢二：友引警部
  大木民夫：山田野
  野沢那智：琵琶丸
  矢尾一樹：タカシ
  田中敦子：ブラッククィーン

  https://youtu.be/C_Qbr_0rZ6s
</p>

<p class="tver">
  ドラマ ダウト ‐15年目の復讐‐(2026) 2話の配信がTVerで始まりました。 44分
  終了日未記載

  仁村紗和、佐藤大樹、細田善彦、中田青渚、髙松アロハ(超特急)、オラキオ、阿諏訪泰義、小池徹平、駿河太郎、橋本じゅん、山本未來 らが出演しています

  https://tver.jp/episodes/ep7vnjkizm
</p>

<p class="tver">
  ドラマ 嘘をついた私たち(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  渡邉美穂、砂田将宏(BALLISTIK BOYZ)、浅川梨奈、池田匡志、佐野岳、阿久津仁愛、馬渕英里何、遊屋慎太郎、大山真絵子、坂本文子 らが出演しています

  https://tver.jp/episodes/epl1j743ie
</p>

<p class="tver">
  ドラマ 赤灯えれじい(2026) 1話の配信がTVerで始まりました。 25分
  10/16 0:29まで

  黒崎煌代、鳴海唯、濱田マリ、鈴木紗理奈、木村祐一、チノ、たむらまろ、鈴川紗由、川崎、生姜猫、佐藤じゃろ丸、キス話、ハレルヤ豊樹 らが出演しています

  https://tver.jp/episodes/ep8bm55ud5
</p>

<p class="tver">
  アニメ 桃源暗鬼 ～日光・華厳の滝編～(2026) 1話の配信がTVerで始まりました。 24分
  10/16 0:29まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岡本信彦、伊東健人、梶原岳人、熊谷健太郎、長岡龍歩、大野智敬、大畑伸太郎、榊原優希、羽多野渉、上田瞳、鈴村健一、梶裕貴、谷山紀章 らが出演しています

  https://tver.jp/episodes/epbf6m6yco
</p>

<p class="tver">
  アニメ 「天体戦士サンレッド」舞台化記念！セレクション放送(2026) 26話の配信がTVerで始まりました。 14分
  終了日未記載

  高木俊、鍋井まき子、髭男爵(山田ルイ53世、ひぐち君)、イッキ、間宮くるみ、斧アツシ、かがわの水割 らが出演しています

  https://tver.jp/episodes/epbo2aqej0
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。 44分
  10/15 19:59まで

  ※ 【ノーベル賞級大発見】病気や老化の決め手・小胞体とは？ノーベル賞候補の常連、名城大学・森和俊教授。先生の大発見は、がんや心疾患など様々な病気の治療に生かせる？寿命の秘密も解き明かす？

  加藤浩次、古旗笑佳、若杉亨 らが出演しています

  https://tver.jp/episodes/eph43iamt4
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。 51分
  終了日未記載

  ※ ビール大好き!!ご当地おつまみ 持ち寄り飲みトーーク[提供：サントリー]

  蛍原徹、小杉竜一(ブラックマヨネーズ)、橋本直(銀シャリ)、河井ゆずる(アインシュタイン)、吉田結衣(カーネーション)、熊元プロレス(紅しょうが) らが出演しています

  https://tver.jp/episodes/epkip4us27
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 6回の配信がTVerで始まりました。 27分
  終了日未記載

  ※ 創業300年京扇子老舗の屋号の由来とは？山岡白竹堂

  磯田道史、佐藤彩加 らが出演しています

  https://tver.jp/episodes/ep84i9w51x
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。 92分
  10/15 18:59まで

  ※ 税関VS滝汗でフラフラ女の薬物密輸&草薙×悪魔の大火災

  内村光良、富澤たけし(サンドウィッチマン)、EXIT、生見愛瑠、大泉洋、ガクテンソク、タイムマシーン3号、山田杏奈、石川恋、奥智哉、木村昴、小林虎之介、高田夏帆、田中美久、ニッチェ、宮下草薙、松本大輝、杢代和人(原因は自分にある。)、ROIROM らが出演しています

  https://tver.jp/episodes/eph0bfnbcm
</p>

<p class="tver">
  バラエティ 街グルメをマジ探索！かまいまち(2026) の配信がTVerで始まりました。 67分
  終了日未記載

  ※ 東京ディズニーリゾートで腹ペコツアーSP

  前編：https://tver.jp/episodes/ephh7jehzz
  後編：https://tver.jp/episodes/epm9is754b

  かまいたち(山内健司、濱家隆一)、上垣皓太朗、生田絵梨花、塩﨑太智(M!LK)、松村沙友理、田辺智加(ぼる塾)、ジャンボたかお(レインボー) らが出演しています
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。 37分
  終了日未記載

  ※ 小栗旬モニタリング初参戦！▽透明カラオケin愛知 さらに元AKBセンターも参戦！▽スラックライン世界一＆体操オリンピック金メダリストがおじいちゃんに変装！

  小栗旬：https://tver.jp/episodes/epuftjh7ig
  透明カラオケin愛知：https://tver.jp/episodes/epi7urkff1
  変装アスリート：https://tver.jp/episodes/eplqxz4hek

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、島崎和歌子、池田美優、大西亜玖璃、大熊和奏、小栗旬、高橋洋樹、松井珠理奈、辻本達規(でらっくす・ボーイズ)、川田裕美、R藤本、田島直弥、井上咲楽、萱和磨、照英、森脇健児、浦川翔平(THE RAMPAGE)、丸山蘭奈、澪川舞香、高柳光希 らが出演しています
</p>

<p class="tver">
  バラエティ ご馳走ファンファーレ(2026) の配信がTVerで始まりました。 3分
  10/15 21:54まで

  ※ 東京競馬場の名物フライドチキンをいただきます

  藤間爽子、濱岸ひより、佐藤綺星(AKB48)、井上咲楽 らが出演しています

  https://tver.jp/episodes/ep95zvn10p
</p>

<p class="tver">
  バラエティ 見取り図の間取り図ミステリー(2026) の配信がTVerで始まりました。 50分
  10/15 21:59まで

  ※ 屋久島デカ家＆大家族！２時間SP 後編

  見取り図(盛山晋太郎、リリー)、横澤夏子、猪狩蒼弥(KEY TO LIT)、角田夏実、広瀬アリス、ヒロミ、森泉、ベッキー、鈴木浩介、川村エミコ(たんぽぽ)、くわばたりえ、松村沙友理、平子祐希(アルコ&ピース)、チャンカワイ(Wエンジン)、松本明子、平野ノラ らが出演しています

  https://tver.jp/episodes/epjlchvd9j
</p>

<p class="tver">
  ドラマ 義理の兄は推し小説家!? 〜小悪魔弟×拗らせチェリー〜(2026) 1話の配信がTVerで始まりました。 10分
  終了日未記載

  安藤勇雅、黒田昊夢 らが出演しています

  https://tver.jp/episodes/epqtgc6ykm
</p>

<p class="tver">
  ドラマ 海月姫(2018) 3話の配信がTVerで始まりました。 46分
  終了日未記載

  芳根京子、瀬戸康史、工藤阿須加、木南晴夏、松井玲奈、内田理央、富山えり子、泉里香、安井順平、要潤、床嶋佳子、北大路欣也 らが出演しています

  https://tver.jp/episodes/epphsjo33w
</p>

<p class="tver">
  ドラマ まだ結婚できない男(2019) 10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  阿部寛、吉田羊、深川麻衣、塚本高史、咲妃みゆ、平祐奈、阿南敦子、奈緒、荒井敦史、小野寺ずる、美音、デビット伊東、不破万作、RED RICE(湘南乃風)、三浦理恵子、尾美としのり、稲森いずみ、草笛光子、伊藤正之 らが出演しています

  https://tver.jp/episodes/ep6xsd31pk
</p>

<p class="tver">
  ドラマ フェイクマミー(2025) 2話の配信がTVerで始まりました。 45分
  10/16 21:59まで

  波瑠、川栄李奈、向井康二(Snow Man)、中村蒼、野呂佳代、池村碧彩、橋本マナミ、中田クルミ、津田篤宏(ダイアン)、アンミカ、若林時英、宮尾俊太郎、朝井大智、筧美和子、浅川梨奈、高嶋龍之介、谷利春瑠、井上肇、白羽ゆり、利重剛、筒井真理子、笠松将、田中みな実 らが出演しています

  https://tver.jp/episodes/epgr0cycda
</p>

<p class="tver">
  ドラマ メディカルチーム レディ・ダ・ヴィンチの診断(2016) 10(最終)話の配信がTVerで始まりました。 45分
  終了日未記載

  吉田羊、相武紗季、吉岡里帆、白鳥久美子(たんぽぽ)、滝沢沙織、庄野崎謙、小林且弥、池岡亮介、五十嵐健人、藤澤遥、伊礼姫奈(根岸姫奈)、児玉頼信、石塚良博、夏秋成美、笛木優子、戸次重幸、高橋克典、伊藤蘭 らが出演しています

  https://tver.jp/episodes/epa5fj9hrg
</p>

<p class="tver">
  ドラマSP きんつくろい-金繕い-(2026) の配信がTVerで始まりました。 81分
  終了日未記載

  吉田鋼太郎 らが出演しています

  https://tver.jp/episodes/epvee4vwvj
</p>

<p class="tver">
  ドラマ 天狗の台所(2026・3期) 2話の配信がTVerで始まりました。 25分
  終了日未記載

  駒木根葵汰、塩野瑛久、越山敬達、永尾柚乃、角田晃広(東京03) らが出演しています

  https://tver.jp/episodes/epho80h5mk
</p>

<p class="tver">
  アニメ #ゾンビさがしてます(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  根本京里、Lynn、宮田俊哉(Kis-My-Ft2)、山村響、貫井柚佳、日笠陽子、小市眞琴、高柳知葉、島田愛野、鳥海浩輔 らが出演しています

  https://tver.jp/episodes/eps2qxuuzs
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2022・4期) 38話の配信がTVerで始まりました。 25分
  終了日未記載

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、杉田智和、松岡禎丞、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/eprjitki7f
</p>

<p class="tver">
  アニメ ケロロ軍曹☆(2026) 1話の配信がTVerで始まりました。 24分
  10/15 23:59まで

  小市眞琴、長江里加、増田俊樹、越後屋コースケ、猪股慧士 らが出演しています

  https://tver.jp/episodes/ep6jxmp6nw
</p>

<p class="tver">
  アニメ 魔法の姉妹ルルットリリィ 総集編「魔法の姉妹ルルットリリィ　近くて遠いふたりの距離」(2026) の配信がTVerで始まりました。 52分
  終了日未記載

  ※ 第1話～第12話までの第1クールを、風＆流、姉妹の物語を中心に再構成した総集編

  橘めい、小鹿なお、七海ひろき、茅野愛衣、和泉風花、廣原ふう、八乙女光(Hey! Say! JUMP)、天崎滉平、橘龍丸、杉田智和、笠間淳、大原めぐみ、遠藤綾 らが出演しています

  https://tver.jp/episodes/epvf7ffpgy
</p>

<p class="yt">
  アニメ「BLACK LAGOON」第14話｜2026/10/8配信｜SundayGXch｜24:01
  ※ 10/22(木) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/8Za_MMRAn5Q
</p>

<p class="yt">
  はいからさんが通る 10~12話｜2026/10/7配信｜日本アニメーション・シアター｜1:13:25

  横沢　啓子：花村紅緒
  森　功至：伊集院忍
  杉山佳寿子：森蘭丸
  増岡　弘：牛五郎
  峰　あつ子：伊集院夫人
  永井　一郎：花村少佐
  肝付　兼太：酒乱童子
  鈴木れい子：ばあや
  山田　礼子：侍女如月
  宮内　幸平：伯爵
  井上真樹夫：青江冬星
  安原　義人：鬼島森吾
  永井　一郎：ナレーター

  https://youtu.be/qQue3WVZX0o
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭と野菜のドリーム丼

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/epn4k99t29
</p>

<p class="tver">
  バラエティ 寛平ちゃんのぶらり旅 熊本がいい～の(2026) の配信がTVerで始まりました。 53分
  終了日未記載

  ※ 熊本地震で被災した地域を寛平ちゃんが全力 応援！宇城市

  間寛平、寺田菜々海、英太郎 らが出演しています

  https://tver.jp/episodes/epq4st0usi
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) の配信がTVerで始まりました。 58分
  10/16 21:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、高橋メアリージュン、阿南健治、泉里香、佐野勇斗(M!LK)、加藤雅也、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epxvgqkbny
</p>

<p class="tver">
  ドラマ 最愛(2021) 10話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、奥野瑛太、岡山天音、峯村リエ、水崎綾女、朝井大智、宮下かな子、螢雪次朗、柊木陽太、金井成大、浅田美代子、薬師丸ひろ子、ジジ・ぶぅ、中野剛、根本江理、ふるごおり雅浩、園田裕樹、長島竜也、光石研、酒向芳、津田健次郎、及川光博、井浦新 らが出演しています

  https://tver.jp/episodes/epnycxa9cv
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 8～9話の配信がTVerで始まりました。 47分
  10/12 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、福田転球、若山耀人、木戸邑弥、木下政治、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epnk5fhnox
</p>

<p class="tver">
  ドラマ もう一度君に､プロポーズ(2012) 10話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  竹野内豊、和久井映見、山本裕典、倉科カナ、市川由衣、渡辺哲、松下洸平、山野海、橋本真実、入江甚儀、久松龍一、三浦力、朝加真由美、袴田吉彦、谷合純矢、佐野代吉、小野寺昭、光石研、杉本哲太、真野響子 らが出演しています

  https://tver.jp/episodes/epkihhtvve
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 10(最終)話の配信がTVerで始まりました。 54分
  10/16 21:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、池田鉄洋、竜星涼、小笠原海(超特急)、飯尾和樹(ずん)、吉田ウーロン太、フラミンゴ、橋本真実、今井隆文、吹越満、国広富之、尾上寛之、北村有起哉、大倉孝二、薬師丸ひろ子、松重豊 らが出演しています

  https://tver.jp/episodes/epjz6ib6h1
</p>

<p class="tver">
  ドラマ アトムの童（こ）(2022) の配信がTVerで始まりました。 54分
  10/16 21:59まで

  山﨑賢人、松下洸平、岸井ゆきの、岡部大(ハナコ)、六角慎司、玄理、飯沼愛、林泰文、西田尚美、谷田歩、上川周作、モクタール、山﨑努、麻生祐未、皆川猿時、塚地武雅(ドランクドラゴン)、でんでん、風間杜夫、オダギリジョー、神田伯山 らが出演しています

  https://tver.jp/episodes/epjkznd2qn
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) の配信がTVerで始まりました。 90分
  10/16 21:59まで

  阿部寛、横浜流星、山崎育三郎、趣里、岡崎体育、ゆうき(土佐兄弟)、岡田浩暉、福澤朗、味方良介、髙橋颯(WATWING)、吉田涼哉、高橋光臣、佃典彦、春風亭昇太、市川実日子、吉川晃司 らが出演しています

  https://tver.jp/episodes/ephx5pnuck
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 8話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、吉田ウーロン太、フラミンゴ、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、伊達さゆり、井上拓哉、上田遥、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、武井壮、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、内山智貴、片山幸人、黒田浩史、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/ep6yu5fnx8
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 33話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep1gmd5hcy
</p>

<p class="tver">
  アニメ 百妖譜 京師篇(2026・3期) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep8qk4l590
</p>

<p class="tver">
  アニメ ブラッククローバー(2026・2期) 1話の配信がTVerで始まりました。 25分
  終了日未記載

  梶原岳人、島崎信長、諏訪部順一、優木かな らが出演しています

  https://tver.jp/episodes/ep28nn48gt
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 7話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/ep4la2e1ad
</p>
