---
title: 2026/10/04 のピックアップ
date: 2026-10-04
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 週刊さんまとマツコ(2026) の配信がTVerで始まりました。 21分
  10/11 12:59まで

  ※ もっと憧れられたい！野心家ママタレの理想と現実 後半戦

  明石家さんま、マツコ・デラックス、吉村崇(平成ノブシコブシ)、西野未姫、バービー(フォーリンラブ)、大島由香里 らが出演しています

  https://tver.jp/episodes/epmih95nui
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。 56分
  10/11 12:44まで

  ※ 超仲良し・福士蒼汰と田園で若中年の主張&出会って衝撃を受けた俳優とは!?

  兼近大樹(EXIT)、満島真之介、福士蒼汰 らが出演しています

  https://tver.jp/episodes/epe94aqtlm
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。 47分
  10/11 13:59まで

  ※ 広瀬すずとあか抜けチェンジ▼福士蒼汰とグルメバトル

  timelesz、広瀬すず、福士蒼汰、志田彩良 らが出演しています

  https://tver.jp/episodes/epkr0wyoim
</p>

<p class="tver">
  バラエティ おまかせ話食 濱太郎(2026) の配信がTVerで始まりました。 45分
  終了日未記載

  ※ かまいたち濱家&間宮祥太朗&SixTONES森本の初冠番組・第一弾

  濱家隆一(かまいたち)、間宮祥太朗、森本慎太郎(SixTONES)、玉木宏、桐谷健太 らが出演しています

  https://tver.jp/episodes/ep1djzjco6
</p>

<p class="tver">
  バラエティ 志田音々・新谷姫加・森山未唯の温泉女子旅(2026) の配信がTVerで始まりました。 14分
  終了日未記載

  ※ 罰ゲームをかけた白熱の卓球対決？！志田音々・新谷姫加・森山未唯の温泉女子旅スタート！

  志田音々、新谷姫加、森山未唯 らが出演しています

  https://tver.jp/episodes/epucejgqej
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 20話の配信がTVerで始まりました。 26分
  10/11 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/epa6thvpzy
</p>

<p class="yt">
  アニメ ブラック・ジャック 4～7話｜2026/10/3配信｜手塚プロダクション公式チャンネル｜1:37:00
  ※ 10/8 14:00まで

  大塚　明夫：ブラック・ジャック
  水谷　優子：ピノコ
  佐藤ゆうこ：写楽
  小野　涼子：和登
  富田　耕生：マスター
  川瀬　晶子：本間久美子
  石井　真：ラルゴ
  阪　脩：本間丈太郎
  堀　秀行：手塚医師
  内海賢二：友引警部
  大木民夫：山田野
  野沢那智：琵琶丸
  矢尾一樹：タカシ
  田中敦子：ブラッククィーン

  https://youtu.be/A298kQMkMT4
</p>

<p class="yt">
  神社って信じていいの？ 三鴨くるみの見習いミステリー講座｜2026/10/2配信｜田中美空のミステリー講座｜20:29
※ [メンバーシップ専用]

三鴨くるみ(見習いミステラー・NMB48)、リアクター・NMB48(田中美空、平山真衣) らが出演しています

  https://youtu.be/bwcHKCln_Iw
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。 24分
  10/11 6:59まで

  ※ 手作り羊皮紙がついに完成!?絵を描くことはできる?

  所ジョージ、石田剛太、並木雲楓、藤田大介 らが出演しています

  https://tver.jp/episodes/epxpl7z244
</p>

<p class="tver">
  バラエティ 伊原六花が心奪われた最高峰ダンスショーinシドニー〜バーン・ザ・フロア開幕直前SP～(2026) の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 世界のトップダンサーが集う舞台裏に完全密着&実際の振付に挑戦！

  伊原六花 らが出演しています

  https://tver.jp/episodes/epk2z3ivdo
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。 25分
  10/11 10:59まで

  ※ 旬の“レンコン”超フワフワお好み焼き＆トロトロ饅頭

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epom6b8vnc
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。 61分
  10/11 10:00まで

  ※ [増刊号] 狩野＆伊達の思い出の街！伝統芸能を体験＆プロレス対決

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、森公美子、千葉雄大 らが出演しています

  https://tver.jp/episodes/epad8slx4p
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。 24分
  10/11 12:00まで

  ※ 稲場愛香、コメどころがドローンのマチに！新十津川のマチづくり

  飯田圭織、牧野真莉愛、稲場愛香、糸賀舜 らが出演しています

  https://tver.jp/episodes/epmtm2pvwu
</p>

<p class="tver">
  バラエティ スクール革命！(2026) 2026回の配信がTVerで始まりました。 47分
  10/11 11:44まで

  ※ 秋のゲームショウ 2026

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、春日俊彰(オードリー)、髙地優吾(SixTONES)、髙橋ひかる、松尾そのま、宮下草薙 らが出演しています

  https://tver.jp/episodes/epgwr77a8f
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 6話の配信がTVerで始まりました。 47分
  10/8 11:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、伊勢志摩、きょん(コットン)、吉田ウーロン太、フラミンゴ、中村シユン、番家天嵩、倉田瑛茉、山本浩貴、新浜レオン、松本怜生、林和義、今里真、井上拓哉、向里祐香、柳谷参助、羽谷勝太、清谷春瑠、今井英二、黒田浩史、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、大倉孝二、階晴紀、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/ep1r1w15qw
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 8話の配信がTVerで始まりました。 50分
  10/10 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、不破万作、石野真子、緋田康人、市川知宏、要潤、黒川智花、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/ep3ibbyynn
</p>

<p class="tver">
  ドラマ 最愛(2021) 9話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  吉高由里子、松下洸平、佐久間由衣、高橋文哉、奥野瑛太、岡山天音、池下重大、廣川三憲、中野剛、ジジ・ぶぅ、薬師丸ひろ子、津田健次郎、及川光博、井浦新、田中みな実 らが出演しています

  https://tver.jp/episodes/epa2q0e2hq
</p>

<p class="tver">
  ドラマ もう一度君に､プロポーズ(2012) 9話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  竹野内豊、和久井映見、山本裕典、倉科カナ、市川由衣、渡辺哲、松下洸平、山野海、橋本真実、入江甚儀、久松龍一、三浦力、朝加真由美、袴田吉彦、モロ師岡、小野寺昭、光石研、杉本哲太、真野響子 らが出演しています

  https://tver.jp/episodes/epeii9uupu
</p>

<p class="tver">
  ドラマ 陸王(2017) 10(最終)話の配信がTVerで始まりました。 68分
  10/13 21:59まで

  役所広司、山﨑賢人、竹内涼真、上白石萌音、風間俊介、音尾琢真、和田正人、佐野岳、馬場徹、内村遥、春やすこ、吉谷彩子、上村依子、堀尾正明、緒形敦、宇野けんたろう(げんき〜ず)、前原滉、花沢将人、佐藤俊彦、石井貴就、安藤勇雅、山本涼介、岸祐二、中西麻耶、望月章男、瀬古利彦、増田明美、小須田康人、須田邦裕、松岡修造、正司照枝、阿川佐和子、小籔千豊、桂雀々、志賀廣太郎、光石研、檀ふみ、キムラ緑子、市川右團次、ピエール瀧、寺尾聰 らが出演しています

  https://tver.jp/episodes/epjzi8a99m
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 6～7話の配信がTVerで始まりました。 47分
  10/8 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、伊藤裕子、福田転球、山中崇、若山耀人、山本未來、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epn0ht0jez
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 9話の配信がTVerで始まりました。 45分
  10/12 11:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、池田鉄洋、竜星涼、小笠原海(超特急)、吉田ウーロン太、フラミンゴ、橋本真実、尾上寛之、大石吾朗、北村有起哉、大倉孝二、薬師丸ひろ子、松重豊 らが出演しています

  https://tver.jp/episodes/epolh3i7f6
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) 8話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  阿部寛、横浜流星、趣里、岡崎体育、ゆうき(土佐兄弟)、髙橋颯(WATWING)、吉田涼哉、田辺誠一、島崎遥香、岡田浩暉、不破万作、高橋光臣、佃典彦、市川実日子、吉川晃司、西尾浩行 らが出演しています

  https://tver.jp/episodes/epoq8b24ns
</p>

<p class="tver">
  ドラマ アトムの童（こ）(2022) 8話の配信がTVerで始まりました。 46分
  10/12 11:59まで

  山﨑賢人、松下洸平、岸井ゆきの、岡部大(ハナコ)、柳俊太郎、六角慎司、玄理、飯沼愛、西田尚美、谷田歩、上川周作、沖原一生、モクタール、山﨑努、麻生祐未、皆川猿時、塚地武雅(ドランクドラゴン)、でんでん、風間杜夫、オダギリジョー、神田伯山 らが出演しています

  https://tver.jp/episodes/epqzyowzfo
</p>

<p class="tver">
  ドラマ ９ボーダー(2024) 8～9話の配信がTVerで始まりました。 45分
  10/10 11:59まで

  川口春奈、木南晴夏、畑芽育、木戸大聖、井之脇海、内田慈、伊藤俊介(オズワルド)、齋藤潤、大政絢、桜井聖、奥村佳恵、原ふき子、谷川昭一朗、中山翔貴、高橋克実、YOU、松下洸平 らが出演しています

  https://tver.jp/episodes/epdcg14mo0
</p>

<p class="tver">
  ドラマ 専業主婦探偵～私はシャドウ(2011) 3話の配信がTVerで始まりました。 47分
  10/10 23:59まで

  深田恭子、藤木直人、桐谷健太、古田新太、芦名星、日野陽仁、長谷川朝晴、丸山智己、植木夏十、渡辺邦斗、吉田桂子、小山圭太、佐々木卓馬、有森也実、遠藤憲一、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epxtmuh6rz
</p>

<p class="tver">
  ドラマ Around40～注文の多いオンナたち～(2008) 5話の配信がTVerで始まりました。 47分
  10/10 11:59まで

  天海祐希、藤木直人、大塚寧々、AKIRA(EXILE)、さくら、松本若菜、大場久美子、吉瀬美智子、加賀まりこ、林隆三、綾田俊樹、加藤雅也、丸山智己、神保悟志、筒井道隆、松下由樹 らが出演しています

  https://tver.jp/episodes/epy8khtuix
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) 9話の配信がTVerで始まりました。 45分
  10/12 11:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、平山あや、高橋かおり、泉里香、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epzt5ao33h
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 10話の配信がTVerで始まりました。 24分
  10/11 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epj80aczwv
</p>

<p class="tver">
  アニメ 重戦機エルガイム(1984) 1～2話の配信がTVerで始まりました。 25分
  終了日未記載

  平松広和、本多知恵子、大塚芳忠、川村万梨阿、速水奨、木下由美、豊田真治、堀部隆一、島津冴子、竹内久美、西村知道、土井美加、玄田哲章、島田敏 らが出演しています

  https://tver.jp/episodes/ep57qjbf7w
</p>

<p class="tver">
  アニメ 自称悪役令嬢な婚約者の観察記録。(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  小林裕介、富田美憂、宮本侑芽、山下誠一郎、村瀬歩、大橋彩香、堀江瞬、佐伯伊織、白井悠介、内田彩、高橋英則、市道真央、田丸篤志、鬼頭明里 らが出演しています

  https://tver.jp/episodes/epwlrgt70x
</p>

<p class="tver">
  アニメ アン・シャーリー(2026) 1話の配信がTVerで始まりました。 25分
  10/11 5:10まで

  中村綾、松本保典、宮本侑芽、太田光(爆笑問題) らが出演しています

  https://tver.jp/episodes/epnzqth3zk
</p>
