---
title: 2026/9/26 のピックアップ
date: 2026-09-26
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  映画「ヒトラー暗殺、13分の誤算」(2015)｜2026/9/25配信｜ギャガ公式チャンネル｜1:54:09
  ※ 期間限定ですが、期限が書いていないのでお早めに。

  内田　夕夜｜ゲオルク・エルザー：クリスティアン・フリーデル
  園崎　未恵｜エルザ：カタリーナ・シュットラー
  玉野井直樹｜アルトゥール・ネーベ：ブルクハルト・クラウスナー
  　滝　知史｜ハインリヒ・ミュラー：ヨハン・フォン・ビュロー

  吹替版：https://youtu.be/WIWBay4_bmY
  字幕版：https://youtu.be/ET6fCQqzoXY
</p>

<p class="tver">
  バラエティ 土曜はナニする！？日帰りぷらっとりっぷ(2026) の配信がTVerで始まりました。 27分
  10/3 8:30まで

  ※ 橋本環奈&宮瀬琉弥　秋グルメ大満喫旅！イケメン小学生になっちゃった

  優香、近藤春菜(ハリセンボン)、塚地武雅(ドランクドラゴン)、宮世琉弥、橋本環奈、平祐奈、島谷ひとみ、国仲涼子 らが出演しています

  https://tver.jp/episodes/epfzba45o6
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。 43分
  10/3 10:29まで

  ※ 同業店主が絶賛する焼肉の神&映画・国宝も担当!特殊メイクの神

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epivo8amrf
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 12(最終)話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博、升毅 らが出演しています

  https://tver.jp/episodes/eppuad9e3r
</p>

<p class="tver">
  ドラマ リセット(2009) 12話の配信がTVerで始まりました。 30分
  10/10 12:00まで

  田中直樹(ココリコ)、竹財輝之助、永田彬 らが出演しています

  https://tver.jp/episodes/epp8u36g9o
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 12(最終)話の配信がTVerで始まりました。 43分
  10/10 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、横山めぐみ、黒川智花、藤原一裕(ライセンス) らが出演しています

  https://tver.jp/episodes/epi1q0yctg
</p>

<p class="tver">
  ドラマ ギャルサー(2006) 6～8話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  藤木直人、戸田恵梨香、鈴木えみ、矢口真里、新垣結衣、岩佐真悠子、佐津川愛美、奈津子、佐藤隆太、古田新太、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epi3ljsbm4
</p>

<p class="tver">
  ドラマ もう一度君に､プロポーズ(2012) 7話の配信がTVerで始まりました。 47分
  10/4 11:59まで

  竹野内豊、和久井映見、山本裕典、倉科カナ、市川由衣、渡辺哲、松下洸平、山野海、橋本真実、入江甚儀、久松龍一、三浦力、朝加真由美、袴田吉彦、中込佐知子、石井テルユキ、丸高愛実、小野寺昭、光石研、杉本哲太、真野響子 らが出演しています

  https://tver.jp/episodes/epmej29hzw
</p>

<p class="tver">
  ドラマ ヒガンバナ～警視庁捜査七課～(2016) 6～8話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  堀北真希、檀れい、知英、高梨臨、YOU、DAIGO、高橋惠子、市川知宏、木本武宏、平山浩行、佐野史郎、大地真央、浅野和之、酒井美紀 らが出演しています

  https://tver.jp/episodes/epzgcntgyl
</p>

<p class="tver">
  ドラマ ムチャブリ！わたしが社長になるなんて(2022) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  高畑充希、志尊淳、夏帆、笠松将、山田真歩、忍成修吾、片山友希、優香、坪倉由幸(我が家)、神保悟志、荒川良々、松田翔太、草刈民代 らが出演しています

  https://tver.jp/episodes/ep4io42358
</p>

<p class="tver">
  ドラマ アトムの童（こ）(2022) 6話の配信がTVerで始まりました。 46分
  10/4 11:59まで

  山﨑賢人、松下洸平、岸井ゆきの、岡部大(ハナコ)、馬場徹、玄理、飯沼愛、加藤ローサ、西田尚美、原田佳奈、岩川晴、皆川猿時、塚地武雅(ドランクドラゴン)、でんでん、風間杜夫、オダギリジョー、神田伯山 らが出演しています

  https://tver.jp/episodes/epx7iflabe
</p>

<p class="tver">
  ドラマ 100万回 言えばよかった(2023) 4～5話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  井上真央、佐藤健、シム・ウンギョン、板倉俊之(インパルス)、少路勇介、相島一之、穂志もえか、永島敬三、新井美羽、坂元愛登、近藤千尋、香里奈、平岩紙、荒川良々、松山ケンイチ らが出演しています

  https://tver.jp/episodes/epw16n9vlw
</p>

<p class="tver">
  ドラマ 東京タラレバ娘(2017) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平、速水もこみち らが出演しています

  https://tver.jp/episodes/epvfjy36r3
</p>

<p class="tver">
  ドラマ ニッポンノワール－刑事Yの反乱－(2019) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  賀来賢人、広末涼子、井浦新、夏帆、工藤阿須加、北村一輝 らが出演しています

  https://tver.jp/episodes/epsrnwoxx2
</p>

<p class="tver">
  ドラマ 恋はDeepに(2021) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  石原さとみ、綾野剛、今田美桜、渡邊圭祐、藤森慎吾(オリエンタルラジオ)、高橋努、筧美和子、水澤紳吾、福山翔大、松熊つる松、橋本じゅん、大谷亮平、鹿賀丈史 らが出演しています

  https://tver.jp/episodes/epsddtu8y5
</p>

<p class="tver">
  ドラマ ファーストペンギン！(2022) 6～7話の配信がTVerで始まりました。 51分
  10/3 11:59まで

  奈緒、堤真一、鈴木伸之、渡辺大知、ファーストサマーウイカ、遠山俊也、志田未来、梶原善、吹越満、梅沢富美男、足立梨花、高杉亘 らが出演しています

  https://tver.jp/episodes/epr5tuif53
</p>

<p class="tver">
  ドラマ 花咲舞が黙ってない(2024) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  今田美桜、山本耕史、飯尾和樹(ずん)、要潤、菊地凛子、上川隆也、宮崎美子、堀田茜、田村健太郎、猪塚健太、ドロンズ石本、平原テツ、森下じんせい らが出演しています

  https://tver.jp/episodes/eppo1czs7x
</p>

<p class="tver">
  ドラマ すいか(2003) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  小林聡美、ともさかりえ、市川実日子、浅丘ルリ子、小泉今日子、高橋克実、金子貴俊、もたいまさこ、白石加代子、柏原収史 らが出演しています

  https://tver.jp/episodes/epnrmej6xn
</p>

<p class="tver">
  ドラマ ドン★キホーテ(2011) 6～8話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  松田翔太、高橋克実、成海璃子、松重豊、三宅弘城、市川実和子、紺野まひる、渡辺憲吉、田村愛、山根和馬、河北麻友子、青木健、上田眞央、内田有紀、小林聡美、西尾まり、小木茂光 らが出演しています

  https://tver.jp/episodes/epmszm9ktn
</p>

<p class="tver">
  ドラマ コントが始まる(2021) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  菅田将暉、有村架純、仲野太賀、古川琴音、神木隆之介、芳根京子 らが出演しています

  https://tver.jp/episodes/epmc12n1nj
</p>

<p class="tver">
  ドラマ 未満警察 ミッドナイトランナー(2020) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  中島健人、平野紫耀(Number_i)、吉瀬美智子、大幡しえり、葉山奨之、竹内愛紗、傳谷英里香、阿岐之将一、小平大智、中村ゆり、原田泰造(ネプチューン)、伊勢谷友介、柿澤勇人、長谷川京子 らが出演しています

  https://tver.jp/episodes/eplbf13san
</p>

<p class="tver">
  ドラマ 偽装不倫(2019) 6～7話の配信がTVerで始まりました。 51分
  10/3 11:59まで

  杏、宮沢氷魚、瀬戸利樹、MEGUMI、田中道子、夏子、伊沢弘、朝加真由美、谷原章介、仲間由紀恵、眞島秀和 らが出演しています

  https://tver.jp/episodes/epl3v5001e
</p>

<p class="tver">
  ドラマ 偽装の夫婦(2015) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  天海祐希、沢村一樹、内田有紀、工藤阿須加、坂井真紀、佐藤二朗、キムラ緑子、富司純子、井上琳水、神尾佑 らが出演しています

  https://tver.jp/episodes/ephlgs0p82
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 7話の配信がTVerで始まりました。 46分
  10/4 11:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、小笠原海(超特急)、飯尾和樹(ずん)、望月歩、神尾楓珠、ふせえり、螢雪次朗、谷田歩、桜井聖、北村有起哉、松重豊 らが出演しています

  https://tver.jp/episodes/epeekmed3g
</p>

<p class="tver">
  ドラマ あなたの番です-反撃編-(2019) 14～16話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  田中圭、原田知世、西野七瀬、横浜流星、木村多江、生瀬勝久、袴田吉彦、田中要次 らが出演しています

  https://tver.jp/episodes/epdxcw1rp3
</p>

<p class="tver">
  ドラマ ３年Ａ組―今から皆さんは、人質です―(2019) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  菅田将暉、永野芽郁、片寄涼太、川栄李奈、上白石萌歌、萩原利久、今田美桜、福原遥、神尾楓珠、鈴木仁、望月歩、堀田真由、富田望生、佐久本宝、古川毅(SUPER★DRAGON)、土村芳、矢島健一、大友康平、田辺誠一、椎名桔平 らが出演しています

  https://tver.jp/episodes/epeyu0efxr
</p>

<p class="tver">
  ドラマ ダンダリン 労働基準監督官(2013) 6～8話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  竹内結子、松坂桃李、風間俊介、水橋研二、トリンドル玲奈、大島蓉子、賀来千香子、西田尚美、石野真子、大倉孝二、佐野史郎、北村一輝 らが出演しています

  https://tver.jp/episodes/epcm1h2pcn
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) 6話の配信がTVerで始まりました。 47分
  10/4 11:59まで

  阿部寛、横浜流星、趣里、岡崎体育、ゆうき(土佐兄弟)、明日海りお、加藤雅也、原田佳奈、髙橋颯(WATWING)、高橋光臣、佃典彦、市川実日子、吉川晃司 らが出演しています

  https://tver.jp/episodes/epc8cbp88h
</p>

<p class="tver">
  ドラマ 初恋の悪魔(2022) 6～7話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  林遣都、仲野太賀、松岡茉優、柄本佑、佐久間由衣、味方良介、毎熊克哉、篠井英介、伊藤英明、安田顕、田中裕子、満島ひかり らが出演しています

  https://tver.jp/episodes/epbt2osrbp
</p>

<p class="tver">
  ドラマ ACMA:GAME アクマゲーム(2024) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  間宮祥太朗、田中樹(SixTONES)、古川琴音、竜星涼、嵐莉菜、増田昇太(s**t kingz)、福山翔大、坂口涼太郎、橋本じゅん、諏訪部順一、坂本真綾、中村悠一、花澤香菜、小澤征悦、吉川晃司 らが出演しています

  https://tver.jp/episodes/epb7eujfvx
</p>

<p class="tver">
  ドラマ スーパーサラリーマン左江内氏(2017) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  堤真一、小泉今日子、ムロツヨシ、島崎遥香、賀来賢人、早見あかり、佐藤二朗、笹野高史、高橋克実、中村倫也 らが出演しています

  https://tver.jp/episodes/ep9ftwnt9u
</p>

<p class="tver">
  ドラマ トップナイフ－天才脳外科医の条件－(2020) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  天海祐希、椎名桔平、広瀬アリス、永山絢斗、古川雄大、三浦友和、山本浩司、笠松将、吉田美佳子 らが出演しています

  https://tver.jp/episodes/ep94vg5npz
</p>

<p class="tver">
  ドラマ 恋です！〜ヤンキー君と白杖ガール〜(2021) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  杉咲花、杉野遥亮、奈緒、鈴木伸之、田辺桃子、細田佳央太、生見愛瑠、堀夏喜、濱田祐太郎、ファーストサマーウイカ、戸塚純貴、古川雄大、岸谷五朗 らが出演しています

  https://tver.jp/episodes/ep6y3u30vv
</p>

<p class="tver">
  ドラマ となりのナースエイド(2024) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  川栄李奈、高杉真宙、矢本悠馬、吉住、上杉柊平、織田梨沙、古田新太、瀧本美織、成海璃子、小手伸也、水野美紀、兵頭功海、あかせあかり、梶原善、やべきょうすけ、中島亜梨沙 らが出演しています

  https://tver.jp/episodes/ep7xkxo1k2
</p>

<p class="tver">
  ドラマ 御上先生(2025) 4～5話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  松坂桃李、吉岡里帆、奥平大兼、蒔田彩珠、窪塚愛流、吉柳咲良、豊田裕大、上坂樹里、高石あかり、八村倫太郎(WATWING)、山下幸輝(WILD BLUE)、夏生大湖、影山優佳、永瀬莉子、森愁斗(BUDDiiS)、安斉星来、矢吹奈子、今井柊斗、真弓孟之(AmBitious)、西本まりん、花岡すみれ、野内まる、山田健人、渡辺色、青山凌大、藤本一輝、唐木俊輔、大塚萌香、鈴川紗由、芹澤雛梨、大谷碧空、岡田将生、松角洋平、篠原悠伸、上川拓郎、井上肇、栗田貫一、関智一、大水洋介(ラバーガール)、橋本恵一郎、越村友一、堀田真由、臼田あさ美、林泰文、迫田孝也、及川光博、常盤貴子、北村一輝 らが出演しています

  https://tver.jp/episodes/epjppj4egu
</p>

<p class="tver">
  ドラマ 御上先生(2025) 1～3話の配信がTVerで始まりました。 69分
  11/21 23:59まで

  松坂桃李、吉岡里帆、迫田孝也、臼田あさ美、櫻井海音、新原泰佑、小川冬晴、守殿愛生、秋山菜津子、今井朋彦、松角洋平、篠原悠伸、上川拓郎、岡田将生、沢村玲(ONE N' ONLY)、小島よしお、浪川大輔、山口香緒里、奥平大兼、蒔田彩珠、窪塚愛流、吉柳咲良、豊田裕大、上坂樹里、高石あかり、八村倫太郎(WATWING)、山下幸輝(WILD BLUE)、夏生大湖、影山優佳、永瀬莉子、森愁斗(BUDDiiS)、安斉星来、矢吹奈子、今井柊斗、真弓孟之(AmBitious)、西本まりん、花岡すみれ、野内まる、山田健人、渡辺色、青山凌大、藤本一輝、唐木俊輔、大塚萌香、鈴川紗由、芹澤雛梨、大谷碧空、及川光博、常盤貴子、北村一輝 らが出演しています

  https://tver.jp/episodes/ep6iywch5e
</p>

<p class="tver">
  ドラマ ホタルノヒカリ(2007) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  綾瀬はるか、国仲涼子、加藤和樹、武田真治、板谷由夏、安田顕、浅見れいな、渡部豪太、渋江譲二、松本まりか、松下さら、丸山智己、松永博史、藤木直人 らが出演しています

  https://tver.jp/episodes/ep670516za
</p>

<p class="tver">
  ドラマ 過保護のカホコ(2017) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、西尾まり、中島ひろ子、濱田マリ、久保田紗友 らが出演しています

  https://tver.jp/episodes/ep53poht7o
</p>

<p class="tver">
  ドラマ 最愛(2021) 7話の配信がTVerで始まりました。 46分
  10/4 11:59まで

  吉高由里子、松下洸平、田中みな実、佐久間由衣、高橋文哉、峯村リエ、朝井大智、水崎綾女、バッファロー吾郎A(バッファロー吾郎)、池下重大、宮下かな子、ジジ・ぶぅ、永沼伊久也、岩田知幸、津田健次郎、及川光博、井浦新、酒向芳 らが出演しています

  https://tver.jp/episodes/ep46qkeo5m
</p>

<p class="tver">
  ドラマ 悪女（わる）～働くのがカッコ悪いなんて誰が言った？～(2022) 6～7話の配信がTVerで始まりました。 52分
  10/3 11:59まで

  今田美桜、江口のりこ、鈴木伸之、高橋文哉、石井杏奈、松田凌、升毅、向井理 らが出演しています

  https://tver.jp/episodes/ep2lhcho31
</p>

<p class="tver">
  ドラマ ホタルノヒカリ2(2010) 6～8話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  綾瀬はるか、向井理、板谷由夏、臼田あさ美、安田顕、石井萌々果、高橋努、中別府葵、市川知宏、君沢ユウキ、井出卓也、佐藤千亜妃、柳澤貴彦、真下玲奈、木村多江、藤木直人 らが出演しています

  https://tver.jp/episodes/ep2jnqk6l5
</p>

<p class="tver">
  ドラマ キャスター(2025) 4話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、木村達成、キム・ムジュン、佐々木舞香(=LOVE)、ヒコロヒー、堀越麗禾、山中崇、黒沢あすか、相築あきこ、オクイシュージ、高橋努、馬場徹、馬渕英里何、竹下優名、宮澤エマ、加治将樹、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/epgrxdoqzv
</p>

<p class="tver">
  ドラマ キャスター(2025) 1～3話の配信がTVerで始まりました。 69分
  11/21 23:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、木村達成、キム・ムジュン、佐々木舞香(＝LOVE)、ヒコロヒー、堀越麗禾、黒沢あすか、内村遥、緋田康人、原田夏希、黒田大輔、TAKAHIRO、宮舘涼太(Snow Man)、相原未来、高崎俊吾、鈴木貴之、馬場律樹、山口馬木也、谷田歩、宮澤エマ、北大路欣也、加藤晴彦、加治将樹、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/ep0o5wo6hl
</p>

<p class="tver">
  ドラマ Dr.チョコレート(2023) 6～7話の配信がTVerで始まりました。 46分
  10/3 11:59まで

  坂口健太郎、白山乃愛、西野七瀬、葵わかな、鈴木紗理奈、前田旺志郎、古川雄大、福山翔大、平子祐希(アルコ&ピース)、石川恋、青木瞭、佐野弘樹、井上想良、田中道子、阿部進之介、青島心、小澤征悦、斉藤由貴 らが出演しています

  https://tver.jp/episodes/ep0nk1dpru
</p>

<p class="tver">
  ドラマ 14才の母～愛するために 生まれてきた～(2006) 6～8話の配信がTVerで始まりました。 47分
  10/3 11:59まで

  志田未来、田中美佐子、生瀬勝久、山口紗弥加、河本準一(次長課長)、三浦春馬、谷村美月、北乃きい、高畑淳子、海東健、金子さやか、井坂俊哉、北村一輝、室井滋、小清水一揮 らが出演しています

  https://tver.jp/episodes/ep0fpqo6oo
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) 7話の配信がTVerで始まりました。 45分
  10/4 11:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、泉里香、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/ep00a1qixn
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 19話の配信がTVerで始まりました。 25分
  10/3 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epw0v62l2c
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 2話の配信がTVerで始まりました。 24分
  10/3 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ephwzhb13z
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 8話の配信がTVerで始まりました。 24分
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/epyd730gj1
</p>

<p class="tver">
  アニメ あたしンち(2002) 12話の配信がTVerで始まりました。 24分
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epm0tel2j5
</p>
