---
title: 2026/8/9 のピックアップ
date: 2026-08-09
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。
  8/16 17:59まで

  ※ 海を越えた知の拠点

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/epk4ezd9x9
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。
  8/16 11:44まで

  ※ 今のバズりSP▼ILLITのWONHEE&IROHAが登場!

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、山崎弘也(アンタッチャブル)、オードリー、高地優吾(SixTONES)、生見愛瑠、きしたかの、WONHEE、IROHA、ILLIT らが出演しています

  https://tver.jp/episodes/epl0n8agxp
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。
  8/16 12:44まで

  ※ 人気グループ・Da-iCEの花村想太と絆を深めて仲良くなるグルメ旅!

  兼近大樹(EXIT)、満島真之介、花村想太(Da-iCE) らが出演しています

  https://tver.jp/episodes/epmc6oj155
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。
  8/16 13:59まで

  ※ 話題の「あか抜けの神様」と大学生を劇的イメチェン!

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、大久保佳代子(オアシズ)、ゆうちゃみ らが出演しています

  https://tver.jp/episodes/epqt9zdknm
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 12話の配信がTVerで始まりました。
  8/16 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/ep1vh78fqx
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 5話の配信がTVerで始まりました。
  8/16 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/ep8nzednev
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 15話の配信がTVerで始まりました。
  8/16 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epekuc7zig
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 5話の配信がTVerで始まりました。
  8/16 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep6386oc4f
</p>

<p class="yt">
  映画『八月の狂詩曲』(1991)｜2026/8/7配信｜松竹シネマPLUSシアター｜1:37:36
  ※ 8/19 23:59まで

村瀬幸子、吉岡秀隆、大寶智子、鈴木美恵、伊崎充則、井川比佐志、根岸季衣、河原崎長一郎、茅島成美、リチャード･ギア らが出演しています

  https://youtu.be/6HEJ6NBEc64
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) の配信がTVerで始まりました。
  8/16 6:59まで

  ※ 所さん×奥田民生さん手作りベーコン&名曲さすらい熱唱!

  所ジョージ、奥田民生、トータス松本(ウルフルズ) らが出演しています

  https://tver.jp/episodes/ep85x7kkp7
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  8/16 10:59まで

  ※ 韓国屋台コーン“マヤッオッスス”＆コーンな茶碗蒸し

  優香、稲垣飛鳥、たくや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epgmc91ow8
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  8/16 10:00まで

  ※ 真夏のお台場で納涼さんぽ！伊達が急遽生放送に乱入！？

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、尾形貴弘(パンサー) らが出演しています

  https://tver.jp/episodes/ep7u3pxzvl
</p>

<p class="tver">
  バラエティ ぺこもぐキッチン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【冷たいメン料理で酷暑を乗り切るぞ】アイドル出身2人が本気調理

  栗原心平、運上弘菜、高本彩花、高橋大悟 らが出演しています

  https://tver.jp/episodes/epkgi5f9vw
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 15回の配信がTVerで始まりました。
  8/16 12:00まで

  ※ 「アルピー広島に住ませて一発当てたい！」STUのガチ行きつけ案内後編

  アルコ&ピース(平子祐希、酒井健太) らが出演しています

  https://tver.jp/episodes/epfrbe9wvu
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 5話の配信がTVerで始まりました。
  8/15 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、佐々木一平、清水優、真野恵里菜、古舘寛治、モロ師岡、高橋ひとみ、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epvj30dt2g
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 6話の配信がTVerで始まりました。
  8/16 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、滝沢沙織、篠田拓馬、綾部守人、あめくみちこ、銀粉蝶、山村美智、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epqpzp0p6i
</p>

<p class="tver">
  ドラマ いつか好きだと言って(1993) 10～12(最終)話の配信がTVerで始まりました。
  8/16 11:59まで

  本木雅弘、鈴木京香、つみきみほ、鶴見辰吾、勝俣州和、大塚寧々、六平直政、田口浩正、高知東生、一雫ライオン、加藤貴子、大塚露那、松永博史、竹中直人、西村晃 らが出演しています

  https://tver.jp/episodes/ep4iluxtuk
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 4話の配信がTVerで始まりました。
  8/15 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、丘みつ子、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epcmq6arhg
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、トリンドル玲奈、峰竜太、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epyogdzbcq
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 6話の配信がTVerで始まりました。
  8/16 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、浅利陽介、安藤玉恵、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/epkmlt1ghj
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 11話の配信がTVerで始まりました。
  8/15 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、天野慶久、伊藤かずえ、東根作寿英、武田鉄矢、和久井映見、木場勝己、小林薫 らが出演しています

  https://tver.jp/episodes/epgw9g7oo3
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 7話の配信がTVerで始まりました。
  8/16 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、筒井道隆、本田博太郎、モロ師岡、生田絵梨花、津嘉山正種、橋爪淳、酒向芳、小手伸也、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/ep68opbt8q
</p>

<p class="tver">
  ドラマ リバース(2017) 6話の配信がTVerで始まりました。
  8/16 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、志賀廣太郎、趣里、山口まゆ、藤本泉、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep06p2nmec
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、黒川智花、成田偉心、春海四方、藤原邦章、飯豊まりえ、根岸季衣、内田愛、小原唯和、明星真由美、喜多乃愛、黒田浩史、バーンズ勇気、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/ep853ath03
</p>

<p class="tver">
  ドラマ こんなところで裏切り飯～嵐を呼ぶ七人の役員～(2025) 6話の配信がTVerで始まりました。
  8/16 1:58まで

  志田彩良、伊武雅刀、前田拳太郎、守屋茜、吉田有希、大熊杏優、川島潤哉、マイケル富岡 らが出演しています

  https://tver.jp/episodes/epgjmvata2
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Sword of URUK～(2026) 6話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、郷田ほづみ、茅原実里、安元洋貴、花澤香菜、矢島晶子、ゆかな、土師孝也、根谷美智子、冨澤風斗、森川智之、てらそままさき、水野理紗、田中敦子 らが出演しています

  https://tver.jp/episodes/eprkbi9dcf
</p>

<p class="tver">
  アニメ わんだふるぷりきゅあ！ざ・むーびー！ドキドキ♡ゲームの世界で大冒険！(2024) の配信がTVerで始まりました。
  終了日未記載

  長縄まりあ、種崎敦美、松田颯水、上田麗奈、関根明良、加隈亜衣、村瀬歩、七瀬彩夏、古賀葵、高橋李依、堀江由衣、早見沙織、齋藤彩夏、寺島拓篤、中村悠一、植田佳奈、立花慎之介、花澤香菜、三宅健太、ジャルジャル(後藤淳平、福徳秀介) らが出演しています

  https://tver.jp/episodes/epkrhep707
</p>

<p class="tver">
  アニメ 映画 プリキュアオールスターズF(2026) の配信がTVerで始まりました。
  終了日未記載

  関根明良、加隈亜衣、村瀬歩、七瀬彩夏、古賀葵、菱川花菜、茅野愛衣、高森奈津美、ファイルーズあい、日高里菜、悠木碧、三森すずこ、白石晴香、小原好美、本泉莉奈、藤田咲、早見沙織、嶋村侑、坂本真綾、種崎敦美 らが出演しています

  https://tver.jp/episodes/eptca8e9qw
</p>

<p class="tver">
  アニメ 映画 デリシャスパーティ♡プリキュア 夢みる♡お子さまランチ！(2022) の配信がTVerで始まりました。
  終了日未記載

  菱川花菜、清水理沙、井口裕香、茅野愛衣、高森奈津美、日岡なつみ、半場友恵、前野智昭、内田雄馬、花江夏樹、水田信二、川西賢志郎 らが出演しています

  https://tver.jp/episodes/epf0teh4sy
</p>

<p class="tver">
  アニメ 映画 トロピカル～ジュ！プリキュア 雪のプリンセスと奇跡の指輪！(2021) の配信がTVerで始まりました。
  終了日未記載

  ファイルーズあい、日高里菜、花守ゆみり、石川由依、瀬戸麻沙美、田中あいみ、水樹奈々、水沢史絵、桑島法子、久川綾、川田妙子、くまいもとこ、菊池こころ、松本まりか らが出演しています

  https://tver.jp/episodes/epy97fzygx
</p>
