---
title: 2026/9/15 のピックアップ
date: 2026-09-15
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ プレミアMelodiX!(2026) の配信がTVerで始まりました。 25分
  9/22 6:59まで

  ※ KEY TO LIT

  南海キャンディーズ、KEY TO LIT らが出演しています

  https://tver.jp/episodes/epvf23utqq
</p>

<p class="tver">
  バラエティ タイトル未定のパキラっしゅ★(2026・2期) の配信がTVerで始まりました。 23分
  9/22 12:00まで

  ※ 元ＳＫＥ須田亜香里＆タイトル未定しりとりゲーム！

  タイトル未定、須田亜香里、箕輪直人 らが出演しています

  https://tver.jp/episodes/epiidy8q50
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。 26分
  9/22 12:00まで

  ※ 今回は東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演された、宙組の水美舞斗さんと鷹翔千空さんによるスペシャルトークをメインにお届けします

  中井美穂、水美舞斗、鷹翔千空、立川らく次 らが出演しています

  https://tver.jp/episodes/epo647qx1e
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 8話の配信がTVerで始まりました。 31分
  9/22 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、桜田聖子、西田奈津美、佐々木征史、佐々木理江、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epwe2j2t3n
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 6話の配信がTVerで始まりました。 44分
  終了日未記載

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、東根作寿英、岩崎う大(かもめんたる) らが出演しています

  https://tver.jp/episodes/eptcmhhf2j
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 6話の配信がTVerで始まりました。 44分
  9/22 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、阿部亮平(Snow Man)、長井短、結城萌、大西礼芳、筧美和子、徳永えり、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/epnimlpf85
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 6話の配信がTVerで始まりました。 43分
  9/22 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/epjbbttnc3
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 9話の配信がTVerで始まりました。 56分
  9/21 11:59まで

  佐藤健、黒木華、柄本佑、高岡早紀、林泰文、坪倉由幸(我が家)、天野慶久、森岡龍、大鷹明良、瀬戸利樹、鈴木亮平、浅野和之、木場勝己、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epx4rrnbl8
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 9話の配信がTVerで始まりました。 47分
  9/21 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、野村たかし、古川りか、大方斐紗子、伊佐山ひろ子、西田健、村松克己、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/eprs6hcmuj
</p>

<p class="tver">
  ドラマ まっしろ(2015) 8話の配信がTVerで始まりました。 47分
  9/21 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、宅麻伸、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/eply4lqn0d
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 8話の配信がTVerで始まりました。 45分
  9/21 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、平間壮一、山岸門人、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epi3jzj0o5
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 9話の配信がTVerで始まりました。 45分
  9/21 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、横田栄司、高橋洋、葉山奨之、中島ひろ子、岡田浩暉、内田理央、橋爪淳、日向丈、今藤洋子、佐々木一平、清水優、宇梶剛士、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epdumoohgo
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 8～9話の配信がTVerで始まりました。 46分
  9/21 11:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、大黒摩季、福澤朗、三石琴乃、大和田伸也、石坂浩二、神野三鈴、橋本さとし、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epo5q5uvqa
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 8～9話の配信がTVerで始まりました。 46分
  9/21 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、畑芽育、丘みつ子、森本のぶ、浅見小四郎、夏川さつき、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/ep1om9fgfr
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 17話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epyc0hktpy
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 82話の配信がTVerで始まりました。 24分
  9/22 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epxabxysq6
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 38話の配信がTVerで始まりました。 24分
  9/22 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/eppwi1jtm5
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 11話の配信がTVerで始まりました。 25分
  9/22 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/epjj20da2o
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 8話の配信がTVerで始まりました。 25分
  9/22 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epku4sohcu
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 11話の配信がTVerで始まりました。 25分
  9/22 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/epf1lilyap
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 11話の配信がTVerで始まりました。 25分
  9/22 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/ep1qi8kssg
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epsxg22igi
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 11話の配信がTVerで始まりました。 23分
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/ephuegycod
</p>
