---
title: 2026/7/11 のピックアップ
date: 2026-07-11
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  アニメ「FAIRY TAIL」131～136話｜2026/7/11配信｜アニメタイムズ公式｜2:26:42
※ 2026/8/12(水) 10:29まで

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/kVX4BhG5Rz0
</p>

<p class="tver">
  バラエティ ぶらり途中下車の旅(2026) の配信がTVerで始まりました。
  7/18 9:24まで

  ※ 丸ノ内線／家入レオ

  家入レオ らが出演しています

  https://tver.jp/episodes/epk9os54qu
</p>

<p class="tver">
  バラエティ 土曜はナニする！？日帰りぷらっとりっぷ(2026) の配信がTVerで始まりました。
  7/18 8:30まで

  ※ 相武紗季&たんぽぽ川村の大自然&極上うな重 満喫旅

  相武紗季、川村エミコ(たんぽぽ) らが出演しています

  https://tver.jp/episodes/epym0e5bfw
</p>

<p class="tver">
  バラエティ 土曜日もよ～いドン！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【国宝さん】高橋成美参戦！元高砂部屋力士が明かす相撲界裏話＆89歳の「源氏物語」愛♥

  月亭八光、伊原六花、高橋成美 らが出演しています

  https://tver.jp/episodes/epthtadw54
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  7/18 10:29まで

  ※ 犬も飼い主もメロメロ!トリマーの神&ヒロミ大絶賛の神つけ麺

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epy72o5ek7
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 9話の配信がTVerで始まりました。
  7/18 11:59まで

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、新谷真弓、戸田昌宏、斉藤陽一郎、滝沢沙織、櫻井淳子、津嘉山正種、田村たがめ、陣内孝則、野際陽子 他

  https://tver.jp/episodes/epzzw5pcre
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 9話の配信がTVerで始まりました。
  7/18 11:59まで

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、佐戸井けん太、泉晶子、小久保丈二、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/epjsgk06yu
</p>

<p class="tver">
  ドラマ 職員室(1997) 10話の配信がTVerで始まりました。
  7/18 11:59まで

  浅野温子、仲村トオル、的場浩司、益岡徹、水野美紀、田岡美也子、山下容莉枝、松澤一之、那須佐代子、信実一徳、小日向文世、山本龍二、松井範雄、クノ真季子、澤口夏奈子、竹内勇人、塚本高史、横山めぐみ、野際陽子 らが出演しています

  https://tver.jp/episodes/epfaxrm67r
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 7話の配信がTVerで始まりました。
  7/17 11:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、小林麻央、ベッキー、要潤、半海一晃、酒井敏也、中村豪、やるせなす、黒田知永子、山本圭、勝村政信、竹中直人 らが出演しています

  https://tver.jp/episodes/epdbtmxxoy
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 7話の配信がTVerで始まりました。
  7/17 11:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、秋谷郁甫、杉本哲太 らが出演しています

  https://tver.jp/episodes/epb709ntg7
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 7話の配信がTVerで始まりました。
  7/17 11:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、絃瀬聡一、野村康太、清乃あさ姫、井上肇、大島蓉子、野間口徹、鳥谷宏之、安藤輪子、原ふき子、椙本滋、市川大貴、金子早苗、吉村恵里子、藤本隆宏、西田尚美、仙道敦子、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/ep93kiorug
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、丸一太、渋江譲二、田中みな実、大黒摩季、三石琴乃、城田優、堺正章、加藤浩次、極楽とんぼ、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epw8d71ba7
</p>

<p class="tver">
  ドラマ 新参者(2010) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、紺野まひる、早乙女太一、木村祐一、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/eppfd2fc2r
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 9話の配信がTVerで始まりました。
  7/18 11:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、朝倉あき、宮尾俊太郎、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、丸一太、原アンナ、菅野莉央、イモトアヤコ、真矢ミキ、森崎博之、福澤朗、品川徹、岡田浩暉、高橋努、古川雄大、モロ師岡、古舘伊知郎、甲本雅裕、木下ほうか、山本學、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎 らが出演しています

  https://tver.jp/episodes/epftcizslm
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、ぼくもとさきこ、真矢ミキ、新井浩文、倍賞美津子、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、篠井英介、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、大鷹明良、永澤俊矢、世良公則、今田耕司、松平定知 らが出演しています

  https://tver.jp/episodes/epkv7boc3b
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG、2PM、相葉裕樹、菊田大輔、永瀬匡、西村和彦、田中要次、佐々木希、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/epjlisiz03
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、伊藤淳史、有村架純、池松壮亮、品川徹、戸田昌宏、田中要次、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epambepd8x
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、東京03(豊本明長、角田晃広)、清塚信也、橋本一郎、白石糸、小林きな子、冨士眞奈美、南沢奈央、久世星佳、足立梨花、恒松祐里、野村修一、中村ゆり、江口のりこ、山口紗弥加、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/ep68edg9ds
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 7話の配信がTVerで始まりました。
  7/17 9:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、市川知宏、又吉直樹(ピース)、西山潤、段田安則、内藤剛志、麻生祐未 らが出演しています

  https://tver.jp/episodes/ep5xhywto5
</p>

<p class="tver">
  アニメ 身代わり令嬢を救ったのは冷酷無慈悲な氷の王子の愛でした(2026) 1話の配信がTVerで始まりました。
  7/18 12:00まで

  ※ 5分のアニメです

  伊藤美来、阿座上洋平、青木瑠璃子、日笠陽子、市ノ瀬加那、千葉翔也、青山穣、石黒史剛、吉川幸宏、前川涼子、奈波果林 他

  https://tver.jp/episodes/epkprlrcvs
</p>

<p class="tver">
  アニメ ハイキュー!! 烏野高校 ＶＳ 白鳥沢学園高校(2016) 1～5話の配信がTVerで始まりました。
  7/18 11:59まで

  ※ 3期です

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、江川央生、竹内良太、木村昴、土屋神葉、豊永利行、寺島拓篤、丹沢晃之、福田賢二、大森大樹、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep3o2lrs6t
</p>

<p class="tver">
  アニメ あたしンち(2002・1期) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ TVでは1回で2話入っていましたが、こちらは3話構成です

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epo3ejwczt
</p>

<p class="tver">
  アニメ ふつつかな悪女ではございますが ～雛宮蝶鼠とりかえ伝～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 絶対に見たくなる！SP

  天津飯大郎(天津)、クロちゃん(安田大サーカス)、石見舞菜香、川井田夏海、菱川花菜、ニケライファラナーゼ、古川慎、古旗笑佳 らが出演しています

  https://tver.jp/episodes/epz54hfne8
</p>

<p class="tver">
  バラエティ オーイシマサヨシ×鈴木愛理の【でしょでしょ!!】(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 2人きりの楽屋で真剣トーク！「アイドル王」と「アニソン王」を目指す理由とは？6年目の番組で何をやりたい？

  大石昌良、鈴木愛理 らが出演しています

  https://tver.jp/episodes/ep9xz6vgrw
</p>

<p class="tver">
  ドラマ VIVANT(2023) 7話の配信がTVerで始まりました。
  7/17 5:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、バルサラハガバ・バタボルド、市川笑三郎、平山祐介、珠城りょう、内村遥、井上肇、内野謙太、西山潤、富栄ドラム、中山孟、原布助、管勇毅、高木勝也、二宮和也、林泰文、吉原光夫、坂東彌十郎、濱田岳、キムラ緑子、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/ep618av1ab
</p>
