---
title: 2026/7/31 のピックアップ
date: 2026-07-31
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 晩酌の流儀５(2026) 5話の配信がTVerで始まりました。
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、おかやまはじめ、ナイツ(土屋伸之、塙宣之)、上大迫祐希、猫ひろし らが出演しています

  https://tver.jp/episodes/eppuhntykj
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 5話の配信がTVerで始まりました。
  8/8 0:51まで

  坂元愛登、石原良純、八木美樹、岩田奏、神谷空、阿久澤菜々、カワノヨウタ らが出演しています

  https://tver.jp/episodes/epupqotxf4
</p>

<p class="yt">
  アニメ 宇宙兄弟 76～99(最終)話｜2026/7/3配信｜フル☆アニメTV｜9:42:46
  ※ 2026/8/3(月) 23:59まで

  平田　広明：南波六太
  　ＫＥＮＮ：南波日々人
  沢城みゆき：伊東せりか
  加藤　将之：真壁ケンジ
  池田　昌子：シャロン

  https://youtu.be/jmuwYvKhXSY
</p>

<p class="yt">
  トマト祭りに、塩屋埼灯台行って、苔テラリウム作って、魚釣って、コース料理も堪能しちゃう、春のいわき大満喫!｜2026/7/31配信｜芳根京子の〈生〉旅｜32:55

  ※ 〈生〉旅 いわき篇のロングver（前編＋後編）を公開

  https://youtu.be/TRFAAEyUATQ
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  8/7 23:29まで

  ※ 松本若菜、ミニチュアを作る

  三村マサカズ、青木崇高、松本若菜 らが出演しています

  https://tver.jp/episodes/epu558q2ll
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  8/7 22:30まで

  ※ 自炊63　極上春巻き　完結編

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/epxz0zbnad
</p>

<p class="tver">
  バラエティ ラヴィット！(2026) の配信がTVerで始まりました。
  8/7 7:59まで

  ※ 夏休みの自由研究にピッタリ！実際にやってみまSHOW＆マッチョカラオケ。結果からお題を推理せよ！何のランキングでSHOWタイム

  前半：https://tver.jp/episodes/epuyd9m000
  後半：https://tver.jp/episodes/epg42p2zle

  川島明(麒麟)、田村真子、太田博久(ジャングルポケット)、くっきー!(野性爆弾)、近藤千尋、東京ホテイソン(たける、ショーゴ)、宮下草薙(草薙航基、宮下兼史鷹)、柳原可奈子、山本彩、鶴崎修功、青木マッチョ(かけおち) らが出演しています
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  8/7 18:59まで

  ※ 二宮和也も感動…少年13人の命を救った奇跡の映像SP

  ノブ(千鳥)、二宮和也、小田凱人、高島礼子、ホラン千秋、横澤夏子、いしだ壱成、友近、沢城みゆき、大塚芳忠 らが出演しています

  https://tver.jp/episodes/ep0j0hqyzm
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  8/7 19:55まで

  ※ カズレーザーが、世界トップレベル海上自衛隊の掃海艇部隊TV初公開！命がけ水中爆破処理班も初密着

  設楽統(バナナマン)、黒田みゆ、カズレーザー(メイプル超合金)、門脇麦、柴田英嗣(アンタッチャブル)、高橋茂雄(サバンナ)、出川哲朗、比嘉愛未 らが出演しています

  https://tver.jp/episodes/epdncg1ns1
</p>

<p class="tver">
  バラエティ それSnow Manにやらせて下さい(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 10人連続完コピチャレンジに佐野勇斗・本郷奏多参戦＆Snow Man SPライブ

  Snow Man(岩本照、深澤辰哉、ラウール、渡辺翔太、向井康二、阿部亮平、目黒蓮、宮舘涼太、佐久間大介)、山里亮太(南海キャンディーズ)、佐野勇斗(M!LK)、本郷奏多 らが出演しています

  https://tver.jp/episodes/epzsq8d3h3
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 巨大ナマズVS野人＆群馬の山奥でナゼ!?秘境不動産に密着

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、乙葉、ワタリ119、本間キッド(や団)、チャンカワイ(Wエンジン)、槇大輔 らが出演しています

  https://tver.jp/episodes/epwoys8dis
</p>

<p class="tver">
  バラエティ 知識の扉よ開け！ドア×ドア クエスト(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ VIVANT第2シーズン初回の裏側公開＆M!LK佐野が名店チャーハンの再現に挑戦！

  小峠英二(バイきんぐ)、田村真子、澤部佑(ハライチ)、夏菜、迫田孝也、富栄ドラム、平子祐希(アルコ&ピース)、島崎和歌子、山崎弘也(アンタッチャブル)、近藤春菜(ハリセンボン)、岡部大(ハナコ)、M!LK(塩﨑太智、佐野勇斗)、くわばたりえ、チャンカワイ(Wエンジン)、サンシャイン池崎、真地勇志 らが出演しています

  https://tver.jp/episodes/epn78oanuf
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 真夏の決戦！「信頼じゃんけん」トーナメント

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、上田竜也、高田真希、滝沢カレン、ダンディ坂野、みなみかわ、DAIGO、伊集院光、岡野陽一、佐野瑞樹 らが出演しています

  https://tver.jp/episodes/eplqgnuarg
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  8/7 22:59まで

  ※ トーク名場面集 新着メッセージ

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、アンガールズ(山根良顕、田中卓志)、上戸彩、北村一輝、多部未華子、津田健次郎、佐野勇斗(M!LK)、平愛梨、二宮和也 らが出演しています

  https://tver.jp/episodes/epxpp7foyg
</p>

<p class="tver">
  バラエティ バカリズムの１０文字ホラー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【傑作選】松本まりか ホラー解釈人に挑戦！怪作誕生

  バカリズム、ヒコロヒー、トム・ブラウン、鳥居みゆき、松本まりか らが出演しています

  https://tver.jp/episodes/epfv04nxvd
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  吉川愛、綱啓永、髙松アロハ(超特急)、朝井大智、大朏岳優、吉沢悠、勝村政信、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epddduubo3
</p>

<p class="tver">
  ドラマ テセウスの船(2020) 6話の配信がTVerで始まりました。
  8/8 23:59まで

  竹内涼真、上野樹里、安藤政信、貫地谷しほり、芦名星、せいや(霜降り明星)、柴崎楓雅、野村昇史、三上市朗、ただのあっ子、麻生祐未、鈴木亮平 らが出演しています

  https://tver.jp/episodes/epxnxd37ls
</p>

<p class="tver">
  ドラマ 踊る大捜査線(1997) 1話の配信がTVerで始まりました。
  9/18 終了時間未記載まで

  織田裕二、柳葉敏郎、深津絵里、水野美紀、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/eptu39ouhe
</p>

<p class="tver">
  ドラマ 初恋DOGs(2025) 6話の配信がTVerで始まりました。
  8/8 23:59まで

  清原果耶、成田凌、ナ・イヌ、萩原利久、宮澤エマ、なだぎ武、野呂佳代、宮崎秋人、永瀬莉子、NOA、円井わん、ジン・デヨン、森崎ウィン、ハン・ジウン、辻義人、坂井真紀、深田恭子、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epi93n25t3
</p>

<p class="tver">
  ドラマSP 福岡恋愛白書(2021) クリスマス狂想曲の配信がTVerで始まりました。
  終了日未記載

  松井愛莉、古川雄輝、飯島寛騎、中村里帆、小林亮太、松浦ミキル、金澤美穂 らが出演しています

  https://tver.jp/episodes/epe1bnyahf
</p>

<p class="tver">
  ドラマ 翼をください！(1996) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 3日毎に最新話追加

  内田有紀、反町隆史、水野美紀、細川直美、矢田亜希子、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep8ghnpd58
</p>

<p class="tver">
  ドラマ ロケット・ボーイ(2001) 1話の配信がTVerで始まりました。
  8/25 終了時間未記載まで

  織田裕二、ユースケ・サンタマリア、松本幸四郎、京野ことみ、須藤理彩、中嶋朋子 らが出演しています

  https://tver.jp/episodes/ep7gaat5fz
</p>

<p class="tver">
  ドラマ 正義は勝つ Justice・for・all(1995) 1話の配信がTVerで始まりました。
  9/03 終了時間未記載まで

  織田裕二、鶴田真由、室井滋、段田安則、井上晴美、松崎しげる、井上順 らが出演しています

  https://tver.jp/episodes/ep669ud9p9
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 5話の配信がTVerで始まりました。
  8/8 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、チェ・ジウ、田中みな実、花總まり、池田鉄洋、三石琴乃、恵俊彰、神野三鈴、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/ep5o6eavr8
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 10話の配信がTVerで始まりました。
  8/7 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/ep4rrvfxjp
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 11(最終)話の配信がTVerで始まりました。
  8/7 23:59まで

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/ep4c4nryjg
</p>

<p class="tver">
  ドラマ 婚姻届に判を捺しただけですが(2021) 6話の配信がTVerで始まりました。
  8/8 23:59まで

  清野菜名、坂口健太郎、倉科カナ、高杉真宙、前野朋哉、中川翔子、笠原秀幸、小林涼子、森永悠希、深川麻衣、岡田圭右(ますだおかだ)、西尾まり、長見玲亜、杉本彩、ルー大柴、田辺誠一 らが出演しています

  https://tver.jp/episodes/ep3f8xomlh
</p>

<p class="tver">
  ドラマSP 劇場版「TOKYO MER～走る緊急救命室～」(2025) の配信がTVerで始まりました。
  9/27 23:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、ジェシー(SixTONES)、フォンチー、佐藤栞里、今野浩喜、新井恵理那、猪塚健太、工藤美桜、信太昌之、谷遼、湯川尚樹、三宅亮輔、谷風作、青山めぐ、森麻里百、梅田脩平、駒水健、菜々緒、杏、徳重聡、古川雄大、渡辺真起子、橋本さとし、鶴見辰吾、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2pxni1tv
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 4話の配信がTVerで始まりました。
  8/7 21:59まで

  蒼井優、中島歩、高橋文哉、久保田薫、飛永翼(ラバーガール)、中井友望、イトウハルヒ、夏帆、伊武雅刀、長野里美、臼田あさ美、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/eptt95mk1b
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 2話の配信がTVerで始まりました。
  8/7 21:53まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、大沢一菜、YOUNG DAIS、竹下優名、乙葉、池田良、森田甘路、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/ephah4w9f8
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 16話の配信がTVerで始まりました。
  終了日未記載

  ※ 2～12話が配信されて、1～12話全話と16話が配信されています

  16話：https://tver.jp/episodes/epeqinai2c
  1～12話：https://tver.jp/episodes/epy4zv2j97

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫 らが出演しています
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 16話の配信がTVerで始まりました。
  8/8 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/epfe7oflaf
</p>

<p class="tver">
  アニメ ダンダダン(2024・1～2期) 全24話の配信がTVerで始まりました。
  8/7 23:59まで

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉 らが出演しています

  https://tver.jp/episodes/ep2i82vg94
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 5話の配信がTVerで始まりました。
  終了日未記載

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/eps4zbl6lt
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 6話の配信がTVerで始まりました。
  8/7 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epz0pyryze
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 49話の配信がTVerで始まりました。
  8/7 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ep1pr5s1xo
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 4話の配信がTVerで始まりました。
  終了日未記載

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、橋本じゅん、松原タニシ らが出演しています

  https://tver.jp/episodes/epwhunch2d
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 7話の配信がTVerで始まりました。
  8/7 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、フォンチー、馬場徹、猪塚健太、工藤美桜、春海四方、谷遼、湯川尚樹、松川尚瑠輝、菜々緒、稲森いずみ、城田優、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epuutczwxs
</p>

<p class="tver">
  ドラマ もみ消して冬 ～わが家の問題なかったことに～(2018) 6～7話の配信がTVerで始まりました。
  8/7 11:59まで

  山田涼介(Hey! Say! JUMP)、波瑠、小澤征悦、小瀧望(WEST.)、恒松祐里、児嶋一哉(アンジャッシュ)、千葉雄大、浅野和之、中村梅雀、山村紅葉 らが出演しています

  https://tver.jp/episodes/epxtzc4flg
</p>

<p class="tver">
  ドラマ 左目探偵EYE(2010) 5～6話の配信がTVerで始まりました。
  8/7 11:59まで

  山田涼介(Hey! Say! JUMP)、横山裕(SUPER EIGHT)、石原さとみ、岡田義徳、はるな愛、Crystal Kay、古田新太、渡辺いっけい、佐野史郎、片平なぎさ、インリン らが出演しています

  https://tver.jp/episodes/epg7cjitv7
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 5話の配信がTVerで始まりました。
  8/7 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、武田真治、ファーストサマーウイカ、足立智充、霧島れいか、福山翔大、青戸昭憲、古川琴音、木下政治、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep45w3gdj2
</p>

<p class="tver">
  ドラマ ダメマネ！ ーダメなタレント、マネジメントしますー(2025) 6～7話の配信がTVerで始まりました。
  8/7 11:59まで

  川栄李奈、安田顕、千葉雄大、富田望生、鈴木仁、倉沢杏菜、古田愛理、華優希、寺島しのぶ、永野宗典、濱田マリ、橋本じゅん、吉瀬美智子、山田涼介(Hey! Say! JUMP)、佐藤大樹、宮崎吐夢 らが出演しています

  https://tver.jp/episodes/eppccm742q
</p>

<p class="tver">
  アニメ ずたぼろ令嬢は姉の元婚約者に溺愛される(2025) 全12話の配信がTVerで始まりました。
  終了日未記載

  本村玲奈、濱野大輝、田中美海、木村良平、日笠陽子、大原さやか、柿原徹也、小林竜之、相坂優歌 らが出演しています

  https://tver.jp/episodes/epynceyx18
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 3話の配信がTVerで始まりました。
  8/7 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epxju05yik
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 20話の配信がTVerで始まりました。
  8/7 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/eplkmapzfd
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 29話の配信がTVerで始まりました。
  終了日未記載

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep0hmimnww
</p>
