---
title: 2026/7/6 のピックアップ
date: 2026-07-06
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  映画「君と花火と約束と」15秒CM｜2026/7/6配信｜SHOCHIKU animeチャンネル【公式】｜0:15
※ 7月17日(金)公開

  佐藤勝利(timelesz)、原菜乃華、高橋李依、横澤夏子 他

  主題歌：timelesz『消えない花火』

  https://youtu.be/vHil-jHQQWg
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  7/13 15:00まで

  ※ 亡き夫が追い求めた田舎暮らしというロマンに楽しく寄り添い、暮らし続ける女性。自然とともに暮らす喜びとは――。

  所ジョージ、林修、玉森裕太(Kis-My-Ft2)、森川葵 らが出演しています

  https://tver.jp/episodes/ep6ph4floo
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと導かれし七人(2016) 1～4話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/epd5kihx03
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと悪霊の鍵(2012) 5～8話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/ep4hgfd591
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと魔王の城(2011) 9～12(最終)話話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/epk5thpzmr
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 14話の配信がTVerで始まりました。
  7/13 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epvdjfzymy
</p>

<p class="tver">
  バラエティ ナゾ解き☆はるpyon調査隊(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ [9分の番組です]レトロ自販機の謎

  橋本陽菜(AKB48) らが出演しています

  https://tver.jp/episodes/epo5aziav0
</p>

<p class="tver">
  ドラマ 週末婚(1999) 6話の配信がTVerで始まりました。
  7/12 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、森下哲夫、小松正一、須永慶、織本順吉、夏桂子、戸川京子、根岸季衣、仲村トオル らが出演しています

  https://tver.jp/episodes/epoi5fv546
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 21話の配信がTVerで始まりました。
  7/13 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epm099j88a
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 23話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、伊瀬茉莉也、飯田友子、池澤春菜、浅井晴美、大本眞基子、大塚みずえ、小桜エツコ、氷上恭子、水田わさび、鉄炮塚葉子、上村典子、長嶝高士、野島健児、伊藤美紀、伊東健人 らが出演しています

  https://tver.jp/episodes/epj9j2idvp
</p>
