---
title: 2026/6/19 のピックアップ
date: 2026-06-19
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 恋仲(2015) 1話の配信がTVerで始まりました。
  7/28 終了時間未記載まで
※ 3日毎に最新話追加

  福士蒼汰、本田翼、野村周平、仲野太賀、大原櫻子、大友花恋、市川由衣、山本美月、馬場園梓、前野朋哉、永井大、吉田羊、小林薫 らが出演しています

  https://tver.jp/episodes/epn761f6uq
</p>

<p class="yt">
  映画「ロイヤル・ナイト 英国王女の秘密の外出(2016)」｜2026/6/19配信｜ギャガ公式チャンネル｜1:37:06
※ 期間限定ですが期限がないのでお早めに

下山田綾華｜エリザベス王女：サラ・ガドン
竹内恵美子｜マーガレット王女：ベル・パウリー
喜代原まり｜エリザベス王妃：エミリー・ワトソン
各務　立基｜国王ジョージ６世：ルパート・エヴェレット
日野　　聡｜ジャック・ホッジス：ジャック・レイナー

  吹替版：https://youtu.be/zpRuSoMDRKk
</p>

<p class="yt">
  アニメ「山田くんと7人の魔女」1～12話｜2026/6/19配信｜アニメタイムズ公式｜4:48:58
※ 2026/7/20(月) 16:59まで

逢坂　良太：山田竜
早見　沙織：白石うらら
増田　俊樹：宮村虎之介
内田　真礼：伊藤雅
佐々木寿治：椿剣太郎
喜多村英梨：小田切寧々
小野　大輔：五十嵐潮
福山　　潤：山崎春馬
花澤　香菜：飛鳥美琴
牧野　由依：大塚芽子
タカオユキ：猿島マリア
悠木　　碧：滝川ノア
田澤　茉純：西園寺リカ
立花慎之介：玉木真一
杉田　智和：鶴川秀明
小野　友樹：亀田満

  https://youtu.be/rEOJUvyEfSY
</p>

<p class="tver">
  その他 FUJI-YAMA MID-NIGHT-FISHING(2026) 39回の配信がTVerで始まりました。
  7/4 01:54まで

  ※ 2026年4月25日（土）に銀座エリア最大の商業施設「GINZA SIX」で行われた公開収録の模様を、6月19日（金）・20日（土）の二夜連続で放送。

  藤原ヒロシ、山口一郎(サカナクション) らが出演しています

  https://tver.jp/episodes/ep4w6eaje3
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  6/26 22:30まで

  ※ 自炊57　オリジナルおにぎり＆鯵の残り香スープ

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/epusjr4399
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  6/26 23:29まで

  ※ 沢尻エリカ、熊野古道を巡る

  三村マサカズ、青木崇高、沢尻エリカ らが出演しています

  https://tver.jp/episodes/epzmyevdeo
</p>

<p class="tver">
  バラエティ 三村やす子のバズマンTV(2026) の配信がTVerで始まりました。
  7/4 01:15まで

  ※ 【マンガ心理戦】読んだことない漫画を読んだフリしてプレゼンしてるのはどっち？【THE RAMPAGE山本VSエバース佐々木】

  三村マサカズ、さまぁ〜ず、やす子、エバース(佐々木隆史、町田和樹)、山本彰吾 らが出演しています

  https://tver.jp/episodes/epgmco1buc
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  7/3 18:59まで

  ※ “平成の毒婦”と呼ばれた女…木嶋佳苗事件を大考察!!

  ノブ(千鳥)、二宮和也、舘ひろし、戸田恵子、MEGUMI、横澤夏子、小出恵介、八乙女光(Hey! Say! JUMP)、沢城みゆき、大塚芳忠 らが出演しています

  https://tver.jp/episodes/ep5a2l4u4z
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  6/26 19:55まで

  ※ 有村架純も大絶賛!志麻さんスタミナ料理SP

  設楽統(バナナマン)、黒田みゆ、有村架純、井桁弘恵、カズレーザー(メイプル超合金)、塩野瑛久、出川哲朗、松井ケムリ(令和ロマン)、タイムマシーン3号、タサン志麻 他

  https://tver.jp/episodes/ephn5a72xf
</p>

<p class="tver">
  バラエティ それSnow Manにやらせて下さい(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ Snow Man vs 小学生50人！一番キッズに刺さるのは！？本気プレゼン対決

  Snow Man(岩本照、深澤辰哉、ラウール、渡辺翔太、向井康二、阿部亮平、目黒蓮、宮舘涼太、佐久間大介)、今田耕司、アンミカ、尾形貴弘(パンサー) 他

  https://tver.jp/episodes/ep1pd2k46t
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  7/3 20:59まで

  ※ 断崖絶壁＆野人！超危険デンジャースペシャル

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、Den(リンダカラー∞)、石井康太、やるせなす、バッツネ、槇大輔 らが出演しています

  https://tver.jp/episodes/epdjuzsgol
</p>

<p class="tver">
  バラエティ 音道楽√(2026) の配信がTVerで始まりました。
  6/27 0:49まで

  ※ Ayumu Imazuアメ村旅＆NMB４８”初めての〇〇”

  ヨコタシンノスケ、キュウソネコカミ、樋口大喜、西川貴教、エルフ、藤岡宗我、Ayumu Imazu、NMB48(塩月希依音、泉綾乃、岡腰星来) らが出演しています

  https://tver.jp/episodes/ep4ks320fg
</p>

<p class="tver">
  バラエティ 知識の扉よ開け！ドア×ドア クエスト(2026) の配信がTVerで始まりました。
  6/26 20:54まで

  ※ 東京メトロ気になるギモン大調査！乱れたダイヤどう定刻に戻す？

  小峠英二(バイきんぐ)、田村真子、井森美幸、山崎弘也(アンタッチャブル)、曽野舜太(M!LK)、松井玲奈、酒井ゆりや、塚田僚一(A.B.C-Z)、サンシャイン池崎、ワタリ119、渡部おにぎり、真地勇志 らが出演しています

  https://tver.jp/episodes/epqoj55sr8
</p>

<p class="tver">
  バラエティ ウワサのお客さま(2026) の配信がTVerで始まりました。
  7/3 20:00まで

  ※ 大島部屋のニンニク爆盛り！超スタミナ飯。板倉・久保の後輩軍団へ出張！ワールドカップ飯

  超スタミナ飯：https://tver.jp/episodes/epxhb04t4z
  ワールドカップ飯：https://tver.jp/episodes/epy4ydrow4

  サンドウィッチマン(伊達みきお、富澤たけし)、川島明(麒麟)、雨宮萌果、白岩瑠姫 らが出演しています
</p>

<p class="tver">
  バラエティ かまいたちの瞬間回答～60秒でお悩み解決～(2026) 1回の配信がTVerで始まりました。
  6/26 21:00まで

  ※ 企業の激変グルメNo.1決定戦＆防災防犯SP！

  かまいたち(山内健司、濱家隆一)、生野陽子、佐野文哉、OWV、陣内貴美子、山本耕史 らが出演しています

  https://tver.jp/episodes/epl0vh5b5s
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  6/26 21:58まで

  ※ 究極心理戦「信頼じゃんけん」山下智久が緊急リベンジ！

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、山下智久、三浦翔平、桜井日奈子、信子(ぱーてぃーちゃん)、向井慧(パンサー)、伊藤俊介(オズワルド) らが出演しています

  https://tver.jp/episodes/epfxpix73m
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  6/26 22:59まで

  ※ 本木雅弘 息子UTAが明かす父の一面

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、本木雅弘、黒沢清、坂東龍汰、UTA らが出演しています

  https://tver.jp/episodes/epo0xoft0f
</p>

<p class="tver">
  ドラマ わたしの相殺日記(2026) 3話の配信がTVerで始まりました。
  7/4(土) 0:51まで

  あの、窪塚愛流、遊井亮子、竹中直人 らが出演しています

  https://tver.jp/episodes/epbrd6u5pm
</p>

<p class="tver">
  ドラマ ゴシップ＃彼女が知りたい本当の○○(2022) 6話の配信がTVerで始まりました。
  6/26 23:59まで

  黒木華、溝端淳平、野村周平、野間口徹、石井杏奈、寛一郎、一ノ瀬颯、りょう、安藤政信、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epybs0ew4v
</p>

<p class="tver">
  ドラマ 美女か野獣(2003) 7話の配信がTVerで始まりました。
  6/26 23:59まで

  松嶋菜々子、福山雅治、渡辺いっけい、八嶋智人、佐々木蔵之介、白石美帆、永井大、パパイヤ鈴木、児玉清 らが出演しています

  https://tver.jp/episodes/epkei84qkz
</p>

<p class="tver">
  ドラマSP 世界の中心で、愛をさけぶ特別編～17年目の卒業～(2004) の配信がTVerで始まりました。
  終了日未記載

  山田孝之、綾瀬はるか、緒形直人、田中幸太朗、柄本佑、本仮屋ユイカ、田中圭、夏帆、鹿嶋ゆかり、武野功雄、浅香友紀、浅野和之、松下由樹、高橋克実、大島さと子、手塚理美、三浦友和 らが出演しています

  https://tver.jp/episodes/ep6dk7a04e
</p>

<p class="tver">
  ドラマ 田鎖ブラザーズ(2026) 10(最終)話の配信がTVerで始まりました。
  終了日未記載

  岡田将生、染谷将太、中条あやみ、宮近海斗(Travis Japan)、和田正人、長江英和、JP、柳憂怜、上田遥、野田悠月、金子拓真、中西希亜良、渡辺真起子、山中崇、仙道敦子、井川遥、岸谷五朗 らが出演しています

  https://tver.jp/episodes/epdr8ex4h6
</p>

<p class="tver">
  ドラマ 刑事、ふりだしに戻る(2026) 9(最終)話の配信がTVerで始まりました。
  6/26 21:53まで

  濱田岳、石井杏奈、鈴木伸之、大水洋介(ラバーガール)、三島ゆたか、信子(ぱーてぃーちゃん)、田中美久、中島広稀、戸田恵子、池内博之、赤ペン瀧川、六角慎司、小手山雅、塚本高史、板谷由夏、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epfos83up6
</p>

<p class="tver">
  ドラマSP 松本清張シリーズ(2026) 薄化粧の男の配信がTVerで始まりました。
  6/26 20:57まで

  風間杜夫、大谷直子、斉藤由貴、石橋蓮司、石丸謙二郎 らが出演しています

  https://tver.jp/episodes/epeok1irgy
</p>

<p class="tver">
  アニメ 北斗の拳 -FIST OF THE NORTH STAR-(2026) 12話の配信がTVerで始まりました。
  6/27 1:00まで

  武内駿輔、山下大輝、市道真央、中村悠一、青木瑠璃子 らが出演しています

  https://tver.jp/episodes/epq0hh2s6p
</p>

<p class="tver">
  アニメ マリッジトキシン(2026) 11話の配信がTVerで始まりました。
  6/27 0:00まで

  石谷春貴、若山詩音、永瀬アンナ、伊瀬茉莉也、結川あさき、斉藤壮馬、白浜灯奈乃、土屋神葉、白石晴香、祐仙勇 らが出演しています

  https://tver.jp/episodes/epijrbmehi
</p>

<p class="tver">
  アニメ 29歳独身中堅冒険者の日常(2026) 12(最終)話の配信がTVerで始まりました。
  7/3 21:59まで

  古川慎、鈴代紗弓、伊藤静、桑原由気、緒方佑奈、前田佳織里、大野智敬、白石晴香、松本保典 らが出演しています

  https://tver.jp/episodes/epmxqye0wa
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 23話の配信がTVerで始まりました。
  7/3 21:54まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/epw165zgjt
</p>

<p class="tver">
  バラエティ 相葉ヒロミのお困りですカー？(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【世界遺産】比叡山延暦寺で修行!!

  ヒロミ、相葉雅紀 らが出演しています

  https://tver.jp/episodes/epjf62v2s5
</p>

<p class="tver">
  ドラマ ひだまりが聴こえる(2024) 1～4話の配信がTVerで始まりました。
  終了日未記載

  中沢元紀、小林虎之介、宇佐卓真、夏生大湖、西田尚美、でんでん、川久保三子、彩香、土本燈子、岩崎武瑠、三木一輝、オラキオ、木津誠之 らが出演しています

  https://tver.jp/episodes/epz7ldm5bs
</p>

<p class="tver">
  アニメ ダイヤのA actⅡ -Second Season-(2026) 11話の配信がTVerで始まりました。
  6/26 17:59まで

  逢坂良太、島崎信長、櫻井孝宏、内田雄馬、浅沼晋太郎、花江夏樹、武内駿輔、山下大輝、村瀬歩、畠中祐 らが出演しています

  https://tver.jp/episodes/eplutypzwu
</p>

<p class="tver">
  アニメ 夜桜さんちの大作戦(2026) の配信がTVerで始まりました。
  6/26 17:29まで

  川島零士、本渡楓、小西克幸、鬼頭明里、興津和幸、悠木碧、松岡禎丞、内山夕実 らが出演しています

  https://tver.jp/episodes/ep586su0zf
</p>

<p class="tver">
  アニメ 杖と剣のウィストリア(2026・2期) 22話の配信がTVerで始まりました。
  6/26 17:29まで

  天崎滉平、関根明良、天野聡美、水中雅章、柿原徹也、Lynn、河西健吾、関智一、遊佐浩二、福山潤、古川慎、雨宮天、大塚芳忠、田村睦心 らが出演しています

  https://tver.jp/episodes/ep22jxn8zp
</p>

<p class="tver">
  その他 映画 嘘八百(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ［93分］ロマン溢れる骨董の世界で、「幻の利休の茶器」をめぐる騙し合いバトル勃発！

  中井貴一、佐々木蔵之介、友近、森川葵、前野朋哉、堀内敬子、坂田利夫、木下ほうか、塚地武雅(ドランクドラゴン)、近藤正臣 らが出演しています

  https://tver.jp/episodes/epp5cw8m9r
</p>

<p class="yt">
  アニメ「ゲキドル」1～12話｜2026/6/19配信｜アニメタイムズ公式｜4:41:55
※  2028/3/31(金) 23:59まで

赤尾ひかる：守野せりあ
持田千妃来：各務あいり
諏訪　彩花：雛咲いずみ
花澤　香菜：榊原かをる
Ｍ・Ａ・Ｏ：ドール
山本　希望：浅葱 晃
髙野　麻美：藤田愛美
秋吉　あや：山本和春
佐藤亜美菜：中村繭璃
鳥海　浩輔：竹崎宏和
八島さらら：樋口真琴
水橋かおり：日向智子

  https://youtu.be/UxwfaQgAQos
</p>

<p class="tver">
  ドラマ スイートモラトリアム(2023) 4話の配信がTVerで始まりました。
  6/25 11:59まで

  鈴鹿央士、小西桜子、田辺桃子、石野理子、稲川悟史、凜大、飯塚瑠乃 らが出演しています

  https://tver.jp/episodes/ep3kj31q2w
</p>

<p class="tver">
  ドラマ 逃亡医F(2022) 6～7話の配信がTVerで始まりました。
  6/26 11:59まで

  成田凌、森七菜、桐山照史(WEST.)、宮内ひとみ(桜庭ななみ)、堺小春、古屋呂敏、和田聰宏、酒向芳、前田敦子、安田顕、松岡昌宏、中村蒼、森迫永依、六平直政、宮崎吐夢、画大 他

  https://tver.jp/episodes/epu54shox6
</p>

<p class="tver">
  ドラマ 未満警察 ミッドナイトランナー(2020) 6～7話の配信がTVerで始まりました。
  6/26 11:59まで

  中島健人、平野紫耀(Number_i)、吉瀬美智子、大幡しえり、葉山奨之、竹内愛紗、傳谷英里香、阿岐之将一、小平大智、中村ゆり、原田泰造(ネプチューン)、伊勢谷友介、柿澤勇人、長谷川京子 らが出演しています

  https://tver.jp/episodes/eplbf13san
</p>

<p class="tver">
  ドラマ なんで私が神説教(2025) 6～7話の配信がTVerで始まりました。
  6/26 11:59まで

  広瀬アリス、渡辺翔太(Snow Man)、岡崎紗絵、野呂佳代、堀内敬子、志田未来、菅原咲月、ダンカン、小沢真珠、庄司智春(品川庄司)、小手伸也、伊藤淳史、木村佳乃、豊嶋花、水沢林太郎、清乃あさ姫、新井美羽、羽村仁成、林裕太、志田こはく、吉田晴登、松本麗世、島村龍乃介 らが出演しています

  https://tver.jp/episodes/epuex6l6ej
</p>

<p class="tver">
  ドラマ ザ・ロイヤルファミリー(2025) 5話の配信がTVerで始まりました。
  6/26 11:59まで

  妻夫木聡、目黒蓮(Snow Man)、松本若菜、安藤政信、高杉真宙、吉沢悠、津田健次郎、関水渚、長内映里香、秋山寛貴(ハナコ)、上田遥、三浦綺羅、中嶋朋子、尾美としのり、木場勝己、北村友一、小泉孝太郎、黒木瞳、沢村一樹、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epl8d5ybrj
</p>

<p class="tver">
  ドラマ 私たちはどうかしている(2020) 5～6話の配信がTVerで始まりました。
  6/26 11:59まで

  浜辺美波、横浜流星、高杉真宙、岸井ゆきの、山崎育三郎、須藤理彩、中村ゆり、鈴木伸之、佐野史郎、観月ありさ らが出演しています

  https://tver.jp/episodes/epn61e1b1c
</p>

<p class="tver">
  ドラマ 白衣の戦士！(2019) 6～7話の配信がTVerで始まりました。
  6/26 11:59まで

  中条あやみ、水川あさみ、小瀧望(WEST.)、片瀬那奈、鈴木紗理奈、安田顕、沢村一樹、富田望生、金田明夫 らが出演しています

  https://tver.jp/episodes/ephui18g17
</p>

<p class="tver">
  ドラマ 厨房のありす(2024) 6～7話の配信がTVerで始まりました。
  6/26 11:59まで

  門脇麦、永瀬廉(King & Prince)、前田敦子、大東駿介、阿南敦子、大友花恋、渡辺大知、前原瑞樹、橘優輝、堀野内智、伊藤麻実子、金澤美穂、新井郁、北大路欣也、国仲涼子、皆川猿時、萩原聖人、木村多江、大森南朋 らが出演しています

  https://tver.jp/episodes/ep0z1oe6xe
</p>

<p class="tver">
  ドラマ すぱいす。(2025) 3～4話の配信がTVerで始まりました。
  6/26 12:00まで

  本田響矢、奥野壮、吉田凜音、八木亜希子 らが出演しています

  https://tver.jp/episodes/epqawsqwip
</p>

<p class="tver">
  ドラマ 高校教師（藤木直人、上戸彩）(2003) 7話の配信がTVerで始まりました。
  6/26 9:59まで

  藤木直人、上戸彩、ソニン、成宮寛貴、眞鍋かをり、大倉孝二、蒼井優、斉藤祥太、菅原大吉、矢沢幸治、京本政樹、眞野あずさ らが出演しています

  https://tver.jp/episodes/eplred7s0c
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 8話の配信がTVerで始まりました。
  6/25 9:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田畑智子、田宮五郎、内田裕也、夏菜、羽賀研二、石田太郎、春田純一、山口美也子、浜田学、池内万作、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/epj9k0tmxm
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 8話の配信がTVerで始まりました。
  6/25 9:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、古畑星夏、清塚信也、白石糸、小林きな子、吉田悟郎、泉春花、芦名星、高橋努、相楽樹、山口紗弥加、塩見三省、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epb0pnq30o
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 8話の配信がTVerで始まりました。
  6/25 9:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、小日向文世 らが出演しています

  https://tver.jp/episodes/epad727kyu
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2024) 4話の配信がTVerで始まりました。
  7/3 11:59まで

  ファイルーズあい、花守ゆみり、小山力也、山下大輝、逢坂良太、安済知佳、石田彰 らが出演しています

  https://tver.jp/episodes/eptfp57srh
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 24話の配信がTVerで始まりました。
  6/26 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/ep34asws08
</p>
