---
title: 2026/05/30 のピックアップ
date: 2026-05-30
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
TVアニメ「トータル・イクリプス」全24話｜2026/5/29配信｜アニメタイムズ公式｜9:45:59
※ 2026/6/16 4:59まで

小野　大輔：ユウヤ・ブリッジス
中原　麻衣：篁 唯依(たかむら ゆい)
生天目仁美：クリスカ・ビャーチェノワ
能登麻美子：イーニァ・シェスチナ
野川さくら：タリサ・マナンダル
浜田　賢二：ヴァレリオ・ジアコーザ
大原さやか：ステラ・ブレーメル
杉田　智和：ヴィンセント・ローウェル
小山　力也：イブラヒム・ドーゥル
津田　英三：フランク・ハイネマン
斧　アツシ：イェージー・サンダーク
本田　貴子：フィカーツィア・ラトロワ
石原　夏織：崔 亦菲(ツイ・イーフェイ)
羽多野　渉：レオン・クゼ
田中　理恵：シャロン・エイム
ａｙａｍｉ：リダ・カナレス
日笠　陽子：ニイラム・ラワヌナンド
高森奈津美：フェーベ・テオドラキス

  https://youtu.be/RblBQu7yYpc
</p>

<p class="yt">
  アニメ「FAIRY TAIL」77～78話｜2026/5/30配信｜アニメタイムズ公式｜4:53:12
※ 2026/7/1(水) 10:29まで

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
辻　　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/H9-COOaQrkU
</p>

<p class="tver">
  バラエティ 朝だ！生です旅サラダ(2026) の配信がTVerで始まりました。
  6/6 14:00まで

  ※ 地中海クルーズの旅はイタリアのジェノヴァへ！志田未来は金沢を存分に楽しむ女子旅！食べて、遊んで、リフレッシュ！

  松下奈緒、藤木直人、勝俣州和、濵田崇裕(WEST.)、志田未来、山代エンナ、南圭介、大仁田美咲 らが出演しています

  https://tver.jp/episodes/epyue5a4s9
</p>

<p class="tver">
  バラエティ 欲望の果てには何がある？スクラッププラネット(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 欲望の果てには何がある？スクラッププラネット

  小泉孝太郎、坂本花織、山田涼介(Hey! Say! JUMP)、吉村崇(平成ノブシコブシ)、森富美 らが出演しています

  https://tver.jp/episodes/epbex6hidt
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 相葉＆二宮・嵐の絆を試す！すれ違い？結末は？

  相葉雅紀、えなりかずき、二宮和也 らが出演しています

  https://tver.jp/episodes/ep6ks2sglu
</p>

<p class="tver">
  バラエティ ウチワケ社会(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ サンリオピューロランド・ダイソー・スシロー・明治に潜入調査！

  劇団ひとり、岩田絵里奈、岸大将(きしたかの)、渋谷飛鳥、柏木由紀、小野寺一歩、高山一実 らが出演しています

  https://tver.jp/episodes/epvx789cmv
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 大ヒット映画の模倣犯!?レーガン元大統領“暗殺”未遂の真相

  ノブ(千鳥)、二宮和也、賀来賢人、小峠英二(バイきんぐ)、柳原可奈子、横澤夏子、正門良規(Aぇ! group)、中村海人(Travis Japan)、沢城みゆき、大塚芳忠 他

  https://tver.jp/episodes/epzaqifo8m
</p>

<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 8話の配信がTVerで始まりました。
  6/6 17:29まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/eplbg9tq47
</p>

<p class="tver">
  ドキュメンタリー 情報番組マチコミ(2026) の配信がTVerで始まりました。
  6/6 7:00まで

  ※ 元宝塚歌劇団・星組の娘役スター有沙瞳を深堀り！

  高岸宏行(ティモンディ)、森下花音、塚田舞、有沙瞳 らが出演しています

  https://tver.jp/episodes/epng2b7elm
</p>

<p class="tver">
  バラエティ 土曜はナニする！？(2026) 25回の配信がTVerで始まりました。
  6/6 8:30まで

  ※ 東京ディズニーシー25周年SP最新情報！M!LK＆=LOVE

  前編：https://tver.jp/episodes/epw8ddrhgd

  後編：https://tver.jp/episodes/epm1u0qgml

  あばれる君、塩﨑太智(M!LK)、かなで(3時のヒロイン)、磯山さやか、大谷映美里、＝LOVE、河合郁人、谷まりあ らが出演しています
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  6/6 10:29まで

※ 刃物の神様 肌に優しいカミソリ&ヤスリいらずの爪切り

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epspab0wg1
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。
  6/6 11:24まで
  ※ ［3分の番組です］愛にあふれたこだわりの家づくり！その秘密をトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/ep4qfywpsv
</p>

<p class="tver">
  ドラマ アポロの歌(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  佐藤勝利(timelesz)、高石あかり、西垣匠、森田想、河井青葉、ふかわりょう、池内博之 らが出演しています

  https://tver.jp/episodes/ep4tcmrg7x
</p>

<p class="tver">
  ドラマ 年下童貞くんに翻弄されてます(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  森香澄、柏木悠(超特急)、北村優衣、絃瀬聡一、平川結月、椛島光、朝井瞳子、鈴木康介 らが出演しています

  https://tver.jp/episodes/epu3oc3j1l
</p>

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 1～2話の配信がTVerで始まりました。
  終了日未記載

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epyeq0m0k6
</p>

<p class="tver">
  ドラマ 過保護な若旦那様の甘やかし婚(2024) 1～2話の配信がTVerで始まりました。
  終了日未記載

  高野洸、井頭愛海、大平祥生、後藤大、池田彪馬、松尾貴史、小林綾子、大和田伸也 らが出演しています

  https://tver.jp/episodes/epnqm202vg
</p>

<p class="tver">
  アニメ 炎炎ノ消防隊 弐ノ章(2020) 13～18話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、小林裕介、中井和哉、鈴村健一、上條沙恵子、市道真央、悠木碧、八代拓、阪口大助 らが出演しています

  https://tver.jp/episodes/epx9ogh5f9
</p>

<p class="tver">
  アニメ オタクに優しいギャルはいない!?(2026) の配信がTVerで始まりました。
  6/6 11:59まで

  小村将、稲垣好、芹澤優、笠間淳、小原好美、種崎敦美、加藤英美里 らが出演しています

  https://tver.jp/episodes/epgdd9i797
</p>
