---
title: 2026/7/1 のピックアップ
date: 2026-07-01
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  ドラマ ヤンキー激戦区の四天王がアイドルグループに転生したら？(2026) 4話の配信がTVerで始まりました。
  7/9 1:08まで

  ≠ME(冨田菜々風、櫻井もも、鈴木瞳美、蟹沢萌子、谷崎早耶、本田珠由記、落合希来里、永田詩央里、尾木波菜、川中子奈月心、河口夏音)、=LOVE(野口衣織、大場花菜)、味方良介、のせりん、塚地武雅(ドランクドラゴン)、相田周二(三四郎)、森下直人(ななまがり)、土佐和成、羽鳥靖子 らが出演しています

  https://tver.jp/episodes/ephux5xicg
</p>

<p class="tver">
  バラエティ 日本探求アカデミックバラエティ 火曜の良純孝太郎(2026) の配信がTVerで始まりました。
  7/7 21:00まで

  ※ テレビ初公開！新幹線スペシャル！禁断の新幹線解体＆秘密の訓練施設

  石原良純、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epw4cc7kvm
</p>

<p class="tver">
  バラエティ 巷のウワサ大検証！それって実際どうなの会(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 衝撃！バタープラスで太らない？激安ワケあり物件

  生瀬勝久、満島真之介、大島美幸(森三中)、神田愛花、横澤夏子、ザ・たっち(たくや、かずや)、狩野英孝、大島てる らが出演しています

  https://tver.jp/episodes/ep8z1wrnsb
</p>

<p class="tver">
  バラエティ 2026FNS歌謡祭 夏(2026) の配信がTVerで始まりました。
  終了日未記載

  Part1：https://tver.jp/episodes/epdpkmlkae
  Part2：https://tver.jp/episodes/epyndwbwt9
  Part3：https://tver.jp/episodes/epf6o5zpvo
  Part4：https://tver.jp/episodes/epwy5vw8lv

  相葉雅紀、井上清華、アイナ・ジ・エンド、あいみょん、ILLIT、Aぇ! group、池田エライザ、柿澤勇人、ウエンツ瑛士、木南晴夏、Kis-My-Ft2、CUTIE STREET、郷ひろみ、JI BLUE、島袋寛子、Juice=Juice、SUPER EIGHT、SUPER BEAVER、DIAMOND☆YUKAI、DISH//、TWS、TREASURE、Number_i、NEWS、NiziU、のん、HANA、BE:FIRST、日向坂46、ふぉ〜ゆ〜、ふみの、FRUITS ZIPPER、ME:I、M!LK、モナキ、緑黄色社会、礼真琴 らが出演しています
</p>

<p class="tver">
  バラエティ 磯田道史の歴史をゆく(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 信長亡き後の覇権争い。家康が見抜いていた秀吉の弱点。攻める城から守る城に…信長が築城した小牧山城を家康が鉄壁の要塞にリノベーション。巨大土塁の内部を特別公開！

  磯田道史、田中道子、平山優 らが出演しています

  https://tver.jp/episodes/epg1d7ygxx
</p>

<p class="tver">
  バラエティ キセキの動画大集合！“神”映像グランプリ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 超おマヌケからキュートな動物や赤ちゃん“神”映像！

  山里亮太(南海キャンディーズ)、田村真子、佐々木大光(KEY TO LIT)、松村沙友理、モグライダー(芝大輔、ともしげ)、松本若菜、中島歩、庄司浩平、富栄ドラム、内村遥 らが出演しています

  https://tver.jp/episodes/epr7fuap2j
</p>

<p class="tver">
  バラエティ エンタの神様(2026) の配信がTVerで始まりました。
  7/8 20:59まで

  ※ サンド&東京03&コットン&さらば&陣内&レインボー爆笑2時間SP

  福澤朗、白石美帆、青色1号、鬼越トマホーク、蛙亭、コットン、さらば青春の光、サンドウィッチマン、ジグザグジギー、陣内智則、タイムマシーン3号、チョコレートプラネット、どぶろっく、中山功太、ネルソンズ、パーパー、パンクブーブー、パンサー、ファイヤーサンダー、や団、横澤夏子、四千頭身、ラバーガール、レインボー、ロッチ らが出演しています

  https://tver.jp/episodes/eppov48it2
</p>

<p class="tver">
  バラエティ ふるさとの未来(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 山梨県「桃ソムリエ制度」

  加藤紀子、川名凜、南波雅俊 らが出演しています

  https://tver.jp/episodes/epr0yb7o0v
</p>

<p class="tver">
  ドラマ おちたらおわり(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード) らが出演しています

  https://tver.jp/episodes/epi2624m0j
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、工藤莉奈、杉本愛里 らが出演しています

  https://tver.jp/episodes/ep9uvsj1uq
</p>

<p class="tver">
  ドラマ ゴシップ＃彼女が知りたい本当の○○(2022) 10話の配信がTVerで始まりました。
  7/8 23:59まで

  黒木華、溝端淳平、野村周平、野間口徹、石井杏奈、寛一郎、一ノ瀬颯、りょう、安藤政信、生瀬勝久 らが出演しています

  https://tver.jp/episodes/eptyo5tf13
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 1話の配信がTVerで始まりました。
  終了日未記載

  ※ 3日毎に最新話配信

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/eptow4y5xw
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 9話の配信がTVerで始まりました。
  7/9 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、稲垣来泉、佐藤乃莉、光石研、烏丸せつこ、津田寛治、田中直樹(ココリコ)、松嶋菜々子 他

  https://tver.jp/episodes/eptk6igfzz
</p>

<p class="tver">
  ドラマ １８／４０～ふたりなら夢も恋も～(2023) 9話の配信がTVerで始まりました。
  7/9 23:59まで

  福原遥、深田恭子、鈴鹿央士、上杉柊平、出口夏希、長澤樹、八木勇征、嵐莉菜、佐野ひなこ、坂口涼太郎、葵揚、菊池日菜子、浦井のりひろ(男性ブランコ)、鈴木ゆうか、荒川ちか、川端結愛、ほのか、富田望生、田中幸太朗、北香那、松本若菜、高嶋政宏、片平なぎさ、安田顕 らが出演しています

  https://tver.jp/episodes/ep8zgvlhcg
</p>

<p class="tver">
  ドラマ チア☆ダン(2018) 9話の配信がTVerで始まりました。
  7/9 23:59まで

  土屋太鳳、石井杏奈、佐久間由衣、山本舞香、朝比奈彩、大友花恋、箭内夢菜、志田彩良、清水尋也、八木莉可子、伊原六花、足立佳奈、堀田真由、福地桃子、小倉ゆうか、石崎なつみ、坂ノ上茜、溝口恵、守屋ことり、佐生雪、本多力、森カンナ、木原勝利、高村佳偉人、松本若菜、夙川アトム、高橋和也、紺野まひる、新木優子、木下ほうか、阿川佐和子、オダギリジョー らが出演しています

  https://tver.jp/episodes/ep4iw2tf2s
</p>

<p class="tver">
  ドラマ 美女か野獣(2003) 11話の配信がTVerで始まりました。
  7/8 23:59まで

  松嶋菜々子、福山雅治、渡辺いっけい、八嶋智人、佐々木蔵之介、白石美帆、永井大、パパイヤ鈴木、児玉清 らが出演しています

  https://tver.jp/episodes/ep0u9uqij3
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、大西武志、上田航平、飯田基祐、樋口日奈、小島藤子、戸田昌宏 らが出演しています

  https://tver.jp/episodes/epwgi3odiw
</p>

<p class="tver">
  ドラマSP 恋は50を過ぎてから(2022) の配信がTVerで始まりました。
  終了日未記載

  ※ 2023年日本民間放送連盟賞 番組部門テレビドラマ優秀賞作品

  鶴見辰吾、鈴木杏樹、大田路、岩上隼也 らが出演しています

  https://tver.jp/episodes/epe9v2er2g
</p>

<p class="tver">
  アニメ 神の雫(2026) 12話の配信がTVerで始まりました。
  7/9 0:30まで

  亀梨和也、佐藤拓也、内田真礼、甲斐田裕子、藤真秀、渡辺美佐、内田夕夜、浦山迅、Lynn、石住昭彦、堀総士郎、小原好美、銀河万丈 らが出演しています

  https://tver.jp/episodes/epn8ap0489
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epvepeb7zn
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 8話の配信がTVerで始まりました。
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epr84z1efg
</p>

<p class="tver">
  バラエティ 徹子の部屋(2026) の配信がTVerで始まりました。
  7/8 15:00まで

  ※ 〈UTA〉モデルから俳優へ…父の言葉を胸に

  黒柳徹子、UTA らが出演しています

  https://tver.jp/episodes/ep77g93vfs
</p>

<p class="tver">
  バラエティ 土曜ゴールデン(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【傑作選】あさこ･梨乃の5万円旅24 福島縦断！絶景＆うまい酒に乾杯SP

  かたせ梨乃、いとうあさこ、遼河はるひ、高橋成美 らが出演しています

  https://tver.jp/episodes/epmr9w0y2n
</p>

<p class="tver">
  ドラマ 初恋、ざらり(2023) 5～8話の配信がTVerで始まりました。
  終了日未記載

  小野花梨、風間俊介、西山繭子、尾上紫、高山璃子、うらじぬの、西慶子、渡邊聡、若村麻由美、福澤重文、藤田仁平、富田健太郎、浜中文一 らが出演しています

  https://tver.jp/episodes/epjpporjre
</p>

<p class="tver">
  ドラマ セトウツミ(2017) 5～8話の配信がTVerで始まりました。
  終了日未記載

  高杉真宙、葉山奨之、片山友希、高橋里恩、原西孝幸(FUJIWARA)、森永悠希 らが出演しています

  https://tver.jp/episodes/epwiczu293
</p>

<p class="tver">
  ドラマ 雪女と蟹を食う(2022) 9～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  重岡大毅(WEST.)、入山法子、淵上泰史、坂口風詩、勝村政信 らが出演しています

  https://tver.jp/episodes/ep6vypwwgt
</p>

<p class="tver">
  ドラマ ひと夏の共犯者(2025) 1～4話の配信がTVerで始まりました。
  終了日未記載

  橋本将生(timelesz)、恒松祐里、永瀬莉子、丈太郎、上原あまね、秋澤美月、浅野竣哉、柾木玲弥、萩原聖人 らが出演しています

  https://tver.jp/episodes/eppvai309b
</p>

<p class="tver">
  ドラマ 終電バイバイ(2013) の配信がTVerで始まりました。
  7/8 11:59まで

  濱田岳、諷加、田中要次、鈴木拓(ドランクドラゴン)、谷中敦、東京スカパラダイスオーケストラ らが出演しています

  https://tver.jp/episodes/epzu4600tg
</p>

<p class="tver">
  ドラマ スイートモラトリアム(2023) 8話の配信がTVerで始まりました。
  7/7 11:59まで

  鈴鹿央士、小西桜子、田辺桃子、若林時英 らが出演しています

  https://tver.jp/episodes/epya38ypn5
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 6話の配信がTVerで始まりました。
  7/8 11:59まで

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、高林由紀子、津嘉山正種、佐戸井けん太、芹澤名人、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、八木さおり、泉晶子、河野洋一郎、加々美正史、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/epzqqbfn7z
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 6話の配信がTVerで始まりました。
  7/8 11:59まで

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、新谷真弓、戸田昌宏、斉藤陽一郎、滝沢沙織、櫻井淳子、陣内孝則、野際陽子 らが出演しています

  https://tver.jp/episodes/epxvhk8lgd
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 1～3話の配信がTVerで始まりました。
  終了日未記載

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epmcbf7heg
</p>

<p class="tver">
  ドラマ デスノート(2015) 1～3話の配信がTVerで始まりました。
  終了日未記載

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/eprh061ljq
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 1～3話の配信がTVerで始まりました。
  終了日未記載

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉 らが出演しています

  https://tver.jp/episodes/epm5uuehpj
</p>

<p class="tver">
  ドラマ サバイバル・ウェディング(2018) 1～3話の配信がTVerで始まりました。
  終了日未記載

  波瑠、吉沢亮、高橋メアリージュン、藤原しおり、前野朋哉、山根和馬、小越勇輝、奈緒、石田ニコル、ついひじ杏奈、風間俊介、須藤理彩、野間口徹、生瀬勝久、財前直見、荒川良々、伊勢谷友介 らが出演しています

  https://tver.jp/episodes/epkltgxe54
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 6話の配信がTVerで始まりました。
  7/8 11:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、立石涼子、朝倉あき、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、イモトアヤコ、森崎博之、福澤朗、岡田浩暉、高橋努、丸一太、菅野莉央、原アンナ、古川雄大、モロ師岡、古舘伊知郎、甲本雅裕、木下ほうか、山本學、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司 らが出演しています

  https://tver.jp/episodes/ep6mhjhgms
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 1～3話の配信がTVerで始まりました。
  終了日未記載

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也 らが出演しています

  https://tver.jp/episodes/ep00etqal0
</p>

<p class="tver">
  アニメ シドニアの騎士 第九惑星戦役(2015・2期) 全12話の配信がTVerで始まりました。
  終了日未記載

  逢坂良太、洲崎綾、豊崎愛生、金元寿子、櫻井孝宏、佐倉綾音、喜多村英梨、大原さやか、坪井智浩、子安武人、新井里美、田中敦子、本田貴子、鳥海浩輔、阪脩 他

  https://tver.jp/episodes/ephfo5sypv
</p>

<p class="tver">
  アニメ シドニアの騎士(2014・1期) 全12話の配信がTVerで始まりました。
  終了日未記載

  逢坂良太、洲崎綾、豊崎愛生、櫻井孝宏、金元寿子、喜多村英梨、大原さやか、坪井智浩、子安武人、新井里美、田中敦子、森なな子、本田貴子、鳥海浩輔、佐倉綾音、阪脩 他

  https://tver.jp/episodes/epbwivq14t
</p>

<p class="tver">
  アニメ よわよわ先生(2026) 12(最終)話の配信がTVerで始まりました。
  終了日未記載

  高野麻里佳、波多野翔、伊駒ゆりえ、篠原侑、夏吉ゆうこ、中原麻衣 らが出演しています

  https://tver.jp/episodes/ep3iuihi5x
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 16話の配信がTVerで始まりました。
  7/8 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/ep12gvnopc
</p>
