---
title: 2026/7/28 のピックアップ
date: 2026-07-28
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ BanG Dream! It's MyGO!!!!!(2023) 4話の配信がTVerで始まりました。
  8/5 1:58まで

  羊宮妃那、立石凛、青木陽菜、小日向美香、林鼓子 らが出演しています

  https://tver.jp/episodes/epbpk6vzmq
</p>

<p class="tver">
  アニメ 天は赤い河のほとり(2026) 4話の配信がTVerで始まりました。
  8/5 1:28まで

  橘美來、加藤渉、内田彩、千葉翔也、前野智昭、遊佐浩二、大野智敬、青木志貴、川井田夏海、松岡美里、石谷春貴、榎木淳弥、神尾晋一郎、鳥海浩輔、七海ひろき らが出演しています

  https://tver.jp/episodes/ep3ewlpn1p
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 6話の配信がTVerで始まりました。
  8/5 2:22まで

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/epyl518m2r
</p>

<p class="tver">
  その他 ダンダダン快進撃SP アニメダ！舞台ダ！展覧会ダ！ ダンダダン愛が止まらないンダ！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ダンダダン快進撃SP アニメダ！舞台ダ！展覧会ダ！ ダンダダン愛が止まらないンダ！

  キンタロー。、村山彩希、二宮礼夢、百名ヒロキ、田中真弓、前田春香 らが出演しています

  https://tver.jp/episodes/ep3675tw3m
</p>

<p class="tver">
  ドラマ スピナーベイト(2026) 5話の配信がTVerで始まりました。
  8/5 2:15まで

  加藤清史郎、駿河太郎、萩原護、南琴奈、奥野壮、高橋侃、吉田晴登、吉澤要人(原因は自分にある。)、伊藤あさひ、仲野温、吉村界人、山中聡、中村梅雀 らが出演しています

  https://tver.jp/episodes/epak80dumg
</p>

<p class="yt">
  アニメ 悟空の大冒険 1～4話｜2026/7/28配信｜手塚プロダクション公式チャンネル｜1:46:45
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/eGR1OXsmC-o
</p>

<p class="tver">
  ドラマ 幸せになりたいマサムネ君(2026) 4話の配信がTVerで始まりました。
  8/5 1:55まで

  中沢元紀、秋田汐梨、齊藤なぎさ、簡秀吉、前原滉 らが出演しています

  https://tver.jp/episodes/epkcxq50yn
</p>

<p class="tver">
  アニメ 「きみを愛する気はない」と言った次期公爵様がなぜか溺愛してきます(2026) 4話の配信がTVerで始まりました。
  8/5 1:59まで

  石川由依、斉藤壮馬、石川界人、安済知佳、山村響、榎木淳弥、木村良平、鈴木崚汰、浪川大輔、國府田マリ子、田村真、内田真礼 らが出演しています

  https://tver.jp/episodes/epa4pywij4
</p>

<p class="tver">
  バラエティ サンド＆キスマイの気になるマン(2026) の配信がTVerで始まりました。
  8/18 18:00まで

  ※ 25万円!?謎の高級バスツアーに完全密着SP

  サンドウィッチマン、Kis-My-Ft2、名取裕子、国仲涼子、ウエンツ瑛士 らが出演しています

  https://tver.jp/episodes/epq6n2uzra
</p>

<p class="tver">
  バラエティ バナナサンド(2026) の配信がTVerで始まりました。
  8/4 19:59まで

  ※ ハモリ我慢に俳優・千葉雄大＆元ハロプロ鈴木愛理が初参戦SP。白熱！ワード回転寿司

  ハモリ我慢：https://tver.jp/episodes/epoipo98i8
  ワード回転寿司：https://tver.jp/episodes/ep1x87km8l

  設楽統(バナナマン)、サンドウィッチマン(伊達みきお、富澤たけし)、千葉雄大、鈴木愛理、長谷川雅紀(錦鯉)、森田哲矢(さらば青春の光)、吉田結衣(カーネーション)、マユリカ(中谷、阪本) らが出演しています
</p>

<p class="tver">
  バラエティ はじめてのおつかい(2026) の配信がTVerで始まりました。
  8/4 18:59まで

  ※ 海で山で国宝で！夏の小さな大冒険 3 時間スペシャル

  前編：https://tver.jp/episodes/eplx4c7xfv
  中編：https://tver.jp/episodes/epc7ehl7ya
  後編：https://tver.jp/episodes/epfg1i4el9

  所ジョージ、森口博子、猪狩蒼弥(KEY TO LIT)、井ノ原快彦(20th Century)、中尾明慶、水野美紀、村上(マヂカルラブリー)、横澤夏子 らが出演しています
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  8/4 22:00まで

  ※ ケンコバ＆ハライチ澤部参戦！理想のパパ&自作ヒーローで6連単

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、ケンドーコバヤシ、澤部佑(ハライチ) らが出演しています

  https://tver.jp/episodes/ep8ixjof7a
</p>

<p class="tver">
  バラエティ 地球まるごと大実験 ネイチャーティーチャー(2026) の配信がTVerで始まりました。
  8/11 23:55まで

  ※ チョコプラ・timeleszが「衝撃吸収材なら、バラエティ罰ゲームをノーリアクションでこなせるのか？」に挑む！

  チョコレートプラネット(長田庄平、松尾駿)、timelesz(原嘉孝、篠塚大輝) らが出演しています

  https://tver.jp/episodes/epgw9m4xvk
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  8/4 23:58まで

  ※ 友人のフリをした敵「フレネミー」とは?SNSで「あるある」動画も話題!どう対処?

  上田晋也(くりぃむしちゅー)、ファーストサマーウイカ、NAOYA、MAZZEL、あの、SHELLY、辻愛沙子、ゆうちゃみ らが出演しています

  https://tver.jp/episodes/epo6c3rsci
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。
  8/5 0:15まで

  ＜1＞令和のテクニックで簡単に絵が上手くなる？

  Aぇ! group らが出演しています

  https://tver.jp/episodes/epu0fv05rp
</p>

<p class="tver">
  バラエティ 夜の音 -TOKYO MIDNIGHT MUSIC-(2026) の配信がTVerで始まりました。
  8/5 0:23まで

  ※ 【timelesz】リアルな本音・裏側を語る。菊池風磨＆畑芽育の音楽番組

  timelesz、畑芽育 らが出演しています

  https://tver.jp/episodes/epxt2mcck0
</p>

<p class="tver">
  バラエティ ロンドンハーツ(2026) の配信がTVerで始まりました。
  8/12 01:33まで

  ※ 【恋の行方は？】ラブマゲドン…FANTASTICSvs紅しょうがら女芸人軍団

  田村淳、山崎弘也(アンタッチャブル)、FANTASTICS、荒川(エルフ)、紅しょうが(稲田美紀、熊元プロレス)、薄幸(納言)、福田麻貴(3時のヒロイン)、吉住、吉田結衣(カーネーション) らが出演しています

  https://tver.jp/episodes/epjjo4y72z
</p>

<p class="tver">
  ドラマ ペンション・恋は桃色(2024・2期) 3話の配信がTVerで始まりました。
  8/5 1:15まで

  リリー・フランキー、斎藤工、伊藤沙莉、山口智子、関智一、剛力彩芽、JOY、益子卓郎(U字工事)、眉村ちあき、大水洋介(ラバーガール) らが出演しています

  https://tver.jp/episodes/epdi0q5lj8
</p>

<p class="tver">
  ドラマ コントラスト(2026) 5話の配信がTVerで始まりました。
  8/5 0:45まで

  井内悠陽、阿久根温世(ICEx)、冨里奈央、HAYATO、樫又龍ノ介、中山ひなの、大倉琉人、米尾賢人、中山翔貴、井上想良 らが出演しています

  https://tver.jp/episodes/ep6ckc0f4s
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 10話の配信がTVerで始まりました。
  8/4 23:59まで

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/epyd1gvbtp
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 9話の配信がTVerで始まりました。
  8/4 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/eppvtdwjru
</p>

<p class="tver">
  ドラマ 君の好きは無敵(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  松本若菜、佐野勇斗(M!LK)、小野花梨、金田哲(はんにゃ.)、中村隼人、白本彩奈、川崎健太、芹澤興人、くっきー!(野性爆弾)、島崎和歌子、藤井隆、あの、高嶋政伸、本郷奏多、白石加代子 らが出演しています

  https://tver.jp/episodes/epg99a3u9t
</p>

<p class="tver">
  ドラマ さよならノワール(2026) 4話の配信がTVerで始まりました。
  8/4 21:00まで

  小池栄子、北香那、岡山天音、荒川良々、味方良介、濱尾ノリタカ、眞島秀和、戸田恵子、渡部篤郎、岩瀬洋志、糸瀬七葉、福崎那由他、玉井らん らが出演しています

  https://tver.jp/episodes/ep8hreh63m
</p>

<p class="tver">
  ドラマ クロスロード ～救命救急の約束～(2026) 4話の配信がTVerで始まりました。
  8/4 21:54まで

  今田美桜、磯村勇斗、寛一郎、泉澤祐希、小雪、戸次重幸、船越英一郎 らが出演しています

  https://tver.jp/episodes/ep2cy2c98s
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのは EXCEEDS Gun Blaze Vengeance(2026) 4話の配信がTVerで始まりました。
  8/5 0:59まで

  橘杏咲、日高里菜、田村ゆかり、水樹奈々、植田佳奈、ゆかな、結川あさき、千春、小林愛香、伊藤彩沙、青木陽菜、上坂すみれ らが出演しています

  https://tver.jp/episodes/ep39uzu3h6
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 88話の配信がTVerで始まりました。
  7/31 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/eprgtf6eqk
</p>

<p class="tver">
  アニメ 岩元先輩ノ推薦(2026) 4話の配信がTVerで始まりました。
  8/4 23:00まで

  坂泰斗、榊原優希、伊東健人、石田彰、福西勝也、永塚拓馬、佐藤元、徳留慎乃佑 らが出演しています

  https://tver.jp/episodes/eps4bln78g
</p>

<p class="tver">
  アニメ 令和のダラさん(2026) 4話の配信がTVerで始まりました。
  8/4 22:00まで

  田村睦心、津田美波、寺澤百花、古賀葵、杉田智和、相沢舞、早見沙織、大塚芳忠、てらそままさき らが出演しています

  https://tver.jp/episodes/epbw7tl4dq
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中Ⅱ(2026) 3話の配信がTVerで始まりました。
  8/4 20:00まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、関俊彦、小野賢章、上田瞳、諏訪部順一、赤羽根健治、岩田光央、四宮豪、江口拓也、大久保瑠美、鳥海浩輔、皆口裕子、中博史、竹内良太、濱健人、大西沙織、山根綺、逢田梨香子、河西健吾、白石稔、石田彰 らが出演しています

  https://tver.jp/episodes/ep1g18zymn
</p>

<p class="tver">
  アニメ メカアマト(2026・4期) 4話の配信がTVerで始まりました。
  8/11 19:57まで

  村瀬歩、松岡禎丞、白石涼子、加藤英美里、大谷理美 らが出演しています

  https://tver.jp/episodes/ept7lrt03s
</p>

<p class="tver">
  アニメ ウルトラマン80（HDリマスター版）(1980) 26話の配信がTVerで始まりました。
  8/4 19:00まで

  長谷川初範、中山仁、石田えり、大門正明、梅津栄、石山雄大、幸田宗丸 らが出演しています

  https://tver.jp/episodes/epyiyh5rus
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 148～150話の配信がTVerで始まりました。
  8/11 17:59まで

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epzdw4wa6w
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 9話の配信がTVerで始まりました。
  8/11 23:59まで

  武田梨奈 らが出演しています

  https://tver.jp/episodes/epadf3n5zo
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 1回の配信がTVerで始まりました。
  終了日未記載

  ※ (配信限定)別班、公安に復讐するため、今宵もTBSラジオの電波をジャックする…日曜の夜は、終わらない――。

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/epti5vox2v
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 3話の配信がTVerで始まりました。
  8/4 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epfdygbo6c
</p>

<p class="tver">
  アニメ ピッカルチャーBLEACHの魅力にピカッと世界横断SP(2026) の配信がTVerで始まりました。
  8/11 16:59まで

  ※ [タイトル変更しました]世界で行われた先行上映イベントに潜入！前編ではフランスのBLEACH愛が強いファンにインタビュー！そしてピッカルチャー恒例！？サンシャイン池崎のBLEACH一気見企画も！

  高杉真宙、せいや(霜降り明星)、東京ホテイソン、森田成一 らが出演しています

  https://tver.jp/episodes/epy9mbzyi6
</p>

<p class="tver">
  アニメ 忘却バッテリー(2024) 4～6話の配信がTVerで始まりました。
  8/11 16:59まで

  増田俊樹、宮野真守、阿座上洋平、島崎信長、梶裕貴、山谷祥生、大塚剛央、石井マーク、河西健吾 らが出演しています

  https://tver.jp/episodes/epsqhjkwhz
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 46話の配信がTVerで始まりました。
  8/4 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epwommnlo2
</p>

<p class="yt">
  ふしぎな島のフローネ 34～36話｜2026/7/27配信｜日本アニメーション・シアター｜1:16:55
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/f1I9jW7er3g
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/4 12:00まで

  ※ 今回は特別編。東京宝塚劇場宙組公演の魅力を熱く語ります

  中井美穂、風間柚乃、礼華はる、立川らく次 らが出演しています

  https://tver.jp/episodes/ep53v7mh27
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 5話の配信がTVerで始まりました。
  8/3 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、石橋杏奈、森岡龍、坪倉由幸(我が家)、大島さと子、日野陽仁、白井晃、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epvd76jf9c
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 6話の配信がTVerで始まりました。
  8/4 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、要潤、小手伸也、佐野勇斗(M!LK)、佐藤栞里、フォンチー、猪塚健太、工藤美桜、谷遼、湯川尚樹、菜々緒、鶴見辰吾、橋本さとし、渡辺真起子、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep3y9xgc90
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 4話の配信がTVerで始まりました。
  8/4 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、ファーストサマーウイカ、古川琴音、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ep3g0h63gn
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 4話の配信がTVerで始まりました。
  8/4 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/eplu3pati1
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 4話の配信がTVerで始まりました。
  8/4 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ephf2dlhqc
</p>

<p class="tver">
  アニメ うちの弟どもがすみません(2026) 4話の配信がTVerで始まりました。
  8/4 12:00まで

  大空直美、増田俊樹、八代拓、小野賢章、寺澤百花、小野大輔、遠藤綾 らが出演しています

  https://tver.jp/episodes/epbq2dq4fd
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 17話の配信がTVerで始まりました。
  8/4 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/ep1g5kcss0
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 4話の配信がTVerで始まりました。
  8/11 08:30まで

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/epejk693iz
</p>
