---
title: 2026/6/30 のピックアップ
date: 2026-06-30
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="yt">
  アニメ「A KITE INTERNATIONAL VERSION」｜2026/5/29配信｜アニメタイムズ公式｜47:17
※ 2028/3/31(金) 23:59まで。インターナショナルバージョンとは、アダルトシーンを削除して、アクション要素を強めたR指定バージョン。英語吹き替え(?)詳細の記載なし。

鳴瀬　琴美：砂羽
小山田慎吾：音不利
渋沢　五郎：赤井
的場　辰夫：蟹江

  https://youtu.be/ssOcffgEAFM
</p>

<p class="tver">
  バラエティ ～あなたの知らないNO.1～選ばれし頂点サマ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【今夜限りの衝撃ワザ連発SP】史上初！？プラレールで東京駅完全再現も

  カズレーザー(メイプル超合金)、小峠英二(バイきんぐ)、濵田崇裕(WEST.)、山下リオ、朝日奈央、武知海青 らが出演しています

  https://tver.jp/episodes/epdg77mul6
</p>

<p class="tver">
  ドラマ 弁護士ソドム(2023) 5～7(最終)話の配信がTVerで始まりました。
  終了日未記載

  福士蒼汰、玄理、加藤清史郎、山下美月、古川雄輝、でんでん、高岡早紀、勝村政信、光石研、真飛聖 らが出演しています

  https://tver.jp/episodes/epibyi49dq
</p>

<p class="tver">
  ドラマ 初恋、ざらり(2023) 1～4話の配信がTVerで始まりました。
  終了日未記載

  小野花梨、風間俊介、西山繭子、尾上紫、高山璃子、うらじぬの、西慶子、渡邊聡、若村麻由美 らが出演しています

  https://tver.jp/episodes/ep8dcdn4hr
</p>

<p class="tver">
  ドラマ セトウツミ(2017) 1～4話の配信がTVerで始まりました。
  終了日未記載

  高杉真宙、葉山奨之、清原果耶、森永悠希 らが出演しています

  https://tver.jp/episodes/epi4ait11f
</p>

<p class="tver">
  ドラマ 雪女と蟹を食う(2022) 5～8話の配信がTVerで始まりました。
  終了日未記載

  重岡大毅(WEST.)、入山法子、久保田紗友、橋本萌花、ほのかりん、齋藤里菜、勝村政信 らが出演しています

  https://tver.jp/episodes/ep9733xax1
</p>

<p class="tver">
  ドラマ 闇バイト家族(2024) 9～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  鈴鹿央士、山本舞香、吹越満、綾田俊樹、麻生祐未、光石研、山口祥行、諏訪太朗、見津賢、夏生大湖、丸山智己、三上市朗、木村知貴、長妻怜央、中村ゆりか、カトウシンスケ 他

  https://tver.jp/episodes/epeslvo0am
</p>

<p class="tver">
  ドラマ ザ・ロイヤルファミリー(2025) 8話の配信がTVerで始まりました。
  7/7 11:59まで

  妻夫木聡、目黒蓮(Snow Man)、松本若菜、安藤政信、高杉真宙、吉沢悠、津田健次郎、長内映里香、秋山寛貴(ハナコ)、市原匠悟、中川大志、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep8wx59r1l
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  7/7 12:00まで

  ※ 東京宝塚劇場月組公演「RYOFU」「水晶宮殿」に出演中の礼華はるさんをお迎えして出演中の舞台のお話をお伺いします

  中井美穂、礼華はる、立川らく次 らが出演しています

  https://tver.jp/episodes/epe9iykyii
</p>

<p class="tver">
  ドラマ 高校教師（藤木直人、上戸彩）(2003) 10話の配信がTVerで始まりました。
  7/7 9:59まで

  藤木直人、上戸彩、ソニン、成宮寛貴、眞鍋かをり、大倉孝二、蒼井優、菅原大吉、矢沢幸治、真実一路、小島聖、京本政樹、眞野あずさ らが出演しています

  https://tver.jp/episodes/eptfzjpj5h
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 15話の配信がTVerで始まりました。
  7/7 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epx7j7h1lk
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 12(最終)話の配信がTVerで始まりました。
  7/7 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/epeke5ih87
</p>

<p class="tver">
  アニメ それが声優！(2015) 13(最終)話の配信がTVerで始まりました。
  7/14 8:30まで

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/epy00gwcx0
</p>
