---
title: 2026/8/13 のピックアップ
date: 2026-08-13
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  ショート映画「Shortcakes」(2005)｜2026/8/12配信｜AMG公式チャンネル｜42:05
  ※ 期間限定だと思いますが期限が書いていないのでお早めに

相武紗季、澤田育子、千綿ヒデノリ、アーサー・ホーランド、真中瞳、中村まこと、田中伸子、三田恭平、三木黄太、辻修、信川清順、岡村洋一、袴田吉彦 らが出演しています

  https://youtu.be/iPtxlfGcNFw
</p>

<p class="yt">
  アニメ「本好きの下剋上 司書になるためには手段を選んでいられません 第2期」全12話｜2026/8/13配信｜アニメタイムズ公式｜4:44:13
  ※ 2026/8/29(土) 16:59まで

  井口裕香：マイン
  速水奨：フェルディナンド
  田村睦心：ルッツ
  子安武人：ベンノ
  中島愛：トゥーリ
  小山剛志：ギュンター
  折笠富美子：エーファ
  日野聡：オットー
  前野智昭：マルク
  内田彩：フリーダ
  三瓶由布子：ギル
  狩野 翔：フラン
  都丸ちよ：デリア
  鈴木みのり：ロジーナ
  安野希世乃：ヴィルマ

  https://youtu.be/OZ6wdaN7SoA
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 7話の配信がTVerで始まりました。
  8/20 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epslaaaj80
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 9話の配信がTVerで始まりました。
  8/20 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epdjb0111x
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 19話の配信がTVerで始まりました。
  8/20 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep5heuicyh
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 7話の配信がTVerで始まりました。
  8/19 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、マギー、阿南敦子、山野海、六平直政、津田健次郎、青木一平、増岡裕子、天野優、今井優希、良原安美、ファーストサマーウイカ、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epsdkxdb53
</p>

<p class="tver">
  ドラマ まっしろ(2015) 5話の配信がTVerで始まりました。
  8/19 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、竜雷太、山口馬木也、細田善彦、松山メアリ、滝沢恵、新貝文規、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/epr39huz9y
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 8話の配信がTVerで始まりました。
  8/20 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、大路恵美、高橋洋、迫田孝也、津嘉山正種、橋爪淳、小手伸也、水橋研二、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epf1qw6419
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 10～11話の配信がTVerで始まりました。
  8/19 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、野村たかし、古川りか、大方斐紗子、伊佐山ひろ子、西田健、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epb6v46vnq
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 6話の配信がTVerで始まりました。
  8/19 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、中島ひろ子、宍戸美和公、小柳友、麻木玲那、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2ko89n1q
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 9話の配信がTVerで始まりました。
  8/20 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、南明奈、新井康弘、中村ゆうじ、河野洋一郎、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/ep0yer7el6
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2023) 5話の配信がTVerで始まりました。
  8/20 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/eptgy8fk2z
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 和田明日香がエビのタルタルブルスケッタを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/eptvikml1r
</p>
