---
title: 2026/8/5 のピックアップ
date: 2026-08-05
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  原西&岡村のクワガタ捕り!(前編)｜2026/8/3配信｜原西フィッシング倶楽部｜38:32

  ※ FUJIWARA原西とナインティナイン岡村の2人が、クワガタ捕りに挑みます

  岡村隆史(ナインティナイン)、原西孝幸(FUJIWARA) らが出演しています

  https://youtu.be/uFnH1m6RRWc
</p>

<p class="yt">
  野生のミヤマクワガタをとりたい!in福島県田村市クワガタサミット｜2026/8/1配信｜ひよりの虫日記｜27:24

  ※ ドラマ ウイングマンにも出演していた片田陽依がクワガタサミットに参加。虫取りをしている動画

  片田陽依 らが出演しています

  https://youtu.be/3CD5BZ8bY6E
</p>

<p class="tver">
  ドラマ 夜空に預けたもの 前編(2026) の配信がTVerで始まりました。
  終了日未記載

  星咲花那、三橋加奈子、中井りか、美燈みなみ、宮崎あみさ、菅原りこ、北原里英 らが出演しています

  https://tver.jp/episodes/epvwa62hp4
</p>

<p class="tver">
  バラエティ Travis JapanノJUST！シン日本遺産(2026) 4回の配信がTVerで始まりました。
  8/13 2:45まで

  ※ 宮城県に４つのJUST！

  Travis Japan(宮近海斗、中村海人、七五三掛龍也、川島如恵留、吉澤閑也、松田元太、松倉海斗) らが出演しています

  https://tver.jp/episodes/ep45a8pkcd
</p>

<p class="tver">
  バラエティ ドラマチックに！喋ってお焚き上げ(2026) の配信がTVerで始まりました。
  9/2 23:59まで

  ※ 浮気に対する制裁＆自分へのご褒美グルメ

  ファーストサマーウイカ、渡辺真起子、岡田結実、吉田結衣(カーネーション) らが出演しています

  https://tver.jp/episodes/epr0fzhg84
</p>

<p class="tver">
  バラエティ ごぶごぶ(2026) の配信がTVerで始まりました。
  9/5 23:59まで

  ※ ごぶごぶフェス2026 2時間SP 前半【浜田雅功発案！音楽イベント豪華アーティスト12組】

  前半：https://tver.jp/episodes/epboqgi9zy
  後半：https://tver.jp/episodes/ep6cx5wzcq

  浜田雅功(ダウンタウン)、近藤真彦、奥田民生、アイナ・ジ・エンド、サンボマスター、DISH//、湘南乃風、ももいろクローバーZ、東方神起、新しい学校のリーダーズ、SOPHIA らが出演しています
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 6話の配信がTVerで始まりました。
  8/13 0:59まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮 らが出演しています

  https://tver.jp/episodes/ep8ephcp0r
</p>

<p class="tver">
  バラエティ ふるさとの未来(2026) の配信がTVerで始まりました。
  9/3 00:57まで

  ※ フリマアプリ「スニーカーダンク」の真贋鑑定がスゴ過ぎた！

  加藤紀子、川名凜、駒田健吾 らが出演しています

  https://tver.jp/episodes/eplgwogg5r
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 17話の配信がTVerで始まりました。
  8/27 01:29まで

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫、川島零士、安野希世乃、富田美憂、緑川光、櫻井孝宏 らが出演しています

  https://tver.jp/episodes/eprlo2rv29
</p>

<p class="tver">
  ドラマ ヤンキー激戦区の四天王がアイドルグループに転生したら？(2026) 9話の配信がTVerで始まりました。
  8/13 0:58まで

  ≠ME(冨田菜々風、櫻井もも、鈴木瞳美、蟹沢萌子、尾木波菜)、=LOVE(野口衣織、大場花菜)、のせりん、ゆいかれん、京典和玖、≒JOY(天野香乃愛、市原愛弓、江角怜音)、味方良介、塚地武雅(ドランクドラゴン) らが出演しています

  https://tver.jp/episodes/ep9czrj51c
</p>

<p class="tver">
  バラエティ 真夏の絶恐映像 日本で一番コワい夜(2021) の配信がTVerで始まりました。
  9/4 23:59まで

  ※ [Part1]伝説の霊能者「宜保愛子」一夜限りの秘蔵映像が解禁！[Part2]霊能者“宜保愛子”TV初公開テープ＆秘話

  part1：https://tver.jp/episodes/eptlxsj3j5
  part2：https://tver.jp/episodes/epnofpol6e

  的場浩司、西村知美、藤田ニコル、あばれる君、神田愛花、津田寛治、錦鯉、島崎遥香、井上咲楽、別府ともひこ(エイトブリッジ) らが出演しています
</p>

<p class="tver">
  バラエティ 真夏の怪奇ファイル 見えてしまった…招かれざるモノたち(2025) の配信がTVerで始まりました。
  9/4 23:59まで

  ※ 悪夢の再現…体験者たちが告白する侵食する怪異 背筋も凍る“怪奇の世界”を完全再現

  part1：https://tver.jp/episodes/epl3n93lta
  part2：https://tver.jp/episodes/epyxm3hstn

  柴田英嗣(アンタッチャブル)、神田愛花、大西流星(なにわ男子)、谷まりあ、矢吹奈子、鬼越トマホーク、村重杏奈、ザ・マミィ、村川緋杏(CANDY TUNE)、鈴木砂羽、日野聡、山口由里子 らが出演しています

</p>

<p class="tver">
  バラエティ 大分交通130周年記念番組 良純＆村重の大分タイムトラベル～ＡＩでよみがえる廃線の記憶～(2026) の配信がTVerで始まりました。
  9/5 23:59まで

  ※ かつて、大分県を走っていた、別大線、宇佐参宮線、耶馬渓線の3つの廃線をたどる歴史紀行

  石原良純、村重杏奈、江藤祐介 らが出演しています

  https://tver.jp/episodes/ep75xtmefb
</p>

<p class="tver">
  バラエティ 巷のウワサ大検証！それって実際どうなの会(2026) の配信がTVerで始まりました。
  9/2 18:59まで

  ※ 食後のお酢に驚きの効果！？食前と食後、運動するなら？

  生瀬勝久、満島真之介、大島美幸(森三中)、新川優愛、チャンカワイ(Wエンジン)、餅田コシヒカリ、大橋ミチ子、国本梨紗 らが出演しています

  https://tver.jp/episodes/ept6gtwy4v
</p>

<p class="tver">
  バラエティ 奇跡体験！アンビリバボー(2026) の配信がTVerで始まりました。
  8/19 19:00まで

  ※ UFO・UAP！最新映像＆ミステリー騒動SP！

  バナナマン(設楽統、日村勇紀)、小室瑛莉子、冨里奈央、ハシヤスメ・アツコ、小森隼 らが出演しています

  https://tver.jp/episodes/ep9adg6mby
</p>

<p class="tver">
  バラエティ わが家の最寄りは秘境駅(2026) の配信がTVerで始まりました。
  9/4 23:59まで

  ※ 北海道２時間SP！雪の宗谷本線

  六角精児 らが出演しています

  https://tver.jp/episodes/ep2crrdl7q
</p>

<p class="tver">
  バラエティ 上田と女が吠える夜(2026) の配信がTVerで始まりました。
  8/12 20:59まで

  ※ 男の子ママの悩み大発表SP!夏休みも大暴れ!?反抗期の葛藤

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、若槻千夏、ファーストサマーウイカ、津田篤宏(ダイアン)、木村沙織、茂森あゆみ、辻希美、土屋アンナ、中越典子、橋本マナミ、吉川ひなの らが出演しています

  https://tver.jp/episodes/epeh4gwto3
</p>

<p class="tver">
  バラエティ ホンマでっか！？TV(2026) の配信がTVerで始まりました。
  8/12 21:00まで

  ※ 夏休み緊急SP元警察官が警告！真夏の最新犯罪

  明石家さんま、井上清華、EXIT、島崎和歌子、ブラックマヨネーズ、磯野貴理子、橋本環奈、京師美佳、佐々木成三 らが出演しています

  https://tver.jp/episodes/epm8gnn2am
</p>

<p class="tver">
  バラエティ ニノなのに(2026) の配信がTVerで始まりました。
  9/2 20:53まで

  ※ 司会は中島歩！花火大会の帰りは何が一番早い？

  二宮和也、中島歩、夏帆、高橋文哉、金子貴俊、塚田僚一(A.B.C-Z)、ワタリ119、鈴木亮平、赤楚衛二 らが出演しています

  https://tver.jp/episodes/epjn18eqp1
</p>

<p class="tver">
  バラエティ 賞金先渡しクイズ SAVE MONEY(2026) 16回の配信がTVerで始まりました。
  8/12 23:58まで

  ※ 【織田信成今年の１月～３月の３か月間で何回泣いた？】【岡野陽一 財布の中の現金いくら？】予測不能！？タレント楽屋クイズ！あなたは攻略できる？

  劇団ひとり、山崎樹範、山口もえ、峯岸みなみ、ナダル(コロコロチキチキペッパーズ)、織田信成、岡野陽一 らが出演しています

  https://tver.jp/episodes/epus0fha9m
</p>

<p class="tver">
  バラエティ いたジャン！(2026) 107回の配信がTVerで始まりました。
  8/13 0:15まで

  ※ 1Kルームコーディネート対決

  Hey! Say! JUMP(山田涼介、知念侑李、有岡大貴、髙木雄也、伊野尾慧、八乙女光、薮宏太)、蓮見翔(ダウ90000) らが出演しています

  https://tver.jp/episodes/epcgnjs3kj
</p>

<p class="tver">
  ドラマ おちたらおわり(2026) 6話の配信がTVerで始まりました。
  8/13 0:23まで

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード)、簡秀吉 らが出演しています

  https://tver.jp/episodes/epkf8tle3e
</p>

<p class="tver">
  ドラマ ドライな同期の溺愛癖(2026) 5話の配信がTVerで始まりました。
  8/13 0:29まで

  ゆいかれん、藤林泰也、小栗有以(AKB48)、京典和玖、半田周平 らが出演しています

  https://tver.jp/episodes/epwpnqjtka
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 2話の配信がTVerで始まりました。
  終了日未記載

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/epyeo3ikph
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 6話の配信がTVerで始まりました。
  8/13 23:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、ドロンズ石本、田中みな実、瀧内公美、池田鉄洋、三石琴乃、堺正章、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epp1arah1m
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 6話の配信がTVerで始まりました。
  8/12 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、小島藤子、大西武志、猪塚健太、圷智弘、樋口勇作、富田黎、戸田昌宏、山崎紘菜 らが出演しています

  https://tver.jp/episodes/ep5695219f
</p>

<p class="tver">
  ドラマ Tokyo middle 30(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  仲里依紗、のん、深川麻衣、渡辺大知、朝井大智、中島颯太、風間俊介、堀内敬子 らが出演しています

  https://tver.jp/episodes/eppu5j8vit
</p>

<p class="tver">
  ドラマ ファーストクライ 母子救命救急班(2026) 5話の配信がTVerで始まりました。
  8/12 21:59まで

  比嘉愛未、松島聡(timelesz)、徳永えり、濱正悟、川西賢志郎、優希美青、遠山俊也、前田敦子、山村紅葉、岡部たかし、真矢ミキ、工藤遥、河村花、平澤宏々路 らが出演しています

  https://tver.jp/episodes/epmzana0do
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2026・2期) 3話の配信がTVerで始まりました。
  終了日未記載

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、望月歩、きたろう、野添義弘 らが出演しています

  https://tver.jp/episodes/epzfy2wn9u
</p>

<p class="tver">
  アニメ 神の雫(!2026) 17話の配信がTVerで始まりました。
  8/13 0:30まで

  亀梨和也、佐藤拓也、内田真礼、甲斐田裕子、藤真秀、渡辺美佐、内田夕夜、浦山迅、Lynn、石住昭彦、堀総士郎、小原好美、銀河万丈 らが出演しています

  https://tver.jp/episodes/epth0aibjf
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 6話の配信がTVerで始まりました。
  8/13 0:00まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epepxhfsd8
</p>

<p class="tver">
  アニメ いびってこない義母と義姉(2026) 4話の配信がTVerで始まりました。
  8/12 23:29まで

  くじら、芹澤優、貫井柚佳、麦穂あんな、根本京里、内山夕実、市道真央 らが出演しています

  https://tver.jp/episodes/epld4fzkr0
</p>

<p class="tver">
  アニメ 探偵はもう、死んでいる。(2021) 5話の配信がTVerで始まりました。
  8/19 22:30まで

  長井新、宮下早紀、竹達彩奈、高尾奏音、白砂沙帆、長縄まりあ、松岡禎丞、渕上舞、子安武人 らが出演しています

  https://tver.jp/episodes/ep50zsxgpf
</p>

<p class="tver">
  アニメ メイドインアビス(2019) 1話の配信がTVerで始まりました。
  終了日未記載

  富田美憂、伊瀬茉莉也、井澤詩織、大原さやか、豊崎愛生、田村睦心、沼倉愛美、塙真奈美、村田太志、坂本真綾 らが出演しています

  https://tver.jp/episodes/epanvd0e2q
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 17話の配信がTVerで始まりました。
  8/12 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/ep6fgqkreg
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 11話の配信がTVerで始まりました。
  8/12 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epgj6z0htx
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 1話の配信がTVerで始まりました。
  9/4 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep3me4x6a0
</p>

<p class="tver">
  アニメ ダイヤのA actⅡ -Second Season-(2026) 7～9話の配信がTVerで始まりました。
  8/19 16:59まで

  逢坂良太、島崎信長、櫻井孝宏、内田雄馬、浅沼晋太郎、花江夏樹、武内駿輔、山下大輝、村瀬歩、畠中祐 らが出演しています

  https://tver.jp/episodes/epcinbaw65
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 4～5話の配信がTVerで始まりました。
  8/12 11:59まで

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉、小市慢太郎 らが出演しています

  https://tver.jp/episodes/epzraeo73v
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 3話の配信がTVerで始まりました。
  8/14 11:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、瑳川哲朗、長谷川博己、小日向文世 らが出演しています

  https://tver.jp/episodes/epw80ql3xx
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 8話の配信がTVerで始まりました。
  8/12 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、松本実、金子ゆい、大山竜一、肥後克広、ダチョウ倶楽部、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/epuybruebq
</p>

<p class="tver">
  ドラマ リバース(2017) 5話の配信がTVerで始まりました。
  8/12 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、村井國夫、山崎銀之丞、趣里、篠原ゆき子、古田結凪、山口まゆ、鈴木仁、バッファロー吾郎A(バッファロー吾郎)、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epp6muxsb2
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 9話の配信がTVerで始まりました。
  8/11 11:59まで

  佐藤健、黒木華、柄本佑、高岡早紀、林泰文、坪倉由幸(我が家)、天野慶久、森岡龍、大鷹明良、瀬戸利樹、鈴木亮平、浅野和之、木場勝己、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epaed1espn
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 9話の配信がTVerで始まりました。
  9/5 23:59まで

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、小曽根叶乃、橋本じゅん らが出演しています

  https://tver.jp/episodes/epavmbrz34
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 6～7話の配信がTVerで始まりました。
  8/12 11:59まで

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epptq0qocq
</p>

<p class="tver">
  ドラマ デスノート(2015) 4～5話の配信がTVerで始まりました。
  8/12 11:59まで

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/epuvlvamdo
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 6話の配信がTVerで始まりました。
  8/12 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、ウエンツ瑛士、佐藤仁美、西原亜希、伊藤修子、向里祐香、さいとうなり、江端英久、さだまさし らが出演しています

  https://tver.jp/episodes/ep8txmyg8n
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 5話の配信がTVerで始まりました。
  8/12 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、忍成修吾、田中要次、森下能幸、滝沢沙織、篠田拓馬、綾部守人、銀粉蝶、鹿内孝、遠山俊也、春田純一、海保知里、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/ep1uflt87s
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 4～5話の配信がTVerで始まりました。
  8/12 11:59まで

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也、広瀬アリス、映梨那、西井幸人、上遠野太洸、菅田将暉、野村周平、高杉真宙、東根作寿英 らが出演しています

  https://tver.jp/episodes/eprtftf6yz
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 5話の配信がTVerで始まりました。
  8/12 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、市川由衣、戸次重幸、笹野高史、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/ep12a6ifkh
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 25(最終)話の配信がTVerで始まりました。
  8/12 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epykccxogi
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 13話の配信がTVerで始まりました。
  8/19 08:30まで

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epdwddnph3
</p>
