---
title: 2026/9/23 のピックアップ
date: 2026-09-23
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 本好きの下剋上 領主の養女(2026) 14～16話の配信がTVerで始まりました。 24分
  9/29 18:00まで

  井口裕香、速水奨、井上和彦、高山みなみ、寺崎裕香、森川智之、井上喜久子、梅原裕一郎、瀬戸麻沙美、東山奈央、子安武人、前野智昭、田村睦心、狩野翔、三瓶由布子、安野希世乃、中島愛、小山剛志、折笠富美子 らが出演しています

  https://tver.jp/episodes/ep29iozv89
</p>

<p class="tver">
  バラエティ 怒られちゃった自慢(2026) の配信がTVerで始まりました。 49分
  終了日未記載

  ※ 【配信オリジナル未公開トークも！】なにわ男子・藤原がSnow Man向井、なにわ大橋と怒られた激アツ青春エピソード

  津田篤宏(ダイアン)、柳沢慎吾、アンミカ、みなみかわ、藤原丈一郎(なにわ男子)、村重杏奈、HG(レイザーラモン)、中根舞美 らが出演しています

  https://tver.jp/episodes/epqvd18xjv
</p>

<p class="tver">
  ドラマ 鉄オタ道子、2万キロ(2022) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  玉城ティナ、明逸人、青坂章子、栗原類 らが出演しています

  https://tver.jp/episodes/ep6bboiyrt
</p>

<p class="tver">
  ドラマ 五十嵐夫妻は偽装他人(2025) 9～12(最終)話の配信がTVerで始まりました。 26分
  終了日未記載

  新川優愛、塩野瑛久、兵頭功海、田辺桃子、水橋研二、相島一之、黒木瞳、平塚日菜、川久保三子、福澤重文、中島ひろ子、藤夏子 らが出演しています

  https://tver.jp/episodes/ept78yn6qy
</p>

<p class="tver">
  ドラマ 量産型リコ -もう1人のプラモ女子の人生組み立て記-(2023) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、望月歩、前田旺志郎、市川由衣、矢柴俊博、藤井夏恋、石田悠佳、天川れみ(LINKL PLANET)、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/epqfytz8sf
</p>

<p class="tver">
  ドラマ 量産型リコ -プラモ女子の人生組み立て記-(2022) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  与田祐希、藤井夏恋、望月歩、中島歩、前田旺志郎、石川恵里加、与座よしあき、森下能幸、マギー、田中要次 らが出演しています

  https://tver.jp/episodes/epjdtyp6nh
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 99(最終)話の配信がTVerで始まりました。 24分
  9/30 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epeu41p2k0
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 36話の配信がTVerで始まりました。 24分
  9/30 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epj8u09d9z
</p>

<p class="tver">
  バラエティ なにわAぇ! の放送させてください！～お蔵入りはドレだ!? 生国民投票ロケバトル～(2026) の配信がTVerで始まりました。 49分
  終了日未記載

  ※ なにわ男子×Aぇ! group ガチンコ対決

  前編：https://tver.jp/episodes/epzdj51ye2
  後編：https://tver.jp/episodes/eppni3dv5s

  なにわ男子(西畑大吾、大西流星、道枝駿佑、高橋恭平、長尾謙杜、藤原丈一郎、大橋和也)、Aぇ! group(正門良規、末澤誠也、小島健、佐野晶哉)、山里亮太(南海キャンディーズ)、春日俊彰(オードリー)、森田哲矢(さらば青春の光)、ビスケットブラザーズ(きん、原田泰雅)、くっきー!(野性爆弾)、千葉繁 らが出演しています
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 12(最終)話の配信がTVerで始まりました。 43分
  10/7 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、金剛地武志、大沢ひかる、遊井亮子、森岡豊、野波麻帆、寺脇康文 らが出演しています

  https://tver.jp/episodes/epeqfxqbtj
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 9話の配信がTVerで始まりました。 43分
  10/7 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、井上肇、永岡佑、川床明日香、奥野壮、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep9mrsoeey
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 10(最終)話の配信がTVerで始まりました。 42分
  9/30 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/ep6sqt0sxo
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 10(最終)話の配信がTVerで始まりました。 43分
  9/30 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、矢田亜希子、桜田通、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/ep0wd34l02
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 3話の配信がTVerで始まりました。 6分
  終了日未記載

  ※ ドラマ「サ道」チームが手掛ける特別番組「おつとめさん」（ナレーション：三宅弘城）

  三宅弘城 らが出演しています

  https://tver.jp/episodes/ep0u4jciod
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 7話の配信がTVerで始まりました。 47分
  10/2 11:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、望月章男、シャカ大熊、井上肇、神野三鈴、井上芳雄、中村アン、高橋光臣、好井まさお、ユースケ・サンタマリア、高橋英樹、市川実日子、木場勝己、石黒英雄、梅沢富美男、和田アキ子、三田佳子、香川照之 らが出演しています

  https://tver.jp/episodes/epw8jq0uzt
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 7話の配信がTVerで始まりました。 47分
  10/2 11:59まで

  仲間由紀恵、リュ・シウォン、大倉孝二、袴田吉彦、鈴木浩介、入江慎也、吉瀬美智子、田中哲司、大浦龍宇一、金子昇、名高達男、入山法子、森下能幸、益岡徹、泉ピン子 らが出演しています

  https://tver.jp/episodes/epkuu5b9p8
</p>

<p class="tver">
  ドラマ サ道 2026～人生をサボりながら、ととのう～(2026) 5話の配信がTVerで始まりました。 17分
  終了日未記載

  原田泰造(ネプチューン)、三宅弘城、橋本将生(timelesz) らが出演しています

  https://tver.jp/episodes/epx1xqq5w8
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 23話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epz0jdy82m
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 98話の配信がTVerで始まりました。 24分
  9/30 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/eppuuisysa
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 46話の配信がTVerで始まりました。 25分
  9/30 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/ept5hgkq2u9
</p>

<p class="tver">
  アニメ 百妖譜（日本語吹替版）(2024) 11話の配信がTVerで始まりました。 24分
  9/30 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epingl5dsp
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 16話の配信がTVerで始まりました。 25分
  9/30 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/ep9kqlt2u5
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 20話の配信がTVerで始まりました。 25分
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epl3d9rlm0
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 4話の配信がTVerで始まりました。 24分
  終了日未記載

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/ep5xx6vbcu
</p>
