---
title: 2026/7/9 のピックアップ
date: 2026-07-09
tags:
  - TVer
  - Youtube
category: vidpick
---




<p class="tver">
  アニメ 東京リベンジャーズ(2021) 17話の配信がTVerで始まりました。
  7/16 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epx7zqvz99
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 24話の配信がTVerで始まりました。
  7/16 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epn379x62x
</p>
