---
title: 2026/6/2 のピックアップ
date: 2026-06-02
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 正反対な君と僕(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/ep473tnglz
</p>

<p class="yt">
  映画「キングダム 魂の決戦」6月2日(火)ワールドプレミア｜2026/6/2配信｜東宝MOVIEチャンネル｜1:09:00
※ 2026年7月17日（金）公開。主題歌は米津玄師「夜鷹」

  山﨑賢人、吉沢亮、橋本環奈、志尊淳、神尾楓珠、三吉彩花、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、要潤、佐久間由衣、玉木宏、佐藤浩市、小栗旬、佐藤信介(監督) らが出演しています

  https://youtu.be/Qlv7zFoZH_4
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 8話の配信がTVerで始まりました。
  6/10 2:22まで

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/epl3v0vh5v
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。
  6/8 21:54まで

  ※ サンド×髙梨沙羅×いとうあさこ×みやぞん！海鮮グルメの宝庫【静岡県・清水港】で爆食＆開運旅！

  サンドウィッチマン(伊達みきお、富澤たけし)、髙梨沙羅、いとうあさこ、みやぞん らが出演しています

  https://tver.jp/episodes/ep1f6s2d64
</p>

<p class="tver">
  バラエティ ありえへん∞世界(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【Aぇ! group末澤・小島出演】昭和の常識！子どもが熱中した（秘）遊び。成田悠輔が語る！日本は“相続税”が高すぎる！？

  昭和の常識：https://tver.jp/episodes/ep63gu1yss

  相続税が高すぎる：https://tver.jp/episodes/ep65e2yfxb

  SUPER EIGHT(村上信五、丸山隆平、安田章大)、美輪明宏、宮崎哲弥、Aぇ! group(小島健、末澤誠也)、酒井ゆりや、陣内智則 らが出演しています
</p>

<p class="tver">
  バラエティ バナナサンド(2026) の配信がTVerで始まりました。
  6/9 19:59まで

  ※ ハモリ我慢SP！賀来賢人リベンジ！柿澤勇人＆松岡茉優が初参戦

  あたまおしりゲーム：https://tver.jp/episodes/epuidg9vug

ハモリ我慢SP：https://tver.jp/episodes/epj9yelwud

  設楽統(バナナマン)、サンドウィッチマン(伊達みきお、富澤たけし)、小杉竜一(ブラックマヨネーズ)、長谷川雅紀(錦鯉)、関太(タイムマシーン3号)、澤部佑(ハライチ)、みやぞん、キンタロー。、男性ブランコ(浦井のりひろ、平井まさあき)、信子(ぱーてぃーちゃん) らが出演しています

</p>

<p class="tver">
  バラエティ 一攫千金！宝の山(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 出た！1千万超え▼幻の限定車がお宝に▼バカリ空き家大改造

  加藤浩次、辻岡義堂、阿部亮平(Snow Man)、バカリズム、ヒロミ、山下健二郎、若月佑美、平野義和 らが出演しています

  https://tver.jp/episodes/epscauw7hr
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  6/9 22:00まで

  ※ 賀来賢人&木村多江のウソ演技を見極めろ！ぶりグルメ

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、賀来賢人、木村多江 らが出演しています

  https://tver.jp/episodes/eprpcm4fbx
</p>

<p class="tver">
  バラエティ 地球まるごと大実験 ネイチャーティーチャー(2026) の配信がTVerで始まりました。
  6/9 23:55まで

  ※ チョコプラ・timeleszがデスソースの浄水に挑戦！

  チョコレートプラネット(長田庄平、松尾駿)、timelesz(原嘉孝、篠塚大輝) らが出演しています

  https://tver.jp/episodes/epbxaud3gs
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  6/10 0:08まで

  ※ 仕事と家庭の両立…子どもとの時間を作るには?▽授乳しながら試合▽色々な家族の形

  上田晋也(くりぃむしちゅー)、いとうあさこ、村田祐基(超特急)、安藤美姫、大島由香里、雛形あきこ、辺見えみり らが出演しています

  https://tver.jp/episodes/ep7rhjmr4u
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。
  6/10 0:20まで

  ※ 令和の時短料理！美味しい料理10分で作れる？

  Aぇ! group らが出演しています

  https://tver.jp/episodes/epgbd5ok4e
</p>

<p class="tver">
  バラエティ 内村笑学校(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ロングコートダディ、たくろう赤木ら生徒8人が爆笑回答

  内村光良、飯尾和樹(ずん)、タイムマシーン3号(山本浩司、関太)、蓮見翔(ダウ90000)、ヒコロヒー、ロングコートダディ(堂前透、兎)、赤木裕(たくろう) らが出演しています

  https://tver.jp/episodes/epx1yhizp5
</p>

<p class="tver">
  バラエティ 夜の音 -TOKYO MIDNIGHT MUSIC-(2026) の配信がTVerで始まりました。
  6/10 0:33まで

  ※ MC菊池風磨＆畑芽育の音楽番組！山下智久登場

  畑芽育、原嘉孝(timelesz)、山下智久、JUNGWON、ENHYPEN らが出演しています

  https://tver.jp/episodes/epref0f8o9
</p>

<p class="tver">
  バラエティ あちこちオードリー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 豪華ゲストの濃密トークを大放出！今夜は泣く泣くカットした秘蔵トークSP！

  オードリー(若林正恭、春日俊彰) らが出演しています

  https://tver.jp/episodes/epxcapklx3
</p>

<p class="tver">
  バラエティ テレビ千鳥(2026) の配信がTVerで始まりました。
  6/10 1:33まで

  ※ 【1時間SP】カンヌ映画祭のワシを見に来てほしいんじゃ!!

  千鳥(ノブ、大悟) らが出演しています

  https://tver.jp/episodes/epp9lf7cv2
</p>

<p class="tver">
  バラエティ 岩井 狩野 えびちゅうの推しかるちゃー(2026) 54回の配信がTVerで始まりました。
  終了日未記載

  ※ 大人気アニメ「劇場版モノノ怪 第三章 蛇神」の裏側　唯一無二の奇抜なアニメーションの制作工程に密着！

  岩井勇気(ハライチ)、狩野英孝、私立恵比寿中学(真山りか、桜木心菜、風見和香、仲村悠菜)、中村健治 らが出演しています

  https://tver.jp/episodes/ep18k7nej9
</p>

<p class="tver">
  ドラマ 100日後に別れる僕と彼(2026) 2話の配信がTVerで始まりました。
  終了日未記載

  伊藤健太郎、寛一郎、鳴海唯、山田健人、野村麻純、光宗薫、工藤阿須加、竹中直人 らが出演しています

  https://tver.jp/episodes/epcignhh65
</p>

<p class="tver">
  ドラマ こないだおばさんって言われたよ(2026) 5話の配信がTVerで始まりました。
  6/10 0:50まで

  飯島直子、堀内敬子、Mummy-D、中田クルミ、のせりん、六角慎司、上野勇希、高田純次、梅沢昌代 らが出演しています

  https://tver.jp/episodes/epvwx9uk5y
</p>

<p class="tver">
  ドラマ いつもふたりで(2003) 11(最終)話の配信がTVerで始まりました。
  6/9 23:59まで

  松たか子、坂口憲二、葛山信吾、長谷川京子、平山あや、永山瑛太、佐藤仁美、田山涼成、西村まさ彦、黒沢年雄 らが出演しています

  https://tver.jp/episodes/epyhhgopnv
</p>

<p class="tver">
  ドラマ その結婚、正気ですか？(2023) 1話の配信がTVerで始まりました。
  終了日未記載

  岡本玲、長妻怜央、和田雅成、押田岳、薄幸(納言)、向里祐香、堀口紗奈、まりあ、林ゆめ、冨手麻妙、佐野岳 らが出演しています

  https://tver.jp/episodes/epk8wrswhr
</p>

<p class="tver">
  ドラマ not so パーフェクトラブ！(1999) 1話の配信がTVerで始まりました。
  終了日未記載
  ※ 3日毎に最新話更新

  福山雅治、木村佳乃、ユースケ・サンタマリア、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep16aus3ap
</p>

<p class="tver">
  ドラマ 時すでにおスシ!?(2026) 9話の配信がTVerで始まりました。
  6/9 21:59まで

  永作博美、松山ケンイチ、ファーストサマーウイカ、中沢元紀、山時聡真、杏花、平井まさあき(男性ブランコ)、後藤淳平(ジャルジャル)、Jua、丸山隆平(SUPER EIGHT)、小手伸也、山田健人、山崎竜太郎、園田あいか、猫背椿、関根勤、有働由美子、佐野史郎 らが出演しています

  https://tver.jp/episodes/epn6kygs1o
</p>

<p class="tver">
  ドラマ リボーン ～最後のヒーロー～(2026) 8話の配信がTVerで始まりました。
  6/9 21:54まで

  高橋一生、中村アン、鈴鹿央士、横田真悠、坪倉由幸(我が家)、小久保寿人、今井隆文、村井良大、山野海、阿部亮平(Snow Man)、関幸治、岸本加世子、柳沢慎吾、小日向文世、市村正親 らが出演しています

  https://tver.jp/episodes/epu1u2it18
</p>

<p class="tver">
  ドラマ 夫婦別姓刑事(2026) 8話の配信がTVerで始まりました。
  6/9 21:00まで

  佐藤二朗、橋本愛、矢本悠馬、中村海人(Travis Japan)、齊藤京子、斉藤由貴、坂東彌十郎、大後寿々花 らが出演しています

  https://tver.jp/episodes/epdss9e39q
</p>

<p class="tver">
  ドラマ ふたりソロキャンプ(2025) 4話の配信がTVerで始まりました。
  終了日未記載

  森崎ウィン、本田望結、稲葉友、滝澤エリカ、宮下咲、中林大樹 らが出演しています

  https://tver.jp/episodes/ep802utpwg
</p>

<p class="tver">
  アニメ リィンカーネーションの花弁(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  千葉翔也、丸岡和佳奈、佐倉綾音、白石晴香、石川界人、上田麗奈、井上麻里奈、仲村宗悟、福山潤、小西克幸、富田美憂、村瀬歩、水中雅章、浪川大輔、櫻井孝宏、阪口周平、細谷佳正、花江夏樹、飛田展男 らが出演しています

  https://tver.jp/episodes/ep8ftc4w54
</p>

<p class="tver">
  アニメ 銀河英雄伝説 Die Neue These(2022・4期) 48(最終)話の配信がTVerで始まりました。
  6/9 23:59まで

  宮野真守、鈴村健一、梅原裕一郎、梶裕貴、諏訪部順一、小野大輔、中村悠一、川島得愛、遠藤綾、三木眞一郎、下山吉光 らが出演しています

  https://tver.jp/episodes/epyhupy892
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 80話の配信がTVerで始まりました。
  6/5 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/eppzwogn2v
</p>

<p class="tver">
  アニメ あかね噺(2026) 9話の配信がTVerで始まりました。
  6/9 23:59まで

  永瀬アンナ、江口拓也、高橋李依、塩野瑛久、福山潤、島崎信長、小林千晃、阿座上洋平、山下誠一郎、てらそままさき、大塚明夫 らが出演しています

  https://tver.jp/episodes/epdllucg9k
</p>

<p class="tver">
  アニメ ウルトラマン80（HDリマスター版）(1980) 20話の配信がTVerで始まりました。
  6/9 19:00まで

  長谷川初範、中山仁、石田えり、大門正明、北原義郎、伊沢一郎、加山麗子、寺島達夫 らが出演しています

  https://tver.jp/episodes/epd7f8ziwp
</p>

<p class="yt">
  傑作選 ブラック・ジャックOVA「人面瘡(じんめんそう)」｜2026/5/30配信｜手塚プロダクション公式チャンネル｜52:11
  ※ 2026/6/6 14:00まで。1週間限定配信

  大塚　明夫：ブラック・ジャック
  水谷　優子：ピノコ
  堀　　秀行：耕一郎
  荘真　由美：摩知子
  　　　麦人：種田
  内田　直哉：人面瘡
  定岡小百合：柳子

  https://youtu.be/rdu61N0HNF0
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 124～126話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epl7ecozms
</p>

<p class="tver">
  バラエティ リーダーズサーチ 街でウワサの匠さん(2026) の配信がTVerで始まりました。
  6/7 23:59まで

  ※ 古都鎌倉で有名人が通った老舗の匠さんを大調査！大物政治家からあの伝説のアーティストが愛した逸品とは…？

  城島茂、アルコ&ピース らが出演しています

  https://tver.jp/episodes/eplg5g6oxo
</p>

<p class="tver">
  ドラマ ワカコ酒(2026・2期) 6話の配信がTVerで始まりました。
  終了日未記載

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/ephmjb0xkp
</p>

<p class="tver">
  バラエティ ピッカルチャー～アニメの色んなとこにスポットライトを当ててピカっと光らせてみた～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 今回は「声優」特集！「声優の卵」をピカッと光らせるため、養成所に潜入！そこでは予想外の展開が！？スタジオでは、せいやのあの持ちネタを声優の菱川花菜が生アテレコ！

  高杉真宙、せいや(霜降り明星)、菱川花菜 らが出演しています

  https://tver.jp/episodes/ep5yyccylf
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  6/9 12:00まで

  ※ 東京宝塚劇場で公演中の舞台「蒼月抄」「EL DESEO」に出演中の花組・鏡星珠さん＆翠笙芹南さんが登場

  中井美穂、立川らく次、鏡星珠、翠笙芹南 らが出演しています

  https://tver.jp/episodes/epqclhoamm
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 8話の配信がTVerで始まりました。
  6/9 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/epvem749u8
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 7話の配信がTVerで始まりました。
  6/9 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epheg29dff
</p>

<p class="tver">
  ドラマ 特上カバチ!!(2010) 5話の配信がTVerで始まりました。
  6/10 9:59まで

  櫻井翔、堀北真希、遠藤憲一、上里亮太、AKUN、桜井ひかり、森脇英理子、玄田哲章、山崎銀之丞、仲野太賀、デビット伊東、本田博太郎、宮田早苗、村岡希美、中村ゆり、阿部亮平(Snow Man)、浅野ゆう子、高橋克実、中村雅俊 らが出演しています

  https://tver.jp/episodes/epfj4di6lm
</p>

<p class="tver">
  ドラマ 山田太郎ものがたり(2007) 5話の配信がTVerで始まりました。
  6/10 9:59まで

  二宮和也、櫻井翔、多部未華子、忍成修吾、大塚千弘、吹石一恵、吉沢悠、福井博章、綾田俊樹、鎗田晟裕、清水尚弥、村中暖奈、吉川愛、澁谷武尊、稲垣鈴夏、菊池桃子、宇津井健 らが出演しています

  https://tver.jp/episodes/ep1h649sgg
</p>

<p class="tver">
  ドラマ 六月のタイムマシン(2025) 1～2話の配信がTVerで始まりました。
  終了日未記載

  ICEx(志賀李玖、八神遼介)、小浜桃奈、佐藤京、矢嶋由菜、松本大輝 らが出演しています

  https://tver.jp/episodes/ep2wqpnorg
</p>

<p class="tver">
  アニメ それが声優！(2026) 9話の配信がTVerで始まりました。
  終了日未記載

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/ep0aezjbhq
</p>

<p class="tver">
  ドラマ その着せ替え人形は恋をする(2024) 6話の配信がTVerで始まりました。
  6/9 3:14まで

  永瀬莉子、野村康太、池田朱那、豊島心桜、塩﨑太智(M!LK)、山田明郷 らが出演しています

  https://tver.jp/episodes/ep8am6907e
</p>
