---
title: 2026/9/16 のピックアップ
date: 2026-09-16
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ はいからさんが通る 1～3話｜2026/9/16配信｜日本アニメーション・シアター｜1:13:25
  ※ 2027/1/6 18:00まで

  横沢　啓子：花村紅緒
  森　功至：伊集院忍
  杉山佳寿子：森蘭丸
  増岡　弘：牛五郎
  峰　あつ子：伊集院夫人
  永井　一郎：花村少佐
  肝付　兼太：酒乱童子
  鈴木れい子：ばあや
  山田　礼子：侍女如月
  宮内　幸平：伯爵
  井上真樹夫：青江冬星
  安原　義人：鬼島森吾
  永井　一郎：ナレーター

  https://youtu.be/phoGKks_cPQ
</p>

<p class="yt">
  アニメ「恋と嘘」7～12話｜2026/9/17配信｜フル☆アニメTV｜2:26:05
  ※ 10/14(水) 23:59まで

  花澤　香菜：高崎美咲
  牧野　由依：真田莉々奈
  逢坂　良太：根島由佳吏
  立花慎之介：仁坂悠介

  https://youtu.be/IaE6l7Lt8r8
</p>

<p class="yt">
  アニメ「BLACK LAGOON」第9話｜2026/9/16配信｜SundayGXch｜23:51
  ※ 9/30(水) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/oDdaUvae5dk
</p>

<p class="yt">
  アニメ「進撃の巨人」 第5～7話｜2026/9/16配信｜Attack on Titan Official｜1:12:25
  ※ 9/22(水) 23:59まで。時間の記載がなかったので1日前で書いてます

  梶裕　貴：エレン・イェーガー
  石川　由依：ミカサ・アッカーマン
  井上麻里奈：アルミン・アルレルト
  神谷　浩史：リヴァイ・アッカーマン
  谷山　紀章：ジャン・キルシュタイン
  下野　紘：コニー・スプリンガー
  小林　ゆう：サシャ・ブラウス
  三上　枝織：ヒストリア・レイス（クリスタ）
  嶋村　侑：アニ・レオンハート
  細谷　佳正：ライナー・ブラウン
  朴　　璐美：ハンジ・ゾエ
  子安　武人：ジーク・イェーガー

  https://youtu.be/5pacQfoVStc
</p>

<p class="tver">
  バラエティ Travis JapanノJUST！シン日本遺産(2026) 9回の配信がTVerで始まりました。 24分
  10/1 02:15まで

  ※ 八ヶ岳エリアに４つのJUST！

  Travis Japan(宮近海斗、中村海人、七五三掛龍也、川島如恵留、吉澤閑也、松田元太、松倉海斗) らが出演しています

  https://tver.jp/episodes/epscyiu8mh
</p>

<p class="tver">
  ドキュメンタリー 映画「踊る大捜査線N.E.W. メトロポリスを駆け抜けろ！」新たな“踊る”の幕開け(2026) 3回の配信がTVerで始まりました。 7分
  9/24 23:59まで

  ※ 第3夜では、「踊る」シリーズ最新作で新たに参加する「N.E.W.」メンバーを紹介。青島に振り回されながらも現場を駆け抜けるメンバーたち。各キャストのインタビューを交えつつ、今作への意気込み・想いに迫る。

  織田裕二、趣里、白洲迅、佐々木蔵之介、増田貴久(NEWS)、野呂佳代、玉井詩織(ももいろクローバーZ)、藤吉夏鈴(櫻坂46)、佐藤二朗、ユースケ・サンタマリア、真矢ミキ、水野美紀、甲本雅裕、寺島進、伊藤淳史、滝藤賢一、松重豊、松下洸平、斉藤暁、小野武彦、北村総一朗 らが出演しています

  https://tver.jp/episodes/epeabbph4y
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 23話の配信がTVerで始まりました。 24分
  終了日未記載

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫、川島零士、安野希世乃、富田美憂、緑川光、櫻井孝宏 らが出演しています

  https://tver.jp/episodes/ep5l88rgbu
</p>

<p class="tver">
  バラエティ ズボラに健康！カラダにイイワケ(2026) の配信がTVerで始まりました。 127分
  終了日未記載

  ※ 出川・サンド富澤のカラダにイイワケ【血糖値スパイク＆高血圧】

  出川哲朗、富澤たけし(サンドウィッチマン)、近藤春菜(ハリセンボン)、寺田心 らが出演しています

  https://tver.jp/episodes/epixhtay9i
</p>

<p class="tver">
  バラエティ 朝メシまで。(2026) 2回の配信がTVerで始まりました。 98分
  終了日未記載

  ※ 【渋谷駅で100年に一度の再開発】全面コラボ 2時間SP！

  児嶋一哉(アンジャッシュ)、ウエンツ瑛士、高嶋政伸、岩田絵里奈、伊藤淳史、木村多江 らが出演しています

  https://tver.jp/episodes/ep20d1bv6w
</p>

<p class="tver">
  バラエティ 小泉孝太郎＆ムロツヨシ 自由気ままに2人旅(2026) の配信がTVerで始まりました。 101分
  9/30 23:59まで

  ※ 韓国でグルメ＆メイク変身

  小泉孝太郎、ムロツヨシ、宮脇咲良(LE SSERAFIM) らが出演しています

  https://tver.jp/episodes/ep37ldunnh
</p>

<p class="tver">
  バラエティ 千鳥かまいたちゴールデンアワー(2026) の配信がTVerで始まりました。 97分
  終了日未記載

  ※ 【ちどかまクイズ】サイゼの秘密を知る謎オジ&甲子園で1番熱くなる楽器は?

  千鳥、かまいたち、広瀬アリス、藤本美貴、鈴木福、神田愛花、タイムマシーン3号、とにかく明るい安村、紅しょうが、U字工事、河出奈都美 らが出演しています

  https://tver.jp/episodes/ep8bulmwi9
</p>

<p class="tver">
  バラエティ バカリズムのちょっとバカりハカってみた！(2026) の配信がTVerで始まりました。 62分
  終了日未記載

  ※ 超危険な道酷道！断崖絶壁転落＝車大破＆超激セマ道で車ボロボロ!?

  バカリズム、影山優佳、狩野英孝、大沢あかね らが出演しています

  https://tver.jp/episodes/ep90bvngh5
</p>

<p class="tver">
  バラエティ ホンマでっか！？TV(2026) の配信がTVerで始まりました。 44分
  9/23 21:00まで

  ※ 令和の結婚事情

  明石家さんま、井上清華、EXIT、島崎和歌子、ブラックマヨネーズ、磯野貴理子、北乃きい、吉田結衣(カーネーション)、池田清彦、原田曜平 らが出演しています

  https://tver.jp/episodes/epcpn5h3jk
</p>

<p class="tver">
  バラエティ わが家の最寄りは秘境駅(2026) の配信がTVerで始まりました。 97分
  終了日未記載

  ※ のと鉄道＆JR因美線 2時間SP

  六角精児 らが出演しています

  https://tver.jp/episodes/eprva8vxyv
</p>

<p class="tver">
  バラエティ 上田と女が吠える夜(2026) の配信がTVerで始まりました。 93分
  9/30 20:59まで

  ※ パリ大満喫ツアー!秋感涙グルメ旅&ルーヴル美術館特別潜入

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、いとうあさこ、若槻千夏、ファーストサマーウイカ、松山ケンイチ、城島茂、板谷由夏、田辺智加(ぼる塾)、川村エミコ(たんぽぽ)、佐々木久美、澤穂希、平愛梨、花澤香菜、peco、丸山桂里奈 らが出演しています

  https://tver.jp/episodes/ep1vrslaah
</p>

<p class="tver">
  バラエティ 勝つのはどっち？ニノチョコマッチ(2026) の配信がTVerで始まりました。 69分
  終了日未記載

  ※ 二宮和也×チョコプラ☆アスリート異種頂上決戦！アジア大会SP

  二宮和也、チョコレートプラネット(松尾駿、長田庄平)、室伏広治、上地雄輔、中岡創一(ロッチ)、横澤夏子、柿谷曜一朗、佐藤寿人、黒川虎徹、安藤誓哉、中澤佑二、石川真佑、岩澤実育、おばたのお兄さん、ワタリ119、サンシャイン池崎、じゅんいちダビッドソン らが出演しています

  https://tver.jp/episodes/epgu0jc713
</p>

<p class="tver">
  バラエティ 推！ヲタク・ロワイアル(2026) の配信がTVerで始まりました。 44分
  終了日未記載

  ※ 優勝賞品【ＡＫＢ４８小栗有以＆伊藤百花の世界に一つだけの手作り弁当】をかけ精鋭ヲタク２０名が大激突！ヲタクの愛と執念が試される究極の推し活バトルロワイアル開戦！！

  秋山竜次(ロバート)、藤本敏史(FUJIWARA)、藤本美貴、AKB48(小栗有以、伊藤百花)、岡田健太郎 らが出演しています

  https://tver.jp/episodes/ep8n9pnunu
</p>

<p class="tver">
  バラエティ いたジャン！(2026) 113回の配信がTVerで始まりました。 23分
  9/24 0:15まで

  ※ 7人だけの夏休み完結！思い出トーク

  Hey! Say! JUMP(山田涼介、知念侑李、有岡大貴、髙木雄也、伊野尾慧、八乙女光、薮宏太)、蓮見翔(ダウ90000) らが出演しています

  https://tver.jp/episodes/ep7zwpigul
</p>

<p class="tver">
  バラエティ ふるさとの未来(2026) の配信がTVerで始まりました。 21分
  終了日未記載

  ※ 株式会社 岩谷技研。巨大な気球を使って「宇宙遊覧」に挑戦するベンチャー企業に世界が注目！

  加藤紀子、川名凜、駒田健吾 らが出演しています

  https://tver.jp/episodes/ephv4vndpl
</p>

<p class="tver">
  バラエティ アリフォルニア(2026・2期) 2回の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 恋蟻

  有田哲平(くりぃむしちゅー)、深澤辰哉(Snow Man)、鈴木もぐら(空気階段)、兎(ロングコートダディ)、伊藤健太郎 らが出演しています

  https://tver.jp/episodes/ep812zxd9l
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 12(最終)話の配信がTVerで始まりました。 26分
  9/24 0:35まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、今井柊斗、大下ヒロト らが出演しています

  https://tver.jp/episodes/epokyjs8bb
</p>

<p class="tver">
  ドラマ 日本沈没ー希望のひとー(2021) 6話の配信がTVerで始まりました。 49分
  9/26 23:59まで

  小栗旬、松山ケンイチ、杏、ウエンツ瑛士、中村アン、浜田学、河井青葉、六角慎司、諏訪雅、山岸門人、竹井亮介、高野ゆらこ、宮崎美子、杉本哲太、石橋蓮司、仲村トオル、香川照之 らが出演しています

  https://tver.jp/episodes/eptqijccgp
</p>

<p class="tver">
  ドラマ お金がない！(1994) 6話の配信がTVerで始まりました。 47分
  9/23 23:59まで

  織田裕二、財前直見、東幹久、芳本美代子、松崎しげる、石橋凌、高樹沙耶、河原崎建三 らが出演しています

  https://tver.jp/episodes/epilvmv2gp
</p>

<p class="tver">
  ドラマ 着飾る恋には理由があって(2021) 6話の配信がTVerで始まりました。 48分
  9/26 23:59まで

  川口春奈、横浜流星、丸山隆平(SUPER EIGHT)、中村アン、飯尾和樹(ずん)、山下美月、高橋文哉、赤ペン瀧川、山本千尋、桜井聖、池下重大、工藤夕貴、向井理、夏川結衣 らが出演しています

  https://tver.jp/episodes/epiejy4kb0
</p>

<p class="tver">
  ドラマ エロい彼氏が私を魅わす(2022) 5話の配信がTVerで始まりました。 24分
  9/23 23:59まで

  松井愛莉、笠松将、結木滉星、萩原みのり、菅野莉央、国生さゆり らが出演しています

  https://tver.jp/episodes/epgcsc2ye8
</p>

<p class="tver">
  ドラマ 4分間のマリーゴールド(2019) 6話の配信がTVerで始まりました。 46分
  9/26 23:59まで

  福士蒼汰、菜々緒、横浜流星、西村元貴、伊藤あさひ、関水渚、鈴木ゆうか、馬渕英里何、磯山さやか、佐藤みゆき、三浦誠己、西尾まり、橋本じゅん、桐谷健太 らが出演しています

  https://tver.jp/episodes/epcgmf6n0u
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 23話の配信がTVerで始まりました。 25分
  9/26 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、東亜優、荒井健太郎、岡田義徳、桐谷健太、不破万作、能世あんな、宍戸美和公、青木和代、三鴨絵里子、小野武彦、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/epc09xb3a9
</p>

<p class="tver">
  ドラマ きみが心に棲みついた(2018) 6話の配信がTVerで始まりました。 45分
  9/26 23:59まで

  吉岡里帆、桐谷健太、石橋杏奈、中村アン、長谷川朝晴、杉本彩、田中真琴、山岸門人、周本絵梨香、永岡佑、西村元貴、日野陽仁、ムロツヨシ、鈴木紗理奈、瀬戸朝香、向井理 らが出演しています

  https://tver.jp/episodes/epaebvm9gj
</p>

<p class="tver">
  ドラマ クロスロード ～救命救急の約束～(2026) 4～6話の配信がTVerで始まりました。 45分
  9/23 23:59まで

  ※ 1～3話は配信済み、続行中

  4～6話：https://tver.jp/episodes/ep2cy2c98s
  1～3話：https://tver.jp/episodes/epsc88nzew

  今田美桜、磯村勇斗、寛一郎、泉澤祐希、小雪、戸次重幸、船越英一郎 らが出演しています
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 12(最終)話の配信がTVerで始まりました。 23分
  9/30 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、小島藤子、上田航平、槙尾ユウスケ(かもめんたる)、ジャッキーちゃん、松井咲子、戸田昌宏、山崎紘菜 らが出演しています

  https://tver.jp/episodes/epzj2468q4
</p>

<p class="tver">
  ドラマ Tokyo middle 30(2026) 9話の配信がTVerで始まりました。 45分
  9/23 22:00まで

  仲里依紗、のん、深川麻衣、渡辺大知、朝井大智、中島颯太、風間俊介 らが出演しています

  https://tver.jp/episodes/eprwx2rsgh
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2026・2期) 9(最終)話の配信がTVerで始まりました。 50分
  終了日未記載

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、こばやし元樹、玉城裕規 らが出演しています

  https://tver.jp/episodes/epge4g8vo4
</p>

<p class="tver">
  ドラマ 青春シンデレラ(2022) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  久間田琳加、本田響矢、水谷果穂、箭内夢菜、若林時英、島村龍乃介、岬あかり、小笠原海(超特急) らが出演しています

  https://tver.jp/episodes/epqd77ya0l
</p>

<p class="tver">
  ドラマ 結婚できないにはワケがある。(2021) 7話の配信がTVerで始まりました。 24分
  終了日未記載

  速水もこみち、若月佑美、山口真帆、吉田志織、秋山ゆずき、古川毅(SUPER★DRAGON)、井頭愛海、高田聖子、西沢仁太 らが出演しています

  https://tver.jp/episodes/epx54f5tkq
</p>

<p class="tver">
  ドラマ ミス・ターゲット(2024) 8話の配信がTVerで始まりました。 45分
  終了日未記載

  松本まりか、上杉柊平、鈴木愛理、川西賢志郎、小槙まこ、田中真琴、八嶋智人、筒井真理子、沢村一樹、白石美帆、後藤剛範、ダチョウ倶楽部(肥後克広、寺門ジモン)、浅利陽介、工藤美桜、椿鬼奴、岩城滉一、ダンディ坂野、北原もも、田代すみれ らが出演しています

  https://tver.jp/episodes/ep189b5dy8
</p>

<p class="tver">
  ドラマ この男は人生最大の過ちです(2020) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  速水もこみち、松井愛莉、入江甚儀、片山萌美 らが出演しています

  https://tver.jp/episodes/ep9tld6mm2
</p>

<p class="tver">
  ドラマ 18歳、新妻、不倫します。(2023) 10(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  藤井流星(WEST.)、矢吹奈子、小林涼子、小宮璃央、山本涼介、逢沢りな、野添義弘、しおつかこうへい、今藤洋子 らが出演しています

  https://tver.jp/episodes/ep4ikgzjb7
</p>

<p class="tver">
  ドラマ 特命係長 只野仁(2007) 22～31話の配信がTVerで始まりました。 46分
  終了日未記載

  ※ 1～3月放送。令和コンプライアンスブレイクスルー版

  高橋克典、櫻井淳子、永井大、蛯原友里、田山涼成、三浦理恵子、梅宮辰夫 らが出演しています

  https://tver.jp/episodes/epdoylvm7r
</p>

<p class="tver">
  アニメ 神の雫(2026) 23話の配信がTVerで始まりました。 24分
  9/24 0:30まで

  亀梨和也、佐藤拓也、内田真礼、甲斐田裕子、藤真秀、渡辺美佐、内田夕夜、浦山迅、Lynn、石住昭彦、堀総士郎、小原好美、銀河万丈 らが出演しています

  https://tver.jp/episodes/epurimyyvg
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 12話の配信がTVerで始まりました。 25分
  9/23 23:59まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epqbz1phsx
</p>

<p class="tver">
  アニメ いびってこない義母と義姉(2026) 10話の配信がTVerで始まりました。 24分
  9/23 23:29まで

  くじら、芹澤優、貫井柚佳、麦穂あんな、根本京里、内山夕実、市道真央 らが出演しています

  https://tver.jp/episodes/epaf6iojim
</p>

<p class="tver">
  アニメ 探偵はもう、死んでいる。(2021) 11話の配信がTVerで始まりました。 24分
  9/30 22:30まで

  長井新、宮下早紀、竹達彩奈、高尾奏音、白砂沙帆、長縄まりあ、松岡禎丞、渕上舞、子安武人 らが出演しています

  https://tver.jp/episodes/epurflnyjl
</p>

<p class="tver">
  アニメ メイドインアビス(2019) 7話の配信がTVerで始まりました。 24分
  9/30 21:00まで

  富田美憂、伊瀬茉莉也、井澤詩織、大原さやか、豊崎愛生、田村睦心、沼倉愛美、塙真奈美、村田太志、坂本真綾 らが出演しています

  https://tver.jp/episodes/epa5pwa2od
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 23話の配信がTVerで始まりました。 24分
  10/2 23:59まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epnub4rpxo
</p>

<p class="yt">
  田中美空のクッキング講座〜トウモロコシ料理編〜｜2026/9/11配信｜田中美空のミステリー講座｜35:58
  ※ 「メンバーシップ限定コンテンツ」(有料メンバーのみの配信)

  田中美空(ミステラー・NMB48)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/BQhRNPplIZo
</p>

<p class="yt">
  実はトウモロコシに人類が飼われている?｜2026/8/1配信｜田中美空のミステリー講座｜21:18
  ※ [過去回]

  田中美空(ミステラー・NMB48)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/V7fHxgfPLhg
</p>

<p class="tver">
  ドラマ 晩酌の流儀(2022) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、おかやまはじめ、石倉三郎、堂ノ下沙羅、坂野真理 らが出演しています

  https://tver.jp/episodes/epvw7g59er
</p>

<p class="tver">
  ドラマ ごほうびごはん(2021) 9～12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  桜井日奈子、岡崎紗絵、相原未来、きづき らが出演しています

  https://tver.jp/episodes/epl50o466n
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 85話の配信がTVerで始まりました。 24分
  9/23 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epp9t70008
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 19話の配信がTVerで始まりました。 24分
  9/23 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep51i81b4d
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 24(最終)話の配信がTVerで始まりました。 24分
  9/23 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epa2p6z3gf
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 2話の配信がTVerで始まりました。 24分
  9/23 8:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/ep4hea6yfw
</p>

<p class="yt">
  アニメ「陸奥圓明流外伝 修羅の刻」全26話｜2026/9/16配信｜フル☆アニメTV｜10:07:37
  ※ 10/14(水) 23:59まで

  高橋　広樹：陸奥八雲
  松山　鷹志：宮本武蔵
  菊池　心：宮本伊織（子供時代）
  升　望：吉祥丸
  石原　凡：沢庵和尚
  遊佐　浩二：陸奥天斗
  鈴木　真仁：圓
  渡辺　浩司：宮本伊織（青年時代）
  竹本　英史：柳生十兵衛
  宮澤　正：佐助
  亀山　助清：柳生宗矩
  郷田ほづみ：陸奥出海
  遠藤　章史：坂本龍馬
  中村　悠一：沖田総司
  楠　大典：土方歳三
  外波山文明：千葉定吉
  平田絵里子：千葉さなこ

  https://youtu.be/xswhRHfN_-s
</p>

<p class="tver">
  バラエティ アニマルワンダー 赤ちゃんヒミツ研究所(2026) の配信がTVerで始まりました。 97分
  9/30 12:00まで

  ※ 動物の赤ちゃん「かわいい」のヒミツを徹底解明ＳＰ！伝説の飼育員厳選の超貴重映像も

  松井ケムリ(令和ロマン)、山之内すず、御手洗菜々 らが出演しています

  https://tver.jp/episodes/ep5686th6y
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 7話の配信がTVerで始まりました。 30分
  9/30 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博 らが出演しています

  https://tver.jp/episodes/epzgpo2kb0
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 6話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、市川知宏、渡部秀、片瀬那奈、村杉蝉之介、大政絢、大谷亮平、榊原郁恵 らが出演しています

  https://tver.jp/episodes/epk6rxz9n4
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 7話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、真野恵里菜、落合モトキ、土佐信道(明和電機) らが出演しています

  https://tver.jp/episodes/epclrltl8g
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 6話の配信がTVerで始まりました。 24分
  9/30 12:00まで

  黒羽麻璃央、松村沙友理、金子隼也、遠山俊也 らが出演しています

  https://tver.jp/episodes/epabv091lp
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 6話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、永岡佑、川床明日香、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep9dylht4f
</p>

<p class="tver">
  ドラマ リセット(2009) 7話の配信がTVerで始まりました。 30分
  9/30 12:00まで

  田中直樹(ココリコ)、黒沢かずこ(森三中)、黒谷友香、渡部豪太 らが出演しています

  https://tver.jp/episodes/ep5c9c5tr9
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 9話の配信がTVerで始まりました。 46分
  9/23 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、望月歩、山本未來、いしのようこ、森下能幸、平田広明、田中哲司、イッセー尾形、さだまさし らが出演しています

  https://tver.jp/episodes/epxl2vioif
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、山本龍二、三川雄三、滝沢沙織、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epwzrqt9gi
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市村正親、別所哲也、石丸謙二郎、馬場徹、須田邦裕、酒向芳、小手伸也、八木亜希子、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/eputig5vkw
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、市川由衣、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、山崎一、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/eptzf7u1u2
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 10話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、三浦誠己、内村遥、フォンチー、猪塚健太、工藤美桜、大幡しえり、樫尾篤紀、黒木ひかり、岡田龍太郎、増田朋弥、菜々緒、城田優、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epjwfw574j
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 9話の配信がTVerで始まりました。 45分
  9/23 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、片平なぎさ、武田真治、REINA(MAX)、西田尚美、利重剛、長谷川忍(シソンヌ)、ファーストサマーウイカ、佐伯新、川崎亜沙美、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ephztesywg
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 10話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、ともさかりえ らが出演しています

  https://tver.jp/episodes/ep3o5ggva6
</p>

<p class="tver">
  ドラマ リバース(2017) 9話の配信がTVerで始まりました。 46分
  9/23 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、村井國夫、山崎銀之丞、趣里、古田結凪、バッファロー吾郎A(バッファロー吾郎)、山口まゆ、鈴木仁、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep381n2s6r
</p>

<p class="tver">
  ドラマ 陸王(2017) 6～7話の配信がTVerで始まりました。 47分
  9/25 11:59まで

  役所広司、山崎賢人、竹内涼真、上白石萌音、風間俊介、音尾琢真、和田正人、佐野岳、馬場徹、内村遥、春やすこ、吉谷彩子、上村依子、宇野けんたろう(げんき〜ず)、前原滉、花沢将人、山本涼介、佐藤俊彦、石井貴就、安藤勇雅、板垣雄亮、菅谷哲也、大西武志、原晋、木村祐一、阿川佐和子、小籔千豊、志賀廣太郎、光石研、檀ふみ、市川右團次、ピエール瀧、寺尾聰 らが出演しています

  https://tver.jp/episodes/ep1bd26r90
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 18話の配信がTVerで始まりました。 46分
  9/26 08:00まで

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epsweml5c2
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 84話の配信がTVerで始まりました。 24分
  9/23 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep5ow5qwvv
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 39話の配信がTVerで始まりました。 24分
  9/23 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epp2lsj7ep
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 9話の配信がTVerで始まりました。 25分
  9/23 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epeo44mpey
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 19話の配信がTVerで始まりました。 25分
  9/30 08:30まで

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epwv05sz9d
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 3話の配信がTVerで始まりました。 24分
  9/23 8:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/epfrc99794
</p>
