---
title: 2026/8/26 のピックアップ
date: 2026-08-26
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「BLACK LAGOON」第3話｜2026/8/26配信｜SundayGXch｜23:51
  ※ 9/9(水) 23:59まで

  豊口めぐみ：レヴィ
  浪川　大輔：ロック
  磯部　勉：ダッチ
  平田　広明：ベニー
  小山　茉美：バラライカ
  伊倉　一恵：ガルシア
  金田　朋子：グレーテル
  富沢美智恵：ロベルタ
  南　央美：ヘンゼル
  佐々木勝彦：竹中
  楠　大典：ボリス軍曹
  森川智之：張

  https://youtu.be/Cc9zBPbXJnY
</p>

<p class="tver">
  バラエティ Travis JapanノJUST！シン日本遺産(2026) 6回の配信がTVerで始まりました。
  9/3 2:15まで

  ※ 宮城県に４つのJUST！

  Travis Japan(宮近海斗、中村海人、七五三掛龍也、川島如恵留、吉澤閑也、松田元太、松倉海斗) らが出演しています

  https://tver.jp/episodes/ep8gz5h83v
</p>

<p class="tver">
  ドキュメンタリー 世の中お金で見てみよう～火曜ヨルの学べる経済～(2026) の配信がTVerで始まりました。
  9/2 20:59まで

  ※ 半導体をお金で見てみよう！

  林修、藤井由依、原田亮介、ビビる大木、大友花恋、武田祐子 らが出演しています

  https://tver.jp/episodes/epmzeo9jtt
</p>

<p class="tver">
  アニメ ヘルモード ～やり込み好きのゲーマーは廃設定の異世界で無双する～(2026) 20話の配信がTVerで始まりました。
  9/3 1:29まで

  田村睦心、飯塚麻結、畠中祐、千本木彩花、石川英郎、大原さやか、小市眞琴、杉田智和、千葉翔也、三宅麻理恵、大塚明夫、川島零士、安野希世乃、富田美憂、緑川光、櫻井孝宏 らが出演しています

  https://tver.jp/episodes/ep08rui5nm
</p>

<p class="tver">
  バラエティ 亀梨くんのワンにゃフル！(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【未公開トーク付】MC：亀梨和也！犬派VS猫派★“激かわ特化”衝撃映像＆135匹の猫と暮らす三姉妹

  亀梨和也、小峠英二(バイきんぐ)、小木博明(おぎやはぎ)、吉田沙保里、安田章大(SUPER EIGHT)、いとうあさこ、高橋みなみ、川島如恵留(Travis Japan)、佐々木美玲 らが出演しています

  https://tver.jp/episodes/ep6gbhs24o
</p>

<p class="tver">
  バラエティ 巷のウワサ大検証！それって実際どうなの会(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ トマトをプラスすると太らない！？赤字の店救出大作戦

  生瀬勝久、満島真之介、大島美幸(森三中)、菜々緒、ザ・たっち(たくや、かずや) らが出演しています

  https://tver.jp/episodes/epmo8pnv9k
</p>

<p class="tver">
  バラエティ 奇跡体験！アンビリバボー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 生死を分けた（秘）瞬間！！芸能人★九死に一生SP

  バナナマン(設楽統、日村勇紀)、小室瑛莉子、ゆうちゃみ、大沢あかね、伊集院光 らが出演しています

  https://tver.jp/episodes/epzpej8mur
</p>

<p class="tver">
  バラエティ 上田と女が吠える夜(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ワークライフバランスを捨ててる女VS大事にしてる女が大集合

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、いとうあさこ、若槻千夏、森本慎太郎(SixTONES)、あの、植草美幸、高木菜那、高橋成美、枡田絵理奈、増田惠子、安井友梨 らが出演しています

  https://tver.jp/episodes/epk440bpli
</p>

<p class="tver">
  バラエティ ホンマでっか！？TV(2026) の配信がTVerで始まりました。
  9/2 21:00まで

  ※ 冷凍食品の活用術＆激ハマりNo.1を大発表

  明石家さんま、井上清華、EXIT、島崎和歌子、ブラックマヨネーズ、磯野貴理子、朝日奈央、重岡大毅(WEST.)、岡本宗史、菊池真由子 らが出演しています

  https://tver.jp/episodes/epsob0crap
</p>

<p class="tver">
  バラエティ ニノなのに(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 司会は津田健次郎！MAZZEL NAOYAが3日間1000円生活

  二宮和也、津田健次郎、小手伸也、岩田絵里奈、NAOYA、すがちゃん最高No.1(ぱーてぃーちゃん)、平林純 らが出演しています

  https://tver.jp/episodes/epzp64ozbg
</p>

<p class="tver">
  バラエティ いたジャン！(2026) 110回の配信がTVerで始まりました。
  9/3 0:25まで

  ※ 7人だけの夏休み（3）幼稚園かくれんぼ

  Hey! Say! JUMP(山田涼介、知念侑李、有岡大貴、髙木雄也、伊野尾慧、八乙女光、薮宏太)、蓮見翔(ダウ90000)、太田博久(ジャングルポケット) らが出演しています

  https://tver.jp/episodes/ept4u2x0df
</p>

<p class="tver">
  バラエティ 賞金先渡しクイズ SAVE MONEY(2026) 19回の配信がTVerで始まりました。
  9/2 23:58まで

  ※ 【路線バスの降車ボタン全部で何個？】【「おさかな天国」歌詞の中に魚 何匹出てくる？】超難問なのに…ミラクル連発でセーブマネー成功者が現れる！？

  劇団ひとり、安田章大(SUPER EIGHT)、横澤夏子、ウルフアロン、吉川ひより(超ときめき♡宣伝部) らが出演しています

  https://tver.jp/episodes/eppt8c0pgq
</p>

<p class="tver">
  バラエティ ふるさとの未来(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 経営難からの立て直し…八ヶ岳農業大学校

  加藤紀子、川名凜、南波雅俊 らが出演しています

  https://tver.jp/episodes/epg7nk0xvj
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 9話の配信がTVerで始まりました。
  9/3 0:59まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、今井柊斗、大下ヒロト らが出演しています

  https://tver.jp/episodes/epoyikgato
</p>

<p class="tver">
  ドラマ おちたらおわり(2026) 9話の配信がTVerで始まりました。
  9/3 0:23まで

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、船ヶ山哲 らが出演しています

  https://tver.jp/episodes/epktn39txk
</p>

<p class="tver">
  ドラマ ドライな同期の溺愛癖(2026) 8(最終)話の配信がTVerで始まりました。
  終了日未記載

  ゆいかれん、藤林泰也、小栗有以(AKB48)、半田周平 らが出演しています

  https://tver.jp/episodes/epbspl37ln
</p>

<p class="tver">
  ドラマ 表参道高校合唱部!(2015) 4話の配信がTVerで始まりました。
  9/3 23:59まで

  芳根京子、志尊淳、吉本実憂、森川葵、堀井新太、高杉真宙、萩原みのり、泉澤祐希、杏花、小島梨里杏、長谷川ニイナ、百成瑛、松本来夢、川平慈英、堀内敬子、神田沙也加、デビット伊東、立石涼子、平泉成、古村比呂、原沙知絵、加藤虎ノ介、中河内雅貴、宮尾俊太郎、ミスターちん、牧村泉三郎、野村信次、高畑淳子、城田優 らが出演しています

  https://tver.jp/episodes/epo9ieu2ha
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 5話の配信がTVerで始まりました。
  9/3 23:59まで

  鈴木亮平、黒木華、井川遥、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、新井美羽、向里祐香、渋川清彦、伊勢志摩、柳谷参助、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、今里真、森下じんせい、井上拓哉、大倉孝二、町田啓太、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epfy61mvlv
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 9話の配信がTVerで始まりました。
  9/2 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/epd5jel0e8
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 5話の配信がTVerで始まりました。
  9/3 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、滝裕可里、小泉孝太郎、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/epbdst9fri
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 4話の配信がTVerで始まりました。
  9/3 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、森香澄、村瀬紗英、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、原因は自分にある。(大倉空人、小泉光咲、長野凌大、桜木雅哉)、今井隆文、小池里奈、池村碧彩、飯田倫太朗、中瀬古隆誠、河内大和、関口メンディー、戸田恵子、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/ep0pvc5o0c
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 9話の配信がTVerで始まりました。
  9/2 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、大西武志、樋口日奈、小出恵介、遊井亮子、塚本直毅(ラブレターズ)、戸田昌宏、山崎紘菜 らが出演しています

  https://tver.jp/episodes/epssjg1jq2
</p>

<p class="tver">
  ドラマ ファーストクライ 母子救命救急班(2026) 8話の配信がTVerで始まりました。
  9/2 21:59まで

  比嘉愛未、松島聡(timelesz)、徳永えり、濱正悟、川西賢志郎、優希美青、遠山俊也、前田敦子、山村紅葉、岡部たかし、真矢ミキ、小宮山莉渚、新井美羽、三河悠冴、しゅはまはるみ らが出演しています

  https://tver.jp/episodes/epsijorwie
</p>

<p class="tver">
  ドラマ Tokyo middle 30(2026) 6話の配信がTVerで始まりました。
  9/2 22:00まで

  仲里依紗、のん、深川麻衣、渡辺大知、朝井大智、中島颯太、風間俊介 らが出演しています

  https://tver.jp/episodes/epa17qj5kr
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2026・2期) 6話の配信がTVerで始まりました。
  9/2 21:54まで

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、阪本奨悟、渡辺真起子、坂口涼太郎、パパイヤ鈴木、水瀬紗彩耶 らが出演しています

  https://tver.jp/episodes/epgjhabrqi
</p>

<p class="tver">
  アニメ 神の雫(2026) 20話の配信がTVerで始まりました。
  9/3 0:30まで

  亀梨和也、佐藤拓也、内田真礼、甲斐田裕子、藤真秀、渡辺美佐、内田夕夜、浦山迅、Lynn、石住昭彦、堀総士郎、小原好美、銀河万丈 らが出演しています

  https://tver.jp/episodes/eplexfpkjd
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 9話の配信がTVerで始まりました。
  9/3 0:00まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epewk71ijo
</p>

<p class="tver">
  アニメ いびってこない義母と義姉(2026) 7話の配信がTVerで始まりました。
  9/2 23:29まで

  くじら、芹澤優、貫井柚佳、麦穂あんな、根本京里、内山夕実、市道真央 らが出演しています

  https://tver.jp/episodes/ep30ui7jhj
</p>

<p class="tver">
  アニメ 探偵はもう、死んでいる。(2021) 8話の配信がTVerで始まりました。
  終了日未記載

  長井新、宮下早紀、竹達彩奈、高尾奏音、白砂沙帆、長縄まりあ、松岡禎丞、渕上舞、子安武人 らが出演しています

  https://tver.jp/episodes/epd945qde9
</p>

<p class="tver">
  アニメ メイドインアビス(2019) 4話の配信がTVerで始まりました。
  終了日未記載

  富田美憂、伊瀬茉莉也、井澤詩織、大原さやか、豊崎愛生、田村睦心、沼倉愛美、塙真奈美、村田太志、坂本真綾 らが出演しています

  https://tver.jp/episodes/epaw9xheq8
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 20話の配信がTVerで始まりました。
  9/2 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epnizakkcq
</p>

<p class="yt">
  TVアニメ「魔法のプリンセスミンキーモモ」27～39話｜2026/8/24配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜4:53:48
  ※ 8/31(月) 19:59まで

  小山茉美：ミンキーモモ
  増岡弘：王様
  塚田恵美子：王妃様
  納谷六朗：パパ
  土井美加：ママ
  田ノ中勇：シンドブック
  木藤玲子：モチャー
  三田ゆう子：ピピル
  千葉繁：カジラ

  https://youtu.be/JLPRMQ06QgQ
</p>

<p class="yt">
  アニメ「CODE:BREAKER」1～7話｜2026/8/26配信｜フル☆アニメTV｜2:48:00
  ※ 2026/9/8(火) 23:59まで。後半はこちらの配信が終了後、配信

  岡本信彦：大神零
  日笠陽子：桜小路桜
  鈴村健一：刻
  木村昴：平家将臣
  豊永利行：天宝院遊騎
  斎賀みつき：八王子泪
  三木眞一郎：人見
  津田健次郎：雪比奈
  ゆかな：藤原寧々音
  中田譲治：藤原総理
  甲斐田裕子：神田
  仙台エリ：あおば
  辻谷耕史：桜小路剛徳
  氷上恭子：桜小路ゆき

  https://youtu.be/NLA-RErTnYE
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 43話の配信がTVerで始まりました。
  9/2 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epdvxol0ss
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 22話の配信がTVerで始まりました。
  9/2 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep0qwvypa3
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 滝沢カレンと和田明日香が6月のNo.1料理を選ぶ

  滝沢カレン、和田明日香、石田たくみ(カミナリ)、橋本直(銀シャリ)、高橋恭平(なにわ男子)、山下健二郎 らが出演しています

  https://tver.jp/episodes/epn0tbblbc
</p>

<p class="tver">
  バラエティ musiQ Answer 360°～TMNETWORK SPECIAL～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ TMNETWORK語る『Get Wild』制作秘話

  TMNETWORK、奈緒 らが出演しています

  https://tver.jp/episodes/ep3ry6qtle
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 9話の配信がTVerで始まりました。
  9/1 11:59まで

  佐藤健、黒木華、柄本佑、高岡早紀、林泰文、坪倉由幸(我が家)、天野慶久、森岡龍、大鷹明良、瀬戸利樹、鈴木亮平、浅野和之、木場勝己、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep80db846w
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 10～11(最終)話の配信がTVerで始まりました。
  終了日未記載

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也 らが出演しています

  https://tver.jp/episodes/epqebofe1s
</p>

<p class="tver">
  ドラマ デスノート(2015) 10～11(最終)話の配信がTVerで始まりました。
  終了日未記載

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/eppp51mf9m
</p>

<p class="tver">
  ドラマ オーバー30(2009) 26～28話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epnq22i90m
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 7～9(最終)話の配信がTVerで始まりました。
  終了日未記載

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epjt08gfar
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 7～8話の配信がTVerで始まりました。
  9/1 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、重田尚彦、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epqdogibf3
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 3話の配信がTVerで始まりました。
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epo6oambzu
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 42話の配信がTVerで始まりました。
  9/2 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epx6ma0uz8
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 18話の配信がTVerで始まりました。
  9/2 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epumkobsh7
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 16話の配信がTVerで始まりました。
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/ep672wxm78
</p>
