---
title: 2026/9/27 のピックアップ
date: 2026-09-27
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ カガミタタリ(2026) 4～5(最終)話の配信がTVerで始まりました。 13分
  終了日未記載

  4話：https://tver.jp/episodes/ephw01l3op
  5話：https://tver.jp/episodes/epywhwqsk5

  園田あいか、MASHIHO、黒木ひかり、田島芽瑠、沙央くらま らが出演しています
</p>

<p class="tver">
  アニメ 松岡修造と『新テニスの王子様』 ～テニミュシリーズSP～(2026) の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 10/2（金）から東京 Kanadevia Hallにて開幕するミュージカル『新テニスの王子様 The Final Stage』を記念して、ミュージカル『テニスの王子様シリーズ』の魅力を凝縮した豪華特番

  松岡修造、井上裕介(NON STYLE) らが出演しています

  https://tver.jp/episodes/ep0vnegekg
</p>

<p class="tver">
  アニメ 追放された転生重騎士はゲーム知識で無双する(2026) 13話の配信がTVerで始まりました。 24分
  10/5 0:55まで

  大塚剛央、若山詩音、阿部菜摘子 らが出演しています

  https://tver.jp/episodes/epzdbztqmw
</p>

<p class="yt">
  アニメ「鉄鍋のジャン!」第1～12話｜2026/9/27配信｜アニメタイムズ公式｜4:43:34
  ※ 10/11(日) 17:59まで

  戸谷菊之介：秋山醤
  長谷川育美：五番町霧子
  天﨑　滉平：小此木タカオ
  Ｍ・Ａ・Ｏ：セレーヌ楊
  櫻井　孝宏：沢田圭
  村田　太志：荀智秀
  小林　裕介：河原裕司
  天田　益男：大谷日堂
  津田健次郎：ナレーション

  https://youtu.be/8-MC0aWnW8w
</p>

<p class="yt">
  他人がやるリズム天国 #2 加藤小夏｜2026/9/27配信｜SILENT HILL f を本人がやります｜3:35:00

  加藤小夏 らが出演しています

  https://youtu.be/47khhqtMydA
</p>

<p class="tver">
  ドラマ キスは捜査のあとで(2026) 10(最終)話の配信がTVerで始まりました。 23分
  終了日未記載

  渡部秀、齋藤璃佑、工藤遥、ドロンズ石本、渋江譲二、小方蒼介、菊川怜 らが出演しています

  https://tver.jp/episodes/epkpqj0q8v
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。 46分
  10/4 18:52まで

  ※ そうめん-1グランプリ2026ファイナル

  相葉雅紀、小峠英二(バイきんぐ)、澤部佑(ハライチ) らが出演しています

  https://tver.jp/episodes/epzlcj8e05
</p>

<p class="tver">
  バラエティ ウソかホントかわからない やりすぎ都市伝説(2026) 2026回の配信がTVerで始まりました。 116分
  終了日未記載

  ※ やりすぎ都市伝説 2026秋SP▼配信限定版 謎多き離島都市伝説

  2026秋SP：https://tver.jp/episodes/epfi4n5nx8
  離島都市伝説：https://tver.jp/episodes/ep9medbx22

  今田耕司、東野幸治、千原兄弟、野性爆弾、柄本時生、高杉真宙、仲川瑠夏(FRUITS ZIPPER)、松田好花、的場浩司、森脇梨々夏、鐘崎リリカ、ちゅうえい(流れ星☆)、ユミー、角由紀子、Mr.都市伝説関暁夫、伊藤俊介(オズワルド)、植田紫帆(オダウエダ)、梅村賢太郎(ラフ次元)、柏木成彦、素敵じゃないか、かじがや卓哉、金子カーリー、Den(リンダカラー∞)、真栄田賢(スリムクラブ)、村田大樹、ド桜、山﨑ケイ(相席スタート)、吉田結衣(カーネーション)、西田淳裕(キンボシ)、パンチ浜崎(ザ・パンチ)、みっちょん。、山口猫湖(ホットアイスティー) らが出演しています
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) の配信がTVerで始まりました。 20分
  終了日未記載

  ※ TVer特別版後編　演出・宮崎陽平監督と「悪役エージェント調査報告」！

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/eps3q9s1z6
</p>

<p class="tver">
  バラエティ Golden SixTONES(2026) の配信がTVerで始まりました。 46分
  終了日未記載

  ※ 福士蒼汰&大谷亮平&滝藤賢一と超難問ダジャレ&脳トレ対決

  SixTONES(ジェシー、京本大我、松村北斗、髙地優吾、森本慎太郎、田中樹)、福士蒼汰、大谷亮平、滝藤賢一、松井ケムリ(令和ロマン)、志田彩良、イワクラ(蛙亭)、インポッシブル、タイムマシーン3号、滝音、東京ホテイソン、ヤーレンズ らが出演しています

  https://tver.jp/episodes/epa7xk0evj
</p>

<p class="tver">
  バラエティ おしゃれクリップ(2026) の配信がTVerで始まりました。 26分
  10/4 21:59まで

  ※ 桐谷美玲「働く母」の素顔を夫・三浦翔平がアンケートで初告白

  山崎育三郎、井桁弘恵、桐谷美玲、佐藤ありさ、村尾信尚、三浦翔平 らが出演しています

  https://tver.jp/episodes/epupr8qkiv
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。 43分
  終了日未記載

  ※ 踊りたくない芸人…MiLKと滅！モナキも!!▽木曜深夜と合わせて2夜放送▽運動神経悪い芸人も

  蛍原徹、小宮浩信(三四郎)、塙宣之(ナイツ)、加賀翔(かが屋)、赤木裕(たくろう)、阪本(マユリカ)、秋定遼太郎、滝音、三島達矢(すゑひろがりず)、酒井貴士(ザ・マミィ)、曽野舜太(M!LK)、伊原六花、中嶋優月(櫻坂46)、藤本敏史(FUJIWARA) らが出演しています

  https://tver.jp/episodes/epdkx5tznc
</p>

<p class="tver">
  バラエティ タイムisマネー 挑むが勝ち(2026) の配信がTVerで始まりました。 47分
  10/4 22:29まで

  ※ 賞金が日々減額…ダーツブル3連続で最高280万円

  せいや(霜降り明星)、本田翼、近藤春菜(ハリセンボン)、重盛さと美、那須雄登(ACEes)、吉村崇(平成ノブシコブシ)、ノッチ(デンジャラス)、大家志津香、岩田玲 らが出演しています

  https://tver.jp/episodes/epk5u2od5v
</p>

<p class="tver">
  バラエティ ダウンタウンのガキの使いやあらへんで！(2026) の配信がTVerで始まりました。 25分
  10/4 23:24まで

  ※ Mr.マリック直伝!不器用だらけのマジック大会 完結編

  浜田雅功(ダウンタウン)、月亭方正、ココリコ(遠藤章造、田中直樹)、ライセンス(藤原一裕、井本貴史)、Mr.マリック、井上裕介(NON STYLE)、佐々木健介、チャンス大城、牧野ステテコ らが出演しています

  https://tver.jp/episodes/epmr2zuoq4
</p>

<p class="tver">
  バラエティ EIGHT-JAM(2026) の配信がTVerで始まりました。 46分
  10/5 0:10まで

  ※ サカナクション、MAN WITH A MISSION…踊れるロックの系譜！[BOOM BOOM SATELLITES]の功績とは？

  SUPEREIGHT、古田新太、中野雅之、小林祐介、佐々木幸生、ShinSakiura、高橋茂雄(サバンナ)、市川紗椰 らが出演しています

  https://tver.jp/episodes/epwioj55c8
</p>

<p class="tver">
  ドラマ 救命病棟24時(1999・1期) 12(最終)話の配信がTVerで始まりました。 90分
  10/4 23:59まで

  江口洋介、松嶋菜々子、須藤理彩、沢村一樹、杉本哲太、金田明夫、八嶋智人、大島蓉子、高田美佐、清水章吾、北原一咲 らが出演しています

  https://tver.jp/episodes/ep9t4yzaok
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 34話の配信がTVerで始まりました。 25分
  10/7 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、レッド吉田(TIM)、岡田義徳、東亜優、荒井健太郎、高橋一生、不破万作、青木和代、谷村拓哉、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/ep7e704e88
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2025) 4～6話の配信がTVerで始まりました。 45分
  終了日未記載

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、西原亜希、南圭介、通信妨害 らが出演しています

  https://tver.jp/episodes/eplhbhh5v9
</p>

<p class="tver">
  ドラマ 振り返れば奴がいる(1993) 10話の配信がTVerで始まりました。 47分
  10/4 23:59まで

  織田裕二、石黒賢、松下由樹、西村まさ彦、佐藤B作、鹿賀丈史、千堂あきほ、坂本あきら、青木和代、青木良恵 らが出演しています

  https://tver.jp/episodes/epswwm8ewz
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 1～3話の配信がTVerで始まりました。 69分
  10/16 21:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、鳥谷敬、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、きょん(コットン)、吉田ウーロン太、フラミンゴ、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、今里真、森下じんせい、伊達さゆり、井上拓哉、上田遥、松平健、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、片山幸人、内山智貴、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epyzywdyvj
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 1～3話の配信がTVerで始まりました。 59分
  10/16 21:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、柴本幸、モロ師岡、美保純、葉山奨之、光石研、山本未來、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/eprlcni5b3
</p>

<p class="tver">
  ドラマ 水曜日の情事～a Wednesday love affair(2001) 9話の配信がTVerで始まりました。 47分
  10/4 23:59まで

  本木雅弘、天海祐希、原田泰造(ネプチューン)、谷原章介、伊東美咲、眞鍋かをり、水橋研二、北村一輝、木村多江、春海四方、筒井巧、田山涼成、田村亮、石田ひかり らが出演しています

  https://tver.jp/episodes/ep4twl8eow
</p>

<p class="tver">
  ドラマ 東京タワー(2024) 7～9(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  永瀬廉(King & Prince)、板谷由夏、松田元太(Travis Japan)、MEGUMI、永瀬莉子、なえなの、甲本雅裕、YOU、池田朱那 らが出演しています

  https://tver.jp/episodes/epr5fv48ll
</p>

<p class="tver">
  ドラマSP BARレモン・ハート レモンハート誕生秘話(2018) の配信がTVerで始まりました。 30分
  10/4 21:00まで

  ※ 大晦日スペシャル 第2部

  中村梅雀、川原和久、松尾諭 らが出演しています

  https://tver.jp/episodes/epsw4mlnji
</p>

<p class="tver">
  ドラマ 泣いてたまるか(1966) 6話の配信がTVerで始まりました。 49分
  終了日未記載

  渥美清、柳川慶子、松村達雄、春川ますみ、早川保、小松方正、高橋繁男 らが出演しています

  https://tver.jp/episodes/ep98ejumgz
</p>

<p class="tver">
  ドラマ ムショぼけ(2021) 4話の配信がTVerで始まりました。 24分
  終了日未記載

  北村有起哉、武田玲奈、鳴海唯、藤井アキト、長村航希、末成映薫、板尾創路 らが出演しています

  https://tver.jp/episodes/epslur50cd
</p>

<p class="tver">
  ドラマ アイのない恋人たち(2024) 5話の配信がTVerで始まりました。 46分
  終了日未記載

  福士蒼汰、岡崎紗絵、佐々木希、本郷奏多、成海璃子、前田公輝、深川麻衣、高橋ひとみ、伊藤正之、岡まゆみ、山下容莉枝、丘みつ子 らが出演しています

  https://tver.jp/episodes/epqjo2jmmv
</p>

<p class="tver">
  アニメ 無職転生Ⅲ ～異世界行ったら本気だす～(2026) 13話の配信がTVerで始まりました。 25分
  10/4 23:59まで

  内山夕実、杉田智和、茅野愛衣、小原好美、金元寿子、Lynn、会沢紗弥、高田憂希、鶴岡聡、逢坂良太、田中理恵、諸星すみれ、上田麗奈、興津和幸、若山詩音、小山力也 らが出演しています

  https://tver.jp/episodes/epv6dqqrlh
</p>

<p class="tver">
  アニメ シャインポスト(2022) 3話の配信がTVerで始まりました。 23分
  終了日未記載

  鈴代紗弓、蟹沢萌子(≠ME)、夏吉ゆうこ、長谷川里桃、中川梨花 らが出演しています

  https://tver.jp/episodes/epts0x6f4w
</p>

<p class="tver">
  アニメ ワンピース(2026) 1180話の配信がTVerで始まりました。 24分
  10/4 23:15まで

  田中真弓、中井和哉、岡村明美、山口勝平、平田広明、大谷育江、山口由里子、木村昴、チョー、宝亀克寿 らが出演しています

  https://tver.jp/episodes/epmufxtqag
</p>

<p class="tver">
  アニメ 対ありでした。 ～お嬢さまは格闘ゲームなんてしない～(2026) 12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 2～10話の配信も始まりました。現在全話配信になっているので1話のリンクも張っておきます

  12話：https://tver.jp/episodes/ep1w0c27ry
  1話：https://tver.jp/episodes/ep923wghql

  長谷川育美、市ノ瀬加那、千本木彩花、下地紫野、長縄まりあ、花守ゆみり、檜山修之、阿座上洋平、八代拓 らが出演しています
</p>

<p class="yt">
  忙しすぎてストレス溜まりまくってたので庭の伊勢丹で鬼のように爆買いしてたんだがまさかの野生のアレン様をお見かけして本当御利益どころの騒ぎじゃなくてイライラも吹っ飛んで幸💝🌪️｜2026/9/26配信｜仲里依紗です。｜20:38

  仲里依紗 らが出演しています

  https://youtu.be/RuFr8cGw4sQ
</p>

<p class="yt">
  松岡茉優&仲里依紗、壮絶な撮影エピソードを赤裸々告白!田中みな実ら共演者との裏話も明かす Netflixシリーズ「ダウンタイム」インタビュー｜2026/9/24配信｜oricon｜19:02

  松岡茉優、仲里依紗 らが出演しています

  https://youtu.be/LEb66SkvuHw
</p>

<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。 25分
  10/4 17:59まで

  ※ 火の国 アゼルバイジャン

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/epaihv770q
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/4 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/epfm5yow4v
</p>

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 全14話の配信がTVerで始まりました。 24分
  10/2 17:59まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/eps4aolye5
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。 57分
  10/4 12:44まで

  ※ 日本アカデミー賞最優秀主演男優賞・横浜流星の“人生を深掘る”グルメ旅

  兼近大樹(EXIT)、満島真之介、横浜流星 らが出演しています

  https://tver.jp/episodes/epkl3qqrki
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。 45分
  10/4 13:59まで

  ※ 【熱海SP】日本一絶品BBQ&絶景花火パフォーマンス

  timelesz らが出演しています

  https://tver.jp/episodes/ep60pgu2w9
</p>

<p class="tver">
  ドラマ ハルとアオのお弁当箱(2020) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  吉谷彩子、井之脇海、梶原ひかり、矢島舞美、森日菜美、雪見みと らが出演しています

  https://tver.jp/episodes/eprknmjid9
</p>

<p class="tver">
  ドラマ 能面検事(2025) 1～4話の配信がTVerで始まりました。 58分
  終了日未記載

  上川隆也、吉谷彩子、大西流星(なにわ男子)、竹財輝之助、観月ありさ、寺脇康文、渋谷謙人、美山加恋、床嶋佳子、小林きな子、阪田マサノブ、片田陽依 らが出演しています

  https://tver.jp/episodes/epitkqg3zg
</p>

<p class="tver">
  ドラマ 量産型ルカ -プラモ部員の青き逆襲-(2025) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  乃木坂46(賀喜遥香、筒井あやめ)、山崎竜太郎、小林桃子、尾本侑樹奈(LINKL PLANET)、岡田義徳 らが出演しています

  https://tver.jp/episodes/epgjghplry
</p>

<p class="tver">
  ドラマ 夫を社会的に抹殺する5つの方法(2023) 9～10(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  馬場ふみか、野村周平、佐藤玲、持田将史(s**t kingz)、森カンナ、渡辺いっけい、宮崎美子 らが出演しています

  https://tver.jp/episodes/epq5a8yc91
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 19話の配信がTVerで始まりました。 26分
  10/4 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/eptrmfev9v
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 45話の配信がTVerで始まりました。 24分
  10/4 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epdkuskp7y
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。 47分
  10/4 11:44まで

  ※ 若林卒業SP!全員協力11アンサーで奇跡起こる!?

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、アンタッチャブル(山崎弘也、柴田英嗣)、オードリー、髙地優吾(SixTONES)、生見愛瑠、朝日奈央、髙橋ひかる らが出演しています

  https://tver.jp/episodes/epqczs5ief
</p>

<p class="yt">
  劇場先行版「風を継ぐもの -はじまり-」スペシャル番組｜2026/9/27配信｜アニプレックス チャンネル｜29:40
  ※ 2027/4/4(日) 23:59まで

  佐久間大介：立川迅助
  梶　裕貴：沖田総司
  悠木　碧：小金井兵庫
  内山　昂輝：土方歳三
  中村　悠一：近藤勇
  加瀬　康之：芹沢鴨
  上川　隆也：梅田新兵衛

  https://youtu.be/DZqyrtDJYK8
</p>

<p class="yt">
  アニメ「FAIRY TAIL (新シーズン)」第227～233話｜2026/9/26配信｜アニメタイムズ公式｜2:51:07
  ※ 10/28(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/gPnQXB_73a4
</p>

<p class="tver">
  バラエティ 発見!!食遺産 ＃あなたのレシピ残させてください(2026) の配信がTVerで始まりました。 21分
  10/4 12:53まで

  ※ 【和歌山市・オクラ】とろネバ食感がたまらない！激うま＆簡単レシピ

  石田靖、須田亜香里 らが出演しています

  https://tver.jp/episodes/ep2pm1hehl
</p>

<p class="tver">
  ドキュメンタリー たべるししゃべるし / 長谷川あかり＆鎮西寿々歌（FRUITS ZIPPER）(2026) の配信がTVerで始まりました。 39分
  終了日未記載

  ※ 「免許も取りたいんだけど、えっ免許とってない意外だ持ってないのわたし持ってないわ免許合宿いく？えーっ！あかりちゃんと2人で？もう免許合宿で缶詰になって2週間とか」なごはん

  鎮西寿々歌(FRUITS ZIPPER)、長谷川あかり らが出演しています

  https://tver.jp/episodes/epy7hkwd3k
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) 2000回の配信がTVerで始まりました。 25分
  10/4 6:59まで

  ※ 2000年前の情報革命!?本の元となった羊皮紙を作れ!

  所ジョージ、石田剛太、並木雲楓 らが出演しています

  https://tver.jp/episodes/epj359zwim
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。 25分
  10/4 10:59まで

  ※ 自宅で簡単！“秋の味”戻りカツオ手作りツナ＆たたき

  優香、稲垣飛鳥、かずや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epdma9wdyt
</p>

<p class="tver">
  バラエティ ぺこもぐキッチン(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 【齋藤飛鳥×富田望生】桃と塩麹のカプレーゼ＆ひき肉の塩麹丼!?

  栗原心平、齋藤飛鳥、富田望生、高橋大悟 らが出演しています

  https://tver.jp/episodes/epeh7exd7c
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 21回の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 【爆美女デート】STU48彼女目線

  アルコ&ピース(平子祐希、酒井健太)、STU48 らが出演しています

  https://tver.jp/episodes/ep6k4fpmc9
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。 24分
  10/4 12:00まで

  ※ 伊勢鈴蘭、昆布で人を呼び込む“だしツーリズム”とは！？

  飯田圭織、牧野真莉愛、伊勢鈴蘭、波多野裕太、糸賀舜 らが出演しています

  https://tver.jp/episodes/epezvsiz4y
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 12話の配信がTVerで始まりました。 30分
  10/4 12:00まで

  水川あさみ、古田新太、佐戸井けん太、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史、佐々木理江、高橋悠也、内山翔人、灰谷えみ らが出演しています

  https://tver.jp/episodes/epuh43lnwk
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 10話の配信がTVerで始まりました。 44分
  10/11 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、福士誠治 らが出演しています

  https://tver.jp/episodes/epbwko6dc0
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 9話の配信がTVerで始まりました。 46分
  10/6 11:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、大後寿々花、浅野和之、沢尻エリカ、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epgf6o2ryj
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 20話の配信がTVerで始まりました。 25分
  10/4 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epxj0ip82o
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 3話の配信がTVerで始まりました。 24分
  10/4 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epkejxah0k
</p>
