---
title: TEST-2026/05/28 のピックアップ
date: 2026-05-28
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
  【公式】芳根京子の〈生〉旅｜2026/5/28配信｜【公式】芳根京子の〈生〉旅｜10:13

  ※ 〈生〉旅YouTube登録者数100万人突破ありがとう記念特別篇!

  https://youtu.be/oLWzvxEG4Gc
</p>

<p class="tver">
  ドキュメンタリー カンブリア宮殿(2026) の配信がTVerで始まりました。
  6/4 23:05まで

  ※ ヒット連発で最高益！“東宝”強さの秘密とは

  金原ひとみ、ヒャダイン らが出演しています

  https://tver.jp/episodes/epgwf8t9om
</p>

<p class="tver">
  バラエティ THE突破ファイル(2026) の配信がTVerで始まりました。
  6/4 18:59まで

  ※ こんな家が狙われる!?危険な侵入窃盗防ぐ方法は?草薙VSガソスタ強盗

  内村光良、サンドウィッチマン、EXIT、ガクテンソク、加藤ローサ、木戸大聖、生見愛瑠、吉住、大久保波留(DXTEEN)、かのうみゆ、黒木ひかり、長峰悠也、ライオンロック、宮下草薙 らが出演しています

  https://tver.jp/episodes/epuk3khb09
</p>

<p class="tver">
  バラエティ プレバト！！(2026) 528回の配信がTVerで始まりました。
  6/11 18:59まで

  ※ ガラスアートで傑作連発！★俳句……最年少特待生、誕生なるか!?

  前編：https://tver.jp/episodes/ep82atncag

  後編：https://tver.jp/episodes/ep9hz0uc9h

  浜田雅功(ダウンタウン)、エルフ、高嶋政宏、高橋恭平(なにわ男子)、松井玲奈、村山輝星、山本彩、YOU、梅沢富美男、小松利昌、森口瑤子、夏井いつき、清水麻椰 他
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。
  6/4 18:59まで

  ムロツヨシ新クイズ企画にクセ強出題者登場！珍解答続出！？
  ムロ：https://tver.jp/episodes/epyfsrm20d

  鏡優翔率いるレスリング五輪金メダリストが緊急参戦！
  鏡：https://tver.jp/episodes/eplk9bwn3i

  小野・稲本・闘莉王のレジェンド軍団が老人変装でスゴ技披露
  小野：https://tver.jp/episodes/epd6xt1tkv

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、川口春奈、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、池田美優、川田裕美、芝大輔(モグライダー)、ムロツヨシ、井上一太、鏡優翔、クロちゃん(安田大サーカス)、小林麗菜、酒井貴士(ザ・マミィ)、櫻井つぐみ、土性沙羅、永岡蓮王、浜口京子、横川尚隆、ワタリ119、高柳光希稲本潤一、小野伸二、岡野雅行、武田修宏、田中マルクス闘莉王、ナダル、深田竜生(ACEes)、松木安太郎、杉山真也 らが出演しています
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 129回の配信がTVerで始まりました。
  6/5 0:20まで

  ※ 風磨・長谷川初MC対決！本気あっち向いてホイ

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、あばれる君、太田博久(ジャングルポケット)、かなで(3時のヒロイン)、コカドケンタロウ(ロッチ)、高野正成(きしたかの)、高松瞳、＝LOVE、信子(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/ep9iknamnl
</p>

<p class="tver">
  バラエティ あざとくて何が悪いの？(2026) の配信がTVerで始まりました。
  6/5 1:20まで

  ※ Travis Japan松倉＆矢吹奈子とサプライズの境界線を激論!!

  山里亮太(南海キャンディーズ)、鈴木愛理、松倉海斗(Travis Japan)、矢吹奈子、桜木心菜(私立恵比寿中学)、樋之津琳太郎 らが出演しています

  https://tver.jp/episodes/epohgjt9ww
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  6/5 0:58まで

  ※ 共感力をつけろ！世間の投票で5人の価値観が浮き彫りに！

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/eplhm2knbz
<p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。
  6/5 1:33まで

  ※ ゲーム大好き芸人

  蛍原徹、バカリズム、田中卓志(アンガールズ)、野田クリスタル(マヂカルラブリー)、狩野英孝、大東翔生(ダブルヒガシ)、ヤス、ナイチンゲールダンス、ケンドーコバヤシ 他

  https://tver.jp/episodes/ep3uadm6q6
</p>

<p class="tver">
  ドラマ ネタジョ(2026) 5話の配信がTVerで始まりました。
  6/5 1:58まで

  辻凪子、のせりん、中山莉子(私立恵比寿中学)、太田駿静(OCTPATH)、伊藤修子、野村宏伸、板尾創路 らが出演しています

  https://tver.jp/episodes/epnb9jqib2
</p>

<p class="tver">
  ドラマ その天才様は偽装彼女に執着する(2026) 6話の配信がTVerで始まりました。
  6/3 23:59

  今野大輝(B&ZAI)、加藤史帆、香音、堀丞、西井幸人、しゅはまはるみ らが出演しています

  https://tver.jp/episodes/epaxh62b9v
</p>

<p class="tver">
  ドラマ あの夜、社長の子供を授かりました(2026) 7話の配信がTVerで始まりました。
  6/5 1:28まで

  佐々木美玲、森次政裕(超特急)、和田雅成、大原梓、朝井瞳子、神保悟志 らが出演しています

  https://tver.jp/episodes/ephv5oadjl
</p>

<p class="tver">
  ドラマ ディープリベンジ-顔を捨てた家政婦-(2026) 8話の配信がTVerで始まりました。
  6/5 1:03まで

  堀未央奈、石川恋、飯島寛騎、松井利樹(BALLISTIK BOYZ)、EXILE TRIBE、才川コージ、槙尾ユウスケ(かもめんたる)、的場浩司 らが出演しています

  https://tver.jp/episodes/ep83vnvz08
<p>

<p class="tver">
  ドラマ るなしい(2026) 9話の配信がTVerで始まりました。
  6/5 0:59まで

  原菜乃華、窪塚愛流、本島純政、滝澤エリカ、島村龍乃介、正名僕蔵、根岸季衣 らが出演しています

  https://tver.jp/episodes/epbp4q0ils
</p>

<p class="tver">
  ドラマ 君が死刑になる前に(2026) 9話の配信がTVerで始まりました。
  6/5 0:03まで

  加藤清史郎、鈴木仁、与田祐希、内博貴、ニシダ(ラランド)、伊礼姫奈、大塚ヒロタ、戌井昭人、輝有子、今江大地、白戸ゆめの、内田慈、唐田えりか らが出演しています

  https://tver.jp/episodes/eptxzgdhl4
</p>

<p class="tver">
  ドラマ 聖ラブサバイバーズ(2026) 9話の配信がTVerで始まりました。
  6/5 0:29まで

  石井杏奈、上田竜也、佐津川愛美、山谷花純、増子敦貴、浜中文一、藤堂日向、宇佐卓真、街田しおん らが出演しています

  https://tver.jp/episodes/ep61eed046
</p>

<p class="tver">
  ドラマ 惡の華(2026) 8話の配信がTVerで始まりました。
  6/5 0:29まで

  鈴木福、あの、井頭愛海、中西アルノ、須藤千尋、高村佳偉人、坂口碧、木村知貴、龍之介、紺野まひる、堀部圭亮、長谷川朝晴、中越典子 らが出演しています

  https://tver.jp/episodes/epgf4veenh
<p>

<p class="tver">
  ドラマ Oh,My Dad!!(2013) 9話の配信がTVerで始まりました。
  6/4 23:59まで

  織田裕二、田中奏生、長谷川京子、八嶋智人、鈴木杏樹 らが出演しています

  https://tver.jp/episodes/epqzgq7kli
</p>

<p class="tver">
  ドラマ 死神くん(2014) 全9話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  大野智、桐谷美玲、菅田将暉、松重豊 らが出演しています

  https://tver.jp/episodes/epl397begz
</p>

<p class="tver">
  ドラマ バーテンダー(2011) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  相葉雅紀、貫地谷しほり、荒川良々、光石研、池津祥子、西慶子、金子ノブアキ、尾美としのり、竹中直人、津川雅彦 らが出演しています

  https://tver.jp/episodes/epmgyp5q56
</p>

<p class="tver">
  ドラマ ONE DAY～聖夜のから騒ぎ～(2023) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  二宮和也、中谷美紀、大沢たかお、中川大志、松本若菜、中村アン、桜井ユキ、井之脇海、今井英二、福本莉子、小手伸也、加藤諒、大水洋介(ラバーガール)、丸山智己、梶原善、江口洋介、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epv0bk7r1w
</p>

<p class="tver">
  ドラマ 世界一難しい恋(2016) 全10話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  大野智、波瑠、小池栄子、小瀧望(WEST.)、千眼美子(清水富美加)、杉本哲太、丸山智己、三宅弘城、北村一輝 らが出演しています

  https://tver.jp/episodes/epqns8f11k
</p>

<p class="tver">
  ドラマ 特上カバチ!!(2010) 1～4話の配信がTVerで始まりました。
  6/30 23:59まで
  ※ 4話：6/6 9:59まで

  櫻井翔、堀北真希、遠藤憲一、渡辺いっけい、田丸麻紀、上里亮太、AKUN、川村早織梨、吉田桂子、桜井ひかり、森脇英理子、玄田哲章、吉田栄作、田口浩正、平栗あつみ、梅垣義明、平山浩行、葉山レイコ、藤木勇人、みっちー、小原正子、クワバタオハラ、矢崎広、前田美波里、浅野ゆう子、高橋克実、中村雅俊 らが出演しています

  https://tver.jp/episodes/ep631e02t7
</p>

<p class="tver">
  ドラマ マイガール(2009) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  相葉雅紀、優香、村上信五(SUPER EIGHT)、北村有起哉、山崎樹範、平岩紙、井村空美、石井萌々果、朝加真由美、山崎一、日村勇紀(バナナマン)、八名信夫、大森暁美、室井滋 他

  https://tver.jp/episodes/ep76g2nwxu
</p>

<p class="tver">
  ドラマSP 最後の約束(2010) の配信がTVerで始まりました。
  6/30(火) 23:59まで

  ※ 嵐が5人そろってドラマ主演！

  大野智、櫻井翔、相葉雅紀、二宮和也、松本潤、黒木メイサ、北村有起哉、大塚寧々、小堺一機、藤木直人、津川雅彦 らが出演しています

  https://tver.jp/episodes/epy6iffu5d
</p>

<p class="tver">
  ドラマ 和田家の男たち(2021) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  相葉雅紀、佐々木蔵之介、段田安則 らが出演しています

  https://tver.jp/episodes/epxex2z4ci
</p>

<p class="tver">
  ドラマ 歌のおにいさん(2009) 全8話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  ※ 4～6話は6/21まで

  大野智、千紗、片瀬那奈、丸山隆平(SUPER EIGHT)、永池南津子、高良光莉、前田健、吹越満、須藤理彩、滝沢沙織、金児憲史、小野武彦、木村佳乃 らが出演しています

  https://tver.jp/episodes/epzuau0ici
</p>

<p class="tver">
  ドラマ バンビ～ノ！(2007) 全11話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  松本潤、北村一輝、香里奈、佐藤隆太、星田英利、向井理、小松彩夏、内田有紀、吹石一恵、山本圭、佐々木蔵之介、市村正親 らが出演しています

  https://tver.jp/episodes/epbb8bkyns
</p>

<p class="tver">
  ドラマSP 君に捧げるエンブレム(2017) の配信がTVerで始まりました。
  6/30(火) 23:59まで

  櫻井翔、長澤まさみ、市原隼人、田中哲司、小林薫、倍賞美津子、かたせ梨乃、安藤政信、香川照之 らが出演しています

  https://tver.jp/episodes/epwadhna6u
</p>

<p class="tver">
  ドラマ フリーター、家を買う。(2010) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  二宮和也、香里奈、井川遥、竹中直人、浅野温子 らが出演しています

  https://tver.jp/episodes/ep5mymprfh
</p>

<p class="tver">
  ドラマSP 怪物くん 完全新作スペシャル!!(2011) の配信がTVerで始まりました。
  6/30(火) 23:59まで

  大野智、松岡昌宏、八嶋智人、川島海荷、上島竜兵、チェ・ホンマン、濱田龍臣、三宅弘城、半海一晃、ベッキー、津田寛治、東貴博、稲森いずみ、鹿賀丈史 他

  https://tver.jp/episodes/ep5cv4ct89
</p>

<p class="tver">
  ドラマSP 怪物くん(2010) もう帰ってきたよ!! 怪物くん全て新作SPの配信がTVerで始まりました。
  6/30(火) 23:59まで

  大野智、松岡昌宏、八嶋智人、川島海荷、上島竜兵、チェ・ホンマン、濱田龍臣、稲森いずみ、鹿賀丈史、半海一晃、津田寛治、飯田基祐、三宅弘城 らが出演しています

  https://tver.jp/episodes/ep8mmuutqz
</p>

<p class="tver">
  ドラマ 怪物くん(2010) 全9話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  大野智、松岡昌宏、八嶋智人、川島海荷、上島竜兵、チェ・ホンマン、濱田龍臣、稲森いずみ、鹿賀丈史、半海一晃、津田寛治、飯田基祐、三宅弘城 らが出演しています

  https://tver.jp/episodes/eptapmn2he
</p>

<p class="tver">
  ドラマ 南くんの恋人(2004) 1～3話の配信がTVerで始まりました。
  6/30(火) 23:59まで

  深田恭子、二宮和也、田辺誠一、宮地真緒、安倍麻美、北村総一朗、石井智也、石橋奈美、西村まさ彦、名取裕子 らが出演しています

  https://tver.jp/episodes/epgy999r1u
</p>

<p class="tver">
  ドラマ 魔王(2008) 全11話の配信がTVerで始まりました。
  6/30 23:59まで

  大野智、生田斗真、小林涼子、田中圭、忍成修吾、脇知弘、上原美佐、篠原真衣、清水優、河野弘樹、木村遼希、竹内寿、上村祐翔、本間春男、中村竜之慎、二宮和也、きたろう、朝加真由美、松澤一之、森下哲夫、飯田基祐、東根作寿英、根本美緒、吉瀬美智子、劇団ひとり、三宅裕司、石坂浩二 らが出演しています

  https://tver.jp/episodes/eph26tn5pb
</p>

<p class="tver">
  ドラマ きみはペット(2003) 全10話の配信がTVerで始まりました。
  6/30 23:59まで

  小雪、松本潤、田辺誠一、酒井若菜、永山瑛太、上原美佐、石原さとみ、乙葉、光石研、マギー、佐藤隆太、団時朗、長野博(20th Century)、山下真司、渡辺いっけい、鈴木紗理奈、長塚京三 らが出演しています

  https://tver.jp/episodes/ep6mb05oic
</p>

<p class="tver">
  ドラマ ラッキーセブン(2012) 1～3話の配信がTVerで始まりました。
  6/30 23:59まで

  松本潤、永山瑛太、仲里依紗、角野卓造、谷原章介、吹石一恵、金田明夫、入来茉里、小山慶一郎(NEWS)、大泉洋、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epy6m3eclb
</p>

<p class="tver">
  ドラマ 山田太郎ものがたり(2007) 1～4話の配信がTVerで始まりました。
6/30 23:59まで
  ※ 1～3、10話：6/30 23:59まで。4話：6/6 9:59まで

  二宮和也、櫻井翔、多部未華子、忍成修吾、大塚千弘、吹石一恵、吉沢悠、福井博章、柴田理恵、六平直政、綾田俊樹、鎗田晟裕、清水尚弥、村中暖奈、吉川愛、澁谷武尊、稲垣鈴夏、松岡充、菊池桃子、宇津井健 らが出演しています

  https://tver.jp/episodes/epwzoteia5
</p>

<p class="tver">
  ドラマ 花より男子2(リターンズ)(2007) 全11話の配信がTVerで始まりました。
  6/30 23:59まで

  井上真央、松本潤、小栗旬、松田翔太、阿部力、西原亜希、加藤夏希、咲嬉、深田あき、松岡恵望子、デビット伊東、鶴見辰吾、松嶋菜々子、生田斗真、佐田真由美、朝岡聡、佐藤めぐみ、加藤貴子、冨浦智嗣、小林すすむ、石野真子、加賀まりこ らが出演しています

  https://tver.jp/episodes/epwdmmry0q
</p>

<p class="tver">
  ドラマ 花より男子(2005) 全9話の配信がTVerで始まりました。
  6/30 23:59まで

  井上真央、松本潤、小栗旬、松田翔太、阿部力、佐藤めぐみ、西原亜希、咲嬉、深田あき、松岡恵望子、デビット伊東、長谷川朝晴、松嶋菜々子、佐田真由美、吉瀬美智子、加藤貴子、冨浦智嗣、小林すすむ、石野真子、加賀まりこ らが出演しています

  https://tver.jp/episodes/eptzx5ir3j
</p>

<p class="tver">
  ドラマ よかれと思ってやったのに ～男たちの『失敗学』裁判～(2026) の配信がTVerで始まりました。
  6/4 22:59まで

  岡部大(ハナコ)、松尾スズキ、日高ボブ美、富川一人、吉田芽吹、村方乃々佳 らが出演しています

  https://tver.jp/episodes/epavqacyvx
</p>

<p class="tver">
  ドラマ 今夜、秘密のキッチンで(2026) 8話の配信がTVerで始まりました。
  6/4 22:00まで

  木南晴夏、高杉真宙、瀧本美織、佐津川愛美、月城かなと、森優作、YU、白本彩奈、吉田萌果、安井順平、筒井真理子、中村俊介 らが出演しています

  https://tver.jp/episodes/ep7y3pto9t
</p>

<p class="tver">
  ドラマ 未解決の女 警視庁文書捜査官(2026・3期) 7話の配信がTVerで始まりました。
  6/4 21:54まで

  鈴木京香、黒島結菜、宮世琉弥、山内圭哉、武田玲奈、草川直弥、井上翔太、皆川猿時、遠藤憲一、沢村一樹、矢島健一、奥貫薫、神尾佑、森脇英理子、松川尚瑠輝、田牧そら、友田オレ、大朏岳優 らが出演しています

  https://tver.jp/episodes/epg7du6wgy
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中(2022) の配信がTVerで始まりました。
  6/5 0:30まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、江口拓也、鳥海浩輔、皆口裕子、大久保瑠美、竹内良太、河西健吾、濱野大輝、大西沙織、石田彰、白石稔 他

  https://tver.jp/episodes/eptac94sx7
</p>

<p class="tver">
  アニメ 霧尾ファンクラブ(2026) 9話の配信がTVerで始まりました。
  6/5 0:59まで

  稗田寧々、若山詩音、梶原岳人、広瀬裕也、小笠原仁、伊藤彩沙、和泉風花 らが出演しています

  https://tver.jp/episodes/epfpakelj1
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2018・2期) 17～18話の配信がTVerで始まりました。
  6/5 1:29まで

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/eparbtgezv
</p>

<p class="tver">
  アニメ キルアオ(2026) 7話の配信がTVerで始まりました。
  6/4 23:29まで

  三瓶由布子、和泉風花、梅田修一朗、佐久間大介(Snow Man)、大塚剛央、千葉翔也、中島ヨシキ、種崎敦美、内山夕実、武内駿輔 らが出演しています

  https://tver.jp/episodes/epgnhq1zq8
</p>

<p class="yt">
	「モノノ怪」鵺｜2026/5/27配信｜TWIN ENGINE｜45:01
※ 5/28(木) 20:59まで《24時間限定公開》。ポスト時に10時間が経過しています

青野　武　：大澤廬房
竹本　英史：室町具慶
広瀬　正志：半井淡澄
内田　直哉：実尊寺惟勢
山崎和佳奈：瑠璃姫

	https://youtu.be/gyIYs762wvI
</p>

<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 7/17(金) 公開
		米津玄師「夜鷹」に決定!

		山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>

<p class="tver">
		ドラマ 時すでにおスシ!?(2026・2期) 7話の配信がTVerで始まりました。
		5/26 21:59まで

		永作博美、松山ケンイチ、ファーストサマーウイカ、中沢元紀、山時聡真、杏花、平井まさあき(男性ブランコ)、後藤淳平(ジャルジャル)、Jua、土居志央梨、山田健人、猫背椿、有働由美子、佐野史郎 らが出演しています

		https://tver.jp/episodes/epj1wypxam
	</p>

<p class="tver">
		アニメ 鋼の錬金術師 FULLMETAL ALCHEMIST(2010) 61話の配信がTVerで始まりました。
		5/28 11:59まで

		朴璐美、釘宮理恵、高本めぐみ、三木眞一郎、折笠富美子、内海賢二、藤原啓治、うえだゆうじ、佐藤美一、柿原徹也、浜田賢二、名塚佳織、柴田秀勝、三宅健太、井上喜久子、白鳥哲、高山みなみ、吉野裕行、沢海陽子、中井和哉、大友龍三郎 らが出演しています

		https://tver.jp/episodes/epn8m1rigy
</p>

<p class="tver">
		ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 長野県 車山高原殺人事件の配信がTVerで始まりました。
終了日未記載

内藤剛志、森尾由美、渡辺いっけい、松原智恵子、天宮良、松澤和輝、越村友一、画大、咲耶、小日向春平 らが出演しています

https://tver.jp/episodes/ep4u80ujq2
</p>

<p class="tver">
		ドキュメンタリー 人生最高レストラン(2026) の配信がTVerで始まりました。
5/30 23:29まで

※ ゲスト：佐々木希

加藤浩次、宇賀神メグ、島崎和歌子、河井ゆずる(アインシュタイン)、佐々木希 らが出演しています

https://tver.jp/episodes/epp6l0pnxs
</p>

<p class="tver">
		バラエティ 新しいカギ(2026) の配信がTVerで始まりました。
		6/5 23:59 まで

※ 校内疾走！名曲大好き土八先生に武田鉄矢参戦！

Part1：https://tver.jp/episodes/ep9dp76wb4

Part2：https://tver.jp/episodes/epeq8xlum1

霜降り明星、チョコレートプラネット、ハナコ、武田鉄矢 らが出演しています
</p>

<p class="tver">
		ドラマ るなしい(2026) 8話の配信がTVerで始まりました。
		5/29 0:59まで

		原菜乃華、窪塚愛流、本島純政、影山優佳、島村龍乃介、加藤小夏、道上珠妃(ダウ90000)、正名僕蔵、根岸季衣 らが出演しています

		https://tver.jp/episodes/epbgh4vu0i
</p>

<p class="tver">
		アニメ ゴールデンカムイ(2026・2期) 15話の配信がTVerで始まりました。
		5/29 1:29まで

		小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

		https://tver.jp/episodes/epgmxp01ap
</p>

<p class="tver">
		バラエティ アメトーーク！(2026) の配信がTVerで始まりました。
5/29 1:33まで

※ ソフトテニス部芸人～硬式に負けないぞ!!

蛍原徹、久保田かずのぶ(とろサーモン)、関太(タイムマシーン3号)、阪本(マユリカ)、近藤くみこ(ニッチェ)、村上(マヂカルラブリー)、ひょっこりはん、市川刺身、そいつどいつ、宗洸志、さんだる、陣内智則、バービー、フォーリンラブ らが出演しています

https://tver.jp/episodes/eppax79aoe
</p>
