---
title: 2026/7/30 のピックアップ
date: 2026-07-30
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 花ざかりの君たちへ(2026・2期) 5話の配信がTVerで始まりました。
  8/7 2:28まで

  山根綺、八代拓、戸谷菊之介、梅原裕一郎、福山潤、川島零士、内山昂輝、駒田航、古屋亜南、日野聡、水中雅章、榎木淳弥、子安武人 らが出演しています

  https://tver.jp/episodes/epvc0l4dx4
</p>

<p class="yt">
  瀬戸内海に浮かぶ…1日1組限定!? 幻の無人島サウナ!｜2026/7/30配信｜行かない旅｜38:37

※ 今回は、瀬戸内海の幻の無人島サウナ「KUJIRA-JIMA」を行かない旅！

AKB48(橋本陽菜、長友彩海) らが出演しています

  https://youtu.be/7YOzOeku8kE
</p>

<p class="yt">
  アニメ「COBRA THE ANIMATION タイム・ドライブ」1～2話｜2026/7/31配信｜アニメタイムズ公式｜57:46
  ※ 2028/3/31(金) 23:59まで

  野沢　那智：コブラ
  榊原　良子：アーマロイド・レディ
  内田　直哉：過去のコブラ
  高山みなみ：エメラルダ
  小杉十郎太：魔二童
  楠見　尚己：ギロス
  宮澤　正：奴婆
  ちふゆ：シェラザード
  東條加那子：レイラ
  牛田　裕子：パロマ

  https://youtu.be/KIgDkJx1GwM
</p>

<p class="yt">
  アニメ 悟空の大冒険 5～8話｜2026/7/30配信｜手塚プロダクション公式チャンネル｜1:45:33
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/_hsLAxNjf-s
</p>

<p class="tver">
  ドラマ 今から、親友やめようか。(2026) 6話の配信がTVerで始まりました。
  8/7 1:58まで

  岡本夏美、沢村玲、井内悠陽、古田愛理、黒木ひかり らが出演しています

  https://tver.jp/episodes/epq2r5f99z
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 5話の配信がTVerで始まりました。
  8/7 1:59まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epzp2xm3te
</p>

<p class="tver">
  アニメ 才女のお世話 高嶺の花だらけな名門校で、学院一のお嬢様(生活能力皆無)を陰ながらお世話することになりました(2026) 4話の配信がTVerで始まりました。
  8/7 1:59まで

  上村祐翔、小原好美、大西沙織、土屋李央、小清水亜美、熊谷健太郎、前島亜美、子安武人 らが出演しています

  https://tver.jp/episodes/epk3j7xs3v
</p>

<p class="tver">
  バラエティ プレバト！！(2026) 533回の配信がTVerで始まりました。
  8/13 18:59まで

  ※ 新企画！のせかけごはんの才能ランキング★俳句お題は“カレーライス”

  前編：https://tver.jp/episodes/epw20yamo2
  後編：https://tver.jp/episodes/eplqerhugk

  浜田雅功(ダウンタウン)、岩田絵里奈、大沢あかね、河井ゆずる(アインシュタイン)、INI(後藤威尊、藤牧京介)、谷まりあ、寺川綾、水田信二、若村麻由美、梅沢富美男、長谷川あかり、夏井いつき、清水麻椰 らが出演しています
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  8/6 19:53まで

  ※ 黒木メイサ&M!LKあのメンバーがゴチ初参戦!大失態で佐野と土下座!?

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、黒木メイサ、羽鳥慎一、長谷川雅紀(錦鯉)、酒井貴士(ザ・マミィ)、エース(バッテリィズ)、中村和成、平野レミ、和田明日香、綱啓永 らが出演しています

  https://tver.jp/episodes/ep6irp0de1
</p>

<p class="tver">
  バラエティ ナゼそこ？＋(2026) の配信がTVerで始まりました。
  8/13 21:53まで

  ※ 東京の一等地・麻布＆銀座から…華やかな生活を捨て山奥へ訳あり移住SP

  ユースケ・サンタマリア、加藤綾子、相田翔子、津田篤宏(ダイアン) らが出演しています

  https://tver.jp/episodes/epq1jjyiat
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。
  8/13 19:59まで

  ※ 涙と感動を巻き起こしたサプライズ対面を一挙大放出！木村拓哉、Snow Man目黒蓮、阿部寛、川口春奈、YOSHIKIのあの名場面が再び！大反響バレー日本代表キャプテン・石川真佑参戦の助っ人モニタリング名場面もっと見せますSP！

 サプライズ対面：https://tver.jp/episodes/epk1jlqw6x
 助っ人モニタリング：https://tver.jp/episodes/epd1miy98h

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、目黒蓮(Snow Man)、阿部寛、木村拓哉、川口春奈、YOSHIKI、ドウェイン・ジョンソン、仲川瑠夏(FRUITS ZIPPER)、澤実育、川合俊一、杉山真也 らが出演しています
</p>

<p class="tver">
  バラエティ 見取り図の間取り図ミステリー(2026) の配信がTVerで始まりました。
  8/13 21:59まで

  ※ 運命の出会いと移住スペシャル

  見取り図(盛山晋太郎、リリー)、横澤夏子、TAKAHIRO(EXILE)、福原遥、齊藤京子、あばれる君、佐藤藍子、村上佳菜子 らが出演しています

  https://tver.jp/episodes/ep0xrk3kh2
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 138回の配信がTVerで始まりました。
  8/7 0:15まで

  ※ 賢人の幸せに国仲涼子涙？風磨くん結婚しようぜ

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、国仲涼子、小杉竜一(ブラックマヨネーズ)、関太(タイムマシーン3号)、アタック西本(ジェラードン)、りんたろー。(EXIT)、卓也(土佐兄弟)、松村未央 らが出演しています

  https://tver.jp/episodes/epw5mrc1bs
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  8/7 0:58まで

  ※ この回答M!LK？AI？佐野がメンバーに物申したいこと

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/ep4ww7cq3z
</p>

<p class="tver">
  バラエティ アメトーーク！(2026) の配信がTVerで始まりました。
  8/7 2:03まで

  ※ 字が汚い芸人

  蛍原徹、久保田かずのぶ(とろサーモン)、エース(バッテリィズ)、中岡創一(ロッチ)、出川哲朗、大東翔生(ダブルヒガシ)、草薙航基(宮下草薙)、零士(カナメストーン)、陣内智則、西村真二(コットン) らが出演しています

  https://tver.jp/episodes/ep49s5tb6v
</p>

<p class="tver">
  バラエティ おぎやはぎのハピキャン(2026・すだちキャンプ) 5回の配信がTVerで始まりました。
  8/20 23:59まで

  ※ 本格料理を楽しむのも「すだちCAMP」の醍醐味。こだわり抜いて作った料理はどれも絶品！

  おぎやはぎ(小木博明、矢作兼)、望木聡子、村田秀亮(とろサーモン)、江崎ばもん、ゆい小池 らが出演しています

  https://tver.jp/episodes/ep2zl5bsca
</p>

<p class="tver">
  ドラマ 未婚詐欺 私の知らない彼の顔(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  北乃きい、藤原樹、島崎遥香、和内璃乃、押田岳 らが出演しています

  https://tver.jp/episodes/ep1om0dd62
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 5話の配信がTVerで始まりました。
  8/7 01:59まで

  かたせ梨乃、豆原一成(JO1)、岡田結実、林芽亜里、北村優衣、平埜生成、柳ゆり菜 らが出演しています

  https://tver.jp/episodes/ephaadbi6u
</p>

<p class="tver">
  ドラマ 親愛なる夫へ～完璧な妻の嘘～(2026) 5話の配信がTVerで始まりました。
  8/6 23:58まで

  田中麗奈、古川雄大、尾崎匠海(INI)、星乃あんな、有澤樟太郎、日比美思、岐洲匠、福田転球、博多華丸(博多華丸・大吉)、鈴木杏樹、池田鉄洋、香音、田中偉登、前田公輝 らが出演しています

  https://tver.jp/episodes/ep2g0wa1ss
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 5話の配信がTVerで始まりました。
  8/7 0:29まで

  菅井友香、入山法子、稲葉友、濱田龍臣、山本弓月 らが出演しています

  https://tver.jp/episodes/ep271lrhrm
</p>

<p class="tver">
  ドラマ 一緒にごはんをたべるだけ(2026) 5話の配信がTVerで始まりました。
  8/7 1:29まで

  早見あかり、伊藤健太郎、桐山漣、岸明日香、久場音葉 らが出演しています

  https://tver.jp/episodes/epwkecewl5
</p>

<p class="tver">
  ドラマ 夫に不倫をお願いされました(2026) 4話の配信がTVerで始まりました。
  8/14 00:29まで

  中村ゆりか、佐野玲於、葉山奨之、ハシヤスメ・アツコ、横野すみれ、こばやし元樹、希歩、堀井新太、阿久根温世(ICEx)、久保田悠来、南雲奨馬、染谷俊之、橋本マナミ、山野海、濱津隆之 らが出演しています

  https://tver.jp/episodes/epvomb7d5q
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 6話の配信がTVerで始まりました。
  8/7 23:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、伊勢志摩、きょん(コットン)、吉田ウーロン太、中村シユン、番家天嵩、倉田瑛茉、山本浩貴、新浜レオン、松本怜生、林和義、今里真、井上拓哉、向里祐香、柳谷参助、羽谷勝太、清谷春瑠、今井英二、黒田浩史、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、大倉孝二、階晴紀、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epp2gzgs1p
</p>

<p class="tver">
  ドラマ 氷の世界(1999) 11(最終)話の配信がTVerで始まりました。
  8/6 23:59まで

  竹野内豊、松嶋菜々子、内田有紀、金子賢、仲村トオル、及川光博、中嶋朋子 らが出演しています

  https://tver.jp/episodes/epe03fb7h0
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 6話の配信がTVerで始まりました。
  8/7 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、長谷川稀世、大崎由利子、田中哲司、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/ep7kcbhah9
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 5話の配信がTVerで始まりました。
  8/7 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、森香澄、村瀬紗英、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、河内大和、生見愛瑠、小柳心、原愛梨、NOSUKE(THE JET BOY BANGERZ)、Team"S"pecial、竹原ピストル、礼真琴、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/ep3nx9xusn
</p>

<p class="tver">
  ドラマ 透明な夜に駆ける君と、目に見えない恋をした。(2025) 4話の配信がTVerで始まりました。
  8/13 23:59まで

  永瀬莉子、藤原大祐、曽野舜太(M!LK)、河村花、染谷俊之、映美くらら らが出演しています

  https://tver.jp/episodes/ep10169v5l
</p>

<p class="tver">
  ドラマ 心配無用ノ介 天下御免(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  田村ツトム、沙倉ゆうの、井之上チャル、峰蘭太郎、井上肇、佐渡山順久、五馬さとし、泉原豊 らが出演しています

  https://tver.jp/episodes/ep6rs9bqwc
</p>

<p class="tver">
  ドラマ ラストノート(2026) 4話の配信がTVerで始まりました。
  8/6 22:00まで

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、中島亜梨沙、平原テツ らが出演しています

  https://tver.jp/episodes/ep7xjw37et
</p>

<p class="tver">
  ドラマ 大空港～GATE24～(2026) 2話の配信がTVerで始まりました。
  終了日未記載

  趣里、眞栄田郷敦、板垣李光人、齊藤京子、奥貫薫、秋元才加、加治将樹、街田しおん、嘉島陸、西村直人、椿原愛、田辺誠一、吹越満、柳葉敏郎、松雪泰子 らが出演しています

  https://tver.jp/episodes/epb9ygcvlg
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 5話の配信がTVerで始まりました。
  8/7 1:00まで

  夏吉ゆうこ、松岡美里、船戸ゆり絵、清水彩香、本泉莉奈、稲田徹、田中有紀、朝日奈丸佳 らが出演しています

  https://tver.jp/episodes/epzcy6vg76
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 3話の配信がTVerで始まりました。
  8/7 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/epu93w1hr9
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 4話の配信がTVerで始まりました。
  8/6 23:59まで

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/eprplm6raj
</p>

<p class="tver">
  アニメ BLEACH 千年血戦篇-禍進譚-(2026・4期) 41話の配信がTVerで始まりました。
  8/6 23:59まで

  ※ 4期の1話です

  森田成一、杉山紀彰、松岡由貴、安元洋貴、高木渉、折笠富美子、伊藤健太郎、三木眞一郎、ゆきのさつき、大塚明夫、置鮎龍太郎、朴璐美、立木文彦、速水奨、菅生隆之、梅原裕一郎、武内駿輔、小山剛志 らが出演しています

  https://tver.jp/episodes/epfygel4pg
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 29話の配信がTVerで始まりました。
  8/14 00:00まで

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/ep2qmd194m
</p>

<p class="tver">
  アニメ バンドリ！ ゆめ∞みた(2026) 7話の配信がTVerで始まりました。
  8/13 23:30まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/ep3xv1oyic
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 4話の配信がTVerで始まりました。
  8/13 22:30まで

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/epi1mkzhc4
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 4話の配信がTVerで始まりました。
  8/13 22:00まで

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/epg4nc3m4h
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 5話の配信がTVerで始まりました。
  8/6 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epcprt71i4
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 48話の配信がTVerで始まりました。
  8/6 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epzefu4jnh
</p>

<p class="tver">
  バラエティ ジンギス談！(2026) の配信がTVerで始まりました。
  8/6 12:00まで

  ※ パンクブーブーと青春時代を彩った懐かしの玩具を振り返る！

  タカアンドトシ、梶原小春、佐藤哲夫、黒瀬純 らが出演しています

  https://tver.jp/episodes/epl46kk9ud
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 6話の配信がTVerで始まりました。
  8/5 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、芦名星、石橋杏奈、森岡龍、坪倉由幸(我が家)、山谷初男、吉見一豊、シャカ大熊、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、加藤雅也、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epjkg6xguq
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 4話の配信がTVerで始まりました。
  8/6 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市村正親、赤井英和、戸次重幸、猫背椿、井上肇、酒向芳、小手伸也、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epfi4i3nvt
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 5話の配信がTVerで始まりました。
  8/6 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、的場浩司、矢作兼(おぎやはぎ)、山中崇、西慶子、國光真耶、土屋佑壱、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/epcga1tiud
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 10話の配信がTVerで始まりました。
  8/5 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、真野恵里菜、成田凌、内田理央、岡田浩暉、六角慎司、清塚信也、原田裕章、宮下雄也、岩寺真志、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epawy97im5
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 19話の配信がTVerで始まりました。
  8/6 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epiovhg6rj
</p>
