---
title: 2026/9/16 のピックアップ
date: 2026-09-16
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 正反対な君と僕(2026) 23話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epnub4rpxo
</p>

<p class="yt">
  田中美空のクッキング講座〜トウモロコシ料理編〜｜2026/9/11配信｜田中美空のミステリー講座｜35:58
  ※ 「メンバーシップ限定コンテンツ」(有料メンバーのみの配信)

  田中美空(ミステラー・NMB48)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/BQhRNPplIZo
</p>

<p class="yt">
  実はトウモロコシに人類が飼われている?｜2026/8/1配信｜田中美空のミステリー講座｜21:18
  ※ [過去回]

  田中美空(ミステラー・NMB48)、リアクター・NMB48(平山真衣、三鴨くるみ) らが出演しています

  https://youtu.be/V7fHxgfPLhg
</p>

<p class="tver">
  ドラマ 晩酌の流儀(2022) 1～4話の配信がTVerで始まりました。 25分
  終了日未記載

  栗山千明、武田航平、辻凪子、馬場裕之(ロバート)、おかやまはじめ、石倉三郎、堂ノ下沙羅、坂野真理 らが出演しています

  https://tver.jp/episodes/epvw7g59er
</p>

<p class="tver">
  ドラマ ごほうびごはん(2021) 9～12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  桜井日奈子、岡崎紗絵、相原未来、きづき らが出演しています

  https://tver.jp/episodes/epl50o466n
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 85話の配信がTVerで始まりました。 24分
  9/23 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epp9t70008
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 19話の配信がTVerで始まりました。 24分
  9/23 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep51i81b4d
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 24(最終)話の配信がTVerで始まりました。 24分
  9/23 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epa2p6z3gf
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 2話の配信がTVerで始まりました。 24分
  9/23 8:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/ep4hea6yfw
</p>

<p class="yt">
  アニメ「陸奥圓明流外伝 修羅の刻」全26話｜2026/9/16配信｜フル☆アニメTV｜10:07:37
  ※ 10/14(水) 23:59まで

  高橋　広樹：陸奥八雲
  松山　鷹志：宮本武蔵
  菊池　心：宮本伊織（子供時代）
  升　望：吉祥丸
  石原　凡：沢庵和尚
  遊佐　浩二：陸奥天斗
  鈴木　真仁：圓
  渡辺　浩司：宮本伊織（青年時代）
  竹本　英史：柳生十兵衛
  宮澤　正：佐助
  亀山　助清：柳生宗矩
  郷田ほづみ：陸奥出海
  遠藤　章史：坂本龍馬
  中村　悠一：沖田総司
  楠　大典：土方歳三
  外波山文明：千葉定吉
  平田絵里子：千葉さなこ

  https://youtu.be/xswhRHfN_-s
</p>

<p class="tver">
  バラエティ アニマルワンダー 赤ちゃんヒミツ研究所(2026) の配信がTVerで始まりました。 97分
  終了日未記載

  ※ 動物の赤ちゃん「かわいい」のヒミツを徹底解明ＳＰ！伝説の飼育員厳選の超貴重映像も

  松井ケムリ(令和ロマン)、山之内すず、御手洗菜々 らが出演しています

  https://tver.jp/episodes/ep5686th6y
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 7話の配信がTVerで始まりました。 30分
  9/30 12:00まで

  山田優、金子ノブアキ、勝村政信、矢柴俊博 らが出演しています

  https://tver.jp/episodes/epzgpo2kb0
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 6話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、市川知宏、渡部秀、片瀬那奈、村杉蝉之介、大政絢、大谷亮平、榊原郁恵 らが出演しています

  https://tver.jp/episodes/epk6rxz9n4
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 7話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、真野恵里菜、落合モトキ、土佐信道(明和電機) らが出演しています

  https://tver.jp/episodes/epclrltl8g
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 6話の配信がTVerで始まりました。 24分
  9/30 12:00まで

  黒羽麻璃央、松村沙友理、金子隼也、遠山俊也 らが出演しています

  https://tver.jp/episodes/epabv091lp
</p>

<p class="tver">
  ドラマ 約束 ～16年目の真実～(2024) 6話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  中村アン、横山裕(SUPER EIGHT)、細田善彦、佐津川愛美、森永悠希、織田梨沙、坪倉由幸(我が家)、樋口幸平、森優作、永岡佑、川床明日香、岡部たかし、杉本哲太 らが出演しています

  https://tver.jp/episodes/ep9dylht4f
</p>

<p class="tver">
  ドラマ リセット(2009) 7話の配信がTVerで始まりました。 30分
  9/30 12:00まで

  田中直樹(ココリコ)、黒沢かずこ(森三中)、黒谷友香、渡部豪太 らが出演しています

  https://tver.jp/episodes/ep5c9c5tr9
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 9話の配信がTVerで始まりました。 46分
  9/23 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、望月歩、山本未來、いしのようこ、森下能幸、平田広明、田中哲司、イッセー尾形、さだまさし らが出演しています

  https://tver.jp/episodes/epxl2vioif
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、山本龍二、三川雄三、滝沢沙織、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epwzrqt9gi
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  福山雅治、香川照之、神木隆之介、中村アン、井之脇海、高橋和也、迫田孝也、増田修一朗、谷口翔太、橋本真実、市村正親、別所哲也、石丸謙二郎、馬場徹、須田邦裕、酒向芳、小手伸也、八木亜希子、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/eputig5vkw
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 9話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、市川由衣、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、山崎一、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/eptzf7u1u2
</p>

<p class="tver">
  ドラマ TOKYO MER～走る緊急救命室～(2021) 10話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  鈴木亮平、賀来賢人、中条あやみ、小手伸也、佐野勇斗(M!LK)、佐藤栞里、佐藤寛太、三浦誠己、内村遥、フォンチー、猪塚健太、工藤美桜、大幡しえり、樫尾篤紀、黒木ひかり、岡田龍太郎、増田朋弥、菜々緒、城田優、桂文珍、鶴見辰吾、橋本さとし、渡辺真起子、仲里依紗、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epjwfw574j
</p>

<p class="tver">
  ドラマ 凪のお暇(2019) 9話の配信がTVerで始まりました。 45分
  9/23 11:59まで

  黒木華、高橋一生、中村倫也、市川実日子、瀧内公美、大塚千弘、藤本泉、水谷果穂、唐田えりか、中田クルミ、白鳥玉季、谷恭輔、タモト清嵐、松永拓野、モクタール、片平なぎさ、武田真治、REINA(MAX)、西田尚美、利重剛、長谷川忍(シソンヌ)、ファーストサマーウイカ、佐伯新、川崎亜沙美、吉田羊、三田佳子 らが出演しています

  https://tver.jp/episodes/ephztesywg
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 10話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、ともさかりえ らが出演しています

  https://tver.jp/episodes/ep3o5ggva6
</p>

<p class="tver">
  ドラマ リバース(2017) 9話の配信がTVerで始まりました。 46分
  9/23 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、村井國夫、山崎銀之丞、趣里、古田結凪、バッファロー吾郎A(バッファロー吾郎)、山口まゆ、鈴木仁、武田鉄矢 らが出演しています

  https://tver.jp/episodes/ep381n2s6r
</p>

<p class="tver">
  ドラマ 陸王(2017) 6～7話の配信がTVerで始まりました。 47分
  終了日未記載

  役所広司、山崎賢人、竹内涼真、上白石萌音、風間俊介、音尾琢真、和田正人、佐野岳、馬場徹、内村遥、春やすこ、吉谷彩子、上村依子、宇野けんたろう(げんき〜ず)、前原滉、花沢将人、山本涼介、佐藤俊彦、石井貴就、安藤勇雅、板垣雄亮、菅谷哲也、大西武志、原晋、木村祐一、阿川佐和子、小籔千豊、志賀廣太郎、光石研、檀ふみ、市川右團次、ピエール瀧、寺尾聰 らが出演しています

  https://tver.jp/episodes/ep1bd26r90
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 18話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epsweml5c2
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 84話の配信がTVerで始まりました。 24分
  9/23 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep5ow5qwvv
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 39話の配信がTVerで始まりました。 24分
  9/23 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epp2lsj7ep
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 9話の配信がTVerで始まりました。 25分
  9/23 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epeo44mpey
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 19話の配信がTVerで始まりました。 25分
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epwv05sz9d
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 3話の配信がTVerで始まりました。 24分
  9/23 8:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/epfrc99794
</p>
