---
title: 2026/6/21 のピックアップ
date: 2026-06-21
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  ドラマ ひだまりが聴こえる(2024) 9～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  中沢元紀、小林虎之介、宇佐卓真、夏生大湖、白石優愛、池田良、大東駿介、でんでん、彩香、土本燈子 らが出演しています

  https://tver.jp/episodes/epk5gl1zxa
</p>

<p class="tver">
  ドラマ 来世ではちゃんとします２(2021) 1～4話の配信がTVerで始まりました。
  終了日未記載

  内田理央、太田莉菜、小関裕太、後藤剛範、飛永翼(ラバーガール)、小島藤子、塩野瑛久、平田雄也、野村尚平、富田健太郎、おばたのお兄さん、きなり、大塚ヒロタ、脳みそ夫、清水伸、吉田宗洋、宍戸真詩美、つぶやきシロー らが出演しています

  https://tver.jp/episodes/epuy8my2s3
</p>

<p class="tver">
  ドラマ 来世ではちゃんとします(2020) 5～8話の配信がTVerで始まりました。
  終了日未記載

  内田理央、太田莉菜、小関裕太、後藤剛範、飛永翼(ラバーガール)、小島藤子、中川知香、浦まゆ、富田健太郎、鈴木理学、小村裕次郎、河合恭嗣 らが出演しています

  https://tver.jp/episodes/ep05gth7t2
</p>

<p class="tver">
  ドラマ 夫よ、死んでくれないか(2025) 5～8話の配信がTVerで始まりました。
  終了日未記載

  安達祐実、相武紗季、磯山さやか、竹財輝之助、高橋光臣、塚本高史、久保田悠来、清水尚弥、遊井亮子、松浦りょう、柳憂怜、森優作 らが出演しています

  https://tver.jp/episodes/ep5aozqe4l
</p>

<p class="tver">
  ドラマ ９５｜テレビ東京開局60周年連続ドラマ(2024) 5～8話の配信がTVerで始まりました。
  終了日未記載

  高橋海人(King & Prince)、中川大志、松本穂香、細田佳央太、犬飼貴丈、関口メンディー、浅川梨奈、工藤遥、井上瑞稀(KEY TO LIT)、渡邊圭祐、鈴木仁、三浦貴大、山中崇、紺野まひる、勝矢、嶋田久作、新川優愛、桜井日奈子、斉藤由貴、桜井ユキ、安田顕 らが出演しています

  https://tver.jp/episodes/epcvvgs7bp
</p>

<p class="tver">
  ドラマ 財閥復讐～兄嫁になった元嫁へ～(2025) 5～8話の配信がTVerで始まりました。
  終了日未記載

  渡邊圭祐、瀧本美織、西垣匠、宇垣美里、猪塚健太、宮田早苗、村川絵梨、小川李奈、阪田マサノブ、武田航平、渡辺いっけい、高岡早紀 らが出演しています

  https://tver.jp/episodes/eps0hoj3tt
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 7話の配信がTVerで始まりました。
  6/28 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/ep5crx3k87
</p>

<p class="tver">
  バラエティ 発見!!食遺産 ＃あなたのレシピ残させてください(2026) の配信がTVerで始まりました。
  6/28 12:53まで

  ※ 【大阪・羽曳野のズッキーニ】万能でリーズナブル！簡単料理が続々

  石田靖、北原里英 らが出演しています

  https://tver.jp/episodes/ep54cly1c4
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。
  6/28 10:59まで

  ※ ペペロンチーノ風炒め＆飛鳥フェ・サラダプレート

  優香、稲垣飛鳥、かずや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epy2vkq335
</p>

<p class="tver">
  バラエティ かのサンド(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 下町SP！月島でもんじゃ＆門仲で水谷千重子が熱唱！

  サンドウィッチマン(伊達みきお、富澤たけし)、狩野英孝、おたけ(ジャングルポケット)、友近 らが出演しています

  https://tver.jp/episodes/ep998qdl50
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 9回の配信がTVerで始まりました。
  6/28 12:00まで

  ※ ボートレースで今度こそ一発当てたい！

  アルコ&ピース(平子祐希、酒井健太)、STU48(谷口茉妃菜、工藤理子、吉田彩良、池田裕楽、原田清花) らが出演しています

  https://tver.jp/episodes/ep6frl1gkp
</p>

<p class="tver">
  ドラマ 彼女たちの犯罪(2023) 8話の配信がTVerで始まりました。
  7/5 12:00まで

  深川麻衣、石井杏奈、毎熊克哉、さとうほなみ、鈴木康介、木村了、南沢奈央、野間口徹、前田敦子 らが出演しています

  https://tver.jp/episodes/eprxlwedm2
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 1～3話の配信がTVerで始まりました。
  終了日未記載

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、新谷真弓、戸田昌宏、斉藤陽一郎、三遊亭遊三、滝沢沙織、櫻庭博道、塩澤英真、田村たがめ、山崎めぐみ、櫻井淳子、温水洋一、遠山俊也、陣内孝則、野際陽子 らが出演しています

  https://tver.jp/episodes/epy3n6as8o
</p>

<p class="tver">
  ドラマ 西園寺さんは家事をしない(2024) 7話の配信がTVerで始まりました。
  6/28 11:59まで

  松本若菜、松村北斗(SixTONES)、津田健次郎、野呂佳代、横田真悠、松井愛莉、水澤紳吾、太田莉菜、うらじぬの、大朏岳優、倉田瑛茉、濱田龍臣、藤井隆、濱田マリ、塚本高史 らが出演しています

  https://tver.jp/episodes/epqqqh05rp
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 1～3話の配信がTVerで始まりました。
  終了日未記載

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、東幹久、佐戸井けん太、芹澤名人、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、中丸新将、泉晶子、佐々木勝彦、大林丈史、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/epbrzf5el4
</p>

<p class="tver">
  ドラマSP 下町ロケット(2019) 新春ドラマ特別編の配信がTVerで始まりました。
  終了日未記載

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、立石涼子、朝倉あき、宮尾俊太郎、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、丸一太、菅野莉央、原アンナ、根本美緒、ぼくもとさきこ、イモトアヤコ、森崎博之、福澤朗、品川徹、岡田浩暉、高橋努、古川雄大、モロ師岡、恵俊彰、池畑慎之介、古舘伊知郎、甲本雅裕、木下ほうか、工藤夕貴、山本學、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎、松平定知 らが出演しています

  https://tver.jp/episodes/epxl1w6kca
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 1～3話の配信がTVerで始まりました。
  終了日未記載

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、坪倉由幸(我が家)、馬場徹、朝倉あき、立石涼子、山本圭祐、ヤマダユウスケ、松川尚瑠輝、菅谷哲也、菅野莉央、原アンナ、ぼくもとさきこ、イモトアヤコ、真矢ミキ、六角精児、内場勝則、品川徹、今田耕司、恵俊彰、池畑慎之介、古舘伊知郎、木下ほうか、工藤夕貴、山本學、中村梅雀、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司、杉良太郎 らが出演しています

  https://tver.jp/episodes/ep73ay24yf
</p>

<p class="tver">
  アニメ 株式会社マジルミエ(2024) 6話の配信がTVerで始まりました。
  終了日未記載

  ファイルーズあい、花守ゆみり、小山力也、山下大輝、逢坂良太、石原夏織 らが出演しています

  https://tver.jp/episodes/epikoxfe1m
</p>

<p class="tver">
  アニメ 一畳間まんきつ暮らし！(2026) 10話の配信がTVerで始まりました。
  6/28 12:00まで

  菱川花菜、白砂沙帆、千春、根本京里 らが出演しています

  https://tver.jp/episodes/ep1lc3u0ar
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2015) 1～6話の配信がTVerで始まりました。
  6/28 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/epqox25nhz
</p>

<p class="tver">
  アニメ ViVid Strike!(2016) 全12話の配信がTVerで始まりました。
  終了日未記載

  ※ 魔法少女リリカルなのはViVidの派生作品

  水瀬いのり、小倉唯、水橋かおり、能登麻美子、上坂すみれ、喜多村英梨、福圓美里、伊藤かな恵、斎藤千和、佐倉綾音、阿澄佳奈 らが出演しています

  https://tver.jp/episodes/epthfc3nbz
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのはViVid(2015) 全12話の配信がTVerで始まりました。
  終了日未記載

  水橋かおり、能登麻美子、喜多村英梨、福圓美里、田村ゆかり、水樹奈々 らが出演しています

  https://tver.jp/episodes/epp0dsgbbk
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのはStrikerS(2007) 全26話の配信がTVerで始まりました。
  終了日未記載

  田村ゆかり、水樹奈々、植田佳奈、斎藤千和、中原麻衣、井上麻里奈、高橋美佳子、清水香里、真田アサミ、柚木涼香、一条和矢、ゆかな、大川透、相沢まさき、桑谷夏子、成田剣、水橋かおり らが出演しています

  https://tver.jp/episodes/epq3po4buf
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのはA’s(2009) 全13話の配信がTVerで始まりました。
  終了日未記載

  田村ゆかり、水樹奈々、植田佳奈、清水香里、真田アサミ、柚木涼香、一条和矢、釘宮理恵、清水愛、水橋かおり、桑谷夏子、高橋美佳子、松岡由貴、久川綾、長克巳、谷井あすか、松来未祐、小林沙苗 らが出演しています

  https://tver.jp/episodes/ep7ywib4yr
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのは(2004) 全13話の配信がTVerで始まりました。
  終了日未記載

  田村ゆかり、水樹奈々、釘宮理恵、清水愛、水橋かおり、桑谷夏子、高橋美佳子、久川綾、松岡由貴、五十嵐麗、一条和矢、天野エリカ、緑川光、白石涼子 らが出演しています

  https://tver.jp/episodes/ep90psqqj4
</p>

<p class="tver">
  アニメ ドルアーガの塔～the Aegis of URUK～(2026) 11話の配信がTVerで始まりました。
  終了日未記載

  KENN、折笠富美子、櫻井孝宏、堀江由衣、早水リサ、郷田ほづみ、茅原実里、石田彰、安元洋貴、土師孝也、矢島晶子、ゆかな、てらそままさき、水野理紗 他

  https://tver.jp/episodes/ep2kgcczxh
</p>

<p class="tver">
  アニメ 超宇宙刑事ギャバン インフィニティ(2026) 19話の配信がTVerで始まりました。
  6/28 10:00まで

  長田光平、赤羽流河、角心菜、松永有紘、有坂心花、安田啓人、入山杏奈、谷田ラナ、平岡祐太 らが出演しています

  https://tver.jp/episodes/epuq9h4iql
</p>

<p class="tver">
  アニメ ダンダダン(2025) 24(最終)話の配信がTVerで始まりました。
  6/28 4:07まで

  若山詩音、花江夏樹、水樹奈々、佐倉綾音、石川界人、田中真弓、中井和哉、大友龍三郎、井上喜久子、関智一、杉田智和、平野文 らが出演しています

  https://tver.jp/episodes/epwwow69qb
</p>

<p class="tver">
  その他 映画 ワルボロ(2007) の配信がTVerで始まりました。
  終了日未記載

  ※ 優等生だったが突然不良に目覚めてしまった中学生の＜ワルくてボロい＞日々を描く！

  松田翔太、新垣結衣、福士誠治、城田優、ピエール瀧、仲村トオル らが出演しています

  https://tver.jp/episodes/ephfq4ioqx
</p>
