---
title: 2026/10/07 のピックアップ
date: 2026-10-07
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 朱色の仮面 魅力徹底解剖！アニメ「朱色の仮面」放送直前SP(2026) の配信がTVerで始まりました。 15分
  終了日未記載

  手越祐也、Furutatsu、KYOHEY、Ryu.、T.N.T、天津飯大郎(天津)、木村太飛、山本悠有希、渡邉徹明 らが出演しています

  https://tver.jp/episodes/epke1gstu7
</p>

<p class="tver">
  バラエティ Travis JapanノJUST！シン日本遺産(2026) 11回の配信がTVerで始まりました。 24分
  10/15 2:15まで

  ※ 八ヶ岳エリアに４つのJUST！

  Travis Japan(宮近海斗、中村海人、七五三掛龍也、川島如恵留、吉澤閑也、松田元太、松倉海斗) らが出演しています

  https://tver.jp/episodes/ep2nbaii1v
</p>

<p class="tver">
  ドラマ 私があなたといる理由2〜グアムを訪れた8人の男女の10日間〜(2026) 1話の配信がTVerで始まりました。 26分
  終了日未記載

  北山宏光、吉谷彩子、石川恋、雛形あきこ、少路勇介、佳久創、BlancaAdika、萩原聖人、西田尚美 らが出演しています

  https://tver.jp/episodes/ep6ud1zicu
</p>

<p class="yt">
  短編映画「世界は美しいと誰かが言った｜2026/10/7配信｜日本初のタクシー映画祭「TAXIATER」公式｜33:00
  ※ 2027/10/7 0:00まで。1年間期間限定配信

  久保史緒里、中尾幸世、三浦貴大 らが出演しています

  https://youtu.be/rs4tkUf2oug
</p>

<p class="yt">
  アニメ「進撃の巨人」 第14～16話｜2026/10/7配信｜Attack on Titan Official｜0:00
  ※ 10/14(水) 0:00まで。時間の期限が未記載なので当日ジャストに設定しました

  梶裕　貴：エレン・イェーガー
  石川　由依：ミカサ・アッカーマン
  井上麻里奈：アルミン・アルレルト
  神谷　浩史：リヴァイ・アッカーマン
  谷山　紀章：ジャン・キルシュタイン
  下野　紘：コニー・スプリンガー
  小林　ゆう：サシャ・ブラウス
  三上　枝織：ヒストリア・レイス（クリスタ）
  嶋村　侑：アニ・レオンハート
  細谷　佳正：ライナー・ブラウン
  朴　　璐美：ハンジ・ゾエ
  子安　武人：ジーク・イェーガー

  https://youtu.be/goaXTUXIWLs
</p>

<p class="tver">
  バラエティ ふるさとの未来(2026) の配信がTVerで始まりました。 21分
  終了日未記載

  ※ 国内外から注目集めるベンチャー企業が登場

  加藤紀子、川名凜、駒田健吾 らが出演しています

  https://tver.jp/episodes/eps7cdig92
</p>

<p class="tver">
  ドラマ 溺愛カレシの作り方 〜セから本命になる女の子の話〜(2026) 1話の配信がTVerで始まりました。 26分
  終了日未記載

  与田祐希、野村周平、馬場園梓 らが出演しています

  https://tver.jp/episodes/epczeountg
</p>

<p class="tver">
  ドラマ 仮面教師～妻を亡くしたその日から(2026) 1話の配信がTVerで始まりました。 23分
  終了日未記載

  浅香航大、杢代和人(原因は自分にある。)、北乃きい、川島海荷、ひょうろく、荒木飛羽、簡秀吉、井内悠陽、酒寄楓太、山崎竜太郎、冬野心央、松本仁、植野花道、藤林泰也、財木琢磨、袴田吉彦、西尾まり、観月ありさ らが出演しています

  https://tver.jp/episodes/epse6ijim1
</p>

<p class="tver">
  バラエティ ぽかぽか(2026) の配信がTVerで始まりました。 53分
  10/14 11:46まで

  ※ 石原さとみ＆河合優実（秘）私生活生激白▽石原＆河合が挑戦！ほにゃららポーズ▽石原さとみ＆河合優実ミラクルカット

  Part1：https://tver.jp/episodes/epgvluk513
  Part2：https://tver.jp/episodes/ep5ahisy03
  Part3：https://tver.jp/episodes/eprkzfpf5q

  ハライチ、神田愛花、とにかく明るい安村、加藤大悟、杉原千尋、石原さとみ、河合優実、菊地亜美 らが出演しています
</p>

<p class="tver">
  バラエティ 巷のウワサ大検証！それって実際どうなの会(2026) の配信がTVerで始まりました。 98分
  終了日未記載

  ※ 味噌汁の驚きパワーでやせ効果！？縄跳びVS縄なし縄跳び

  生瀬勝久、満島真之介、大島美幸(森三中)、小池栄子、ザ・たっち(たくや、かずや)、餅田コシヒカリ、大橋ミチ子、佐々木大光(KEY TO LIT) らが出演しています

  https://tver.jp/episodes/epcq07tyq3
</p>

<p class="tver">
  バラエティ 世界くらべてみたら(2026) の配信がTVerで始まりました。 97分
  10/14 18:59まで

  ※ SixTONES全員でクロアチア「魔女の宅急便」のモデル！？世界遺産の街ドゥブロヴニクいくらで楽しめる？

  上白石萌音、千原ジュニア、山崎弘也(アンタッチャブル)、ジェシー(SixTONES)、藤本美貴、井上芳雄、UTA、熊元プロレス(紅しょうが)、ケイリーン・フォールズ、はらぺこツインズ、富栄ドラム、ウルフアロン、小笠原亘 らが出演しています

  https://tver.jp/episodes/ep8phhx5jy
</p>

<p class="tver">
  バラエティ 世界の何だコレ！？ミステリー(2026) の配信がTVerで始まりました。 41分
  10/14 19:00まで

  ※ 山積みにされた祠？誰が何の目的で…▼絶体絶命！まさかの理由で奇跡の生還

  山積みの祠：https://tver.jp/episodes/ep801wlstj
  奇跡の生還：https://tver.jp/episodes/epa3tqj1h9

  蛍原徹、きゃりーぱみゅぱみゅ、岡田圭右(ますだおかだ)、近藤千尋、田中卓志(アンガールズ) らが出演しています
</p>

<p class="tver">
  バラエティ 線を引くだけクイズ！センビキ(2026) の配信がTVerで始まりました。 98分
  終了日未記載

  ※ ひらめけば爽快！家族みんなで楽しめる知識不要の線を引くだけクイズ▼福士蒼汰ノリノリ▼名探偵・津田が迷回答▼なにわ男子爆笑▼せいや・出川ら豪華芸能人16人が参セン

  飯尾和樹(ずん)、岩田絵里奈、大久保佳代子(オアシズ)、なにわ男子(大西流星、道枝駿佑)、神田愛花、木村昴、KEIKO(ME:I)、志田彩良、柴田英嗣(アンタッチャブル)、せいや(霜降り明星)、武田鉄矢、津田篤宏(ダイアン)、出川哲朗、永尾柚乃、福士蒼汰、真中まな(FRUITS ZIPPER)、みなみかわ らが出演しています

  https://tver.jp/episodes/epatnjuq0v
</p>

<p class="tver">
  バラエティ バカリズムのちょっとバカりハカってみた！(2026) の配信がTVerで始まりました。 62分
  10/14 21:53まで

  ※ 超秘境のモーレツ仕事人！命をかけたギャンブル漁…超過酷！衝撃労働

  バカリズム、影山優佳、内藤剛志、滝沢カレン らが出演しています

  https://tver.jp/episodes/epcycytvmu
</p>

<p class="tver">
  バラエティ 上田と女が吠える夜(2026) 1回の配信がTVerで始まりました。 46分
  10/14 20:59まで

  ※ 秋こそ防犯!1億円盗難!?楽屋を盗撮!?衝撃の過去被害を告白

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、若槻千夏、ファーストサマーウイカ、ディーン・フジオカ、柏木由紀、神田愛花、神田うの、熊元プロレス(紅しょうが)、忠犬立ハチ高、松本伊代、森泉 らが出演しています

  https://tver.jp/episodes/epqr1lx5nh
</p>

<p class="tver">
  バラエティ ホンマでっか！？TV(2026) の配信がTVerで始まりました。 44分
  10/14 21:00まで

  ※ ニッポンの異変・大雨のナゾを徹底解明！

  明石家さんま、井上清華、EXIT、島崎和歌子、ブラックマヨネーズ、磯野貴理子、吉野北人(THE RAMPAGE)、牛窪恵、小高千枝、門倉貴史 らが出演しています

  https://tver.jp/episodes/epuvkbppol
</p>

<p class="tver">
  バラエティ ニノなのに(2026) の配信がTVerで始まりました。 50分
  10/14 20:53まで

  ※ 司会はDJ KOO！広瀬すずが本気の詰め放題！？

  二宮和也、DJKOO、加藤諒、高城れに(ももいろクローバーZ)、田中雅功、広瀬すず らが出演しています

  https://tver.jp/episodes/ep67o541kg
</p>

<p class="tver">
  ドラマ インターホンが鳴るとき(2024) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  土村芳、堀井新太、古屋呂敏、水崎綾女、高田里穂、中村ゆりか、向里祐香、森田想、くわばたりえ、塩崎忍 らが出演しています

  https://tver.jp/episodes/eptm4b2isf
</p>

<p class="tver">
  ドラマ ビューティフルレイン(2012) 2話の配信がTVerで始まりました。 47分
  終了日未記載

  豊川悦司、芦田愛菜、三浦翔平、でんでん、安田顕、国生さゆり、丘みつ子、蟹江敬三、中谷美紀、高木星来 らが出演しています

  https://tver.jp/episodes/epx5es0b78
</p>

<p class="tver">
  ドラマ ディア・シスター(2014) 3話の配信がTVerで始まりました。 47分
  終了日未記載

  石原さとみ、松下奈緒、岩田剛典、平山浩行、森カンナ、田辺誠一、堀内敬子、片平なぎさ、平岡祐太、渡辺裕之 らが出演しています

  https://tver.jp/episodes/epakf8j42x
</p>

<p class="tver">
  ドラマ まだ結婚できない男(2019) 9話の配信がTVerで始まりました。 46分
  終了日未記載

  阿部寛、吉田羊、深川麻衣、塚本高史、咲妃みゆ、平祐奈、阿南敦子、奈緒、荒井敦史、小野寺ずる、美音、デビット伊東、不破万作、伊藤正之、宮田早苗、RED RICE(湘南乃風)、三浦理恵子、尾美としのり、稲森いずみ らが出演しています

  https://tver.jp/episodes/ep5zbg9vo4
</p>

<p class="tver">
  ドラマ メディカルチーム レディ・ダ・ヴィンチの診断(2016) 9話の配信がTVerで始まりました。 46分
  終了日未記載

  吉田羊、相武紗季、吉岡里帆、白鳥久美子(たんぽぽ)、滝沢沙織、庄野崎謙、小林且弥、池岡亮介、五十嵐健人、藤澤遥、伊礼姫奈、原千果子、吉家章人、笛木優子、戸次重幸、高橋克典、伊藤蘭、根岸姫奈 らが出演しています

  https://tver.jp/episodes/ep0xuc4764
</p>

<p class="tver">
  ドラマ 小麦とバターと復讐と(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  伊原六花、七五三掛龍也(Travis Japan)、味方良介、寺本莉緒、小林きな子、烏森まど、大朏岳優、いずみかわみほ らが出演しています

  https://tver.jp/episodes/epb11hhjuh
</p>

<p class="tver">
  ドラマ メリーベリーラブ(2026) 1話の配信がTVerで始まりました。 45分
  10/14 21:59まで

  チ・チャンウク、今田美桜、ナム・ユンス、久間田琳加、キム・テフン、佐戸井けん太、段田安則 らが出演しています

  https://tver.jp/episodes/ep7vcmcic1
</p>

<p class="tver">
  ドラマ ポリティカルパン(2026) 1話の配信がTVerで始まりました。 45分
  終了日未記載

  石原さとみ、高橋一生、河合優実、寛一郎、猫背椿、川西拓実(JO1)、きょん(コットン)、宮本エリアナ、酒向芳、間宮啓行、岩松了、古舘寛治、草刈正雄、渡部篤郎 らが出演しています

  https://tver.jp/episodes/ep0acqxkqr
</p>

<p class="tver">
  アニメ LV999の村人(2026) 3～4話の配信がTVerで始まりました。 24分
  終了日未記載

  猪股慧士、東山奈央、江頭宏哉、島崎信長、石見舞菜香、古賀葵、Lynn、梅原裕一郎 らが出演しています

  https://tver.jp/episodes/epq7z3ke9d
</p>

<p class="tver">
  アニメ メイドインアビス(2019) 10話の配信がTVerで始まりました。 24分
  終了日未記載

  富田美憂、伊瀬茉莉也、井澤詩織、大原さやか、豊崎愛生、田村睦心、沼倉愛美、塙真奈美、村田太志、坂本真綾 らが出演しています

  https://tver.jp/episodes/ep6eob37a2
</p>

<p class="tver">
  アニメ 世界最高の暗殺者、異世界貴族に転生する(2021) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  赤羽根健治、上田麗奈、高田憂希、下地紫野、森川智之、たかはし智秋、田村ゆかり、森田順平 らが出演しています

  https://tver.jp/episodes/epvi6wb5td
</p>

<p class="yt">
  渡辺美里「My Revolution」｜2025/7/11配信｜渡辺美里 Official YouTube Channel｜4:29


  https://youtu.be/zfcO3Y58m24
</p>

<p class="yt">
  マックの月見バーガー食べながら質問返しというものをしてみます🍔🐇｜2026/10/4配信｜森香澄ちゃんねる｜29:35

  森香澄 らが出演しています

  https://youtu.be/ktjnyFOQ7P0
</p>

<p class="yt">
  初”霊臭がわかる俳優” 番組で過激過ぎてカットされた史上最恐の角さんの呪物を嗅いでしまった｜2026/8/26配信｜島田秀平のお怪談巡り｜48:04

  島田秀平、伊藤歩 らが出演しています

  https://youtu.be/R_PymKE2XD4
</p>

<p class="yt">
  【敬老の日】たくみのばぁちゃんと沢山喋った日【茨木弁】｜2026/10/6配信｜カミナリの記録映像【公式】｜55:20

  カミナリ らが出演しています

  https://youtu.be/ZiKDmgk9KiU
</p>

<p class="tver">
  バラエティ 徹子の部屋(2026) の配信がTVerで始まりました。 24分
  10/14 15:00まで

  ※ 〈渡辺美里〉芸能生活40周年を迎え再びあの舞台へ…

  黒柳徹子、渡辺美里 らが出演しています

  https://tver.jp/episodes/epsz3v0rsf
</p>

<p class="tver">
  ドラマ 夫の家庭を壊すまで(2024) 9～12(最終)話の配信がTVerで始まりました。 40分
  終了日未記載

  松本まりか、竹財輝之助、野波麻帆、野村康太、忍成修吾、太田莉菜、佐藤夕美子、異儀田夏葉、嶽本渚琉、五藤倭衣、長谷川澪 らが出演しています

  https://tver.jp/episodes/epo8ibgg9r
</p>

<p class="tver">
  ドラマSP 殺人銀行(2001) の配信がTVerで始まりました。 94分
  終了日未記載

  斉藤由貴、蟹江敬三、豊原功補、春名美咲、塩屋俊、水島かおり、森下哲夫、水木薫、桑野信義、千野邦子、関根信行、三田あいり、伊藤智之、浜博文、岡坂あすか(黒沢あすか) らが出演しています

  https://tver.jp/episodes/epj208mp0a
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 25(最終)話の配信がTVerで始まりました。 24分
  10/14 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/ep98qhpzcr
</p>

<p class="tver">
  その他 ぐ～たくさん(2026) の配信がTVerで始まりました。 39分
  10/14 12:00まで

  ※ なにわ男子・西畑＆福本莉子驚き！？最強【道の駅】

  木村昴、神田愛花、村上(マヂカルラブリー)、西畑大吾(なにわ男子)、福本莉子、佐野祐子 らが出演しています

  https://tver.jp/episodes/ep54mo2jez
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 滝沢カレン・秋鮭のしば漬けタルタルバーガー

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/epvug96u81
</p>

<p class="tver">
  ドラマ メゾン・ド・ポリス(2019) 10(最終)話の配信がTVerで始まりました。 59分
  10/16 21:59まで

  高畑充希、西島秀俊、西田尚美、竜星涼、木村了、戸田昌宏、今井朋彦、小日向文世、佐野史郎、中野英雄、東風万智子、荻野友里、水橋研二、渡辺文香、山崎莉里那、宮地雅子、ヨシダ朝、水谷果穂、笠松将、関幸治、住田萌乃、三村晃弘、税所伊久磨、野口五郎、角野卓造、近藤正臣 らが出演しています

  https://tver.jp/episodes/eppazfhk34
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 9話の配信がTVerで始まりました。 50分
  10/13 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、相澤瑠星、佐藤旭、小泉博、ムロツヨシ、要潤、黒川智花、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/ephdv387co
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 11(最終)話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、大後寿々花、浅野和之、沢尻エリカ、川村陽介、山下容莉枝、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epgcd9npsh
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 10(最終)話の配信がTVerで始まりました。 64分
  10/16 21:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、高橋光臣、高橋洋、好井まさお、望月章男、シャカ大熊、石黒英雄、竜星涼、加治将樹、丸一太、夏緒、神野三鈴、井上芳雄、中村アン、ユースケ・サンタマリア、高橋英樹、春風亭昇太、市川実日子、木場勝己、梅沢富美男、和田アキ子、三田佳子、香川照之 らが出演しています

  https://tver.jp/episodes/ep9vylckmq
</p>

<p class="tver">
  ドラマ ブラザー・トラップ(2023) 9(最終)話の配信がTVerで始まりました。 21分
  10/13 21:59まで

  久間田琳加、山中柔太朗(M!LK)、工藤遥、若林時英、渡邉美穂、NANA(MAX)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/ep893r0oya
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 10(最終)話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  仲間由紀恵、リュ・シウォン、大倉孝二、袴田吉彦、鈴木浩介、入江慎也、田中哲司、大浦龍宇一、金子昇、ユージン・グレイザー、入山法子、美元、麻生祐未、益岡徹、片平なぎさ、泉ピン子 らが出演しています

  https://tver.jp/episodes/ep3l9i0vug
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 32話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/eptly49w3b
</p>

<p class="tver">
  アニメ 幻想水滸伝(2026) 1話の配信がTVerで始まりました。 51分
  終了日未記載

  熊谷俊輝、土屋神葉、日原あゆみ、小西克幸、中村悠一、八代拓、安済知佳、山野井仁、笠間淳、松岡禎丞、峰晃弘、近貞月乃、潘めぐみ、村瀬歩、大塚剛央、青山吉能、沢城みゆき、酒井広大、葉山翔太、綿貫竜之介、仁見紗綾、海野水玉、佐々木祐介、丹羽正人 らが出演しています

  https://tver.jp/episodes/epvg5apdax
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 22(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 23話は総集編なので22話が最終話

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/epdiifdh00
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/epgsh39fvj
</p>
