---
title: 2026/6/29 のピックアップ
date: 2026-06-29
tags:
  - TVer
  - Youtube
category: vidpick
draft: true
---



<p class="yt">
  公式アニメ いぬかみっ 14～26話｜｜「KING AMUSEMENT CREATIVE」公式チャンネル｜
※ 7/29(水) 19:59まで。

  https://youtu.be/1O8Qcz2gGNk

  堀江　由衣：ようこ
  福山　　潤：川平啓太
  中村　俊洋：はけ
  速水　　奨：仮名史郎
  名塚　佳織：なでしこ
  長谷川静香：ともはね
  森永　理科：たゆね
  本多　陽子：いぐさ
  松岡　由貴：せんだん
  木川絵理子：ごきょうや
  廣田　詩夢：フラノ
  小林　晃子：てんそう
  遠藤　　綾：いまり
  新谷　良子：さよか
  京田　尚子：宗家
</p>
