---
title: 2026/7/20 のピックアップ
date: 2026-07-20
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ サンドウィッチマン＆芦田愛菜の博士ちゃん(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 博士ちゃんたちが応援したい！令和の今も頑張る昭和レトロ工場＆難読名字探しの旅！

  サンドウィッチマン(伊達みきお、富澤たけし)、芦田愛菜、浮所飛貴(ACEes) らが出演しています

  https://tver.jp/episodes/ep33wq9dab
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。
  7/27 19:00まで

  ※ GACKT緊急参戦！新月9VS手越軍VS澤軍

  林修、村瀬哲史、神尾楓珠、戸塚純貴、竹財輝之助、映美くらら、ネプチューン(原田泰造、名倉潤、堀内健)、手越祐也、クロちゃん(安田大サーカス)、武田修宏、中西茂樹(なすなかにし)、澤穂希、岩清水梓、陣内貴美子、吉田沙保里、GACKT、伊藤利尋 らが出演しています

  https://tver.jp/episodes/epmn7d0lzn
</p>

<p class="tver">
  バラエティ ザ・イロモネア(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 「ザ・イロモネア」ウンナン極限ネタバトル！夏の大決戦SP！

  内村光良、南原清隆、アルコ&ピース、キャイ〜ン、キンタロー。、劇団ひとり、河本準一、ゴー☆ジャス、スギちゃん、ずん、タイムマシーン3号、ダンディ坂野、チャンス大城、ちゃんぴおんず、ハナコ、ハライチ、ハリセンボン、ぺこぱ、ママタルト、柳原可奈子、ヤーレンズ、横澤夏子 らが出演しています

  https://tver.jp/episodes/epohu69jh7
</p>

<p class="tver">
  バラエティ 今夜復活！あらびき団〜真夏の最強パフォーマー決定戦SP〜(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ あらびき団復活！不死鳥のように舞い戻る！

  東野幸治、藤井隆、滝沢カレン、イノシカチョウ、ガクヅケ、喫茶ムーン、山椒魚、庄司智春(品川庄司)、スパイシーガーリック、スルメ、ダックワーズ、ダブルアート、チョコレートプラネット、軟水、バタハリ、ハリウッドザコシショウ、ヒガ2000、風船太郎、ラックロッド、じゅんいちダビッドソン、博多華丸(博多華丸・大吉) らが出演しています

  https://tver.jp/episodes/epeh4bgk24
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。
  7/28 1:56まで

  ※ シゲが手がけた舞台『AmberS』を徹底解剖！

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、嶋崎斗亜、松尾龍、福田麻貴(3時のヒロイン) らが出演しています

  https://tver.jp/episodes/epdmf7f0p2
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 3話の配信がTVerで始まりました。
   7/28 1:20まで

   石黒英雄、入来茉里 らが出演しています

   https://tver.jp/episodes/epe4gk9ykk
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/epj43zpf4w
</p>

<p class="tver">
  ドラマ マルス-ゼロの革命-(2024) 7～9(最終)話の配信がTVerで始まりました。
  終了日未記載

  道枝駿佑(なにわ男子)、板垣李光人、吉川愛、井上祐貴、横田真悠、山時聡真、泉澤祐希、戸塚純貴、山口紗弥加、江口洋介 らが出演しています

  https://tver.jp/episodes/epwtdq22a9
</p>

<p class="tver">
  ドラマ 離婚弁護士(2004) 7話の配信がTVerで始まりました。
  7/27 23:59まで

  天海祐希、玉山鉄二、佐々木蔵之介、久我陽子、陣内孝則、津川雅彦 らが出演しています

  https://tver.jp/episodes/ep49863bc6
</p>

<p class="tver">
  ドラマ ケイジとケンジ、時々ハンジ。(2023) 7～9(最終)話の配信がTVerで始まりました。
  終了日未記載

  桐谷健太、比嘉愛未、磯村勇斗、中村アン、岡崎紗絵、長井短、西村元貴、古田新太、峯村リエ、奥貫薫、伊藤淳史、吉瀬美智子、北村有起哉 らが出演しています

  https://tver.jp/episodes/ep2y56249q
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、永井花奈、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epzruk6ehf
</p>

<p class="tver">
  ドラマ GTO(!2026) 1話の配信がTVerで始まりました。
  終了日未記載

  反町隆史、生見愛瑠、工藤阿須加、高橋メアリージュン、市川知宏、稲垣来泉、森本陸斗、及川桃利、大島美優、梶原叶渚、川口和空、北里琉、柴崎楓雅、難波碧空、西浦心乃助、堀口真帆、山崎裕太、和田聰宏、宇梶剛士、近藤芳正、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/epks0s4qy8
</p>

<p class="tver">
  ドラマ ブラックトリック～裁きを操る弁護人～(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  GACKT、加治将樹、矢野聖人 らが出演しています

  https://tver.jp/episodes/epgwiuoi9b
</p>

<p class="tver">
  アニメ 盗掘王(2026) 2話の配信がTVerで始まりました。
  7/28 1:19まで

  細谷佳正、入野自由、諏訪部順一、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epz3pa5gaq
</p>

<p class="tver">
  アニメ 無職転生Ⅲ ～異世界行ったら本気だす～(2026) 3話の配信がTVerで始まりました。
  7/27 23:59まで

  内山夕実、杉田智和、茅野愛衣、小原好美、金元寿子、Lynn、会沢紗弥、高田憂希、鶴岡聡、逢坂良太、田中理恵、諸星すみれ、上田麗奈、興津和幸、若山詩音、小山力也 らが出演しています

  https://tver.jp/episodes/ep67fu3oy9
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 2話の配信がTVerで始まりました。
  7/27 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epdyhtvhy9
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 21話の配信がTVerで始まりました。
  7/27 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/eptzt40heu
</p>

<p class="yt">
  アニメ 三つ目がとおる 25～28話｜2026/7/20配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/ax3jB4cEyFo
</p>

<p class="yt">
  アニメ「地獄先生ぬ~べ~」第1話~第8話｜2026/7/20配信｜東映アニメーションミュージアムチャンネル｜3:03:12
  ※ 8/3(月) 19:00まで。毎月曜19時プレミア公開

  置鮎龍太郎：鵺野鳴介
  藤田　淑子：立野広
  笠原　留美：稲葉郷子
  冨永みーな：細川美樹
  根谷美智子：律子先生
  田中　一成：克也
  浦和めぐみ：まこと
  本多智恵子：いずな
  白鳥　由里：ゆきめ
  森川　智之：玉藻

  https://youtu.be/5B8OGKVx-es
</p>

<p class="yt">
  ふしぎな島のフローネ 31～33話｜2026/7/20配信｜日本アニメーション・シアター｜1:16:54
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/vBIM_KhQp2E
</p>

<p class="yt">
  アニメ「うらみちお兄さん」1～13話｜2025/2/15配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜5:08:01
  ※ 8/10(月) 19:59まで

  神谷　浩史：表田裏道
  杉田　智和：兎原跳吉
  中村　悠一：熊谷みつ夫
  宮野　真守：蛇賀池照
  水樹　奈々：多田野詩乃
  木村　良平：木角半兵衛
  鈴村　健一：上武裁人
  小野　大輔：猫田又彦
  三⽊眞⼀郎：⾵呂出油佐男
  堀内　賢雄：出⽊⽥適⼈
  花江　夏樹：枝泥エディ
  髙橋ミナミ：縁ノ下カヨ
  佐藤　利奈：辺⾬育⼦
  中井　和哉：カッペリーニ降漬
  津田健次郎：アモン
  日笠　陽子：蛇賀眩衣
  定岡小百合：小百合
  大塚　芳忠：神の声

  https://youtu.be/K2EbaEhVBSA
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 33話の配信がTVerで始まりました。
  7/27 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/eprv9qlw7i
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 3話の配信がTVerで始まりました。
  9/27 23:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、カラテカ、松井遥南、津田健次郎、六平直政、倉沢杏菜、吉沢梨絵、長州力、ファーストサマーウイカ、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epvhg440r3
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 7話の配信がTVerで始まりました。
  7/26 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、高橋洋、葉山奨之、真野恵里菜、宇梶剛士、富田靖子、小貫加恵、伊藤真奈美、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epjvqm0yyn
</p>

<p class="tver">
  ドラマ Eye Love You(2024) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  二階堂ふみ、チェ・ジョンヒョプ、中川大志、山下美月、清水尋也、ゴリけん、鳴海唯、絃瀬聡一、立川志らく、玄理、杉本哲太 らが出演しています

  https://tver.jp/episodes/epf9oyyepx
</p>

<p class="tver">
  ドラマ クジャクのダンス、誰が見た？(2025) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  広瀬すず、松山ケンイチ、森崎ウィン、瀧内公美、斉藤優、パラシュート部隊、絃瀬聡一、野間口徹、野村康太、池谷のぶえ、安藤輪子、金子早苗、市川大貴、瀬戸寛、児玉すみれ、成田凌、藤本隆宏、西田尚美、酒井敏也、酒向芳、仙道敦子、間宮啓行、リリー・フランキー、磯村勇斗 らが出演しています

  https://tver.jp/episodes/epcrwkrgwa
</p>

<p class="tver">
  ドラマ 週末婚(1999) 13(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、森下哲夫、神山繁、織本順吉、夏桂子、戸川京子、根岸季衣、中原ひとみ、仲村トオル らが出演しています

  https://tver.jp/episodes/ep3v6vtquk
</p>

<p class="tver">
  ドラマ タイヨウのうた(2006) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  山田孝之、沢尻エリカ、松下奈緒、田中圭、佐藤めぐみ、濱田岳、川村陽介、原史奈、ベッキー、小林麻央、要潤、若杉宏二、中村豪(やるせなす)、兵頭有紀、竹中直人、黒田知永子、山本圭、勝村政信 らが出演しています

  https://tver.jp/episodes/ep29bcmi0w
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 9話の配信がTVerで始まりました。
  7/27 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epc9mmifoq
</p>

<p class="tver">
  ドラマ 下町ロケット(2015) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、土屋太鳳、立川談春、安田顕、和田聰宏、今野浩喜、山崎育三郎、中本賢、谷田歩、阿部進之介、竹内涼真、佐野岳、ぼくもとさきこ、真矢ミキ、庵原匠悟、新井浩文、木下ほうか、池畑慎之介、恵俊彰、倍賞美津子、小泉孝太郎、石倉三郎、高橋光臣、バカリズム、平岳大、石井一孝、福田転球、朝倉あき、堀井新太、赤ペン瀧川、吉田類、天野勝弘、高島彩、世良公則、今田耕司、吉川晃司、杉良太郎、松平定知 らが出演しています

  https://tver.jp/episodes/eptw84y8e1
</p>

<p class="tver">
  ドラマ オレンジデイズ(2004) 10～11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  妻夫木聡、柴咲コウ、成宮寛貴、白石美帆、永山瑛太、上野樹里、小西真奈美、沢村一樹、風吹ジュン らが出演しています

  https://tver.jp/episodes/epyx07uae2
</p>

<p class="tver">
  ドラマ 怪盗ロワイヤル(2011) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  松坂桃李、大政絢、福士誠治、CHANSUNG(2PM)、相葉裕樹、菊田大輔、永瀬匡、田中要次、山下真司、yui、佐々木希、永田裕志、菅原永二、菊地雄人、竹財輝之助、下條アトム、真野響子 らが出演しています

  https://tver.jp/episodes/epmr3i2qm3
</p>

<p class="tver">
  ドラマ 孤独の賭け～愛しき人よ～(2007) 10～11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  伊藤英明、長谷川京子、井川遥、堺雅人、青田典子、田宮五郎、内田裕也、夏菜、羽賀研二、石田太郎、春田純一、浜田学、崎山凛、笹野高史、高岡早紀、古手川祐子 らが出演しています

  https://tver.jp/episodes/eprx1j3rkx
</p>

<p class="tver">
  ドラマ 新参者(2010) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  阿部寛、黒木メイサ、向井理、溝端淳平、マイコ、紺野まひる、速水もこみち、早乙女太一、みのもんた、香川照之、柏原収史、ちすん、小泉深雪、橋本真実、木村祐一、泉谷しげる、笹野高史、原田美枝子、三浦友和 らが出演しています

  https://tver.jp/episodes/epgzb06ac5
</p>

<p class="tver">
  ドラマ 大奥～誕生[有功･家光篇](2012) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  堺雅人、多部未華子、田中聖、平山浩行、南沢奈央、尾美としのり、市川知宏、西山潤、小澤美和、山本舞香、庵原涼香、古野本二葉、牛島七菜子、段田安則、内藤剛志 らが出演しています

  https://tver.jp/episodes/epf4fqqwqx
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 10(最終)話の配信がTVerで始まりました。
  7/26 23:59まで

  二宮和也、竹内涼真、葵わかな、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、田中みな実、大黒摩季、辻萬長、堀越麗禾、誠直也、蘭寿とむ、井上肇、三石琴乃、大和田伸也、石坂浩二、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/epc3cbws0j
</p>

<p class="tver">
  ドラマ MOZU ～幻の翼～(2014・2期) 5(最終)話の配信がTVerで始まりました。
  7/26 23:59まで

  西島秀俊、香川照之、真木よう子、池松壮亮、佐野史郎、伊藤淳史、蒼井優、平山祐介、音月桂、堀内敬子、杉咲花、篠田三郎、瑳川哲朗、品川徹、長谷川博己、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/epewky0njb
</p>

<p class="tver">
  ドラマ MOZU ～百舌の叫ぶ夜～(2014・1期) 10(最終)話の配信がTVerで始まりました。
  7/26 23:59まで

  西島秀俊、香川照之、真木よう子、生瀬勝久、伊藤淳史、池松壮亮、阿部力、平山祐介、鶴見辰吾、瑳川哲朗、石田ゆり子、小日向文世 らが出演しています

  https://tver.jp/episodes/ep6pljvzv2
</p>

<p class="tver">
  ドラマ コウノドリ(2017) 10～11(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、宮沢氷魚、松本若菜、古畑星夏、赤澤ムック、白石糸、小林きな子、吉田悟郎、泉春花、初音映莉子、奥山佳恵、近藤公園、石田卓也、相楽樹、山本圭祐、川俣しのぶ、ヨシダ朝、中村久美、須藤理彩、りょう、江口のりこ、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/ep0m4qx6jo
</p>

<p class="tver">
  ドラマ コウノドリ(2015) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  綾野剛、松岡茉優、吉田羊、坂口健太郎、清野菜名、平山祐介、豊本明長(東京03)、清塚信也、橋本一郎、白石糸、小林きな子、綾戸智恵、浅野和之、小栗旬、奥貫薫、戸田昌宏、木南晴夏、佐野泰臣、西田尚美、江口のりこ、星野源、大森南朋 らが出演しています

  https://tver.jp/episodes/epcn5yymsq
</p>

<p class="tver">
  ドラマ VIVANT(2023) 10(最終)話の配信がTVerで始まりました。
  7/26 20:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、飯沼愛、小林隆、河内大和、市川笑三郎、平山祐介、珠城りょう、馬場徹、内村遥、井上肇、内野謙太、西山潤、富栄ドラム、田中秀幸、銀河万丈、二宮和也、橋爪功、林泰文、吉原光夫、キムラ緑子、檀れい、松坂桃李、役所広司 らが出演しています

  https://tver.jp/episodes/epjl9e9hu9
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 25話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一、緑川光、沼田祐介、飯田友子、大本眞基子、浅井晴美、森田樹優、ランズベリー・アーサー、伊東健人、後藤友香里、佐藤奏美 らが出演しています

  https://tver.jp/episodes/epx8a7f6bo
</p>
