---
title: 2026/8/3 のピックアップ
date: 2026-08-03
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ 真・侍伝 YAIBA(2026) 5話の配信がTVerで始まりました。
  8/11 3:28まで

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 らが出演しています

  https://tver.jp/episodes/eplawe11qd
</p>

<p class="yt">
  『ドラマ版 猫侍 シーズン2』全12話セット｜2026/7/17配信｜AMG公式チャンネル｜4:21:16
  ※ 期間限定だと思いますが期限が書いてないのでお早めに

北村一輝、森カンナ、モト冬樹、本宮泰風、清水綋治、佐野泰臣、高橋かおり、横山めぐみ らが出演しています

  https://youtu.be/f6sTS4SCD70
</p>

<p class="yt">
  『ドラマ版 猫侍』全12話セット!｜2026/6/10配信｜AMG公式チャンネル｜4:41:00
  ※ 期間限定だと思いますが期限が書いてないのでお早めに。7/4に掲載しましたが関連作品と合わせるほうが管理的に楽かと再掲載。

  北村一輝、横山めぐみ、平田薫 らが出演しています

  https://youtu.be/c6D1ClBpytM
</p>

<p class="yt">
  映画『遠くでずっとそばにいる』｜2026/6/19配信｜AMG公式チャンネル｜1:48:07
  ※ 期間限定だと思いますが期限が書いてないのでお早めに

  倉科カナ、中野裕太、伽奈、清水くるみ、大間ジロー、朝倉えりか、徳井義実、六角精児、マキノノゾミ、みれいゆ、郭智博、加藤順平、牛込亜紗子、藤澤恵麻、岡田奈々 らが出演しています

  https://youtu.be/9hDEGQV32RY
</p>

<p class="yt">
  映画『ラブクラフト・ガール』｜2026/7/1配信｜AMG公式チャンネル｜1:31:18
  ※ 期間限定だと思いますが期限が書いてないのでお早めに

安藤聖、中村倫也、羽鳥名美子、黒瀬友望、神戸アキコ、小村裕次郎、千葉雅子、矢柴俊博、木野花 らが出演しています

  https://youtu.be/boW43WEUyyc
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 5話の配信がTVerで始まりました。
  8/11 1:20まで

  ※ 14分のドラマです

  石黒英雄、入来茉里 らが出演しています

  https://tver.jp/episodes/epdevn8i3m
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 5話の配信がTVerで始まりました。
  9/1 00:23まで

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/epdvqijy7l
</p>

<p class="tver">
  アニメ 盗掘王(2026) 4話の配信がTVerで始まりました。
  8/11 1:14まで

  細谷佳正、早見沙織、入野自由、諏訪部順一、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epp9jcl59w
</p>

<p class="tver">
  ドラマ 翼をください！(1996) 2話の配信がTVerで始まりました。
  9/9 23:59まで

  内田有紀、反町隆史、水野美紀、細川直美、矢田亜希子、佐藤浩市 らが出演しています

  https://tver.jp/episodes/epy0ta60ux
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 7話の配信がTVerで始まりました。
  8/11 23:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、川崎宗則、きょん(コットン)、吉田ウーロン太、中村シユン、番家天嵩、倉田瑛茉、山本浩貴、柳谷参助、中山翔貴、青山俊雄、伊達さゆり、井上拓哉、黒田浩史、前田幸長、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epwyr8eeit
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 7話の配信がTVerで始まりました。
  8/11 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、田中哲司、小泉孝太郎、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/epkv8oh7xg
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 11(最終)話の配信がTVerで始まりました。
  8/10 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epilm0wnpy
</p>

<p class="tver">
  ドラマ 正義は勝つ Justice・for・all(1995) 2話の配信がTVerで始まりました。
  9/3 23:59まで

  織田裕二、鶴田真由、室井滋、段田安則、井上晴美、松崎しげる、井上順 らが出演しています

  https://tver.jp/episodes/ephhmw7kky
</p>

<p class="tver">
  ドラマ 踊る大捜査線(1997) 2話の配信がTVerで始まりました。
  9/18 23:59まで

  織田裕二、柳葉敏郎、深津絵里、水野美紀、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/eph79apknx
</p>

<p class="tver">
  ドラマ 東京ラブストーリー(1991) 1話の配信がTVerで始まりました。
  9/9 23:59まで

※ 3日毎に最新話追加

  鈴木保奈美、織田裕二、有森也実、江口洋介、中山秀征 らが出演しています

  https://tver.jp/episodes/epdm7qnrn2
</p>

<p class="tver">
  ドラマ ロケット・ボーイ(2001) 2話の配信がTVerで始まりました。
  8/25 23:59まで

  織田裕二、ユースケ・サンタマリア、松本幸四郎、京野ことみ、須藤理彩、中嶋朋子 らが出演しています

  https://tver.jp/episodes/ep7axxkrwl
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 6話の配信がTVerで始まりました。
  8/11 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、ゆっきー、キャン×キャン、工藤美桜、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、原因は自分にある。(大倉空人、小泉光咲、長野凌大、桜木雅哉)、河内大和、矢柴俊博、チェ・ジノ、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/ep6v6yv5gy
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 5話の配信がTVerで始まりました。
  8/10 23:54まで

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、永井花奈、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epn5r9br45
</p>

<p class="yt">
  ふしぎな島のフローネ 37～39話｜2026/8/3配信｜日本アニメーション・シアター｜1:16:55
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/K5Sq75jeGB4
</p>

<p class="yt">
  アニメ『地獄先生ぬ~べ~』17～23話｜2026/8/3配信｜東映アニメーションミュージアムチャンネル｜2:43:51
  ※ 8/17(月) 19:00まで

  置鮎龍太郎：鵺野鳴介
  藤田　淑子：立野広
  笠原　留美：稲葉郷子
  冨永みーな：細川美樹
  根谷美智子：律子先生
  田中　一成：克也
  浦和めぐみ：まこと
  本多智恵子：いずな
  白鳥　由里：ゆきめ
  森川　智之：玉藻

  https://youtu.be/PyKYe8uweRQ
</p>

<p class="tver">
  バラエティ CDTV ライブ! ライブ!(2026) の配信がTVerで始まりました。
  8/10 18:59まで

※ [Part1]AKB48「ポニーテールとシュシュ」、＝LOVE「ナツマトペ」、Da-iCE「スターマイン」、ILLIT「I Got Your Back」、EBiDAN「Yes! 東京」、[Part2]SUPER EIGHT「ダンダーラ」、AKB48「好きish」、＝LOVE「恋、はじめました。」、Da-iCE「アンリミテッド」、[Part3]ILLIT「It's Me」、優里「サンダーボルト」、ME:I「花咲く道」、STARGLOW「Drivin’ My Life」、AKB48「365日の紙飛行機」

  Part1：https://tver.jp/episodes/epdzwoafq8
  Part2：https://tver.jp/episodes/epstoldut0
  Part3：https://tver.jp/episodes/epyjuxmtuq

  江藤愛、下野紘、ILLIT、＝LOVE、AKB48、EBiDAN、SUPER EIGHT、STARGLOW、Da-iCE、ME:I、優里 らが出演しています
</p>

<p class="tver">
  バラエティ ナニコレ珍百景(2026) の配信がTVerで始まりました。
  8/10 18:00まで

  ※ 北関東の不思議珍百景＆房総半島の先っちょにある謎の人工島に上陸SP

  くっきー!(野性爆弾)、福原遥、U字工事、ネプチューン(名倉潤、原田泰造、堀内健)、斎藤ちはる らが出演しています

  https://tver.jp/episodes/ep72hmwp26
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。
  8/17 19:00まで

  ※ 舞台vsドラマvs伝説のバラエティー！三つ巴！

  林修、村瀬哲史、藤原紀香、高島礼子、剛力彩芽、岩崎う大(かもめんたる)、ネプチューン(原田泰造、堀内健、名倉潤)、浅野ゆう子、橋本マナミ、矢花黎(B&ZAI)、眞島秀和、石川萌香、春日俊彰(オードリー)、狩野英孝、白鳥久美子(たんぽぽ)、高城れに(ももいろクローバーZ)、永尾柚乃、肥後克広、ダチョウ倶楽部、伊藤利尋 らが出演しています

  https://tver.jp/episodes/eprj06jf9s
</p>

<p class="tver">
  バラエティ 小峠英二の試乗最高(2026) 11回の配信がTVerで始まりました。
  8/24 22:00まで

  ※ ゲスト：カンニング竹山

  小峠英二(バイきんぐ)、カンニング竹山 らが出演しています

  https://tver.jp/episodes/epbimi8kt1
</p>

<p class="tver">
  ドラマ GTO(2026) 3話の配信がTVerで始まりました。
  8/10 22:00まで

  反町隆史、生見愛瑠、工藤阿須加、高橋メアリージュン、市川知宏、夙川アトム、稲垣来泉、川口和空、及川桃利、大島美優、梶原叶渚、北里琉、柴崎楓雅、難波碧空、西浦心乃助、堀口真帆、森本陸斗、今井らいぱち、山崎裕太、近藤芳正、宇梶剛士 らが出演しています

  https://tver.jp/episodes/ep50mj9eyt
</p>

<p class="tver">
  ドラマ おいしい給食(2021・2期) 全10話の配信がTVerで始まりました。
  10/31 23:59まで

  市原隼人、土村芳、佐藤大志、勇翔、山崎玲奈、いとうまい子、直江喜一、木野花、酒井敏也 らが出演しています

  https://tver.jp/episodes/epev4l4ueu
</p>

<p class="tver">
  ドラマ ブラックトリック～裁きを操る弁護人～(2026) 3話の配信がTVerで始まりました。
  9/30 23:59まで

  GACKT、東根作寿英、飯田基祐、松谷鷹也 らが出演しています

  https://tver.jp/episodes/epktgk8pw1
</p>

<p class="tver">
  ドラマ 真夏のシンデレラ(2023) 4話の配信がTVerで始まりました。
  8/10 23:59まで

  森七菜、間宮祥太朗、神尾楓珠、吉川愛、萩原利久、白濱亜嵐、仁村紗和、水上恒司 らが出演しています

  https://tver.jp/episodes/epvwim1riz
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 10話の配信がTVerで始まりました。
  8/17 23:59まで

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/ep6dy0lo68
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 4話の配信がTVerで始まりました。
  8/10 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/ep1oxtqh2z
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 23話の配信がTVerで始まりました。
  8/10 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/epd9k5lo5y
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  8/10 15:00まで

  ※ 高知県の秘境にあるポツンと一軒家へ！山奥の一軒家に刻まれた、家族の記憶と感謝の物語を見つめていく。

  所ジョージ、林修、塩﨑太智(M!LK)、岡田紗佳 らが出演しています

  https://tver.jp/episodes/ep839h62pc
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 9話の配信がTVerで始まりました。
  8/10 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epiqsg70ww
</p>

<p class="tver">
  バラエティ ナゾ解き☆はるpyon調査隊(2026) の配信がTVerで始まりました。
  9/4 23:59まで

  ※ [9分の番組です]昆布の謎

  橋本陽菜(AKB48) らが出演しています

  https://tver.jp/episodes/eptgxoqzh1
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 7話の配信がTVerで始まりました。
  9/3 23:59まで

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、橋本じゅん、伊藤かずえ らが出演しています

  https://tver.jp/episodes/epe15xdubk
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 8話の配信がTVerで始まりました。
  8/9 11:59まで

  佐藤健、黒木華、桐谷健太、森岡龍、瀬戸利樹、中井ノエミ、鈴木亮平、郷ひろみ、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep6bjg5cfi
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 6話の配信がTVerで始まりました。
  8/10 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、矢作兼(おぎやはぎ)、勝俣州和、八代英輝、土屋佑壱、西沢仁太、金剛地武志、西慶子、芋洗坂係長、間宮祥太朗、小林一英、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/ep14gb4j6w
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 23話の配信がTVerで始まりました。
  8/10 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epsojcmyyf
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 1話の配信がTVerで始まりました。
  2027/2/3 08:30まで

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/ep06rd0b8h
</p>
