---
title: 2026/7/22 のピックアップ
date: 2026-07-22
tags:
  - TVer
  - Youtube
category: vidpick
---




<p class="tver">
  ドラマ おちたらおわり(2026) 4話の配信がTVerで始まりました。
  終了日未記載

  宇垣美里、篠田麻里子、佐津川愛美、風吹ケイ、鈴木紗理奈、池田直人(レインボー)、清水海李、木原勝利、高井佳佑(ガーリィレコード)、簡秀吉 らが出演しています

  https://tver.jp/episodes/eph8tii1ck
</p>

<p class="tver">
  ドラマ ドライな同期の溺愛癖(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  ゆいかれん、藤林泰也、小栗有以(AKB48)、京典和玖、半田周平 らが出演しています

  https://tver.jp/episodes/eplctzezi4
</p>

<p class="yt">
  アニメ 三つ目がとおる 29～32話｜2026/7/22配信｜手塚プロダクション公式チャンネル｜1:38:40
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/S5a9hfXnngM
</p>

<p class="tver">
  ドラマ 君は夏のなか(2026) 4話の配信がTVerで始まりました。
  7/30 0:59まで

  奥智哉、杢代和人(原因は自分にある。)、芳村宗治郎、平川聖大、駒井蓮、きょん(コットン)、真雪、西川旺輝 らが出演しています

  https://tver.jp/episodes/epm4k7l17o
</p>

<p class="tver">
  バラエティ いたジャン！(2026) 105回の配信がTVerで始まりました。
  7/30 0:15まで

  ※ AIに聞いてみたJUMPランキング

  Hey! Say! JUMP(山田涼介、知念侑李、有岡大貴、髙木雄也、伊野尾慧、八乙女光、薮宏太)、蓮見翔(ダウ90000)、あの らが出演しています

  https://tver.jp/episodes/epxnxp8l4m
</p>

<p class="tver">
  アニメ 神の雫(!2026) 15話の配信がTVerで始まりました。
  7/30 0:30まで

  亀梨和也、佐藤拓也、内田真礼、甲斐田裕子、藤真秀、渡辺美佐、内田夕夜、浦山迅、Lynn、石住昭彦、堀総士郎、小原好美、銀河万丈 らが出演しています

  https://tver.jp/episodes/ep7pmbl9ro
</p>

<p class="tver">
  バラエティ ぽかぽか(2026) の配信がTVerで始まりました。
  7/29 11:46まで

  ※ 新水10ドラマ『Tokyo middle30』から仲里依紗・のん・深川麻衣の“ミドルサーティ”ガールズ大集合！仲里依紗のん深川麻衣（秘）私生活大公開。仲里依紗が語る中尾明慶との夫婦生活。仲＆のん＆深川が牛肉カットに挑戦！

  Part1：https://tver.jp/episodes/epkwnq6i3f
  Part2：https://tver.jp/episodes/ep2qjmirla
  Part3：https://tver.jp/episodes/epzpdx3wxz

  ハライチ、神田愛花、とにかく明るい安村、ハリセンボン、加藤大悟、杉原千尋、仲里依紗、のん、深川麻衣 らが出演しています
</p>

<p class="tver">
  バラエティ 世界の何だコレ！？ミステリー(2026) の配信がTVerで始まりました。
  7/29 19:00まで

  ※ 本能寺の変のその後！歴史の通説が変わる？

  蛍原徹、きゃりーぱみゅぱみゅ、小木博明(おぎやはぎ)、齊藤京子、田中卓志(アンガールズ) らが出演しています

  https://tver.jp/episodes/epons0dn4z
</p>

<p class="tver">
  バラエティ 世界くらべてみたら(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 日本の超人気な便利グッズ…世界人気1位は？

  上白石萌音、千原ジュニア、山崎弘也(アンタッチャブル)、ジェシー(SixTONES)、矢田亜希子、藤本美貴、ゆうちゃみ、ケイリーン・フォールズ らが出演しています

  https://tver.jp/episodes/epneck7dm7
</p>

<p class="tver">
関西人とノン関西人が大激論！関西人が「マック」ではなく「マクド」と呼ぶ理由は？ポン酢がソウルフードになったきっかけは？関西人も知らない関西人の生態を徹底調査
</p>

<p class="tver">
  バラエティ 奇跡体験！アンビリバボー(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 真夏にゾクッ・・・！！ミステリーファイルSP

  バナナマン(設楽統、日村勇紀)、小室瑛莉子、仲里依紗、辰巳雄大(ふぉ〜ゆ〜) らが出演しています

  https://tver.jp/episodes/ep8gbiqsoe
</p>

<p class="tver">
  バラエティ 上田と女が吠える夜(2026) の配信がTVerで始まりました。
  7/29 19:59まで

  ※ 夏休みは1秒もムダにしたくない!タイパ命な女の衝撃せっかち話

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、いとうあさこ、ファーストサマーウイカ、細田佳央太、神田愛花、潮田玲子、忠犬立ハチ高、福山梨乃(CANDY TUNE)、peco、モモコ、ハイヒール、森口博子 らが出演しています

  https://tver.jp/episodes/ep12yb1oyg
</p>

<p class="tver">
  バラエティ ホンマでっか！？TV(2026) の配信がTVerで始まりました。
  7/29 21:00まで

  ※ チョコレートの潜在能力

  明石家さんま、井上清華、EXIT、島崎和歌子、ブラックマヨネーズ、磯野貴理子、木村昴、仲里依紗、上原恵理、木原誠太郎、重信初江、松林千宏 らが出演しています

  https://tver.jp/episodes/epbqpp09b6
</p>

<p class="tver">
  バラエティ 磯田道史の歴史をゆく(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 小牧・長久手の戦いの激戦地で家康を救い歴史を変えた悲劇の16歳武将。特別潜入！！空堀の内部。戦に負けて政治に勝った秀吉の官位に関する政治工作。歴史を左右した大地震。

  磯田道史、田中道子 らが出演しています

  https://tver.jp/episodes/epdlupdgm9
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 7話の配信がTVerで始まりました。
  7/29 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epzxxcwbet
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 4話の配信がTVerで始まりました。
  7/30 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、田中哲司、堀内敬子、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/epf0qddyff
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 8話の配信がTVerで始まりました。
  7/29 23:59まで

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未、佐々木希、吉田里琴 らが出演しています

  https://tver.jp/episodes/epbhm3w3as
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、森香澄、村瀬紗英、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、LiLiCo、ニッチェ(江上敬子、近藤くみこ)、小林麗菜、松元絵里花、阿部凜、河内大和、生見愛瑠、NOSUKE(THE JET BOY BANGERZ)、Team"S"pecial、松本実、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/epbd0tsguh
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 4話の配信がTVerで始まりました。
  7/30 23:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、吉田ウーロン太、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、渋江譲二、今里真、森下じんせい、上田遥、浅野和之、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epask1gm3z
</p>

<p class="tver">
  ドラマ 今夜もシリアルキラーと待ち合わせ(2026) 4話の配信がTVerで始まりました。
  7/29 23:00まで

  横山裕(SUPER EIGHT)、関水渚、奥野壮、米倉れいあ、樋口日奈、上田航平、田鍋梨々花、圷智弘、佐河ゆい、戸田昌宏、山崎紘菜 らが出演しています

  https://tver.jp/episodes/eppuue99jo
</p>

<p class="tver">
  ドラマ Tokyo middle 30(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  仲里依紗、のん、深川麻衣、渡辺大知、朝井大智、中島颯太、風間俊介 らが出演しています

  https://tver.jp/episodes/epov7rzl0h
</p>

<p class="tver">
  ドラマ ファーストクライ 母子救命救急班(2026) 3話の配信がTVerで始まりました。
  終了日未記載

  比嘉愛未、松島聡(timelesz)、徳永えり、濱正悟、川西賢志郎、優希美青、遠山俊也、前田敦子、山村紅葉、岡部たかし、真矢ミキ、しゅはまはるみ、並木彩華、夏子、阿南敦子 らが出演しています

  https://tver.jp/episodes/ephyflrbnk
</p>

<p class="tver">
  ドラマ 大追跡～警視庁ＳＳＢＣ強行犯係～(2026・2期) 1話の配信がTVerで始まりました。
  終了日未記載

  大森南朋、相葉雅紀、松下奈緒、伊藤淳史、髙木雄也(Hey! Say! JUMP)、足立梨花、丸山礼、野村康太、光石研、遠藤憲一、佐藤浩市、笠松将、福士誠治、内博貴 らが出演しています

  https://tver.jp/episodes/eps5t1wpwt
</p>

<p class="tver">
  アニメ 落第賢者の学院無双～二度目の転生、Sランクチート魔術師冒険録～(2026) 4話の配信がTVerで始まりました。
  7/30 0:00まで

  梅田修一朗、小山内怜央、白石晴香、東地宏樹、福原綾香、加藤英美里、平川大輔、小山剛志、楠見尚己、伊藤健太郎、福西勝也、岡野浩介、麻生智久、神尾晋一郎、川口莉奈、雨宮天、高橋広樹、関俊彦 らが出演しています

  https://tver.jp/episodes/epkmo8y3b3
</p>

<p class="tver">
  アニメ いびってこない義母と義姉(2026) 2話の配信がTVerで始まりました。
  7/29 23:29まで

  くじら、芹澤優、貫井柚佳、麦穂あんな、大地葉、寺澤百花、七海ひろき、東山奈央、杉山里穂、加隈亜衣、津田美波、根本京里、内山夕実、市道真央 らが出演しています

  https://tver.jp/episodes/eponmmr85o
</p>

<p class="tver">
  アニメ 探偵はもう、死んでいる。(2021) 3話の配信がTVerで始まりました。
  終了日未記載

  長井新、宮下早紀、竹達彩奈、高尾奏音、白砂沙帆、長縄まりあ、松岡禎丞、渕上舞、子安武人 らが出演しています

  https://tver.jp/episodes/epdvl2dden
</p>

<p class="yt">
  大自然の魔獣 バギ 高画質版｜2026/7/18配信｜手塚プロダクション公式チャンネル｜1:24:46
  ※ 2026/9/12 14:00まで。夏休み特別配信

  島津　冴子：バギ
  井上　和彦：リョウ
  鈴木　一輝：チコ
  キートン山田：店長
  片岡　富枝：叔母さん
  富田　耕生：所長
  池田　　勝：サドー大佐
  森　　功至：セメン・ボンド
  藤木　　譲：大統領

  https://youtu.be/sWAfGpnUfzM
</p>

<p class="tver">
  アニメ 正反対な君と僕(2026) 15話の配信がTVerで始まりました。
  7/29 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epi9cz56dg
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 1話の配信がTVerで始まりました。
  終了日未記載

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep1jx8ul5s
</p>

<p class="tver">
  アニメ ダイヤのA actⅡ -Second Season-(2026) 2～3話の配信がTVerで始まりました。
  終了日未記載

  2～3話：https://tver.jp/episodes/epxpkpvbuq
  1話：https://tver.jp/episodes/epdecihrfy

  逢坂良太、島崎信長、櫻井孝宏、内田雄馬、浅沼晋太郎、花江夏樹、武内駿輔、山下大輝、村瀬歩、畠中祐 らが出演しています
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」聖夜決戦編(2023) 35話の配信がTVerで始まりました。
  7/29 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、木村昴、野津山幸宏、河西健吾、小野大輔、土岐隼一、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、小松未可子 らが出演しています

  https://tver.jp/episodes/epkw2o9qeb
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  7/29 12:00まで

  ※ 東京宝塚劇場月組公演「RYOFU」「水晶宮殿」に出演中の美颯りひとさんと薫乃咲月さんをお迎えして出演中の舞台のお話をお伺いします

  中井美穂、立川らく次 らが出演しています

  https://tver.jp/episodes/eplkhs7gd6
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 4話の配信がTVerで始まりました。
  7/29 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、高野洸、小日向ゆか、村方乃々佳、小池唯、大塚ヒロタ、平野貴大、金沢きくこ、坂井真紀、ともさかりえ らが出演しています

  https://tver.jp/episodes/epfbfkqts6
</p>

<p class="tver">
  ドラマ 35歳の高校生(2013) 8～9(最終)話の配信がTVerで始まりました。
  7/29 11:59まで

  米倉涼子、溝端淳平、片瀬那奈、横山めぐみ、升毅、榎木孝明、渡哲也、森川葵 らが出演しています

  https://tver.jp/episodes/eprfivgf10
</p>

<p class="tver">
  ドラマ 貧乏男子 ボンビーメン(2008) 8～9(最終)話の配信がTVerで始まりました。
  7/29 11:59まで

  小栗旬、八嶋智人、山田優、三浦春馬、上地雄輔、音尾琢真、ユースケ・サンタマリア、仲里依紗 らが出演しています

  https://tver.jp/episodes/epom0rw6lu
</p>

<p class="tver">
  ドラマ サバイバル・ウェディング(2018) 8～10(最終)話の配信がTVerで始まりました。
  終了日未記載

  波瑠、吉沢亮、高橋メアリージュン、藤原しおり、前野朋哉、山根和馬、小越勇輝、奈緒、石田ニコル、ついひじ杏奈、風間俊介、須藤理彩、野間口徹、生瀬勝久、財前直見、荒川良々、伊勢谷友介 らが出演しています

  https://tver.jp/episodes/epmusxp5oa
</p>

<p class="tver">
  ドラマ トドメの接吻(2018) 8～9話の配信がTVerで始まりました。
  7/29 11:59まで

  山崎賢人、門脇麦、新田真剣佑、新木優子、佐野勇斗(M!LK)、宮沢氷魚、堀田茜、唐田えりか、山本亜依、志尊淳、菅田将暉 らが出演しています

  https://tver.jp/episodes/ep9y2ik7zn
</p>

<p class="tver">
  ドラマ デスノート(2015) 8～9話の配信がTVerで始まりました。
  7/29 11:59まで

  窪田正孝、山崎賢人、優希美青、佐野ひなこ、藤原令子、関めぐみ、前田公輝、弓削智久、忍成修吾、半海一晃、佐藤二朗、松重豊 らが出演しています

  https://tver.jp/episodes/ep8oyxdcp9
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 11話の配信がTVerで始まりました。
  7/29 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/epgog241v5
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 11話の配信がTVerで始まりました。
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/eps9961p8u
</p>
