---
title: 2026/9/09 のピックアップ
date: 2026-09-09
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 正反対な君と僕(2026) 22話の配信がTVerで始まりました。 24分
  9/16 17:29まで

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/epxlq05irw
</p>

<p class="tver">
  バラエティ 徹子の部屋(2026) の配信がTVerで始まりました。 24分
  9/16 15:00まで
  ※ 戦後80年が過ぎ…故郷 長崎・亡き父を思い

  黒柳徹子、福山雅治 らが出演しています

  https://tver.jp/episodes/epo4i02bhu
</p>

<p class="tver">
  ドラマ セトウツミ(2017) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  高杉真宙、葉山奨之、片山友希、高橋里恩、原西孝幸(FUJIWARA)、森永悠希 らが出演しています

  https://tver.jp/episodes/epmnd7vacz
</p>

<p class="tver">
  ドラマ 今夜すきやきだよ(2023) 9～12(最終)話の配信がTVerで始まりました。 31分
  終了日未記載

  蓮佛美沙子、トリンドル玲奈、鈴木仁、三河悠冴、紺野ぶるま らが出演しています

  https://tver.jp/episodes/epfqby12jp
</p>

<p class="tver">
  ドラマ 法廷のドラゴン(2025) 1～4話の配信がTVerで始まりました。 53分
  終了日未記載

  上白石萌音、高杉真宙、白石麻衣、藤井隆、和久井映見、田辺誠一、小林聡美、松坂慶子、山中崇、水石亜飛夢、續木淳平、柿澤ゆりあ、小松利昌 らが出演しています

  https://tver.jp/episodes/ep2opsi17n
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 71話の配信がTVerで始まりました。 24分
  9/16 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epguemtzxl
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 12話の配信がTVerで始まりました。 24分
  9/16 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep7ihounc2
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 17話の配信がTVerで始まりました。 24分
  9/16 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epx7zqvz99
</p>

<p class="yt">
  アニメ「CODE:BREAKER」8～13話｜2026/9/9配信｜フル☆アニメTV｜2:24:05
  ※ 9/22(火) 23:59まで

  岡本信彦：大神零
  日笠陽子：桜小路桜
  鈴村健一：刻
  木村昴：平家将臣
  豊永利行：天宝院遊騎
  斎賀みつき：八王子泪
  三木眞一郎：人見
  津田健次郎：雪比奈
  ゆかな：藤原寧々音
  中田譲治：藤原総理
  甲斐田裕子：神田
  仙台エリ：あおば
  辻谷耕史：桜小路剛徳
  氷上恭子：桜小路ゆき

  https://youtu.be/W8JUS4GGMeU
</p>

<p class="tver">
  ドキュメンタリー 有働Times(2026) の配信がTVerで始まりました。 33分
  終了日未記載

  ※ 【特別対談】福山雅治の“美学”「役者ロック」と呼ばれ…未公開トークも満載！57歳の同い年・有働が迫る

  福山雅治、有働由美子 らが出演しています

  https://tver.jp/episodes/ep3grvi59y
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。 45分
  9/12 10:29まで

  ※ [再配信] ひんやりシャリシャリ絶品「飲むかき氷」▽夏の沖縄ルーク神写真

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epbcny62mk
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 6話の配信がTVerで始まりました。 30分
  9/16 12:00まで

  水川あさみ、古田新太、佐戸井けん太、柏原収史、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史 らが出演しています

  https://tver.jp/episodes/epsk1bn4zq
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 3話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、阿部亮平(Snow Man)、長井短、結城萌、大西礼芳、筧美和子、徳永えり、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/eprz379vjf
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 3話の配信がTVerで始まりました。 24分
  10/12 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟、金子隼也、めがね、八木響生、紺野まひる らが出演しています

  https://tver.jp/episodes/eprlox9yuu
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 3話の配信がTVerで始まりました。 44分
  10/12 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、市川知宏、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平 らが出演しています

  https://tver.jp/episodes/epehrokt3i
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 3話の配信がTVerで始まりました。 43分
  9/16 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/epanl8zbq7
</p>

<p class="tver">
  ドラマ 物産展の女～高崎編～(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  平祐奈、山口紗弥加、杢代和人(原因は自分にある。)、大友花恋、湯江タケユキ、すみぽん らが出演しています

  https://tver.jp/episodes/epfpltmowy
</p>

<p class="tver">
  ドラマ 物産展の女～宮崎編～(2025) 1～2(前後編)話の配信がTVerで始まりました。 25分
  終了日未記載

  平祐奈、山口紗弥加、杢代和人(原因は自分にある。)、奥野瑛太、温水洋一、やす(ずん) らが出演しています

  https://tver.jp/episodes/epwwpsp49o
</p>

<p class="tver">
  ドラマ あなたのことはそれほど(2017) 6話の配信がTVerで始まりました。 45分
  9/15 11:59まで

  波瑠、東出昌大、仲里依紗、鈴木伸之、大政絢、中川翔子、黒川智花、清水ミチコ、山田真歩、山崎育三郎、橋本じゅん、麻生祐未 らが出演しています

  https://tver.jp/episodes/epzz0moipm
</p>

<p class="tver">
  ドラマ 幸せになりたい!(2005) 7話の配信がTVerで始まりました。 47分
  9/16 11:59まで

  深田恭子、松下由樹、谷原章介、鶴見辰吾、伊藤かずえ、佐渡稔、忍成修吾、田中要次、森下能幸、篠田拓馬、綾部守人、滝沢沙織、あめくみちこ、銀粉蝶、酒井敏也、佐戸井けん太、遠山俊也、山村美智、伊原剛志、津川雅彦 らが出演しています

  https://tver.jp/episodes/epzswhp1p9
</p>

<p class="tver">
  ドラマ サマーレスキュー～天空の診療所～(2012) 7話の配信がTVerで始まりました。 47分
  9/16 11:59まで

  向井理、尾野真千子、小池栄子、三浦理恵子、山崎樹範、市川由衣、菅田将暉、小澤亮太、のん、本田望結、前田公輝、折山みゆ、笹野高史、長谷川朝晴、松井範雄、佐藤二朗、松重豊、時任三郎 らが出演しています

  https://tver.jp/episodes/epykp3rf9b
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 6話の配信がTVerで始まりました。 47分
  9/15 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、光石研、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epmoydfr7z
</p>

<p class="tver">
  ドラマ まっしろ(2015) 6話の配信がTVerで始まりました。 47分
  9/15 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、細田善彦、松山メアリ、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/epkvkymjnd
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 6～7話の配信がTVerで始まりました。 46分
  9/15 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、畑芽育、辻本達規、たにてひと、工藤俊二、丘みつ子、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epxm2awb9y
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 7話の配信がTVerで始まりました。 45分
  9/15 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、高橋洋、葉山奨之、真野恵里菜、宇梶剛士、富田靖子、小貫加恵、伊藤真奈美、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ephmdgl25t
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 6話の配信がTVerで始まりました。 56分
  9/15 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、佐藤蛾次郎、芦名星、石橋杏奈、森岡龍、坪倉由幸(我が家)、山谷初男、吉見一豊、シャカ大熊、鈴木亮平、武田鉄矢、大島さと子、日野陽仁、加藤雅也、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/epg3z5r6ig
</p>

<p class="tver">
  ドラマ リバース(2017) 7話の配信がTVerで始まりました。 46分
  9/16 11:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、門脇麦、市原隼人、YOU、志賀廣太郎、村井國夫、山崎銀之丞、趣里、山口まゆ、藤本泉、夏菜、尾上寛之、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epeul22dy5
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 8話の配信がTVerで始まりました。 47分
  9/13 11:59まで

  神木隆之介、杉咲花、池田エライザ、清水尋也、中嶋朋子、映美くらら、赤間麻里子、谷川昭一朗、前原瑞樹、桜井聖、宮崎吐夢、内藤秀一郎、西垣匠、豆原一成(JO1)、片岡凜、安斉星来、酒向芳、片桐はいり、國村隼、尾美としのり、美保純、土屋太鳳、宮本信子 らが出演しています

  https://tver.jp/episodes/epav0pr2y9
</p>

<p class="tver">
  ドラマ ブラックペアン(2024・2期) 6～7話の配信がTVerで始まりました。 60分
  9/15 11:59まで

  二宮和也、竹内涼真、キム・ムジュン、内村遥、今野浩喜、森田甘路、ヤマダユウスケ、松川尚瑠輝、水谷果穂、原アンナ、丸一太、渋江譲二、ドロンズ石本、田中みな実、瀧内公美、池田鉄洋、三石琴乃、堺正章、趣里、神野三鈴、橋本さとし、段田安則、小泉孝太郎、内野聖陽 らが出演しています

  https://tver.jp/episodes/ep5shp824o
</p>

<p class="tver">
  ドラマ タンブリング(2010) 8～9話の配信がTVerで始まりました。 50分
  終了日未記載

  山本裕典、瀬戸康史、三浦翔平、大東駿介、西島隆弘、冨浦智嗣、柳下大、賀来賢人、タモト清嵐、岡本あずさ、岡本玲、伊阪達也、佐野和真、小林すすむ、近江谷太朗、三上市朗、音尾琢真、趙民和、国仲涼子、加藤雅也、佐藤二朗、AKIRA(EXILE)、大塚寧々 らが出演しています

  https://tver.jp/episodes/ep7nh15ncb
</p>

<p class="tver">
  ドラマ 僕らは恋がヘタすぎる(2020) の配信がTVerで始まりました。 24分
  終了日未記載

  川島海荷、白洲迅、浅川梨奈、嶋﨑斗亜(Lilかんさい)、野呂佳代、塩野瑛久 らが出演しています

  https://tver.jp/episodes/epyat7sluw
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 13話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epdak5jlbg
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 70話の配信がTVerで始まりました。 24分
  9/16 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epk25zbwia
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 2話の配信がTVerで始まりました。 25分
  9/16 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epyfvb0ds2
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 32話の配信がTVerで始まりました。 24分
  9/16 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/ep62ur04ie
</p>

<p class="tver">
  アニメ ガラスの仮面(1984) 18話の配信がTVerで始まりました。 25分
  終了日未記載

  勝生真沙子、松島みのり、野沢那智、中西妙子、北浜晴子 らが出演しています

  https://tver.jp/episodes/ep0v2ukbgb
</p>

<p class="tver">
  アニメ フリップフラッパーズ(2016) 2話の配信がTVerで始まりました。 24分
  9/16 8:00まで

  市道真央、高橋ミナミ、大橋彩香、津田健次郎、井上沙香、歳納愛梨、福島潤、日笠陽子、興津和幸、村瀬迪与、大西沙織、久保田民絵 らが出演しています

  https://tver.jp/episodes/epdn5igzlq
</p>
