---
title: 2026/9/14 のピックアップ
date: 2026-09-14
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。 53分
  9/21 15:00まで

  ※ 山口県の深い山奥の一軒家へと嫁いだ女性の波乱に満ちた人生とは――。過酷な夫婦の物語は、ド迫力オフロード映像へとまさかの急展開！？

  所ジョージ、林修、山本彩、てぃ先生 らが出演しています

  https://tver.jp/episodes/ep2m29f4is
</p>

<p class="tver">
  バラエティ ナニコレ珍百景(2026) の配信がTVerで始まりました。 45分
  9/21 18:00まで

  ※ 伊豆半島の先っちょで発見！謎の建造物＆会社名が不思議な珍百景

  劇団ひとり、出口夏希、蒔田彩珠、ネプチューン(名倉潤、原田泰造、堀内健)、斎藤ちはる らが出演しています

  https://tver.jp/episodes/ep0e738tqv
</p>

<p class="tver">
  ドラマ ワカコ酒(2019・4期) 8話の配信がTVerで始まりました。 24分
  終了日未記載

  武田梨奈、山田キヌヲ、渡部瑞貴、しおつかこうへい、政修二郎、九十九一、久ヶ沢徹 らが出演しています

  https://tver.jp/episodes/epg0r7d78b
</p>

<p class="tver">
  ドラマ コタキ兄弟と四苦八苦(2020) 5～8話の配信がTVerで始まりました。 30分
  終了日未記載

  古舘寛治、滝藤賢一、芳根京子、宮藤官九郎 らが出演しています

  https://tver.jp/episodes/ep3v3lz0su
</p>

<p class="tver">
  ドラマ ごほうびごはん(2021) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  桜井日奈子、岡崎紗絵、相原未来、吉田ウーロン太、きづき、中尾萌那、古川雄輝 らが出演しています

  https://tver.jp/episodes/ep3zlit9nd
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 17話の配信がTVerで始まりました。 24分
  9/21 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epq35u6l3u
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 81話の配信がTVerで始まりました。 24分
  9/21 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ephr5t8km7
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 22話の配信がTVerで始まりました。 24分
  9/21 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epe3jxph6e
</p>

<p class="yt">
  森七菜ちゃんと鈴鹿央士くんと唐揚げ作ってゴイゴイスー!｜2026/9/5配信｜ダイアン津田のゴイゴイスーチャンネル｜35:29
  ※ 映画『藁にもすがる獣たち』に出演する、鈴鹿央士くんと森七菜ちゃんが津田のYouTubeに出てくれました！

  津田篤宏(ダイアン)、鈴鹿央士、森七菜 らが出演しています

  https://youtu.be/W-2yA2E81K4
</p>

<p class="tver">
  ドラマ VISION 殺しが見える女(2012) 6話の配信がTVerで始まりました。 30分
  9/28 12:00まで

  山田優、金子ノブアキ、勝村政信、酒井敏也 らが出演しています

  https://tver.jp/episodes/epsn2jtdyq
</p>

<p class="tver">
  ドラマ リセット(2009) 6話の配信がTVerで始まりました。 31分
  9/28 12:00まで

  田中直樹(ココリコ)、藤本美貴、黒坂真美、増子倭文江 らが出演しています

  https://tver.jp/episodes/epom7w27up
</p>

<p class="tver">
  ドラマ 増山超能力師事務所(2017) 6話の配信がTVerで始まりました。 44分
  9/28 12:00まで

  田中直樹(ココリコ)、浅香航大、中村ゆり、柄本時生、平田敦子、忍成修吾、ルウト、芦名星、六平直政、鹿賀丈史、内田未来、中島ひろ子、小野寺大夢 らが出演しています

  https://tver.jp/episodes/epgh3idiwe
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 9話の配信がTVerで始まりました。 44分
  9/28 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、金剛地武志、大沢ひかる、遊井亮子、野波麻帆、寺脇康文 らが出演しています

  https://tver.jp/episodes/ep3liiar16
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 7～8話の配信がTVerで始まりました。 47分
  9/20 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、重田尚彦、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epzk4rhoov
</p>

<p class="tver">
  ドラマ カンナさーん!(2017) 4話の配信がTVerで始まりました。 45分
  9/22 11:59まで

  渡辺直美、要潤、山口紗弥加、工藤阿須加、トリンドル玲奈、じろう(シソンヌ)、川原瑛都、泉里香、加藤雅也、遠山俊也、朝加真由美、斉藤由貴 らが出演しています

  https://tver.jp/episodes/epusmy942k
</p>

<p class="tver">
  ドラマ ＤＣＵ(2022) 3話の配信がTVerで始まりました。 60分
  9/22 11:59まで

  阿部寛、横浜流星、中村アン、山崎育三郎、趣里、岡崎体育、ゆうき(土佐兄弟)、高橋颯、吉田涼哉、エレナアレジ 後藤、フェルナンデス直行、野添義弘、大石継太、高橋光臣、佃典彦、市川実日子 らが出演しています

  https://tver.jp/episodes/eptkt0qvfj
</p>

<p class="tver">
  ドラマ 小さな巨人(2017) 5話の配信がTVerで始まりました。 47分
  9/23 11:59まで

  長谷川博己、岡田将生、芳根京子、安田顕、駿河太郎、手塚とおる、神尾佑、竜星涼、加治将樹、丸一太、夏緒、加藤晴彦、佐々木希、長江英和、富永沙織、内村遥、佐藤裕、吉田羊、桂文枝、市川実日子、堀尾正明、高橋光臣、木場勝己、児嶋一哉(アンジャッシュ)、三田佳子、春風亭昇太、香川照之 らが出演しています

  https://tver.jp/episodes/eppf4adkvg
</p>

<p class="tver">
  ドラマ アンナチュラル(2018) 4話の配信がTVerで始まりました。 46分
  9/22 11:59まで

  石原さとみ、井浦新、窪田正孝、市川実日子、池田鉄洋、竜星涼、小笠原海(超特急)、橋本真実、戸田菜穂、坪倉由幸(我が家)、春海四方、薬師丸ひろ子、松重豊 らが出演しています

  https://tver.jp/episodes/epo074d137
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 7話の配信がTVerで始まりました。 46分
  9/20 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、マギー、阿南敦子、山野海、六平直政、津田健次郎、青木一平、増岡裕子、天野優、今井優希、良原安美、ファーストサマーウイカ、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epka35fneg
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 10(最終)話の配信がTVerで始まりました。 52分
  9/18 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、宮崎吐夢、豆原一成(JO1)、西垣匠、栄信、坂田聡、赤間麻里子、谷川昭一朗、前原瑞樹、棚橋ナッツ、中村シユン、池下重大、中嶋朋子、酒向芳、さだまさし、麻生祐未、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/ep806z4cgv
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 8話の配信がTVerで始まりました。 45分
  9/20 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、真野恵里菜、成田凌、山賀琴子、横田栄司、高橋洋、葉山奨之、佐々木一平、清水優、青木綾平、奥田こころ、高橋ひとみ、細田善彦、高山侑子、宇梶剛士、富田靖子、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep6lulf118
</p>

<p class="tver">
  ドラマ ジョシデカ!-女子刑事-(2007) 5話の配信がTVerで始まりました。 46分
  9/23 11:59まで

  仲間由紀恵、リュ・シウォン、大倉孝二、吉瀬美智子、田中哲司、大浦龍宇一、金子昇、デビット伊東、宮地雅子、鈴木理子、益岡徹、片平なぎさ、泉ピン子 らが出演しています

  https://tver.jp/episodes/ep3ghuvzv5
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 16話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epup5zriab
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 80話の配信がTVerで始まりました。 24分
  9/21 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep3gbkusmz
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 7話の配信がTVerで始まりました。 25分
  9/21 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epqmrg3xoc
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 37話の配信がTVerで始まりました。 24分
  9/21 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epnsh7c4a0
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 7話の配信がTVerで始まりました。 23分
  終了日未記載

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/epkd4vbqb0
</p>
