---
title: 2026/8/11 のピックアップ
date: 2026-08-11
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ 悟空の大冒険 17～20話｜2026/8/11配信｜手塚プロダクション公式チャンネル｜1:44:50
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/T_sh6I62Cd8
</p>

<p class="yt">
  サグラダ・ファミリアが完成すると何が起こるのか?｜2026/8/9配信｜VAIENCE バイエンス｜11:10

  鈴村一也(ナレーション) らが出演しています

  https://youtu.be/PIt6ZcXkzj4
</p>

<p class="tver">
  アニメ 「きみを愛する気はない」と言った次期公爵様がなぜか溺愛してきます(2026) 6話の配信がTVerで始まりました。
  8/19 1:59まで

  石川由依、斉藤壮馬、石川界人、安済知佳、山村響、榎木淳弥、木村良平、鈴木崚汰、浪川大輔、國府田マリ子、田村真、内田真礼 らが出演しています

  https://tver.jp/episodes/epm62xnv60
</p>

<p class="tver">
  アニメ 天は赤い河のほとり(2026) 6話の配信がTVerで始まりました。
  8/19 1:34まで

  橘美來、加藤渉、内田彩、千葉翔也、前野智昭、遊佐浩二、大野智敬、青木志貴、川井田夏海、松岡美里、石谷春貴、榎木淳弥、神尾晋一郎、鳥海浩輔、七海ひろき らが出演しています

  https://tver.jp/episodes/ep5htb8pyw
</p>

<p class="tver">
  アニメ BanG Dream! It's MyGO!!!!!(2023) 6話の配信がTVerで始まりました。
  8/19 2:04まで

  羊宮妃那、立石凛、青木陽菜、小日向美香、林鼓子 らが出演しています

  https://tver.jp/episodes/ep5wonlkxd
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 8話の配信がTVerで始まりました。
  8/19 2:22まで

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/epl3v0vh5v
</p>

<p class="tver">
  ドラマ スピナーベイト(2026) 7話の配信がTVerで始まりました。
  8/19 2:25まで

  加藤清史郎、駿河太郎、萩原護、南琴奈、奥野壮、高橋侃、吉田晴登、吉澤要人(原因は自分にある。)、伊藤あさひ、仲野温、吉村界人、山中聡、中村梅雀 らが出演しています

  https://tver.jp/episodes/epqy5x274o
</p>

<p class="tver">
  ドラマ ペンション・恋は桃色(2024・2期) 5話の配信がTVerで始まりました。
  8/19 1:24まで

  リリー・フランキー、斎藤工、伊藤沙莉、山口智子、関智一、剛力彩芽、JOY、益子卓郎(U字工事)、眉村ちあき、大水洋介(ラバーガール)、浦まゆ、有沢雪、西谷麻糸呂、速水今日子、辻凪子 らが出演しています

  https://tver.jp/episodes/epehw143jp
</p>

<p class="tver">
  ドラマ 幸せになりたいマサムネ君(2026) 6話の配信がTVerで始まりました。
  8/19 1:55まで

  中沢元紀、秋田汐梨、齊藤なぎさ、簡秀吉、前原滉 らが出演しています

  https://tver.jp/episodes/epzgem0u4k
</p>

<p class="tver">
  バラエティ オモウマい店(2026) の配信がTVerで始まりました。
  8/18 18:59まで

  ※ 三つ星出身！！スターシェフの１００種超えイタリアンコース

  ヒロミ、小峠英二(バイきんぐ)、飯尾和樹(ずん)、オカダ・カズチカ、牧野真莉愛 らが出演しています

  https://tver.jp/episodes/epif9nlnz5
</p>

<p class="tver">
  バラエティ THE神業チャレンジ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ くら寿司！売上対決＆鈴木亮平VS神職人＆松尾VS神クレーン。「神業フェイク」鈴木亮平＆賀来賢人＆菜々緒＆仲里依紗が参戦

  チョコレートプラネット(長田庄平、松尾駿)、梅沢富美男、河合郁人、佐藤栞里、陣内智則、和田明日香、奥田修二(ガクテンソク)、鈴木亮平、賀来賢人、菜々緒、仲里依紗 らが出演しています

  https://tver.jp/episodes/ep9bps9iqv
</p>

<p class="tver">
  バラエティ ドリフに大挑戦(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 真夏の小学校で大爆笑SP

  加藤茶、高木ブー、あばれる君、春日俊彰(オードリー)、狩野英孝、CANDY TUNE、劇団ひとり、澤部佑(ハライチ)、柴田英嗣(アンタッチャブル)、白鳥久美子(たんぽぽ)、高城れに(ももいろクローバーZ)、田中卓志(アンガールズ)、津田篤宏(ダイアン)、なかやまきんに君、永尾柚乃、長浜広奈、HIKAKIN、肥後克広(ダチョウ倶楽部)、横川尚隆 らが出演しています

  https://tver.jp/episodes/epp222njsa
</p>

<p class="tver">
  バラエティ 踊る！さんま御殿!!(2026) の配信がTVerで始まりました。
  8/18 19:59まで

  ※ 大家族SP緊急参戦!森保監督3人息子を海で説教!?M!LK塩﨑暴走で滅

  明石家さんま、あんり(ぼる塾)、漆山海音、遠藤久美子、塩﨑太智(M!LK)、城田優、橋下徹、HISAKO、松本薫、村重杏奈、森保一、森保翔平、森保圭悟、森保陸 らが出演しています

  https://tver.jp/episodes/epvgenmpl1
</p>

<p class="tver">
  バラエティ ザ！世界仰天ニュース(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 日本人に最大1400万人!気づかない骨の異常で女子が脚切断の恐怖

  笑福亭鶴瓶、松島聡(timelesz)、河合紫乃、ハライチ、本田望結、八木勇征、杉原凜 らが出演しています

  https://tver.jp/episodes/ep8m8xwd3q
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  8/18 22:00まで

  ※ キテレツ猪狩スパイ初参戦！珍回答連発に村重ブチギレ

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、猪狩蒼弥(KEY TO LIT)、村重杏奈 らが出演しています

  https://tver.jp/episodes/ep9p5liikl
</p>

<p class="tver">
  バラエティ 地球まるごと大実験 ネイチャーティーチャー(2026) の配信がTVerで始まりました。
  8/18 23:55まで

  ※ 後半戦！チョコプラ・timeleszが「衝撃吸収材なら、バラエティ罰ゲームをノーリアクションでこなせるのか？！」に挑む！

  チョコレートプラネット(長田庄平、松尾駿)、timelesz(原嘉孝、篠塚大輝) らが出演しています

  https://tver.jp/episodes/ep2ue3x9ol
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  8/18 23:58まで

  ※ 自宅への侵入や盗聴…アイドル&アナウンサー時代のストーカー恐怖体験と対策

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、児嶋一哉(アンジャッシュ)、内田恭子、京師美佳、橋本マナミ、増田有華 らが出演しています

  https://tver.jp/episodes/epl222a1bb
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。
  8/19 0:25まで

  ※ 先輩に可愛がってもらうにはどうすればいい？

  Aぇ! group、立川志らく らが出演しています

  https://tver.jp/episodes/epx81pzz0p
</p>

<p class="tver">
  バラエティ 夜の音 -TOKYO MIDNIGHT MUSIC-(2026) の配信がTVerで始まりました。
  8/19 0:23まで

  ※ SEKAI NO OWARIのフロントマンFukaseが登場

  菊池風磨(timelesz)、畑芽育、Fukase、SEKAI NO OWARI らが出演しています

  https://tver.jp/episodes/ep0iv4bgoa
</p>

<p class="tver">
  バラエティ ととのいとりっぷ(2026) 3回の配信がTVerで始まりました。
  終了日未記載

  ※ 岡崎紗絵が“川の水風呂”初体験　夏休みの渓流サウナで、ととのう

  岡崎紗絵、片桐仁 らが出演しています

  https://tver.jp/episodes/ep9ol383ci
</p>

<p class="tver">
  ドラマ コントラスト(2026) 7話の配信がTVerで始まりました。
  8/19 0:55まで

  井内悠陽、阿久根温世(ICEx)、冨里奈央、HAYATO、樫又龍ノ介、中山ひなの、大倉琉人、米尾賢人、中山翔貴、井上想良 らが出演しています

  https://tver.jp/episodes/epc4sjxxne
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 9話の配信がTVerで始まりました。
  8/19 23:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、田中将大、きょん(コットン)、吉田ウーロン太、中村シユン、山本浩貴、新浜レオン、番家天嵩、伊達さゆり、今里真、森下じんせい、井上拓哉、柳谷参助、中山翔貴、青山俊雄、羽谷勝太、清谷春瑠、井上遥乃、瀬名陽斗、成瀬充稀、松崎優輝、内山智貴、片山幸人、やす(ずん)、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/epppc7e1o3
</p>

<p class="tver">
  ドラマ ラストクリスマス(2004) 4話の配信がTVerで始まりました。
  8/18 23:59まで

  織田裕二、矢田亜希子、玉木宏、森山未來、片瀬那奈、MEGUMI、田丸麻紀、坂下千里子、りょう、桜井幸子、伊原剛志、加賀まりこ、児玉清 らが出演しています

  https://tver.jp/episodes/epj6nbjcjq
</p>

<p class="tver">
  ドラマSP 西村京太郎 トラベルミステリー(2015) 64～67話の配信がTVerで始まりました。
  終了日未記載

  高橋英樹、高田純次、とよた真帆、田中健、大浦龍宇一、遊井亮子、佐戸井けん太、朝倉あき、森本レオ、宇梶剛士、山村紅葉、春田純一、湯江タケユキ らが出演しています

  https://tver.jp/episodes/epf2bc75wb
</p>

<p class="tver">
  ドラマ 夜行観覧車(2013) 9話の配信がTVerで始まりました。
  8/19 23:59まで

  鈴木京香、石田ゆり子、宮迫博之、安田章大(SUPER EIGHT)、杉咲花、宮崎香蓮、中川大志、南圭介、吉川愛、田中哲司、堀内敬子、夏木マリ、高橋克典 らが出演しています

  https://tver.jp/episodes/ep3z3cge60
</p>

<p class="tver">
  ドラマ DREAM STAGE(2026) 8話の配信がTVerで始まりました。
  8/19 23:59まで

  中村倫也、池田エライザ、ハ・ヨンス、NAZE(カイセイ、ユンギ、アト、ターン、ユウヤ、キムゴン、ドヒョク)、岩瀬洋志、森香澄、村瀬紗英、志賀李玖(ICEx)、HOJIN、KAJA、松瀬太虹、ISAAC、原因は自分にある。(大倉空人、小泉光咲、長野凌大、桜木雅哉)、河内大和、要潤、キム・ジェギョン、イ・イギョン らが出演しています

  https://tver.jp/episodes/ep2j0j5etl
</p>

<p class="tver">
  ドラマ 君の好きは無敵(2026) 5話の配信がTVerで始まりました。
  8/18 21:59まで

  松本若菜、佐野勇斗(M!LK)、小野花梨、金田哲(はんにゃ.)、白本彩奈、川崎健太、武田真治、杉浦太陽、菅井友香、正名僕蔵、島崎和歌子、藤井隆、あの、高嶋政伸、本郷奏多 らが出演しています

  https://tver.jp/episodes/eplakzvhqu
</p>

<p class="tver">
  ドラマ クロスロード ～救命救急の約束～(2026) 6話の配信がTVerで始まりました。
  8/18 21:54まで

  今田美桜、磯村勇斗、寛一郎、泉澤祐希、小雪、戸次重幸、船越英一郎 らが出演しています

  https://tver.jp/episodes/epdsv5ss26
</p>

<p class="tver">
  ドラマ さよならノワール(2026) 6話の配信がTVerで始まりました。
  8/18 21:00まで

  小池栄子、北香那、岡山天音、荒川良々、味方良介、濱尾ノリタカ、眞島秀和、戸田恵子、渡部篤郎、恒松祐里、唐木俊輔、原ふき子、犬塚マサオ らが出演しています

  https://tver.jp/episodes/ep802izfa8
</p>

<p class="tver">
  アニメ 魔法少女リリカルなのは EXCEEDS Gun Blaze Vengeance(2026) 6話の配信がTVerで始まりました。
  8/19 0:59まで

  橘杏咲、日高里菜、田村ゆかり、水樹奈々、植田佳奈、ゆかな、結川あさき、千春、小林愛香、伊藤彩沙、青木陽菜、上坂すみれ らが出演しています

  https://tver.jp/episodes/epmzh5p1hp
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 89話の配信がTVerで始まりました。
  8/14 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/ephu8819lz
</p>

<p class="tver">
  アニメ 岩元先輩ノ推薦(2026) 6話の配信がTVerで始まりました。
  8/18 23:00まで

  坂泰斗、榊原優希、伊東健人、石田彰、福西勝也、永塚拓馬、佐藤元、徳留慎乃佑 らが出演しています

  https://tver.jp/episodes/epm02j21xm
</p>

<p class="tver">
  アニメ 令和のダラさん(2026) 6話の配信がTVerで始まりました。
  8/18 22:00まで

  田村睦心、津田美波、寺澤百花、古賀葵、杉田智和、相沢舞、早見沙織、大塚芳忠、てらそままさき らが出演しています

  https://tver.jp/episodes/epf9j5ntlj
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中Ⅱ(2026) 5話の配信がTVerで始まりました。
  8/18 20:00まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、関俊彦、小野賢章、上田瞳、諏訪部順一、赤羽根健治、岩田光央、四宮豪、江口拓也、大久保瑠美、鳥海浩輔、皆口裕子、中博史、竹内良太、濱健人、大西沙織、山根綺、逢田梨香子、河西健吾、白石稔、石田彰 らが出演しています

  https://tver.jp/episodes/epngg32aev
</p>

<p class="tver">
  アニメ 劇場版 魔法少女まどか☆マギカ［新編］叛逆の物語(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 【狩野英孝解説付き】 Part 2

  悠木碧、斎藤千和、水橋かおり、喜多村英梨、野中藍、加藤英美里、阿澄佳奈、狩野英孝 らが出演しています

  https://tver.jp/episodes/epxzwdj39o
</p>

<p class="tver">
  アニメ ウルトラマン80（HDリマスター版）(1980) 28話の配信がTVerで始まりました。
  8/18 19:00まで

  長谷川初範、中山仁、石田えり、大門正明、佐原健二 らが出演しています

  https://tver.jp/episodes/ep0p2l9dcj
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 154～156話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/epervot4qk
</p>

<p class="yt">
  アニメ 悟空の大冒険 13～16話｜2026/8/6配信｜手塚プロダクション公式チャンネル｜1:44:37
  ※ 2026/9/20 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/DCMqLPBaVqo
</p>

<p class="yt">
  アニメ 三つ目がとおる 45～48話｜2026/7/31配信｜手塚プロダクション公式チャンネル｜1:38:25
  ※ 2026/8/25 14:00まで

  伊倉　一恵：写楽保介
  松井菜桜子：和登千代子
  嶋　　俊介：犬持
  緒方　賢一：ヒゲオヤジ
  田野　恵　：オサム
  速水　奨　：鬼胴

  https://youtu.be/FuSvdJOo30c
</p>

<p class="yt">
  アニメ「ひぐらしのなく頃に解」1～24話｜2026/8/11配信｜アニメタイムズ公式｜9:46:40
  ※ 2026/8/18(火) 16:59まで

  保志総一朗：前原圭一
  中原　麻衣：竜宮レナ
  雪野　五月：園崎魅音・詩音
  かないみか：北条沙都子
  田村ゆかり：古手梨花
  堀江　由衣：羽入
  　　茶風林：大石蔵人
  大川　透：富竹ジロウ
  伊藤　美紀：鷹野三四
  関　俊彦：入江京介
  折笠富美子：知恵留美子

  https://youtu.be/qK-O6Byf5E4
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 3回の配信がTVerで始まりました。
  終了日未記載

  ※ 野崎は敵か！味方か！？衝撃の裏切りに山本、ワニズ、ゴビが大混乱！

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/epry0n9d6n
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 7話の配信がTVerで始まりました。
  8/18 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ephoi1yhfe
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 17話の配信がTVerで始まりました。
  8/18 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ephc7uggxh
</p>

<p class="tver">
  アニメ 忘却バッテリー(2024) 10～12(最終)話の配信がTVerで始まりました。
  終了日未記載

  増田俊樹、宮野真守、阿座上洋平、島崎信長、梶裕貴、山谷祥生、大塚剛央、石井マーク、河西健吾 らが出演しています

  https://tver.jp/episodes/ep22re2x9y
</p>

<p class="tver">
  バラエティ 日経スペシャル「最新技術で経済が動く！クイズＸ年後の当たり前」(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ３Ｄプリンターで家や神経が作れる!?▼進化する人型ロボ

  劇団ひとり、小手伸也、菅田愛貴(超ときめき♡宣伝部)、種田共孝 らが出演しています

  https://tver.jp/episodes/ep1z8lz3l4
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/18 12:00まで

  ※ 東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演中。宙組の鷹翔千空さんです

  中井美穂、鷹翔千空、立川らく次 らが出演しています

  https://tver.jp/episodes/epfp4s7jis
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、長野里美、烏丸せつこ、津田寛治、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/ep672w6zp4
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 12(最終)話の配信がTVerで始まりました。
  8/17 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、梶原善、天野慶久、鈴木亮平、篠田三郎、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep2jvbt87z
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 6話の配信がTVerで始まりました。
  8/18 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/ep155m8w5k
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2023) 3話の配信がTVerで始まりました。
  8/18 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epzvd58f89
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 6話の配信がTVerで始まりました。
  8/18 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ep5e74x59w
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 1話の配信がTVerで始まりました。
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epek9fqeo1
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 6話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/ep6zivrjwp
</p>
