---
title: 2026/6/10 のピックアップ
date: 2026-06-10
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  アニメ 正反対な君と僕(2026) 10話の配信がTVerで始まりました。
  終了日未記載

  鈴代紗弓、坂田将吾、谷口夢奈、島袋美由利、加藤渉、大森こころ、楠木ともり らが出演しています

  https://tver.jp/episodes/ep32u6577b
</p>
