---
title: 2026/9/29 のピックアップ
date: 2026-09-29
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドキュメンタリー ザ・ドキュメンタリー(2026) の配信がTVerで始まりました。 26分
  終了日未記載

  ※ いったい名古屋城の復元は、誰のために、何のために行われるのか

  岡田愛マリー らが出演しています

  https://tver.jp/episodes/epj33cefre
</p>

<p class="yt">
  齊藤京子&ヒコロヒーの料理の歴史/日向坂46時代の料理苦手な京子/「オムライス」「グラタン」に初挑戦/初タッグ料理「パエリア」/独自スタイルでシェフ困惑｜2026/9/21配信｜動画｜28:28
※ 齊藤京子とヒコロヒーの「リョウリのレキシ」を振り返る。今やお菓子作りが趣味の齊藤京子の料理苦手時代、京子&ヒコロヒー初めてのタッグ料理「パエリア」懐かしの思い出を約３０分たっぷり振り返る

  ヒコロヒー、齊藤京子 らが出演しています

  https://youtu.be/5mogvdSpHXY
</p>

<p class="yt">
  競輪場を食い尽くせ!ギャンブル飯inたちかわ競輪場｜2026/9/29配信｜タイムマシーン3号Official YouTube Channel｜27:51

  タイムマシーン3号 らが出演しています

  https://youtu.be/cXY7QOzvXYA
</p>

<p class="tver">
  ドキュメンタリー テッパン朝ライブ じゅーっと！(2026) の配信がTVerで始まりました。 8分
  10/6 17:59まで

  ※ 【関西ぶっとび中継】～兵庫・養父市編～これが本場の但馬牛！最高級ヒレステーキにNMB48平山真衣が大興奮！

  平山真衣(NMB48) らが出演しています

  https://tver.jp/episodes/epaccrfunr
</p>

<p class="tver">
  バラエティ 関西人１万人の知恵で乗り切れ！これでええねん！(2026) の配信がTVerで始まりました。 40分
  終了日未記載

  ※ 西川貴教×フット後藤のMC初タッグ番組第２弾！メッセンジャー黒田のお悩みを関西人・総勢１万人が解決します。

  フットボールアワー(後藤輝基、岩尾望)、西川貴教、千秋、黒田有(メッセンジャー) らが出演しています

  https://tver.jp/episodes/ep696cnktm
</p>

<p class="tver">
  バラエティ リーダーズサーチ 街でウワサの匠さん(2026) の配信がTVerで始まりました。 47分
  終了日未記載

  ※ 地名から紐解く東京の歴史の匠さんを大調査！

  城島茂、武内絵美 らが出演しています

  https://tver.jp/episodes/eplk041t8l
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。 107分
  終了日未記載

  ※ 【綾瀬はるか】が帰れマンデー初参戦！さまぁ～ず三村＆ハリセンボン春菜とグルメ自販機巡りの旅！

  富澤たけし(サンドウィッチマン)、綾瀬はるか、三村マサカズ、さまぁ〜ず、近藤春菜(ハリセンボン) らが出演しています

  https://tver.jp/episodes/epjdlvljaf
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。 24分
  10/6 1:16まで

  ※ イグ・ノーベル賞！さらなる衝撃研究を一挙紹介！

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、古澤輝由、馬渕清資、宮下芳明、カズレーザー(メイプル超合金) らが出演しています

  https://tver.jp/episodes/ep2gkod1na
</p>

<p class="tver">
  バラエティ クイズ！イケメンパラダイス(2026) の配信がTVerで始まりました。 99分
  終了日未記載

  ※ トラジャ松倉キテレツ佐々木！超常識クイズ対決

  山里亮太(南海キャンディーズ)、Travis Japan(松倉海斗、吉澤閑也)、河合郁人、佐々木大光(KEY TO LIT)、とにかく明るい安村、新山(さや香)、井上裕介(NON STYLE)、栗谷(カカロニ)、Den(リンダカラー∞)、砂田将宏(BALLISTIK BOYZ)、長谷川雅紀(錦鯉)、中林登生 らが出演しています

  https://tver.jp/episodes/eprdutczzs
</p>

<p class="tver">
  バラエティ 踊る！さんま御殿!!(2026) の配信がTVerで始まりました。 51分
  10/6 19:59まで

  ※ フィギュアスケーター11名集結!坂本花織(秘)ピンチ&浅田姉妹ライバル心

  明石家さんま、浅田舞、織田信成、紀平梨花、坂本花織、高橋成美、中田璃士、中野友加里、樋口新葉、村上佳菜子、無良崇人、宮本賢二、王林、竹内由恵 らが出演しています

  https://tver.jp/episodes/epwoudv5ll
</p>

<p class="tver">
  バラエティ ザ！世界仰天ニュース(2026) の配信がTVerで始まりました。 45分
  10/6 20:59まで

  ※ 何を信じれば…?勝手に財産を使い込む社会的信頼ある人の裏切り

  笑福亭鶴瓶、松島聡(timelesz)、久本雅美、道枝駿佑(なにわ男子)、きしたかの、池田瑛紗(乃木坂46)、杉原凜 らが出演しています

  https://tver.jp/episodes/epx7izkzv1
</p>

<p class="tver">
  バラエティ 有働イノッチの探険！世界遺産(2026) の配信がTVerで始まりました。 79分
  終了日未記載

  ※ トルコ・カッパドキアの世界遺産を探険する2人旅

  有働由美子、井ノ原快彦(20th Century)、柳澤秀夫、平愛梨、羽田美智子 らが出演しています

  https://tver.jp/episodes/epxh633y6r
</p>

<p class="tver">
  バラエティ X秒後の新世界(2026) の配信がTVerで始まりました。 46分
  終了日未記載

  ※ 爆笑&感動の名曲誕生!うろ覚え曲をどう歌い切る?M!LK塩﨑絶賛

  せいや(霜降り明星)、藤井貴彦、ヒコロヒー、塩﨑太智(M!LK)、鈴木浩介、高橋克典、ファーストサマーウイカ、藤本美貴、AMEMIYA、こがけん、DIAMOND☆YUKAI、登坂淳一、山本浩司(タイムマシーン3号) らが出演しています

  https://tver.jp/episodes/epxuszqbzz
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。 20分
  10/6 23:58まで

  ※ [お母さんは?]悪気ない言葉に戸惑い▽茶色いお弁当&髪の毛結べなくても大きな愛

  上田晋也(くりぃむしちゅー)、ファーストサマーウイカ、ユージ、池田レイラ、北乃きい、JESSICA、林下詩美 らが出演しています

  https://tver.jp/episodes/epqpjvrwyh
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。 26分
  10/7 0:30まで

  ※ ドッキリ企画！アイドルって裏でもカッコイイ？（見逃し特典映像付き）

  Aぇ! group(正門良規、末澤誠也、小島健、佐野晶哉)、ゆうちゃみ、朝日奈央、吉田結衣(カーネーション)、金子きょんちぃ(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/ep3hias0fr
</p>

<p class="tver">
  バラエティ ロンドンハーツ(2026) の配信がTVerで始まりました。 24分
  10/7 1:03まで

  ※ 合コン大好き吉田が付き合いたい男芸人ランキング【うぬぼれ男】

  田村淳、田村亮、山崎弘也(アンタッチャブル)、吉田結衣(カーネーション)、井口浩之(ウエストランド)、板倉俊之(インパルス)、狩野英孝、ガク(真空ジェシカ)、久保田かずのぶ(とろサーモン)、ニシダ(ラランド)、森本晋太郎(トンツカタン) らが出演しています

  https://tver.jp/episodes/epqzkshfzk
</p>

<p class="tver">
  ドラマ ホメられたい僕の妄想ごはん(2024) 7～8話の配信がTVerで始まりました。 24分
  終了日未記載

  高杉真宙、小野花梨、福山翔大、夏子、AMI、山崎潤、山野海、休日課長、堀未央奈、八村倫太郎(WATWING)、松本若菜 らが出演しています

  https://tver.jp/episodes/epv9gpufhy
</p>

<p class="tver">
  ドラマ Ｎのために(2014) 4話の配信がTVerで始まりました。 47分
  10/4 11:59まで

  榮倉奈々、窪田正孝、賀来賢人、小出恵介、原日出子、モロ師岡、山中崇、山田裕貴、若山耀人、山本未來、織本順吉、中越典子、徳井義実(チュートリアル)、小西真奈美、三浦友和 らが出演しています

  https://tver.jp/episodes/epttpsyh3h
</p>

<p class="tver">
  ドラマ 危険なビーナス(2020) 9話の配信がTVerで始まりました。 46分
  10/9 23:59まで

  妻夫木聡、吉高由里子、ディーン・フジオカ、染谷将太、中村アン、堀田真由、結木滉星、福田麻貴(3時のヒロイン)、麻生祐未、坂井真紀、安蘭けい、田口浩正、池内万作、栗原英雄、斉藤由貴、戸田恵子、小日向文世 らが出演しています

  https://tver.jp/episodes/ept5f0bp1k
</p>

<p class="tver">
  ドラマ 下剋上球児(2023) 4話の配信がTVerで始まりました。 47分
  10/4 11:59まで

  鈴木亮平、黒木華、井川遥、生瀬勝久、明日海りお、山下美月、中沢元紀、兵頭功海、伊藤あさひ、小林虎之介、橘優輝、生田俊平、菅生新樹、財津優太郎、鈴木敦也、福松凜、奥野壮、絃瀬聡一、松平健、きょん(コットン)、吉田ウーロン太、フラミンゴ、中村シユン、山本浩貴、新浜レオン、番家天嵩、倉田瑛茉、渋江譲二、今里真、森下じんせい、上田遥、浅野和之、小泉孝太郎、小日向文世 らが出演しています

  https://tver.jp/episodes/eprifq2yzq
</p>

<p class="tver">
  ドラマ できちゃった結婚(2001) 10話の配信がTVerで始まりました。 47分
  10/6 23:59まで

  竹野内豊、広末涼子、石田ゆり子、阿部寛、片瀬那奈、妻夫木聡、沢村一樹、木の実ナナ、千葉真一、高林由紀子、今井陽子、酒井敏也 らが出演しています

  https://tver.jp/episodes/epd7gr3iqc
</p>

<p class="tver">
  ドラマ トリック 1(2000) 1～3話の配信がTVerで始まりました。 47分
  終了日未記載

  仲間由紀恵、阿部寛、生瀬勝久、野際陽子、菅井きん、伊藤裕子、山崎一 らが出演しています

  https://tver.jp/episodes/ep83qkqua6
</p>

<p class="tver">
  ドラマ まだ結婚できない男(2019) 1話の配信がTVerで始まりました。 57分
  終了日未記載

※ 毎日1話ずつ更新

  阿部寛、吉田羊、深川麻衣、塚本高史、咲妃みゆ、平祐奈、阿南敦子、奈緒、荒井敦史、小野寺ずる、美音、不破万作、三浦理恵子、尾美としのり、稲森いずみ、草笛光子 らが出演しています

  https://tver.jp/episodes/ep6e2s6rur
</p>

<p class="tver">
  ドラマ BORDER(2014) 1～3話の配信がTVerで始まりました。 59分
  終了日未記載

  小栗旬、青木崇高、波瑠、古田新太、滝藤賢一、野間口徹、浜野謙太、遠藤憲一 らが出演しています

  https://tver.jp/episodes/ep5tmgexub
</p>

<p class="tver">
  ドラマ 吾輩は主婦である(2006) 36話の配信がTVerで始まりました。 24分
  10/9 23:59まで

  斉藤由貴、及川光博、池津祥子、川平慈英、レッド吉田(TIM)、原史奈、東亜優、荒井健太郎、岡田義徳、高橋一生、不破万作、桐谷健太、谷村拓哉、吉田理恩、本田博太郎、竹下景子 らが出演しています

  https://tver.jp/episodes/ep1y2kpq80
</p>

<p class="tver">
  ドラマ メディカルチーム レディ・ダ・ヴィンチの診断(2016) 1話の配信がTVerで始まりました。 57分
  終了日未記載

  ※ 毎日1話ずつ更新

  吉田羊、相武紗季、吉岡里帆、白鳥久美子(たんぽぽ)、滝沢沙織、庄野崎謙、小林且弥、池岡亮介、五十嵐健人、藤澤遥、堀内敬子、五十嵐陽向、笛木優子、戸次重幸、高橋克典、伊藤蘭 らが出演しています

  https://tver.jp/episodes/ep1anotf4m
</p>

<p class="tver">
  ドラマ ムショぼけ(2021) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  北村有起哉、鳴海唯、山崎竜太郎、藤井アキト、長村航希、中邨雄二、代走みつくに、木下ほうか、末成映薫、板尾創路、藤井陽人 らが出演しています

  https://tver.jp/episodes/epe2232zst
</p>

<p class="tver">
  ドラマ アイのない恋人たち(2024) 7話の配信がTVerで始まりました。 45分
  終了日未記載

  福士蒼汰、岡崎紗絵、佐々木希、本郷奏多、成海璃子、前田公輝、深川麻衣、山下容莉枝、岡まゆみ、おかやまはじめ、優希美青、丘みつ子、池田努 らが出演しています

  https://tver.jp/episodes/eptxkbbxvx
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 96(最終)話の配信がTVerで始まりました。 24分
  10/2 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/epwwpisu5a
</p>

<p class="tver">
  アニメ Battle Spirits [Re] 絶界の空(2026) の配信がTVerで始まりました。 25分
  終了日未記載

  ※ TVアニメ Battle Spirits [Re] 絶界の空 特別番組！！

  草野太一、濱野大輝、梅澤めぐ、ママタルト(檜原洋平、大鶴肥満)、諏訪部順一 らが出演しています

  https://tver.jp/episodes/epuo9vxpp9
</p>

<p class="tver">
  アニメ 令和のダラさん(2026) 13(最終)話の配信がTVerで始まりました。 24分
  10/6 22:00まで

  田村睦心、津田美波、寺澤百花、古賀葵、杉田智和、相沢舞、早見沙織、大塚芳忠、てらそままさき らが出演しています

  https://tver.jp/episodes/epdhsc2y2r
</p>

<p class="tver">
  アニメ 陛下わたしを忘れてください(2026) 1話の配信がTVerで始まりました。 5分
  終了日未記載

  永瀬アンナ、細谷佳正、永塚拓馬、榊原優希 らが出演しています

  https://tver.jp/episodes/ep771cojft
</p>

<p class="tver">
  アニメ 骸骨騎士様、只今異世界へお出掛け中Ⅱ(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/6 20:00まで

  前野智昭、ファイルーズあい、稗田寧々、富田美憂、関俊彦、小野賢章、上田瞳、諏訪部順一、赤羽根健治、岩田光央、四宮豪、江口拓也、大久保瑠美、鳥海浩輔、皆口裕子、中博史、竹内良太、濱健人、大西沙織、山根綺、逢田梨香子、河西健吾、白石稔、石田彰 らが出演しています

  https://tver.jp/episodes/epd0354dg1
</p>

<p class="tver">
  アニメ メカアマト(2026・4期) 12話の配信がTVerで始まりました。 23分
  終了日未記載

  村瀬歩、松岡禎丞、白石涼子、加藤英美里、大谷理美 らが出演しています

  https://tver.jp/episodes/epei32avfd
</p>

<p class="tver">
  アニメ ウルトラマン80（HDリマスター版）(1980) 35話の配信がTVerで始まりました。 25分
  10/6 19:00まで

  長谷川初範、中山仁、石田えり、大門正明、常田富士男、三田登喜子、新海丈夫、大前均 らが出演しています

  https://tver.jp/episodes/epp9b40r1e
</p>

<p class="tver">
  ドラマ ワカコ酒(2019・4期) 11話の配信がTVerで始まりました。 24分
  終了日未記載

  武田梨奈、山田キヌヲ、渡部瑞貴、しおつかこうへい、佐古井隆之、栗原義彦、桜一花、和合真一、大西武志 らが出演しています

  https://tver.jp/episodes/epa617mrbj
</p>

<p class="tver">
  バラエティ VIVANT 悪役会議室(2026) 10回の配信がTVerで始まりました。 26分
  終了日未記載

  ※ VIVANT前半戦を振り返る！新たな復讐計画の発表も！？

  迫田孝也、河内大和、馬場徹 らが出演しています

  https://tver.jp/episodes/epitpwkc3i
</p>

<p class="tver">
  ドラマ ハルとアオのお弁当箱(2020) 9～12(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  吉谷彩子、井之脇海、佐藤菫、矢島舞美、森日菜美、藤井美菜、野村真美 らが出演しています

  https://tver.jp/episodes/epo8ogcms7
</p>

<p class="tver">
  ドラマ 私があなたといる理由(2025) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  蓮佛美沙子、溝端淳平、中井友望、百瀬拓実、いしのようこ、勝村政信、川畑光瑠 らが出演しています

  https://tver.jp/episodes/epmrcjs6mz
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 5～8話の配信がTVerで始まりました。 26分
  終了日未記載

  菅井友香、入山法子、稲葉友、濱田龍臣、山本弓月 らが出演しています

  https://tver.jp/episodes/epdnkqnv38
</p>

<p class="tver">
  ドラマ 私と夫と夫の彼氏(2023) 5～8話の配信がTVerで始まりました。 25分
  終了日未記載

  堀田茜、古川雄輝、本田響矢、大谷凜香 らが出演しています

  https://tver.jp/episodes/ep872n2u11
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 47話の配信がTVerで始まりました。 24分
  10/6 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、狩野翔、松岡禎丞、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/ep41zrqlnq
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。 26分
  10/6 12:00まで

  ※ 東京宝塚劇場公演『ポーの一族』に出演されてる、雪組の縣千(あがた せん)さんが登場

  中井美穂、縣千、立川らく次 らが出演しています

  https://tver.jp/episodes/epuwov5jnq
</p>

<p class="tver">
  ドラマ 私 結婚できないんじゃなくて､しないんです(2016) 6話の配信がTVerで始まりました。 46分
  10/6 11:59まで

  中谷美紀、藤木直人、瀬戸康史、大政絢、平岩紙、松井珠理奈、伊藤健太郎、ちすん、平田薫、友利恵、森田甘路、音尾琢真、粟田麗、迫田孝也、松井愛莉、横溝菜帆、都丸紗也華、のーでぃ、村田優一、中村里帆、室井響、長谷川京子、徳井義実(チュートリアル)、夏木マリ らが出演しています

  https://tver.jp/episodes/eplopo6ttk
</p>

<p class="tver">
  ドラマ キャスター(2025) 5話の配信がTVerで始まりました。 47分
  10/6 11:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、佐々木舞香(=LOVE)、ヒコロヒー、黒沢あすか、緒川たまき、手塚とおる、安井順平、前田亜季、相原未来、宮澤エマ、加藤晴彦、加治将樹、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/epd6rrl2wv
</p>

<p class="tver">
  ドラマ マイ・セカンド・アオハル(2023) 6話の配信がTVerで始まりました。 47分
  10/6 11:59まで

  広瀬アリス、道枝駿佑(なにわ男子)、伊原六花、飯沼愛、水沢林太郎、箭内夢菜、濱尾ノリタカ、佐藤直子、辻本耕志、フラミンゴ、石丸幹二、イモトアヤコ、安藤政信 らが出演しています

  https://tver.jp/episodes/epb56wxpha
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 27話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep8yzri0x2
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 22話の配信がTVerで始まりました。 25分
  10/6 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epzjcin09p
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 5話の配信がTVerで始まりました。 24分
  10/6 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epqsqtgdza
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 13(最終)話の配信がTVerで始まりました。 25分
  10/6 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ep3f5pjytz
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 8話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epvmh9q4p9
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 13話の配信がTVerで始まりました。 23分
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/ep1el23yde
</p>
