---
title: 2026/7/13 のピックアップ
date: 2026-07-13
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  アニメ 真・侍伝 YAIBA(2026) 2話の配信がTVerで始まりました。
  7/21 3:38まで

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 らが出演しています

  https://tver.jp/episodes/eps0dscr3b
</p>

<p class="tver">
  バラエティ クレイジージャーニー(2026) の配信がTVerで始まりました。
  7/27 23:55まで

  ※ グレートジャーニ―関野吉晴11年ぶり登場！沖縄・西表島で旧石器時代のタイムスリップ生活に密着！

  設楽統(バナナマン)、小池栄子、関野吉晴 らが出演しています

  https://tver.jp/episodes/epwqukie4g
</p>

<p class="tver">
  ドラマ 35歳、今さら恋とかありえない(2026) 2話の配信がTVerで始まりました。
  終了日未記載

※ 14分のドラマです

  石黒英雄、入来茉里 らが出演しています

  https://tver.jp/episodes/eplne0vdiz
</p>

<p class="tver">
  ドラマ もう1度夫婦になりますか？～カモフラージュ夫婦～(2026) 2話の配信がTVerで始まりました。
  8/11 00:23まで

  森迫永依、前田公輝、桃月なしこ、武田航平、島崎遥香、濱田マリ、高島礼子 らが出演しています

  https://tver.jp/episodes/epahbd2y7t
</p>

<p class="yt">
  アニメ 三つ目がとおる 9～12話｜2026/7/10配信｜手塚プロダクション公式チャンネル｜1:38:40
※ 2026/8/25 14:00まで

伊倉　一恵：写楽保介
松井菜桜子：和登千代子
嶋　　俊介：犬持
緒方　賢一：ヒゲオヤジ
田野　恵　：オサム
速水　奨　：鬼胴

  https://youtu.be/nSOFUXHo74M
</p>

<p class="yt">
  ふしぎな島のフローネ 28～30話｜2026/7/13配信｜日本アニメーション・シアター｜1:16:55
  ※ 2026/9/20 23:59まで

  松尾佳子：フローネ
  高坂真琴：ジャック
  小林　修：エルンスト
  古谷　徹：フランツ
  平井道子：アンナ

  https://youtu.be/QR8dMC77ICk
</p>

<p class="tver">
  バラエティ ナニコレ珍百景(2026) の配信がTVerで始まりました。
  7/20 18:00まで

  ※ 令和に残る懐かしの〇〇＆北海道・山口の先っちょに驚きの絶景SP

  千原ジュニア、国仲涼子、ネプチューン(名倉潤、原田泰造、堀内健)、斎藤ちはる らが出演しています

  https://tver.jp/episodes/ep0osiw3n5
</p>

<p class="tver">
  バラエティ 伝説の社員(2026) の配信がTVerで始まりました。
  8/9 23:59まで

  ※ 国民的ヒット商品を生んだ！崖っぷち大逆転SP

  伊集院光、大園玲、吉村崇(平成ノブシコブシ)、弘中綾香、新山(さや香)、ハシヤスメ・アツコ らが出演しています

  https://tver.jp/episodes/epecvfawsv
</p>

<p class="tver">
  バラエティ 日曜マイチョイス(2026) の配信がTVerで始まりました。
  7/21 18:00まで

  ※ そっくりコンビ角野卓造＆近藤春菜が蕎麦戦区『神田』を大調査！

  阿川佐和子、飯尾和樹(ずん)、角野卓造、近藤春菜(ハリセンボン) らが出演しています

  https://tver.jp/episodes/epmv9c3akw
</p>

<p class="tver">
  バラエティ ネプリーグ(2026) の配信がTVerで始まりました。
  7/20 19:00まで

  ※ 横山裕率いるドラマ俳優軍団VSお笑い王者軍団

  林修、村瀬哲史、横山裕(SUPER EIGHT)、関水渚、山崎紘菜、奥野壮、ネプチューン(原田泰造、堀内健)、たくろう(赤木裕、きむらバンド)、ハナコ(秋山寛貴、岡部大)、今井らいぱち、伊藤利尋 らが出演しています

  https://tver.jp/episodes/epa5b4b7a0
</p>

<p class="tver">
  バラエティ 世界まる見え！テレビ特捜部(2026) の配信がTVerで始まりました。
  7/20 19:59まで

  ※ 大自然はミステリー▼上白石&M!LK塩﨑も爆笑!ミルクボーイ声優

  所ジョージ、岩田絵里奈、ビートたけし、秋元杏月、アルコ&ピース、上白石萌歌、齋藤孝、塩﨑太智(M!LK)、森久保祥太郎、東山奈央、ミルクボーイ らが出演しています

  https://tver.jp/episodes/eptz8t0mti
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。
  7/27 21:54まで

  ※ 趣里＆眞栄田郷敦＆板垣李光人が参戦！焼肉きんぐで帰れま10！

  タカアンドトシ、趣里、眞栄田郷敦、板垣李光人、田中卓志（アンガールズ）、かなで（3時のヒロイン） らが出演しています

  https://tver.jp/episodes/ep31zsvkpq
</p>

<p class="tver">
  バラエティ しゃべくり007(2026) の配信がTVerで始まりました。
  7/20 20:59まで

  ※ M!LK初登場!!結成12年!家族大集合&全員母から手紙に号泣

  ネプチューン(名倉潤、原田泰造、堀内健)、くりぃむしちゅー(有田哲平、上田晋也)、チュートリアル(徳井義実、福田充徳)、M!LK らが出演しています

  https://tver.jp/episodes/epk8qkxj9e
</p>

<p class="tver">
  バラエティ 真剣遊戯！THE バトル SHOW(2026) の配信がTVerで始まりました。
  7/27 20:00まで

  ※ GACKT降臨！志田未来とあっち向いてホイ！超爽快！月9俳優軍がブロックの巨壁を大崩し

  前半：https://tver.jp/episodes/ep4fdkpi4j
  後半：https://tver.jp/episodes/epl91zgt93

  櫻井翔、なにわ男子(藤原丈一郎、道枝駿佑、西畑大吾)、真弓孟之、嶋崎斗亜、谷亮子、生瀬勝久、神尾楓珠、戸塚純貴、竹財輝之助、柴田英嗣(アンタッチャブル)、ヒコロヒー、GACKT、志田未来 らが出演しています
</p>

<p class="tver">
  バラエティ あの時のこと覚えてますか？～関係者の一番の思い出から出題～(2026) の配信がTVerで始まりました。
  7/27 23:59まで

  ※ 反町隆史との1番の思い出を織田裕二&水谷豊が明かす

  加藤浩次、反町隆史、水谷豊、織田裕二、山崎裕太、中島悟 らが出演しています

  https://tver.jp/episodes/eptrt5igzv
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 4話の配信がTVerで始まりました。
  7/20 23:59まで

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epl0tmwk89
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 5話の配信がTVerで始まりました。
  7/20 23:59まで

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/epbbunkkgk
</p>

<p class="tver">
  ドラマ 恋愛ニート～忘れた恋のはじめ方～(2012) 9話の配信がTVerで始まりました。
  7/21 23:59まで

  仲間由紀恵、佐々木蔵之介、市川実日子、永山絢斗、橋本じゅん、森山栄治、本田翼、西山潤、夕輝壽太、永瀬匡、佐々木卓馬、南周平、オオニシ、室井滋、竹財輝之助、山本匠晃、草刈正雄、田中裕二(爆笑問題)、りょう らが出演しています

  https://tver.jp/episodes/ep9cxlm1pn
</p>

<p class="tver">
  ドラマ ドラゴン桜(2021) 9話の配信がTVerで始まりました。
  7/21 23:59まで

  阿部寛、長澤まさみ、高橋海人(King & Prince)、南沙良、平手友梨奈、加藤清史郎、鈴鹿央士、志田彩良、細田佳央太、西山潤、西垣匠、大幡しえり、山田キヌヲ、氏家恵、ケン(水玉れっぷう隊)、鶴ヶ崎好昭、内村遥、日野聡、沢城みゆき、山崎光、井上音生、大原梓、岩本晟夢、森永徹、桑原辰旺、安田顕、品川徹、デビット伊東、ゆりやんレトリィバァ、林遣都、佐野勇斗(M!LK)、入江甚儀、早霧せいな、市川右團次、山崎銀之丞、木場勝己、江口のりこ、及川光博 らが出演しています

  https://tver.jp/episodes/ep73sx7f10
</p>

<p class="tver">
  ドラマ ドラゴン桜(2005) 10話の配信がTVerで始まりました。
  7/21 23:59まで

  阿部寛、長谷川京子、山下智久、長澤まさみ、中尾明慶、小池徹平、新垣結衣、紗栄子、斎藤洋介、デビット伊東、安藤亮司、築山万有美、青山勝、矢沢心、品川徹、美保純、金田明夫、寺田農、野際陽子 らが出演しています

  https://tver.jp/episodes/epv72dhdmi
</p>

<p class="tver">
  ドラマ 昔の男(2001) 11話の配信がTVerで始まりました。
  7/21 23:59まで

  藤原紀香、富田靖子、阿部寛、鈴木一真、黒谷友香、加藤貴子、鹿内孝、岩本多代、清水綋治、林美智子、大沢たかお らが出演しています

  https://tver.jp/episodes/ep6aurlpui
</p>

<p class="tver">
  ドラマ 桜蘭高校ホスト部(2011) 10話の配信がTVerで始まりました。
  7/21 23:59まで

  川口春奈、山本裕典、竜星涼、中村昌也、千葉雄大、高木心平、高木万平、清水昭博、合田雅吏、升毅、杉咲花、坂本真綾、江波杏子、大東駿介 らが出演しています

  https://tver.jp/episodes/ep5sucqk16
</p>

<p class="tver">
  ドラマ キャスター(2025) 9話の配信がTVerで始まりました。
  7/21 23:59まで

  阿部寛、永野芽郁、道枝駿佑(なにわ男子)、月城かなと、木村達成、佐々木舞香、ヒコロヒー、谷田歩、山口馬木也、山本學、松尾諭、内村遥、井上肇、夏子、馬場律樹、石橋蓮司、宮澤エマ、北大路欣也、加藤晴彦、加治将樹、玉置玲央、菊池亜希子、岡部たかし、音尾琢真、高橋英樹 らが出演しています

  https://tver.jp/episodes/ep1uihrm8x
</p>

<p class="tver">
  ドラマ 夫を殺したはずなのに(2026) 2話の配信がTVerで始まりました。
  終了日未記載

  内田理央、渡邊圭祐、箭内夢菜、曽田陵介、丹生明里、小林亮太、星野奈緒、山中聡、紺野まひる、山下容莉枝 らが出演しています

  https://tver.jp/episodes/epy3goog7z
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 1話の配信がTVerで始まりました。
終了日未記載

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epkpeoj5qw
</p>

<p class="tver">
  アニメ ガンバの冒険(1975) 20話の配信がTVerで始まりました。
  7/20 19:00まで

  野沢雅子、水城蘭子、内海賢二、富山敬、堀絢子、大塚周夫 らが出演しています

  https://tver.jp/episodes/epaas74tgr
</p>

<p class="tver">
  ドラマ ワカコ酒(2017・3期) 5話の配信がTVerで始まりました。
  7/27 23:59まで

  武田梨奈 らが出演しています

  https://tver.jp/episodes/epoi3n9kg4
</p>

<p class="tver">
  バラエティ ポツンと一軒家(2026) の配信がTVerで始まりました。
  7/27 15:00まで

  ※ 群馬県でポツンと一軒家を発見！数々の苦境を乗り越え、ご夫婦でたどり着いたのは、新たな夢を描くことのできる山奥の牧場だった――。

  所ジョージ、林修、唐沢寿明、梅澤美波 らが出演しています

  https://tver.jp/episodes/ep56nz4kny
</p>

<p class="tver">
  バラエティ STU48 美活動部 はじめました！(2026) 30回の配信がTVerで始まりました。
  8/10 15:59まで

  ※ [配信限定15分]ママチャリ爆走リレー対決

  STU48(内海里音、岡村梨央、尾崎世里花、迫姫華、信濃宙花、福田朱里、吉田彩良) らが出演しています

  https://tver.jp/episodes/ep7hiuzcok
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 21話の配信がTVerで始まりました。
  7/20 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epghucqom4
</p>

<p class="tver">
  バラエティ ゲームセンターCX クライマックス(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 『スーパードンキーコング』

  有野晋哉(よゐこ) らが出演しています

  https://tver.jp/episodes/ep5so7qm1l
</p>

<p class="tver">
  アニメ ハイキュー!! 烏野高校 ＶＳ 白鳥沢学園高校(2016) 7話の配信がTVerで始まりました。
  7/20 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、江川央生、竹内良太、木村昴、土屋神葉、豊永利行、寺島拓篤、丹沢晃之、福田賢二、大森大樹、中尾隆聖 らが出演しています

  https://tver.jp/episodes/ep1uhhgcbg
</p>

<p class="tver">
  アニメ 新あたしンち(2015) 24話の配信がTVerで始まりました。
  7/27 08:30まで

  渡辺久美子、折笠富美子、阪口大助、愛河里花子、玉川砂記子、渡辺菜生子、山口勝平、小桜エツコ、氷上恭子、井口祐一、塾一久、伊東健人、水田わさび、鉄炮塚葉子、野島健児、須賀健太 らが出演しています

  https://tver.jp/episodes/epx7a5j7n7
</p>
