---
title: 2026/8/15 のピックアップ
date: 2026-08-15
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「FAIRY TAIL」164～175話｜2026/8/15配信｜アニメタイムズ公式｜4:52:52
  ※ 2026/9/16(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/0AHVAxYaER8
</p>

<p class="tver">
  バラエティ 朝だ！生です旅サラダ(2026) の配信がTVerで始まりました。
  8/22 14:00まで

  ※ 個性豊かな日本の島々の旅を大特集！青森県と岡山県の知る人ぞ知る極上の“レアうまグルメ”を紹介！

  松下奈緒、藤木直人、勝俣州和、濵田崇裕(WEST.)、大仁田美咲、玉森裕太(Kis-My-Ft2) らが出演しています

  https://tver.jp/episodes/epscpbzuk0
</p>

<p class="tver">
  バラエティ ごぶごぶ(2026) 667回の配信がTVerで始まりました。
  8/22 13:53まで

  ※ ごぶごぶ 夏の２時間SP。山下智久が相方!!神戸夏おすすめスポット

  前編：https://tver.jp/episodes/ep5y6m3syj
  後編：https://tver.jp/episodes/ep7x2g4qqm

  浜田雅功(ダウンタウン)、山下智久 らが出演しています
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  8/22 16:00まで

  ※ 相葉対えなり写真対決！誰でもプロ並み撮影テク

  相葉雅紀、えなりかずき、渡部陽一、三井公一 らが出演しています

  https://tver.jp/episodes/epvppaevkn
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1616回の配信がTVerで始まりました。
  8/22 14:59まで

  ※ なにをきくねん

  明石家さんま、間寛平、村上ショージ、中川家、重盛さと美、ニューヨーク、山崎香佳 らが出演しています

  https://tver.jp/episodes/ep5hcg95tw
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 21話の配信がTVerで始まりました。
  8/22 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epqr3rkz4z
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 11話の配信がTVerで始まりました。
  8/22 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epny255n0u
</p>

<p class="yt">
  映画「富江re-birth」(2001) 2週間限定公開｜2026/8/7配信｜角川シネマコレクション｜1:41:56
  ※ 8/21(金) 19:59まで。残りわずか。お早めに

  酒井美紀、妻夫木聡、黄川田将也、忍成修吾、邑野未亜、諏訪太朗、遠藤久美子 らが出演しています

  https://youtu.be/eVT4lp-9JcM
</p>

<p class="yt">
  アニメ「ジパング」全26話｜2026/8/15配信｜アニメタイムズ公式｜10:28:08
  ※ 2026/9/15(火) 11:59まで

  稲田　徹：角松洋介
  東地　宏樹：草加拓海
  星野　貴紀：菊池雅行
  うえだゆうじ：尾栗康平
  屋良　有作：梅津三郎

  https://youtu.be/YiTBkqxzino
</p>

<p class="tver">
  バラエティ 土曜はナニする！？日帰りぷらっとりっぷ(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 森香澄&3時のヒロイン福田麻貴の大自然旅！主演女優の演技対決&㊙美容術

  森香澄、福田麻貴(3時のヒロイン) らが出演しています

  https://tver.jp/episodes/epa2cvjqsx
</p>

<p class="tver">
  バラエティ パンパンリュック(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 後半戦：せいや＆ケムリの福岡・北海道お土産旅

  せいや(霜降り明星)、松井ケムリ(令和ロマン)、矢田亜希子、村重杏奈、藤咲碧羽、ONE LOVE ONE HEART らが出演しています

  https://tver.jp/episodes/epfhh0vhjq
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  8/22 10:29まで

  ※ 夏空と海…神の沖縄撮影旅!上空ヘリから飛行機と珊瑚礁絶景写真

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epd5m4nukw
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。
  8/22 11:24まで

  ※ [3分の番組です]シャワーで生活が変わる！？その秘密をトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/epssl0g4dm
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 7話の配信がTVerで始まりました。
  8/21 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、高橋洋、葉山奨之、真野恵里菜、宇梶剛士、富田靖子、小貫加恵、伊藤真奈美、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epfw7cpnom
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 6話の配信がTVerで始まりました。
  8/21 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、畑芽育、辻本達規、BOYS AND MEN、たにてひと、工藤俊二、丘みつ子、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/ep6wtduolz
</p>

<p class="tver">
  ドラマ たかほー日和。 ～鷹とごはんと明日の私～(2026・2期) 1話の配信がTVerで始まりました。
  終了日未記載

  生田衣梨奈、坂口理子 らが出演しています

  https://tver.jp/episodes/epnxy1j5ma
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 7話の配信がTVerで始まりました。
  8/22 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epbdw53zlr
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 2話の配信がTVerで始まりました。
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/epw97kiyfr
</p>

<p class="tver">
  アニメ あたしンち(2002) 6話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/ep71v5fejh
</p>
