---
title: 2026/6/3 のピックアップ
date: 2026-06-03
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  アニメ ハイキュー!!(2014) 8話の配信がTVerで始まりました。
  6/10 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epm8vkhsiv
</p>

<p class="tver">
  アニメ よわよわ先生(2026) 8話の配信がTVerで始まりました。
  6/10 12:00まで

  高野麻里佳、波多野翔、伊駒ゆりえ、篠原侑、夏吉ゆうこ、中原麻衣 らが出演しています

  https://tver.jp/episodes/epdyt6cd9u
</p>
