---
title: 2026/10/05 のピックアップ
date: 2026-10-05
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  ドラマ 生き残った６人によると(2022) 5話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  桜田ひより、佐野玲於、中村ゆりか、倉悠貴、髙石あかり、八木アリサ、田中光輔、佐々木舞香(=LOVE)、大貫勇輔 らが出演しています

  https://tver.jp/episodes/ep61h7jv7a
</p>

<p class="tver">
  ドラマ 文学処女(2018) 5～6話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  森川葵、城田優、中尾暢樹、上遠野太洸、古賀哉子、田辺桃子、綱啓永、池上紗理依、泉里香、河原雅彦 らが出演しています

  https://tver.jp/episodes/epl2hyyvhr
</p>

<p class="tver">
  ドラマ 西荻窪 三ツ星洋酒堂(2021) 5話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  町田啓太、藤原季節、森崎ウィン、大友花恋、松岡広大、村川絵梨、近藤芳正、小久保寿人、梶裕貴、前原滉、堀田茜、中山美穂 らが出演しています

  https://tver.jp/episodes/epcrnew9u2
</p>

<p class="tver">
  ドラマ 熱愛プリンス(2025) 5～6話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  原因は自分にある。(杢代和人、大倉空人、小泉光咲)、松井奏(IMP.)、林芽亜里、大東立樹、芳賀柊斗、増子敦貴 らが出演しています

  https://tver.jp/episodes/ep9oyzhw7f
</p>

<p class="tver">
  ドラマ 結婚予定日(2023) 5～6話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  松田元太(Travis Japan)、大原櫻子、柾木玲弥、大原優乃、小島梨里杏、宮澤美保、野崎智子、佐藤友祐、古屋呂敏 らが出演しています

  https://tver.jp/episodes/epfzk5g206
</p>

<p class="tver">
  ドラマ 初めましてこんにちは、離婚してください(2024) 5～6話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  犬飼貴丈、林芽亜里、西垣匠、髙松アロハ(超特急)、山中柔太朗(M!LK)、高橋光臣 らが出演しています

  https://tver.jp/episodes/epypmmsub7
</p>

<p class="tver">
  ドラマ 初情事まであと１時間(2023) 5～6話の配信がTVerで始まりました。 24分
  10/20 05:59まで

  ※ 6話は中尾明慶、さとうほなみ

  岡本玲、ニシダ(ラランド) らが出演しています

  https://tver.jp/episodes/ep05ehhq2l
</p>

<p class="tver">
  ドラマ 凛子さんはシてみたい(2021) 5～6話の配信がTVerで始まりました。 25分
  10/20 05:59まで

  高田夏帆、戸塚祥太(A.B.C-Z)、筧美和子、飯島寛騎、ゆん、猪塚健太 らが出演しています

  https://tver.jp/episodes/ep78h5pmze
</p>

<p class="tver">
  アニメ 真・侍伝 YAIBA(2026) 13話の配信がTVerで始まりました。 24分
  10/13 3:28まで

  高山みなみ、石見舞菜香、細谷佳正、小西克幸、諏訪部順一、千葉一伸、越後屋コースケ、宮内敦士、佐藤利奈、斉藤貴美子、大西健晴、阪口周平、市ノ瀬加那、井上剛 らが出演しています

  https://tver.jp/episodes/epsqxdy07j
</p>

<p class="tver">
  バラエティ 光一＆シゲのSHOWマン!!(2026) の配信がTVerで始まりました。 24分
  10/20 01:16まで

  ※ スゴ技マジック連発！プロ絶賛の凄腕マジシャン特集！

  堂本光一(DOMOTO)、加藤シゲアキ(NEWS)、長尾謙杜(なにわ男子)、近藤春菜(ハリセンボン)、KiLa、Mr.フレイム らが出演しています

  https://tver.jp/episodes/ep9y2nzn4e
</p>

<p class="tver">
  ドラマ 転校生ナノ(2026) 5話の配信がTVerで始まりました。 25分
  10/13 1:00まで

  仲島有彩、八神蓮、日山和子、真行寺君枝、百瀬拓実、朝日奈まお、安達祐実、田中幸太朗、田牧そら、西山蓮都、黎架 らが出演しています

  https://tver.jp/episodes/epy2il52sm
</p>

<p class="yt">
  TVアニメ「魔法のプリンセスミンキーモモ 夢を抱きしめて」#40～52｜2026/10/5配信｜「KING AMUSEMENT CREATIVE」公式チャンネル｜5:20:14
  ※ 10/12(月) 19:59まで

  林原めぐみ：ミンキーモモ
  桜井　敏治：クックブック
  横山　智佐：ルピピ
  真柴　摩利：チャーモ
  江原　正士：パパ
  渡辺　美佐：ママ
  緒方　賢一：王様
  横尾　まり：王妃様
  石田　彰：ジョー
  小山　茉美：モモ（初代）

  https://youtu.be/jCclq4mwQ6A
</p>

<p class="yt">
  虫が消えたら人類は"数年で絶滅"説/ハチが減ると野菜が値上がり/ナゼ?虫のために芸能界へ｜2026/10/4配信｜楽待 RAKUMACHI｜0:20

  井上咲楽、片田陽依 らが出演しています

  https://youtu.be/rj6gXtTkxFs
</p>

<p class="tver">
  アニメ 盗掘王(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/13 1:14まで

  細谷佳正、早見沙織、入野自由、諏訪部順一、岡本信彦、甲斐田裕子 らが出演しています

  https://tver.jp/episodes/epa1nnk34n
</p>

<p class="tver">
  バラエティ 世界まる見え！テレビ特捜部(2026) の配信がTVerで始まりました。 50分
  10/12 18:59まで

  ※ 玉木宏も驚く空港税関で衝撃密輸&前代未聞!洞窟で40日間集団生活

  所ジョージ、岩田絵里奈、ビートたけし、岩城滉一、玉木宏、長浜広奈、本田望結、ヤーレンズ、飯尾和樹(ずん) らが出演しています

  https://tver.jp/episodes/epjlslu5gd
</p>

<p class="tver">
  バラエティ しゃべくり007(2026) の配信がTVerで始まりました。 45分
  10/12 20:59まで

  ※ 柳楽優弥&川栄李奈…「誰も知らない」同窓会▼AKB秘話先輩登場

  ネプチューン(名倉潤、原田泰造、堀内健)、くりぃむしちゅー(有田哲平、上田晋也)、チュートリアル(徳井義実、福田充徳)、柳楽優弥、川栄李奈 らが出演しています

  https://tver.jp/episodes/eppf42pr1s
</p>

<p class="tver">
  バラエティ あなたの知らない京都旅(2026) の配信がTVerで始まりました。 47分
  10/12 21:54まで

  ※ 中村雅俊と田中健俺たちのふたり旅

  中村雅俊、田中健 らが出演しています

  https://tver.jp/episodes/epvxg5jxeb
</p>

<p class="tver">
  バラエティ 〜関係者の記憶から出題〜 一番の思い出当てられますか？(2026) の配信がTVerで始まりました。 46分
  10/19 23:59まで

  ※ 生瀬勝久と後藤真希の「一番の思い出」を豪華ゲストと答え合わせ！

  加藤浩次、生瀬勝久、後藤真希、明石家さんま、仲間由紀恵、鈴木亜美 らが出演しています

  https://tver.jp/episodes/epq18aatgp
</p>

<p class="tver">
  バラエティ 小峠英二の試乗最高(2026) 15回の配信がTVerで始まりました。 46分
  10/19 22:00まで

  ※ ゲストは、三男一女の父としてミニバンを乗り継ぎ、家族と楽しむクルマにも精通する土田晃之

  小峠英二(バイきんぐ)、土田晃之 らが出演しています

  https://tver.jp/episodes/epehk9wcjd
</p>

<p class="tver">
  バラエティ Bybe物語の会いに行くよ！(2026) の配信がTVerで始まりました。 28分
  終了日未記載

  ※ ゲストにモモコグミカンパニーが登場！バイロマが昭和がテーマの自作ポエムに挑戦

  堤下敦(インパルス)、Bybe物語、モモコグミカンパニー らが出演しています

  https://tver.jp/episodes/ep2oy9eri4
</p>

<p class="tver">
  バラエティ 爆踊！アバンギャルディ 昭和歌謡の宴(2026) の配信がTVerで始まりました。 24分
  10/13 23:59まで

  ※ 花の82年組アイドルSP！早見優、堀ちえみをゲストに招き、名曲をダンスコラボパフォーマンス！

  アバンギャルディ、akane、早見優、堀ちえみ、藤崎健一郎 らが出演しています

  https://tver.jp/episodes/eplkjkc1zr
</p>

<p class="tver">
  バラエティ M!LKに言ってみ？(2026) の配信がTVerで始まりました。 44分
  10/12 23:58まで

  ※ 日テレ初冠番組!全国の依頼人のお悩みをM!LKが全力解決!

  M!LK、大沢あかね、菊地亜美、せいや(霜降り明星)、松田丈志 らが出演しています

  https://tver.jp/episodes/epw7utk91h
</p>

<p class="tver">
  ドラマ 緊急取調室(2017) 1～3話の配信がTVerで始まりました。 60分
  終了日未記載

  天海祐希、田中哲司、速水もこみち、鈴木浩介、大倉孝二、でんでん、大杉漣、小日向文世、石田卓也、三田佳子 らが出演しています

  https://tver.jp/episodes/epzp9mbun9
</p>

<p class="tver">
  ドラマ 海月姫(2018) 2話の配信がTVerで始まりました。 46分
  終了日未記載

  芳根京子、瀬戸康史、工藤阿須加、木南晴夏、松井玲奈、内田理央、富山えり子、泉里香、安井順平、要潤、床嶋佳子、北大路欣也 らが出演しています

  https://tver.jp/episodes/epuebaakqo
</p>

<p class="tver">
  ドラマ 危険なビーナス(2020) 10(最終)話の配信がTVerで始まりました。 46分
  10/16 21:59まで

  妻夫木聡、吉高由里子、ディーン・フジオカ、染谷将太、中村アン、堀田真由、結木滉星、福田麻貴(3時のヒロイン)、麻生祐未、坂井真紀、辻萬長、坂田聡、R-指定(Creepy Nuts)、森島律斗、高木波瑠、安蘭けい、田口浩正、池内万作、栗田芳宏、栗原英雄、斉藤由貴、戸田恵子、小日向文世 らが出演しています

  https://tver.jp/episodes/epjic4j9y2
</p>

<p class="tver">
  ドラマ dele (ディーリー)(2018) 1～3話の配信がTVerで始まりました。 49分
  終了日未記載

  山田孝之、菅田将暉、麻生久美子、般若、江口のりこ らが出演しています

  https://tver.jp/episodes/ep6oxon4is
</p>

<p class="tver">
  ドラマ まだ結婚できない男(2019) 7話の配信がTVerで始まりました。 46分
  終了日未記載

  阿部寛、吉田羊、深川麻衣、塚本高史、咲妃みゆ、平祐奈、阿南敦子、奈緒、荒井敦史、小野寺ずる、美音、デビット伊東、不破万作、岡部たかし、RED RICE(湘南乃風)、三浦理恵子、尾美としのり、稲森いずみ、草笛光子 らが出演しています

  https://tver.jp/episodes/ep54lkrrzt
</p>

<p class="tver">
  ドラマ DOCTORS 最強の名医(2011) 1～3話の配信がTVerで始まりました。 46分
  終了日未記載

  沢村一樹、高嶋政伸、比嘉愛未、黒川智花、滝沢沙織、敦士、伊藤蘭、野際陽子 らが出演しています

  https://tver.jp/episodes/ep3qi77dpv
</p>

<p class="tver">
  ドラマ メディカルチーム レディ・ダ・ヴィンチの診断(2016) 7話の配信がTVerで始まりました。 46分
  終了日未記載

  吉田羊、相武紗季、吉岡里帆、白鳥久美子(たんぽぽ)、滝沢沙織、庄野崎謙、小林且弥、池岡亮介、五十嵐健人、藤澤遥、田中幸太朗、板木彩香、笛木優子、戸次重幸、高橋克典、伊藤蘭 らが出演しています

  https://tver.jp/episodes/ep3d5hb2mz
</p>

<p class="tver">
  ドラマ 妻を引退します(2026) 1話の配信がTVerで始まりました。 40分
  終了日未記載

  朝日奈央、新川優愛、時任勇気、犬飼貴丈、松田好花、本髙克樹(B&ZAI)、高取青依良、山下容莉枝、阪田マサノブ、勝村政信 らが出演しています

  https://tver.jp/episodes/epmx5vsxu8
</p>

<p class="tver">
  ドラマ 青と碧(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  草川直弥(ONE N' ONLY)、知念英和、宮澤佑、青山凌大、鶴嶋乃愛、藤本ばんび らが出演しています

  https://tver.jp/episodes/epz3sw48if
</p>

<p class="tver">
  ドラマ 飯を喰らひて華と告ぐ(2024) 1話の配信がTVerで始まりました。 13分
  10/12 21:45まで

  ※ 出演者は全話通してのゲストが書かれています。毎話1人ほどが客として来店

  仲村トオル、田村健太郎、猫背椿、吉村界人、きたろう、高橋ひとみ、三河悠冴、華村あすか、福井俊太郎、山崎紘菜、山城琉飛、円井わん、柄本時生 らが出演しています

  https://tver.jp/episodes/epylrphkjz
</p>

<p class="tver">
  アニメ クレバテスⅡ-魔獣の王と偽りの勇者伝承-(2026) 13(最終)話の配信がTVerで始まりました。 24分
  10/12 22:00まで

  白石晴香、田村睦心、中村悠一、黒田崇矢、潘めぐみ、杉田智和、会沢紗弥、黒沢ともよ、関智一、梅田修一朗、橘龍丸、鈴木崚汰、峯田大夢、久野美咲、西山宏太朗、関根明良、佐野史郎 らが出演しています

  https://tver.jp/episodes/epbgced041
</p>

<p class="tver">
  アニメ PSYREN -サイレン-(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  安田陸矢、風間万裕子、武内駿輔、斉藤壮馬、野津山幸宏 らが出演しています

  https://tver.jp/episodes/ep1q40csrq
</p>

<p class="tver">
  アニメ 千歳くんはラムネ瓶のなか(2026) 全13話の配信がTVerで始まりました。 50分
  10/12 23:59まで

  ※ 第1クール。第2クールは10/13より

  坂田将吾、石見舞菜香、羊宮妃那、大久保瑠美、長谷川育美、安済知佳、阿座上洋平、宮崎雅也 らが出演しています

  https://tver.jp/episodes/epn71i06dl
</p>

<p class="tver">
  アニメ メダリスト(2025) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  春瀬なつみ、大塚剛央、市ノ瀬加那、内田雄馬、小市眞琴、木野日菜、戸田めぐみ、小岩井ことり、三宅貴大、伊藤彩沙、加藤英美里 らが出演しています

  https://tver.jp/episodes/epnuln9wwm
</p>

<p class="tver">
  アニメ 魔法のプリンセス ミンキーモモ(1982) 2話の配信がTVerで始まりました。 23分
  10/19 21:25まで

  小山茉美、増岡弘、塚田恵美子、納谷六朗、土井美加、田の中勇、三田ゆう子、千葉繁 らが出演しています

  https://tver.jp/episodes/epus8ryl9m
</p>

<p class="tver">
  バラエティ 大改造!!劇的ビフォーアフター(2026) の配信がTVerで始まりました。 101分
  10/19 23:59まで

  ※ 2時間スペシャル！築120年、難問山積み物件「水回りが全部外にある家」を劇的に大改造

  所ジョージ、中村梅雀、矢田亜希子、キムラ緑子 らが出演しています

  https://tver.jp/episodes/ep9q61mny1
</p>

<p class="tver">
  バラエティ STU48 美活動部 はじめました！(2026) 33回の配信がTVerで始まりました。 19分
  終了日未記載

  ※ ガチ対談 岡村梨央＆迫姫華

  STU48(迫姫華、岡村梨央) らが出演しています

  https://tver.jp/episodes/epu621vg9m
</p>

<p class="tver">
  バラエティ 相葉マナブ(2026) の配信がTVerで始まりました。 42分
  10/11 18:56まで

  ※ マナブ！秋のフルーツ祭り

  相葉雅紀、小峠英二(バイきんぐ)、岡部大(ハナコ)、あばれる君 らが出演しています

  https://tver.jp/episodes/epwnqewrua
</p>

<p class="tver">
  ドラマ おじさんはカワイイものがお好き。(2020) 1～5話の配信がTVerで始まりました。 44分
  終了日未記載

  眞島秀和、今井翼、桐山漣、藤原大祐、山本未來、富田望生、愛加あゆ、水間ロン、佐藤正和、森七菜 らが出演しています

  https://tver.jp/episodes/epm1bxx9vb
</p>

<p class="tver">
  ドラマ ワカコ酒(2019・4期) 12(最終)話の配信がTVerで始まりました。 24分
  10/19 23:59まで

  武田梨奈、鎌苅健太、堀田勝、野添義弘、山田キヌヲ、渡部瑞貴、しおつかこうへい、斉藤陽一郎、久保田康祐 らが出演しています

  https://tver.jp/episodes/ep2vzqknoe
</p>

<p class="tver">
  ドラマ 夫の家庭を壊すまで(2024) 1～4話の配信がTVerで始まりました。 40分
  終了日未記載

  松本まりか、竹財輝之助、野波麻帆、野村康太、麻生祐未、太田莉菜、田中美久、湯本晴、太田将熙、中島百依子(ダウ90000)、片桐美穂、川久保三子、中村育二 らが出演しています

  https://tver.jp/episodes/epbqij9jtl
</p>

<p class="yt">
  アニメ ブラック・ジャック 8～11話｜2026/10/4配信｜手塚プロダクション公式チャンネル｜1:37:00
  ※ 10/9 14:00まで

  大塚　明夫：ブラック・ジャック
  水谷　優子：ピノコ
  佐藤ゆうこ：写楽
  小野　涼子：和登
  富田　耕生：マスター
  川瀬　晶子：本間久美子
  石井　真：ラルゴ
  阪　脩：本間丈太郎
  堀　秀行：手塚医師
  内海賢二：友引警部
  大木民夫：山田野
  野沢那智：琵琶丸
  矢尾一樹：タカシ
  田中敦子：ブラッククィーン

  https://youtu.be/2ngG7o97z1c
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。 24分
  10/19 09:54まで

  ※ 滝沢カレン・秋鮭とレタスと卵のチャーハン

  滝沢カレン、戸塚純貴、芝大輔(モグライダー) らが出演しています

  https://tver.jp/episodes/ep2uyw4rr2
</p>

<p class="tver">
  バラエティ エンタメサーチバラエティ プレミアの巣窟(2026) の配信がTVerで始まりました。 20分
  10/12 2:25まで

  ※ 戸塚純貴のココを見ろ！？自身の注目ポイントは

  天野ひろゆき(キャイ〜ン)、国本梨紗、戸塚純貴 らが出演しています

  https://tver.jp/episodes/epus7h76pa
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 9話の配信がTVerで始まりました。 49分
  10/12 11:59まで

  神木隆之介、杉咲花、池田エライザ、清水尋也、三浦誠己、前原瑞樹、宮崎吐夢、豆原一成(JO1)、片岡凜、赤間麻里子、谷川昭一朗、中村シユン、池下重大、中嶋朋子、酒向芳、さだまさし、滝藤賢一、尾美としのり、美保純、土屋太鳳、宮本信子 らが出演しています

  https://tver.jp/episodes/epe3sxb1hu
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 31話の配信がTVerで始まりました。 46分
  10/15 08:00まで

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/ep85wq32nf
</p>

<p class="tver">
  アニメ FX戦士くるみちゃん(2026) 1話の配信がTVerで始まりました。 24分
  終了日未記載

  鈴木愛奈、瀬戸麻沙美、伊藤彩沙、岡咲美保 らが出演しています

  https://tver.jp/episodes/ephf5soi6u
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 11話の配信がTVerで始まりました。 24分
  10/12 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep66vy8p91
</p>

<p class="tver">
  アニメ NG騎士ラムネ＆40(1990) 10話の配信がTVerで始まりました。 23分
  10/19 08:30まで

  草尾毅、横山智佐、神代知衣、矢尾一樹、松井菜桜子、TARAKO、飯塚昭三、肝付兼太、飛田展男、菅原淳一、ならはしみき、真柴摩利、梁田清之、梅津秀行、中原茂、松本保典 らが出演しています

  https://tver.jp/episodes/epuc3xi0qm
</p>
