---
title: 2026/8/21 のピックアップ
date: 2026-08-21
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  夏休みを過ごすぞ夏の庄内!かき氷に、精進料理に、御朱印も!｜2026/8/21配信｜【公式】芳根京子の〈生〉旅｜18:02

  ※ 今回の〈生〉旅は、夏の庄内！夏休みを満喫🌻突然の雨だったけど、涼しくて過ごしやすかった！皆さんも庄内に是非来てね！

  芳根京子 らが出演しています

  https://youtu.be/0jSVY9gjc8s
</p>

<p class="yt">
  映画「弟切草」(2001)本編｜2026/8/21配信｜角川シネマコレクション｜1:24:49
  ※ 9/4(金) 19:59まで

奥菜恵 、斉藤陽一郎 、大倉孝二 、松尾れい子 らが出演しています

  https://youtu.be/TYKCuheQk2o
</p>

<p class="yt">
  アニメ リボンの騎士 9～12話｜2026/8/21配信｜手塚プロダクション公式チャンネル｜1:41:38
  ※ 2026/10/13 14:00まで

  太田　淑子：サファイヤ
  貴家　堂子：チンク
  小林　恭治：王
  新道乃里子：王妃
  塩見　龍介：魔王メフィスト
  武藤　礼子：ヘケート
  雨森　雅司：ジュラルミン大公
  北川智恵子：プラスチック
  納谷　悟郎：ナイロン卿

  https://youtu.be/pqjkWYkkl_U
</p>

<p class="tver">
  ドラマ 366日(2024) 2話の配信がTVerで始まりました。
  9/28 終了時間未記載まで

  広瀬アリス、眞栄田郷敦、坂東龍汰、長濱ねる、綱啓永、赤ペン瀧川、岩永丞威、岐洲匠、高田里穂、加藤虎ノ介、生田俊平、宮崎莉里沙、柳谷参助、堀口紗奈、李千鶴、田中幸太朗、野添義弘、浅井浩介、浅野千鶴、古米翔大、織野友貴、藤本万梨乃 らが出演しています

  https://tver.jp/episodes/epb0hnl9o7
</p>

<p class="tver">
  バラエティ Hey! Say! JUMP ONE NIGHT VOYAGE(2026) 1回の配信がTVerで始まりました。
  終了日未記載

  ※ Hey! Say! JUMP 山田涼介＆伊野尾慧がタイ・バンコクでアジア２人旅！

  Hey! Say! JUMP(山田涼介、知念侑李、有岡大貴、髙木雄也、伊野尾慧、八乙女光、薮宏太) らが出演しています

  https://tver.jp/episodes/epjhw1w6sf
</p>

<p class="tver">
  ドキュメンタリー きっちりおじさんのてんやわんやクッキング(2026) の配信がTVerで始まりました。
  8/28 22:30まで

  ※ 自炊66　キンパ

  遠藤憲一 らが出演しています

  https://tver.jp/episodes/epsvdxg9lc
</p>

<p class="tver">
  ドキュメンタリー ララLIFE(2026) の配信がTVerで始まりました。
  8/28 23:29まで

  ※ 津田健次郎、知られざる能の世界へ

  三村マサカズ、青木崇高、津田健次郎 らが出演しています

  https://tver.jp/episodes/epid91lzfl
</p>

<p class="tver">
  バラエティ デカ盛りハンター(2026) の配信がTVerで始まりました。
  9/4 19:54まで

  ※ 栗山千明が大興奮！道とん堀5.5kg巨大絶品お好み焼きバトル！

  マシンガンズ、栗山千明、大食いらすかる、大翔鵬清洋、高立直哉 らが出演しています

  https://tver.jp/episodes/epw7whvi23
</p>

<p class="tver">
  バラエティ 沸騰ワード10(2026) の配信がTVerで始まりました。
  9/4 18:59まで

  ※ 行ってみたい離島1位！与論島に、島大好き高橋メアリージュン・ユウ姉妹大調査…91歳で風邪ゼロ!?奇跡の長命草▼井桁挑戦！大流行ピックルボール

  設楽統(バナナマン)、黒田みゆ、浮所飛貴(ACEes)、カズレーザー(メイプル超合金)、黒木華、塚地武雅(ドランクドラゴン)、出川哲朗、柳原可奈子、芳根京子、井桁弘恵、高橋メアリージュン、高橋ユウ、バービー(フォーリンラブ)、松岡修造 らが出演しています

  https://tver.jp/episodes/epcd1zo4qa
</p>

<p class="tver">
  バラエティ スポッパ★オオカミ少年(2026) の配信がTVerで始まりました。
  9/18 18:59まで

  ※ 鈴木亮平＆菜々緒vsジェシー樹＆中条あやみが大熱戦！

  浜田雅功(ダウンタウン)、SixTONES(ジェシー、田中樹)、中条あやみ、陣内智則、ゆうちゃみ、鈴木亮平、赤楚衛二、菜々緒、桜田ひより、岩瀬洋志、FRUITS ZIPPER(松本かれん、真中まな)、塩川莉世(SWEET STEADY)、狩野舞子、村上佳菜子、南後杏子 らが出演しています

  https://tver.jp/episodes/epuzgacxrd
</p>

<p class="tver">
  バラエティ 所さんの学校では教えてくれないそこんトコロ！(2026) の配信がTVerで始まりました。
  9/4 20:59まで

  ※ お宝ザクザク！？開かずの金庫＆神ワザ！かけつぎ職人に密着

  所ジョージ、冨田有紀、清水ミチコ、東貴博、児嶋一哉(アンジャッシュ)、髙木雄也(Hey! Say! JUMP)、伊東四朗、別府ともひこ(エイトブリッジ)、鰻和弘(銀シャリ)、槇大輔 らが出演しています

  https://tver.jp/episodes/epqsktdt2c
</p>

<p class="tver">
  バラエティ かまいたちの瞬間回答～60秒でお悩み解決～(2026) の配信がTVerで始まりました。
  8/28 21:00まで

  ※ 業務スーパーお得（秘）裏ワザ＆激変グルメSP

  かまいたち(山内健司、濱家隆一)、生野陽子、磯野貴理子、DAIGO、高橋成美、ACEes(佐藤龍我、那須雄登) らが出演しています

  https://tver.jp/episodes/epjgkw540r
</p>

<p class="tver">
  バラエティ タイムレスマン(2026) の配信がTVerで始まりました。
  8/28 21:58まで

  ※ timelesz100

  timelesz(佐藤勝利、菊池風磨、松島聡、寺西拓人、原嘉孝、橋本将生、猪俣周杜、篠塚大輝)、勝地涼、横澤夏子、河井ゆずる(アインシュタイン) らが出演しています

  https://tver.jp/episodes/eptbg59rwy
</p>

<p class="tver">
  バラエティ 高見沢俊彦の美味しい音楽 美しいメシ(2026) の配信がTVerで始まりました。
  8/28 23:00まで

  ※ ゲスト 大原櫻子

  高見沢俊彦(THE ALFEE)、大原櫻子、ロジャー沖縄 らが出演しています

  https://tver.jp/episodes/epivjj4lfw
</p>

<p class="tver">
  バラエティ A-Studio＋(2026) の配信がTVerで始まりました。
  8/28 22:59まで

  ※ 小手伸也 演劇仲間＆中島裕翔に取材！

  笑福亭鶴瓶、藤ヶ谷太輔(Kis-My-Ft2)、小手伸也、八嶋智人、山崎樹範、村上大樹、中島裕翔 らが出演しています

  https://tver.jp/episodes/epp41ysmb4
</p>

<p class="tver">
  バラエティ 三村やす子のバズマンTV(2026) の配信がTVerで始まりました。
  9/5 01:15まで

  ※ 【マンガ心理戦】読んだことない漫画を読んだフリしてプレゼンしてるのはどっち？【トム・ブラウンみちおVS榎田一王】

  三村マサカズ、さまぁ〜ず、やす子、みちお(トム・ブラウン)、榎田一王 らが出演しています

  https://tver.jp/episodes/epfbgsggb0
</p>

<p class="tver">
  ドラマ 晩酌の流儀５(2026) 8話の配信がTVerで始まりました。
  終了日未記載

  栗山千明、武田航平、辻凪子、おかやまはじめ、森崎博之、河野真也、藤尾仁志 らが出演しています

  https://tver.jp/episodes/epv6eybkv2
</p>

<p class="tver">
  ドラマ ストレンジ -伊藤潤二の夜も眠れぬ奇妙な話-(2026) 8話の配信がTVerで始まりました。
  8/29 0:51まで

  細田佳央太、莉子、柳ゆり菜、藤本洸大、若井尚子、松瀬太虹、和内璃乃、高野渚 らが出演しています

  https://tver.jp/episodes/ep1rl7g0cg
</p>

<p class="tver">
  ドラマ 名探偵のままでいて(2026) 6話の配信がTVerで始まりました。
  8/29 0:15まで

  吉川愛、綱啓永、恒松祐里、髙松アロハ(超特急)、坂元愛登、峯村リエ、大朏岳優、吉沢悠、奥田瑛二 らが出演しています

  https://tver.jp/episodes/epvlnz73ko
</p>

<p class="tver">
  ドラマ 踊る大捜査線(1997) 8話の配信がTVerで始まりました。
  9/18 23:59まで

  織田裕二、柳葉敏郎、深津絵里、水野美紀、ユースケ・サンタマリア らが出演しています

  https://tver.jp/episodes/epkwqx6o83
</p>

<p class="tver">
  ドラマ 正義は勝つ Justice・for・all(1995) 8話の配信がTVerで始まりました。
  8/28 23:59まで

  織田裕二、鶴田真由、室井滋、段田安則、井上晴美、松崎しげる、井上順 らが出演しています

  https://tver.jp/episodes/epjwf36rq6
</p>

<p class="tver">
  ドラマ 翼をください！(1996) 8話の配信がTVerで始まりました。
  8/28 23:59まで

  内田有紀、反町隆史、水野美紀、細川直美、矢田亜希子、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep22s3d3up
</p>

<p class="tver">
  ドラマ 東京ラブストーリー(1991) 7話の配信がTVerで始まりました。
  8/28 23:59まで

  鈴木保奈美、織田裕二、有森也実、江口洋介、中山秀征 らが出演しています

  https://tver.jp/episodes/ep1f4ov6b3
</p>

<p class="tver">
  ドラマ Ｔシャツが乾くまで(2026) 7話の配信がTVerで始まりました。
  8/28 21:59まで

  蒼井優、中島歩、久保田薫、田口浩正、菜葉菜、酒井貴浩、寿昌磨、夏帆、リリー・フランキー、松山ケンイチ らが出演しています

  https://tver.jp/episodes/epclctqnq8
</p>

<p class="tver">
  ドラマ リーガルビート -逆転の法廷-(2026) 5話の配信がTVerで始まりました。
  8/28 21:53まで

  鈴鹿央士、小雪、前原瑞樹、夏生大湖、伊藤万理華、森永悠希、樋口幸平、松澤匠、山口まゆ、田辺誠一、田中哲司、稲垣吾郎 らが出演しています

  https://tver.jp/episodes/epaj2r5wqk
</p>

<p class="tver">
  ドラマ 真夏のシンデレラ(2023) 10話の配信がTVerで始まりました。
  8/28 23:59まで

  森七菜、間宮祥太朗、神尾楓珠、吉川愛、萩原利久、白濱亜嵐、仁村紗和、水上恒司、山崎紘菜 らが出演しています

  https://tver.jp/episodes/epo5or2peo
</p>

<p class="tver">
  アニメ 鎧真伝サムライトルーパー(2026) 19話の配信がTVerで始まりました。
  8/29 0:00まで

  石橋陽彩、榎木淳弥、村瀬歩、武内駿輔、熊谷健太郎、増田俊樹、Lynn、小西克幸、佐藤拓也、鳥海浩輔、寺島拓篤、杉田智和、天崎滉平、鈴村健一、沢城千春、竹内良太、遠藤大智、熊谷俊輝 らが出演しています

  https://tver.jp/episodes/eppjpf949q
</p>

<p class="tver">
  アニメ ワールド イズ ダンシング(2026) 8話の配信がTVerで始まりました。
  8/31 22:00まで

  花守ゆみり、土屋神葉、内田真礼、朴璐美、櫻井孝宏、小西克幸、飛田展男、能登麻美子、水瀬いのり らが出演しています

  https://tver.jp/episodes/epzpw4ss2u
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 17話の配信がTVerで始まりました。
  8/28 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epuf6e10ey
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 33話の配信がTVerで始まりました。
  8/28 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epm8bj4osx
</p>

<p class="tver">
  ドラマ 天狗の台所(2024・2期) 2話の配信がTVerで始まりました。
  8/28 12:00まで

  駒木根葵汰、塩野瑛久、越山敬達、角田晃広(東京03) らが出演しています

  https://tver.jp/episodes/epr144z6fo
</p>

<p class="tver">
  ドラマ あなたには帰る家がある(2018) 8話の配信がTVerで始まりました。
  8/27 11:59まで

  中谷美紀、玉木宏、駿河太郎、高橋メアリージュン、桜田ひより、萩原利久、梅沢昌代、田村泰二郎、福地桃子、三木理紗子、畑芽育、丘みつ子、森本のぶ、浅見小四郎、夏川さつき、笛木優子、藤本敏史(FUJIWARA)、ユースケ・サンタマリア、木村多江 らが出演しています

  https://tver.jp/episodes/epoam93bv1
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 6話の配信がTVerで始まりました。
  8/27 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、光石研、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/ep9lhqvr5v
</p>

<p class="tver">
  ドラマ オーバー30(2009) 11～13話の配信がTVerで始まりました。
  終了日未記載

  島崎和歌子、遊井亮子、高知東生、鏑木海智、升毅、相本久美子、中原ひとみ、角替和枝、藁科みき、加藤忍、中尾ミエ らが出演しています

  https://tver.jp/episodes/epr48tt82l
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 9話の配信がTVerで始まりました。
  8/27 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、横田栄司、高橋洋、葉山奨之、中島ひろ子、岡田浩暉、内田理央、橋爪淳、日向丈、今藤洋子、佐々木一平、清水優、宇梶剛士、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep8di8cm6n
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 32話の配信がTVerで始まりました。
  8/28 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epuk8vv936
</p>

<p class="tver">
  アニメ 花織さんは転生しても喧嘩がしたい(2026) 6話の配信がTVerで始まりました。
  8/28 12:00まで

  福山潤、関根明良、星希成奏、上田瞳、徳井青空、稗田寧々、高橋李依、五十嵐裕美、伊藤彩沙、日笠陽子 らが出演しています

  https://tver.jp/episodes/epys1m2qf1
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2024) 13話の配信がTVerで始まりました。
  8/28 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epc1nqn4k9
</p>

<p class="tver">
  アニメ クッキングパパ(1992) 32(33)話の配信がTVerで始まりました。
  9/4 08:30まで

  玄田哲章、勝生真沙子、高山みなみ、冬馬由美、飛田展男、かないみか らが出演しています

  https://tver.jp/episodes/ep50s7gcao
</p>
