---
title: 2026/10/01 のピックアップ
date: 2026-10-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  はいからさんが通る 7～9話｜2026/9/30配信｜日本アニメーション・シアター｜1:13:25
  ※ 2027/1/6 18:00まで

  横沢　啓子：花村紅緒
  森　功至：伊集院忍
  杉山佳寿子：森蘭丸
  増岡　弘：牛五郎
  峰　あつ子：伊集院夫人
  永井　一郎：花村少佐
  肝付　兼太：酒乱童子
  鈴木れい子：ばあや
  山田　礼子：侍女如月
  宮内　幸平：伯爵
  井上真樹夫：青江冬星
  安原　義人：鬼島森吾
  永井　一郎：ナレーター

  https://youtu.be/jD3dMJhceFo
</p>

<p class="yt">
  BOOM BOOM SATELLITES 「LAY YOUR HANDS ON ME」 FULL Ver.｜2026/9/30配信｜BOOM BOOM SATELLITES Official YouTube Channel｜6:10
  ※ 9/27放送のEIGHT-JAMでも取り上げられた「LAY YOUR HANDS ON ME」のフルバージョンが公開されました。当サイトでは9/28のピックアップに機動戦士ガンダムUCのEDにもなった「BROKEN MIRROR」を置いてあります。1ヶ月が経過した後には[ongoingメニュー]から[Youtubeのongoing]に置く予定です

  https://youtu.be/W2w7uG4N79M
</p>

<p class="tver">
  バラエティ ジンギス談！(2026) の配信がTVerで始まりました。 22分
  10/8 12:00まで

  ※ 「南海キャンディーズ」が登場！山ちゃんが赤裸々告白！

  タカアンドトシ、梶原小春、南海キャンディーズ(山里亮太、しずちゃん) らが出演しています

  https://tver.jp/episodes/epzwybacr6
</p>

<p class="tver">
  ドラマ 小公女セイラ(2009) 7話の配信がTVerで始まりました。 50分
  10/7 11:59まで

  志田未来、林遣都、田辺誠一、岡本杏理、忽那汐里、小島藤子、朝丘マミ、麻生夏子、池田愛、石橋菜津美、桜井ひかり、岸井ゆきの、指出瑞貴、篠原愛実、高月彩良、中村有沙、西崎莉麻、増元裕子、中村加弥乃、MIO、YAE、日向千歩、ふせえり、鯨井未呼斗、中島まりな、浅丘ルリ子、要潤、黒川智花、広岡由里子、大和田伸也、斉藤由貴、樋口可南子 らが出演しています

  https://tver.jp/episodes/epna4bx68y
</p>

<p class="tver">
  ドラマ ボク、運命の人です。(2017) 8～10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  亀梨和也、木村文乃、満島真之介、菜々緒、澤部佑(ハライチ)、渡辺江里子(阿佐ヶ谷姉妹)、岡野真也、杉本哲太、大倉孝二、石野真子、田辺誠一、山下智久 らが出演しています

  https://tver.jp/episodes/eprddrr3mq
</p>

<p class="tver">
  ドラマ ブラザー・トラップ(2023) 8話の配信がTVerで始まりました。 21分
  10/7 11:59まで

  久間田琳加、山中柔太朗(M!LK)、工藤遥、若林時英、渡邉美穂、榊原有那、石井礼美、NANA(MAX)、塩野瑛久 らが出演しています

  https://tver.jp/episodes/ep5ga4ra1v
</p>

<p class="tver">
  ドラマ 野ブタ。をプロデュース(2005) 8～10(最終)話の配信がTVerで始まりました。 46分
  終了日未記載

  亀梨和也、山下智久、堀北真希、戸田恵梨香、中島裕翔、岡田義徳、深浦加奈子、木村祐一、不破万作、たくませいこ、宇梶剛士、忌野清志郎、夏木マリ、大東駿介 らが出演しています

  https://tver.jp/episodes/ep0vkt8xbf
</p>

<p class="tver">
  ドラマ 時代劇シリーズ 必殺仕事人Ⅳ(1983) 29話の配信がTVerで始まりました。 46分
  終了日未記載

  藤田まこと、中条きよし、三田村邦彦、山田五十鈴、鮎川いずみ、ひかる一平、梅津栄 らが出演しています

  https://tver.jp/episodes/epvs75kmzk
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 24(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epso7spa7u
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 7話の配信がTVerで始まりました。 24分
  10/8 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/ep2pwmgg8q
</p>

<p class="tver">
  アニメ 魔法のエンジェル スイートミント(1991) 6話の配信がTVerで始まりました。 24分
  終了日未記載

  笠原弘子、渕崎ゆり子、佐々木望、玉川砂記子、丸山裕子、辻村真人、滝沢久美子、伊井篤史、緒方賢一、松田辰也、川田妙子 らが出演しています

  https://tver.jp/episodes/ep5o50h9lq
</p>
