---
title: 2026/9/05 のピックアップ
date: 2026-09-05
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1618回の配信がTVerで始まりました。 47分
  9/12 14:59まで

  ※ NON STYLEに関西人が直球質問！「井上さんはイケメンじゃないのに、なんでそんなに自信があるの？」

  明石家さんま、間寛平、村上ショージ、蛍原徹、アキナ、NON STYLE、山崎香佳 らが出演しています

  https://tver.jp/episodes/epn9qr7svr
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。 22分
  9/12 16:00まで

  ※ 鉄道写真部ゆりかもめ編！良純＆徳永＆与田祐希

  相葉雅紀、えなりかずき、石原良純、徳永ゆうき、与田祐希 らが出演しています

  https://tver.jp/episodes/epem75btxv
</p>

<p class="tver">
  ドラマ 絶メシロード(2022・2期) 5～8(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  濱津隆之 らが出演しています

  https://tver.jp/episodes/epn50mzwk0
</p>

<p class="tver">
  ドラマ 絶メシロード(2020) 9～12(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  山本耕史、濱津隆之、野間口徹、原ふき子、木野花 らが出演しています

  https://tver.jp/episodes/ep8tubfkj1
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 63話の配信がTVerで始まりました。 24分
  9/12 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epx4fu5gx7
</p>

<p class="tver">
  アニメ MIX MEISEI STORY ～二度目の夏、空の向こうへ～(2023) 8話の配信がTVerで始まりました。 24分
  9/12 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epnuupvksi
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021) 13話の配信がTVerで始まりました。 24分
  9/12 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/epjo3f21jz
</p>

<p class="yt">
  アニメ リボンの騎士 33～36話｜2026/9/4配信｜手塚プロダクション公式チャンネル｜1:41:34
  ※ 10/13 14:00まで

  太田　淑子：サファイヤ
  貴家　堂子：チンク
  小林　恭治：王
  新道乃里子：王妃
  塩見　龍介：魔王メフィスト
  武藤　礼子：ヘケート
  雨森　雅司：ジュラルミン大公
  北川智恵子：プラスチック
  納谷　悟郎：ナイロン卿

  https://youtu.be/kXB-8WJ888o
</p>

<p class="yt">
  アニメ「FAIRY TAIL (新シーズン)」200～210話｜2026/9/5配信｜アニメタイムズ公式｜4:28:47
  ※ 10/7(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/YpPO1YNqn4A
</p>

<p class="tver">
  バラエティ 土曜日もよ～いドン！(2026) の配信がTVerで始まりました。 40分
  9/12 10:30まで

  ※ 渋谷凪咲大興奮！エヴァンゲリオン最新ライド＆ 生ミッフィーにキュン♥NMBまいてぃーと２人旅

  渋谷凪咲、平山真衣(NMB48)、岡安譲 らが出演しています

  https://tver.jp/episodes/epkn1mbyit
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。 45分
  9/12 10:29まで

  ※ ひんやりシャリシャリ絶品「飲むかき氷」▽夏の沖縄ルーク神写真

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epbcny62mk
</p>

<p class="tver">
  バラエティ 音楽マシマシ(2026) の配信がTVerで始まりました。 24分
  9/12 12:00まで

  ※ AKB48・いぎなり東北産・No.18が登場！

  吉瀬真珠、AKB48(川村結衣、近藤沙樹) らが出演しています

  https://tver.jp/episodes/epm5ojswn0
</p>

<p class="tver">
  ドラマ ギルティ～この恋は罪ですか？～(2020) 1話の配信がTVerで始まりました。 44分
  9/30 12:00まで

  新川優愛、町田啓太、中村ゆりか、神尾楓珠、阿部亮平(Snow Man)、長井短、結城萌、大西礼芳、筧美和子、徳永えり、戸田菜穂、小池徹平 らが出演しています

  https://tver.jp/episodes/epyyleidii
</p>

<p class="tver">
  ドラマ 恋がヘタでも生きてます(2017) 6話の配信がTVerで始まりました。 44分
  9/19 12:00まで

  高梨臨、田中圭、土村芳、淵上泰史、内田理央、小関裕太、長田成哉、今野杏南、中村公隆、雨野宮将明、小西遼生、野波麻帆、寺脇康文 らが出演しています

  https://tver.jp/episodes/epnpd5k9t6
</p>

<p class="tver">
  ドラマ めぐる未来(2024) 1話の配信がTVerで始まりました。 43分
  9/12 12:00まで

  萩原利久、早見あかり、大西礼芳、時任勇気、中井友望、香音、田中偉登、藤原光博(リットン調査団)、岩瀬顕子、太田駿静(OCTPATH)、佐伯日菜子、勝村政信 らが出演しています

  https://tver.jp/episodes/epndxyhirt
</p>

<p class="tver">
  ドラマ ラブリラン(2018) 1話の配信がTVerで始まりました。 44分
  10/12 12:00まで

  中村アン、古川雄輝、佐津川愛美、小松利昌、渡部秀、片瀬那奈、村杉蝉之介、ふせえり、大政絢、大谷亮平、横田美紀、山元隆弘 らが出演しています

  https://tver.jp/episodes/epe3ubd8ju
</p>

<p class="tver">
  ドラマ 焼いてるふたり ～交際０日 結婚から恋をはじめよう～(2024) 1話の配信がTVerで始まりました。 24分
  10/12 12:00まで

  黒羽麻璃央、松村沙友理、濱正悟 らが出演しています

  https://tver.jp/episodes/ep8a4ko5dh
</p>

<p class="tver">
  ドラマ ヒガンバナ～警視庁捜査七課～(2016) 6～8話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  堀北真希、檀れい、知英、高梨臨、YOU、DAIGO、高橋惠子、市川知宏、木本武宏、平山浩行、佐野史郎、大地真央、浅野和之、酒井美紀 らが出演しています

  https://tver.jp/episodes/epzgcntgyl
</p>

<p class="tver">
  ドラマ 東京タラレバ娘(2017) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  吉高由里子、榮倉奈々、大島優子、坂口健太郎、平岡祐太、石川恋、金田明夫、田中圭、鈴木亮平、速水もこみち らが出演しています

  https://tver.jp/episodes/epvfjy36r3
</p>

<p class="tver">
  ドラマ 海に眠るダイヤモンド(2024) 6話の配信がTVerで始まりました。 47分
  9/9 11:59まで

  神木隆之介、斎藤工、杉咲花、池田エライザ、清水尋也、赤間麻里子、谷川昭一朗、桜井聖、宮崎吐夢、中嶋朋子、酒向芳、さだまさし、國村隼、尾美としのり、美保純、土屋太鳳、沢村一樹、宮本信子 らが出演しています

  https://tver.jp/episodes/epswy7ss4j
</p>

<p class="tver">
  ドラマ ニッポンノワール－刑事Yの反乱－(2019) 6～7話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  賀来賢人、広末涼子、井浦新、夏帆、工藤阿須加、北村一輝 らが出演しています

  https://tver.jp/episodes/epsrnwoxx2
</p>

<p class="tver">
  ドラマ ファーストペンギン！(2022) 6～7話の配信がTVerで始まりました。 51分
  9/12 11:59まで

  奈緒、堤真一、鈴木伸之、渡辺大知、ファーストサマーウイカ、遠山俊也、志田未来、梶原善、吹越満、梅沢富美男、足立梨花、高杉亘 らが出演しています

  https://tver.jp/episodes/epr5tuif53
</p>

<p class="tver">
  ドラマ すいか(2003) 6～7話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  小林聡美、ともさかりえ、市川実日子、浅丘ルリ子、小泉今日子、高橋克実、金子貴俊、もたいまさこ、白石加代子、柏原収史 らが出演しています

  https://tver.jp/episodes/epnrmej6xn
</p>

<p class="tver">
  ドラマ コントが始まる(2021) 6～7話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  菅田将暉、有村架純、仲野太賀、古川琴音、神木隆之介 らが出演しています

  https://tver.jp/episodes/epmc12n1nj
</p>

<p class="tver">
  ドラマ ギャルサー(2006) 6～8話の配信がTVerで始まりました。 46分
  9/12 11:59まで

  藤木直人、戸田恵梨香、鈴木えみ、矢口真里、新垣結衣、岩佐真悠子、佐津川愛美、奈津子、佐藤隆太、古田新太、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epi3ljsbm4
</p>

<p class="tver">
  ドラマ 偽装不倫(2019) 6～7話の配信がTVerで始まりました。 51分
  9/12 11:59まで

  杏、宮沢氷魚、瀬戸利樹、MEGUMI、田中道子、夏子、伊沢弘、朝加真由美、谷原章介、仲間由紀恵、眞島秀和 らが出演しています

  https://tver.jp/episodes/epl3v5001e
</p>

<p class="tver">
  ドラマ 偽装の夫婦(2015) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  天海祐希、沢村一樹、内田有紀、工藤阿須加、坂井真紀、佐藤二朗、キムラ緑子、富司純子 らが出演しています

  https://tver.jp/episodes/ephlgs0p82
</p>

<p class="tver">
  ドラマ あなたの番です(2019) 6～8話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  原田知世、田中圭、西野七瀬、竹中直人、木村多江、生瀬勝久、袴田吉彦、野間口徹、片岡礼子、坪倉由幸(我が家) らが出演しています

  https://tver.jp/episodes/epew9lbfzt
</p>

<p class="tver">
  ドラマ スーパーサラリーマン左江内氏(2017) 6～7話の配信がTVerで始まりました。 46分
  9/12 11:59まで

  堤真一、小泉今日子、ムロツヨシ、島崎遥香、賀来賢人、早見あかり、佐藤二朗、笹野高史、高橋克実、中村倫也 らが出演しています

  https://tver.jp/episodes/ep9ftwnt9u
</p>

<p class="tver">
  ドラマ 恋です！〜ヤンキー君と白杖ガール〜(2021) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  杉咲花、杉野遥亮、奈緒、鈴木伸之、田辺桃子、細田佳央太、生見愛瑠、堀夏喜、濱田祐太郎、ファーストサマーウイカ、戸塚純貴、古川雄大、岸谷五朗 らが出演しています

  https://tver.jp/episodes/ep6y3u30vv
</p>

<p class="tver">
  ドラマ いつか、ヒーロー(2025) 4話の配信がTVerで始まりました。 46分
  終了日未記載

  桐谷健太、宮世琉弥、長濱ねる、泉澤祐希、曽田陵介、星乃夢奈、小関裕太、でんでん、板谷由夏、北村有起哉 らが出演しています

  https://tver.jp/episodes/ep3uluzial
</p>

<p class="tver">
  ドラマ 過保護のカホコ(2017) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  高畑充希、黒木瞳、竹内涼真、佐藤二朗、三田佳子、西岡徳馬、平泉成、時任三郎、西尾まり、中島ひろ子、濱田マリ、久保田紗友 らが出演しています

  https://tver.jp/episodes/ep53poht7o
</p>

<p class="tver">
  ドラマ ムチャブリ！わたしが社長になるなんて(2022) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  高畑充希、志尊淳、夏帆、笠松将、山田真歩、忍成修吾、片山友希、優香、坪倉由幸(我が家)、神保悟志、荒川良々、松田翔太、草刈民代 らが出演しています

  https://tver.jp/episodes/ep4io42358
</p>

<p class="tver">
  ドラマ 悪女（わる）～働くのがカッコ悪いなんて誰が言った？～(2022) 6～7話の配信がTVerで始まりました。 52分
  9/12 11:59まで

  今田美桜、江口のりこ、鈴木伸之、高橋文哉、石井杏奈、松田凌、升毅、向井理 らが出演しています

  https://tver.jp/episodes/ep2lhcho31
</p>

ドラマ 花咲舞が黙ってない(2024) 6～7話の配信がTVerで始まりました。 46分
9/12 11:59まで

今田美桜、山本耕史、飯尾和樹(ずん)、要潤、菊地凛子、上川隆也、宮崎美子、堀田茜、田村健太郎、猪塚健太、ドロンズ石本、平原テツ、森下じんせい らが出演しています

https://tver.jp/episodes/eppo1czs7x

<p class="tver">
  ドラマ ホタルノヒカリ2(2010) 6～8話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  綾瀬はるか、向井理、板谷由夏、臼田あさ美、安田顕、石井萌々果、高橋努、中別府葵、市川知宏、君沢ユウキ、井出卓也、佐藤千亜妃、柳澤貴彦、真下玲奈、木村多江、藤木直人 らが出演しています

  https://tver.jp/episodes/ep2jnqk6l5
</p>

<p class="tver">
  ドラマ ホタルノヒカリ(2007) 6～7話の配信がTVerで始まりました。 46分
  9/12 11:59まで

  綾瀬はるか、国仲涼子、加藤和樹、武田真治、板谷由夏、安田顕、浅見れいな、渡部豪太、渋江譲二、松本まりか、松下さら、丸山智己、松永博史、藤木直人 らが出演しています

  https://tver.jp/episodes/ep670516za
</p>

<p class="tver">
  ドラマ Dr.チョコレート(2023) 6～7話の配信がTVerで始まりました。 46分
  9/12 11:59まで

  坂口健太郎、白山乃愛、西野七瀬、葵わかな、鈴木紗理奈、前田旺志郎、古川雄大、福山翔大、平子祐希(アルコ&ピース)、石川恋、青木瞭、佐野弘樹、井上想良、田中道子、阿部進之介、青島心、小澤征悦、斉藤由貴 らが出演しています

  https://tver.jp/episodes/ep0nk1dpru
</p>

<p class="tver">
  ドラマ 14才の母～愛するために 生まれてきた～(2006) 6～8話の配信がTVerで始まりました。 47分
  9/12 11:59まで

  志田未来、田中美佐子、生瀬勝久、山口紗弥加、河本準一(次長課長)、三浦春馬、谷村美月、北乃きい、高畑淳子、海東健、金子さやか、井坂俊哉、北村一輝、室井滋、小清水一揮 らが出演しています

  https://tver.jp/episodes/ep0fpqo6oo
</p>

<p class="tver">
  ドラマ 僕らは恋がヘタすぎる(2020) 3話の配信がTVerで始まりました。 24分
  終了日未記載

  川島海荷、白洲迅、浅川梨奈、嶋﨑斗亜(Lilかんさい)、野呂佳代、塩野瑛久 らが出演しています

  https://tver.jp/episodes/ep0202veoo
</p>

<p class="tver">
  アニメ 宇宙兄弟(2013) 62話の配信がTVerで始まりました。 24分
  9/12 12:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/epifak5kzl
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2025) 28話の配信がTVerで始まりました。 24分
  9/12 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、久野美咲、瀬戸麻沙美、島本須美 らが出演しています

  https://tver.jp/episodes/epq2mkmu3a
</p>

<p class="tver">
  アニメ 身代わり令嬢を救ったのは冷酷無慈悲な氷の王子の愛でした(2026) 9話の配信がTVerで始まりました。 5分
  9/12 12:00まで

  伊藤美来、阿座上洋平、青木瑠璃子、日笠陽子、市ノ瀬加那、千葉翔也、青山穣、石黒史剛、吉川幸宏、前川涼子、奈波果林 らが出演しています

  https://tver.jp/episodes/ep2lt30vd0
</p>

<p class="tver">
  アニメ パンプキン・シザーズ(2006) 5話の配信がTVerで始まりました。 24分
  終了日未記載

  伊藤静、三宅健太、鳥海浩輔、鈴木千尋、植田佳奈、チョー、小川一樹、志村知幸 らが出演しています

  https://tver.jp/episodes/epb27gw39n
</p>

<p class="tver">
  アニメ あたしンち(2002) 9話の配信がTVerで始まりました。 24分
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/epwj0aruuy
</p>
