---
title: 2026/7/4 のピックアップ
date: 2026-07-04
tags:
  - TVer
  - Youtube
category: vidpick
---

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 全14話の配信がTVerで始まりました。
  7/12 3:07まで

※ 本日の配信では2～14話の配信なのですが、全話終了日が同じだったので全話配信に表記を変えました。

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/eps4aolye5
</p>

<p class="tver">
  アニメ 黄泉のツガイ(2026) 13話の配信がTVerで始まりました。
  7/12 2:37まで

  小野賢章、宮本侑芽、中村悠一、久野美咲、小山力也、本田貴子、島袋美由利、諏訪部順一 らが出演しています

  https://tver.jp/episodes/epqfb7vkdt
</p>

<p class="yt">
  TVアニメ「BLEACH 千年血戦篇」#27～40｜2026/7/4配信｜『BLEACH』アニメ公式チャンネル｜5:34:35
※ 7/11(土) 19:59まで

森田　成一：黒崎一護
杉山　紀彰：石田雨竜
松岡　由貴：井上織姫
安元　洋貴：茶渡泰虎
高木　渉　：志波岩鷲
折笠富美子：朽木ルキア
伊藤健太郎：阿散井恋次
三木眞一郎：浦原喜助
ゆきのさつき：四楓院夜一
大塚　明夫：京楽春水
置鮎龍太郎：朽木白哉
　朴　璐美：日番谷冬獅郎
立木　文彦：更木剣八
速水　奨　：藍染惣右介
菅生　隆之：ユーハバッハ
梅原裕一郎：ユーグラム・ハッシュヴァルト
武内　駿輔：アスキン・ナックルヴァール
小山　剛志：ジェラルド・ヴァルキリー

  https://youtu.be/1KE0eiQxOPY
</p>

<p class="yt">
  映画「CASSHERN(2004)」｜2026/7/3配信｜松竹シネマPLUSシアター｜2:20:08
※ 7/15 23:59まで。時間が書いてないので時間は前日終了までにしました。

伊勢谷友介、麻生久美子、寺尾 聰、樋口可南子、小日向文世、宮迫博之、佐田真由美、要潤、西島秀俊、及川光博、寺島進、大滝秀治、三橋達也(特別出演)、唐沢寿明 ほか

  https://youtu.be/_nLaLdL-SV0
</p>

<p class="tver">
  ドラマ こんなところで裏切り飯～嵐を呼ぶ七人の役員～(2024) 1話の配信がTVerで始まりました。
  終了日未記載

  志田彩良、伊武雅刀、前田拳太郎、守屋茜、吉田有希、大熊杏優、川島潤哉、中野英雄、小沢真珠、勝村政信、マイケル富岡、磯野貴理子、田山涼成 他

  https://tver.jp/episodes/epor1bdkll
</p>

<p class="tver">
  ドキュメンタリー 人生最高レストラン(2026) の配信がTVerで始まりました。
  7/11 23:29まで

  ※ ゲスト：シソンヌ

  加藤浩次、宇賀神メグ、島崎和歌子、朝日奈央、シソンヌ(長谷川忍、じろう) らが出演しています

  https://tver.jp/episodes/epuk9yd1oi
</p>

<p class="tver">
  ドキュメンタリー Google Pixel presents ANOTHER SKY(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ゲスト：佐々木希／石川県 能登

  今田耕司、堀田真由、佐々木希、バッキー木場 らが出演しています

  https://tver.jp/episodes/epjo9k721t
</p>

<p class="tver">
  バラエティ 田村淳の夢を叶えるキャンピングカー(2026) 29回の配信がTVerで始まりました。
  終了日未記載

  ※ 今回のテーマは『納涼キャンプ』淳がオダウエダの2人と共に避暑地へ！

  田村淳、オダウエダ、タケト、シークエンスはやとも らが出演しています

  https://tver.jp/episodes/ephpq223rc
</p>

<p class="tver">
  バラエティ THE MUSIC DAY 2026(2026) の配信がTVerで始まりました。
  終了日未記載

  Part1：https://tver.jp/episodes/ept7fku599
  Part2：https://tver.jp/episodes/epgn3kmfv4
  Part3：https://tver.jp/episodes/epoeu5xqgg
  Part4：https://tver.jp/episodes/epyjaz01iq
  Part5：https://tver.jp/episodes/epy62xq3w2
  Part6：https://tver.jp/episodes/eptp0n9veb
  Part7：https://tver.jp/episodes/epxx49xkhd
  Part8：https://tver.jp/episodes/epnev1s29d
  Part9：https://tver.jp/episodes/eppf698zqy

  櫻井翔、羽鳥慎一、バカリズム、水卜麻美、市來玲奈、M!LK、キマグレン、CANDY TUNE、バブルガム ブラザーズ、ROIROM、島谷ひとみ、KiiiKiii、MAZZEL、kurayamisaka、AND2BLE、かりゆし58、キタニタツヤ、FUNKY MONKEY BΛBY’S、マルシィ、家入レオ、アイナ・ジ・エンド、高嶋ちさ子、&TEAM、LINDBERG、TREASURE、SUPER BEAVER、中島健人、超特急、松本伊代、CUTIE STREET、TWS、Number_i、小室哲哉、NCT WISH、藤田恵美(Le Couple)、Do As Infinity、IVE、平原綾香、B.B.クィーンズ、AiScReam、King & Prince、SixTONES、NEWS、Snow Man、timelesz、中島健人、島袋寛子、NiziU、三浦璃来、木原龍一、緑黄色社会、あいみょん、大泉洋、海援隊、BE:FIRST、山崎育三郎、RIKU、MIIHI、NiziU、坂本花織、ブルーノ・マーズ、Travis Japan、なにわ男子、渡辺直美、HANA、緑黄色社会、大塚愛、BONNIE PINK、けんじ(19)、3B LAB.☆S、八木勇征、福原遥、酒井法子、BEOMGYU、TAEHYUN、TOMORROW X TOGETHER、亀梨和也、山下智久、福山雅治 らが出演しています

</p>

<p class="tver">
  バラエティ しんごの🌱(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 「社長 or NOT」日本イチ社長が多い街で調査

  香取慎吾、森田哲矢(さらば青春の光) らが出演しています

  https://tver.jp/episodes/ep3ihsowax
</p>

<p class="tver">
  バラエティ 映画「口に関するアンケート」に関するアンケートに関する番組(2026) 5回の配信がTVerで始まりました。
  終了日未記載

  ※ 202606071852

  板垣李光人、綱啓永、吉川愛、MOMONA、ME:I、森愁斗(BUDDiiS)、西山智樹、TAGRIGHT、柄本時生、中村獅童、上垣皓太朗 他

  https://tver.jp/episodes/epbigsfciw
</p>

<p class="tver">
  ドラマ ナツノマンザイ(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  エバース(佐々木隆史、町田和樹)、たくろう(赤木裕、きむらバンド)、金属バット(小林圭輔、友保隼平)、Dr.ハインリッヒ(幸、彩)、ミルクボーイ(駒場孝、内海崇) らが出演しています

  https://tver.jp/episodes/epbhsks5b2
</p>

<p class="tver">
  ドラマ ミッドナイト屋台２～ル・モンドゥ～(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  神山智洋(WEST.)、中村海人(Travis Japan)、剛力彩芽、小手伸也、矢花黎(B&ZAI)、竹中直人、浅野ゆう子、勝村政信、石田ひかり、橋本マナミ らが出演しています

  https://tver.jp/episodes/epksxts7wn
</p>

<p class="tver">
  ドラマ 修学旅行で仲良くないグループに入りました(2025) 1話の配信がTVerで始まりました。
  7/12 0:30まで

  藤本洸大、簡秀吉、桜木雅哉(原因は自分にある。)、福田歩汰(DXTEEN)、清水海李、水戸由菜、山田健人、相羽星良、彩香、泉有乃 らが出演しています

  https://tver.jp/episodes/ep69yccivg
</p>

<p class="tver">
  ドラマ 医師たちの恋愛事情(2015) 1話の配信がTVerで始まりました。
  終了日未記載

  斎藤工、石田ゆり子、相武紗季、平山浩行、三宅弘城、板谷由夏、伊原剛志、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epxcbd2vl6
</p>

<p class="tver">
  ドラマ 海の上の診療所(2013) 2話の配信がTVerで始まりました。
  終了日未記載

  松田翔太、武井咲、藤原紀香、福士蒼汰、荒川良々、植野行雄(デニス)、戸田恵梨香、寺島進、麻生祐未 らが出演しています

  https://tver.jp/episodes/epszcnrxti
</p>

<p class="tver">
  ドラマ ゴシップ＃彼女が知りたい本当の○○(2022) 11(最終)話の配信がTVerで始まりました。
  7/11 23:59まで

  黒木華、溝端淳平、野村周平、野間口徹、石井杏奈、寛一郎、一ノ瀬颯、りょう、安藤政信、生瀬勝久 らが出演しています

  https://tver.jp/episodes/epbk69r4iy
</p>

<p class="tver">
  ドラマ カイダン都市伝説-洒落怖(2021) 5話の配信がTVerで始まりました。
  終了日未記載

  大塚望由、岡田彩夢、桐乃みゆ、虹のコンキスタドール(隈本茉莉奈、的場華鈴)、清水理子、鶴見萌、中村朱里、根本凪、蛭田愛梨、山崎夏菜、大和明桜 らが出演しています

  https://tver.jp/episodes/ep4453agm4
</p>

<p class="tver">
  ドラマ ドラマ「永久少年 Eternal Boys」(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  松本岳、中塚皓平、反橋宗一郎、鈴木祐大、輝山立、細貝圭、田中美奈子 らが出演しています

  https://tver.jp/episodes/ep6vuao2w4
</p>

<p class="tver">
  アニメ LIAR GAME(2026) 13話の配信がTVerで始まりました。
  7/12 0:29まで

  仁見紗綾、大塚剛央 らが出演しています

  https://tver.jp/episodes/epfz9k0frx
</p>

<p class="tver">
  アニメ 天幕のジャードゥーガル(2026) 1～2話の配信がTVerで始まりました。
  終了日未記載

  関根明良、小清水亜美、桑島法子、齋藤潤、下野紘、鈴木崚汰、入野自由、浪川大輔、野島健児 らが出演しています

  https://tver.jp/episodes/ep3gzpe9x7
</p>

<p class="tver">
  アニメ 笑ゥせぇるすまん(1990) 41(43)話の配信がTVerで始まりました。
  終了日未記載
  ※ 10分のアニメです

  大平透 らが出演しています

  https://tver.jp/episodes/epbdvk431t
</p>

<p class="yt">
  アニメ「FAIRY TAIL」125～130話｜2026/7/4配信｜アニメタイムズ公式｜2:26:42
※ 2026/8/5(水) 10:29まで。毎土曜10:30～更新

柿原　徹也：ナツ
平野　綾　：ルーシィ
釘宮　理恵：ハッピー
中村　悠一：グレイ
大原さやか：エルザ
佐藤　聡美：ウェンディ
堀江　由衣：シャルル
羽多　野渉：ガジル
東地　宏樹：パンサーリリー
中原　麻衣：ジュビア
　辻　親八：マカロフ
小野　涼子：ミラジェーン
安元　洋貴：エルフマン
喜多村英梨：カナ
浪川　大輔：ジェラール
小西　克幸：ラクサス

  https://youtu.be/c7e3_NZdi44
</p>

<p class="tver">
  バラエティ 朝だ！生です旅サラダ(2026) の配信がTVerで始まりました。
  7/11 14:00まで

  ※ オランダの旅がスタート！運河に囲まれたアムステルダムの今を歩く！宮澤エマは奈良県でいにしえの歴史にふれる旅！

  松下奈緒、藤木直人、勝俣州和、濵田崇裕(WEST.)、宮澤エマ、Miyuu、大仁田美咲 らが出演しています

  https://tver.jp/episodes/epun0ee7kq
</p>

<p class="tver">
  バラエティ 痛快！明石家電視台(2026) 1611回の配信がTVerで始まりました。
  7/11 14:59まで

  ※ スガシカオに関西のお客さんが直球質問！名曲を生み出す(秘)ルーティン披露！

  明石家さんま、間寛平、村上ショージ、松尾伴内、中川家、スガシカオ、山崎香佳 らが出演しています

  https://tver.jp/episodes/epefbtvm0c
</p>

<p class="tver">
  バラエティ 相葉◎×部(2026) の配信がTVerで始まりました。
  7/11 16:00まで

  ※ 最弱王・木村拓哉の激戦！BABA抜き最弱王

  相葉雅紀、えなりかずき、木村拓哉、石原良純、板垣李光人、岡山天音、モナキ、勝地涼、北村一輝、熊元プロレス(紅しょうが)、倉科カナ、黒木華、劇団ひとり、小池栄子、坂本花織、高橋克実、仲里依紗、のん、深川麻衣、正門良規(Aぇ! group)、山崎育三郎、ローラ、山崎弘也(アンタッチャブル) らが出演しています

  https://tver.jp/episodes/eptl9e6vuq
</p>

<p class="tver">
  バラエティ 金曜ミステリークラブ!!!(2026) の配信がTVerで始まりました。
  7/10 18:59まで

  ※ 世界的プリンセス&日本の女傑ミステリーSP

  ノブ(千鳥)、二宮和也、橋本環奈、玉山鉄二、柳原可奈子、横澤夏子、井ノ原快彦(20th Century)、松井ケムリ(令和ロマン)、水卜麻美、沢城みゆき、大塚芳忠、細木かおり らが出演しています

  https://tver.jp/episodes/epllk1p3do
</p>

<p class="tver">
  バラエティ サタプラ(2026) 572回の配信がTVerで始まりました。
  7/11 18:59まで

  ※ 夏こそ手軽に！マニア参戦『レトルトスパイスカレー』ランキング！連日大盛況！「大ゴッホ展」日本人の心を掴む秘密！雑誌編集者が本音でBEST10『スタンダードプロダクツ』

  前編：https://tver.jp/episodes/epyadcm4j7
  後編：https://tver.jp/episodes/ep25f0ep5i

  アンタッチャブル、正門良規(Aぇ! group)、アンミカ、陣内孝則、松嶋尚美、市川紗椰、小宮山雄飛、野々村友紀子、渡辺えり、平子祐希(アルコ&ピース)、清水麻椰、海渡未来 らが出演しています
</p>

<p class="tver">
  ドラマ 勇者ヨシヒコと魔王の城(2011) 1～4話の配信がTVerで始まりました。
  終了日未記載

  山田孝之、木南晴夏、ムロツヨシ、岡本あずさ、佐藤二朗、宅麻伸 らが出演しています

  https://tver.jp/episodes/ep1o7sztwq
</p>

<p class="tver">
  アニメ 鉄腕アトム(1963) 35話の配信がTVerで始まりました。
  7/11 18:30まで

清水マリ、勝田久、水垣洋子、小宮山清、矢島正明、横森久、兼本新吾、坂本新兵、松島みのりらが出演しています

  https://tver.jp/episodes/ep00036dk0
</p>

<p class="tver">
  アニメ 東京リベンジャーズ(2021・1期) 1～12話の配信がTVerで始まりました。
  終了日未記載

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、日野聡、水中雅章、松岡禎丞、木村昴、野津山幸宏、河西健吾、小野大輔、竹内栄治、森久保祥太郎、江口拓也 らが出演しています

  https://tver.jp/episodes/ep0ri7n569
</p>

<p class="yt">
  「映画 猫侍」北村一輝主演!猫好きは、必見!!白猫・玉之丞に萌える!!｜2026/7/3配信｜AMG公式チャンネル｜1:40:05
※ 期間限定とも期限も書いていませんが、お早めに

  北村一輝、寺脇康文、蓮佛美沙子、浅利陽介、戸次重幸、温水洋一、洞口依子、斎藤洋介 らが出演しています

  https://youtu.be/v_8rYGokYdc
</p>

<p class="tver">
  バラエティ いつものチェーン店でどう？～今日は何のトークに乾杯？～(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 野呂佳代、安達祐実、ヒコロヒーが3人で初MC！

  野呂佳代、安達祐実、ヒコロヒー、高城れに(ももいろクローバーZ) らが出演しています

  https://tver.jp/episodes/epikyayt7j
</p>

<p class="tver">
  ドラマ 週末婚(1999) 5話の配信がTVerで始まりました。
  7/10 11:59まで

  永作博美、松下由樹、阿部寛、沢村一樹、川原亜矢子、有坂来瞳、永倉大輔、久富惟晴、岩橋道子、東海林寿剛、神山繁、織本順吉、夏桂子、戸川京子、根岸季衣、中原ひとみ、仲村トオル 他

  https://tver.jp/episodes/epof6uhrlq
</p>

<p class="tver">
  ドラマ 下町ロケット(2018) 7話の配信がTVerで始まりました。
  7/11 11:59まで

  阿部寛、土屋太鳳、竹内涼真、安田顕、徳重聡、和田聰宏、今野浩喜、中本賢、谷田歩、馬場徹、立石涼子、朝倉あき、ヤマダユウスケ、松川尚瑠輝、菅野莉央、ぼくもとさきこ、高島豪志、イモトアヤコ、森崎博之、福澤朗、岡田浩暉、高橋努、古川雄大、モロ師岡、古舘伊知郎、甲本雅裕、木下ほうか、工藤夕貴、山本學、倍賞美津子、尾上菊之助、立川談春、神田正輝、吉川晃司 らが出演しています

  https://tver.jp/episodes/epj4iskb51
</p>

<p class="tver">
  ドラマ スイートモラトリアム(2023) 9話の配信がTVerで始まりました。
  7/10 21:59まで

  鈴鹿央士、小西桜子、田辺桃子、若林時英、山科圭太、前原瑞樹、堀春菜、中島歩 らが出演しています

  https://tver.jp/episodes/epaxyo3fn8
</p>

<p class="tver">
  ドラマ 真夜中の雨(2002) 7話の配信がTVerで始まりました。
  7/11 11:59まで

  織田裕二、松雪泰子、阿部寛、田中美里、渡辺いっけい、松岡俊介、山田麻衣子、津嘉山正種、佐戸井けん太、芹澤名人、佐藤二朗、三宅弘城、赤坂七恵、新谷真弓、中江智子、八木さおり、泉晶子、市川勉、高村晃平、石黒賢、長塚京三 らが出演しています

  https://tver.jp/episodes/ep43qgbpgb
</p>

<p class="tver">
  ドラマ 笑顔の法則(2003) 7話の配信がTVerで始まりました。
  7/11 11:59まで

  竹内結子、阿部寛、西島秀俊、宮地真緒、高橋克実、柴田理恵、升毅、ブラザートム、戸田昌宏、斉藤陽一郎、滝沢沙織、櫻庭博道、塩澤英真、櫻井淳子、半海一晃、陣内孝則、野際陽子 他

  https://tver.jp/episodes/ep0iocgruh
</p>

<p class="tver">
  アニメ 炎炎ノ消防隊 参ノ章(2025) 19～25(最終)話の配信がTVerで始まりました。
  終了日未記載

  梶原岳人、小林裕介、中井和哉、鈴村健一、上條沙恵子、市道真央、悠木碧、八代拓、阪口大助 らが出演しています

  https://tver.jp/episodes/epk1hpejii
</p>

<p class="tver">
  アニメ ハイキュー!! セカンドシーズン(2016) 19話の配信がTVerで始まりました。
  7/11 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、田中一成、中村悠一、梶裕貴、立花慎之介、石井マーク、木村良平、逢坂良太、浪川大輔、吉野裕行、竹内良太 らが出演しています

  https://tver.jp/episodes/ep0mgklz1p
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  7/11 10:29まで

  ※ 大阪・関西万博の植栽も担当!世界中で貴重な植物をハントする神

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/epeqil2qod
</p>

<p class="tver">
  アニメ ウルトラマンテオ(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  岩崎碧、神谷天音、中田乃愛、上村侑、森本竜馬、福島リラ、井上依吏子、小林ゆう らが出演しています

  https://tver.jp/episodes/ep7fiaoyg2
</p>
