---
title: 2026/6/9 のピックアップ
date: 2026-06-09
tags:
  - TVer
  - Youtube
category: vidpick
---



<p class="tver">
  バラエティ バラバラマンスリー(2026) の配信がTVerで始まりました。
  7/1 03:05まで

  ※ スポンジ・シノ2　“なぞかけ講座”

  篠塚大輝(timelesz)、みなみかわ、ねづっち、信子(ぱーてぃーちゃん) らが出演しています

  https://tver.jp/episodes/epg027ir46
</p>

<p class="tver">
  ドキュメンタリー 映画『メモリィズ』のメモリィズ(2026) の配信がTVerで始まりました。
  7/10 23:59まで

  ※ 柄本佑主演最新作！映画「メモリィズ」が出来るまでの記憶と記録

  柄本佑、イッセー尾形、穂志もえか、香椎由宇 らが出演しています

  https://tver.jp/episodes/ep6resxyuo
</p>

<p class="tver">
  アニメ 彼女、お借りします(2026・5期) 9話の配信がTVerで始まりました。
  6/17 2:22まで

  堀江瞬、雨宮天、悠木碧、東山奈央、高橋李依、芹澤優 らが出演しています

  https://tver.jp/episodes/ephg8hajnk
</p>

<p class="tver">
  アニメ リィンカーネーションの花弁(2026) 10話の配信がTVerで始まりました。
  6/24 1:30まで

  千葉翔也、丸岡和佳奈、佐倉綾音、白石晴香、石川界人、上田麗奈、井上麻里奈、仲村宗悟、福山潤、小西克幸、富田美憂、村瀬歩、水中雅章、浪川大輔、櫻井孝宏、阪口周平、細谷佳正、花江夏樹、飛田展男 らが出演しています

  https://tver.jp/episodes/epzm13xix8
</p>

<p class="tver">
  ドラマ 100日後に別れる僕と彼(2026) 3話の配信がTVerで始まりました。
  7/8 01:55まで

  伊藤健太郎、寛一郎、鳴海唯、山田健人、野村麻純、光宗薫、工藤阿須加、竹中直人 らが出演しています

  https://tver.jp/episodes/epqbyamam1
</p>

<p class="tver">
  その他 ザ！覚悟を決めた瞬間 SAMURAI BLUE悲願のW杯優勝なるか(2026) の配信がTVerで始まりました。
  6/16 20:59まで
  ※ W杯サッカー日本代表の応援がグッと楽しくなる(秘)ストーリー。スポーツカテゴリは作ってないので その他 に入れています

  竹内涼真、伊藤百花(AKB48)、木村沙織、タイムマシーン3号、土田晃之、眞鍋かをり、八木莉可子、山中柔太朗(M!LK) らが出演しています

  https://tver.jp/episodes/ephegzvtmj
</p>

<p class="tver">
  ドラマ こないだおばさんって言われたよ(2026) 6話の配信がTVerで始まりました。
  6/17 0:50まで

  飯島直子、堀内敬子、Mummy-D、中田クルミ、のせりん、六角慎司、上野勇希、高田純次、梅沢昌代 らが出演しています

  https://tver.jp/episodes/epdgcxl9lh
</p>

<p class="tver">
  バラエティ 夜の音 -TOKYO MIDNIGHT MUSIC-(2026) の配信がTVerで始まりました。
  6/17 0:33まで

  ※ MC菊池風磨＆畑芽育の音楽番組！緑黄色社会登場

  菊池風磨(timelesz)、畑芽育、緑黄色社会、平野瑠莉 らが出演しています

  https://tver.jp/episodes/eptfjnm7md
</p>

<p class="tver">
  バラエティ ロンドンハーツ(2026) の配信がTVerで始まりました。
  6/24 1:03まで

  ※ 【熊プロ襲来】付き合いたい男芸人ランキング…ドM妄想再び!!

  田村淳、田村亮、山崎弘也(アンタッチャブル)、熊元プロレス(紅しょうが)、池田直人(レインボー)、奥田修二(ガクテンソク)、久保田かずのぶ(とろサーモン)、佐々木隆史(エバース)、水田信二、リリー(見取り図)、辻皓平(ニッポンの社長) らが出演しています

  https://tver.jp/episodes/epuovinrwv
</p>

<p class="tver">
  バラエティ Aぇ! groupのQ＆Aぇ!(2026) の配信がTVerで始まりました。
  6/17 0:20まで

  ※ 箸が止まらない絶品ブロッコリー料理ってある？

  Aぇ! group らが出演しています

  https://tver.jp/episodes/ep8mr8c65d
</p>

<p class="tver">
  バラエティ THE神業チャレンジ(2026) の配信がTVerで始まりました。
  6/16 18:59まで

  ※ 車いすテニス世界一・小田凱人参戦＆キスマイ横尾VSクレーン

  チョコレートプラネット(長田庄平、松尾駿)、陣内智則、池田美優、井森美幸、永作博美、小田凱人、土佐兄弟(ゆうき、卓也)、横尾渉(Kis-My-Ft2)、レッツゴーよしまさ、ジョニー志村 らが出演しています

  https://tver.jp/episodes/ephm5jkajj
</p>

<p class="tver">
  バラエティ バナナサンド(2026) の配信がTVerで始まりました。
  6/16 19:59まで

  ※ 白熱の新ゲーム！ワード回転寿司！朝ドラで話題Aぇ! group佐野晶哉が末澤誠也とハモリ我慢

  白熱ゲーム：https://tver.jp/episodes/ep6h5bvfnx
  ハモリ我慢：https://tver.jp/episodes/epxcam6gb7

  設楽統(バナナマン)、サンドウィッチマン(伊達みきお、富澤たけし)、虻川美穂子、吉村崇(平成ノブシコブシ)、鬼越トマホーク(良ちゃん、金ちゃん)、高野正成(きしたかの) 他
</p>

<p class="tver">
  バラエティ 帰れマンデー見っけ隊!!(2026) の配信がTVerで始まりました。
  6/15 21:54まで

  ※ 群馬の超人気ローカルチェーン店で帰れま10特別編！

  タカアンドトシ、中山秀征、井森美幸、高橋成美、関太(タイムマシーン3号) らが出演しています

  https://tver.jp/episodes/epfwbvpt11
</p>

<p class="tver">
  バラエティ 超調査チューズデイ～気になる答え今夜出します～(2026) の配信がTVerで始まりました。
  6/16 19:00まで

  ※ 羽田＆新千歳！空港ご当地グルメ弾丸女子旅

  メイプル超合金(カズレーザー、安藤なつ)、ニューヨーク(嶋佐和也、屋敷裕政)、秋元真夏、杉原千尋、立本信吾、信子(ぱーてぃーちゃん)、福田麻貴(3時のヒロイン)、高橋恭平(なにわ男子)、中村海人(Travis Japan)、植田紫帆(オダウエダ) らが出演しています

  https://tver.jp/episodes/epnrcgpmsj
</p>

<p class="tver">
  バラエティ 踊る！さんま御殿!!(2026) の配信がTVerで始まりました。
  6/23(火) 19:59まで

  ※ パパママ心配事SP辻希美が長男のレシートチェック!?12時間ゲーム籠城

  明石家さんま、網浜直子、ギャル曽根、潮田玲子、照英、関太(タイムマシーン3号)、瀬戸朝香、DIAMOND☆YUKAI、高田紗千子、梅小鉢、蝶野正洋、辻希美、鳥谷敬、中西茂樹(なすなかにし)、東原亜希 らが出演しています

  https://tver.jp/episodes/epifqq4jmh
</p>

<p class="tver">
  バラエティ 華大さんと千鳥くん(2026) の配信がTVerで始まりました。
  6/16 22:00まで

  ※ キスマイ宮田&二階堂がスパイ初参戦！神様山内!?誕生

  博多華丸・大吉(博多華丸、博多大吉)、千鳥(大悟、ノブ)、かまいたち(山内健司、濱家隆一)、Kis-My-Ft2(宮田俊哉、二階堂高嗣) らが出演しています

  https://tver.jp/episodes/ep8a9lgqtg
</p>

<p class="tver">
  バラエティ 地球まるごと大実験 ネイチャーティーチャー(2026) の配信がTVerで始まりました。
  6/23(火) 23:55まで

  ※ チョコプラ・timeleszが「手作り巨大メガホンなら1km先の好きな人に告白できる？」に挑む！

  チョコレートプラネット(長田庄平、松尾駿)、timelesz(原嘉孝、篠塚大輝) らが出演しています

  https://tver.jp/episodes/epu815zrtp
</p>

<p class="tver">
  バラエティ 上田と女がDEEPに吠える夜(2026) の配信がTVerで始まりました。
  6/17 0:08まで

  ※ 極端なダイエットで…▽美容整形の低年齢化▽子どもが「整形したい」と言ったら?

  上田晋也(くりぃむしちゅー)、大久保佳代子(オアシズ)、いとうあさこ、ファーストサマーウイカ、溝端淳平、市井紗耶香、犬山紙子、大村美菜子、齊藤京子、バービー、ホラン千秋、LiLiCo らが出演しています

  https://tver.jp/episodes/epelx785kc
</p>

<p class="tver">
  ドラマ 謎解きはディナーのあとで(2011) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  櫻井翔、北川景子、野間口徹、中村靖日、岡本杏理、田中こなつ、椎名桔平、桂亜沙美、佐藤めぐみ らが出演しています

  https://tver.jp/episodes/epyp56lrm4
</p>

<p class="tver">
  ドラマ ラストホープ(2013) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  相葉雅紀、多部未華子、田辺誠一、北村有起哉、宮内ひとみ(桜庭ななみ)、平田満、高嶋政宏、小日向文世 らが出演しています

  https://tver.jp/episodes/epww3ndhka
</p>

<p class="tver">
  ドラマ ラッキーセブン(2012) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  松本潤、永山瑛太、仲里依紗、角野卓造、谷原章介、吹石一恵、金田明夫、入来茉里、小山慶一郎(NEWS)、大泉洋、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/eptw0i2t74
</p>

<p class="tver">
  ドラマ ブスと野獣(2015) 3話の配信がTVerで始まりました。
  7/1 23:59まで

  矢本悠馬、おかずクラブ(ゆいP、オカリナ)、逢沢りな、成田凌、ウーマンラッシュアワー らが出演しています

  https://tver.jp/episodes/epsc8z2mpg
</p>

<p class="tver">
  ドラマ フリーター、家を買う。(2010) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  二宮和也、香里奈、井川遥、竹中直人、浅野温子 らが出演しています

  https://tver.jp/episodes/ephgpd86vq
</p>

<p class="tver">
  ドラマ その結婚、正気ですか？(2023) 2話の配信がTVerで始まりました。
  8/5 00:00まで

  岡本玲、長妻怜央、和田雅成、押田岳、薄幸(納言)、向里祐香、堀口紗奈、まりあ、林ゆめ、冨手麻妙、佐野岳 らが出演しています

  https://tver.jp/episodes/epgdudavnp
</p>

<p class="tver">
  ドラマ ピュア(1996) 4話の配信がTVerで始まりました。
  6/16 23:59まで

  和久井映見、堤真一、高橋克典、高岡早紀、篠原涼子、風吹ジュン らが出演しています

  https://tver.jp/episodes/epep7suo3o
</p>

<p class="tver">
  ドラマ 鍵のかかった部屋(2012) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  大野智、戸田恵梨香、佐藤浩市、のん、平田満、森迫永依、郭智博、吉田鋼太郎 らが出演しています

  https://tver.jp/episodes/epdyhiy3hp
</p>

<p class="tver">
  ドラマ GTO(1998) 6話の配信がTVerで始まりました。
  7/31 23:59まで

  反町隆史、松嶋菜々子、希良梨、池内博之、窪塚洋介、中村愛美、山崎裕太、徳山秀典、藤木直人、馬渕英里何、立石涼子、RIKACO、小栗旬、岡本光太郎、沼田爆、小林正寛、井田國彦、中尾彬 他

  https://tver.jp/episodes/epaord3g7w
</p>

<p class="tver">
  ドラマ ONE DAY～聖夜のから騒ぎ～(2023) 7話の配信がTVerで始まりました。
  6/16 23:59まで

  二宮和也、中谷美紀、大沢たかお、中川大志、松本若菜、中村アン、桜井ユキ、井之脇海、今井英二、福本莉子、小手伸也、加藤諒、大水洋介(ラバーガール)、丸山智己、梶原善、江口洋介、佐藤浩市 らが出演しています

  https://tver.jp/episodes/ep9f6dstiv
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 4話の配信がTVerで始まりました。
  6/16 23:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、岡田浩暉、八十田勇一、佐々木一平、清水優、伊与勢我無、真野恵里菜、古舘寛治、葉山奨之、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep4y4zs040
</p>

<p class="tver">
  ドラマ 時すでにおスシ!?(2026) 10(最終)話の配信がTVerで始まりました。
  7/14 21:59まで

  永作博美、松山ケンイチ、ファーストサマーウイカ、中沢元紀、山時聡真、杏花、平井まさあき(男性ブランコ)、後藤淳平(ジャルジャル)、Jua、園田あいか、山崎竜太郎、リリー(見取り図)、蓮見孝之、猫背椿、関根勤、有働由美子、佐野史郎 らが出演しています

  https://tver.jp/episodes/epozowjbad
</p>

<p class="tver">
  ドラマ リボーン ～最後のヒーロー～(2026) 9(最終)話の配信がTVerで始まりました。
  7/7 21:00まで

  高橋一生、中村アン、鈴鹿央士、横田真悠、坪倉由幸(我が家)、小久保寿人、今井隆文、村井良大、山野海、阿部亮平(Snow Man)、関幸治、岸本加世子、柳沢慎吾、小日向文世、市村正親 らが出演しています

  https://tver.jp/episodes/epqdnidncg
</p>

<p class="tver">
  ドラマ 夫婦別姓刑事(2026) 9話の配信がTVerで始まりました。
  6/16 21:00まで

  佐藤二朗、橋本愛、矢本悠馬、中村海人(Travis Japan)、齊藤京子、斉藤由貴、坂東彌十郎、竹原ピストル らが出演しています

  https://tver.jp/episodes/epavv4ze4m
</p>

<p class="tver">
  ドラマ ふたりソロキャンプ(2026) 5話の配信がTVerで始まりました。
  6/23 21:25まで

  森崎ウィン、本田望結、稲葉友、滝澤エリカ、宮下咲、中林大樹 らが出演しています

  https://tver.jp/episodes/epoevjfo5p
</p>

<p class="tver">
  アニメ 転生したらスライムだった件(2026・4期) 81話の配信がTVerで始まりました。
  6/12 23:59まで

  岡咲美保、豊口めぐみ、前野智昭、古川慎、千本木彩花、市道真央、江口拓也、大塚芳忠、山本兼平、泊明日菜、小林親弘、日高里菜、春野杏、櫻井孝宏、青山穣、Lynn、沼倉愛美、松岡禎丞、小野大輔、水瀬いのり、花江夏樹 らが出演しています

  https://tver.jp/episodes/eptgx8fo8a
</p>

<p class="tver">
  アニメ あかね噺(2026) 10話の配信がTVerで始まりました。
  6/16 23:59まで

  永瀬アンナ、江口拓也、高橋李依、塩野瑛久、福山潤、島崎信長、小林千晃、阿座上洋平、山下誠一郎、てらそままさき、大塚明夫 らが出演しています

  https://tver.jp/episodes/ep0w8dlbhk
</p>

<p class="tver">
  バラエティ ピッカルチャー～アニメの色んなとこにスポットライトを当ててピカっと光らせてみた～(2026) の配信がTVerで始まりました。
  7/7 16:59まで

  ※ みんなのヒーロー「ウルトラマン」を大特集！ウルトラマン大好きな濱田龍臣プロもスタジオに登場！歴代ウルトラマンの超貴重映像を大公開！さらに新シリーズにもピカッと！

  高杉真宙、せいや(霜降り明星)、濱田龍臣 らが出演しています

  https://tver.jp/episodes/epcmlejx0a
</p>

<p class="tver">
  バラエティ 日曜マイチョイス(2026) の配信がTVerで始まりました。
  6/15 18:00まで

  ※ ズミさん＆シンさんが行く！老舗巡り珍道中　IN 蒲田

  阿川佐和子、飯尾和樹(ずん)、石原良純、柳沢慎吾 らが出演しています

  https://tver.jp/episodes/ep04vmecxy
</p>

<p class="tver">
  バラエティ サンド＆キスマイの気になるマン(2026) の配信がTVerで始まりました。
  6/23(火) 18:00まで

  ※ 外国人旅行客が駆け込む観光案内所に密着SP！

  サンドウィッチマン、Kis-My-Ft2、名取裕子、滝沢カレン、中村海人(Travis Japan) らが出演しています

  https://tver.jp/episodes/epsllc5njw
</p>

<p class="tver">
  ドラマ VIVANT(2023) 3話の配信がTVerで始まりました。
  7/26 20:59まで

  堺雅人、阿部寛、二階堂ふみ、竜星涼、迫田孝也、飯沼愛、河内大和、バルサラハガバ・バタボルド、渡辺邦斗、古屋呂敏、内野謙太、須田邦裕、山本圭祐、富栄ドラム、山口由里子、宇田川さや香、中山孟、原布助、相田雄一郎、市川大貴、橋本さとし、市川猿弥、坂東彌十郎、濱田岳、檀れい、小日向文世 らが出演しています

  https://tver.jp/episodes/epo6ai1ipk
</p>

<p class="tver">
  ドラマ ワカコ酒(2016・2期) 8話の配信がTVerで始まりました。
  6/23 23:59まで

  武田梨奈、野添義弘、鎌苅健太 らが出演しています

  https://tver.jp/episodes/epe7meerxo
</p>

<p class="tver">
  ドラマ 僕の姉ちゃん(2022) 9～10(最終)話の配信がTVerで始まりました。
  7/7 23:59まで

  黒木華、杉野遥亮、湯川ひな、片桐仁、平岩紙 らが出演しています

  https://tver.jp/episodes/epqhtnvyvy
</p>

<p class="tver">
  ドラマ 推しが上司になりまして フルスロットル(2025) 1～4話の配信がTVerで始まりました。
  7/9 23:59まで

  鈴木愛理、八木勇征、加藤茶、濱津隆之、かなで(3時のヒロイン)、高野洸、すがちゃん最高No.1(ぱーてぃーちゃん)、見津賢、古田愛理、東雲うみ、ゆうたろう、後藤郁 らが出演しています

  https://tver.jp/episodes/ep5azhhr2m
</p>

<p class="tver">
  ドラマ 推しが上司になりまして(2023) 5～8話の配信がTVerで始まりました。
  7/7 23:59まで

  鈴木愛理、片寄涼太、ゆりやんレトリィバァ、高野洸、渡辺佑太朗、稲田美紀(紅しょうが)、カルマ、福田愛依、佐藤晴美、植田圭輔、徳重聡 らが出演しています

  https://tver.jp/episodes/epyts43c0h
</p>

<p class="tver">
  アニメ ブラッククローバー(2020) 127～129話の配信がTVerで始まりました。
  6/23(火) 17:59まで

  梶原岳人、島崎信長、優木かな、諏訪部順一、福山潤、室元気、村瀬歩、日野聡、水樹奈々、安野希世乃、松田健一郎、森川智之 らが出演しています

  https://tver.jp/episodes/eplvbiui5d
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  6/16 12:00まで

  ※ 今回は特別編。中井美穂＆らく次くんが月組東京宝塚劇場公演の魅力を語る！！さらにピンポイントリクエストは花組特集です

  中井美穂、立川らく次 らが出演しています

  https://tver.jp/episodes/epwlof0dol
</p>

<p class="tver">
  ドラマ 彼女たちの犯罪(2023) 3話の配信がTVerで始まりました。
  7/11 12:00まで

  深川麻衣、石井杏奈、毎熊克哉、さとうほなみ、朝倉あき、山下容莉枝、鈴木ゆうか、野間口徹、前田敦子 らが出演しています

  https://tver.jp/episodes/epje42giwp
</p>

<p class="tver">
  アニメ ハイキュー!!(2014) 14話の配信がTVerで始まりました。
  6/16 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、名塚佳織、神谷浩史、田中一成、浪川大輔 らが出演しています

  https://tver.jp/episodes/epgr1898fg
</p>

<p class="tver">
  アニメ 上伊那ぼたん、酔へる姿は百合の花(2026) 9話の配信がTVerで始まりました。
  6/16 11:59まで

  鈴代紗弓、青山吉能、寿美菜子、天海由梨奈、富田美憂、河瀬茉希 らが出演しています

  https://tver.jp/episodes/ep133v9zqi
</p>

<p class="tver">
  ドラマ 高校教師（藤木直人、上戸彩）(2003) 4話の配信がTVerで始まりました。
  6/16 9:59まで

  藤木直人、上戸彩、ソニン、成宮寛貴、眞鍋かをり、大倉孝二、蒼井優、菅原大吉、矢沢幸治、京本政樹、眞野あずさ らが出演しています

  https://tver.jp/episodes/epjk8627ow
</p>

<p class="tver">
  アニメ それが声優！(2026) 10話の配信がTVerで始まりました。
  6/23(火) 8:30まで

  高橋李依、長久友紀、高野麻里佳、生天目仁美、小清水亜美、古木のぞみ、佐倉綾音、三宅健太 らが出演しています

  https://tver.jp/episodes/epvvsz1rme
</p>
