---
title: 2026/8/11 のピックアップ
date: 2026-08-11
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="tver">
  バラエティ 日経スペシャル「最新技術で経済が動く！クイズＸ年後の当たり前」(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ ３Ｄプリンターで家や神経が作れる!?▼進化する人型ロボ

  劇団ひとり、小手伸也、菅田愛貴(超ときめき♡宣伝部)、種田共孝 らが出演しています

  https://tver.jp/episodes/ep1z8lz3l4
</p>

<p class="tver">
  バラエティ 宝塚カフェブレイク(2026) の配信がTVerで始まりました。
  8/18 12:00まで

  ※ 東京宝塚劇場公演『黒蜥蜴』『Diamond IMPULSE』に出演中。宙組の鷹翔千空さんです

  中井美穂、鷹翔千空、立川らく次 らが出演しています

  https://tver.jp/episodes/epfp4s7jis
</p>

<p class="tver">
  ドラマ 砂の塔～知りすぎた隣人(2016) 10(最終)話の配信がTVerで始まりました。
  8/20 23:59まで

  菅野美穂、岩田剛典、横山めぐみ、堀内敬子、上杉柊平、音月桂、佐野勇斗(M!LK)、川津明日香、稲垣来泉、光石研、長野里美、烏丸せつこ、津田寛治、田中直樹(ココリコ)、松嶋菜々子 らが出演しています

  https://tver.jp/episodes/ep672w6zp4
</p>

<p class="tver">
  ドラマ 天皇の料理番(2015) 12(最終)話の配信がTVerで始まりました。
  8/17 11:59まで

  佐藤健、黒木華、桐谷健太、柄本佑、高岡早紀、林泰文、梶原善、天野慶久、鈴木亮平、篠田三郎、美保純、杉本哲太、小林薫 らが出演しています

  https://tver.jp/episodes/ep2jvbt87z
</p>

<p class="tver">
  アニメ 鬼の花嫁(2026) 6話の配信がTVerで始まりました。
  8/18 12:00まで

  早見沙織、梅原裕一郎、石見舞菜香、逢坂良太、千本木彩花、花江夏樹、坂泰斗、島崎信長、遠藤綾、寺澤百花、小橋美憂 らが出演しています

  https://tver.jp/episodes/ep155m8w5k
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2023) 3話の配信がTVerで始まりました。
  8/18 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/epzvd58f89
</p>

<p class="tver">
  アニメ グロウアップショウ ～ひまわりのサーカス団～(2026) 6話の配信がTVerで始まりました。
  8/18 11:59まで

  小山内怜央、楠木ともり、夏吉ゆうこ、鎌倉有那、岩橋由佳、茅野愛衣、釘宮理恵 らが出演しています

  https://tver.jp/episodes/ep5e74x59w
</p>

<p class="tver">
  アニメ あまんちゅ！(2016) 1話の配信がTVerで始まりました。
  終了日未記載

  鈴木絵理、茅野愛衣、大西沙織、梅原裕一郎、伊藤静、久保ユリカ、井上喜久子 らが出演しています

  https://tver.jp/episodes/epek9fqeo1
</p>

<p class="tver">
  アニメ アイドル伝説えり子(1989) 6話の配信がTVerで始まりました。
  終了日未記載

  矢島晶子、松井菜桜子、飯塚昭三、土師孝也、松本保典、西村知道、本多知恵子、鷹森淑乃、柴本浩行、滝沢久美子 らが出演しています

  https://tver.jp/episodes/ep6zivrjwp
</p>
