---
title: 2026/9/27 のピックアップ
date: 2026-09-27
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  忙しすぎてストレス溜まりまくってたので庭の伊勢丹で鬼のように爆買いしてたんだがまさかの野生のアレン様をお見かけして本当御利益どころの騒ぎじゃなくてイライラも吹っ飛んで幸💝🌪️｜2026/9/26配信｜仲里依紗です。｜20:38

  仲里依紗 らが出演しています

  https://youtu.be/RuFr8cGw4sQ
</p>

<p class="yt">
  松岡茉優&仲里依紗、壮絶な撮影エピソードを赤裸々告白!田中みな実ら共演者との裏話も明かす Netflixシリーズ「ダウンタイム」インタビュー｜2026/9/24配信｜oricon｜19:02

  松岡茉優、仲里依紗 らが出演しています

  https://youtu.be/LEb66SkvuHw
</p>

<p class="tver">
  ドキュメンタリー 世界遺産(2026) の配信がTVerで始まりました。 25分
  10/4 17:59まで

  ※ 火の国 アゼルバイジャン

  鈴木亮平 らが出演しています

  https://tver.jp/episodes/epaihv770q
</p>

<p class="tver">
  アニメ 鉄鍋のジャン！(2026) 12(最終)話の配信がTVerで始まりました。 24分
  10/4 17:59まで

  戸谷菊之介、長谷川育美、天崎滉平、市道真央、櫻井孝宏、村田太志、小林裕介、天田益男、津田健次郎 らが出演しています

  https://tver.jp/episodes/epfm5yow4v
</p>

<p class="tver">
  アニメ 春夏秋冬代行者 春の舞(2026) 全14話の配信がTVerで始まりました。 24分
  10/2 17:59まで

  貫井柚佳、青山吉能、上坂すみれ、澤田姫、八代拓、坂田将吾、日野聡 らが出演しています

  https://tver.jp/episodes/eps4aolye5
</p>

<p class="tver">
  バラエティ メシドラ ～兼近＆真之介のグルメドライブ～(2026) の配信がTVerで始まりました。 57分
  10/4 12:44まで

  ※ 日本アカデミー賞最優秀主演男優賞・横浜流星の“人生を深掘る”グルメ旅

  兼近大樹(EXIT)、満島真之介、横浜流星 らが出演しています

  https://tver.jp/episodes/epkl3qqrki
</p>

<p class="tver">
  バラエティ timeleszファミリア(2026) の配信がTVerで始まりました。 45分
  10/4 13:59まで

  ※ 【熱海SP】日本一絶品BBQ&絶景花火パフォーマンス

  timelesz らが出演しています

  https://tver.jp/episodes/ep60pgu2w9
</p>

<p class="tver">
  ドラマ ハルとアオのお弁当箱(2020) 1～4話の配信がTVerで始まりました。 24分
  終了日未記載

  吉谷彩子、井之脇海、梶原ひかり、矢島舞美、森日菜美、雪見みと らが出演しています

  https://tver.jp/episodes/eprknmjid9
</p>

<p class="tver">
  ドラマ 能面検事(2025) 1～4話の配信がTVerで始まりました。 58分
  終了日未記載

  上川隆也、吉谷彩子、大西流星(なにわ男子)、竹財輝之助、観月ありさ、寺脇康文、渋谷謙人、美山加恋、床嶋佳子、小林きな子、阪田マサノブ、片田陽依 らが出演しています

  https://tver.jp/episodes/epitkqg3zg
</p>

<p class="tver">
  ドラマ 量産型ルカ -プラモ部員の青き逆襲-(2025) 9～10(最終)話の配信がTVerで始まりました。 25分
  終了日未記載

  乃木坂46(賀喜遥香、筒井あやめ)、山崎竜太郎、小林桃子、尾本侑樹奈(LINKL PLANET)、岡田義徳 らが出演しています

  https://tver.jp/episodes/epgjghplry
</p>

<p class="tver">
  ドラマ 夫を社会的に抹殺する5つの方法(2023) 9～10(最終)話の配信がTVerで始まりました。 24分
  終了日未記載

  馬場ふみか、野村周平、佐藤玲、持田将史(s**t kingz)、森カンナ、渡辺いっけい、宮崎美子 らが出演しています

  https://tver.jp/episodes/epq5a8yc91
</p>

<p class="tver">
  ドラマ スケバン刑事Ⅱ少女鉄仮面伝説(1985) 19話の配信がTVerで始まりました。 26分
  10/4 16:30まで

  南野陽子、蟹江敬三、吉沢秋絵、相楽晴子、長門裕之 らが出演しています

  https://tver.jp/episodes/eptrmfev9v
</p>

<p class="tver">
  アニメ 「東京リベンジャーズ」天竺編(2023) 45話の配信がTVerで始まりました。 24分
  10/4 15:59まで

  新祐樹、和氣あず未、逢坂良太、林勇、福西勝也、松岡禎丞、狩野翔、畠中祐、水中雅章、野津山幸宏、河西健吾、小野大輔、寺島拓篤、広瀬裕也、武内駿輔、葉山翔太、内山夕実、森久保祥太郎、江口拓也、榎木淳弥、花江夏樹、杉田智和、島崎信長、山下誠一郎、稲田徹、内山昂輝、浪川大輔、下野紘 らが出演しています

  https://tver.jp/episodes/epdkuskp7y
</p>

<p class="tver">
  バラエティ スクール革命！(2026) の配信がTVerで始まりました。 47分
  10/4 11:44まで

  ※ 若林卒業SP!全員協力11アンサーで奇跡起こる!?

  内村光良、Hey! Say! JUMP(山田涼介、知念侑李、八乙女光)、アンタッチャブル(山崎弘也、柴田英嗣)、オードリー、髙地優吾(SixTONES)、生見愛瑠、朝日奈央、髙橋ひかる らが出演しています

  https://tver.jp/episodes/epqczs5ief
</p>

<p class="yt">
  劇場先行版「風を継ぐもの -はじまり-」スペシャル番組｜2026/9/27配信｜アニプレックス チャンネル｜29:40
  ※ 2027/4/4(日) 23:59まで

  佐久間大介：立川迅助
  梶　裕貴：沖田総司
  悠木　碧：小金井兵庫
  内山　昂輝：土方歳三
  中村　悠一：近藤勇
  加瀬　康之：芹沢鴨
  上川　隆也：梅田新兵衛

  https://youtu.be/DZqyrtDJYK8
</p>

<p class="yt">
  アニメ「FAIRY TAIL (新シーズン)」第227～233話｜2026/9/26配信｜アニメタイムズ公式｜2:51:07
  ※ 10/28(水) 10:29まで

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/gPnQXB_73a4
</p>

<p class="tver">
  バラエティ 発見!!食遺産 ＃あなたのレシピ残させてください(2026) の配信がTVerで始まりました。 21分
  10/4 12:53まで

  ※ 【和歌山市・オクラ】とろネバ食感がたまらない！激うま＆簡単レシピ

  石田靖、須田亜香里 らが出演しています

  https://tver.jp/episodes/ep2pm1hehl
</p>

<p class="tver">
  ドキュメンタリー たべるししゃべるし / 長谷川あかり＆鎮西寿々歌（FRUITS ZIPPER）(2026) の配信がTVerで始まりました。 39分
  終了日未記載

  ※ 「免許も取りたいんだけど、えっ免許とってない意外だ持ってないのわたし持ってないわ免許合宿いく？えーっ！あかりちゃんと2人で？もう免許合宿で缶詰になって2週間とか」なごはん

  鎮西寿々歌(FRUITS ZIPPER)、長谷川あかり らが出演しています

  https://tver.jp/episodes/epy7hkwd3k
</p>

<p class="tver">
  ドキュメンタリー 所さんの目がテン！(2026) 2000回の配信がTVerで始まりました。 25分
  10/4 6:59まで

  ※ 2000年前の情報革命!?本の元となった羊皮紙を作れ!

  所ジョージ、石田剛太、並木雲楓 らが出演しています

  https://tver.jp/episodes/epj359zwim
</p>

<p class="tver">
  バラエティ 優香のサンデークッキング(2026) の配信がTVerで始まりました。 25分
  10/4 10:59まで

  ※ 自宅で簡単！“秋の味”戻りカツオ手作りツナ＆たたき

  優香、稲垣飛鳥、かずや(ザ・たっち) らが出演しています

  https://tver.jp/episodes/epdma9wdyt
</p>

<p class="tver">
  バラエティ ぺこもぐキッチン(2026) の配信がTVerで始まりました。 24分
  終了日未記載

  ※ 【齋藤飛鳥×富田望生】桃と塩麹のカプレーゼ＆ひき肉の塩麹丼!?

  栗原心平、齋藤飛鳥、富田望生、高橋大悟 らが出演しています

  https://tver.jp/episodes/epeh7exd7c
</p>

<p class="tver">
  バラエティ アルコ＆ピースとSTU48の一発当てたい！(2026) 21回の配信がTVerで始まりました。 25分
  終了日未記載

  ※ 【爆美女デート】STU48彼女目線

  アルコ&ピース(平子祐希、酒井健太)、STU48 らが出演しています

  https://tver.jp/episodes/ep6k4fpmc9
</p>

<p class="tver">
  バラエティ キタコイ(2026) の配信がTVerで始まりました。 24分
  10/4 12:00まで

  ※ 伊勢鈴蘭、昆布で人を呼び込む“だしツーリズム”とは！？

  飯田圭織、牧野真莉愛、伊勢鈴蘭、波多野裕太、糸賀舜 らが出演しています

  https://tver.jp/episodes/epezvsiz4y
</p>

<p class="tver">
  ドラマ 夢をかなえるゾウ(2008) 12話の配信がTVerで始まりました。 30分
  10/4 12:00まで

  水川あさみ、古田新太、佐戸井けん太、丸山智己、大久保麻梨子、加藤理恵、阿南健治、西田奈津美、桜田聖子、佐々木征史、佐々木理江、高橋悠也、内山翔人、灰谷えみ らが出演しています

  https://tver.jp/episodes/epuh43lnwk
</p>

<p class="tver">
  ドラマ 脳にスマホが埋められた！(2017) 10話の配信がTVerで始まりました。 44分
  10/11 12:00まで

  伊藤淳史、新川優愛、安藤なつ(メイプル超合金)、岡田龍太郎、野村麻純、ぼくもとさきこ、結城萌、中川知香、新田祐里子、高嶋琴羽、篠田麻里子、池田鉄洋、林家ペー、林家パー子、西丸優子、戸田昌宏、岸谷五朗、福士誠治 らが出演しています

  https://tver.jp/episodes/epbwko6dc0
</p>

<p class="tver">
  ドラマ あいくるしい(2005) 9話の配信がTVerで始まりました。 46分
  10/6 11:59まで

  市原隼人、綾瀬はるか、桜井幸子、萩原聖人、小栗旬、田中幸太朗、塚地武雅(ドランクドラゴン)、神木隆之介、本郷奏多、志保、春山幹介、後藤果萌、松本梨菜、武井証、大後寿々花、浅野和之、沢尻エリカ、原田美枝子、南果歩、高橋ひとみ、高橋克実、竹中直人、杉浦直樹 らが出演しています

  https://tver.jp/episodes/epgf6o2ryj
</p>

<p class="tver">
  アニメ 桃源暗鬼(2025) 20話の配信がTVerで始まりました。 25分
  10/4 11:59まで

  浦和希、神谷浩史、西山宏太朗、石見舞菜香、坂田将吾、花江夏樹、三浦魁、愛美、木村良平、岸尾だいすけ、伊瀬茉莉也、小山剛志、増谷康紀、緒方恵美 らが出演しています

  https://tver.jp/episodes/epxj0ip82o
</p>

<p class="tver">
  アニメ 百妖譜 （日本語吹替版）(2024・2期) 3話の配信がTVerで始まりました。 24分
  10/4 11:59まで

  村瀬歩、河西健吾 らが出演しています

  https://tver.jp/episodes/epkejxah0k
</p>
