---
title: 2026/8/13 のピックアップ
date: 2026-08-13
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ 悟空の大冒険 21～24話｜2026/8/13配信｜手塚プロダクション公式チャンネル｜1:44:09
  ※ 2026/9/29 14:00まで

  右手　和子：悟空
  増山江威子：竜子
  野沢　那智：三蔵
  滝口　順平：八戒
  愛川　欽也：沙悟浄

  https://youtu.be/tPqUpS83gwU
</p>

<p class="tver">
  アニメ 才女のお世話 高嶺の花だらけな名門校で、学院一のお嬢様(生活能力皆無)を陰ながらお世話することになりました(2026) 6話の配信がTVerで始まりました。
  8/21 3:07まで

  上村祐翔、小原好美、大西沙織、土屋李央、小清水亜美、熊谷健太郎、前島亜美、子安武人 らが出演しています

  https://tver.jp/episodes/epgkd60bt7
</p>

<p class="tver">
  アニメ 才女のお世話 高嶺の花だらけな名門校で、学院一のお嬢様(生活能力皆無)を陰ながらお世話することになりました(2026) 2～3話の配信がTVerで始まりました。
  8/21 3:07まで

  ※ 1、5話は続行中

  上村祐翔、小原好美、大西沙織、土屋李央、小清水亜美、熊谷健太郎、前島亜美、子安武人 らが出演しています

  https://tver.jp/episodes/epq4qmgdgi
</p>

<p class="tver">
  アニメ 花ざかりの君たちへ(2026・2期) 7話の配信がTVerで始まりました。
  8/21 2:28まで

  山根綺、八代拓、戸谷菊之介、梅原裕一郎、福山潤、川島零士、内山昂輝、駒田航、古屋亜南、日野聡、水中雅章、榎木淳弥、子安武人 らが出演しています

  https://tver.jp/episodes/epp25orn1y
</p>

<p class="tver">
  ドラマ ちょっと待とうよ、春虎くん(2026) 1話の配信がTVerで始まりました。
  終了日未記載

  中川翼、桜木雅哉(原因は自分にある。)、高橋璃央、櫻井亜蓮、祐楽、田中学人、滝沢涼子、徳永えり らが出演しています

  https://tver.jp/episodes/ep5xrwrdse
</p>

<p class="tver">
  アニメ 乙女怪獣キャラメリゼ(2026) 7話の配信がTVerで始まりました。
  8/21 1:59まで

  千賀光莉、梶田大嗣、関根明良、白石晴香、鈴木崚汰、三石琴乃、小西克幸、松井恵理子 らが出演しています

  https://tver.jp/episodes/epw1h6kbui
</p>

<p class="tver">
  バラエティ 限界突破！やってM!LK(2026) の配信がTVerで始まりました。
  8/21 0:58まで

  ※ 夏祭りでワンカットMV撮影！プレッシャーで佐野勇斗崩壊

  M!LK(佐野勇斗、塩﨑太智、曽野舜太、山中柔太朗、吉田仁人)、トミドコロ らが出演しています

  https://tver.jp/episodes/epw2t0espo
</p>

<p class="tver">
  ドラマ 恋愛ルビの正しいふりかた(2026) 2話の配信がTVerで始まりました。
  終了日未記載

  岩橋玄樹、相馬理、朝日ななみ、江守沙矢、中井大、窪田彩乃 らが出演しています

  https://tver.jp/episodes/eplfwwqd5i
</p>

<p class="tver">
  ドラマ 未婚詐欺 私の知らない彼の顔(2026) 5話の配信がTVerで始まりました。
  8/21 1:28まで

  北乃きい、藤原樹、島崎遥香、和内璃乃、押田岳 らが出演しています

  https://tver.jp/episodes/epchh1n5c6
</p>

<p class="tver">
  アニメ ヤニねこ(2026) 7話の配信がTVerで始まりました。
  8/21 1:00まで

  夏吉ゆうこ、松岡美里、清水彩香、井澤詩織、本泉莉奈、明智璃子、稲田徹、中林新夏、小林ゆう らが出演しています

  https://tver.jp/episodes/epw2b1s2bq
</p>

<p class="tver">
  ドキュメンタリー いまからサイエンス(2026) の配信がTVerで始まりました。
  8/20 19:59まで

  ※ 【老化は遅らせられる？】すぐ手に入る！マグロの血合いを解明！遊道和雄（聖マリアンナ医科大学教授）

  加藤浩次、古旗笑佳、若杉亨 らが出演しています

  https://tver.jp/episodes/epinq87jhw
</p>

<p class="tver">
  バラエティ 磯田丸が行く。―経済乱世を生き抜く策は！？―(2026) 4回の配信がTVerで始まりました。
  終了日未記載

  ※ 国内唯一生き残る木版出版 芸艸堂

  磯田道史、佐藤彩加 らが出演しています

  https://tver.jp/episodes/epg2bllqy7
</p>

<p class="tver">
  バラエティ プレバト！！(2026) 534回の配信がTVerで始まりました。
  8/27 18:59まで

  ※ 陶芸……特待生の片桐仁が昇格試験！俳句……お題は“花火大会”

  前編：https://tver.jp/episodes/epfryqcmwp
  後編：https://tver.jp/episodes/ep336daokl

  浜田雅功(ダウンタウン)、相武紗季、エルフ、黒谷友香、高地優吾(SixTONES)、世良マリカ、ベッキー、松田好花、薬丸裕英、八嶋智人、千原ジュニア、片桐仁、夏井いつき、清水麻椰 らが出演しています
</p>

<p class="tver">
  バラエティ ぐるぐるナインティナイン(2026) の配信がTVerで始まりました。
  8/20 19:53まで

  ※ お盆同窓会ゴチ!中条あやみ&高杉真宙&池田エライザがうま辛中華で絶叫

  ナインティナイン(岡村隆史、矢部浩之)、増田貴久(NEWS)、せいや(霜降り明星)、白石麻衣、佐野勇斗(M!LK)、倉科カナ、池田エライザ、高杉真宙、中条あやみ、羽鳥慎一 らが出演しています

  https://tver.jp/episodes/eppeqjymc7
</p>

<p class="tver">
  バラエティ 林修の今知りたいでしょ！(2026) の配信がTVerで始まりました。
  8/20 21:00まで

  ※ お盆・墓参り・夏バテ・水の事故…こんなに変わった！昭和の常識＆令和の新常識 テストで学ぶ！「夏の今でしょ！」

  林修、バカリズム、名取裕子、伊沢拓司、伊集院光、岡田紗佳、斎藤ちはる らが出演しています

  https://tver.jp/episodes/epeiqgsrkw
</p>

<p class="tver">
  バラエティ ちょっと福岡行ってきました！特別編(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 高島礼子＆剛力彩芽が福岡の街で出たとこ勝負の珍道中!!

  高島礼子、剛力彩芽、生野文治 らが出演しています

  https://tver.jp/episodes/epvjajmk78
</p>

<p class="tver">
  バラエティ 真夏の怪奇ファイル2026 見えてしまった…招かれざるモノたち(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 最恐の怪奇スポットでカメラが捉えた信じがたい怪現象の数々…真夏の暑さを忘れる恐怖が待ち受ける▽体験者が語る怪奇の出来事を完全再現 見えるはずのないモノの姿に身の毛もよだつ

怪奇スポット：https://tver.jp/episodes/ep1vbx8yop
最恐実話：https://tver.jp/episodes/epu5fzqnq9

  神田愛花、高城れに(ももいろクローバーZ)、渡邉美穂、真鍋凪咲、CUTIE STREET、佐々木大光(KEY TO LIT)、マユリカ、太田日瓏、トム・ブラウン、中川安奈、鬼越トマホーク、村川緋杏(CANDY TUNE)、津田寛治、日野聡、山口由里子 らが出演しています
</p>

<p class="tver">
  バラエティ ナゾトレMAXXX(2026) の配信がTVerで始まりました。
  8/27 21:00まで

  ※ この違いって何だっけ？20連発SP

  くりぃむしちゅー(有田哲平、上田晋也)、タカアンドトシ、柳原可奈子、阿部亮平(Snow Man)、ISSA、小森隼、ふくらP、本高克樹 らが出演しています

  https://tver.jp/episodes/epu3h9bb8b
</p>

<p class="tver">
  バラエティ ニンゲン観察バラエティ モニタリング(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 透明カラオケin兵庫！花*花があの名曲を歌う＆ミラクルひかるも勝負曲で参戦！FRUITS ZIPPER仲川瑠夏が憧れ続けたドウェイン・ジョンソンとサプライズ初対面！津田健次郎がUSJの呪術廻戦アトラクションに大興奮！

  透明カラオケ：https://tver.jp/episodes/epa1mnvzk6
  サプライズ初対面：https://tver.jp/episodes/epnrey9v5a
  ツダケンUSJ：https://tver.jp/episodes/ep7kklfqi3

  ブラックマヨネーズ(小杉竜一、吉田敬)、小泉孝太郎、笹野高史、NAOTO(EXILE)、ハリセンボン(箕輪はるか、近藤春菜)、重岡大毅(WEST.)、河北麻友子、高橋成美、花*花、ミラクルひかる、ドウェイン・ジョンソン、仲川瑠夏(FRUITS ZIPPER)、津田健次郎、古澤里紗、増田彩乃、朝日奈央、藤咲碧羽 らが出演しています
</p>

<p class="tver">
  バラエティ サンド屋台(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 菜々緒＆宮澤エマ＆モナキおヨネが来店で大揉め！！爆笑トーク＆ゲーム

  サンドウィッチマン(伊達みきお、富澤たけし)、菜々緒、宮澤エマ、浮所飛貴(ACEes)、おヨネ、劇団ひとり、吉村崇(平成ノブシコブシ)、たける(東京ホテイソン) らが出演しています

  https://tver.jp/episodes/ep24cldl1u
</p>

<p class="tver">
  バラエティ 何か“オモシロいコト”ないの？(2026) 140回の配信がTVerで始まりました。
  8/21 0:25まで

  ※ 真っ白天使のんに翻弄？深川麻衣との許せない飯

  菊池風磨(timelesz)、長谷川忍(シソンヌ)、のん、深川麻衣 らが出演しています

  https://tver.jp/episodes/epb7pj6qtw
</p>

<p class="tver">
  ドラマ 夫婦と16歳～狂気の隣人～(2026) 7話の配信がTVerで始まりました。
  8/21 0:59まで

  かたせ梨乃、豆原一成(JO1)、岡田結実、林芽亜里、北村優衣、平埜生成、西山繭子、夏樹陽子 らが出演しています

  https://tver.jp/episodes/ep3mbiaom4
</p>

<p class="tver">
  ドラマ 親愛なる夫へ～完璧な妻の嘘～(2026) 7話の配信がTVerで始まりました。
  8/20 23:58まで

  田中麗奈、古川雄大、尾崎匠海(INI)、星乃あんな、有澤樟太郎、日比美思、岐洲匠、福田転球、香音、博多華丸(博多華丸・大吉)、田中偉登、前田公輝 らが出演しています

  https://tver.jp/episodes/epkg7vu5sa
</p>

<p class="tver">
  ドラマ 水曜日、私の夫に抱かれてください(2026) 7話の配信がTVerで始まりました。
  8/21 0:29まで

  菅井友香、入山法子、稲葉友、柾木玲弥、濱田龍臣、山本弓月、山下容莉枝 らが出演しています

  https://tver.jp/episodes/ep95l82tqa
</p>

<p class="tver">
  ドラマ 一緒にごはんをたべるだけ(2026) 7話の配信がTVerで始まりました。
  8/21 0:29まで

  早見あかり、伊藤健太郎、桐山漣、岸明日香、岩永洋昭、浅野千鶴、久場音葉 らが出演しています

  https://tver.jp/episodes/epsx5y158q
</p>

<p class="tver">
  ドラマ 夫に不倫をお願いされました(2026) 6話の配信がTVerで始まりました。
  8/28 00:29まで

  中村ゆりか、佐野玲於、葉山奨之、ハシヤスメ・アツコ、横野すみれ、こばやし元樹、希歩、堀井新太、阿久根温世(ICEx)、久保田悠来、南雲奨馬、染谷俊之、橋本マナミ、山野海、濱津隆之 らが出演しています

  https://tver.jp/episodes/ep5y4q05ib
</p>

<p class="tver">
  ドラマ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 7～8話の配信がTVerで始まりました。
  8/27 23:59まで

  永瀬莉子、藤原大祐、曽野舜太(M!LK)、河村花、染谷俊之、映美くらら らが出演しています

  https://tver.jp/episodes/epyjezozf7
</p>

<p class="tver">
  ドラマ 女神の教室～リーガル青春白書～(2023) 5話の配信がTVerで始まりました。
  8/20 23:59まで

  北川景子、山田裕貴、南沙良、高橋文哉、前田旺志郎、河村花、佐藤仁美、宮野真守、小堺一機、尾上松也、及川光博、前田拳太郎 らが出演しています

  https://tver.jp/episodes/ep9eos5ar8
</p>

<p class="tver">
  ドラマ 心配無用ノ介 天下御免(2026) 5話の配信がTVerで始まりました。
  8/20 22:59まで

  田村ツトム、冨家ノリマサ、本田博太郎、沙倉ゆうの、井之上チャル、田井克幸、入江毅 らが出演しています

  https://tver.jp/episodes/ep7lx8tfta
</p>

<p class="tver">
  ドラマ ラストノート(2026) 6話の配信がTVerで始まりました。
  8/20 22:00まで

  内田有紀、寺西拓人(timelesz)、坂井真紀、桜井日奈子、草川拓弥(超特急)、徳井義実(チュートリアル)、佐々木蔵之介、淵上泰史、平原テツ、嶋崎斗亜 らが出演しています

  https://tver.jp/episodes/ep36trz5yx
</p>

<p class="tver">
  ドラマ 大空港～GATE24～(2026) 4話の配信がTVerで始まりました。
  8/20 21:54まで

  趣里、眞栄田郷敦、板垣李光人、齊藤京子、奥貫薫、秋元才加、加治将樹、街田しおん、嘉島陸、西村直人、椿原愛、田辺誠一、吹越満、柳葉敏郎、松雪泰子 らが出演しています

  https://tver.jp/episodes/epz81irq7n
</p>

<p class="tver">
  アニメ 「天体戦士サンレッド」舞台化記念！セレクション放送(2026) 5話の配信がTVerで始まりました。
  終了日未記載

  ※ 14分のアニメです

  高木俊、鍋井まき子、山田ルイ53世、ひぐち君、イッキ、間宮くるみ、斧アツシ、かがわの水割 らが出演しています

  https://tver.jp/episodes/eptgxkxutz
</p>

<p class="tver">
  アニメ スーパーの裏でヤニ吸うふたり(2026) 5話の配信がTVerで始まりました。
  8/21 0:29まで

  佐藤拓也、星希成奏、行成とあ、豊口めぐみ、安田陸矢、日笠陽子、高橋伸也 らが出演しています

  https://tver.jp/episodes/ep2ffjjzzo
</p>

<p class="tver">
  アニメ レッツゴー怪奇組(2026) 6話の配信がTVerで始まりました。
  8/20 23:59まで

  畠中祐、青木瑠璃子、新谷真弓、青山吉能、榊原優希、花澤香菜、千葉繁 らが出演しています

  https://tver.jp/episodes/epty3r4z8u
</p>

<p class="tver">
  アニメ BLEACH 千年血戦篇-禍進譚-(2026) 43話の配信がTVerで始まりました。
  8/20 23:59まで

  森田成一、杉山紀彰、松岡由貴、安元洋貴、高木渉、折笠富美子、伊藤健太郎、三木眞一郎、ゆきのさつき、大塚明夫、置鮎龍太郎、朴璐美、立木文彦、速水奨、菅生隆之、梅原裕一郎、武内駿輔、小山剛志 らが出演しています

  https://tver.jp/episodes/epjm45nzkr
</p>

<p class="tver">
  アニメ ゴールデンカムイ(2020・3期) 31話の配信がTVerで始まりました。
  8/28 00:00まで

  小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

  https://tver.jp/episodes/ep3b9k57dg
</p>

<p class="tver">
  アニメ バンドリ！ ゆめ∞みた(2026) 9話の配信がTVerで始まりました。
  8/27 23:30まで

  出演者不明 らが出演しています

  https://tver.jp/episodes/epu84x3sw8
</p>

<p class="tver">
  アニメ ここは俺に任せて先に行けと言ってから10年がたったら伝説になっていた。(2026) 6話の配信がTVerで始まりました。
  8/27 22:30まで

  梶原岳人、石川由依、相良茉優、市道真央、小坂井祐莉絵、森川智之、小山剛志 らが出演しています

  https://tver.jp/episodes/epzmlu0j9k
</p>

<p class="tver">
  アニメ 透明な夜に駆ける君と、目に見えない恋をした。(2026) 6話の配信がTVerで始まりました。
  8/27 22:00まで

  入野自由、早見沙織、小原好美、阿座上洋平 らが出演しています

  https://tver.jp/episodes/epp2051hm5
</p>

<p class="tver">
  アニメ 狩野英孝解説付き「魔法少女まどか☆マギカ 始まりの物語／永遠の物語」TV Edition(2026) 全11話の配信がTVerで始まりました。
  8/31 18:59まで

  狩野英孝、悠木碧、斎藤千和、水橋かおり、喜多村英梨、野中藍、加藤英美里 らが出演しています

  https://tver.jp/episodes/eprneg5gy3
</p>

<p class="tver">
  アニメ 「魔法少女まどか☆マギカ 始まりの物語／永遠の物語」TV Edition(2025) 全11話の配信がTVerで始まりました。
  8/31 18:59まで

  悠木碧、斎藤千和、水橋かおり、喜多村英梨、野中藍、加藤英美里 らが出演しています

  https://tver.jp/episodes/ep0oglmxhj
</p>

<p class="yt">
  ショート映画「Shortcakes」(2005)｜2026/8/12配信｜AMG公式チャンネル｜42:05
  ※ 期間限定だと思いますが期限が書いていないのでお早めに

相武紗季、澤田育子、千綿ヒデノリ、アーサー・ホーランド、真中瞳、中村まこと、田中伸子、三田恭平、三木黄太、辻修、信川清順、岡村洋一、袴田吉彦 らが出演しています

  https://youtu.be/iPtxlfGcNFw
</p>

<p class="yt">
  アニメ「本好きの下剋上 司書になるためには手段を選んでいられません 第2期」全12話｜2026/8/13配信｜アニメタイムズ公式｜4:44:13
  ※ 2026/8/29(土) 16:59まで

  井口裕香：マイン
  速水奨：フェルディナンド
  田村睦心：ルッツ
  子安武人：ベンノ
  中島愛：トゥーリ
  小山剛志：ギュンター
  折笠富美子：エーファ
  日野聡：オットー
  前野智昭：マルク
  内田彩：フリーダ
  三瓶由布子：ギル
  狩野 翔：フラン
  都丸ちよ：デリア
  鈴木みのり：ロジーナ
  安野希世乃：ヴィルマ

  https://youtu.be/OZ6wdaN7SoA
</p>

<p class="tver">
  アニメ 伊藤潤二『コレクション』(2018) 7話の配信がTVerで始まりました。
  8/20 17:00まで

  三ツ矢雄二、下野紘、名塚佳織、緑川光、小山茉美、末柄里恵 らが出演しています

  https://tver.jp/episodes/epslaaaj80
</p>

<p class="tver">
  アニメ MIX（ミックス）(2019) 9話の配信がTVerで始まりました。
  8/20 17:00まで

  梶裕貴、内田雄馬、内田真礼、花澤香菜、高木渉、井上喜久子、中尾隆聖 らが出演しています

  https://tver.jp/episodes/epdjb0111x
</p>

<p class="tver">
  アニメ 宇宙兄弟(2012) 19話の配信がTVerで始まりました。
  8/20 17:00まで

  平田広明、KENN、沢城みゆき、加藤将之、池田昌子 らが出演しています

  https://tver.jp/episodes/ep5heuicyh
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 7話の配信がTVerで始まりました。
  8/19 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、マギー、阿南敦子、山野海、六平直政、津田健次郎、青木一平、増岡裕子、天野優、今井優希、良原安美、ファーストサマーウイカ、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/epsdkxdb53
</p>

<p class="tver">
  ドラマ まっしろ(2015) 5話の配信がTVerで始まりました。
  8/19 11:59まで

  堀北真希、柳楽優弥、志田未来、高梨臨、菜々緒、MEGUMI、西尾まり、竹内都子、信川清順、渡辺舞、周本絵梨香、伊藤麻実子、水上剣星、津田英佑、眞島秀和、竜雷太、山口馬木也、細田善彦、松山メアリ、滝沢恵、新貝文規、石黒賢、水野美紀、木村多江 らが出演しています

  https://tver.jp/episodes/epr39huz9y
</p>

<p class="tver">
  ドラマ 集団左遷!!(2019) 8話の配信がTVerで始まりました。
  8/20 11:59まで

  福山雅治、香川照之、馬場徹、須田邦裕、川原和久、伊藤正之、市村正親、別所哲也、大路恵美、高橋洋、迫田孝也、津嘉山正種、橋爪淳、小手伸也、水橋研二、尾美としのり、三上博史 らが出演しています

  https://tver.jp/episodes/epf1qw6419
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 10～11話の配信がTVerで始まりました。
  8/19 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、野村たかし、古川りか、大方斐紗子、伊佐山ひろ子、西田健、国仲涼子、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epb6v46vnq
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 6話の配信がTVerで始まりました。
  8/19 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、中島ひろ子、宍戸美和公、小柳友、麻木玲那、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/ep2ko89n1q
</p>

<p class="tver">
  ドラマ 空飛ぶ広報室(2013) 9話の配信がTVerで始まりました。
  8/20 11:59まで

  新垣結衣、綾野剛、水野美紀、要潤、ムロツヨシ、高橋努、桐山漣、渋川清彦、三倉茉奈、前野朋哉、大川藍、岩寺真志、大塚ヒロタ、南明奈、新井康弘、中村ゆうじ、河野洋一郎、生瀬勝久、柴田恭兵 らが出演しています

  https://tver.jp/episodes/ep0yer7el6
</p>

<p class="tver">
  アニメ 薬屋のひとりごと(2023) 5話の配信がTVerで始まりました。
  8/20 11:59まで

  悠木碧、大塚剛央、小西克幸、種崎敦美、石川由依、木野日菜、甲斐田裕子、潘めぐみ、小清水亜美、七海ひろき、斉藤貴美子、家中宏、赤羽根健治、久野美咲、かぬか光明、島本須美 らが出演しています

  https://tver.jp/episodes/eptgy8fk2z
</p>

<p class="tver">
  バラエティ 滝沢カレン＆和田明日香のフィーリンきっちん(2026) の配信がTVerで始まりました。
  8/27 09:54まで

  ※ 和田明日香がエビのタルタルブルスケッタを作る

  和田明日香、コカドケンタロウ(ロッチ)、竜星涼 らが出演しています

  https://tver.jp/episodes/eptvikml1r
</p>
