---
title: 2026/8/1 のピックアップ
date: 2026-08-01
tags:
  - TVer
  - Youtube
category: vidpick
---


<p class="yt">
  アニメ「FAIRY TAIL」149～151話｜2026/8/1配信｜アニメタイムズ公式｜1:13:28
  ※ 2026/9/2(水) 10:29まで。毎土曜10:30~更新

  柿原　徹也：ナツ
  平野　綾　：ルーシィ
  釘宮　理恵：ハッピー
  中村　悠一：グレイ
  大原さやか：エルザ
  佐藤　聡美：ウェンディ
  堀江　由衣：シャルル
  羽多　野渉：ガジル
  東地　宏樹：パンサーリリー
  中原　麻衣：ジュビア
  　辻　親八：マカロフ
  小野　涼子：ミラジェーン
  安元　洋貴：エルフマン
  喜多村英梨：カナ
  浪川　大輔：ジェラール
  小西　克幸：ラクサス

  https://youtu.be/_yhhkyGA_j8
</p>

<p class="yt">
  映画『猫侍 南の島へ行く』(2015)｜2026/7/31配信｜AMG公式チャンネル｜1:25:25

  北村一輝主演!唯一無二の「動物映画」×「時代劇」の融合が見せる最高到達点!

北村一輝、LiLiCo、髙山善廣、木下ほうか、酒井敏也、緋田康人、木野花、横山めぐみ らが出演しています

  https://youtu.be/OERyr62Xi5U
</p>

<p class="tver">
  バラエティ オーイシマサヨシ×鈴木愛理の【でしょでしょ!!】(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ 鈴木愛理の大親友・岡崎紗絵が登場！プライベート愛理の（秘）写真公開でオーイシも爆笑！謎の特技披露で大盛り上がり

  大石昌良、鈴木愛理、岡崎紗絵 らが出演しています

  https://tver.jp/episodes/epi5m2dasp
</p>

<p class="tver">
  バラエティ エモかわ全開♡ゆうちゃみ＆ゆい小池のワチャぶら神戸旅(2026) の配信がTVerで始まりました。
  終了日未記載

  ※ エモかわ全開♡ゆうちゃみ＆ゆい小池のワチャぶら神戸旅

  ゆうちゃみ らが出演しています

  https://tver.jp/episodes/epolhtz92d
</p>

<p class="tver">
  バラエティ オー！マイゴッド！私だけの神様、教えます(2026) の配信がTVerで始まりました。
  8/8 10:29まで

  ※ 英人気番組で安村越え!ダブルダッチの神&傷ついた動物の救世主

  ヒロミ、小泉孝太郎 らが出演しています

  https://tver.jp/episodes/ep6iqd7bdb
</p>

<p class="tver">
  バラエティ トクそうCOMPANY(2026) の配信がTVerで始まりました。
  8/8 11:24まで

  ※ [3分の番組です]配置薬＆ドラッグセイムスでおなじみ！処方薬お届けサービスの秘密をトクそうせよ！

  柏木由紀 らが出演しています

  https://tver.jp/episodes/ep94dhdu7u
</p>

<p class="tver">
  ドラマ 石子と羽男－そんなコトで訴えます？－(2022) 5話の配信がTVerで始まりました。
  8/8 11:59まで

  有村架純、中村倫也、赤楚衛二、おいでやす小田、中村梅雀、風吹ジュン、渡辺哲、しのへけい子、島田桃依、田中哲司、MEGUMI、さだまさし らが出演しています

  https://tver.jp/episodes/epzsmu1duw
</p>

<p class="tver">
  ドラマ リバース(2017) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  藤原竜也、戸田恵梨香、玉森裕太(Kis-My-Ft2)、小池徹平、三浦貴大、市原隼人、YOU、志賀廣太郎、村井國夫、山崎銀之丞、趣里、古田結凪、山口まゆ、鈴木仁、藤本泉、片平なぎさ、武田鉄矢 らが出演しています

  https://tver.jp/episodes/epyelmie7o
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 4～5話の配信がTVerで始まりました。
  8/7 11:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、古川りか、大方斐紗子、田島令子、高橋一生、佐々木睦、国仲涼子、小橋賢児、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/ep72tzytaw
</p>

<p class="tver">
  ドラマ L×I×V×E(1999) 1～3話の配信がTVerで始まりました。
  9/27 23:59まで

  今井絵理子、新垣仁絵、藤原竜也、原田健二、内山理名、木内晶子、星野真里、椎名法子、野村たかし、古川りか、大方斐紗子、国仲涼子、上地雄輔、柴咲コウ、小橋賢児、伊武雅刀、余貴美子、竜雷太 らが出演しています

  https://tver.jp/episodes/epwz3a4ke9
</p>

<p class="tver">
  ドラマ 逃げるは恥だが役に立つ(2016) 11(最終)話の配信がTVerで始まりました。
  8/7 11:59まで

  新垣結衣、星野源、大谷亮平、藤井隆、成田凌、山賀琴子、真野恵里菜、古舘寛治、内田理央、乙葉、六角慎司、原田裕章、宮下雄也、浜田道彦、佐々木一平、清水優、古田新太、石田ゆり子 らが出演しています

  https://tver.jp/episodes/epwlcl0z42
</p>

<p class="tver">
  ドラマ くるり～誰が私と恋をした？～(2024) 7話の配信がTVerで始まりました。
  8/8 11:59まで

  生見愛瑠、瀬戸康史、神尾楓珠、宮世琉弥、丸山礼、浜中文一、高野洸、小日向ゆか、池上紗理依、中田優子、真柳美苗、肥後克広、ダチョウ倶楽部、ともさかりえ、片平なぎさ らが出演しています

  https://tver.jp/episodes/epqomp1w0b
</p>

<p class="tver">
  ドラマ OTHELLO(2022) 5話の配信がTVerで始まりました。
  終了日未記載

  生駒里奈、須賀健太、村瀬紗英、窪塚愛流、織田梨沙、市川九團次、松原タニシ、橋本じゅん らが出演しています

  https://tver.jp/episodes/ep7l1qtjhl
</p>

<p class="tver">
  ドラマ 19番目のカルテ(2025) 5話の配信がTVerで始まりました。
  8/7 11:59まで

  松本潤、小芝風花、新田真剣佑、清水尋也、岡崎体育、池谷のぶえ、本多力、カラテカ矢部太郎、松井遥南、永野宗典、羽谷勝太、カトウシンスケ、朝加真由美、石橋蓮司、今野浩喜、吉田ウーロン太、野田あかり、ファーストサマーウイカ、藤井隆、池田成志、生瀬勝久、木村佳乃、田中泯 らが出演しています

  https://tver.jp/episodes/ep58ntp7mh
</p>

<p class="tver">
  アニメ ハイキュー!! TO THE TOP(2020) 21話の配信がTVerで始まりました。
  8/8 11:59まで

  村瀬歩、石川界人、日野聡、入野自由、林勇、細谷佳正、岡本信彦、内山昂輝、斉藤壮馬、増田俊樹、名塚佳織、諸星すみれ、神谷浩史、江川央生、花江夏樹、宮野真守 らが出演しています

  https://tver.jp/episodes/ep65i1hkjv
</p>

<p class="tver">
  アニメ あたしンち(2002) 4話の配信がTVerで始まりました。
  終了日未記載

  渡辺久美子、折笠富美子、阪口大助、緒方賢一 らが出演しています

  https://tver.jp/episodes/ep7tjuj1c8
</p>
