---
title: 本日 2026/05/28 のピックアップ
date: 2026-05-28
tags: 
  - TVer
  - Youtube
category: vidpick
---

<p class="yt">
	「モノノ怪」鵺｜2026/5/27配信｜TWIN ENGINE｜45:01
※ 5/28(木) 20:59まで《24時間限定公開》。ポスト時に10時間が経過しています

青野　武　：大澤廬房
竹本　英史：室町具慶
広瀬　正志：半井淡澄
内田　直哉：実尊寺惟勢
山崎和佳奈：瑠璃姫
	
	https://youtu.be/gyIYs762wvI
</p>
	
<p class="yt">
映画『キングダム 魂の決戦』｜2026/5/27配信｜東宝MOVIEチャンネル｜1:30
※ 7/17(金) 公開
		米津玄師「夜鷹」に決定!
		
		山﨑賢人、吉沢亮、橋本環奈、清野菜名、満島真之介、岡山天音、志尊淳、神尾楓珠、結木滉星、三吉彩花、三山凌輝、山下美月、蒔田彩珠、山田裕貴、坂口憲二、豊川悦司、髙嶋政宏、要潤、加藤雅也、高橋光臣、平山祐介、一ノ瀬ワタル、佐久間由衣、勝矢、坂東彌十郎、橋本さとし、笹野高史、谷田歩、中村蒼、田中圭、斎藤工、玉木宏、佐藤浩市、小栗旬 らが出演しています

https://youtu.be/AQEct00Ks5s
</p>
	
<p class="tver">
		ドラマ 時すでにおスシ!?(2026・2期) 7話の配信がTVerで始まりました。
		5/26 21:59まで

		永作博美、松山ケンイチ、ファーストサマーウイカ、中沢元紀、山時聡真、杏花、平井まさあき(男性ブランコ)、後藤淳平(ジャルジャル)、Jua、土居志央梨、山田健人、猫背椿、有働由美子、佐野史郎 らが出演しています

		https://tver.jp/episodes/epj1wypxam
	</p>

<p class="tver">
		アニメ 鋼の錬金術師 FULLMETAL ALCHEMIST(2010) 61話の配信がTVerで始まりました。
		5/28 11:59まで

		朴璐美、釘宮理恵、高本めぐみ、三木眞一郎、折笠富美子、内海賢二、藤原啓治、うえだゆうじ、佐藤美一、柿原徹也、浜田賢二、名塚佳織、柴田秀勝、三宅健太、井上喜久子、白鳥哲、高山みなみ、吉野裕行、沢海陽子、中井和哉、大友龍三郎 らが出演しています

		https://tver.jp/episodes/epn8m1rigy
</p>
	
<p class="tver">
		ドラマSP 令和サスペンス劇場「旅人検視官 道場修作」(2026) 長野県 車山高原殺人事件の配信がTVerで始まりました。
終了日未記載

内藤剛志、森尾由美、渡辺いっけい、松原智恵子、天宮良、松澤和輝、越村友一、画大、咲耶、小日向春平 らが出演しています

https://tver.jp/episodes/ep4u80ujq2
</p>
	
<p class="tver">
		ドキュメンタリー 人生最高レストラン(2026) の配信がTVerで始まりました。
5/30 23:29まで

※ ゲスト：佐々木希
		
加藤浩次、宇賀神メグ、島崎和歌子、河井ゆずる(アインシュタイン)、佐々木希 らが出演しています

https://tver.jp/episodes/epp6l0pnxs
</p>
	
<p class="tver">
		バラエティ 新しいカギ(2026) の配信がTVerで始まりました。
終了日未記載

※ 校内疾走！名曲大好き土八先生に武田鉄矢参戦！ 

Part1：https://tver.jp/episodes/ep9dp76wb4

Part2：https://tver.jp/episodes/epeq8xlum1

霜降り明星、チョコレートプラネット、ハナコ、武田鉄矢 らが出演しています
</p>
	
<p class="tver">
		ドラマ るなしい(2026) 8話の配信がTVerで始まりました。
		5/29 0:59まで

		原菜乃華、窪塚愛流、本島純政、影山優佳、島村龍乃介、加藤小夏、道上珠妃(ダウ90000)、正名僕蔵、根岸季衣 らが出演しています

		https://tver.jp/episodes/epbgh4vu0i
</p>
	
<p class="tver">
		アニメ ゴールデンカムイ(2026・2期) 15話の配信がTVerで始まりました。
		5/29 1:29まで

		小林親弘、白石晴香、伊藤健太郎、大塚芳忠、中田譲治、津田健次郎、細谷佳正、乃村健次、菅生隆之、大原さやか、てらそままさき、能登麻美子、杉田智和、竹本英史、小西克幸 らが出演しています

		https://tver.jp/episodes/epgmxp01ap
</p>
	
<p class="tver">
		バラエティ アメトーーク！(2026) の配信がTVerで始まりました。
5/29 1:33まで

※ ソフトテニス部芸人～硬式に負けないぞ!!

蛍原徹、久保田かずのぶ(とろサーモン)、関太(タイムマシーン3号)、阪本(マユリカ)、近藤くみこ(ニッチェ)、村上(マヂカルラブリー)、ひょっこりはん、市川刺身、そいつどいつ、宗洸志、さんだる、陣内智則、バービー、フォーリンラブ らが出演しています

https://tver.jp/episodes/eppax79aoe
</p>
