---
layout: base.njk
title: About
---

<div class="about-container">
  <header class="about-header">
    <h1 class="about-title">About</h1>
  </header>
  <div class="body-copy">
    <p>いつものようにXにポストしていたら「上限でポストできない」と朝の段階で言われてしまい、</p>
    <p class="text-2xl">「おい、朝やぞと、いつポストのカウントがリセットされんねん！(怒)」</p>
    <p>となったので、急遽ポスト数を減らすために別でまとめることにしました。</p>
    <br/>
    <p>ひとまずやっつけで作ったので、</p>
    <ul>
      <li>スマホでは各アイテムが縦になるので逆に探しにくい</li>
      <li>sitemapやアイコンその他諸々の細かな部分が間に合っていない</li>
      <li>色々やりたいことはあるが、シンプルが故に11tyの限界も感じている</li>
      <li>諸々の調整は今後やっていく</li>
    </ul>
    <p>などとまだ不備が多いですが、ひとまず改変していくかも知れませんが下地ができたので公開した感じです。</p>

    <h2>使い方</h2>

    <p>……も何もないですが、各カテゴリごとに自動で振り分けられています。<br/>
      Xの時のポストと何ら変わりはないものの、ここでは文字数制限がないというのもあり、逆に1つのアイテムの中身が多くなりすぎてる感はあるわけですが、<br/>
      静的サイトであるメリットとして、できるだけ軽くしようとしています。</p>
    <p>既に高速回線を使用されている方には、何で見ても同じこととは思いますが、サクッと探してサクッと動画ページにアクセスできるような感じにしていきます。</p>
    <p>ふと思うに、カテゴリー別で見れるようにもしようかなぁという目論見もあったりもしますが、全く構想は練れていません。</p>
    <br/>
    <p>ポストは朝か夜にまとめたものを更新していきます。</p>
    <p>サイト自体はちょくちょく更新、気づいた所から修正・改変していきますので、是非ブラウザのブックマークなどにこっそりと忍ばせてやってください。</p>
  </div>
</div>
